<div id="mdlConfigurarPaso" class="uk-modal">
    <form name="form" novalidate>
        <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body">
            <a class="uk-modal-close uk-close"></a>

            <div class="uk-modal-header">
              <h3 class="uk-modal-title" style="color: #e4501e;">Configurar paso {{$parent.pasoSeleccionado.data.index}}</h3>
            </div>
            <div class="uk-margin uk-grid-small uk-child-width-auto">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon">Tipo paso</span>
                            <input ng-disabled="lectura" class="md-input" type="text" ng-model="$parent.modal.tipoPaso"
                              config="$parent.basicConfig" options="$parent.tipoPasos" 
                              placeholder="Tipo de paso"   selectize/>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon">Responsable</span>
                            <input
                                ng-change="actualizarPosiblesSubrogantes()"
                                ng-disabled="lectura"
                                class="md-input"
                                type="text"
                                ng-model="$parent.modal.responsable"
                                config="basicConfig"
                                options="$parent.modal.responsables"
                                placeholder="Responsable del paso" selectize/>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon">Tipo rol</span>
                            <input ng-disabled="lectura" class="md-input" type="text" ng-model="$parent.modal.rol"
                              config="basicConfig" options="roles" placeholder="Rol del paso" selectize/>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-1" ng-if="$parent.modal.tipoPaso==1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon cantidad-minima">Cantidad minima aprobacion</span>
                            <input ng-disabled="lectura" add-on-space="true" class="md-input" type="number" ng-model="$parent.modal.cantidadMinAprobacion"></input>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group ">
                            <span class="uk-input-group-addon" style="width: 150px; text-align: left;">Limite (dias)</span>
                            <div name="ionslider" ion-slider 
                              ng-disabled="lectura" 
                              ng-model="$parent.modal.demoraMaxHoras" min="0" max="31"></div>
                            <span class="uk-form-help-block">Si el paso no es procesado, se notificara despues del tiempo limite.</span>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon">Redirigir flujo</span>
                            <input ng-disabled="lectura" type="checkbox" name="" icheck="" ng-model="$parent.modal.redirigirFlujo"
                              class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style="margin-top: 21px;">
                            <ins
                            class="iCheck-helper" style=""></ins>
                        </div>
                    </div>
                     <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon">Subrogado
                            <input type="checkbox" ui-switch 
                                ng-if="!lectura"
                                ng-model="$parent.modal.subrogado" color="#ffb300"  />
                            </span>
                            <input
                                class="md-input"
                                type="text"
                                ng-model="$parent.modal.subrogante"
                                ng-disabled="lectura"
                                config="$parent.basicConfig"
                                options="$parent.modal.posiblesSubrogantes"
                                placeholder="Responsable del paso"
                                ng-if="$parent.modal.subrogado"
                                selectize/>

                        </div>
                    </div>
                    <div class="uk-width-small-1-2 fechas" ng-class="{'oculto': !$parent.modal.subrogado}">
                        <div class="uk-input-group group-union">
                            <span class="uk-input-group-addon">Desde</span>
                            <input
                                class="md-input"
                                type="text"
                                ng-disabled="lectura"
                                data-uk-datepicker="{minDate: new Date(), format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                                md-input
                                ng-model="$parent.modal.subDesde">
                        </div>
                    </div>
                    <div class="uk-width-small-1-2 fechas" ng-class="{'oculto': !$parent.modal.subrogado}">
                        <div class="uk-input-group group-union">
                            <span class="uk-input-group-addon">Hasta</span>
                            <input class="md-input" type="text"
                                ng-disabled="lectura"
                                data-uk-datepicker="{minDate: new Date(), format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                               md-input
                               ng-model="$parent.modal.subHasta">
                        </div>
                    </div>
 
                   <div class="uk-width-medium-1-1 uk-margin-medium-top">
                        <center>
                            <a ng-if="lectura" ng-click="cerrarPaso()" class="md-btn md-btn-primary md-btn-block" style="width: 200px">
                               Cerrar 
                            </a>
                            <a ng-if="!lectura" ng-click="guardarPaso()" class="md-btn md-btn-primary md-btn-block" style="width: 200px">
                               Modificar 
                            </a>
                        </Center>
                    </div>
                </div>
                <br />
                <br />

                <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%; z-index: 10;" class="ng-scope" />
            </div>
    </form>
</div>  
