<div id="page_content">
  <div class="md-card uk-margin-medium-bottom">
    <div id="page_content_inner">
      <volver></volver>
      <h3 class="heading_b uk-margin-bottom">{{titulo}}</h3>
      <i ng-if="cargando" class="uk-icon-spinner uk-icon-medium uk-icon-spin cargando"></i>
      <div ng-if="!cargando">
        <div class="md-card uk-margin-medium-bottom">
          <div class="md-card-content">
            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
              <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-2 uk-margin-top">
                <label>Nombre</label>
                <input ng-readonly="lectura" type="text" class="md-input" md-input ng-model="aprobacion.nombre"/>
                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Nombre de la aprobacion</span>
              </div>
              <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-2 uk-margin-top">
                <label>Descripcion</label>
                <input ng-readonly="lectura" type="text" class="md-input" md-input ng-model="aprobacion.descripcion"/>
                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Descripcion de la aprobacion</span>
              </div>
              <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-2 uk-margin-top" >
                <label>Opcion de devolverse en el flujo</label>
                <input type="checkbox" name="" ng-disabled="lectura" icheck="" ng-model="aprobacion.reversible"
                       class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style="">
                <ins
                        class="iCheck-helper" style=""></ins>
                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Indicar si es posible devolverse en el flujo</span>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
          <div class="uk-width-small-1-1 uk-width-large-1-2">
            <h3 class="heading_b uk-margin-bottom">Observadores</h3>
            <div class="md-card">
              <div class="md-card-content">
                <table style="width: 100%" class="uk-table uk-table-hover uk-table-nowrap">
                  <thead>
                  <tr>
                    <th class="uk-width-1-2 uk-text-center uk-text-upper">
                      <label style="font-weight: bold" for="nombre">Nombre</label>
                    </th>
                    <th class="uk-width-1-2 uk-text-center uk-text-upper">
                      <label style="font-weight: bold" for="correo">Notificacion</label>
                    </th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="observador in aprobacion.observadores">
                    <td>
                      <span>{{observador.nombre}}</span>
                    </td>
                    <td class="uk-text-center">
                      <span>{{observador.notificar ? 'Activada': 'Desactivada'}}</span>
                    </td>
                    <td class="uk-text-center">
                      <div class="uk-width-medium-1-5 uk-width-small-1-3" ng-if="!lectura">
                        <a ng-click="eliminarObservador($index)">
                          <i class="material-icons eliminar">&#xE15C;</i></a>
                      </div>
                    </td>
                  </tr>
                  <tr ng-if="!lectura">

                    <td>
                      <input class="md-input" type="text" ng-model="nuevo.observador.id"
                             config="basicConfig" options="observadores" selectize/>
                    </td>
                    <td style="text-align: center;">
                      <input
                              type="checkbox"
                              name=""
                              icheck=""
                              ng-model="nuevo.observador.notificar"
                              class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style="">
                    </td>
                    <td>
                      <div class="uk-width-medium-1-5 uk-width-small-1-3">
                        <a ng-click="agregarObservador()">
                          <i class="material-icons agregar">&#xE147;</i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="uk-width-small-1-1 uk-width-large-1-2">
            <h3 class="heading_b uk-margin-bottom">Gatillaciones</h3>
            <div class="md-card">
              <div class="md-card-content">
                <table style="width: 100%" class="uk-table uk-table-hover uk-table-nowrap">
                  <thead>
                  <tr>
                    <th class="uk-width-1-2 uk-text-center uk-text-upper">
                      <label style="font-weight: bold" for="nombre">Tipo</label>
                    </th>
                    <th class="uk-width-1-2 uk-text-center uk-text-upper">
                      <label style="font-weight: bold" for="correo">Proceso</label>
                    </th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="gatillador in aprobacion.gatilladores">
                    <td>
                      {{gatillador.tipo}}
                    </td>
                    <td>
                      {{gatillador.proceso}}
                    </td>
                    <td class="uk-text-center">
                      <div class="uk-width-medium-1-5 uk-width-small-1-3" ng-if="!lectura">
                        <a ng-click="eliminarGatillador($index)">
                          <i class="material-icons eliminar">&#xE15C;</i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr ng-if="!lectura">
                    <td>
                      <input class="md-input" type="text" ng-model="nuevo.gatillador.id"
                             config="basicConfig" options="gatilladores" selectize/>
                    </td>
                    <td>
                      <input class="md-input" type="text" ng-model="nuevo.gatilladorProceso.id"
                             config="basicConfig" options="gatilladoresProcesos" selectize/>
                    </td>
                    <td>
                      <div class="uk-width-medium-1-5 uk-width-small-1-3">
                        <a ng-click="agregarGatillador()"><i class="material-icons agregar">&#xE147;</i></a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="uk-width-small-1-1">
          <h3 class="heading_b uk-margin-bottom">Pasos de la aprobacion</h3>
          <div class="uk-grid uk-grid-small" ng-if="!lectura">
            <div class="uk-width-medium-1-5 uk-margin-top">
              <input class="md-input" type="text" ng-model="nuevo.tipoPaso.id"
                     config="basicConfig" options="tipoPasos" placeholder="Tipo de paso" ng-change="cambiarTipoPaso()"  selectize/>
              <span class="uk-form-help-block" >Tipo de paso</span>
            </div>
            <div class="uk-width-medium-2-5 uk-margin-top"
            >
              <input readonly="" ng-if="!nuevo.tipoPaso.id" class="md-input" type="text"
                     placeholder="Responsable del paso" />

              <input ng-if="nuevo.tipoPaso && nuevo.tipoPaso.id == TIPO_PASO.GRUPO" class="md-input" type="text" ng-model="responsable.id"
                     config="basicConfig" options="listadoDeGrupos" placeholder="Responsables del paso" selectize/>
              <input ng-if="nuevo.tipoPaso && nuevo.tipoPaso.id == TIPO_PASO.USUARIO" class="md-input" type="text" ng-model="responsable.id"
                     config="basicConfig" options="observadores" placeholder="Responsable del paso" selectize/>
              <span class="uk-form-help-block" >Responsable del paso</span>
            </div>
            <div class="uk-width-medium-1-5 uk-margin-top">
              <input class="md-input" type="text" ng-model="nuevo.rol.id"
                     config="basicConfig" options="roles" placeholder="Rol del paso" selectize/>
              <span class="uk-form-help-block" >Rol del paso</span>
            </div>
            <div class="uk-width-medium-1-5 uk-margin-top agregar-paso">
              <a ng-hide="cargandoPaso" ng-click="agregarPaso()"><i class="material-icons agregar">&#xE147;</i></a>
              <i ng-if="cargandoPaso" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
            </div>
          </div>
          <div class="uk-overflow-container">
            <div ng-include src="'pasos.tpl.html'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="md-fab-wrapper md-fab-speed-dial" style="right:100px">
  <a ng-if="!lectura" class="md-fab md-fab-success" ng-click="grabar()" data-uk-tooltip="{pos:'right'}" title="GUARDAR">
    <i ng-if="!grabando" class="material-icons">save</i>
    <i ng-if="grabando" class="uk-icon-spinner uk-icon-medium uk-icon-spin cargando"></i>
  </a>

 </div>

<ng-include src="'app/febos/aprobaciones/crear/configurar-paso.modal.html'"></ng-include>

<script type="text/ng-template" id="pasos.tpl.html">
  <div class="drag-list" 
  fb-drag-and-drop-paso 
  pasos="pasos" 
  size="pasos.length">
    <div ng-repeat="paso in pasos" class="paso-contenedor">
      <div class="drag-item" 
      draggable="true" 
      data-st="{{$index+1}}">
      <div class="paso">
        <div class="numero">{{paso.data.index}}</div>
        <div class="tipo">{{map.tipoPasos[paso.data.aprobacionesTipoPasoId].nombre | lowercase}}</div>
        <div class="proceso">{{map.roles[paso.data.aprobacionesTipoRolId].nombre | lowercase}}</div>
        <div ng-if="!lectura" class="configuracion" ng-click="configurarPaso(paso, $index)">
          <i class="material-icons">settings</i>
        </div>
        <div ng-if="lectura" class="configuracion ver" ng-click="configurarPaso(paso, $index)">
          <i class="material-icons">search</i>
        </div>
        <div ng-if="!lectura" class="eliminar" ng-click="eliminarPaso($index)">
          <i class="material-icons">remove_circle</i>
        </div>
        <div class="nombre" ng-class="{'nombre-sub': paso.data.subrogante}">
          {{paso.data.responsable.nombre}}
          <div class="subrogante">
            {{map.observadores[paso.data.subrogante].nombre}}
          </div>
          <div class="desde">
            {{paso.data.subDesde.substr(0,10)}}
          </div>
           <div class="hasta">
            {{paso.data.subHasta.substr(0,10)}}
          </div>
       </div>
 
        <div class="alerta" ng-if="!informacionCompletada(paso)">
          <i class="material-icons">priority_high</i>
        </div>
        <div class="edicion">
        </div>
      </div>
    </div>
    <span class="siguiente">
      <i class="material-icons">forward</i>
    </span>
    </div>
  </div>
</script>




