<div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close"></a>
    <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
        <h3>Nuevo Proyecto</h3>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-2 uk-margin-top">
                <label>Código</label>
                <input type="text" class="md-input" md-input ng-model="proyecto.codigo"/>
                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Código único de proyecto</span>
            </div>
            <div class="uk-width-1-2 uk-margin-top">
                <label>Nombre</label>
                <input type="text" class="md-input" md-input ng-model="proyecto.nombre"/>
                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Nombre o asunto del proyecto</span>
            </div>
            <div class="uk-width-1-2 uk-margin-top">
                <label>Monto</label>
                <input type="text" class="md-input" md-input ng-model="proyecto.total" formato-numero/>
                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Monto total o presupuesto del proyecto</span>
            </div>
            <div class="uk-width-1-2 uk-margin-top">
                <label>Responsable</label>
                <input type="text" class="md-input" md-input ng-model="proyecto.responsable.nombre"/>
                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Responable del proyecto</span>
            </div>
            <div class="uk-width-1-2 uk-margin-top">
                <label>Unidad asociada</label>
                <label ng-if="unidadescargando==true">Cargando</label>
                <input ng-if="unidadescargando==false" type="text" config="selectize_config_unidades" options="unidades"
                       ng-model="proyecto.unidadTecnica" selectize/>

                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Seleccione una</span>
            </div>
            <div class="uk-width-1-2 uk-margin-top">
                &nbsp;
            </div>
            <div class="uk-width-1-2 uk-margin-top">
                <label>Desde</label>
                <input class="md-input" type="text"
                       data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                       md-input
                       ng-model="proyecto.fechaInicio">
                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Fecha de inicio del Proyecto</span>
            </div>
            <div class="uk-width-1-2 uk-margin-top">
                <label>Hasta</label>
                <input class="md-input" type="text"
                       data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                       md-input
                       ng-model="proyecto.fechaTermino">
                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Fecha de término del proyecto</span>
            </div>
        </div>
        <!--<div class="uk-grid uk-grid-small" data-uk-grid-match="{target:'.uk-panel'}">
            <div class="uk-width-small-1-1 uk-width-medium-1-1">
                <div class="uk-panel uk-panel-box">
                    <h3 class="uk-panel-title">Hitos</h3>
                    <div class="uk-panel-badge">
                        <i class="material-icons no_margin"
                           style="font-size:30px;color:green;cursor:pointer"
                           ng-click="agregarHito()">add_circle</i>
                    </div>

                    <div class="uk-grid uk-grid-small" ng-repeat="hito in proyecto.hitos">
                        <div class="uk-width-medium-2-10 uk-margin-top">
                            <label>Monto del hito</label>
                            <input type="text" class="md-input" md-input md-input ng-model="hito.monto" validar="soloNumeros"/>
                        </div>
                        <div class="uk-width-2-10 uk-margin-top">
                            <label>Fecha</label>
                            <input class="md-input" type="text"
                                   data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}}"
                                   md-input
                                   ng-model="hito.fecha">
                        </div>
                        <div class="uk-width-medium-5-10 uk-margin-top">
                            <label>Descripción</label>
                            <input type="text" class="md-input" md-input md-input ng-model="hito.descripcion"/>
                        </div>
                        <div class="uk-width-medium-1-10 uk-margin-top">
                            <a href="javascript:void(0)" class="md-btn md-btn-mini md-btn-icon"
                               ng-click="eliminarHito($index)">
                                <i class="material-icons no_margin" style="font-size:20px">delete_forever</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <button class="md-btn md-btn-flat md-btn-primary" ng-click="crearProyecto()">Guardar</button>
    </div>
</div>
