<div class="md-card md-card-collapsed" style="width: 100%">
    <div class="md-card-toolbar">
        <div class="md-card-toolbar-actions">
            <upload-automaticos title="Adjuntar archivo" objeto="contrato.adjuntos"
                                identificador="{{'contrato-'+contrato.contratoId}}"
                                icon="cloud_upload" estilo='font-size:30px'
                                url="febos-io/chile/{{ambiente}}/archivos-subidos/portafolio/contrato/{{contrato.contratoId}}/">
            </upload-automaticos>
            <i ng-if="contrato.verOcultos == 1" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="No Mostrar Ocultos"
               ng-click="contrato.verOcultos = 0"
               style="cursor:pointer;font-size: 30px; color: #23da15;"
               class="material-icons">visibility</i>
            <i ng-if="contrato.verOcultos == undefined ||contrato.verOcultos == 0" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
               title="Mostrar Ocultos"
               ng-click="contrato.verOcultos = 1"
               style="cursor:pointer;font-size: 30px; "
               class="material-icons">visibility_off</i>
            <card-toggle></card-toggle>
        </div>
        <h3 class="md-card-toolbar-heading-text">Adjuntos <span class="uk-badge uk-badge-info">{{contrato.adjuntos.length||0}} </span>
        </h3>
    </div>
    <div class="md-card-content uk-grid uk-grid-small">
        <div class="uk-width-small-1-1 uk-width-medium-1-3 uk-width-large-1-4 uk-margin-top"
             data-uk-grid-match="{target:'.uk-panel'}"
             ng-repeat="adjunto in contrato.adjuntos | filter:adjuntoContratoFiltro(contrato.verOcultos)">
            <div class="uk-width-large-1-1 uk-panel uk-panel-box">
                <ul class="md-list md-list-addon" style="word-break: break-all;">
                    <li style="cursor: pointer"
                        title="{{adjunto.adjuntoNombre}}" data-uk-tooltip="{cls:'long-text'}">
                        <div class="md-list-addon-element"
                             ng-if="adjunto.adjuntoEstado == undefined">
                            <i class="md-list-addon-icon material-icons">attach_file</i>
                        </div>
                        <div class="md-list-addon-element"
                             ng-if="adjunto.adjuntoEstado != undefined">
                            <i class="md-list-addon-icon material-icons"
                               ng-if="adjunto.adjuntoEstado == 2">attach_file</i>
                            <md-preloader
                                    ng-if="adjunto.adjuntoEstado == 0 || adjunto.adjuntoEstado == 1"></md-preloader>
                            <i class="md-list-addon-icon material-icons uk-icon-spin"
                               ng-if="adjunto.adjuntoEstado == 3">error</i>
                        </div>

                        <div class="md-list-content">
                            <span ng-click="descargarAdjunto(adjunto)">{{adjunto.adjuntoNombre|limitTo:20}}</span>
                            <span ng-click="descargarAdjunto(adjunto)"
                                  class="uk-text-small uk-text-muted">{{obtenerFechaAdjunto(adjunto)}}</span>
                            <span class="md-list-heading"
                                  style="float: right;position: absolute;right: 0px;bottom: 0px;">
                                                    <i ng-if="adjunto.estado == undefined || adjunto.estado == 0 || adjunto.estado == 1"
                                                       class="material-icons" ng-click="adjunto.estado= 100">
                                                        visibility_off
                                                    </i>
                                                    <i ng-if="adjunto.estado == 100" class="material-icons"
                                                       ng-click="adjunto.estado= 1" style="color: #23da15;">
                                                        visibility
                                                    </i>
                                                </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>