<h3 class="heading_a">Fiscalizaciones de Proyecto</h3>
<div ng-repeat="fiscalizacion in proyecto.fiscalizaciones"
     ng-init="" class="md-card" data-uk-grid-margin>
    <div class="md-card-toolbar">
        <div class="md-card-toolbar-actions">
            <div class="md-btn-group">
                <a ng-if="fiscalizacion.estado == undefined"
                   ng-click="eliminarFiscalizacion($index);" class="md-btn md-btn-wave" title="Eliminar Fiscalizacion"
                   data-uk-tooltip=""><i class="material-icons">remove_circle</i></a>
            </div>

        </div>
        <h3 class="md-card-toolbar-heading-text"></h3>
    </div>
    <div class="md-card-content uk-grid uk-grid-small">
        <div class="uk-width-small-5-10 uk-width-medium-2-10 uk-margin-top">
            <label>Fecha</label>
            <input class="md-input" type="text"
                   data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                   md-fecha
                   ng-model="fiscalizacion.fechaS">
            <span class="uk-form-help-block"
                  style="margin-top:0px;color:#ccc">Fecha de fiscalización</span>
        </div>
        <div class="uk-width-small-5-10 uk-width-medium-2-10 uk-margin-top">
            <label>Nombre</label>
            <input type="text" class="md-input" md-input ng-model="fiscalizacion.nombre"/>
            <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Nombre del fiscalizador</span>
        </div>
        <div class="uk-width-small-5-10 uk-width-medium-2-10 uk-margin-top">
            <label>Número</label>
            <input type="text" class="md-input" md-input ng-model="fiscalizacion.numero" formato-numero/>
            <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Número de fiscalizacón</span>
        </div>
        <div class="uk-width-small-5-10 uk-width-medium-2-10 uk-margin-top">
            <label>Avance</label>
            <input type="text" class="md-input" md-input ng-model="fiscalizacion.avance" numero-max min="0" max="100"/>
            <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Porcentaje de Avance reportado</span>
        </div>
        <div class="uk-width-small-5-10 uk-width-medium-2-10 uk-margin-top">
            <label>Comentario</label>
            <input type="text" class="md-input" md-input ng-model="fiscalizacion.estado"/>
            <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Comentario de fiscalizacion</span>
        </div>

    </div>
</div>