<div id="page_content">
    <div class="md-card uk-margin-medium-bottom">
        <div id="page_content_inner">
            <volver></volver>
            <br>
            <br>
            <br>
            <h3 class="heading_b uk-margin-bottom">Eventos sobre documentos</h3>
            <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-content">
                    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                        <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-2 uk-margin-top">
                            <label>Nombre</label>
                            <input type="text" class="md-input" md-input ng-model="webhook.nombre"/>
                            <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Nombre de esta configuración</span>
                        </div>
                        <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-2 uk-margin-top">

                            <input class="md-input" type="text" id="tag" placeholder="Seleccione tipo evento"
                                   ng-model="webhook.tipoEvento" config="holding_config" options="tipo_evento_options"
                                   selectize/>
                            <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Seleccione el evento a capturar</span>
                        </div>
                        <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-2 uk-margin-top">
                            <label>Descripción</label>
                            <textarea type="text" class="md-input" md-input ng-model="webhook.descripcion"
                                      maxlength="150"/>
                            <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Notas o comentarios que se deseen hacer</span>
                        </div>

                        <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-2 uk-margin-top"
                             style="padding-top:60px">
                            <label>Activa</label>
                            <input type="checkbox" name="" id="checkbox_activa" icheck="" ng-model="webhook.activo"
                                   class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style="">
                            <ins
                                    class="iCheck-helper" style=""></ins>
                            <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Indicar si esta notificacion se encuentra activa o no</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                <div class="uk-width-small-1-1 uk-width-medium-1-2">
                    <h3 class="heading_b uk-margin-bottom">Filtros y condiciones</h3>
                    <div class="md-card">
                        <div class="md-card-content">
                            <table style="width: 100%" class="uk-table uk-table-hover uk-table-nowrap">
                                <thead>
                                <tr>

                                    <th style="width: 35%" class="uk-width-1-2 uk-text-center uk-text-upper">
                                        <label style="font-weight: bold" for="nombre">Dato </label>

                                    </th>
                                    <th style="width: 25%" class="uk-width-1-2 uk-text-center uk-text-upper">
                                        <label style="font-weight: bold" for="correo">Condición</label>

                                    </th>
                                    <th style="width: 30%" class="uk-width-1-2 uk-text-center uk-text-upper">
                                        <label style="font-weight: bold" for="correo">Valor </label>

                                    </th>


                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat="condicion in webhook.condiciones">

                                    <td class="uk-text-center">


                                        <span>{{tipoTag(condicion.tag)}}</span>
                                    </td>
                                    <td class="uk-text-center">
                                        <span>{{tipoCondicion(condicion.tipo_condicion)}}</span>
                                    </td>


                                    <td class="uk-text-center">
                                        {{condicion.valor}}
                                    </td>


                                    <td class="uk-text-center">
                                        <div class="uk-width-medium-1-5 uk-width-small-1-3">
                                            <a ng-click="eliminarCondicion($index, cuenta)"><i class="material-icons"
                                                                                               style="color: red; font-size: 40px">&#xE15C;</i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td>
                                        <input class="md-input" type="text" id="tag" ng-model="webhook.condiciones.tag_insertar"
                                               config="holding_config" options="dato_options" selectize/>
                                    </td>
                                    <td>
                                        <input class="md-input" type="text" id="tipo_condicion"
                                               ng-model="webhook.condiciones.tipo_condicion_insertar" config="holding_config"
                                               options="tipo_cuenta_options" selectize/>
                                    </td>
                                    <td>
                                        <input class="md-input" type="text" id="valor"
                                               ng-model="webhook.condiciones.valor_insertar"
                                               md-input/>
                                    </td>


                                    <td id="btnAgregar">
                                        <div id="btnAgregar" class="uk-width-medium-1-5 uk-width-small-1-3">
                                            <a ng-click="agregarCondicion()"><i class="material-icons"
                                                                                style="color: green; font-size: 40px">&#xE147;</i></a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="uk-width-small-1-1 uk-width-medium-1-2">
                    <h3 class="heading_b uk-margin-bottom">Acciones</h3>
                    <div class="md-card">
                        <div class="md-card-content">
                            <h3 class="heading_a">Notificar a ERP o sistema externo
                                <span ng-show="!notificarErp" ng-click="notificarErp=true" style="cursor:pointer" data-uk-tooltip="{pos:'left',cls:'long-text'}" title="Mostrar opciones para notificar a ERP"><i class="material-icons" style="color:green">arrow_downward</i></span>
                                <span ng-show="notificarErp" ng-click="notificarErp=false" style="cursor:pointer" data-uk-tooltip="{pos:'left',cls:'long-text'}" title="Ocultar opciones para notificar a ERP"><i class="material-icons" style="color:green">arrow_upward</i></span>
                            </h3>
                            <div class="uk-grid" data-uk-grid-margin ng-show="notificarErp">
                                <div class="uk-width-small-1-1 uk-width-medium-1-1 uk-width-large-1-1 uk-margin-top">
                                    <label>URL</label>
                                    <input type="text" class="md-input" md-input ng-model="webhook.url"/>
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Webhook donde enviar archivo JSON con la información</span>
                                </div>
                                <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-margin-top">
                                    <label>Usuario</label>
                                    <input type="text" class="md-input" md-input ng-model="webhook.usuario"/>
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Usuario de autenticación HTTP Basic, si aplica</span>
                                </div>
                                <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-margin-top">
                                    <label>Usuario</label>
                                    <input type="password" class="md-input" md-input ng-model="webhook.password"/>
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Contraseña, si aplica</span>
                                </div>
                                <div class="uk-width-small-1-1 uk-width-medium-1-1 uk-margin-top">
                                    <label>Token</label>
                                    <input type="password" class="md-input" md-input ng-model="webhook.password"/>
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Token de acceso para cabecera, si aplica</span>
                                </div>
                            </div>
                        </div>
                        <div class="md-card-content">
                            <h3 class="heading_a">Enviar por correo electronico
                                <span ng-show="!notificarCorreo" ng-click="notificarCorreo=true" style="cursor:pointer" data-uk-tooltip="{pos:'left',cls:'long-text'}" title="Mostrar opciones para notificar por correo"><i class="material-icons" style="color:green">arrow_downward</i></span>
                                <span ng-show="notificarCorreo" ng-click="notificarCorreo=false" style="cursor:pointer" data-uk-tooltip="{pos:'left',cls:'long-text'}" title="Ocultar opciones para notificar por correo"><i class="material-icons" style="color:green">arrow_upward</i></span>
                            </h3>
                            <div class="uk-grid" data-uk-grid-margin ng-show="notificarCorreo">
                                <div class="uk-width-medium-1-1">
                                    <div class="uk-form-row">
                                        <div class="uk-grid">
                                            <div class="uk-width-medium-1-1">
                                                <label>Correos</label>
                                                <input type="text" class="md-input" md-input
                                                       ng-model="webhook.correos"/>
                                                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Separar por coma si son mas de 1</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="md-card-content">
                            <h3 class="heading_a">Automatizar proceso
                                <span ng-show="!notificarAccion" ng-click="notificarAccion=true" style="cursor:pointer" data-uk-tooltip="{pos:'left',cls:'long-text'}" title="Mostrar opciones para notificar por correo"><i class="material-icons" style="color:green">arrow_downward</i></span>
                                <span ng-show="notificarAccion" ng-click="notificarAccion=false" style="cursor:pointer" data-uk-tooltip="{pos:'left',cls:'long-text'}" title="Ocultar opciones para notificar por correo"><i class="material-icons" style="color:green">arrow_upward</i></span>
                            </h3>
                            <div class="uk-grid" data-uk-grid-margin ng-show="notificarAccion">
                                <div class="uk-width-medium-1-1">
                                    <div class="uk-form-row">
                                        <div class="uk-grid">
                                            <div class="uk-width-medium-1-1">
                                                <input class="md-input" type="text" id="tag"
                                                       placeholder="Seleccione flujo"
                                                       ng-model="webhook.flujo" config="holding_config"
                                                       options="flujos_options"
                                                       selectize/>
                                                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Seleccione una acción de la lista</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>


<div class="md-fab-wrapper md-fab-speed-dial" style="right:100px">
    <a class="md-fab md-fab-success" ng-click="guardarWebhook()" data-uk-tooltip="{pos:'right'}" title="GUARDAR"><i
            class="material-icons">save</i></a>
</div>