<div class="uk-width-small-1-1 uk-width-medium-1-1">
    <div class="uk-panel uk-panel-box">
        <h3 class="uk-panel-title">Estados de pago</h3>
        <div class="uk-panel-badge">
            <i class="material-icons no_margin"
               style="font-size:30px;color:green;cursor:pointer"
               ng-click="agregarEstado()">add_circle</i>
        </div>
        <hr>
        <div class="uk-grid uk-grid-small">

            <div class="uk-width-medium-1-10 uk-margin-top">
                <label>Avance Total</label>
                <input type="text" class="md-input" md-input ng-model="topico.total.avance"
                       formato-numero/>
            </div>
            <div class="uk-width-medium-1-10 uk-margin-top">
                <label>DEV. Anticipo Total</label>
                <input type="text" class="md-input" md-input ng-model="topico.total.devAnticipo"
                       formato-numero/>
            </div>
            <div class="uk-width-medium-1-10 uk-margin-top">
                <label>Saldo Anticipo</label>
                <input type="text" class="md-input" md-input ng-model="topico.total.saldoAnticipo"
                       formato-numero/>
            </div>
            <div class="uk-width-medium-1-10 uk-margin-top">
                <label>SubTotal</label>
                <input type="text" class="md-input" md-input ng-model="topico.total.subtotal"
                       formato-numero/>
            </div>
            <div class="uk-width-medium-1-10 uk-margin-top">
                <label>Retencion Total</label>
                <input type="text" class="md-input" md-input
                       ng-model="topico.total.retencionInterna"
                       formato-numero/>
            </div>
            <div class="uk-width-medium-1-10 uk-margin-top">
                <label>Multa Total</label>
                <input type="text" class="md-input" md-input
                       ng-model="topico.total.multa"
                       formato-numero/>
            </div>
            <div class="uk-width-medium-1-10 uk-margin-top">
                <label>A Pago Total</label>
                <input type="text" class="md-input" md-input
                       formato-numero ng-model="topico.total.pago"/>
            </div>
            <div class="uk-width-medium-1-10 uk-margin-top">
                <label>Monto Contrato</label>
                <input type="text" class="md-input" md-input
                       formato-numero ng-model="topico.montoContratado"/>
            </div>
            <div class="uk-width-medium-1-10 uk-margin-top">
                <label>Monto Contrato</label>
                <input type="text" class="md-input" md-input
                       formato-numero ng-model="topico.total.restante"/>
            </div>
            <div class="uk-width-medium-1-10 uk-margin-top">
                <label>Avance {{topico.total.porcentaje}} %</label>
            </div>
        </div>
        <hr>
        <div class="uk-width-medium-1-1"
             ng-if="topico.anticipos == undefined || topico.anticipos.length == 0">
            <button class="md-btn md-btn-wave md-btn-block md-btn-wave-light" ng-click="agregarAnticipo()">
                <i class="material-icons">payment</i>
                Ingresar Anticipo
            </button>
        </div>
        <div class="uk-grid uk-grid-small"
             ng-if="topico.anticipos != undefined && topico.anticipos.length >= 0"
             ng-repeat="anticipo in topico.anticipos">
            <div class="uk-width-medium-2-10 uk-margin-top">
                <label>Monto Anticipo</label>
                <input class="md-input" ng-blur="calcularTotalesTopico2()" md-input
                       ng-model="anticipo.monto"
                       formato-numero/>
            </div>
            <div class="uk-width-2-10 uk-margin-top">
                <label>Fecha Anticipo</label>
                <input class="md-input" type="text"
                       data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                       md-input
                       ng-model="anticipo.fecha">
            </div>
            <div class="uk-width-medium-5-10 uk-margin-top">
                <label>Asunto Anticipo</label>
                <input type="text" class="md-input" md-input ng-model="anticipo.asunto"/>
            </div>
            <!-- <div class="uk-width-medium-1-10 uk-margin-top">
                 <a href="javascript:void(0)" class="md-btn md-btn-mini md-btn-icon"
                    ng-click="eliminarAnticipo($index)">
                     <i class="material-icons no_margin" style="font-size:20px">delete_forever</i>
                 </a>
             </div>-->
        </div>
        <hr>
        <div ng-repeat="estado in topico.estados"
             ng-init="estadoIndex=$index;estado.enEdicion=false;estado.estadoActual=0;">
            <div class="md-card ">
                <div class="md-card-toolbar">
                    <div class="md-card-toolbar-actions">
                        <card-toggle></card-toggle>
                        <!--<i class="md-icon material-icons md-card-close"
                           ng-click="eliminarEstado(estadoIndex)">&#xE14C;</i>-->
                    </div>
                    <h3 class="md-card-toolbar-heading-text"> {{estado.asunto}} </h3>

                    <span class="md-card-toolbar-heading-text"
                          style="text-align:center;cursor:pointer" ng-if="!estado.enEdicion"
                          ng-click="estado.enEdicion=!estado.enEdicion;estado.estadoActual=estado.estado;">&nbsp;
                                     <span ng-if="!estado.estado || estado.estado ==0" class="uk-badge uk-badge-info"
                                           data-uk-tooltip="{cls:'long-text'}" title="Sin Gestion">Sin Gestión</span>
                                     <span ng-if="estado.estado ==1 || estado.estado =='1'"
                                           class="uk-badge uk-badge-info" data-uk-tooltip="{cls:'long-text'}"
                                           title="Estado de Pago Generado (a la espera de los archivos adjuntos)">
                                         Estado de Pago Generado
                                     </span>
                                     <span ng-if="estado.estado ==2  || estado.estado =='2'"
                                           class="uk-badge uk-badge-info"
                                           data-uk-tooltip="{cls:'long-text'}" title="Estado de Pago Completo">Estado de Pago Completo</span>
                                </span>
                    <span class="md-card-toolbar-heading-text"
                          style="text-align:center;cursor:pointer" ng-if="estado.enEdicion">
                                    &nbsp;
                                    <select ng-model="estado.estadoActual">
                                            <option ng-repeat="x in estados"
                                                    value="{{x.value}}">{{x.descripcion}}</option>
                                    </select>
                                    <i ng-click="estado.enEdicion=!estado.enEdicion;" class="material-icons no_margin">cancelar</i>
                                    <i ng-click="estado.enEdicion=!estado.enEdicion;estado.estado=estado.estadoActual;"
                                       class="material-icons no_margin">check</i>
                                </span>
                    <span class="md-card-toolbar-heading-text"
                          style="text-align:center">&nbsp;&nbsp;Avance Financiero &nbsp; {{estado.avancePorcentual||0}}&nbsp;%
                                </span>
                </div>
                <div class="md-card-content uk-grid uk-grid-small">
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Asunto</label>
                        <input type="text" class="md-input" md-input ng-model="estado.asunto"/>
                    </div>
                    <div class="uk-width-1-10 uk-margin-top">
                        <label>Vencimiento</label>
                        <input class="md-input" type="text"
                               data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                               md-input
                               ng-model="estado.fechaVencimiento">
                    </div>

                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Nombre Responsable</label>
                        <input type="text" class="md-input" md-input
                               ng-model="estado.usuarioNombre"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Correo Responsable</label>
                        <input type="text" class="md-input" md-input
                               ng-model="estado.usuarioCorreo"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Observación </label>
                        <button ng-if="estado.comentarios == undefined || estado.comentarios.length == 0"
                                class="md-btn md-btn-wave md-btn-block md-btn-wave-light"
                                ng-click="agregarComentarioEstadoPago(estado)">
                            <i class="material-icons">description</i> Ingresar Comentario
                        </button>
                        <input ng-repeat="comentario in estado.comentarios" type="text"
                               class="md-input" md-input
                               ng-model="comentario.comentario"/>
                    </div>
                    <div class="uk-width-medium-1-10 uk-margin-top uk-hidden-small">
                        &nbsp;
                    </div>
                    <div class="uk-width-medium-1-10 uk-margin-top">
                        <label>Avance</label>
                        <input type="text" class="md-input" md-input ng-model="estado.avance"
                               formato-numero ng-change="getTotalesEstadoPago(estado)"/>
                    </div>
                    <div class="uk-width-medium-1-10 uk-margin-top">
                        <label>DEV. Anticipo</label>
                        <input type="text" class="md-input" md-input ng-model="estado.devAnticipo"
                               formato-numero ng-change="getTotalesEstadoPago(estado)"/>
                    </div>
                    <div class="uk-width-medium-1-10 uk-margin-top">
                        <label>SubTotal</label>
                        <input type="text" class="md-input" md-input ng-model="estado.subtotal"
                               formato-numero ng-change="getTotalesEstadoPago(estado)"/>
                    </div>
                    <div class="uk-width-medium-1-10 uk-margin-top">
                        <label>Retencion</label>
                        <input type="text" class="md-input" md-input
                               ng-model="estado.retencionInterna"
                               formato-numero ng-change="getTotalesEstadoPago(estado)"/>
                    </div>
                    <div class="uk-width-medium-1-10 uk-margin-top">
                        <label>Multa</label>
                        <input type="text" class="md-input" md-input
                               ng-model="estado.multa"
                               formato-numero ng-change="getTotalesEstadoPago(estado)"/>
                    </div>
                    <div class="uk-width-medium-1-10 uk-margin-top">
                        <label>Monto Factura</label>
                        <input type="text" class="md-input" md-input
                               ng-model="estado.pago"
                               formato-numero ng-change="getTotalesEstadoPago(estado)"/>
                    </div>
                    <div class="uk-width-medium-1-10 uk-margin-top">
                        <label>A Pago</label>
                        <input type="text" class="md-input" md-input
                               ng-model="estado.pagoCMulta"
                               formato-numero ng-change="getTotalesEstadoPago(estado)"/>
                    </div>
                    <!--Documentos-->
                    <div class="uk-width-small-2-10 uk-width-medium-1-10 uk-margin-top">
                        <div class="md-btn-group">
                            <a href="javascript:void(0)" class="md-btn md-btn-mini md-btn-icon"
                               data-uk-toggle="{target:'#{{'estado-docs-'+estadoIndex}}'}"
                               data-uk-toggle="{target:{'content-document-'+estadoIndex},uk-animation-slide-bottom'}">
                                <i class="material-icons no_margin" style="font-size:20px"
                                   data-uk-tooltip="{cls:'long-text'}"
                                   title="Documentos"
                                >folder_open</i>
                            </a>
                        </div>
                    </div>
                    <!--Documentos-->
                    <div id="{{'estado-docs-'+estadoIndex}}"
                         class="uk-panel uk-panel-box uk-hidden uk-width-small-10-10 uk-width-medium-10-10 uk-margin-top">
                        <h4 class="uk-panel-title">Documentos</h4>
                        <div class="uk-panel-badge">
                            <i class="material-icons no_margin"
                               style="font-size:30px;color:green;cursor:pointer"
                               ng-click="agregarDocumento(estadoIndex)">create_new_folder</i>
                        </div>
                        <div class="uk-panel uk-panel-box uk-width-small-10-10 uk-width-medium-10-10"
                             ng-repeat="documento in estado.documentos"
                             ng-init="docIndex=$index;documento.edit=false">
                            <!--Esto es la cabecera del panel-->
                            <div class="md-card-toolbar" ng-if="!documento.edit">
                                <div class="md-card-toolbar-actions">
                                    <i ng-click="documento.edit=!documento.edit;habilitarEdicion(documento.edit)"
                                       class="material-icons no_margin">editar</i>
                                    <upload-automaticos objeto="documento.adjunto"
                                                        identificador="{{'file-input-'+documento.documentoId}}"
                                                        icon="cloud_upload" estilo='font-size:30px'
                                                        url="febos-io/chile/{{ambiente}}/archivos-subidos/portafolio/estado/"></upload-automaticos>
                                </div>
                                <span class="md-icon md-card-fullscreen-deactivate material-icons uk-float-left ng-hide"
                                      ng-show="card_fullscreen" ng-click="cardFullscreenDeactivate($event)"></span>
                                <h3 class="md-card-toolbar-heading-text">
                                    {{documento.nombreDocumento}}
                                </h3>
                            </div>
                            <div ng-if="documento.edit">
                                            <span>
                                                <div class="uk-input-group">
                                                    <div class="md-input-wrapper">
                                                        <input type="text" class="md-input" md-input
                                                               ng-model="documento.nombreDocumento"/>
                                                        <span class="md-input-bar "></span>
                                                    </div>
                                                    <span class="uk-input-group-addon">
                                                        <button
                                                                class="md-btn md-btn-wave md-btn-block md-btn-wave-light waves-effect waves-button"
                                                                ng-click="documento.edit=!documento.edit;habilitarEdicion(documento.edit)">
                                                            <i class="material-icons no_margin">check</i>
                                                         </button>
                                                    </span>
                                                </div>
                                             </span>
                            </div>
                            <div>
                                <div class="uk-width-medium-2-10 uk-margin-top"
                                     ng-repeat="adjunto in documento.adjunto">

                                    <div class="uk-form-file uk-text-primary"
                                         ng-if="adjunto.adjuntoNombre != undefined && adjunto.adjuntoNombre!=''">
                                        <md-preloader
                                                ng-if="adjunto.adjuntoEstado == 0 || adjunto.adjuntoEstado == 1"></md-preloader>
                                        <span ng-click="descargarAdjunto(adjunto)" style="cursor:pointer">
                                                        <i class="material-icons no_margin uk-text-muted">cloud_download</i>
                                                            &nbsp;{{adjunto.adjuntoNombre}}
                                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-medium-1-1"
             ng-if="topico.devolucion == undefined || topico.devolucion.length == 0">
            <button class="md-btn md-btn-wave md-btn-block md-btn-wave-light"
                    ng-click="agregarDevolucion()">
                <i class="material-icons">payment</i>
                Ingresar Devolución de Retención
            </button>
        </div>
    </div>
</div>