<div class="uk-modal-dialog" style="width: 80%">
    <a class="uk-modal-close uk-close"></a>
    <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
        <h3>Modificaciones Tópico <span class="uk-text-primary">{{topico.asunto}}</span></h3>
        <div class="uk-grid uk-grid-small" data-uk-grid-match="{target:'.uk-panel'}">
            <div class="uk-width-small-1-1 uk-width-medium-1-1">
                <div class="uk-panel uk-panel-box">
                    <h3 class="uk-panel-title">Detalle Modificaciones</h3>
                    <div class="uk-panel-badge">
                        <i class="material-icons no_margin"
                           style="font-size:30px;color:green;cursor:pointer"
                           ng-click="agregarModificacion()">add_circle</i>
                    </div>
                    <div class="uk-grid uk-grid-small" ng-if="modificacionNuevaEditando==true">
                        <div class="uk-width-medium-2-10 uk-margin-top">
                            <label>Asunto</label>
                            <input type="text" class="md-input" md-input ng-model="topico.modificacionNueva.asunto"/>
                        </div>
                        <div class="uk-width-medium-2-10 uk-margin-top">
                            <label>Monto</label>
                            <input type="text" class="md-input" md-input formato-numero
                                   ng-model="topico.modificacionNueva.monto"/>
                        </div>
                        <div class="uk-width-medium-2-10 uk-margin-top">
                            <label>Fecha</label>
                            <input type="text" class="md-input" md-input ng-model="topico.modificacionNueva.fecha"
                                   data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"/>
                        </div>
                        <div class="uk-width-medium-2-10 uk-margin-top">
                            <button class="md-btn md-btn-wave-light md-btn-block" ng-click="guardarModificacion()"><i
                                    class="material-icons">save</i></button>
                        </div>
                        <div class="uk-width-medium-2-10 uk-margin-top">
                            <button class="md-btn md-btn-wave-light md-btn-block" ng-click="cancelarModificacion()"><i
                                    class="material-icons">cancel</i></button>
                        </div>
                    </div>
                    <div class="uk-grid uk-grid-small"
                         ng-repeat="modificacion in  topico.modificacionesMandato|orderBy: '-fecha'">
                        <div class="uk-width-medium-2-10 uk-margin-top">
                            <label>Asunto</label>
                            <input type="text" class="md-input" md-input ng-model="modificacion.asunto" readonly/>
                        </div>
                        <div class="uk-width-medium-2-10 uk-margin-top">
                            <label>Monto</label>
                            <input type="text" class="md-input" formato-numero md-input ng-model="modificacion.monto"
                                   readonly/>
                        </div>
                        <div class="uk-width-medium-2-10 uk-margin-top">
                            <label>Fecha {{modificacion.fecha}}</label>
                            <input type="text" class="md-input" md-input ng-model="modificacion.fecha" readonly/>
                        </div>
                        <div class="uk-width-medium-1-10 uk-margin-top"
                             ng-if="modificacion.adjuntos == undefined || modificacion.adjuntos.length==0">
                            <upload-automaticos data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Adjuntar archivo"
                                                objeto="modificacion.adjuntos"
                                                identificador="{{'modificaciones-'+modificacion.modificacionId}}"
                                                icon="cloud_upload" estilo='font-size:30px'
                                                url="chile/{{ambiente}}/portafolio/modificaciones/{{modificacion.modificacionId}}">
                            </upload-automaticos>
                        </div>
                        <div class="uk-width-medium-1-10 uk-margin-top">
                            <i ng-repeat-start="adjunto in modificacion.adjuntos" class="material-icons"
                               title="{{adjunto.adjuntoNombre+'<br>'+adjunto.fecha}}"
                               data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                               adjunto-descargar path="{{adjunto.adjuntoUrl}}" nombre="{{adjunto.adjuntoNombre}}"
                               style="font-size: 24px;cursor: pointer;">attach_file</i>
                            <span ng-repeat-end="adjunto in modificacion.adjuntos">{{adjunto.adjuntoNombre}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
