
<br/>

<div id="page_content">
    <div id="page_content_inner">
        <div id="page_heading">
            <h1>Noticias y novedades</h1>
            <div ng-if="cargando"><br/><br/><i style="font-size: 20px; vertical-align: middle; color:#ddd" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> Cargando...</div>
            <div ng-if="!cargando && novedades.length == 0">No hay novedades que mostrar</div>
        </div>
        <br/>
        <div class="blog_list uk-grid-width-medium-1-3 uk-grid-width-large-1-4" data-uk-grid="{gutter: 24}">
            <div ng-repeat="novedad in novedades">
                <div class="md-card">
                    <div class="md-card-content small-padding">
                        <img ng-if="novedad.imagenCabeceraUrl" ng-src="{{novedad.imagenCabeceraUrl}}" alt="" class="blog_list_teaser_image">
                        <div class="uk-cover blog_list_teaser_video" ng-if="novedad.videoCabeceraUrl">
                            <iframe height="150" width="300" data-uk-cover ng-src="{{novedad.videoCabeceraUrl}}" frameborder="0" allowfullscreen style="max-width: 100%"></iframe>
                        </div>
                        <div class="blog_list_teaser">
                            <h2 class="blog_list_teaser_title uk-text-truncate">{{novedad.titulo}}</h2>
                            <p>{{novedad.resumen}}</p>
                            <span class="uk-text-muted uk-text-small">{{novedad.fecha}}</span>
                        </div>
                        <div class="blog_list_footer">
                            <div class="blog_list_footer_info">
                            </div>
                            <span ng-if="!novedad.visible" class="uk-badge uk-badge-muted uk-float-left">NO PUBLICADA</span>
                            <a ui-sref="restringido.verNovedad({ novedadId: novedad.novedadId ,app:app})" class="md-btn md-btn-small md-btn-flat md-btn-flat-primary uk-float-right">Leer</a>
                            <a ng-if="puedeEditar" ui-sref="restringido.editarNovedad({ novedadId: novedad.novedadId,app:app })" class="md-btn md-btn-small md-btn-flat md-btn-flat-primary uk-float-right">Editar</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="md-fab-wrapper md-fab-speed-dial" style="right:100px">
            <a class="md-fab md-fab-danger" href="javascript:void(0)" ng-click="nuevo()" data-uk-tooltip="{pos:'right'}" title="Nuevo articulo"><i class="material-icons">add</i></a>
        </div>
    </div>
</div>

