<style>
    .caja-exterior {
        margin: 5px;
        width: 160px;
        height: 90px;
        padding-left: 5px;
        padding-bottom: 18px;
        display: inline-block;
        vertical-align: top;
    }

    .caja-interior {
        border: 2px dotted #ccc;
        width: 100%;
        height: 100%;
        padding: 5px;
    }

    .caja-tags {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .fila-cajas {
        border: 1px solid rgba(0, 0, 0, .12);
        padding: 15px;
        padding-left: 5px;
        position: relative;
        display: block;
        margin-bottom: 25px;
        background-color: #fff7ec;
    }

    .fila-cajas:hover {
        box-shadow: -5px 5px #eee;
    }

    .ambito-caja {
        margin-left: 10px;
        margin-bottom: 3px;
    }
</style>

<div id="page_content" class="m-t">
    <div id="page_heading">
        <h1>Aceptaciones y Recibos de Mercadería automáticos</h1>
        <span class="uk-text-muted uk-text-small">Acelera la aceptación comercial y recibo de mercaderías de tus proveedores con los que ya tienes acuerdos comerciales, para que hacerlos esperar la aceptación por omisión hasta el octavo día?</span>
    </div>
    <div class="md-card uk-margin-medium-bottom">
        <div id="page_content_inner">
            <div class="md-card-content">
                <div ng-if="cargando">
                    <div colspan="5">
                        <div class="uk-text-center"><img src="ajax-loader.gif"/> Buscando...</div>
                    </div>
                </div>
                <div ng-if="accionesAutomaticas.length === 0 && !cargando">
                    <div colspan="9">
                        <div class="uk-text-enter">No se encontraron reglas</div>
                    </div>
                </div>
                <div class=" ">
                    <ul>
                        <li class="fila-cajas" ng-repeat="accionAutomatica in accionesAutomaticas">
                            <div class="ambito-caja"
                                 ng-if="accionAutomatica.filtros.emisores=='*' && accionAutomatica.filtros.listaEmisoresIncluidos=='*' && accionAutomatica.filtros.listaEmisoresExcluidos=='*'">
                                <i class="material-icons" style="color: green">check_box</i> Esta regla <strong>se
                                aplicará</strong> sobre <strong>todos</strong> los rut emisores, sin filtro alguno.
                            </div>
                            <div class="ambito-caja" ng-if="accionAutomatica.filtros.emisores!='*'">
                                <i class="material-icons" style="color: green">check_box</i> Esta regla <strong>se
                                aplicará</strong> sobre los siguientes RUT Emisores: <strong>{{accionAutomatica.filtros.emisores}}</strong>
                            </div>
                            <div class="ambito-caja" ng-if="accionAutomatica.filtros.listaEmisoresIncluidos!='*'">
                                <i class="material-icons" style="color: green">check_box</i> Esta regla <strong>se
                                aplicará</strong> sobre los RUT emisores incluidos en la lista: <strong>{{nombreLista(accionAutomatica.filtros.listaEmisoresIncluidos)}}</strong>
                            </div>
                            <div class="ambito-caja" ng-if="accionAutomatica.filtros.listaEmisoresExcluidos!='*'">
                                <i class="material-icons" style="color: red">indeterminate_check_box</i> Esta regla
                                <strong>excluirá</strong> sobre los RUT emisores incluidos en la lista: <strong>{{nombreLista(accionAutomatica.filtros.listaEmisoresIncluidos)}}</strong>
                            </div>
                            <div class="caja-exterior">
                                <div class="uk-panel caja-interior caja-tags">
                                    <strong>Estados Comerciales</strong>
                                    <div style="padding-top: 8px; padding-left: 10px;">
                                        <div
                                                class="uk-badge uk-badge-info"
                                                ng-repeat="seleccionado in accionAutomatica.filtros.estadoComercial.split(',') track by $index"
                                                style="margin-right: 5px; margin-bottom: 5px;"
                                        >
                                            {{estadosComerciales[seleccionado]}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" caja-exterior">
                                <div class="uk-panel caja-interior" style="text-align: center;">
                                    <strong>Estado Recepción</strong>
                                    <div style="margin-top: 12px;">
                                        <div ng-if="accionAutomatica.filtros.recibido === 'si'" style="margin-top: 8px;">
                                            <span class="uk-badge uk-badge-success">Recibidos</span>
                                        </div>
                                        <div ng-if="accionAutomatica.filtros.recibido === 'si,no'" style="margin-top: 8px;">
                                            <span class="uk-badge uk-badge-success">Recibidos y No Recibidos</span>
                                        </div>
                                        <div ng-if="accionAutomatica.filtros.recibido === 'no'" style="margin-top: 8px;">
                                            <span class="uk-badge uk-badge-muted">No Recibidos</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="caja-exterior">
                                <div class="uk-panel caja-interior">
                                    <strong>Cuando haya pasado</strong>
                                    <div style="margin-top: 12px;">
                                        <strong>{{accionAutomatica.filtros.dia}}</strong>
                                        o mas días de la fecha de recepción de SII
                                    </div>
                                </div>
                            </div>
                            <div class=" caja-exterior">
                                <div class="uk-panel caja-interior" style="text-align: center;">
                                    <strong>Enviar Recibo de Mercaderías</strong>
                                    <div style="margin-top: 12px;">
                                        <div style="margin-top: 5px;">
                                            <span ng-if="accionAutomatica.parametros.emitirReciboMercaderias" style="margin-top: 5px;">
                                                <span class="uk-badge uk-badge-success">Activado</span>
                                            </span>
                                            <span ng-if="!accionAutomatica.parametros.emitirReciboMercaderias" style="margin-top: 5px;">
                                                <span class="uk-badge uk-badge-muted">Solo aceptación</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="caja-exterior">
                                <div class="uk-panel caja-interior" style="text-align: center;">
                                    <strong>
                                        <center>Fecha SII<br/> vs<br> Fecha Emisión</center>
                                    </strong>
                                    <div style="margin-top: 5px;">
                                            <span ng-if="!accionAutomatica.filtros.compararFechas" style="margin-top: 5px;">
                                                <span class="uk-badge uk-badge-muted">No verificar</span>
                                            </span>
                                        <span ng-if="accionAutomatica.filtros.compararFechas" style="margin-top: 5px;">
                                                <span class="uk-badge uk-badge-success">Aceptar si son iguales</span>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="caja-exterior">
                                <div class="uk-panel caja-interior" style="text-align: center;"
                                     ng-if="accionAutomatica.filtros.monto != '*' && accionAutomatica.filtros.monto">
                                    <strong>Con un monto total </strong>
                                    <div style="margin-top: 10px;">
                                            <span ng-if="accionAutomatica.filtros.simboloMonto=='>'" style="margin-top: 5px;">
                                                <span class="uk-badge uk-badge-success">Mayor que</span>
                                            </span>
                                        <span ng-if="accionAutomatica.filtros.simboloMonto=='<'" style="margin-top: 5px;">
                                                <span class="uk-badge uk-badge-success">Menor que</span>
                                            </span>
                                        <span ng-if="accionAutomatica.filtros.simboloMonto=='='" style="margin-top: 5px;">
                                                <span class="uk-badge uk-badge-success">Igual a</span>
                                            </span>
                                    </div>
                                    <div style="margin-top:10px">{{accionAutomatica.filtros.numeroMonto}}</div>
                                </div>
                                <div class="uk-panel caja-interior" style="text-align: center;"
                                     ng-if="accionAutomatica.filtros.monto == '*' || !accionAutomatica.filtros.monto">
                                    <strong>Sin aplicar</strong>
                                    <div style="margin-top: 10px;">
                                        <span class="uk-badge uk-badge-danger">Ningún</span>
                                    </div>
                                    <div style="margin-top:10px">filtro por monto</div>
                                </div>
                            </div>
                            <div
                                    title="Remover"
                                    style="position: absolute; right: -6px; top: -8px;"
                                    ng-click="removerRegla(accionAutomatica)"
                                    data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                            >
                                <a
                                        href="javascript:void(0)"
                                        class="md-fab md-fab-danger"
                                        style="width: 20px; height: 20px;"
                                >
                                    <i class="material-icons" style="line-height: 20px; font-size: 16px;">block</i>
                                </a>
                            </div>
                            <div
                                    title="Editar"
                                    style="position: absolute; right: -6px; top: 16px;"
                                    ng-click="abrirModalEditar(accionAutomatica)"
                                    data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                            >
                                <a
                                        href="javascript:void(0)"
                                        class="md-fab md-fab-success"
                                        style="width: 20px; height: 20px;"
                                >
                                    <i class="material-icons" style="line-height: 20px; font-size: 16px;">settings</i>
                                </a>
                            </div>
                            <div style="clear:both"></div>
                            <div class="ejecucion-caja" style="float:left;margin-top:-8px;margin-left: 15px">
                                <strong>Ejecución todos los días</strong> a las <strong>{{accionAutomatica.hora}}:00</strong> hrs
                            </div>
                            <div class="estado-caja" style="float:right;margin-top:-10px;cursor:default">
                                    <span ng-if="!accionAutomatica.activa" style="margin-top: 8px;">
                                        <span class="uk-badge uk-badge-muted">Desactivada</span>
                                    </span>
                                <span ng-if="accionAutomatica.activa" style="margin-top: 8px;">
                                        <span class="uk-badge uk-badge-success">Activada</span>
                                    </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- inicio de botón que activa modal crear nueva regla -->
<div class="md-fab-wrapper md-fab-speed-dial" style="right:100px">
    <a class="md-fab md-fab-danger" href="javascript:void(0)" ng-click="crearReglaModal()"
       data-uk-tooltip="{pos:'right'}" title="Crear Regla"><i class="material-icons">add</i></a>
</div>
<!-- fin de botón que activa modal crear nueva regla -->


<div id="agregarRegla" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div>
            <div style="padding: 5px 0px 0px 37px;">
                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Agregar Regla</h3>
            </div>
            <div style="padding: 24px 24px 30px;">
                <div class="md-card-content">
                    <div class="">
                        <form>
                            <div class="uk-grid">
                                <div class="uk-width-2-2" style="margin-bottom: 10px">
                                    <div>
                                        <div>Filtro simple de Rut emisores a los que aplica esta regla
                                            <i
                                                    title="Lista de ruts, sin puntos, y separados por coma"
                                                    class="material-icons"
                                                    style="color: orange;"
                                                    data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                            >
                                                help_outline
                                            </i>
                                        </div>

                                        <div>
                                            <tags-input ng-model="rutEmisores"
                                                        allowed-tags-pattern="^[0-9]{7,9}-[0-9kK]$"
                                                        placeholder="Ingrese un RUT"
                                            >
                                                <auto-complete></auto-complete>
                                            </tags-input>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="uk-width-1-2">
                                    <div>
                                        <label for="listaInclusion">Lista de Emisores incluidos</label>
                                        <i
                                                title="Seleccione una lista personalizada"
                                                class="material-icons"
                                                style="color: orange;"
                                                data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                        >
                                            help_outline
                                        </i>
                                        <select ng-model="listaInclusion" id="listaInclusion">
                                            <option value="*" selected="selected">Ninguna</option>
                                            <option
                                                    ng-repeat="lista in listas"
                                                    ng-value="lista.listaId"
                                                    title="{{lista.descripcion}}"
                                                    data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                            >
                                                {{lista.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                    <hr>
                                    <div>
                                        <div>Estado Recepción</div>
                                        <div>
                                            <strong for="recibidos">Recibidos</strong>
                                            <input
                                                    ng-disabled="recepcionAmbas"
                                                    id="recibidos"
                                                    type="checkbox"
                                                    ui-switch
                                                    ng-model="recepcionRecibidas"
                                                    color="#00aa00"
                                            />
                                        </div>
                                        <div>
                                            <strong for="ambas">Recibidos y No Recibidos</strong>
                                            <input
                                                    id="ambas"
                                                    type="checkbox"
                                                    ui-switch
                                                    ng-model="recepcionAmbas"
                                                    color="#00aa00"
                                            />
                                        </div>
                                    </div>

                                </div>
                                <div class="uk-width-1-2">
                                    <div>
                                        <label for="listaExclusion">Lista de Emisores excluidos</label>
                                        <i
                                                title="Seleccione una lista personalizada"
                                                class="material-icons"
                                                style="color: orange;"
                                                data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                        >
                                            help_outline
                                        </i>
                                        <select ng-model="listaExclusion" id="listaExclusion">
                                            <option value="*" selected>Ninguna</option>
                                            <option
                                                    ng-repeat="lista in listas"
                                                    ng-value="lista.listaId"
                                                    title="{{lista.descripcion}}"
                                                    data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                            >
                                                {{lista.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                    <hr>
                                    <div>
                                        <label>Estados Comerciales:</label>
                                        <i
                                                title="Para seleccionar varios, presione Ctrl/Command"
                                                class="material-icons"
                                                style="color: orange;"
                                                data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                        >
                                            help_outline
                                        </i>
                                        <br>
                                        <select multiple ng-model="estadosSeleccionados">
                                            <option
                                                    ng-repeat="($index, estado) in estadosComerciales"
                                                    value="{{$index}}"
                                            >
                                                {{estado}}
                                            </option>
                                        </select>
                                        <br>
                                        <div style="padding-top: 8px;">
                                            <span
                                                    class="uk-badge uk-badge-info"
                                                    ng-repeat="seleccionado in estadosSeleccionados"
                                                    style="margin-right: 5px; margin-bottom: 5px;"
                                            >
                                                {{estadosComerciales[seleccionado]}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="uk-width-2-2" style="margin-bottom: 10px">
                                <div>
                                    <div>Filtro por monto
                                        <i
                                                title="Solo aplicar a aquellos documentos que cumplan con esta condición"
                                                class="material-icons"
                                                style="color: orange;"
                                                data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                        >
                                            help_outline
                                        </i>
                                    </div>

                                    <div>
                                        Monto total del documento
                                        <select ng-model="comparacionMonto">
                                            <option value=">" selected>Mayor a</option>
                                            <option value=">" selected>Menor a</option>
                                            <option value="=" selected>Igual a</option>
                                        </select>
                                        <input ng-model="filtroMonto" validar="soloNumeros">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="uk-grid">
                                <div class="uk-width-1-2">
                                    <div>Días desde la recepción del SII
                                        <i
                                                title="Desde 1 a 8 días"
                                                class="material-icons"
                                                style="color: orange;"
                                                data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                        >
                                            help_outline
                                        </i>
                                        <div id="dias" name="quantity" ion-slider ng-model="diasRecepcion" min=""
                                             max="8" grid="true" title="Desde 1 a 8 días"
                                             data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"></div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2">
                                    <div>Hora de ejecución
                                        <select ng-model="horasDia">
                                            <option selected value="">Seleccione</option>
                                            <option value="0">0:00 hrs</option>
                                            <option value="1">1:00 hrs</option>
                                            <option value="2">2:00 hrs</option>
                                            <option value="3">3:00 hrs</option>
                                            <option value="4">4:00 hrs</option>
                                            <option value="5">5:00 hrs</option>
                                            <option value="6">6:00 hrs</option>
                                            <option value="7">7:00 hrs</option>
                                            <option value="8">8:00 hrs</option>
                                            <option value="9">9:00 hrs</option>
                                            <option value="10">10:00 hrs</option>
                                            <option value="11">11:00 hrs</option>
                                            <option value="12">12:00 hrs</option>
                                            <option value="13">13:00 hrs</option>
                                            <option value="14">14:00 hrs</option>
                                            <option value="15">15:00 hrs</option>
                                            <option value="16">16:00 hrs</option>
                                            <option value="17">17:00 hrs</option>
                                            <option value="18">18:00 hrs</option>
                                            <option value="19">19:00 hrs</option>
                                            <option value="20">20:00 hrs</option>
                                            <option value="21">21:00 hrs</option>
                                            <option value="22">22:00 hrs</option>
                                            <option value="23">23:00 hrs</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <label for="compararFechas">Fecha de Emisión vs Fecha de Recepción SII</label>
                                <i
                                        title="Aplicar sólo si son iguales"
                                        class="material-icons"
                                        style="color: orange;"
                                        data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                >
                                    help_outline
                                </i>
                                <input
                                        type="checkbox"
                                        id="compararFechas"
                                        ui-switch
                                        ng-model="compararFechas"
                                        color="#00aa00"
                                        data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                />
                            </div>
                            <hr>
                            <div>
                                <label for="activarRm">Emitir tambien Recibo de Mercaderías</label>
                                <input
                                        type="checkbox"
                                        id="activarRm"
                                        ui-switch
                                        ng-model="emitirReciboMercaderias"
                                        color="#00aa00"
                                />
                            </div>
                            <hr>
                            <div>
                                <label for="activarRegla">Activar Regla</label>
                                <input
                                        type="checkbox"
                                        id="activarRegla"
                                        ui-switch
                                        ng-model="estadoRegla"
                                        color="#00aa00"
                                />
                            </div>

                        </form>
                        <button ng-click="crearRegla()" class="md-btn md-btn-primary md-btn-block md-btn-large"
                                style="margin-top: 30px;">
                            Agregar Regla
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="editarRegla" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div>
            <div style="padding: 5px 0px 0px 37px;">
                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Editar Regla</h3>
            </div>
            <div style="padding: 24px 24px 30px;">
                <div class="md-card-content">
                    <div class="">
                        <form>
                            <div class="uk-grid">
                                <div class="uk-width-2-2" style="margin-bottom: 10px">
                                    <div>
                                        <div>Filtro simple de Rut emisores a los que aplica esta regla
                                            <i
                                                    title="Lista de ruts, sin puntos, y separados por coma"
                                                    class="material-icons"
                                                    style="color: orange;"
                                                    data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                            >
                                                help_outline
                                            </i>
                                        </div>

                                        <div>
                                            <tags-input ng-model="editarRutEmisores"
                                                        allowed-tags-pattern="^[0-9]{7,9}-[0-9kK]$"
                                                        placeholder="Ingrese un RUT"
                                            >
                                                <auto-complete></auto-complete>
                                            </tags-input>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="uk-width-1-2">
                                    <div>
                                        <label for="editarListaInclusion">Lista de Emisores incluidos</label>
                                        <i
                                                title="Seleccione una lista personalizada"
                                                class="material-icons"
                                                style="color: orange;"
                                                data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                        >
                                            help_outline
                                        </i>
                                        <select ng-model="editarListaInclusion" id="editarListaInclusion">
                                            <option value="*">Ninguna</option>
                                            <option
                                                    ng-repeat="lista in listas"
                                                    ng-value="lista.listaId"
                                                    title="{{lista.descripcion}}"
                                                    data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                            >
                                                {{lista.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                    <hr>
                                    <div>
                                        <div>Estado Recepción</div>
                                        <div>
                                            <strong for="recibidos-editar">Recibidos</strong>
                                            <input
                                                    ng-disabled="recepcionAmbasEditar"
                                                    id="recibidos-editar"
                                                    type="checkbox"
                                                    ui-switch
                                                    ng-model="recepcionRecibidasEditar"
                                                    color="#00aa00"
                                            />
                                        </div>
                                        <div>
                                            <strong for="ambas-editar">Recibidos y No Recibidos</strong>
                                            <input
                                                    id="ambas-editar"
                                                    type="checkbox"
                                                    ui-switch
                                                    ng-model="recepcionAmbasEditar"
                                                    color="#00aa00"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2">
                                    <div>
                                        <label for="editarListaExclusion">Lista de Emisores excluidos</label>
                                        <i
                                                title="Seleccione una lista personalizada"
                                                class="material-icons"
                                                style="color: orange;"
                                                data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                        >
                                            help_outline
                                        </i>
                                        <select ng-model="editarListaExclusion" id="editarListaExclusion">
                                            <option value="*">Ninguna</option>
                                            <option
                                                    ng-repeat="lista in listas"
                                                    ng-value="lista.listaId"
                                                    title="{{lista.descripcion}}"
                                                    data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                            >
                                                {{lista.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                    <hr>
                                    <div>
                                        <label>Estados Comerciales:</label>
                                        <i
                                                title="Para seleccionar varios, presione Ctrl/Command"
                                                class="material-icons"
                                                style="color: orange;"
                                                data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                        >
                                            help_outline
                                        </i>
                                        <br>
                                        <select multiple ng-model="editarEstadosSeleccionados">
                                            <option
                                                    ng-repeat="($index, estado) in estadosComerciales"
                                                    value="{{$index}}"
                                            >
                                                {{estado}}
                                            </option>
                                        </select>
                                        <br>
                                        <div style="padding-top: 8px;">
                                            <span
                                                    class="uk-badge uk-badge-info"
                                                    ng-repeat="seleccionado in editarEstadosSeleccionados"
                                                    style="margin-right: 5px; margin-bottom: 5px;"
                                            >
                                                {{estadosComerciales[seleccionado]}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="uk-width-2-2" style="margin-bottom: 10px">
                                <div>
                                    <div>Filtro por monto
                                        <i
                                                title="Solo aplicar a aquellos documentos que cumplan con esta condición"
                                                class="material-icons"
                                                style="color: orange;"
                                                data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                        >
                                            help_outline
                                        </i>
                                    </div>

                                    <div>
                                        Monto total del documento
                                        <select ng-model="editarComparacionMonto">
                                            <option value=">" selected>Mayor a</option>
                                            <option value=">" selected>Menor a</option>
                                            <option value="=" selected>Igual a</option>
                                        </select>
                                        <input ng-model="editarFiltroMonto" validar="soloNumeros">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="uk-grid">
                                <div class="uk-width-1-2">
                                    <div>Días desde recepción en el SII
                                        <i
                                                title="Desde 1 a 8 días"
                                                class="material-icons"
                                                style="color: orange;"
                                                data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                        >
                                            help_outline
                                        </i>
                                        <div id="diasEditar" name="quantity" ion-slider
                                             ng-model="accionAutomaticaEditable.filtros.dia" min="0" max="8" grid="true"
                                             title="Desde 1 a 8 días"
                                             data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"></div>
                                    </div>

                                </div>
                                <div class="uk-width-1-2">
                                    <div>Hora de ejecución
                                        <select ng-model="horasDiaEditar" ng-selected="horasDiaEditar">
                                            <option selected value="">Seleccione</option>
                                            <option value="0">0:00 hrs</option>
                                            <option value="1">1:00 hrs</option>
                                            <option value="2">2:00 hrs</option>
                                            <option value="3">3:00 hrs</option>
                                            <option value="4">4:00 hrs</option>
                                            <option value="5">5:00 hrs</option>
                                            <option value="6">6:00 hrs</option>
                                            <option value="7">7:00 hrs</option>
                                            <option value="8">8:00 hrs</option>
                                            <option value="9">9:00 hrs</option>
                                            <option value="10">10:00 hrs</option>
                                            <option value="11">11:00 hrs</option>
                                            <option value="12">12:00 hrs</option>
                                            <option value="13">13:00 hrs</option>
                                            <option value="14">14:00 hrs</option>
                                            <option value="15">15:00 hrs</option>
                                            <option value="16">16:00 hrs</option>
                                            <option value="17">17:00 hrs</option>
                                            <option value="18">18:00 hrs</option>
                                            <option value="19">19:00 hrs</option>
                                            <option value="20">20:00 hrs</option>
                                            <option value="21">21:00 hrs</option>
                                            <option value="22">22:00 hrs</option>
                                            <option value="23">23:00 hrs</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <label for="compararFechasEditable">Fecha de Emisión vs Fecha de Recepción SII</label>
                                <i
                                        title="Aplicar sólo si son iguales"
                                        class="material-icons"
                                        style="color: orange;"
                                        data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                >
                                    help_outline
                                </i>
                                <input
                                        type="checkbox"
                                        id="compararFechasEditable"
                                        ui-switch
                                        ng-model="accionAutomaticaEditable.filtros.compararFechas"
                                        color="#00aa00"
                                        data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                />
                            </div>
                            <hr>
                            <div>
                                <label for="activar-rm-editar">Emitir tambien Recibo de Mercaderías</label>
                                <input
                                        type="checkbox"
                                        id="activar-rm-editar"
                                        ui-switch
                                        ng-model="activarRmEditar"
                                        color="#00aa00"
                                />
                            </div>
                            <hr>
                            <div>
                                <label for="activar-regla-editar">Activar Regla</label>
                                <input
                                        type="checkbox"
                                        id="activar-regla-editar"
                                        ui-switch
                                        ng-model="estadoReglaEditar"
                                        color="#00aa00"
                                />
                            </div>
                        </form>
                        <button ng-click="editarRegla()" class="md-btn md-btn-primary md-btn-block md-btn-large"
                                style="margin-top: 30px;">
                            Modificar Regla
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
