<div class="uk-modal-dialog uk-margin-auto-vertical">
    <div class="uk-modal-header">
        <h3 class="uk-modal-title">Unidad Técnica
        </h3>
    </div>
    <div class="md-card-content">
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-medium-5-10 uk-margin-top">
                <label>Rut</label>
                <input type="text" class="md-input" md-input md-input ng-model="nuevoRut"
                       ng-rut/>
            </div>
            <div class="uk-width-medium-5-10 uk-margin-top">
                <label>Razón Social</label>
                <input type="text" class="md-input" md-input md-input ng-model="razonSocial" />
                <span class="uk-text-small uk-text-muted"></span>
            </div>

        </div>
        <div class="uk-grid uk-grid-small">
            <a ng-click="guardarUnidad(nuevoRut,razonSocial)" class="md-btn md-btn-primary md-btn-block md-btn-large">
                <span class="menu_icon">Guardar </span>
            </a>
        </div>
    </div>
    <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;z-index:-1"
         class="ng-scope"/>
</div>