<div class="uk-modal-dialog" style="width: 80%">
    <a class="uk-modal-close uk-close"></a>
    <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
        <h3>Probar</h3>
        <div class="uk-grid uk-grid-small" data-uk-grid-match="{target:'.uk-panel'}">
            <div class="uk-width-small-1-1 uk-width-medium-1-1">
                <div class="md-card-content" id="despliegue_frame" style="height:calc(100% - 50px);overflow-x:scroll;min-height:500px;">
                    <md-preloader ng-if="probando.cargando"></md-preloader>
                    <iframe ng-if="!probando.cargando" id="documento" ng-src="{{iframe}}" style="width:816px;margin:-15px;height:calc(100% - 50px)"></iframe>
                    <h3 ng-if="probando.error">Error al cargar la visualización</h3>
                </div>
            </div>
        </div>

    </div>
</div>
