/*
Copyright (c) 2003-2015, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
*/

/*
elementspath.css (part of editor.css)
=======================================

This file styles the "Elements Path", whith is the list of element names
present at the the bottom bar of the CKEditor interface.

The following is a visual representation of its main elements:

+-- .cke_path ---------------------------------------------------------------+
| +-- .cke_path_item ----+ +-- .cke_path_item ----+ +-- .cke_path_empty ---+ |
| |                      | |                      | |                      | |
| +----------------------+ +----------------------+ +----------------------+ |
+----------------------------------------------------------------------------+
*/

/* The box that holds the entire elements path. */
.cke_path {
  float: left;
}

/* Each item of the elements path. */
a.cke_path_item,
/* Empty element available at the end of the elements path, to help us keeping
   the proper box size when the elements path is empty. */
span.cke_path_empty {
  display: inline-block;
  float: left;
  padding: 4px;
  margin-right: 2px;
  cursor: default;
  text-decoration: none;
  outline: 0;
  border: 0;
  color: #212121;
  text-shadow: 0 1px 0 #fff;
  font-weight: 400;
  font-size: 12px;
}

.cke_rtl .cke_path,
.cke_rtl .cke_path_item,
.cke_rtl .cke_path_empty {
  float: right;
}

/* The items are <a> elements, so we define its hover states here. */
a.cke_path_item:hover,
a.cke_path_item:focus,
a.cke_path_item:active {
  background-color: #e4e4e4;
  color: #212121;
  border-radius: 2px;
}

.cke_hc a.cke_path_item:hover,
.cke_hc a.cke_path_item:focus,
.cke_hc a.cke_path_item:active {
  border: 2px solid;
  padding: 1px 2px;
}
