/*
Copyright (c) 2003-2015, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
*/

/* "Source" button label */
.cke_button__source_label,
.cke_button__sourcedialog_label {
  display: none;
}

/* "Font Size" combo width */
.cke_combo__fontsize .cke_combo_text {
  width: 30px;
}

/* "Font Size" panel size */
.cke_combopanel__fontsize {
  width: 120px;
}

/* Editable regions */
textarea.cke_source {
  font-family: 'Source Code Pro', Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 14px;
  background-color: #fff;
  white-space: pre-wrap;
  border: none;
  padding: 8px;
  margin: 0;
  display: block;
  box-sizing: border-box;
}

.cke_wysiwyg_frame,
.cke_wysiwyg_div {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  max-height: 100% !important;
}
