<style>
    .bounce {
        -webkit-animation: bounce 3s infinite;
        animation: bounce 3s infinite;
    }
    @-webkit-keyframes bounce {
        0%       { bottom:5px; }
        25%, 75% { bottom:10px; }
        50%      { bottom:15px; }
        100%     {bottom:0;}
    }



</style>
<div id="page_content">
    <div class="md-card uk-margin-medium-bottom">
        <div id="page_content_inner">
            <img ng-click="deQuien()" width="90" src="https://www.aliciagalvan.com/wp-content/themes/aliciagalvan/images/tarot-gratis/tarot-bola/bola1.jpg" style="position: fixed;right:20px;top:50px;z-index:99;cursor:pointer"/>
            <h3 class="heading_b uk-margin-bottom">Bola de cristal</h3>Para adivinar que hicieron los usuarios


            <div class="md-card-content">
                <div class="uk-overflow-container">

                    <div class="uk-input-group" style="margin-top:10px">
                        <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-search"></i></span>
                        <label for="usuario_correo">Que buscas?</label>
                        <input autocomplete="off" class="md-input" type="text" id="usuario_correo" md-input ng-model="query">
                    </div>


                    <table class="uk-table uk-table-nowrap uk-table-hover" >
                        <thead>
                            <tr>
                                <th class="uk-width-2-10 uk-text-center">Fecha y hora</th>
                                <th class="uk-width-2-10 uk-text-center">Actividad</th>
                                <th class="uk-width-2-10 uk-text-center">Resultado</th>
                                <th class="uk-width-2-10 uk-text-center">Origen</th>
                                <th class="uk-width-2-10 uk-text-center">Duración</th>
                                <th class="uk-width-2-10 uk-text-center">Log</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="actividad in actividades| filter: filtrarActividad">
                                <td class="uk-width-2-10 uk-text-center">{{actividad.fecha}} {{actividad.hora}}</td>
                                <td class="uk-width-2-10 uk-text-center">{{actividad.accion}}</td>
                                <td class="uk-width-2-10 uk-text-center">
                                    <div ng-switch="actividad.resultado">
                                        <span ng-switch-when="10" style="color:green">Acción ejecutada</span>
                                        <span ng-switch-default style="color:red">Error en ejecución (error {{actividad.resultado}})</span>

                                    </div>
                                </td>
                                <td class="uk-width-2-10 uk-text-center">{{ ubicaciones[actividad.ip].ip }} 
                                    <span ng-if="ubicaciones[actividad.ip].ciudad != ''">{{ubicaciones[actividad.ip].ciudad}}</span>
                                    <span ng-if="ubicaciones[actividad.ip].pais != ''">, {{ubicaciones[actividad.ip].pais}}</span>
                                    
                                </td>
                                <td class="uk-width-2-10 uk-text-center">
                                    <div ng-switch="actividad.duracion">
                                        <span ng-switch-when="0" style="color:green">Menos de 1 segundo <i class="material-icons">&#xE877;</i></span>
                                        <span ng-switch-when="1" style="color:green">1 segundo <i class="material-icons">&#xE5CA;</i></span>
                                        <span ng-switch-default style="color:red">{{actividad.duracion}} segundos <i class="material-icons">&#xE002;</i></span>
                                    </div>
                                </td>
                                <td class="uk-width-1-10 uk-text-center">
                                    <a ui-sref="restringido.logs({seguimientoId: actividad.actividadId,app:app})" target="_blank" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"  title="Ver log" ><i style="color:red" class="material-icons">&#xE868;</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>         
</div>
<img width="80" src="https://cdn.officialpsds.com/imageview/7m/99/7m994n_large.png?1307037121" id="uranai" style="position:fixed;z-index:999;right:20px;bottom: 60px" class="bounce" ng-click="deQuien()"/>


<ng-include src="'app/febos/bola_de_cristal/usuarios.html'"></ng-include>