<style>
    .usuario:hover{
        cursor:pointer;
        border-right: solid 10px orangered;
        background-color: #eee;
    }
</style>
<div id="mdlUsuarios" class="uk-modal">
    <form name="form" novalidate>
        <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body">
            <a class="uk-modal-close uk-close"></a>

            <div class="uk-modal-header">
                <h3 class="uk-modal-title" style="color: #e4501e;">
                    <span ng-if="usuarios.length==0">No percibo a nadie con ese nombre, rut o correo</span>
                    <span ng-if="usuarios.length==1">Este es el único paisano(a) que encontré</span>
                    <span ng-if="usuarios.length>1">Selecciona un paisano</span>
                </h3>
            </div>

            <!-- <div class="uk-margin uk-grid-small uk-child-width-auto" ng-if="consultandoSii">
                 <div class="uk-margin">
                     <i class="uk-icon-spinner uk-icon-medium uk-icon-spin" style="font-size: 22px"></i> Consultando documento...
                 </div>
             </div>-->

            <div class="uk-margin uk-grid-small uk-child-width-auto">

                <div>
                    <ul class="md-list md-list-addon">
                        <li class="usuario" ng-if="!cargandoSublista && usuarios.length == 0">
                            <div class="md-list-content" style="margin:20px;padding:20px;">
                                vacio absoluto...
                            </div>
                        </li>

                        <li class="usuario" ng-repeat="el in usuarios" ng-click="$parent.seleccionarUsuario(el)" style="margin-left: 0px">
                            <div class="md-list-content" style="width:80%">
                                <span class="md-list-heading">{{ el.nombre}}</span>
                                <span class="uk-text-small uk-text-muted">{{ el.correo}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%; z-index: 10;" class="ng-scope" />
            </div>
        </div>
    </form>
</div>  