<div class="uk-modal-dialog">
    <div class="uk-modal-header">
        <h3 class="uk-modal-title">Carga masiva de documentos boradores</h3>
    </div>

    <div class="uk-modal-body uk-text-center " ng-if="borradorOpciones.cargando">
      <md-preloader></md-preloader>
      CARGANDO CONFIGURACIONES
    </div>
    <div class="uk-modal-body uk-text-center " ng-if="!borradorOpciones.cargando">
        <span>Debe adjuntar un archivo CSV que contenga exactamente la siguiente estructura de campos, y en el mismo orden, separando los campos por "{{borradorOpciones.delimitador.descripcion}}"</span>
        <ul style="text-align: left">
            <li ng-repeat="cabecera in camposCargaBorradores">
                <b>{{cabecera.campo}}:</b> {{cabecera.descripcion}} <b ng-if="!cabecera.opcional" style="color: red;">(*)</b>
            </li>
        </ul>
        <span class="uk-text-danger">{{errorCargaBorradores}}</span>
    </div>

    <div class="uk-modal-footer uk-text-center"  ng-if="!borradorOpciones.cargando">
        <div class="uk-form-file md-btn md-btn-primary">
            <i class="material-icons no_margin">attachment</i>Adjuntar archivo
            <input id="form-file" type="file" leer-archivo-detect="procesarArchivoCargaBorradores($fileContent)">
        </div>
    </div>

    <div class="uk-modal-footer uk-text-center" ng-if="cargaBorradoresMasivaOk"  ng-if="!borradorOpciones.cargando">
        <button type="button" class="md-btn md-btn-flat uk-modal-close" ng-click="enviarCargaMasivaDeBorradores()">
            Procesar
        </button>
    </div>
</div>
