<style>
    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }
    li.L0, li.L1, li.L2, li.L3,
    li.L5, li.L6, li.L7, li.L8 {
        list-style-type: decimal !important;
    }
</style>

<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_b uk-margin-bottom">Logs de sistema</h3> <span ng-if="datos.seguimientoId != ''">Analizando ID de Seguimiento: {{datos.seguimientoId}} </span>
        <div class="uk-grid">
            <div class="uk-width-medium-3-5">
                <div class="uk-input-group" style="margin-top:10px">
                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-search"></i></span>
                    <label for="usuario_correo">Que buscas?</label>
                    <input autocomplete="off" class="md-input" type="text" id="usuario_correo" md-input ng-model="query">
                </div>
            </div>
            <div class="uk-width-medium-1-5">
                <a ng-click="seguimiento()" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" style="width:100%">
                    <i ng-if="!cargando" class="material-icons">&#xE8B6;</i> {{cargando?'Cargando...':'Buscar otro ID de Seguimiento'}}
                </a>
            </div>
            <div class="uk-width-medium-1-5">
                <a ng-click="buscar()" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" style="width:100%">
                    <i ng-if="!cargando" class="material-icons">&#xE5D5;</i> Refrescar
                </a>
            </div>
        </div>
        <div class="md-card" ng-if="datos.seguimientoId != ''">
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-nowrap">
                        <thead>
                            <tr>
                                <th class="uk-width-1-10 uk-text-center">Fecha y Hora</th>
                                <th class="uk-width-2-10 uk-text-center">Tipo</th>
                                <th class="uk-width-2-10 uk-text-center">Lambda</th>
                                <th class="uk-width-2-10 uk-text-center">Versión</th>
                                <th class="uk-width-1-10 uk-text-center">Mensaje</th>
                                <th class="uk-width-2-10 uk-text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="cargando">
                                <td colspan="6"><center><img src="/ajax-loader.gif"> Buscando registros...</center></td>
                        </tr>
                        <tr ng-if="logs.length == 0 && !cargando">
                            <td colspan="6"><center>No se encontraron registros</center></td>
                        </tr>
                        <tr ng-repeat="log in logs| filter: filtrar">
                            <td class="uk-text-center">{{log.fecha}}</td>
                            <td class="uk-text-center">
                                <div ng-switch="log.tipo">
                                    <span ng-switch-when="INFO" class="uk-badge uk-badge-success">{{log.tipo}}</span>
                                    <span ng-switch-when="DEBUG" class="uk-badge uk-badge-muted">{{log.tipo}}</span>
                                    <span ng-switch-when="ERROR" class="uk-badge uk-badge-danger">{{log.tipo}}</span>
                                    <span ng-switch-when="WARN" class="uk-badge uk-badge-warning">{{log.tipo}}</span>
                                </div>
                            </td>
                            <td class="uk-text-center">{{log.function}}</td>
                            <td class="uk-text-center">{{log.version}}</td>
                            <td>{{ (log.mensaje.length > 100)?log.mensaje.substring(0, 100) + '...':log.mensaje}}</td>

                            <td class="uk-text-center">
                                <a ng-click="ver('mensaje', log)" data-uk-tooltip="{cls:'long-text'}"  title="Ver mensaje completo"><i class="md-icon material-icons">&#xE8F4;</i></a>
                                <a ng-click="ver('stacktrace', log)" data-uk-tooltip="{cls:'long-text'}"  title="Examinar Stacktrace"><i class="md-icon material-icons" >&#xE868;</i></a>
                                <a ng-click="ver('objeto', log)" data-uk-tooltip="{cls:'long-text'}"  title="Ver Objeto relacionado" ng-if="log.objeto"><i class="md-icon material-icons">&#xE87B;</i></a>
                                <a data-uk-tooltip="{cls:'long-text'}"  title="Registro no posee objeto relacionado" ng-if="!log.objeto" ><i class="md-icon material-icons" style="color: #CCC;cursor: not-allowed">&#xE87B;</i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>    
    </div>
</div>
<div class="uk-modal" id="modal_log">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">
                <i ng-if="icono == 'mensaje'" class="material-icons">&#xE8F4;</i> 
                <i ng-if="icono == 'objeto'" class="material-icons">&#xE87B;</i> 
                <i ng-if="icono == 'stacktrace'" class="material-icons">&#xE868;</i> 
                {{titulo}}
            </h3>
        </div>
        <div id="codigo_wrapper">

        </div>
    </div>
</div>