<!DOCTYPE html>
<html lang="en" class="{{main_theme}}" ng-app="febosApp" document-events  ng-click="onClick($event)" ng-keydown="onKeyUp($event)"
    ng-class="{
        'page_loading': pageLoading,
                'page_loaded': pageLoaded,
                'app_initialized': appInitialized && (!$state.is('login') && !$state.includes('error'))
                }">

<head>
    <meta charset="UTF-8">
    <title page-title ng-bind="'Febos :: ' + (page_title?page_title:'Webapp')"></title>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="assets/img/favicon/FEBOS_MIN_32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/img/favicon/FEBOS_MIN_16.png" sizes="16x16" />
    <link rel="mask-icon" href="assets/img/favicon/anchorIcon.svg" color="#e4501e" />

    <!-- flag icons -->
    <link rel="stylesheet" href="assets/icons/flags/flags.min.css" media="all">

    <!-- ayuda -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.5/showdown.min.js"></script>


    <!-- JS -->
    <!-- common functions -->
    <script src="assets/js/md5.js"></script>
    <script src="assets/js/common.min.js"></script>
    <script src="assets/js/split.js"></script>
    <!-- ANGULAR -->
    <script src="assets/js/angular_common.min.js"></script>

    <script type='text/javascript' src='bower_components/ng-idle/angular-idle.min.js'></script>
    <script type='text/javascript' src='bower_components/angular-media-queries/match-media.js'></script>

    <script src="assets/js/utilitarios.js"></script>
    <script src="assets/js/MontoEnPalabras.js"></script>
    <script src="assets/js/febos_app.min.js"></script>
    <script src="assets/js/rut_helper.js"></script>

    <!-- altair_app.js:
        <script src="app/app.js"></script>
        <script src="app/app.service.js"></script>
        <script src="app/app.factory.js"></script>        
        <script src="app/app.directive.js"></script>
        <script src="app/app.filters.js"></script>
        <script src="app/app.states.js"></script>
        <script src="app/app.controller.js"></script>
        <script src="app/app.oc_lazy_load.js"></script>
        -->

    <script src="bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="bower_components/canvg/dist/canvg.bundle.min.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
    <link href="bower_components/ng-tags-input/ng-tags-input.min.css" rel="stylesheet" type="text/css" />
    <!-- main stylesheet -->
    <link rel="stylesheet" href="assets/css/main.min.css" media="all" id="main_stylesheet">



    <style>
        .split {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            overflow-y: auto;
            overflow-x: hidden;
        }

        .gutter {
            background-color: transparent;

            background-repeat: no-repeat;
            background-position: 50%;
        }

        .gutter.gutter-vertical {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=')
        }

        .gutter.gutter-horizontal {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==')
        }

        .split.split-horizontal,
        .gutter.gutter-horizontal {
            height: 100%;
            float: left;
        }

        .split {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .split,
        .gutter.gutter-horizontal {
            float: left;
        }

        .split,
        .gutter.gutter-horizontal {
            height: 300px;
        }
        @page { margin: 0; }
        .fa-spin {
            -webkit-animation: fa-spin 2s infinite linear;
            animation: fa-spin 2s infinite linear;
        }
        .fa-pulse {
            -webkit-animation: fa-spin 1s infinite steps(8);
            animation: fa-spin 1s infinite steps(8);
        }
        @-webkit-keyframes fa-spin {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
            }
        }
        @keyframes fa-spin {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
            }
        }
    </style>
    <script>
        var dominio = window.location.href.split("/")[2].split(":")[0];
        var ambiente = window.location.href.split("/")[3];
        if (ambiente != 'pruebas' && ambiente != 'certificacion' && ambiente != "produccion") {
            ambiente = "desarrollo";
        }
        var link = document.createElement("link");
        link.rel = "stylesheet";
        link.href = "https://archivos.febos.io/chile/" + ambiente + "/estilos/" + dominio + ".min.css";
        link.media = "all";
        document.getElementsByTagName("head")[0].appendChild(link);
        var height = $(window).height();
        var width = $(window).width();
        var elMayor = height > width ? height : width;
        var dimensiones = Math.round(elMayor * 1.5);
        var estilos = document.createElement("style");

        var ondas = ".wave { \
                opacity: .4; \
                position: absolute; \
                top: -"+ Math.round(dimensiones * 0.6) + "px; \
                left: -"+ Math.round(width / 10) + "px; \
                width:"+ dimensiones + "px; \
                height:"+ dimensiones + "px; \
                transform-origin: 50% 48%; \
                border-radius: 43%; \
                animation: drift 3000ms infinite linear; \
            }"

        var bghead = "\n#sidebar_main sidebar_main_header{ background-image: url(https://archivos.febos.io/chile/" + ambiente + "/estilos/sidebar_head_bg.png)!important;}";
        var css = ondas + bghead;
        var estilo = document.createTextNode(css);
        estilos.appendChild(estilo);
        document.getElementsByTagName("head")[0].appendChild(estilos);


    </script>
    <style>
        .wave.-three {
            animation: drift 5000ms infinite linear;
        }

        .wave.-two {
            animation: drift 7000ms infinite linear;
            opacity: .1;
        }

        @keyframes drift {
            from {
                transform: rotate(0deg);
            }
            from {
                transform: rotate(360deg);
            }
        }
    </style>
    <style>
        /** estilo especial para mostrar permisos de una vista */

        /* Base styles for the element that has a tooltip */

        [permiso],
        .superadmin {
            position: relative;
            cursor: pointer;
        }

        /* Base styles for the entire tooltip */

        [permiso]:before,
        [permiso]:after,
        .superadmin:before,
        .superadmin:after {
            position: absolute;
            visibility: hidden;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
            opacity: 0;
            -webkit-transition: opacity 0.2s ease-in-out,
            visibility 0.2s ease-in-out,
            -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
            -moz-transition: opacity 0.2s ease-in-out,
            visibility 0.2s ease-in-out,
            -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
            transition: opacity 0.2s ease-in-out,
            visibility 0.2s ease-in-out,
            transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            pointer-events: none;
        }

        /* Show the entire tooltip on hover and focus */

        [permiso].mostrarPermiso:before,
        [permiso].mostrarPermiso:after,
        [permiso].mostrarPermiso:before,
        [permiso].mostrarPermiso:after,
        .superadmin.mostrarPermiso:before,
        .superadmin.mostrarPermiso:after,
        .superadmin.mostrarPermiso:before,
        .superadmin.mostrarPermiso:after {
            visibility: visible;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
            opacity: 1;
        }

        /* Base styles for the tooltip's directional arrow */

        .mostrarPermiso:before,
        [permiso]:before {
            z-index: 1001;
            border: 6px solid transparent;
            background: transparent;
            content: "";
        }

        /* Base styles for the tooltip's content area */

        .mostrarPermiso:after,
        [permiso]:after {
            z-index: 1000;
            padding: 8px;
            width: 100px;
            text-align:center;
            background-color: #000;
            background-color: hsla(0, 0%, 20%, 0.9);
            color: #fff;
            content: attr(permiso);
            font-size: 14px;
            line-height: 1.2;
        }

        /* Directions */

        /* Top (default) */

        [permiso]:before,
        [permiso]:after,
        .superadmin:before,
        .superadmin:after,
        .superadmin-top:before,
        .superadmin-top:after {
            bottom: 100%;
            left: 50%;
        }

        [permiso]:before,
        .superadmin:before,
        .superadmin-top:before {
            margin-left: -6px;
            margin-bottom: -12px;
            border-top-color: #000;
            border-top-color: hsla(0, 0%, 20%, 0.9);
        }

        /* Horizontally align top/bottom tooltips */

        [permiso]:after,
        .superadmin:after,
        .superadmin-top:after {
            margin-left: -30px;
        }

        [permiso].mostrarPermiso:before,
        [permiso].mostrarPermiso:after,
        [permiso].mostrarPermiso:before,
        [permiso].mostrarPermiso:after,
        .superadmin:hover:before,
        .superadmin:hover:after,
        .superadmin:focus:before,
        .superadmin:focus:after,
        .superadmin-top:hover:before,
        .superadmin-top:hover:after,
        .superadmin-top:focus:before,
        .superadmin-top:focus:after {
            -webkit-transform: translateY(-12px);
            -moz-transform: translateY(-12px);
            transform: translateY(-12px);
        }

        /* Left */

        .superadmin-left:before,
        .superadmin-left:after {
            right: 100%;
            bottom: 50%;
            left: auto;
        }

        .superadmin-left:before {
            margin-left: 0;
            margin-right: -12px;
            margin-bottom: 0;
            border-top-color: transparent;
            border-left-color: #000;
            border-left-color: hsla(0, 0%, 20%, 0.9);
        }

        .superadmin-left.mostrarPermiso:before,
        .superadmin-left.mostrarPermiso:after,
        .superadmin-left.mostrarPermiso:before,
        .superadmin-left.mostrarPermiso:after {
            -webkit-transform: translateX(-12px);
            -moz-transform: translateX(-12px);
            transform: translateX(-12px);
        }

        /* Bottom */

        .superadmin-bottom:before,
        .superadmin-bottom:after {
            top: 100%;
            bottom: auto;
            left: 50%;
        }

        .superadmin-bottom:before {
            margin-top: -12px;
            margin-bottom: 0;
            border-top-color: transparent;
            border-bottom-color: #000;
            border-bottom-color: hsla(0, 0%, 20%, 0.9);
        }

        .superadmin-bottom.mostrarPermiso:before,
        .superadmin-bottom.mostrarPermiso:after,
        .superadmin-bottom.mostrarPermiso:before,
        .superadmin-bottom.mostrarPermiso:after {
            -webkit-transform: translateY(12px);
            -moz-transform: translateY(12px);
            transform: translateY(12px);
        }

        /* Right */

        .superadmin-right:before,
        .superadmin-right:after {
            bottom: 50%;
            left: 100%;
        }

        .superadmin-right:before {
            margin-bottom: 0;
            margin-left: -12px;
            border-top-color: transparent;
            border-right-color: #000;
            border-right-color: hsla(0, 0%, 20%, 0.9);
        }

        .superadmin-right.mostrarPermiso:before,
        .superadmin-right.mostrarPermiso:after,
        .superadmin-right.mostrarPermiso:before,
        .superadmin-right.mostrarPermiso:after {
            -webkit-transform: translateX(12px);
            -moz-transform: translateX(12px);
            transform: translateX(12px);
        }

        /* Move directional arrows down a bit for left/right tooltips */

        .superadmin-left:before,
        .superadmin-right:before {
            top: 3px;
        }

        /* Vertically center tooltip content for left/right tooltips */

        .superadmin-left:after,
        .superadmin-right:after {
            margin-left: 0;
            margin-bottom: -16px;
        }
    </style>
    <!-- matchMedia polyfill for testing media queries in JS -->
    <!--[if lte IE 9]>
            <script type="text/javascript" src="bower_components/matchMedia/matchMedia.js"></script>
            <script type="text/javascript" src="bower_components/matchMedia/matchMedia.addListener.js"></script>
            <link rel="stylesheet" href="assets/css/ie.css" media="all">
        <![endif]-->

</head>

<body ng-class="{
    'sidebar_main_active': primarySidebarActive && !miniSidebarActive && !topMenuActive && (!$state.is('login') && !$state.includes('error')),
            'sidebar_main_open': primarySidebarOpen && !miniSidebarActive && !slimSidebarActive && !topMenuActive && largeScreen && (!$state.is('login') && !$state.includes('error')),
            'sidebar_mini': miniSidebarActive && largeScreen && !topMenuActive && (!$state.is('login') && !$state.includes('error')),
            'sidebar_slim sidebar_slim_inactive': slimSidebarActive && largeScreen && !topMenuActive && (!$state.is('login') && !$state.includes('error')),
            'sidebar_main_hiding': primarySidebarHiding,
            'sidebar_secondary_active': secondarySidebarActive && (!$state.is('login') && !$state.includes('error')),
            'top_bar_active': toBarActive && (!$state.is('login') && !$state.includes('error')),
            'page_heading_active': pageHeadingActive && (!$state.is('login') && !$state.includes('error')),
            'header_double_height': headerDoubleHeightActive && (!$state.is('login') && !$state.includes('error')),
            'main_search_active': mainSearchActive && (!$state.is('login') && !$state.includes('error')),
            'header_full': fullHeaderActive && (!$state.is('login') && !$state.includes('error')),
            'boxed_layout': boxedLayoutActive && (!$state.is('login') && !$state.includes('error')),
            'login_page': $state.is('login') || $state.is('selectorEmpresa'),
            'login_page login_page_v2': $state.is('login_v2') || $state.is('ingreso'),
            'error_page': $state.includes('error'),
            'uk-height-1- 1': page_full_height,
            'footer_active': footerActive,
            'main_search_persistent': mainSearchPersistent,
            'custom_theme':true
            }" content-sidebar>
    <div id="page_preloader" ng-hide="hidePreloader" style="left:0px;top:0px">
        <img src="assets/img/logos/FEBOS_LOADER.svg" alt="" style="z-index:1" />
        <br/>
        <center style="position:absolute;left:50%;top:50%;width:200;width:200px;margin-top:30px;margin-left: -100px;text-shadow: 1px 1px #ddd;font-weight:100;z-index:1">Espera un momento por favor</center>

        <div class='wave -one color-bg-principal'></div>
        <div class='wave -two color-bg-principal'></div>
        <div class='wave -three color-bg-principal'></div>
    </div>

    <div ui-view id="main_view" ng-class="{'uk-height-1-1': page_full_height }"></div>
    <div ng-include="'app/febos/error/errorView.html'"></div>
    <div class="uk-modal" id="modal_idle">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Tu sesión va a caducar!</h3>
            </div>
            <p>Has estado inactivo por varios minutos, y por razones de seguridad cerraremos esta sesión.</p>
            <p>Tu sesión expirará en
                <span class="uk-text-bold md-color-red-500" id="sessionSecondsRemaining"></span> segundos.</p>
        </div>
    </div>
    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
            <script type="text/javascript">
                var ambiente=window.location.href.split("/")[3];
                var portal=window.location.href.split("/")[5];
                if(ambiente=='produccion' || ambiente=='#'){
                    if(portal != 'proveedores' && portal != 'cliente'){
                        window._chatlio = window._chatlio||[];
    !function(){ var t=document.getElementById("chatlio-widget-embed");if(t&&window.ChatlioReact&&_chatlio.init)return void _chatlio.init(t,ChatlioReact);for(var e=function(t){return function(){_chatlio.push([t].concat(arguments)) }},i=["configure","identify","track","show","hide","isShown","isOnline", "page", "open", "showOrHide"],a=0;a<i.length;a++)_chatlio[i[a]]||(_chatlio[i[a]]=e(i[a]));var n=document.createElement("script"),c=document.getElementsByTagName("script")[0];n.id="chatlio-widget-embed",n.src="https://w.chatlio.com/w.chatlio-widget.js",n.async=!0,n.setAttribute("data-embed-version","2.3");
       n.setAttribute('data-widget-id','1cf05758-a44d-47d0-5341-b0e388e4cba6');
       c.parentNode.insertBefore(n,c);
    }();
                    }else{   
                        window._chatlio = window._chatlio||[];
    !function(){ var t=document.getElementById("chatlio-widget-embed");if(t&&window.ChatlioReact&&_chatlio.init)return void _chatlio.init(t,ChatlioReact);for(var e=function(t){return function(){_chatlio.push([t].concat(arguments)) }},i=["configure","identify","track","show","hide","isShown","isOnline", "page", "open", "showOrHide"],a=0;a<i.length;a++)_chatlio[i[a]]||(_chatlio[i[a]]=e(i[a]));var n=document.createElement("script"),c=document.getElementsByTagName("script")[0];n.id="chatlio-widget-embed",n.src="https://w.chatlio.com/w.chatlio-widget.js",n.async=!0,n.setAttribute("data-embed-version","2.3");
       n.setAttribute('data-widget-id','6e3091c3-1250-4354-54f5-1ac84fd21802');
       c.parentNode.insertBefore(n,c);
    }();
                    }
                }
                
            </script>
            <script>
                function chat(){
                if(window.location.href.includes("/ingreso")){
                    $("#chatlio-widget").hide();
                }else{
                    $("#chatlio-widget").show();
                }
            }
            setInterval(function(){ chat(); }, 2000);
                
            </script>
</body>

</html>