<style>
    .campo{
        font-weight: 800;
    }
    .valor{
        margin-left: 20px;
        max-width: 258px;
        overflow-x: hidden;
        font-weight: 200;
    }
    li.filtro{
        margin-left: -20px;
        border-bottom: 1px dashed #ccc;
        margin-bottom: 3px;
    }
    li.filtro:hover:not(.configurando){
        padding-left: 20px;
        cursor: pointer;
    }
    .eliminar{
        display: none;
        cursor: pointer;
        position:absolute;
        font-size:28px;
        left: 15px;
    }
    li.filtro:hover:not(.configurando) > .eliminar {
        display: inline-block;

    }
    .filtroAplicado span.switchery{
        position:absolute;
        right:14px;
        margin-top:-15px
    }
    .filtroAplicado .md-input-wrapper{
        display: inline-block;
        width:100px;
    }
    #listar_filtros_toggle {
        position: absolute;
        top: 58px;
        left: -44px;
        width: 44px;
        height: 36px;
        background: #fff;
        border-radius: 4px 0 0 4px;
        cursor: pointer;
        padding: 0 8px;
        -webkit-box-shadow: -2px 2px 5px rgba(0,0,0,.26);
        box-shadow: -2px 2px 5px rgba(0,0,0,.26);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        z-index: 1096;
    }
    #listar_filtros_toggle .material-icons{
        font-size: 24px;
        line-height: 36px;
        color: #212121;
    }
    .activo{
        background-color:green;
    }


</style>

<div id="config_filtros" ng-class="{'switcher_active':configFiltrosActivo}" ng-escape="esconderFiltros()">
    <button ng-if="activo=='f'" ng-click="aplicar()" class="md-btn md-btn-flat-success md-btn-mini md-btn-wave-light md-btn-icon waves-effect waves-button waves-light" style="position:absolute;right: 10px;">Aplicar</button>
    <button ng-if="activo=='f'" ng-click="guardar()" class="md-btn md-btn-primary md-btn-mini md-btn-wave-light md-btn-icon waves-effect waves-button waves-light" style="position:absolute;right: 90px;">Guardar vista</button>
    <div id="config_filtros_toggle" ng-class="{'activo':activo == 'f'}" ng-click="toggleConfigFiltros($event, 'f')" data-uk-tooltip="{cls:'long-text'}" title="Afinar búsqueda de documentos">
        <i class="material-icons color-principal" ng-if="activo != 'f' || !configFiltrosActivo">&#xE8FF;</i>
        <i class="material-icons color-acentuado" ng-if="activo == 'f' && configFiltrosActivo" style="green">keyboard_arrow_right</i>
    </div>
    <div id="listar_filtros_toggle" ng-class="{'activo':activo == 'l'}" ng-click="toggleConfigFiltros($event, 'l')" data-uk-tooltip="{cls:'long-text'}" title="Mis vistas guardadas">
        <i class="material-icons " ng-if="activo != 'l' || !configFiltrosActivo" style="color:red">favorite</i>
        <i class="material-icons color-acentuado" ng-if="activo == 'l' && configFiltrosActivo" style="green">keyboard_arrow_right</i>
    </div>
    <div ng-if="activo=='f'">
        <div class="uk-margin-medium-bottom">
            <h4 class="heading_c">Filtros 
                <div class="uk-button-dropdown" data-uk-dropdown>
                    <i class="material-icons" style="color:green;cursor:pointer;" data-uk-tooltip="{cls:'long-text'}" title="Agregar un filtro para un campo">&#xE147;</i>
                    <div class="uk-dropdown uk-dropdown-small uk-dropdown-scrollable">
                        <ul class="uk-nav uk-nav-dropdown">
                            <li ng-repeat="campo in posiblesCampos|filter:filtroCategoriaDte" ng-if="!yaSeEstaFiltrando(campo)" >
                                <a ng-click="agregarFiltro(campo)">{{campo.nombre}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </h4>
            <p>
            <ul style="list-style: none">
                <li ng-repeat="filtro in filtros" ng-class="{'filtro':true,'configurando':filtro.configurando}" ng-if="!campoBloqueado(filtro.campo)">
                    <i class="material-icons eliminar" style="color:red" ng-click="eliminarFiltro(filtro)" data-uk-tooltip="{pos: left,'cls':'long-text'}" title="Eliminar filtro">delete_forever</i>
                    <div class="filtroAplicado" ng-if="!filtro.configurando" ng-click="configurar(filtro)">
                        <div class="campo">{{ filtro.nombre}}</div>
                        <div class="valor" ng-if="filtro.tipoFiltro == 'tag'">{{ filtro.valor.join(", ")}}</div>
                        <div class="valor" ng-if="(filtro.tipoFiltro == 'texto' || (filtro.valor | tipoDeDato) == 'string') && filtro.tipoFiltro != 'fecha'">{{ filtro.valor}}</div>
                        <div class="valor" ng-if="filtro.tipoFiltro == 'fecha' && filtro.manual == true">{{ filtro.valor.desde + " al " + filtro.valor.hasta}}</div>
                        <div class="valor" ng-if="filtro.tipoFiltro == 'fecha' && filtro.manual == false">{{ convertirFechaEnProsa(filtro.valor.texto)}}</div>
                    </div> 
                    <div class="filtroAplicado" ng-if="filtro.configurando">
                        <div class="campo">{{ filtro.nombre}}</div>
                        <input ng-if="filtro.tipoFiltro == 'fecha'" type="checkbox" ui-switch ng-model="filtro.manual" id="switch_{{filtro.campo}}" data-uk-tooltip="{pos: left,'cls':'long-text'}" title="Definir manualmente" style="position:absolute;right:14px;margin-top:-15px"/>
                        <div class="valor" ng-if="filtro.tipoFiltro == 'tag'" style="z-index: 9">
                            <selectize id="{{ filtro.campo}}" config="selectize_config" options="filtro.opciones" position="bottom" ng-model="filtro.valor" ng-if="typeof (filtro.opciones) != 'undefined'" style="z-index: 10"></selectize>
                            <selectize id="{{ filtro.campo}}" config="selectize_config" options="filtro.opciones" position="bottom" ng-model="filtro.valor" ng-if="typeof (filtro.opciones) == 'undefined'"></selectize>
                        </div>
                        <div class="valor" ng-if="filtro.tipoFiltro == 'fecha' && filtro.manual == true">
                            <span>
                                <input style="width:100px" class="md-input" type="text" data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}" md-input ng-model="filtro.valor.desde">
                            </span>
                            <span style="margin-right:10px">al</span>
                            <span>
                                <input style="width:100px" class="md-input" type="text" data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}" md-input ng-model="filtro.valor.hasta">
                            </span>
                        </div>
                        <div class="valor" ng-if="filtro.tipoFiltro == 'fecha' && filtro.manual == false">
                            <selectize id="{{ filtro.campo}}" config="selectize_fecha_config" options="filtro.opciones" position="bottom" ng-model="filtro.valor.texto" ng-if="typeof (filtro.opciones) != 'undefined'" style="z-index: 10"></selectize>
                        </div>
                        <div class="valor" ng-if="filtro.tipoFiltro == 'texto'">
                            <input type="text" class="md-input" ng-model="filtro.valor" md-input />
                        </div>
                    </div> 
                </li>
            </ul>
            </p>

        </div>
        <div class="uk-visible-large">
            <h4 class="heading_c">Orden 
                <div class="uk-button-dropdown" data-uk-dropdown>
                    <i class="material-icons" style="color:green;cursor:pointer;" data-uk-tooltip="{cls:'long-text'}" title="Ordenar los resultados por un campo">&#xE147;</i>
                    <div class="uk-dropdown uk-dropdown-small uk-dropdown-scrollable">
                        <ul class="uk-nav uk-nav-dropdown">
                            <li ng-repeat="campo in posiblesCampos" ng-if="!yaSeEstaOrdenado(campo)" >
                                <a ng-click="agregarOrden(campo)">{{campo.nombre}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </h4>
            <p>
            <ul style="list-style: none">
                <li ng-repeat="orden in ordenes" class="filtro">
                    <i class="material-icons eliminar" style="color:red" ng-click="eliminarOrden(orden)" data-uk-tooltip="{pos:'left'}" title="Eliminar Orden">delete_forever</i>
                    <div class="filtroAplicado" ng-click="toggleOrden(orden)">
                        <div class="campo">{{ orden.nombre}}</div>
                        <div class="valor" ng-if="orden.orden == '-'" data-uk-tooltip="{pos: left,'cls':'long-text'}" title="Cambiar sentido"><i class="material-icons">keyboard_arrow_down</i> Descendente</div>
                        <div class="valor" ng-if="orden.orden == '+'" data-uk-tooltip="{pos: left,'cls':'long-text'}" title="Cambiar sentido"><i class="material-icons">keyboard_arrow_up</i> Ascendente</div>
                    </div>
                </li>
            </ul>
            </p>
        </div>
    </div>
    <div ng-if="activo=='l'">
            <h4 class="heading_c">Mis vistas
                <div class="uk-button-dropdown" data-uk-dropdown>
                    <div class="uk-dropdown uk-dropdown-small uk-dropdown-scrollable">
                        <ul class="uk-nav uk-nav-dropdown">
                            <li ng-repeat="campo in posiblesCampos" ng-if="!yaSeEstaOrdenado(campo)" >
                                <a ng-click="agregarOrden(campo)">{{campo.nombre}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </h4>
            <p>
            <ul style="list-style: none">
                <li ng-repeat="filtro in filtrosGuardados" class="filtro" style="padding-bottom: 8px;margin-top:7px">
                    <i class="material-icons eliminar" style="color:red;margin-top:-3px" ng-click="eliminarFiltroGuardado(filtro)" data-uk-tooltip="{pos:'left'}" title="Eliminar vista">delete_forever</i>
                    <div class="filtroAplicado" ng-click="seleccionarVista(filtro)" data-uk-tooltip="{pos:'top'}" title="Click para cargar">
                        <div class="campo" style="font-weight: 100">{{ filtro.nombre}}</div>
                    </div>
                </li>
            </ul>
            <div ng-if="filtrosGuardados.length == 0">
                No ha guardado ninguna vista aún
            </div>
            </p>
        </div>
    </div>
</div>
