<div id="page_content">
    <div id="page_content_inner">

        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid uk-grid-width-1-1">
                    <div class="uk-width-large-1-4 uk-width-small-1-1 uk-width-medium-1-2">
                        <select id="tipoScope" class="md-input" ng-model="opcion" ng-change="cambio()">
                            <option value="3">Empresa</option>
                            <option value="2">Equipo</option>
                            <option value="1">Persona</option>
                        </select>
                        <span class="uk-form-help-block">Ámbito</span>
                    </div>
                    <div class="uk-width-large-1-4 uk-width-small-1-1" ng-if="opcion=='3'">
                        &nbsp;
                    </div>
                    <div class="uk-width-large-1-4 uk-width-small-1-1" ng-if="opcion=='2' || opcion=='1'">
                        <select id="tipoScope" class="md-input" ng-model="especifico" ng-change="espec(this)"
                                ng-options="option.nombre for option in itemsEspecificos track by option.id"></select>
                        <span class="uk-form-help-block">Específico</span>
                    </div>
                    <div class="uk-width-large-1-4 uk-width-small-1-1 valor" >
                        <table>
                            <tr>
                                <td><input style="width:100px" class="md-input" type="text" data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}" ng-model="valor.fechaDesde" ></td>
                                <td>al</td>
                                <td><input style="width:100px" class="md-input" type="text" data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}" ng-model="valor.fechaHasta" ></td>
                            </tr>
                        </table>
                        <span class="uk-form-help-block">Fecha Recepción entre </span>
                    </div>
                    <div class="uk-width-large-1-4 uk-width-small-1-1 uk-width-medium-1-2">
                        <a class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light"
                           style="float:right;margin-top:10px;"
                           ng-click="aplicar()">Aplicar</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="md-card">
            <div class="md-card-content">

                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-1">
                                <div class="md-card" ng-click="detalle('totalEmitidos')" style="cursor:pointer"
                                     data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                     title="Click para ver listado de documentos emitidos">
                                    <div class="md-card-content uk-text-center">
                                        <h1>{{totalEmitidos}}</h1>

                                        <h3>TOTAL
                                            <br>DOCUMENTOS
                                            <br>EMITIDOS</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-1">

                                <div class="uk-grid uk-grid-divider" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-2 uk-text-center uk-text-primary"
                                         ng-click="detalle('enviadoSII')" style="cursor:pointer"
                                         data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                         title="Click para ver listado de documentos enviados al SII">
                                        <H2 class="uk-text-primary">{{enviadoSII}}</H2>
                                        <p class="uk-text-large uk-margin-remove">Enviado al SII</p>
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-text-center uk-text-warning"
                                         ng-click="detalle('aprobadoReparos')" style="cursor:pointer"
                                         data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                         title="Click para ver listado de documentos aprobados con Reparos">
                                        <H2 class="uk-text-warning">{{aprobadoReparos}}</H2>
                                        <p class="uk-text-large uk-margin-remove">Aprobado con Reparos</p>
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-text-center uk-text-success"
                                         style="border-left:0px !important; cursor:pointer" ng-click="detalle('aprobados')"
                                         data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                         title="Click para ver listado de documentos aprobados">
                                        <H2 class="uk-text-success">{{aprobados}}</H2>
                                        <p class="uk-text-large uk-margin-remove">Aprobados</p>
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-text-center uk-text-danger"
                                         ng-click="detalle('rechazados')" style="cursor:pointer"
                                         data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                         title="Click para ver listado de rechazados">
                                        <H2 class="uk-text-danger">{{rechazados}}</H2>
                                        <p class="uk-text-large uk-margin-remove">Rechazados</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-1">

                                <div class="md-card">
                                    <div class="md-card-content">
                                        <h2>{{entregadoCliente}}</h2>
                                        <p class="uk-text-small uk-margin-remove">DOCUMENTOS</p>
                                        <h3 class="uk-margin-remove">ENTREGADOS A CLIENTE</h3>
                                        <br>
                                        <a class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light"
                                           ng-click="detalle('entregadoCliente')" style="cursor:pointer"
                                           data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                           title="Click para ver listado de documentos entregados a clientes">Detalles</a>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-1">

                                <div class="md-card">
                                    <div class="md-card-content">
                                        <h2>{{aprobadosCliente}}</h2>
                                        <p class="uk-text-small uk-margin-remove">DOCUMENTOS</p>
                                        <h3 class="uk-margin-remove">APROBADOS POR CLIENTE</h3>
                                        <br>
                                        <a class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light"
                                           ng-click="detalle('aprobadosCliente')" style="cursor:pointer"
                                           data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                           title="Click para ver listado de documentos aprobados por el cliente">Detalles</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-1">

                                <div class="md-card">
                                    <div class="md-card-content">
                                        <h2>{{rechazadosCliente}}</h2>
                                        <p class="uk-text-small uk-margin-remove">DOCUMENTOS</p>
                                        <h3 class="uk-margin-remove">RECHAZADOS POR CLIENTE</h3>
                                        <br>
                                        <a class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light"
                                           ng-click="detalle('rechazadosCliente')" style="cursor:pointer"
                                           data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                           title="Click para ver listado de documentos rechazados por cliente">Detalles</a>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-1">

                                <div class="md-card">
                                    <div class="md-card-content">
                                        <h2>{{reciboMercaderia}}</h2>
                                        <p class="uk-text-small uk-margin-remove">DOCUMENTOS</p>
                                        <h3 class="uk-margin-remove">RECIBO MERCADERÍA</h3>
                                        <br>
                                        <a class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light"
                                           ng-click="detalle('reciboMercaderia')" style="cursor:pointer"
                                           data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                           title="Click para ver listado de documentos tipo Recibo Mercaderia">Detalles</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <div class="md-card">
            <div class="md-card-toolbar md-card-success">

                <h3 class="md-card-toolbar-heading-text" style="margin-top: 12px;">
                    Indicadores por tipo de Documentos
                </h3>
            </div>
            <div class="md-card-content">

                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-small-1-1 uk-width-medium-2-4 uk-width-large-1-4">

                        <div class="md-card md-card-hover" ng-click="detalle('nacionales')" style="cursor:pointer"
                             data-uk-tooltip="{cls:'long-text',pos:'top'}"
                             title="Click para ver listado de documentos nacionales">
                            <div class="md-card-head" style="height: 88px;">

                                <div class="uk-float-left uk-margin-top uk-margin-left">
                                    <i class="material-icons uk-text-success"
                                       style="font-size: 70px;color:dodgerblue!important;">description</i>
                                </div>
                                <div class="uk-vertical-align uk-margin-top uk-text-center"
                                     style="padding-top: 20px;">
                                    <h2 class="uk-margin-remove" >
                                        {{formatearMonto(docsEmitidos.nacionales.monto, "$")}}</h2>
                                    <h3 class="uk-margin-remove">{{docsEmitidos.nacionales.cantidad}}
                                        documentos</h3>
                                </div>
                            </div>
                            <div class="md-card-content">
                                            <span class="md-list-heading">
                                                <b>Documentos Nacionales (33, 34, 56, 61)</b>
                                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-2-4 uk-width-large-1-4">

                        <div class="md-card md-card-hover" ng-click="detalle('exportacion')" style="cursor:pointer"
                             data-uk-tooltip="{cls:'long-text',pos:'top'}"
                             title="Click para ver listado de documentos exportación">
                            <div class="md-card-head" style="height: 88px;">

                                <div class="uk-float-left uk-margin-top uk-margin-left">
                                    <i class="material-icons" style="font-size: 70px;color:darkblue!important;">description</i>
                                </div>
                                <div class="uk-vertical-align uk-margin-top uk-text-center"
                                     style="padding-top: 20px;">

                                    <h2 class="uk-margin-remove">
                                        {{formatearMonto(docsEmitidos.exportacion.monto, "$")}}</h2>
                                    <h3 class="uk-margin-remove">{{docsEmitidos.exportacion.cantidad}}
                                        documentos</h3>
                                </div>

                            </div>
                            <div class="md-card-content">
                                            <span class="md-list-heading">
                                                <b>Facturas Exportación (110, 111, 112)</b>
                                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-2-4 uk-width-large-1-4">

                        <div class="md-card md-card-hover" ng-click="detalle('oc')"
                             style="cursor:pointer" data-uk-tooltip="{cls:'long-text',pos:'top'}"
                             title="Click para ver listado de documentos tipo Orden de Compra">
                            <div class="md-card-head" style="height: 88px;">

                                <div class="uk-float-left uk-margin-top uk-margin-left">
                                    <i class="material-icons uk-text-warning"
                                       style="font-size: 70px;color:darkgreen!important;">description</i>
                                </div>
                                <div class="uk-vertical-align uk-margin-top uk-text-center"
                                     style="padding-top: 20px;">

                                    <h2 class="uk-margin-remove">
                                        {{formatearMonto(docsEmitidos.oc.monto, "$")}}</h2>
                                    <h3 class="uk-margin-remove">{{docsEmitidos.oc.cantidad}}
                                        documentos</h3>
                                </div>
                            </div>
                            <div class="md-card-content">
                                            <span class="md-list-heading">
                                                <b>Órdenes de Compra (801)</b>
                                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-2-4 uk-width-large-1-4">

                        <div class="md-card md-card-hover" ng-click="detalle('boletas')" style="cursor:pointer"
                             data-uk-tooltip="{cls:'long-text',pos:'top'}"
                             title="Click para ver listado de documentos tipo Boleta Electrónica">
                            <div class="md-card-head" style="height: 88px;">

                                <div class="uk-float-left uk-margin-top uk-margin-left">
                                    <i class="material-icons uk-text-danger"
                                       style="font-size: 70px;color:greenyellow!important;">description</i>
                                </div>
                                <div class="uk-vertical-align uk-margin-top uk-text-center"
                                     style="padding-top: 20px;">
                                    <h2 class="uk-margin-remove">
                                        {{formatearMonto(docsEmitidos.boletas.monto, "$")}} </h2>
                                    <h3 class="uk-margin-remove">{{docsEmitidos.boletas.cantidad}}
                                        documentos</h3>
                                </div>

                            </div>
                            <div class="md-card-content">
                                            <span class="md-list-heading">
                                                <b>Boletas Electrónicas (39 y 41)</b>
                                            </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="md-card">
            <div class="md-card-toolbar md-card-success">

                <h3 class="md-card-toolbar-heading-text" style="margin-top: 12px;">
                    Plazos de rechazos según el SII
                </h3>
            </div>
            <div class="md-card-content">

                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-small-1-1 uk-width-medium-2-4 uk-width-large-1-4">

                        <div class="md-card md-card-hover" ng-click="detalle('plazo6-8')" style="cursor:pointer"
                             data-uk-tooltip="{cls:'long-text',pos:'top'}"
                             title="Click para ver listado de documentos con plazo de 6 a 8 días para realizar gestión comercial">
                            <div class="md-card-head" style="height: 88px;">

                                <div class="uk-float-left uk-margin-top uk-margin-left">
                                    <i class="material-icons uk-text-success"
                                       style="font-size: 70px;">query_builder</i>
                                </div>
                                <div class="uk-vertical-align uk-margin-top uk-text-center"
                                     style="padding-top: 20px;">
                                    <h2 class="uk-margin-remove">
                                        {{formatearMonto(plazoRechazo.rango6a8Dias.monto, "$")}}</h2>
                                    <h3 class="uk-margin-remove">{{plazoRechazo.rango6a8Dias.cantidad}}
                                        documentos</h3>
                                </div>

                            </div>
                            <div class="md-card-content">
                                            <span class="md-list-heading">
                                                <b>6 a 8 días para rechazar</b>
                                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-2-4 uk-width-large-1-4">

                        <div class="md-card md-card-hover" ng-click="detalle('plazo3-5')" style="cursor:pointer"
                             data-uk-tooltip="{cls:'long-text',pos:'top'}"
                             title="Click para ver listado de documentos con plazo de 3 a 5 días para realizar gestión comercial">
                            <div class="md-card-head" style="height: 88px;">

                                <div class="uk-float-left uk-margin-top uk-margin-left">
                                    <i class="material-icons" style="font-size: 70px;color:yellow!important;">query_builder</i>
                                </div>
                                <div class="uk-vertical-align uk-margin-top uk-text-center"
                                     style="padding-top: 20px;">
                                    <h2 class="uk-margin-remove">
                                        {{formatearMonto(plazoRechazo.rango3a5Dias.monto, "$")}}</h2>
                                    <h3 class="uk-margin-remove">{{plazoRechazo.rango3a5Dias.cantidad}}
                                        documentos</h3>
                                </div>

                            </div>
                            <div class="md-card-content">
                                            <span class="md-list-heading">
                                                <b>3 a 5 días para rechazar</b>
                                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-2-4 uk-width-large-1-4">

                        <div class="md-card md-card-hover" ng-click="detalle('plazo2-1')" style="cursor:pointer"
                             data-uk-tooltip="{cls:'long-text',pos:'top'}"
                             title="Click para ver listado de documentos con plazo de 2 días para realizar gestión comercial">
                            <div class="md-card-head" style="height: 88px;">
                                <div class="uk-float-left uk-margin-top uk-margin-left">
                                    <i class="material-icons uk-text-warning"
                                       style="font-size: 70px;">alarm_on</i>
                                </div>
                                <div class="uk-vertical-align uk-margin-top uk-text-center"
                                     style="padding-top: 20px;">

                                    <h2 class="uk-margin-remove">
                                        {{formatearMonto(plazoRechazo.rango2a1Dias.monto, "$")}}</h2>
                                    <h3 class="uk-margin-remove">{{plazoRechazo.rango2a1Dias.cantidad}}
                                        documentos</h3>
                                </div>

                            </div>
                            <div class="md-card-content">
                                            <span class="md-list-heading">
                                                <b>2 a 1 días para rechazar (hoy y mañana)</b>
                                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-2-4 uk-width-large-1-4">

                        <div class="md-card md-card-hover" ng-click="detalle('plazoVencido')"
                             style="cursor:pointer" data-uk-tooltip="{cls:'long-text',pos:'top'}"
                             title="Click para ver listado de documentos con plazo vencido para realizar gestión comercial">
                            <div class="md-card-head" style="height: 88px;">

                                <div class="uk-float-left uk-margin-top uk-margin-left">
                                    <i class="material-icons uk-text-danger"
                                       style="font-size: 70px;">thumb_down</i>
                                </div>
                                <div class="uk-vertical-align uk-margin-top uk-text-center"
                                     style="padding-top: 20px;">

                                    <h2 class="uk-margin-remove">
                                        {{formatearMonto(plazoRechazo.rangoVencido.monto, "$")}}</h2>
                                    <h3 class="uk-margin-remove">{{plazoRechazo.rangoVencido.cantidad}}
                                        documentos</h3>
                                </div>
                            </div>
                            <div class="md-card-content">
                                            <span class="md-list-heading">
                                                <b>plazo vencido</b>
                                            </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<style>
    .md-card .md-card-toolbar-heading-text {
        font: 400 100%/1.42857143 Roboto, sans-serif
    }
</style>