<div id="page_content">
    <div id="page_content_inner">
        <!-- HEAD-->
        <!--<div id="page_heading">
            <h1>Indicadores de gestión {{ complementoTitulo }}</h1>
            <span class="uk-text-muted uk-text-upper uk-text-small"></span>
        </div>-->

        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid uk-grid-width-1-1">
                    <div class="uk-width-large-1-4 uk-width-small-1-1 uk-width-medium-1-2">
                        <select id="tipoScope" class="md-input" ng-model="opcion" ng-change="cambio()">
                            <option value="3">Empresa</option>
                            <option value="2">Equipo</option>
                            <option value="1">Persona</option>
                        </select>
                        <span class="uk-form-help-block">Ámbito</span>
                    </div>
                    <div class="uk-width-large-1-4 uk-width-small-1-1" ng-if="opcion=='3'">
                        &nbsp;
                    </div>
                    <div class="uk-width-large-1-4 uk-width-small-1-1" ng-if="opcion=='2' || opcion=='1'">
                        <select id="tipoScope" class="md-input" ng-model="especifico" ng-change="espec(this)"
                                ng-options="option.nombre for option in itemsEspecificos track by option.id"></select>
                        <span class="uk-form-help-block">Específico</span>
                    </div>
                    <div class="uk-width-large-1-4 uk-width-small-1-1 valor" >
                        <table>
                            <tr>
                                <td><input style="width:100px" class="md-input" type="text" data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}" ng-model="valor.fechaDesde" ></td>
                                <td>al</td>
                                <td><input style="width:100px" class="md-input" type="text" data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}" ng-model="valor.fechaHasta" ></td>
                            </tr>
                        </table>
                        <span class="uk-form-help-block">Fecha Recepción entre </span>
                    </div>
                    <!-- <div class="uk-width-large-1-4 uk-width-small-1-1">
                         <select id="rangoFecha" class="md-input" ng-model="periodo"
                                 ng-options="option.nombre for option in fechasSimplesSelect track by option.id"></select>

                     </div>
                     <div class="uk-width-large-1-4 uk-width-small-1-1 uk-width-medium-1-2">
                         <selectize id="fecha_filtro" config="selectize_fecha_config" options="opcionesFechas"
                                    position="bottom" ng-model="filtro" style="z-index: 10"></selectize>
                         <span class="uk-form-help-block">Periodo</span>
                     </div>-->
                    <div class="uk-width-large-1-4 uk-width-small-1-1 uk-width-medium-1-2">
                        <a class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light"
                           style="float:right;margin-top:10px;"
                           ng-click="aplicar()">Aplicar</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="md-card">

            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-1">
                                <div class="md-card" ng-click="detalle('totalRecibidos')" style="cursor:pointer"
                                     data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                     title="Click para ver listado de documentos recibidos">
                                    <div class="md-card-content uk-text-center">
                                        <h1>{{totalRecibidos}}</h1>

                                        <h3>TOTAL
                                            <br>DOCUMENTOS
                                            <br>RECIBIDOS</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-1">

                                <div class="uk-grid uk-grid-divider" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-2 uk-text-center uk-text-primary"
                                         ng-click="detalle('sinRevisar')" style="cursor:pointer"
                                         data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                         title="Click para ver listado de documentos sin revisar">
                                        <H2 class="uk-text-primary">{{sinRevisar}}</H2>
                                        <p class="uk-text-large uk-margin-remove">Sin revisar</p>
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-text-center uk-text-warning"
                                         ng-click="detalle('revisados')" style="cursor:pointer"
                                         data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                         title="Click para ver listado de documentos revisados">
                                        <H2 class="uk-text-warning">{{revisados}}</H2>
                                        <p class="uk-text-large uk-margin-remove">Revisados</p>
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-text-center uk-text-success"
                                         style="border-left:0px !important; cursor:pointer" ng-click="detalle('aprobados')"
                                         data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                         title="Click para ver listado de documentos aprobados">
                                        <H2 class="uk-text-success">{{aprobados}}</H2>
                                        <p class="uk-text-large uk-margin-remove">Aprobados</p>
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-text-center uk-text-danger"
                                         ng-click="detalle('rechazados')" style="cursor:pointer"
                                         data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                         title="Click para ver listado de rechazados">
                                        <H2 class="uk-text-danger">{{rechazados}}</H2>
                                        <p class="uk-text-large uk-margin-remove">Rechazados</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-1">

                                <div class="md-card">
                                    <div class="md-card-content">
                                        <h2>{{pendientesPago}}</h2>
                                        <p class="uk-text-small uk-margin-remove">DOCUMENTOS</p>
                                        <h3 class="uk-margin-remove">PENDIENTES DE PAGO</h3>
                                        <br>
                                        <a class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light"
                                           ng-click="detalle('pendientesDePago')" style="cursor:pointer"
                                           data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                           title="Click para ver listado de documentos pendientes de pago">Detalles</a>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-1">

                                <div class="md-card">
                                    <div class="md-card-content">
                                        <h2>{{noPagados}}</h2>
                                        <p class="uk-text-small uk-margin-remove">DOCUMENTOS</p>
                                        <h3 class="uk-margin-remove">NO PAGADOS</h3>
                                        <br>
                                        <a class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light"
                                           ng-click="detalle('noPagados')" style="cursor:pointer"
                                           data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                           title="Click para ver listado de documentos no pagados">Detalles</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-1">

                                <div class="md-card">
                                    <div class="md-card-content">
                                        <h2>{{enviadosPago}}</h2>
                                        <p class="uk-text-small uk-margin-remove">DOCUMENTOS</p>
                                        <h3 class="uk-margin-remove">ENVIADOS A PAGO</h3>
                                        <br>
                                        <a class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light"
                                           ng-click="detalle('enviadosApago')" style="cursor:pointer"
                                           data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                           title="Click para ver listado de documentos enviados a pago">Detalles</a>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-1">

                                <div class="md-card">
                                    <div class="md-card-content">
                                        <h2>{{pagados}}</h2>
                                        <p class="uk-text-small uk-margin-remove">DOCUMENTOS</p>
                                        <h3 class="uk-margin-remove">PAGADOS</h3>
                                        <br>
                                        <a class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light"
                                           ng-click="detalle('pagados')" style="cursor:pointer"
                                           data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                           title="Click para ver listado de documentos pagados">Detalles</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="md-card">
                    <div class="md-card-toolbar md-card-success">

                        <h3 class="md-card-toolbar-heading-text" style="margin-top: 12px;">
                            Indicadores Globales
                        </h3>
                    </div>
                    <div class="md-card-content">

                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-small-1-1 uk-width-medium-2-4 uk-width-large-1-4">

                                <div class="md-card md-card-hover" ng-click="detalle('sinRecepcionSII')" style="cursor:pointer"
                                     data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                     title="Click para ver listado de documentos sin fecha de Recepción SII">
                                    <div class="md-card-head" style="height: 88px;">

                                        <div class="uk-float-left uk-margin-top uk-margin-left">
                                            <i class="material-icons uk-text-success"
                                               style="font-size: 70px;color:red!important;">event_busy</i>
                                        </div>
                                        <div class="uk-vertical-align uk-margin-top uk-text-center"
                                             style="padding-top: 20px;">
                                            <h2 class="uk-margin-remove" >
                                                {{sinRecepcionSII}}</h2>
                                            <h3 class="uk-margin-remove">
                                                documentos</h3>
                                        </div>
                                    </div>
                                    <div class="md-card-content">
                                            <span class="md-list-heading">
                                                <b>Sin Fecha Recepción SII</b>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="md-card">
                    <div class="md-card-toolbar md-card-success">

                        <h3 class="md-card-toolbar-heading-text" style="margin-top: 12px;">
                            Indicador de Pago Oportuno (menos de 30 días)
                        </h3>
                    </div>
                    <div class="md-card-content">

                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-small-1-1 uk-width-medium-2-4 uk-width-large-1-4">

                                <div class="md-card md-card-hover" ng-click="detalle('pago0-7')" style="cursor:pointer"
                                     data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                     title="Click para ver listado de documentos con pago oportuno de 0 a 7 días">
                                    <div class="md-card-head" style="height: 88px;">

                                        <div class="uk-float-left uk-margin-top uk-margin-left">
                                            <i class="material-icons uk-text-success"
                                               style="font-size: 70px;">query_builder</i>
                                        </div>
                                        <div class="uk-vertical-align uk-margin-top uk-text-center"
                                             style="padding-top: 20px;">
                                            <h2 class="uk-margin-remove" >
                                                {{formatearMonto(pagoOportuno.rango0a7Dias.monto, "$")}}</h2>
                                            <h3 class="uk-margin-remove">{{pagoOportuno.rango0a7Dias.cantidad}}
                                                documentos</h3>
                                        </div>
                                    </div>
                                    <div class="md-card-content">
                                            <span class="md-list-heading">
                                                <b>0 a 7 días de recepción</b>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-small-1-1 uk-width-medium-2-4 uk-width-large-1-4">

                                <div class="md-card md-card-hover" ng-click="detalle('pago8-15')" style="cursor:pointer"
                                     data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                     title="Click para ver listado de documentos con pago oportuno de 8 a 15 días">
                                    <div class="md-card-head" style="height: 88px;">

                                        <div class="uk-float-left uk-margin-top uk-margin-left">
                                            <i class="material-icons" style="font-size: 70px;color:yellow!important;">query_builder</i>
                                        </div>
                                        <div class="uk-vertical-align uk-margin-top uk-text-center"
                                             style="padding-top: 20px;">

                                            <h2 class="uk-margin-remove">
                                                {{formatearMonto(pagoOportuno.rango8a15Dias.monto, "$")}}</h2>
                                            <h3 class="uk-margin-remove">{{pagoOportuno.rango8a15Dias.cantidad}}
                                                documentos</h3>
                                        </div>

                                    </div>
                                    <div class="md-card-content">
                                            <span class="md-list-heading">
                                                <b>8 a 15 días de recepción</b>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-small-1-1 uk-width-medium-2-4 uk-width-large-1-4">

                                <div class="md-card md-card-hover" ng-click="detalle('pago16-30')"
                                     style="cursor:pointer" data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                     title="Click para ver listado de documentos con pago oportuno de 16 a 30 días">
                                    <div class="md-card-head" style="height: 88px;">

                                        <div class="uk-float-left uk-margin-top uk-margin-left">
                                            <i class="material-icons uk-text-warning"
                                               style="font-size: 70px;">alarm_on</i>
                                        </div>
                                        <div class="uk-vertical-align uk-margin-top uk-text-center"
                                             style="padding-top: 20px;">

                                            <h2 class="uk-margin-remove">
                                                {{formatearMonto(pagoOportuno.rango16a30Dias.monto, "$")}}</h2>
                                            <h3 class="uk-margin-remove">{{pagoOportuno.rango16a30Dias.cantidad}}
                                                documentos</h3>
                                        </div>
                                    </div>
                                    <div class="md-card-content">
                                            <span class="md-list-heading">
                                                <b>16 a 30 días de recepción</b>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-small-1-1 uk-width-medium-2-4 uk-width-large-1-4">

                                <div class="md-card md-card-hover" ng-click="detalle('pago30')" style="cursor:pointer"
                                     data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                     title="Click para ver listado de documentos con pago ya no tan oportuno de más de 30 días">
                                    <div class="md-card-head" style="height: 88px;">

                                        <div class="uk-float-left uk-margin-top uk-margin-left">
                                            <i class="material-icons uk-text-danger"
                                               style="font-size: 70px;">thumb_down</i>
                                        </div>
                                        <div class="uk-vertical-align uk-margin-top uk-text-center"
                                             style="padding-top: 20px;">
                                            <h2 class="uk-margin-remove">
                                                {{formatearMonto(pagoOportuno.rango30oMasDias.monto, "$")}} </h2>
                                            <h3 class="uk-margin-remove">{{pagoOportuno.rango30oMasDias.cantidad}}
                                                documentos</h3>
                                        </div>

                                    </div>
                                    <div class="md-card-content">
                                            <span class="md-list-heading">
                                                <b>más de 30 días de recepción</b>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="md-card">
                    <div class="md-card-toolbar md-card-success">

                        <h3 class="md-card-toolbar-heading-text" style="margin-top: 12px;">
                            Plazos de rechazos según el SII
                        </h3>
                    </div>
                    <div class="md-card-content">

                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-small-1-1 uk-width-medium-2-4 uk-width-large-1-4">

                                <div class="md-card md-card-hover" ng-click="detalle('plazo6-8')" style="cursor:pointer"
                                     data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                     title="Click para ver listado de documentos con plazo de 6 a 8 días para realizar gestión comercial">
                                    <div class="md-card-head" style="height: 88px;">

                                        <div class="uk-float-left uk-margin-top uk-margin-left">
                                            <i class="material-icons uk-text-success"
                                               style="font-size: 70px;">query_builder</i>
                                        </div>
                                        <div class="uk-vertical-align uk-margin-top uk-text-center"
                                             style="padding-top: 20px;">
                                            <h2 class="uk-margin-remove">
                                                {{formatearMonto(plazoRechazo.rango6a8Dias.monto, "$")}}</h2>
                                            <h3 class="uk-margin-remove">{{plazoRechazo.rango6a8Dias.cantidad}}
                                                documentos</h3>
                                        </div>

                                    </div>
                                    <div class="md-card-content">
                                            <span class="md-list-heading">
                                                <b>6 a 8 días para rechazar</b>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-small-1-1 uk-width-medium-2-4 uk-width-large-1-4">

                                <div class="md-card md-card-hover" ng-click="detalle('plazo3-5')" style="cursor:pointer"
                                     data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                     title="Click para ver listado de documentos con plazo de 3 a 5 días para realizar gestión comercial">
                                    <div class="md-card-head" style="height: 88px;">

                                        <div class="uk-float-left uk-margin-top uk-margin-left">
                                            <i class="material-icons" style="font-size: 70px;color:yellow!important;">query_builder</i>
                                        </div>
                                        <div class="uk-vertical-align uk-margin-top uk-text-center"
                                             style="padding-top: 20px;">
                                            <h2 class="uk-margin-remove">
                                                {{formatearMonto(plazoRechazo.rango3a5Dias.monto, "$")}}</h2>
                                            <h3 class="uk-margin-remove">{{plazoRechazo.rango3a5Dias.cantidad}}
                                                documentos</h3>
                                        </div>

                                    </div>
                                    <div class="md-card-content">
                                            <span class="md-list-heading">
                                                <b>3 a 5 días para rechazar</b>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-small-1-1 uk-width-medium-2-4 uk-width-large-1-4">

                                <div class="md-card md-card-hover" ng-click="detalle('plazo2-1')" style="cursor:pointer"
                                     data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                     title="Click para ver listado de documentos con plazo de 2 días para realizar gestión comercial">
                                    <div class="md-card-head" style="height: 88px;">
                                        <div class="uk-float-left uk-margin-top uk-margin-left">
                                            <i class="material-icons uk-text-warning"
                                               style="font-size: 70px;">alarm_on</i>
                                        </div>
                                        <div class="uk-vertical-align uk-margin-top uk-text-center"
                                             style="padding-top: 20px;">

                                            <h2 class="uk-margin-remove">
                                                {{formatearMonto(plazoRechazo.rango2a1Dias.monto, "$")}}</h2>
                                            <h3 class="uk-margin-remove">{{plazoRechazo.rango2a1Dias.cantidad}}
                                                documentos</h3>
                                        </div>

                                    </div>
                                    <div class="md-card-content">
                                            <span class="md-list-heading">
                                                <b>2 a 1 días para rechazar (hoy y mañana)</b>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-small-1-1 uk-width-medium-2-4 uk-width-large-1-4">

                                <div class="md-card md-card-hover" ng-click="detalle('plazoVencido')"
                                     style="cursor:pointer" data-uk-tooltip="{cls:'long-text',pos:'top'}"
                                     title="Click para ver listado de documentos con plazo vencido para realizar gestión comercial">
                                    <div class="md-card-head" style="height: 88px;">

                                        <div class="uk-float-left uk-margin-top uk-margin-left">
                                            <i class="material-icons uk-text-danger"
                                               style="font-size: 70px;">thumb_down</i>
                                        </div>
                                        <div class="uk-vertical-align uk-margin-top uk-text-center"
                                             style="padding-top: 20px;">

                                            <h2 class="uk-margin-remove">
                                                {{formatearMonto(plazoRechazo.rangoVencido.monto, "$")}}</h2>
                                            <h3 class="uk-margin-remove">{{plazoRechazo.rangoVencido.cantidad}}
                                                documentos</h3>
                                        </div>
                                    </div>
                                    <div class="md-card-content">
                                            <span class="md-list-heading">
                                                <b>plazo vencido</b>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>


    </div>

</div>

<style>
    .md-card .md-card-toolbar-heading-text {
        font: 400 100%/1.42857143 Roboto, sans-serif
    }
</style>