.app_theme_dark {
  background: #303030;
  color: #fefefe;
}
.app_theme_dark a {
  color: #039be5;
}
.app_theme_dark a:hover,
.app_theme_dark a:active {
  color: #0277bd;
}
.app_theme_dark .md-card,
.app_theme_dark .md-card .md-card-toolbar,
.app_theme_dark .md-card.md-card-overlay .md-card-overlay-content,
.app_theme_dark .md-card-list-wrapper .md-card-list > ul > li,
.app_theme_dark .uk-dropdown,
.app_theme_dark #sidebar_main,
.app_theme_dark #breadcrumbs,
.app_theme_dark .uk-dropdown,
.app_theme_dark #sidebar_secondary,
.app_theme_dark #sidebar_secondary .uk-tab,
.app_theme_dark .uk-sticky-placeholder .uk-tab,
.app_theme_dark .clndr .clndr_events,
.app_theme_dark #footer,
.app_theme_dark .uk-nestable-panel,
.app_theme_dark .gallery_grid_image_caption,
.app_theme_dark .uk-accordion-alt .uk-accordion-title,
.app_theme_dark .map_search_wrapper .map_search_list_wrapper,
.app_theme_dark #page_heading {
  background: #424242;
}
.app_theme_dark h1,
.app_theme_dark h2,
.app_theme_dark h3,
.app_theme_dark h4,
.app_theme_dark h5,
.app_theme_dark h6,
.app_theme_dark .md-card .md-card-toolbar-heading-text,
.app_theme_dark .uk-dropdown > ul > li > a,
.app_theme_dark .uk-dropdown,
.app_theme_dark .uk-nav-dropdown > li > a,
.app_theme_dark .uk-tab > li > a,
.app_theme_dark .clndr .clndr_events .clndr_event > a,
.app_theme_dark .fc .fc-day-grid-event,
.app_theme_dark .md-card .md-card-head-text,
.app_theme_dark .gallery_grid_item,
.app_theme_dark .gallery_grid_item:hover,
.app_theme_dark .gallery_grid_item:focus,
.app_theme_dark .md-card .md-card-toolbar-input,
.app_theme_dark .uk-article-lead,
.app_theme_dark .uk-badge {
  color: #fefefe;
}
.app_theme_dark [class*='uk-icon-'],
.app_theme_dark .uk-datepicker-next,
.app_theme_dark .uk-datepicker-previous,
.app_theme_dark #menu_top > li > a,
.app_theme_dark .disabled + .inline-label {
  color: #cbcbcb;
}
.app_theme_dark .uk-text-muted {
  color: #999 !important;
}
.app_theme_dark .material-icons {
  color: rgba(255, 255, 255, 0.8);
}
.app_theme_dark .md-list-addon-element > .md-list-addon-icon {
  color: rgba(255, 255, 255, 0.7);
}
.app_theme_dark .md-list .uk-nestable-list > li > a.md-list-content,
.app_theme_dark .md-list > li > a.md-list-content,
.app_theme_dark .md-list-outside > li > .md-list-content,
.app_theme_dark .md-input-wrapper > label,
.app_theme_dark .uk-table thead th {
  color: #cbcbcb;
}
.app_theme_dark .uk-table td,
.app_theme_dark .uk-table tfoot td,
.app_theme_dark .uk-table tfoot th,
.app_theme_dark .uk-table thead th {
  border-color: #616161;
}
.app_theme_dark .uk-table tr.row_checked td {
  background: #212121;
}
.app_theme_dark .md-list .uk-nestable-list > li {
  border-color: #424242;
}
.app_theme_dark .md-list > li {
  border-color: #616161;
}
.app_theme_dark select.md-input,
.app_theme_dark textarea.md-input,
.app_theme_dark input:not([type]).md-input,
.app_theme_dark input[type='text'].md-input,
.app_theme_dark input[type='password'].md-input,
.app_theme_dark input[type='datetime'].md-input,
.app_theme_dark input[type='datetime-local'].md-input,
.app_theme_dark input[type='date'].md-input,
.app_theme_dark input[type='month'].md-input,
.app_theme_dark input[type='time'].md-input,
.app_theme_dark input[type='week'].md-input,
.app_theme_dark input[type='number'].md-input,
.app_theme_dark input[type='email'].md-input,
.app_theme_dark input[type='url'].md-input,
.app_theme_dark input[type='search'].md-input,
.app_theme_dark input[type='tel'].md-input,
.app_theme_dark input[type='color'].md-input {
  border-color: rgba(255, 255, 255, 0.25);
  color: #fefefe;
}
.app_theme_dark select optgroup,
.app_theme_dark select option {
  background: #424242;
}
.app_theme_dark .md-hr {
  border-top-color: rgba(0, 0, 0, 0.15);
}
.app_theme_dark input[type='button']:disabled,
.app_theme_dark input[type='submit']:disabled,
.app_theme_dark input[type='reset']:disabled,
.app_theme_dark input[type='file']:disabled::-webkit-file-upload-button,
.app_theme_dark button:disabled,
.app_theme_dark select:disabled,
.app_theme_dark keygen:disabled,
.app_theme_dark optgroup:disabled,
.app_theme_dark option:disabled,
.app_theme_dark select[disabled] > option {
  color: #aaa;
}
.app_theme_dark .uk-tooltip {
  background: #212121;
}
.app_theme_dark .uk-thumbnail {
  background: #616161;
}
.app_theme_dark .uk-thumbnail-caption {
  color: #fefefe;
}
.app_theme_dark .uk-alert {
  background: #546e7a;
}
.app_theme_dark .md-btn {
  color: #212121;
}
.app_theme_dark .md-btn.disabled {
  background: #616161;
}
.app_theme_dark .md-btn-primary,
.app_theme_dark .md-btn-primary:hover,
.app_theme_dark .md-btn-primary:focus,
.app_theme_dark .md-btn-primary:active {
  background: #546e7a;
  color: #fff;
}
.app_theme_dark .md-btn-flat {
  color: #fefefe;
}
.app_theme_dark .md-btn-flat:hover,
.app_theme_dark .md-btn-flat:focus,
.app_theme_dark .md-btn-flat:active {
  color: #fefefe;
}
.app_theme_dark .md-btn-flat[data-uk-button]:hover,
.app_theme_dark .md-btn-flat[data-uk-button]:focus,
.app_theme_dark .md-btn-flat[data-uk-button]:active {
  color: #727272;
}
.app_theme_dark .md-btn-flat-primary.uk-active {
  color: #fefefe !important;
  background: #546e7a;
}
.app_theme_dark .md-btn-flat-warning.uk-active {
  color: #fefefe !important;
  background: #ffa000;
}
.app_theme_dark .md-btn-flat-danger.uk-active {
  color: #fefefe !important;
  background: #e53935;
}
.app_theme_dark .md-btn-flat-success.uk-active {
  color: #fefefe !important;
  background: #7cb342;
}
.app_theme_dark .md-btn-flat.disabled {
  color: #616161;
}
.app_theme_dark .uk-badge-primary {
  background: #546e7a;
}
.app_theme_dark .md-card-list-wrapper .md-card-list > ul > li.item-shown.md-card-list-item-selected:before {
  background: #546e7a;
}
.app_theme_dark .md-card-list-wrapper .md-card-list .md-card-list-item-selected {
  background: #546e7a;
}
.app_theme_dark .md-card-list-wrapper .md-card-list .md-card-list-item-selected.item-shown {
  background: #424242;
}
.app_theme_dark .md-card-list-wrapper .md-card-list .md-card-list-item-selected.item-shown:before {
  background: #546e7a;
}
.app_theme_dark .uk-datepicker-nav {
  background: #009688;
}
.app_theme_dark .uk-datepicker-table a {
  color: #fefefe;
}
.app_theme_dark a.uk-datepicker-table-muted {
  color: #212121;
}
.app_theme_dark .md-fab.md-fab-accent {
  background: #009688;
}
.app_theme_dark .md-fab .material-icons {
  color: #727272;
}
.app_theme_dark .md-fab-warning .material-icons,
.app_theme_dark .md-fab-success .material-icons,
.app_theme_dark .md-fab-primary .material-icons,
.app_theme_dark .md-fab-danger .material-icons,
.app_theme_dark .md-fab-accent .material-icons {
  color: #fefefe;
}
.app_theme_dark .uk-file-upload {
  background: #616161;
}
.app_theme_dark .iradio_md {
  border-color: rgba(255, 255, 255, 0.4);
}
.app_theme_dark .icheckbox_md {
  border-color: rgba(255, 255, 255, 0.4);
  background: #424242;
}
.app_theme_dark .icheckbox_md.hover.checked,
.app_theme_dark .icheckbox_md.checked {
  background: #009688;
  border-color: #009688;
}
.app_theme_dark .md-list .uk-nestable-list > li.md-list-item-active,
.app_theme_dark .md-list > li.md-list-item-active {
  color: #009688;
  background: #212121;
}
.app_theme_dark .md-list-addon > li.md-list-item-active .md-list-addon-element,
.app_theme_dark .md-list-addon > li.md-list-item-active .md-list-addon-element .material-icons {
  color: #009688;
}
.app_theme_dark .uk-modal-dialog,
.app_theme_dark .uk-modal-dialog .uk-modal-footer {
  background: #424242;
}
.app_theme_dark .uk-pagination > li > a:hover {
  background: #30ffec;
}
.app_theme_dark .uk-pagination > li.uk-active > a,
.app_theme_dark .uk-pagination > li.uk-active > span {
  background: #009688;
  color: #fff;
}
.app_theme_dark .uk-subnav-pill > .uk-active > * {
  background: #009688;
}
.app_theme_dark .uk-tab > li > a:hover,
.app_theme_dark .uk-tab > li > a:focus {
  border-bottom-color: #a6b9c1;
}
.app_theme_dark .uk-tab > li.uk-active > a {
  border-bottom-color: #546e7a;
}
.app_theme_dark .uk-tab-bottom li > a:hover,
.app_theme_dark .uk-tab-bottom li > a:focus {
  border-top-color: #a6b9c1;
}
.app_theme_dark .uk-tab-bottom li.uk-active > a {
  border-top-color: #546e7a;
}
.app_theme_dark .uk-tab-left li > a:hover,
.app_theme_dark .uk-tab-left li > a:focus {
  border-right-color: #a6b9c1;
}
.app_theme_dark .uk-tab-left li.uk-active > a {
  border-right-color: #546e7a;
}
.app_theme_dark .uk-tab-right li > a:hover,
.app_theme_dark .uk-tab-right li > a:focus {
  border-left-color: #a6b9c1;
}
.app_theme_dark .uk-tab-right li.uk-active > a {
  border-left-color: #546e7a;
}
.app_theme_dark .uk-tab-double-header li a:hover,
.app_theme_dark .uk-tab-double-header li a:focus {
  border-bottom-color: #698998;
}
.app_theme_dark .uk-tab-double-header li.uk-active > a {
  border-bottom-color: #009688;
}
.app_theme_dark .timeline:before {
  background: #616161;
}
.app_theme_dark .timeline_icon {
  border-color: #616161;
}
.app_theme_dark .timeline_content_addon {
  background: #616161;
}
.app_theme_dark .k-panelbar li.k-item {
  background: #363636;
}
.app_theme_dark .chat_submit_box {
  background: #212121;
}
.app_theme_dark .scrum_board_overflow {
  background: #303030;
}
.app_theme_dark .scrum_task {
  background: #424242;
}
.app_theme_dark #scrum_board .scrum_column {
  background: rgba(0, 0, 0, 0.25);
}
.app_theme_dark #scrum_board .scrum_column_heading {
  background: #303030;
}
.app_theme_dark .blog_list_footer {
  border-top-color: rgba(0, 0, 0, 0.3);
}
.app_theme_dark #header_main {
  background: #546e7a;
}
.app_theme_dark #header_main .uk-navbar .uk-navbar-nav > li.uk-open > a:after {
  border-bottom-color: #424242;
}
.app_theme_dark .header_double_height:after {
  background: #546e7a;
}
.app_theme_dark #top_bar {
  background: #424242;
}
.app_theme_dark #top_bar .top_bar_nav > li > a {
  color: #fefefe;
}
.app_theme_dark #top_bar .top_bar_nav > li > a:hover {
  -webkit-box-shadow: inset 0 -3px 0 #546e7a;
  box-shadow: inset 0 -3px 0 #546e7a;
}
.app_theme_dark #top_bar .top_bar_nav > li.uk-active a {
  -webkit-box-shadow: inset 0 -3px 0 #546e7a;
  box-shadow: inset 0 -3px 0 #546e7a;
}
.app_theme_dark .user_heading {
  background: #37474f;
}
.app_theme_dark #sidebar_main .sidebar_main_header {
  background-image: url('../../img/sidebar_head_bg_dark.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 192), only screen and (min-resolution: 192dppx), only screen and (min-resolution: 2dppx) {
  .app_theme_dark #sidebar_main .sidebar_main_header {
    background-image: url('../../img/sidebar_head_bg_dark@2x.png');
    background-size: 240px 88px;
  }
}
.app_theme_dark #sidebar_main .sidebar_main_header .selectize-control.single .selectize-input:after {
  color: rgba(255, 255, 255, 0.25);
}
.app_theme_dark #sidebar_main .sidebar_main_header .sidebar_logo a .logo_light {
  display: inline-block;
}
.app_theme_dark #sidebar_main .sidebar_main_header .sidebar_logo a .logo_regular {
  display: none;
}
.app_theme_dark #sidebar_main .menu_section > ul > li a {
  color: #fefefe;
}
.app_theme_dark #sidebar_main .menu_section > ul > li ul li.act_item a {
  color: #009688;
}
.app_theme_dark #sidebar_main .menu_section > ul > li.current_section > a > .menu_icon .material-icons {
  color: #009688;
}
.app_theme_dark #sidebar_main .menu_section > ul > li.current_section > a .menu_title {
  color: #009688;
}
.app_theme_dark .sidebar_mini #sidebar_main .menu_section > ul > li > a > .menu_title {
  background: #009688;
  color: #fff;
}
.app_theme_dark .sidebar_mini #sidebar_main .menu_section > ul > li:hover.sidebar_submenu {
  background: #009688;
}
.app_theme_dark .sidebar_mini #sidebar_main .menu_section > ul > li:hover.sidebar_submenu > a .menu_icon .material-icons {
  color: #fff;
}
.app_theme_dark .sidebar_mini #sidebar_main .menu_section > ul > li:hover.sidebar_submenu ul {
  border-left-color: #009688;
}
.app_theme_dark .sidebar_mini #sidebar_main .menu_section > ul > li.current_section > a > .menu_icon .material-icons {
  color: #009688;
}
.app_theme_dark .sidebar_mini #sidebar_main .menu_section > ul > li > ul {
  background: #424242;
}
.app_theme_dark .clndr .clndr_days .clndr_days_grid .day.today > span {
  background: #009688;
}
.app_theme_dark .clndr .clndr_days .clndr_days_grid .day.last-month,
.app_theme_dark .clndr .clndr_days .clndr_days_grid .day.next-month {
  color: #212121;
}
.app_theme_dark .clndr .clndr_days .clndr_days_grid .day.day.event > span {
  border-color: rgba(255, 255, 255, 0.25);
}
.app_theme_dark .DTTT_print_info h6 {
  color: #009688;
}
.app_theme_dark .fc-unthemed .fc-button.fc-state-active:after {
  color: #009688;
}
.app_theme_dark .dropify-wrapper {
  background: #424242;
  color: #fefefe;
  border-color: #616161;
}
.app_theme_dark .dropify-wrapper .dropify-preview {
  background: #424242;
  color: #fefefe;
}
.app_theme_dark div.ganttview-vtheader {
  background: #424242;
}
.app_theme_dark div.ganttview-vtheader div.ganttview-vtheader-group-name {
  background: rgba(0, 0, 0, 0.5);
}
.app_theme_dark div.ganttview-vtheader div.ganttview-vtheader-group {
  color: #fefefe;
}
.app_theme_dark div.ganttview-vtheader div.ganttview-vtheader-series-row,
.app_theme_dark div.ganttview-vtheader div.ganttview-vtheader-group-name {
  border-top-color: rgba(0, 0, 0, 0.3);
}
.app_theme_dark div.ganttview-grid-spacer {
  border-top-color: rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.5);
}
.app_theme_dark div.ganttview-grid-row-cell.ganttview-weekend,
.app_theme_dark div.ganttview-hzheader-day.ganttview-weekend {
  background: rgba(0, 0, 0, 0.35);
}
.app_theme_dark div.ganttview-grid-row-cell,
.app_theme_dark div.ganttview-hzheader-day {
  border-color: rgba(0, 0, 0, 0.3) !important;
}
.app_theme_dark div.ganttview-hzheader-month {
  color: #fefefe;
}
.app_theme_dark .gmap-info-window h3 {
  color: #212121;
}
.app_theme_dark .gmap .on_gmap .controls_title {
  color: #727272;
}
.app_theme_dark .fc-unthemed .fc-highlight {
  -webkit-box-shadow: inset 0 0 0 2px #546e7a, inset 0 -1px 0 2px #546e7a;
  box-shadow: inset 0 0 0 2px #546e7a, inset 0 -1px 0 2px #546e7a;
}
.app_theme_dark .fc-toolbar .fc-button {
  text-shadow: none;
}
.app_theme_dark div.jtable-main-container table.jtable tbody > tr.jtable-row-even {
  background: rgba(0, 0, 0, 0.2);
}
.app_theme_dark div.jtable-main-container table.jtable tbody > tr:hover {
  background: rgba(0, 0, 0, 0.4);
}
.app_theme_dark div.jtable-main-container table.jtable tbody td .jtable-command-button {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}
.app_theme_dark .tablesorter-altair tbody > tr.row_highlighted > td {
  background: #cfd8dc;
}
.app_theme_dark .tablesorter-altair .headerSortUp,
.app_theme_dark .tablesorter-altair .tablesorter-headerSortUp,
.app_theme_dark .tablesorter-altair .tablesorter-headerAsc,
.app_theme_dark .tablesorter-altair .headerSortDown,
.app_theme_dark .tablesorter-altair .tablesorter-headerSortDown,
.app_theme_dark .tablesorter-altair .tablesorter-headerDesc {
  color: #009688;
}
.app_theme_dark .wizard > .steps {
  background: #546e7a;
}
.app_theme_dark .wizard > .steps > ul > li.current a,
.app_theme_dark .wizard > .steps > ul > li.current a:hover,
.app_theme_dark .wizard > .steps > ul > li.current a:active {
  background: #698998;
}
.app_theme_dark .wizard > .steps > ul > li.done a,
.app_theme_dark .wizard > .steps > ul > li.done a:hover,
.app_theme_dark .wizard > .steps > ul > li.done a:active {
  background: #37474f;
}
.app_theme_dark .wizard > .actions a,
.app_theme_dark .wizard > .actions a:hover,
.app_theme_dark .wizard > .actions a:active,
.app_theme_dark .wizard > .actions a .material-icons {
  color: #fefefe;
}
.app_theme_dark .wizard.vertical > .content {
  background: #424242;
}
.app_theme_dark .md-card-toolbar[data-toolbar-progress] .md-card-toolbar-heading-text,
.app_theme_dark .md-card-toolbar[data-toolbar-progress] .material-icons {
  color: #212121;
}
.app_theme_dark .md-card-primary {
  border-left-color: #546e7a;
}
.app_theme_dark .waves-effect.md-btn-flat-primary {
  background: none;
}
.app_theme_dark .waves-effect.md-btn-flat-primary .waves-ripple {
  background: rgba(84, 110, 122, 0.4);
}
.app_theme_dark .search_list_link {
  color: #009688;
}
.app_theme_dark .selectize-dropdown {
  color: #fefefe;
  border-color: transparent;
  background: #616161;
  border-radius: 2px;
}
.app_theme_dark .selectize-dropdown .optgroup-header {
  color: #fefefe;
  background: #616161;
}
.app_theme_dark .selectize-input {
  background: #616161;
  color: #fefefe;
}
.app_theme_dark .selectize-input,
.app_theme_dark .selectize-control.single .selectize-input.input-active {
  background: #616161;
}
.app_theme_dark .selectize-control.single .selectize-input:after {
  color: #cbcbcb;
}
.app_theme_dark .selectize-control.multi .selectize-input > div {
  background: #424242;
  color: #fefefe;
}
.app_theme_dark .chatbox {
  background: #424242;
}
.app_theme_dark .chatbox.cb_active .chatbox_header {
  background: #546e7a;
}
.app_theme_dark .chatbox_content .chatbox_message .chatbox_message_content li > span {
  background: rgba(0, 0, 0, 0.3);
}
.app_theme_dark .chatbox_content .chatbox_message.own .chatbox_message_content li > span {
  background: #546e7a;
}
.app_theme_dark .chatbox_footer .message_input {
  background: transparent;
  color: #fff;
}
