.custom_theme .color-principal {
  color: #ff3d00;
}
.custom_theme .color-claro {
  color: #cfd8dc;
}
.custom_theme .color-oscuro {
  color: #37474f;
}
.custom_theme .color-acentuado {
  color: #ffea00;
}
.custom_theme .uk-alert {
  background: #ff3d00;
}
.custom_theme .md-btn-primary,
.custom_theme .md-btn-primary:hover,
.custom_theme .md-btn-primary:focus,
.custom_theme .md-btn-primary:active {
  background: #ff3d00;
  color: #fff;
}
.custom_theme .md-btn-flat-primary,
.custom_theme .md-btn-flat-primary:hover,
.custom_theme .md-btn-flat-primary:focus,
.custom_theme .md-btn-flat-primary:active {
  color: #37474f;
}
.custom_theme .md-btn-flat-primary:hover,
.custom_theme .md-btn-flat-primary:focus,
.custom_theme .md-btn-flat-primary:active {
  background: #ffd8cc;
}
.custom_theme .uk-badge-primary {
  background: #ff3d00;
}
.custom_theme
  .md-card-list-wrapper
  .md-card-list
  > ul
  > li.item-shown.md-card-list-item-selected:before {
  background: #cfd8dc;
}
.custom_theme .md-card-list-wrapper .md-card-list .md-card-list-item-selected {
  background: #cfd8dc;
}
.custom_theme .md-card-list-wrapper .md-card-list .md-card-list-item-selected.item-shown {
  background: #fff;
}
.custom_theme .md-card-list-wrapper .md-card-list .md-card-list-item-selected.item-shown:before {
  background: #cfd8dc;
}
.custom_theme .md-fab.md-fab-accent {
  background: #ffea00;
}
.custom_theme .md-list .uk-nestable-list > li.md-list-item-active,
.custom_theme .md-list > li.md-list-item-active {
  color: #ffea00;
}
.custom_theme .md-list-addon > li.md-list-item-active .md-list-addon-element,
.custom_theme .md-list-addon > li.md-list-item-active .md-list-addon-element .material-icons {
  color: #ffea00;
}
.custom_theme .uk-pagination > li > a:hover {
  background: #fff799;
}
.custom_theme .uk-pagination > li.uk-active > a,
.custom_theme .uk-pagination > li.uk-active > span {
  background: #ffea00;
  color: #fff;
}
.custom_theme .uk-subnav-pill > .uk-active > * {
  background: #ffea00;
}
.custom_theme .uk-tab > li > a:hover,
.custom_theme .uk-tab > li > a:focus {
  border-bottom-color: #ffb199;
}
.custom_theme .uk-tab > li.uk-active > a {
  border-bottom-color: #ff3d00;
}
.custom_theme .uk-tab-bottom li > a:hover,
.custom_theme .uk-tab-bottom li > a:focus {
  border-top-color: #ffb199;
}
.custom_theme .uk-tab-bottom li.uk-active > a {
  border-top-color: #ff3d00;
}
.custom_theme .uk-tab-left li > a:hover,
.custom_theme .uk-tab-left li > a:focus {
  border-right-color: #ffb199;
}
.custom_theme .uk-tab-left li.uk-active > a {
  border-right-color: #ff3d00;
}
.custom_theme .uk-tab-right li > a:hover,
.custom_theme .uk-tab-right li > a:focus {
  border-left-color: #ffb199;
}
.custom_theme .uk-tab-right li.uk-active > a {
  border-left-color: #ff3d00;
}
.custom_theme .uk-tab-double-header li a:hover,
.custom_theme .uk-tab-double-header li a:focus {
  border-bottom-color: #ff6433;
}
.custom_theme .uk-tab-double-header li.uk-active > a {
  border-bottom-color: #ffea00;
}
.custom_theme #header_main {
  background: #ff3d00;
}
.custom_theme.header_double_height:after {
  background: #ff3d00;
}
.custom_theme #top_bar .top_bar_nav > li > a:hover {
  -webkit-box-shadow: inset 0 -3px 0 #ff3d00;
  box-shadow: inset 0 -3px 0 #ff3d00;
}
.custom_theme #top_bar .top_bar_nav > li.uk-active a {
  -webkit-box-shadow: inset 0 -3px 0 #ff3d00;
  box-shadow: inset 0 -3px 0 #ff3d00;
}
.custom_theme .user_heading {
  background: #37474f;
}
.custom_theme #sidebar_main .menu_section > ul > li ul li.act_item a {
  color: #ffea00;
}
.custom_theme
  #sidebar_main
  .menu_section
  > ul
  > li.current_section
  > a
  > .menu_icon
  .material-icons {
  color: #ffea00;
}
.custom_theme #sidebar_main .menu_section > ul > li.current_section > a .menu_title {
  color: #ffea00;
}
.custom_theme.sidebar_mini #sidebar_main .menu_section > ul > li > a > .menu_title {
  background: #ffea00;
  color: #fff;
}
.custom_theme.sidebar_mini #sidebar_main .menu_section > ul > li:hover.sidebar_submenu {
  background: #ffea00;
}
.custom_theme.sidebar_mini
  #sidebar_main
  .menu_section
  > ul
  > li:hover.sidebar_submenu
  > a
  .menu_icon
  .material-icons {
  color: #fff;
}
.custom_theme.sidebar_mini #sidebar_main .menu_section > ul > li:hover.sidebar_submenu ul {
  border-left-color: #ffea00;
}
.custom_theme.sidebar_mini
  #sidebar_main
  .menu_section
  > ul
  > li.current_section
  > a
  > .menu_icon
  .material-icons {
  color: #ffea00;
}
.custom_theme .clndr .clndr_days .clndr_days_grid .day.today > span {
  background: #ffea00;
}
.custom_theme .DTTT_print_info h6 {
  color: #ffea00;
}
.custom_theme .fc-unthemed .fc-button.fc-state-active:after {
  color: #ffea00;
}
.custom_theme .fc-unthemed .fc-highlight {
  -webkit-box-shadow: inset 0 0 0 2px #ff3d00, inset 0 -1px 0 2px #ff3d00;
  box-shadow: inset 0 0 0 2px #ff3d00, inset 0 -1px 0 2px #ff3d00;
}
.custom_theme .tablesorter-altair tbody > tr.row_highlighted > td {
  background: #cfd8dc;
}
.custom_theme .tablesorter-altair .headerSortUp,
.custom_theme .tablesorter-altair .tablesorter-headerSortUp,
.custom_theme .tablesorter-altair .tablesorter-headerAsc,
.custom_theme .tablesorter-altair .headerSortDown,
.custom_theme .tablesorter-altair .tablesorter-headerSortDown,
.custom_theme .tablesorter-altair .tablesorter-headerDesc {
  color: #ffea00;
}
.custom_theme .wizard > .steps {
  background: #ff3d00;
}
.custom_theme .wizard > .steps > ul > li.current a,
.custom_theme .wizard > .steps > ul > li.current a:hover,
.custom_theme .wizard > .steps > ul > li.current a:active {
  background: #ff6433;
}
.custom_theme .wizard > .steps > ul > li.done a,
.custom_theme .wizard > .steps > ul > li.done a:hover,
.custom_theme .wizard > .steps > ul > li.done a:active {
  background: #37474f;
}
.custom_theme .md-card-primary {
  border-left-color: #ff3d00;
}
.custom_theme .waves-effect.md-btn-flat-primary {
  background: none;
}
.custom_theme .waves-effect.md-btn-flat-primary .waves-ripple {
  background: rgba(255, 61, 0, 0.4);
}
.custom_theme .search_list_link {
  color: #ffea00;
}
