.custom_theme .color-principal {
  color: #00b0ff !important;
}
.custom_theme .color-claro {
  color: #80d8ff !important;
}
.custom_theme .color-oscuro {
  color: #0091ea !important;
}
.custom_theme .color-acentuado {
  color: #ff6d00 !important;
}
.custom_theme .color-bg-principal {
  background-color: #00b0ff !important;
}
.custom_theme .color-bg-claro {
  background-color: #80d8ff !important;
}
.custom_theme .color-bg-oscuro {
  background-color: #0091ea !important;
}
.custom_theme .color-bg-acentuado {
  background-color: #ff6d00 !important;
}
.custom_theme .uk-alert {
  background: #00b0ff;
}
.custom_theme .md-btn-primary,
.custom_theme .md-btn-primary:hover,
.custom_theme .md-btn-primary:focus,
.custom_theme .md-btn-primary:active {
  background: #00b0ff;
  color: #fff;
}
.custom_theme .md-btn-flat-primary,
.custom_theme .md-btn-flat-primary:hover,
.custom_theme .md-btn-flat-primary:focus,
.custom_theme .md-btn-flat-primary:active {
  color: #0091ea;
}
.custom_theme .md-btn-flat-primary:hover,
.custom_theme .md-btn-flat-primary:focus,
.custom_theme .md-btn-flat-primary:active {
  background: #ccefff;
}
.custom_theme .uk-badge-primary {
  background: #00b0ff;
}
.custom_theme .md-card-list-wrapper .md-card-list > ul > li.item-shown.md-card-list-item-selected:before {
  background: #80d8ff;
}
.custom_theme .md-card-list-wrapper .md-card-list .md-card-list-item-selected {
  background: #80d8ff;
}
.custom_theme .md-card-list-wrapper .md-card-list .md-card-list-item-selected.item-shown {
  background: #fff;
}
.custom_theme .md-card-list-wrapper .md-card-list .md-card-list-item-selected.item-shown:before {
  background: #80d8ff;
}
.custom_theme .md-fab.md-fab-accent {
  background: #ff6d00;
}
.custom_theme .md-list .uk-nestable-list > li.md-list-item-active,
.custom_theme .md-list > li.md-list-item-active {
  color: #ff6d00;
}
.custom_theme .md-list-addon > li.md-list-item-active .md-list-addon-element,
.custom_theme .md-list-addon > li.md-list-item-active .md-list-addon-element .material-icons {
  color: #ff6d00;
}
.custom_theme .uk-pagination > li > a:hover {
  background: #ffc599;
}
.custom_theme .uk-pagination > li.uk-active > a,
.custom_theme .uk-pagination > li.uk-active > span {
  background: #ff6d00;
  color: #fff;
}
.custom_theme .uk-subnav-pill > .uk-active > * {
  background: #ff6d00;
}
.custom_theme .uk-tab > li > a:hover,
.custom_theme .uk-tab > li > a:focus {
  border-bottom-color: #99dfff;
}
.custom_theme .uk-tab > li.uk-active > a {
  border-bottom-color: #00b0ff;
}
.custom_theme .uk-tab-bottom li > a:hover,
.custom_theme .uk-tab-bottom li > a:focus {
  border-top-color: #99dfff;
}
.custom_theme .uk-tab-bottom li.uk-active > a {
  border-top-color: #00b0ff;
}
.custom_theme .uk-tab-left li > a:hover,
.custom_theme .uk-tab-left li > a:focus {
  border-right-color: #99dfff;
}
.custom_theme .uk-tab-left li.uk-active > a {
  border-right-color: #00b0ff;
}
.custom_theme .uk-tab-right li > a:hover,
.custom_theme .uk-tab-right li > a:focus {
  border-left-color: #99dfff;
}
.custom_theme .uk-tab-right li.uk-active > a {
  border-left-color: #00b0ff;
}
.custom_theme .uk-tab-double-header li a:hover,
.custom_theme .uk-tab-double-header li a:focus {
  border-bottom-color: #33c0ff;
}
.custom_theme .uk-tab-double-header li.uk-active > a {
  border-bottom-color: #ff6d00;
}
.custom_theme #header_main {
  background: #00b0ff;
}
.custom_theme.header_double_height:after {
  background: #00b0ff;
}
.custom_theme #top_bar .top_bar_nav > li > a:hover {
  -webkit-box-shadow: inset 0 -3px 0 #00b0ff;
  box-shadow: inset 0 -3px 0 #00b0ff;
}
.custom_theme #top_bar .top_bar_nav > li.uk-active a {
  -webkit-box-shadow: inset 0 -3px 0 #00b0ff;
  box-shadow: inset 0 -3px 0 #00b0ff;
}
.custom_theme .user_heading {
  background: #0091ea;
}
.custom_theme #sidebar_main .menu_section > ul > li ul li.act_item a {
  color: #ff6d00;
}
.custom_theme #sidebar_main .menu_section > ul > li.current_section > a > .menu_icon .material-icons {
  color: #ff6d00;
}
.custom_theme #sidebar_main .menu_section > ul > li.current_section > a .menu_title {
  color: #ff6d00;
}
.custom_theme.sidebar_mini #sidebar_main .menu_section > ul > li > a > .menu_title {
  background: #ff6d00;
  color: #fff;
}
.custom_theme.sidebar_mini #sidebar_main .menu_section > ul > li:hover.sidebar_submenu {
  background: #ff6d00;
}
.custom_theme.sidebar_mini #sidebar_main .menu_section > ul > li:hover.sidebar_submenu > a .menu_icon .material-icons {
  color: #fff;
}
.custom_theme.sidebar_mini #sidebar_main .menu_section > ul > li:hover.sidebar_submenu ul {
  border-left-color: #ff6d00;
}
.custom_theme.sidebar_mini #sidebar_main .menu_section > ul > li.current_section > a > .menu_icon .material-icons {
  color: #ff6d00;
}
.custom_theme .clndr .clndr_days .clndr_days_grid .day.today > span {
  background: #ff6d00;
}
.custom_theme .DTTT_print_info h6 {
  color: #ff6d00;
}
.custom_theme .fc-unthemed .fc-button.fc-state-active:after {
  color: #ff6d00;
}
.custom_theme .fc-unthemed .fc-highlight {
  -webkit-box-shadow: inset 0 0 0 2px #00b0ff, inset 0 -1px 0 2px #00b0ff;
  box-shadow: inset 0 0 0 2px #00b0ff, inset 0 -1px 0 2px #00b0ff;
}
.custom_theme .tablesorter-altair tbody > tr.row_highlighted > td {
  background: #80d8ff;
}
.custom_theme .tablesorter-altair .headerSortUp,
.custom_theme .tablesorter-altair .tablesorter-headerSortUp,
.custom_theme .tablesorter-altair .tablesorter-headerAsc,
.custom_theme .tablesorter-altair .headerSortDown,
.custom_theme .tablesorter-altair .tablesorter-headerSortDown,
.custom_theme .tablesorter-altair .tablesorter-headerDesc {
  color: #ff6d00;
}
.custom_theme .wizard > .steps {
  background: #00b0ff;
}
.custom_theme .wizard > .steps > ul > li.current a,
.custom_theme .wizard > .steps > ul > li.current a:hover,
.custom_theme .wizard > .steps > ul > li.current a:active {
  background: #33c0ff;
}
.custom_theme .wizard > .steps > ul > li.done a,
.custom_theme .wizard > .steps > ul > li.done a:hover,
.custom_theme .wizard > .steps > ul > li.done a:active {
  background: #0091ea;
}
.custom_theme .md-card-primary {
  border-left-color: #00b0ff;
}
.custom_theme .waves-effect.md-btn-flat-primary {
  background: none;
}
.custom_theme .waves-effect.md-btn-flat-primary .waves-ripple {
  background: rgba(0, 176, 255, 0.4);
}
.custom_theme .search_list_link {
  color: #ff6d00;
}
