<div id="page_content">
  <div class="md-card uk-margin-medium-bottom">
    <div id="page_content_inner">
      <volver></volver>
      <h3 class="heading_b uk-margin-bottom">Crear una ejecucion</h3>
      <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
          <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-2 uk-margin-top">
              <label>Nombre {{aprobacionId}}</label>
              <input type="text" class="md-input" md-input ng-model="aprobacion.nombre"/>
              <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Nombre de la aprobacion </span>
            </div>
            <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-2 uk-margin-top">
              <label>Descripcion</label>
              <input type="text" class="md-input" md-input ng-model="aprobacion.descripcion"/>
              <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Descripcion de la aprobacion</span>
            </div>
            <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-2 uk-margin-top" >
              <label>Opcion de devolverse en el flujo</label>
              <input type="checkbox" name="" id="checkbox_activa" icheck="" ng-model="aprobacion.reversible"
              class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style="">
              <ins
              class="iCheck-helper" style=""></ins>
              <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Indicar si es posible devolverse en el flujo</span>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-small-1-1 uk-width-large-1-2">
          <h3 class="heading_b uk-margin-bottom">Observadores</h3>
          <div class="md-card">
            <div class="md-card-content">
              <table style="width: 100%" class="uk-table uk-table-hover uk-table-nowrap">
                <thead>
                  <tr>
                    <th class="uk-width-1-2 uk-text-center uk-text-upper">
                      <label style="font-weight: bold" for="nombre">Nombre</label>
                    </th>
                    <th class="uk-width-1-2 uk-text-center uk-text-upper">
                      <label style="font-weight: bold" for="correo">Notificacion</label>
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="observador in aprobacion.observadores">
                    <td>
                      <span>{{observador.nombre}}</span>
                    </td>
                    <td class="uk-text-center">
                      <span>{{observador.notificar ? 'Activada': 'Desactivada'}}</span>
                    </td>
                   </tr>
                 </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="uk-width-small-1-1 uk-width-large-1-2">
          <h3 class="heading_b uk-margin-bottom">Gatillaciones</h3>
          <div class="md-card">
            <div class="md-card-content">
              <table style="width: 100%" class="uk-table uk-table-hover uk-table-nowrap">
                <thead>
                  <tr>
                    <th class="uk-width-1-2 uk-text-center uk-text-upper">
                      <label style="font-weight: bold" for="nombre">Tipo</label>
                    </th>
                    <th class="uk-width-1-2 uk-text-center uk-text-upper">
                      <label style="font-weight: bold" for="correo">Proceso</label>
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="gatillador in aprobacion.gatilladores">
                    <td>
                      {{gatillador.tipo}}
                    </td>
                    <td>
                      {{gatillador.proceso}}
                    </td>
                 </tr>
               </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <br>
      <div class="uk-width-small-1-1">
        <h3 class="heading_b uk-margin-bottom">Ver pasos de la aprobacion</h3>
        <div class="uk-overflow-container">
          <div ng-include src="'pasos.tpl.html'"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="md-fab-wrapper md-fab-speed-dial" style="right:100px">
  <a class="md-fab md-fab-success" ng-click="grabar()" data-uk-tooltip="{pos:'right'}" title="INICIAR"><i
    class="material-icons">save</i></a>
</div>

<ng-include src="'app/febos/aprobaciones/crear/configurar-paso.modal.html'"></ng-include>

<script type="text/ng-template" id="pasos.tpl.html">
  <div class="drag-list ver-pasos" 
  fb-drag-and-drop-paso 
  pasos="pasos" 
  size="pasos.length">
    <div ng-repeat="paso in pasos" class="paso-contenedor">
      <div class="drag-item" 
      draggable="true" 
      data-st="{{$index+1}}">
      <div class="paso">
        <div class="numero">{{paso.data.index}}</div>
        <div class="tipo">{{paso.data.tipoRol.nombre | lowercase}}</div>
        <div class="proceso">{{paso.data.tipoPaso.nombre | lowercase}}</div>
        <div class="configuracion" ng-click="verPaso(paso, $index)">
          <i class="material-icons">search</i>
        </div>
        <div class="nombre">{{paso.data.responsable.nombre}}</div>
      </div>
    </div>
    <span class="siguiente">
      <i class="material-icons">forward</i>
    </span>
  </div>
</script>




