<div class="uk-modal-dialog" style="width:80%">
    <div class="uk-modal-header">
        <h3 class="uk-modal-title">Renovar Boleta de Garantía
        </h3>
    </div>
    <div class="md-card-content">
        <div class="row">
            <form>
                <div class="uk-grid uk-grid-small" style="border-bottom: dashed 1px orange;padding-bottom:15px;">
                    <div class="uk-width-medium-1-10 uk-margin-top">
                        <label>Folio</label>
                        <input type="text" class="md-input" md-input md-input ng-model="renovacion.folio" validar="soloNumeros"/>
                    </div>
                    <div class="uk-width-1-10 uk-margin-top">
                        <label>Emisión</label>
                        <input class="md-input" type="text"
                               data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                               md-input
                               ng-model="renovacion.fechaEmision">
                    </div>
                    <div class="uk-width-1-10 uk-margin-top">
                        <label>Vencimiento</label>
                        <input class="md-input" type="text"
                               data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                               md-input
                               ng-model="renovacion.fechaVencimiento">
                    </div>
                    <div class="uk-width-1-10 uk-margin-top">
                        <label>Vencimiento</label>
                        <input class="md-input" type="text"
                               data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                               md-input
                               ng-model="renovacion.fechaVencimientoEfectivo">
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Monto</label>
                        <input type="text" class="md-input" md-input md-input ng-model="renovacion.monto" validar="soloNumeros"/>
                    </div>
                    <div class="uk-width-medium-1-10 uk-margin-top">
                        <label>Moneda</label>
                        <select class="md-input" md-input md-input ng-model="renovacion.moneda">
                            <option value="CLP">Pesos</option>
                            <option value="UF">UF</option>
                            <option value="USD">Dolares</option>
                        </select>
                    </div>
                    <div class="uk-width-medium-3-10 uk-margin-top">
                        <label>Concepto</label>
                        <input type="text" class="md-input" md-input md-input ng-model="renovacion.concepto"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Banco</label>
                        <input type="text" class="md-input" md-input md-input ng-model="renovacion.banco"/>
                    </div>

                    <!-- fila 2 -->
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Nombre Tomador</label>
                        <input type="text" class="md-input" md-input md-input ng-model="renovacion.usuarioTomadorNombre"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Correo Tomador</label>
                        <input type="text" class="md-input" md-input md-input ng-model="renovacion.usuarioTomadorCorreo"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Nombre Responsable</label>
                        <input type="text" class="md-input" md-input md-input ng-model="renovacion.usuarioResponsableNombre"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Correo Responsable</label>
                        <input type="text" class="md-input" md-input md-input ng-model="renovacion.usuarioResponsableCorreo"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Nombre Custodio</label>
                        <input type="text" class="md-input" md-input md-input ng-model="renovacion.usuarioCustodioNombre"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Correo Custodio</label>
                        <input type="text" class="md-input" md-input md-input ng-model="renovacion.usuarioCustodioCorreo"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Lugar Custodia</label>
                        <input type="text" class="md-input" md-input md-input ng-model="renovacion.lugarCustodia"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <div class="uk-form-file md-btn md-btn-primary" especial="{{renovacion.boletaId}}">
                            <i class="material-icons no_margin">attachment</i>Adjuntar archivo
                            <input id="form-file" type="file" upload-automatico objeto="renovacion" identificador="{{renovacion.boletaGarantiaId}}" url="chile/{{ambiente}}/portafolio/boletas/">
                        </div>
                        <span>{{renovacion.adjuntoNombre}}</span>
                    </div>
                </div>

                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-margin-medium-top">
                        <a ng-click="renovar(renovacion)"  class="md-btn md-btn-primary md-btn-block md-btn-large">
                            <span class="menu_icon">Renovar Boleta</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;z-index:-1" class="ng-scope"/>
</div>