<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-2">
    <label>Filas</label>
    <input id="tableRows" class="md-input" min="0" type="number" ng-model="elemento.options.numRows">
  </div>  
  <div class="uk-width-medium-1-2">
    <label>Columnas</label>
    <input id="tableColumns" class="md-input" min="0" type="number" ng-model="elemento.options.numCells">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin> 
  <div class="uk-width-medium-1-3">
    <span>Seleccionar Fila</span>
    <select id="seleccionarFilaParaVariable" ng-model="tempRows" class="md-input" data-uk-tooltip="{pos:'top'}" title="Selecciona una Fila" style="padding: 0!important;">
      <option value="" disabled selected hidden>Seleccionar...</option>
      <option ng-repeat="(xKey, xValue) in [].constructor(elemento.options.numRows) track by $index" ng-value="{{$index}}">Fila {{$index + 1}}</option>
    </select>
  </div>
  <div class="uk-width-medium-1-3">
    <span>Seleccionar Columna</span>
    <select id="seleccionarColumnaParaVariable" ng-model="tempColumns" class="md-input" data-uk-tooltip="{pos:'top'}" title="Selecciona una Columna" style="padding: 0!important;" ng-disabled="elemento.options.cells[tempRows] === undefined">
      <option value="" disabled selected hidden>Seleccionar...</option>
      <option ng-repeat="(yKey, yValue) in [].constructor(elemento.options.numCells) track by $index" ng-value="{{$index}}">Columna {{$index + 1}}</option>
    </select>
  </div>
  <div class="uk-width-medium-1-3">
    <label>Variable de Columna</label>
    <input id="docSettingsColumns" class="md-input" type="text" ng-model="elemento.options.cells[tempRows][tempColumns].variable" ng-disabled="elemento.options.cells[tempRows] === undefined || elemento.options.cells[tempRows][tempColumns] === undefined" placeholder="Ingrese una variable...">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <label>Titulo</label>
    <input id="titleText" class="md-input" type="text" ng-model="elemento.options.title">
  </div>
  <div class="uk-width-medium-1-4" ng-if="elemento.options.title != ''">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Alineación de titulo</label>
      <input config="configuracionParaValoresSelectize" options="text_align_types" ng-model="elemento.options.textStyle.title['text-align']" required name="title_text_align" id="title_text_align" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4" ng-if="elemento.options.title != ''">
    <label>Tamaño de titulo</label>
    <input id="titleSize" class="md-input" min="0" type="number" ng-model="elemento.options.textStyle.title['font-size']">
  </div>
  <div class="uk-width-medium-1-4" ng-if="elemento.options.title != ''">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de titulo</label>
      <input config="configuracionParaValoresSelectize" options="text_style_types" ng-model="elemento.options.textStyle.title['font-style']" required name="title_font_style" id="title_font_style" selectize />
    </div>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4" ng-if="elemento.options.title != ''">
    <label>Altura de Linea Titulo</label>
    <input id="titleLineHeight" class="md-input" min="0" type="number" ng-model="elemento.options.textStyle.title['line-height']">
  </div>
  <div class="uk-width-medium-1-4" ng-if="elemento.options.title != ''">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Grosor de titulo</label>
      <input config="configuracionParaValoresSelectize" options="font_weight_types" ng-model="elemento.options.textStyle.title['font-weight']" required name="title_font_weight" id="title_font_weight" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4" ng-if="elemento.options.title != ''">
    <span class="color-label">Color de Titulo</span>
    <color-picker 
      ng-model="elemento.options.textStyle.title['color']"
      options="structureTitleColorOptions"
    ></color-picker>
  </div>
  <div class="uk-width-medium-1-4" ng-if="elemento.options.title != ''">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Tipo de Fuente Titulo</label>
      <input config="configuracionParaValoresFontFamilySelectize" options="fonts" ng-model="elemento.options.textStyle.title['font-family']" required name="titleFontFamily" id="titleFontFamily" selectize />
    </div>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <label>Altura de Linea Cabecera</label>
    <input id="headerLineHeight" class="md-input" min="0" type="number" ng-model="elemento.options.textStyle.header['line-height']">
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Alineación de Cabecera</label>
      <input config="configuracionParaValoresSelectize" options="text_align_types" ng-model="elemento.options.textStyle.header['text-align']" required name="header_text_align" id="header_text_align" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <label>Tamaño de Cabecera</label>
    <input id="headerSize" class="md-input" min="0" type="number" ng-model="elemento.options.textStyle.header['font-size']">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de Cabecera</label>
      <input config="configuracionParaValoresSelectize" options="text_style_types" ng-model="elemento.options.textStyle.header['font-style']" required name="header_font_style" id="header_font_style" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Grosor de Cabecera</label>
      <input config="configuracionParaValoresSelectize" options="font_weight_types" ng-model="elemento.options.textStyle.header['font-weight']" required name="header_font_weight" id="header_font_weight" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Tipo de Fuente de Cabecera</label>
      <input config="configuracionParaValoresFontFamilySelectize" options="fonts" ng-model="elemento.options.textStyle.header['font-family']" required name="headerFontFamily" id="headerFontFamily" selectize />
    </div>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <label>Altura de Linea Celda</label>
    <input id="cellLineHeight" class="md-input" min="0" type="number" ng-model="elemento.options.textStyle.cell['line-height']">
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Alineación de Celda</label>
      <input config="configuracionParaValoresSelectize" options="text_align_types" ng-model="elemento.options.textStyle.cell['text-align']" required name="cell_text_align" id="cell_text_align" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <label>Tamaño de Celda</label>
    <input id="cellSize" class="md-input" min="0" type="number" ng-model="elemento.options.textStyle.cell['font-size']">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de Celda</label>
      <input config="configuracionParaValoresSelectize" options="text_style_types" ng-model="elemento.options.textStyle.cell['font-style']" required name="cell_font_style" id="cell_font_style" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Grosor de Celda</label>
      <input config="configuracionParaValoresSelectize" options="font_weight_types" ng-model="elemento.options.textStyle.cell['font-weight']" required name="cell_font_weight" id="cell_font_weight" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Tipo de Fuente de Celda</label>
      <input config="configuracionParaValoresFontFamilySelectize" options="fonts" ng-model="elemento.options.textStyle.cell['font-family']" required name="cellFontFamily" id="cellFontFamily" selectize />
    </div>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <label>Padding Superior (cm)</label>
    <input id="docSettingsPaddingTop" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$"type="number" ng-model="elemento.options.style['padding-top']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Derecha (cm)</label>
    <input id="docSettingsPaddingRight" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$"type="number" ng-model="elemento.options.style['padding-right']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Inferior (cm)</label>
    <input id="docSettingsPaddingBottom" type="number" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$"ng-model="elemento.options.style['padding-bottom']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Izquierdo (cm)</label>
    <input id="docSettingsPaddingLeft" type="number" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$"ng-model="elemento.options.style['padding-left']">
  </div>
</div>