<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <span class="color-label">Color de Fondo</span>
    <color-picker 
      ng-model="elemento.options.style['background-color']"
      options="structureBackgroundColorOptions"
    ></color-picker>
  </div>
  <div class="uk-width-medium-1-4">
    <label>Tamaño de Divisor</label>
    <input id="structureBorderSize" class="md-input" min="0" type="number" ng-model="elemento.options.border['size']">
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de Divisor</label>
      <input config="configuracionParaValoresSelectize" options="border_style_types" ng-model="elemento.options.border['style']" required name="structure_border_style" id="structure_border_style" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4">
    <span class="color-label">Color de Divisor</span>
    <color-picker 
      ng-model="elemento.options.border['color']"
      options="structureBorderColorOptions"
    ></color-picker>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <label>Padding Superior (cm)</label>
    <input id="docSettingsPaddingTop" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.style['padding-top']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Derecha (cm)</label>
    <input id="docSettingsPaddingRight" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.style['padding-right']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Inferior (cm)</label>
    <input id="docSettingsPaddingBottom" type="number" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" ng-model="elemento.options.style['padding-bottom']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Izquierdo (cm)</label>
    <input id="docSettingsPaddingLeft" type="number" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" ng-model="elemento.options.style['padding-left']">
  </div>
</div>