<div class="uk-grid uk-margin-top" data-uk-grid-margin> 
  <div class="uk-width-medium-1-4">
    <input type="checkbox" class="switchery switchery-small" ui-switch checked color="#2196f3" ng-model="elemento.options.firstLine" id="switchFirstLine" />
    <label for="switchFirstLine" class="inline-label">1° Linea</label>
  </div>
  <div ng-if="elemento.options.firstLine" class="uk-width-medium-1-4">
    <label>Texto Fijo</label>
    <input id="labelFolioFirstLine" class="md-input" type="text" ng-model="elemento.options.data.first.label">
  </div>
  <div ng-if="elemento.options.firstLine" class="uk-width-medium-1-4">
    <label>Código</label>
    <textarea id="variableFolioFirstLine" cols="30" class="md-input" type="text" ng-model="elemento.options.data.first.variable"></textarea>
  </div>
  <div ng-if="elemento.options.firstLine" class="uk-width-medium-1-4">
    <label>Texto de Ejemplo</label>
    <input id="exampleFolioFirstLine" class="md-input" type="text" ng-model="elemento.options.data.first.example">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin> 
  <div class="uk-width-medium-1-4">
    <input type="checkbox" class="switchery switchery-small" ui-switch checked color="#2196f3" ng-model="elemento.options.secondLine" id="switchSecondLine" />
    <label for="switchSecondLine" class="inline-label">2° Linea</label>
  </div>
  <div ng-if="elemento.options.secondLine" class="uk-width-medium-1-4">
    <label>Texto Fijo</label>
    <input id="labelFolioSecondLine" class="md-input" type="text" ng-model="elemento.options.data.second.label">
  </div>
  <div ng-if="elemento.options.secondLine" class="uk-width-medium-1-4">
    <label>Código</label>
    <textarea id="variableFolioSecondLine" cols="30" class="md-input" type="text" ng-model="elemento.options.data.second.variable"></textarea>
  </div>
  <div ng-if="elemento.options.secondLine" class="uk-width-medium-1-4">
    <label>Texto de Ejemplo</label>
    <input id="exampleFolioSecondLine" class="md-input" type="text" ng-model="elemento.options.data.second.example">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin> 
  <div class="uk-width-medium-1-4">
    <input type="checkbox" class="switchery switchery-small" ui-switch checked color="#2196f3" ng-model="elemento.options.thirdLine" id="switchThirdLine" />
    <label for="switchThirdLine" class="inline-label">3° Linea</label>
  </div>
  <div ng-if="elemento.options.thirdLine" class="uk-width-medium-1-4">
    <label>Texto Fijo</label>
    <input id="labelFolioThirdLine" class="md-input" type="text" ng-model="elemento.options.data.third.label">
  </div>
  <div ng-if="elemento.options.thirdLine" class="uk-width-medium-1-4">
    <label>Código</label>
    <textarea id="variableFolioThirdLine" cols="30" class="md-input" type="text" ng-model="elemento.options.data.third.variable"></textarea>
  </div>
  <div ng-if="elemento.options.thirdLine" class="uk-width-medium-1-4">
    <label>Texto de Ejemplo</label>
    <input id="exampleFolioThirdLine" class="md-input" type="text" ng-model="elemento.options.data.third.example">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <span class="color-label">Color de Fondo</span>
    <color-picker 
      ng-model="elemento.options.style['background-color']"
      options="structureBackgroundColorOptions"
    ></color-picker>
  </div>
  <div class="uk-width-medium-1-3">
    <label>Margen inferior linea 1 (cm)</label>
    <input ng-disabled="!elemento.options.firstLine" id="margin1" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.margin1">
  </div>
  <div class="uk-width-medium-1-3">
    <label>Margen inferior linea 2 (cm)</label>
    <input ng-disabled="!elemento.options.secondLine" id="margin2" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.margin2">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <span class="color-label">Color de Texto</span>
    <color-picker 
      ng-model="elemento.options.styleText['color']"
      options="structureBackgroundColorOptions"
    ></color-picker>
  </div>
  <div class="uk-width-medium-1-3">
    <label>Altura de Linea texto</label>
    <input id="headerLineHeight" class="md-input" min="0" type="number" ng-model="elemento.options.styleText['line-height']">
  </div>
  <div class="uk-width-medium-1-3">
    <label>Tamaño de texto</label>
    <input id="headerSize" class="md-input" min="0" type="number" ng-model="elemento.options.styleText['font-size']">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de texto</label>
      <input config="configuracionParaValoresSelectize" options="text_style_types" ng-model="elemento.options.styleText['font-style']" required name="header_font_style" id="header_font_style" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Grosor de texto</label>
      <input config="configuracionParaValoresSelectize" options="font_weight_types" ng-model="elemento.options.styleText['font-weight']" required name="header_font_weight" id="header_font_weight" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Tipo de Fuente de texto</label>
      <input config="configuracionParaValoresFontFamilySelectize" options="fonts" ng-model="elemento.options.styleText['font-family']" required name="headerFontFamily" id="headerFontFamily" selectize />
    </div>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <span class="color-label">Color de Borde</span>
    <color-picker 
      ng-model="elemento.options.border['border-color']"
      options="structureBorderColorOptions"
    ></color-picker>
  </div>
  <div class="uk-width-medium-1-4">
    <label>Tamaño de Borde</label>
    <input id="structureBorderSize" class="md-input" min="0" type="number" ng-model="elemento.options.border['border-width']">
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de Borde</label>
      <input config="configuracionParaValoresSelectize" options="border_style_types" ng-model="elemento.options.border['border-style']" required name="structure_border_style" id="structure_border_style" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4">
    <label>Redondeado de Borde</label>
    <input id="structureBorderRadius" class="md-input" min="0" type="number" ng-model="elemento.options.border['border-radius']">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <label>Padding Superior (cm)</label>
    <input id="docSettingsPaddingTop" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.style['padding-top']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Derecha (cm)</label>
    <input id="docSettingsPaddingRight" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.style['padding-right']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Inferior (cm)</label>
    <input id="docSettingsPaddingBottom" type="number" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" ng-model="elemento.options.style['padding-bottom']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Izquierdo (cm)</label>
    <input id="docSettingsPaddingLeft" type="number" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" ng-model="elemento.options.style['padding-left']">
  </div>
</div>