<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-1-1">
    <editor-upload-image data="elemento"></editor-upload-image>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <label>Url</label>
    <input id="imageUrl" class="md-input" type="text" ng-model="elemento.options.image">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Ancho</label>
    <input id="imageSize" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.width">
  </div>
  <div class="uk-width-medium-1-4">
    <span class="color-label">Color de Fondo</span>
    <color-picker 
      ng-model="elemento.options.style['background-color']"
      options="structureBackgroundColorOptions"
    ></color-picker>
  </div>
  <div class="uk-width-medium-1-4">
    <div class="uk-grid">
      <div class="uk-width-medium-1-1 uk-margin-small-bottom">
        <label>Alineación:</label>
      </div>
      <div class="uk-width-medium-1-3">
        <input type="radio" name="alignImageLeft" id="alignImageLeft" icheck ng-model="elemento.options.align" value="left" />
        <label for="alignImageLeft" class="inline-label uk-text-small">Izquierda</label>
      </div>
      <div class="uk-width-medium-1-3">
        <input type="radio" name="alignImageCenter" id="alignImageCenter" icheck ng-model="elemento.options.align" value="center" />
        <label for="alignImageCenter" class="inline-label uk-text-small">Centro</label>
      </div>
      <div class="uk-width-medium-1-3">
        <input type="radio" name="alignImageRight" id="alignImageRight" icheck ng-model="elemento.options.align" value="right" />
        <label for="alignImageRight" class="inline-label uk-text-small">Derecha</label>
      </div>
    </div>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <label>Padding Superior (cm)</label>
    <input id="docSettingsPaddingTop" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.style['padding-top']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Derecha (cm)</label>
    <input id="docSettingsPaddingRight" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.style['padding-right']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Inferior (cm)</label>
    <input id="docSettingsPaddingBottom" type="number" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" ng-model="elemento.options.style['padding-bottom']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Izquierdo (cm)</label>
    <input id="docSettingsPaddingLeft" type="number" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" ng-model="elemento.options.style['padding-left']">
  </div>
</div>