<div ng-style="configuracionGeneralContenidoModal()" class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-1">
     <textarea style="width: 100%;" ui-tinymce="tinymce_options" ng-model="elemento.options.content" rows="14"></textarea>
  </div>
</div>