<div class="uk-grid uk-margin-top" data-uk-grid-margin> 
  <div class="uk-width-medium-1-2">
    <label>Texto Fijo SII</label>
    <input id="labelSII" class="md-input" type="text" ng-model="elemento.options.data.sii.label">
  </div>
  <div class="uk-width-medium-1-2">
    <label>Variable SII</label>
    <textarea id="variableSII" cols="30" class="md-input" type="text" ng-model="elemento.options.data.sii.variable" placeholder="Ingrese una variable..."></textarea>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin> 
  <div class="uk-width-medium-1-2">
    <label>Texto Fijo FEBOS</label>
    <input id="labelFEBOS" class="md-input" type="text" ng-model="elemento.options.data.febos.label">
  </div>
  <div class="uk-width-medium-1-2">
    <label>Variable FEBOS</label>
    <textarea id="variableFEBOS" cols="30" class="md-input" type="text" ng-model="elemento.options.data.febos.variable" placeholder="Ingrese una variable..."></textarea>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin> 
  <div class="uk-width-medium-1-2">
    <label>Texto informativo</label>
    <input id="infoText" class="md-input" type="text" ng-model="elemento.options.infoText">
  </div>
  <div class="uk-width-medium-1-2">
    <label>Separación información (cm)</label>
    <input id="infoPaddingBottom" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.separacion">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <span class="color-label">Color de S.I.I.</span>
    <color-picker 
      ng-model="elemento.options.colors.sii"
      options="structureTitleColorOptions"
    ></color-picker>
  </div>
  <div class="uk-width-medium-1-3">
    <span class="color-label">Color de FEBOS</span>
    <color-picker 
      ng-model="elemento.options.colors.febos"
      options="structureTitleColorOptions"
    ></color-picker>
  </div>
  <div class="uk-width-medium-1-3">
    <span class="color-label">Color de Información</span>
    <color-picker 
      ng-model="elemento.options.colors.info"
      options="structureTitleColorOptions"
    ></color-picker>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-2">
    <label>Altura de Linea Texto Recepcion</label>
    <input id="textLineHeight" class="md-input" min="0" type="number" ng-model="elemento.options.textStyle['line-height']">
  </div>
  <div class="uk-width-medium-1-2">
    <label>Tamaño de Texto Recepcion</label>
    <input id="textSize" class="md-input" min="0" type="number" ng-model="elemento.options.textStyle['font-size']">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de Texto Recepcion</label>
      <input config="configuracionParaValoresSelectize" options="text_style_types" ng-model="elemento.options.textStyle['font-style']" required name="text_font_style" id="text_font_style" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Grosor de Texto Recepcion</label>
      <input config="configuracionParaValoresSelectize" options="font_weight_types" ng-model="elemento.options.textStyle['font-weight']" required name="text_font_weight" id="text_font_weight" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Tipo de Fuente de Texto Recepcion</label>
      <input config="configuracionParaValoresFontFamilySelectize" options="fonts" ng-model="elemento.options.textStyle['font-family']" required name="textFontFamily" id="textFontFamily" selectize />
    </div>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-2">
    <label>Altura de Linea Fecha Recepcion</label>
    <input id="datesLineHeight" class="md-input" min="0" type="number" ng-model="elemento.options.datesStyle['line-height']">
  </div>
  <div class="uk-width-medium-1-2">
    <label>Tamaño de Fecha Recepcion</label>
    <input id="datesSize" class="md-input" min="0" type="number" ng-model="elemento.options.datesStyle['font-size']">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de Fecha Recepcion</label>
      <input config="configuracionParaValoresSelectize" options="text_style_types" ng-model="elemento.options.datesStyle['font-style']" required name="dates_font_style" id="dates_font_style" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Grosor de Fecha Recepcion</label>
      <input config="configuracionParaValoresSelectize" options="font_weight_types" ng-model="elemento.options.datesStyle['font-weight']" required name="dates_font_weight" id="dates_font_weight" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Tipo de Fuente de Fecha Recepcion</label>
      <input config="configuracionParaValoresFontFamilySelectize" options="fonts" ng-model="elemento.options.datesStyle['font-family']" required name="datesFontFamily" id="datesFontFamily" selectize />
    </div>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-2">
    <label>Altura de Linea Informacion Recepcion</label>
    <input id="infoLineHeight" class="md-input" min="0" type="number" ng-model="elemento.options.infoStyle['line-height']">
  </div>
  <div class="uk-width-medium-1-2">
    <label>Tamaño de Informacion Recepcion</label>
    <input id="infoSize" class="md-input" min="0" type="number" ng-model="elemento.options.infoStyle['font-size']">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de Informacion Recepcion</label>
      <input config="configuracionParaValoresSelectize" options="text_style_types" ng-model="elemento.options.infoStyle['font-style']" required name="info_font_style" id="info_font_style" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Grosor de Informacion Recepcion</label>
      <input config="configuracionParaValoresSelectize" options="font_weight_types" ng-model="elemento.options.infoStyle['font-weight']" required name="info_font_weight" id="info_font_weight" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Tipo de Fuente de Informacion Recepcion</label>
      <input config="configuracionParaValoresFontFamilySelectize" options="fonts" ng-model="elemento.options.infoStyle['font-family']" required name="infoFontFamily" id="infoFontFamily" selectize />
    </div>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <span class="color-label">Color de Borde</span>
    <color-picker 
      ng-model="elemento.options.border['border-color']"
      options="structureBorderColorOptions"
    ></color-picker>
  </div>
  <div class="uk-width-medium-1-4">
    <label>Tamaño de Borde</label>
    <input id="structureBorderSize" class="md-input" min="0" type="number" ng-model="elemento.options.border['border-width']">
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de Borde</label>
      <input config="configuracionParaValoresSelectize" options="border_style_types" ng-model="elemento.options.border['border-style']" required name="structure_border_style" id="structure_border_style" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4">
    <label>Redondeado de Borde</label>
    <input id="structureBorderRadius" class="md-input" min="0" type="number" ng-model="elemento.options.border['border-radius']">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <label>Padding Superior (cm)</label>
    <input id="docSettingsPaddingTop" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.style['padding-top']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Derecha (cm)</label>
    <input id="docSettingsPaddingRight" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.style['padding-right']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Inferior (cm)</label>
    <input id="docSettingsPaddingBottom" type="number" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" ng-model="elemento.options.style['padding-bottom']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Izquierdo (cm)</label>
    <input id="docSettingsPaddingLeft" type="number" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" ng-model="elemento.options.style['padding-left']">
  </div>
</div>