<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-1 uk-text-center">
    <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" ng-click="nuevaLineaInformacionReceptor()">
      <i class="uk-icon-plus-circle"></i>
      Agregar fila
    </a>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-1">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="display: table;table-layout: fixed;border-color: #000;border-width: 1px;border-style: solid;border-collapse: collapse" align="center">
      <thead ng-if="enEdicion">
        <tr>
          <th style="width: 80px;border-color: #000;border-width: 1px;border-style: solid">¿Combinar?</th>
          <th style="border-color: #000;border-width: 1px;border-style: solid" ng-style="{'width': elemento.options.widthColumns}">Columna 1</th>
          <th style="border-color: #000;border-width: 1px;border-style: solid">Columna 2</th>
          <th style="width: 80px;border-color: #000;border-width: 1px;border-style: solid">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in elemento.options.data track by $index">
          <td style="text-align: center;border-color: #000;border-width: 1px;border-style: solid">
            <input type="checkbox" id="switch_fs" ui-switch ng-model="item.combinar" />
          </td>
          <td colspan="{{(item.combinar)?2:1}}" style="border-color: #000;border-width: 1px;border-style: solid">
            <div click-para-editar type="inputText" ng-model="item.label" click-para-editar-activo="elemento.editando"></div>
            <div click-para-editar type="inputText" ng-model="item.ejemplo" click-para-editar-activo="elemento.editando"></div>
          </td>
          <td ng-if="!item.combinar" style="border-color: #000;border-width: 1px;border-style: solid">
            <div click-para-editar type="inputText" ng-model="item.otherCell.label" click-para-editar-activo="elemento.editando"></div>
            <div click-para-editar type="inputText" ng-model="item.otherCell.ejemplo" click-para-editar-activo="elemento.editando"></div>
          </td>
          <td style="text-align: center;border-color: #000;border-width: 1px;border-style: solid">
            <a id="eliminar-linea" title="Eliminar Información" ng-click="eliminarLineaInformacionReceptor($index);">
              <i class="md-icon material-icons">&#xe14b;</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>  
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <span>Seleccionar Fila</span>
    <select id="seleccionarInformacionParaCodigo" ng-model="tempInfo" class="md-input" data-uk-tooltip="{pos:'top'}" title="Selecciona una Información de Receptor" style="padding: 0!important;">
      <option value="" disabled selected hidden>Seleccionar...</option>
      <option ng-repeat="item in elemento.options.data track by $index" value="{{$index}}">Fila {{($index + 1)}}</option>
    </select>
  </div>
  <div class="uk-width-medium-1-3" ng-if="elemento.options.data[tempInfo] !== undefined">
    <label>Código de Columna 1</label>
    <textarea id="codeInfoColumn1" class="md-input" type="text" ng-model="elemento.options.data[tempInfo].code" placeholder="Ingrese Código..."></textarea>
  </div>
  <div class="uk-width-medium-1-3" ng-if="!elemento.options.data[tempInfo].combinar && elemento.options.data[tempInfo] !== undefined">
    <label>Código de Columna 2</label>
    <textarea id="codeInfoColumn2" class="md-input" type="text" ng-model="elemento.options.data[tempInfo].otherCell.code" placeholder="Ingrese Código..."></textarea>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <label>Separación de Etiqueta (cm)</label>
    <input id="labelPadding" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.labelStyle['padding-right']">
  </div>
  <div class="uk-width-medium-1-3">
    <label>Separación de Columna (cm)</label>
    <input id="infoMargin" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.separationInfo">
  </div>
  <div class="uk-width-medium-1-3">
    <label>Separación de Linea (cm)</label>
    <input id="lineMargin" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.textStyle['padding-bottom']">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <label>Altura de Linea Etiqueta</label>
    <input id="labelLineHeight" class="md-input" min="0" type="number" ng-model="elemento.options.labelStyle['line-height']">
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Alineación de Etiqueta</label>
      <input config="configuracionParaValoresSelectize" options="text_align_types" ng-model="elemento.options.labelStyle['text-align']" required name="label_text_align" id="label_text_align" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <label>Tamaño de Etiqueta</label>
    <input id="labelSize" class="md-input" min="0" type="number" ng-model="elemento.options.labelStyle['font-size']">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <span class="color-label">Color de Etiqueta</span>
    <color-picker 
      ng-model="elemento.options.labelStyle['color']"
      options="structureTitleColorOptions"
    ></color-picker>
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de Etiqueta</label>
      <input config="configuracionParaValoresSelectize" options="text_style_types" ng-model="elemento.options.labelStyle['font-style']" required name="label_font_style" id="label_font_style" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Grosor de Etiqueta</label>
      <input config="configuracionParaValoresSelectize" options="font_weight_types" ng-model="elemento.options.labelStyle['font-weight']" required name="label_font_weight" id="label_font_weight" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Tipo de Fuente de Etiqueta</label>
      <input config="configuracionParaValoresFontFamilySelectize" options="fonts" ng-model="elemento.options.labelStyle['font-family']" required name="labelFontFamily" id="labelFontFamily" selectize />
    </div>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <label>Altura de Linea Texto</label>
    <input id="textLineHeight" class="md-input" min="0" type="number" ng-model="elemento.options.textStyle['line-height']">
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Alineación de Texto</label>
      <input config="configuracionParaValoresSelectize" options="text_align_types" ng-model="elemento.options.textStyle['text-align']" required name="text_text_align" id="text_text_align" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <label>Tamaño de Texto</label>
    <input id="textSize" class="md-input" min="0" type="number" ng-model="elemento.options.textStyle['font-size']">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <span class="color-label">Color de Texto</span>
    <color-picker 
      ng-model="elemento.options.textStyle['color']"
      options="structureTitleColorOptions"
    ></color-picker>
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de Texto</label>
      <input config="configuracionParaValoresSelectize" options="text_style_types" ng-model="elemento.options.textStyle['font-style']" required name="text_font_style" id="text_font_style" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Grosor de Texto</label>
      <input config="configuracionParaValoresSelectize" options="font_weight_types" ng-model="elemento.options.textStyle['font-weight']" required name="text_font_weight" id="text_font_weight" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Tipo de Fuente de Texto</label>
      <input config="configuracionParaValoresFontFamilySelectize" options="fonts" ng-model="elemento.options.textStyle['font-family']" required name="textFontFamily" id="textFontFamily" selectize />
    </div>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <span class="color-label">Color de Borde</span>
    <color-picker 
      ng-model="elemento.options.border['border-color']"
      options="structureBorderColorOptions"
    ></color-picker>
  </div>
  <div class="uk-width-medium-1-4">
    <label>Tamaño de Borde</label>
    <input id="structureBorderSize" class="md-input" min="0" type="number" ng-model="elemento.options.border['border-width']">
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de Borde</label>
      <input config="configuracionParaValoresSelectize" options="border_style_types" ng-model="elemento.options.border['border-style']" required name="structure_border_style" id="structure_border_style" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4">
    <label>Redondeado de Borde</label>
    <input id="structureBorderRadius" class="md-input" min="0" type="number" ng-model="elemento.options.border['border-radius']">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <label>Padding Superior (cm)</label>
    <input id="docSettingsPaddingTop" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.style['padding-top']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Derecha (cm)</label>
    <input id="docSettingsPaddingRight" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.style['padding-right']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Inferior (cm)</label>
    <input id="docSettingsPaddingBottom" type="number" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" ng-model="elemento.options.style['padding-bottom']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Izquierdo (cm)</label>
    <input id="docSettingsPaddingLeft" type="number" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" ng-model="elemento.options.style['padding-left']">
  </div>
</div>