<div class="uk-grid uk-margin-top" data-uk-grid-margin> 
  <div class="uk-width-medium-1-1">
    <input type="checkbox" class="switchery switchery-small" ui-switch checked color="#2196f3" ng-model="elemento.options.withImage" id="switchWithImage" />
    <label for="switchWithImage" class="inline-label">Con/Sin imagen</label>
  </div>
  <div ng-if="elemento.options.withImage" class="uk-width-1-1">
  	<editor-upload-image data="elemento"></editor-upload-image>
  </div>
  <div ng-if="elemento.options.withImage" class="uk-width-medium-1-3">
    <label>Url Imagen</label>
    <input id="imageUrl" class="md-input" type="text" ng-model="elemento.options.image">
  </div>
  <div ng-if="elemento.options.withImage" class="uk-width-medium-1-3">
    <label>Ancho de Imagen (cm)</label>
    <input id="imageSize" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.widthImage">
  </div>
  <div ng-if="elemento.options.withImage" class="uk-width-medium-1-3">
    <label>Separación (cm)</label>
    <input id="imagePaddingRight" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.paddingImage">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-2">
    <label>Texto de Nombre Emisor</label>
    <input id="exampleNameText" class="md-input" type="text" ng-model="elemento.options.nameSenderText" md-input></input>
  </div>
  <div class="uk-width-medium-1-2">
    <label>Código de Nombre Emisor</label>
    <textarea id="codeNameText" cols="30" class="md-input" type="text" ng-model="elemento.options.nameSenderCode"></textarea>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-1">
		<table style="border-color: #000;border-width: 1px;border-style: solid">
			<thead>
				<tr>
					<th>Información</th>
					<th>Código</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in elemento.options.senderInformation track by $index">
					<td>
						<div click-para-editar type="inputText" ng-model="item" click-para-editar-activo="elemento.editando">{{item}}</div>
					</td>
					<td>
						<div click-para-editar type="inputText" ng-model="elemento.options.code[$index]" click-para-editar-activo="elemento.editando">{{elemento.options.code[$index]}}</div>
					</td>
					<td>
						<a id="eliminar-plantilla" title="Eliminar Información" ng-click="eliminarNuevaInformacionEmisor($index);">
              <i class="md-icon material-icons">&#xe14b;</i>
            </a>
          </td>
				</tr>
			</tbody>
		</table>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-2">
    <label>Texto Nuevo Información</label>
    <input id="exampleNewSenderInformationText" class="md-input" type="text" ng-model="newSenderInformation" md-input></input>
  </div>
  <div class="uk-width-medium-1-2">
    <label>Código Nuevo Información</label>
    <textarea id="codeNewSenderInformationText" cols="30" class="md-input" type="text" ng-model="newCode"></textarea>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-1 uk-text-center">
    <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" ng-click="agregarNuevaInformacionEmisor(newSenderInformation,newCode)">
      <i class="uk-icon-plus-circle"></i>
      Agregar Información
    </a>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <label>Altura de Linea Nombre</label>
    <input id="nameSenderLineHeight" class="md-input" min="0" type="number" ng-model="elemento.options.nameSenderStyle['line-height']">
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Alineación de Nombre</label>
      <input config="configuracionParaValoresSelectize" options="text_align_types" ng-model="elemento.options.nameSenderStyle['text-align']" required name="nameSender_text_align" id="nameSender_text_align" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <label>Tamaño de Nombre</label>
    <input id="nameSenderSize" class="md-input" min="0" type="number" ng-model="elemento.options.nameSenderStyle['font-size']">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <span class="color-label">Color de Nombre</span>
    <color-picker 
      ng-model="elemento.options.nameSenderStyle['color']"
      options="structureTitleColorOptions"
    ></color-picker>
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de Nombre</label>
      <input config="configuracionParaValoresSelectize" options="text_style_types" ng-model="elemento.options.nameSenderStyle['font-style']" required name="nameSender_font_style" id="nameSender_font_style" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Grosor de Nombre</label>
      <input config="configuracionParaValoresSelectize" options="font_weight_types" ng-model="elemento.options.nameSenderStyle['font-weight']" required name="nameSender_font_weight" id="nameSender_font_weight" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Tipo de Fuente de Nombre</label>
      <input config="configuracionParaValoresFontFamilySelectize" options="fonts" ng-model="elemento.options.nameSenderStyle['font-family']" required name="nameSenderFontFamily" id="nameSenderFontFamily" selectize />
    </div>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <label>Altura de Linea Informaciones</label>
    <input id="othersTextsLineHeight" class="md-input" min="0" type="number" ng-model="elemento.options.othersTextsStyle['line-height']">
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Alineación de Informaciones</label>
      <input config="configuracionParaValoresSelectize" options="text_align_types" ng-model="elemento.options.othersTextsStyle['text-align']" required name="othersTexts_text_align" id="othersTexts_text_align" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <label>Tamaño de Informaciones</label>
    <input id="othersTextsSize" class="md-input" min="0" type="number" ng-model="elemento.options.othersTextsStyle['font-size']">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <span class="color-label">Color de Informaciones</span>
    <color-picker 
      ng-model="elemento.options.othersTextsStyle['color']"
      options="structureTitleColorOptions"
    ></color-picker>
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de Informaciones</label>
      <input config="configuracionParaValoresSelectize" options="text_style_types" ng-model="elemento.options.othersTextsStyle['font-style']" required name="othersTexts_font_style" id="othersTexts_font_style" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Grosor de Informaciones</label>
      <input config="configuracionParaValoresSelectize" options="font_weight_types" ng-model="elemento.options.othersTextsStyle['font-weight']" required name="othersTexts_font_weight" id="othersTexts_font_weight" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Tipo de Fuente de Informaciones</label>
      <input config="configuracionParaValoresFontFamilySelectize" options="fonts" ng-model="elemento.options.othersTextsStyle['font-family']" required name="othersTextsFontFamily" id="othersTextsFontFamily" selectize />
    </div>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <span class="color-label">Color de Borde</span>
    <color-picker 
      ng-model="elemento.options.border['border-color']"
      options="structureBorderColorOptions"
    ></color-picker>
  </div>
  <div class="uk-width-medium-1-4">
    <label>Tamaño de Borde</label>
    <input id="structureBorderSize" class="md-input" min="0" type="number" ng-model="elemento.options.border['border-width']">
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de Borde</label>
      <input config="configuracionParaValoresSelectize" options="border_style_types" ng-model="elemento.options.border['border-style']" required name="structure_border_style" id="structure_border_style" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4">
    <label>Redondeado de Borde</label>
    <input id="structureBorderRadius" class="md-input" min="0" type="number" ng-model="elemento.options.border['border-radius']">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <label>Padding Superior (cm)</label>
    <input id="docSettingsPaddingTop" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.style['padding-top']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Derecha (cm)</label>
    <input id="docSettingsPaddingRight" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.style['padding-right']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Inferior (cm)</label>
    <input id="docSettingsPaddingBottom" type="number" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" ng-model="elemento.options.style['padding-bottom']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Izquierdo (cm)</label>
    <input id="docSettingsPaddingLeft" type="number" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" ng-model="elemento.options.style['padding-left']">
  </div>
</div>