<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <label>Titulo</label>
    <input id="structureTitleText" class="md-input" type="text" ng-model="elemento.options.title">
  </div>
  <div class="uk-width-medium-1-4" ng-if="elemento.options.title != ''">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Alineación de titulo</label>
      <input config="configuracionParaValoresSelectize" options="text_align_types" ng-model="elemento.options.styleTitle['text-align']" required name="structure_title_text_align" id="structure_title_text_align" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4" ng-if="elemento.options.title != ''">
    <label>Tamaño de titulo</label>
    <input id="structureTitleSize" class="md-input" min="0" type="number" ng-model="elemento.options.styleTitle['font-size']">
  </div>
  <div class="uk-width-medium-1-4" ng-if="elemento.options.title != ''">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de titulo</label>
      <input config="configuracionParaValoresSelectize" options="text_style_types" ng-model="elemento.options.styleTitle['font-style']" required name="structure_title_font_style" id="structure_title_font_style" selectize />
    </div>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3" ng-if="elemento.options.title != ''">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Grosor de titulo</label>
      <input config="configuracionParaValoresSelectize" options="font_weight_types" ng-model="elemento.options.styleTitle['font-weight']" required name="structure_title_font_weight" id="structure_title_font_weight" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3" ng-if="elemento.options.title != ''">
    <span class="color-label">Color de Titulo</span>
    <color-picker 
      ng-model="elemento.options.styleTitle['color']"
      options="structureTitleColorOptions"
    ></color-picker>
  </div>
  <div class="uk-width-medium-1-3" ng-if="elemento.options.title != ''">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Tipo de Fuente</label>
      <input config="configuracionParaValoresFontFamilySelectize" options="fonts" ng-model="elemento.options.style['font-family']" required name="structureFontFamily" id="structureFontFamily" selectize />
    </div>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-2">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Direccion de elementos</label>
      <input config="configuracionParaValoresSelectize" options="direction" ng-model="elemento.options.direction" required name="structure_direction" id="structure_direction" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-2">
    <span class="color-label">Color de Fondo</span>
    <color-picker 
      ng-model="elemento.options.style['background-color']"
      options="structureBackgroundColorOptions"
    ></color-picker>
  </div>
  </div>  
  <div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <label>Tamaño de Borde</label>
    <input id="structureBorderSize" class="md-input" min="0" type="number" ng-model="elemento.options.style['border-width']">
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de Borde</label>
      <input config="configuracionParaValoresSelectize" options="border_style_types" ng-model="elemento.options.style['border-style']" required name="structure_border_style" id="structure_border_style" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4">
    <span class="color-label">Color de Borde</span>
    <color-picker 
      ng-model="elemento.options.style['border-color']"
      options="structureBorderColorOptions"
    ></color-picker>
  </div>
  <div class="uk-width-medium-1-4">
    <label>Redondeado de Borde</label>
    <input id="structureBorderRadius" class="md-input" min="0" type="number" ng-model="elemento.options.style['border-radius']">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <div class="uk-input-group">
      <label>Borde Superior</label>
      <span class="uk-input-group-addon"><input type="checkbox" ng-model="elemento.options.borders_actives.top" icheck/></span>
    </div>
  </div>
  <div class="uk-width-medium-1-4">
    <div class="uk-input-group">
      <label>Borde Inferior</label>
      <span class="uk-input-group-addon"><input type="checkbox" ng-model="elemento.options.borders_actives.bottom" icheck/></span>
    </div>
  </div>
  <div class="uk-width-medium-1-4">
    <div class="uk-input-group">
      <label>Borde Izquierdo</label>
      <span class="uk-input-group-addon"><input type="checkbox" ng-model="elemento.options.borders_actives.left" icheck/></span>
    </div>
  </div>
  <div class="uk-width-medium-1-4">
    <div class="uk-input-group">
      <label>Borde Derecho</label>
      <span class="uk-input-group-addon"><input type="checkbox" ng-model="elemento.options.borders_actives.right" icheck/></span>
    </div>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <label>Padding Superior (cm)</label>
    <input id="docSettingsPaddingTop" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.style['padding-top']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Derecha (cm)</label>
    <input id="docSettingsPaddingRight" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.style['padding-right']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Inferior (cm)</label>
    <input id="docSettingsPaddingBottom" type="number" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" ng-model="elemento.options.style['padding-bottom']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Izquierdo (cm)</label>
    <input id="docSettingsPaddingLeft" type="number" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" ng-model="elemento.options.style['padding-left']">
  </div>
</div>