<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-1 uk-text-center">
    <input type="checkbox" class="switchery switchery-small" ui-switch checked color="#2196f3" ng-model="elemento.options.showHeaders" id="switchHeadersTable" />
    <label for="switchHeadersTable" class="inline-label">Agregar/Quitar Cabeceras</label>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <label>Variable de Tabla</label>
    <input id="docSettingsTable" class="md-input" type="text" ng-model="elemento.options.table_variable" placeholder="Ingrese una variable...">
  </div> 
  <div class="uk-width-medium-1-4">
    <label>Columnas</label>
    <input id="tableColumns" class="md-input" min="0" type="number" ng-model="elemento.options['columns']">
  </div>
  <div class="uk-width-medium-1-4">
    <span>Seleccionar Columna</span>
    <select id="seleccionarColumnaParaVariable" ng-model="tempColumns" class="md-input" data-uk-tooltip="{pos:'top'}" title="Selecciona una Columna" style="padding: 0!important;">
      <option value="" disabled selected hidden>Seleccionar...</option>
      <option ng-repeat="(yKey, yValue) in [].constructor(elemento.options.columns) track by $index" value="{{$index}}">{{elemento.options.textHeaders[yKey]}}</option>
    </select>
  </div>
  <div class="uk-width-medium-1-4">
    <label>Código de Columna</label>
    <textarea id="docSettingsColumns" cols="30" class="md-input" type="text" ng-model="elemento.options.variables[tempColumns]" ng-disabled="elemento.options.variables[tempColumns] === undefined" placeholder="Ingrese una variable..."></textarea>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin> 
  <div class="uk-width-medium-1-4">
    <input type="checkbox" class="switchery switchery-small" ui-switch checked color="#2196f3" ng-model="elemento.options.withColors" id="switchColorsTable" />
    <label for="switchColorsTable" class="inline-label">Sin/Con Color</label>
  </div>
  <div ng-if="elemento.options.withColors" class="uk-width-medium-1-4">
    <span class="color-label">Color Cabecera</span>
    <color-picker 
      ng-model="elemento.options.colors.primary"
      options="tableColorOptions"
    ></color-picker>
  </div>
  <div ng-if="elemento.options.withColors" class="uk-width-medium-1-4">
    <span class="color-label">Color Pares</span>
    <color-picker 
      ng-model="elemento.options.colors.secondary"
      options="tableColorOptions"
    ></color-picker>
  </div>
  <div ng-if="elemento.options.withColors" class="uk-width-medium-1-4">
    <span class="color-label">Color Impares</span>
    <color-picker 
      ng-model="elemento.options.colors.tertiary"
      options="tableColorOptions"
    ></color-picker>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin> 
  <div class="uk-width-medium-1-3">
    <input type="checkbox" class="switchery switchery-small" ui-switch checked color="#2196f3" ng-model="elemento.options.withStripes" id="switchStripesTable" />
    <label for="switchStripesTable" class="inline-label">Sin/Con Rayas</label>
  </div>
  <div ng-if="elemento.options.withStripes" class="uk-width-medium-1-3">
    <input type="radio" name="stripesHorizontaly" id="stripesHorizontaly" icheck ng-model="elemento.options.directionStripes" value="horizontal" />
    <label for="stripesHorizontaly" class="inline-label uk-text-small">Horizontal</label>
  </div>
  <div ng-if="elemento.options.withStripes" class="uk-width-medium-1-3">
    <input type="radio" name="stripesVerticaly" id="stripesVerticaly" icheck ng-model="elemento.options.directionStripes" value="vertical" />
    <label for="stripesVerticaly" class="inline-label uk-text-small">Vertical</label>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin> 
  <div class="uk-width-medium-1-4">
    <input type="checkbox" class="switchery switchery-small" ui-switch checked color="#2196f3" ng-model="elemento.options.withBorders" id="switchBordersTable" />
    <label for="switchBordersTable" class="inline-label">Sin/Con Bordes</label>
  </div>
  <div class="uk-width-medium-3-4" ng-if="elemento.options.withBorders" >
    <div class="uk-grid uk-margin-top" data-uk-grid-margin> 
      <div class="uk-width-medium-1-3">
        <input type="radio" name="allBorders" id="allBorders" icheck ng-model="elemento.options.typeBorders" value="all" />
        <label for="allBorders" class="inline-label uk-text-small">Todos los bordes</label>
      </div>
      <div class="uk-width-medium-1-3">
        <input type="radio" name="horizontalBorders" id="horizontalBorders" icheck ng-model="elemento.options.typeBorders" value="horizontal" />
        <label for="horizontalBorders" class="inline-label uk-text-small">Bordes Horizontales</label>
      </div>
      <div class="uk-width-medium-1-3">
        <input type="radio" name="externalBorders" id="externalBorders" icheck ng-model="elemento.options.typeBorders" value="external" />
        <label for="externalBorders" class="inline-label uk-text-small">Solo borde externos</label>
      </div>
      <div class="uk-width-medium-1-3">
        <label>Tamaño de Borde</label>
        <input id="tableBorderSize" class="md-input" min="0" type="number" ng-model="elemento.options.border.style['border-width']">
      </div>
      <div class="uk-width-medium-1-3">
        <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
          <label>Estilo de Borde</label>
          <input config="configuracionParaValoresSelectize" options="border_style_types" ng-model="elemento.options.border.style['border-style']" required name="table_border_style" id="table_border_style" selectize />
        </div>
      </div>
      <div class="uk-width-medium-1-3">
        <span class="color-label">Color de Borde</span>
        <color-picker 
          ng-model="elemento.options.border.style['border-color']"
          options="structureBorderColorOptions"
        ></color-picker>
      </div>
    </div>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <label>Titulo</label>
    <input id="titleText" class="md-input" type="text" ng-model="elemento.options.title">
  </div>
  <div class="uk-width-medium-1-4" ng-if="elemento.options.title != ''">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Alineación de titulo</label>
      <input config="configuracionParaValoresSelectize" options="text_align_types" ng-model="elemento.options.textStyle.title['text-align']" required name="title_text_align" id="title_text_align" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4" ng-if="elemento.options.title != ''">
    <label>Tamaño de titulo</label>
    <input id="titleSize" class="md-input" min="0" type="number" ng-model="elemento.options.textStyle.title['font-size']">
  </div>
  <div class="uk-width-medium-1-4" ng-if="elemento.options.title != ''">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de titulo</label>
      <input config="configuracionParaValoresSelectize" options="text_style_types" ng-model="elemento.options.textStyle.title['font-style']" required name="title_font_style" id="title_font_style" selectize />
    </div>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4" ng-if="elemento.options.title != ''">
    <label>Altura de Linea Titulo</label>
    <input id="titleLineHeight" class="md-input" min="0" type="number" ng-model="elemento.options.textStyle.title['line-height']">
  </div>
  <div class="uk-width-medium-1-4" ng-if="elemento.options.title != ''">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Grosor de titulo</label>
      <input config="configuracionParaValoresSelectize" options="font_weight_types" ng-model="elemento.options.textStyle.title['font-weight']" required name="title_font_weight" id="title_font_weight" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4" ng-if="elemento.options.title != ''">
    <span class="color-label">Color de Titulo</span>
    <color-picker 
      ng-model="elemento.options.textStyle.title['color']"
      options="structureTitleColorOptions"
    ></color-picker>
  </div>
  <div class="uk-width-medium-1-4" ng-if="elemento.options.title != ''">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Tipo de Fuente Titulo</label>
      <input config="configuracionParaValoresFontFamilySelectize" options="fonts" ng-model="elemento.options.textStyle.title['font-family']" required name="titleFontFamily" id="titleFontFamily" selectize />
    </div>
  </div>
</div>
<div ng-if="elemento.options.showHeaders" class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <label>Altura de Linea Cabecera</label>
    <input id="headerLineHeight" class="md-input" min="0" type="number" ng-model="elemento.options.textStyle.header['line-height']">
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Alineación de Cabecera</label>
      <input config="configuracionParaValoresSelectize" options="text_align_types" ng-model="elemento.options.textStyle.header['text-align']" required name="header_text_align" id="header_text_align" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <label>Tamaño de Cabecera</label>
    <input id="headerSize" class="md-input" min="0" type="number" ng-model="elemento.options.textStyle.header['font-size']">
  </div>
</div>
<div ng-if="elemento.options.showHeaders" class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de Cabecera</label>
      <input config="configuracionParaValoresSelectize" options="text_style_types" ng-model="elemento.options.textStyle.header['font-style']" required name="header_font_style" id="header_font_style" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Grosor de Cabecera</label>
      <input config="configuracionParaValoresSelectize" options="font_weight_types" ng-model="elemento.options.textStyle.header['font-weight']" required name="header_font_weight" id="header_font_weight" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Tipo de Fuente de Cabecera</label>
      <input config="configuracionParaValoresFontFamilySelectize" options="fonts" ng-model="elemento.options.textStyle.header['font-family']" required name="headerFontFamily" id="headerFontFamily" selectize />
    </div>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <label>Altura de Linea Celda</label>
    <input id="cellLineHeight" class="md-input" min="0" type="number" ng-model="elemento.options.textStyle.cell['line-height']">
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Alineación de Celda</label>
      <input config="configuracionParaValoresSelectize" options="text_align_types" ng-model="elemento.options.textStyle.cell['text-align']" required name="cell_text_align" id="cell_text_align" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <label>Tamaño de Celda</label>
    <input id="cellSize" class="md-input" min="0" type="number" ng-model="elemento.options.textStyle.cell['font-size']">
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de Celda</label>
      <input config="configuracionParaValoresSelectize" options="text_style_types" ng-model="elemento.options.textStyle.cell['font-style']" required name="cell_font_style" id="cell_font_style" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Grosor de Celda</label>
      <input config="configuracionParaValoresSelectize" options="font_weight_types" ng-model="elemento.options.textStyle.cell['font-weight']" required name="cell_font_weight" id="cell_font_weight" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Tipo de Fuente de Celda</label>
      <input config="configuracionParaValoresFontFamilySelectize" options="fonts" ng-model="elemento.options.textStyle.cell['font-family']" required name="cellFontFamily" id="cellFontFamily" selectize />
    </div>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <label>Padding Superior (cm)</label>
    <input id="docSettingsPaddingTop" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.style['padding-top']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Derecha (cm)</label>
    <input id="docSettingsPaddingRight" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.style['padding-right']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Inferior (cm)</label>
    <input id="docSettingsPaddingBottom" type="number" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" ng-model="elemento.options.style['padding-bottom']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Izquierdo (cm)</label>
    <input id="docSettingsPaddingLeft" type="number" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" ng-model="elemento.options.style['padding-left']">
  </div>
</div>