<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-2">
    <label>Texto de Ejemplo</label>
    <input id="TitleTextExample" class="md-input" type="text" ng-model="elemento.options.text">
  </div>
  <div class="uk-width-medium-1-2">
    <label>Código variable</label>
    <textarea id="TitleText" cols="30" class="md-input" type="text" ng-model="elemento.options.variable"></textarea>
  </div>
  <div class="uk-width-medium-1-4">
    <label>Altura de Linea</label>
    <input id="titleLineHeight" class="md-input" min="0" type="number" ng-model="elemento.options.styleText['line-height']">
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Alineación de titulo</label>
      <input config="configuracionParaValoresSelectize" options="text_align_types" ng-model="elemento.options.styleText['text-align']" required name="structure_title_text_align" id="title_text_align" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4">
    <label>Tamaño de titulo</label>
    <input id="structureTitleSize" class="md-input" min="0" type="number" ng-model="elemento.options.styleText['font-size']">
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Estilo de titulo</label>
      <input config="configuracionParaValoresSelectize" options="text_style_types" ng-model="elemento.options.styleText['font-style']" required name="structure_title_font_style" id="title_font_style" selectize />
    </div>
  </div>
  </div>
  <div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Grosor de titulo</label>
      <input config="configuracionParaValoresSelectize" options="font_weight_types" ng-model="elemento.options.styleText['font-weight']" required name="structure_title_font_weight" id="title_font_weight" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4">
    <span class="color-label">Color de Titulo</span>
    <color-picker 
      ng-model="elemento.options.styleText['color']"
      options="structureTitleColorOptions"
    ></color-picker>
  </div>
  <div class="uk-width-medium-1-4">
    <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
      <label>Tipo de Fuente</label>
      <input config="configuracionParaValoresFontFamilySelectize" options="fonts" ng-model="elemento.options.styleText['font-family']" required name="structureFontFamily" id="structureFontFamily" selectize />
    </div>
  </div>
  <div class="uk-width-medium-1-4">
    <span class="color-label">Color de Fondo</span>
    <color-picker 
      ng-model="elemento.options.style['background-color']"
      options="structureBackgroundColorOptions"
    ></color-picker>
  </div>
</div>
<div class="uk-grid uk-margin-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-4">
    <label>Padding Superior (cm)</label>
    <input id="docSettingsPaddingTop" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.style['padding-top']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Derecha (cm)</label>
    <input id="docSettingsPaddingRight" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" type="number" ng-model="elemento.options.style['padding-right']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Inferior (cm)</label>
    <input id="docSettingsPaddingBottom" type="number" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" ng-model="elemento.options.style['padding-bottom']">
  </div>
  <div class="uk-width-medium-1-4">
    <label>Padding Izquierdo (cm)</label>
    <input id="docSettingsPaddingLeft" type="number" class="md-input" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" ng-model="elemento.options.style['padding-left']">
  </div>
</div>