<div class="templateRoot">
  <div class="hover-edit-trigger" title="Click para Editar" activo="{{activo}}">
    <div class="hover-text-field" ng-show="!editar" ng-click="intercambiarEstado()" ng-style="{'min-height': (modelo == '')?'12px':'0px'}">{{modelo}}<i class="edit-pencil material-icons">&#xE254;</i></div>
    <input class="inputText" type="text" ng-model="modalLocal" ng-enter="guardar()" ng-show="editar && tipo == 'inputText'" />
  </div>
  <div class="edit-button-group" ng-show="editar">
  	<div ng-click="guardar()"><i class="material-icons">&#xe876;</i></div>
  	<div ng-click="cancelar()"><i class="material-icons">&#xe5cd;</i></div>
  </div>
</div>