<div ng-style="acciones.configuracionDeElementos(elemento)">
  <div ng-if="elemento.options.title != ''" style="width: 100%" ng-style="acciones.configuracionDeEstiloTexto(elemento.options.textStyle.title)">{{elemento.options.title}}</div>
  <table class="main" 
         width="100%" 
         cellspacing="0" 
         cellpadding="0" 
         border="0" 
         ng-style="estiloTabla('general')" 
         align="center"
         id="{{'table' + elemento.id}}">
    <thead ng-show="elemento.options.showHeaders">
      <tr>
        <th id="{{'tableTh' + $index}}" ng-style="estiloTabla('cabecera', $index)" ng-repeat="(yKey, yValue) in [].constructor(elemento.options.columns) track by $index">
          {{ configurarResize($index, '#tableTh'+$index, $last) }}
          <div click-para-editar type="inputText" ng-model="elemento.options.textHeaders[yKey]" click-para-editar-activo="elemento.editando"></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr id="{{'tableTr' + $index}}" ng-repeat="(yKey, yValue) in [].constructor(elemento.options.rows) track by $index" is-even="{{evenRow = $even; indiceFila = $index}}">
        <td id="{{'tableTd' + $index}}" ng-style="estiloTabla('celda', $index, evenRow, $even)" ng-repeat="(xKey, xValue) in [].constructor(elemento.options.columns) track by $index">
          {{ (!elemento.options.showHeaders && indiceFila == 0)?configurarResize($index, '#tableTr0 #tableTd'+$index, $last):''; }}
          <div click-para-editar type="inputText" ng-model="elemento.options.textArray[yKey][xKey]" click-para-editar-activo="elemento.editando"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>