<div ng-if="elemento.options.title != ''" 
     ng-style="configuracionTituloContenedor(elDatos.options)">
	{{elDatos.options.title}}
</div>
<div class="doc-container sub-container" 
     id="{{elDatos.id}}" 
     ng-style="acciones.combinarObjetos(acciones.configuracionDeElementos(elDatos), bordesInactivos())" 
     ng-class="{empty: !elDatos.options.elements.length}" 
     data-empty-template="{{elDatos.options.msgEmptyData}}" 
     dragula="{{obtenerNombreDragula()}}" 
     dragula-direction="{{elDatos.options.direction}}">
  <div class="builder-element" 
       id="{{ elemento.id }}" 
       ng-repeat="elemento in elDatos.options.elements track by elemento.id" 
       ng-style="elemento.options.size" 
       redimensionable 
       r-datos="elDatos.options.elements" 
       r-posicion-del-elemento="{{$index}}" 
       r-estilo-del-elemento="elemento.options.size" 
       r-desactivado="{{elDatos.options.direction == 'vertical' || $last}}" 
       r-direcciones="['derecha']">
    <ng-include src="acciones.obtenerTemplate(elemento.type)"></ng-include>
    <div class="icons-actions" 
         ng-class="{
          'actions-container': elemento.type == 'structure_element',
          'actions-elements': elemento.type != 'structure_element',
         }">
      <div class="icons-actions-content">
        <i title="Mover elemento" 
           class="actions material-icons move-{{idDragula}}">
          &#xe25d;
        </i>
        <i title="Editar elemento" 
           class="actions edit material-icons" 
           ng-click="acciones.edicionDeElemento(elemento, elDatos.options.elements)" 
           data-uk-modal="{target:'#modal_edit_element'}">
          &#xE254;
        </i>
        <br>
        <i title="Eliminar elemento" 
           class="actions delete material-icons" 
           ng-click="removerElemento(elemento, elDatos.options.elements)">
          &#xe872;
        </i>
      </div>
    </div>
  </div>
</div>