<table width="100%" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table;">
  <tbody>
    <tr>
      <td ng-style="elemento.options.border">
        <div ng-style="acciones.configuracionDeElementos(elemento)">
          <table id="table_receiver_information" width="100%" cellspacing="0" cellpadding="0" border="0" style="display: table;table-layout: auto;border-collapse: collapse;" align="center">
            <thead>
              <tr>
                <th class="label_receiver_information"></th>
                <th class="text_receiver_information"></th>
                <th class="label_receiver_information"></th>
                <th class="text_receiver_information"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in elemento.options.data track by $index">
                <td ng-style="{'width':'1px','white-space':'nowrap',
                'vertical-align': 'top'}">
                  <p ng-style="acciones.configuracionDeEstiloTexto(elemento.options.labelStyle)">{{item.label}}</p>
                </td>
                <td colspan="{{(item.combinar)?3:1}}" ng-style="{'width': (calcularWidth)?calcularWidth(item,'cell1'):item.textWidth,
                'vertical-align': 'top'}">
                  <p ng-style="acciones.configuracionDeEstiloTexto(elemento.options.textStyle)">{{item.ejemplo}}</p>
                </td>
                <td ng-if="!item.combinar" ng-style="{'width':'1px','white-space':'nowrap',
                'vertical-align': 'top','padding-left': elemento.options.separationInfo + 'cm'}">
                  <p ng-style="acciones.configuracionDeEstiloTexto(elemento.options.labelStyle)">{{item.otherCell.label}}</p>
                </td>
                <td ng-if="!item.combinar" ng-style="{'width': (calcularWidth)?calcularWidth(item,'cell2'):item.otherCell.textWidth,
                'vertical-align': 'top'}">
                  <p ng-style="acciones.configuracionDeEstiloTexto(elemento.options.textStyle)">{{item.otherCell.ejemplo}}
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>