<table class="main" 
       width="100%" 
       cellspacing="0" 
       cellpadding="0" 
       border="0" 
       align="center" 
       style="display: table;" 
       data-type="title">
  <tbody>
    <tr>
      <td class="title" ng-style="acciones.configuracionDeElementos(elemento)">
        <span>{{ elemento.options.text }}</span>
      </td>
    </tr>
  </tbody>
</table>