<table width="100%" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table;" data-type="image">
  <tbody>
    <tr>
      <td align="center" ng-style="acciones.configuracionDeElementos(elemento)" class="image">
        <img border="0" align="one_image" style="display:block;max-width:100%;" ng-src="{{ elemento.options.exampleURL }}" tabindex="0">
      </td>
    </tr>
  </tbody>
</table>