<table width="100%" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table;">
  <tbody>
  	<tr>
  	  <td ng-style="acciones.configuracionDeEstiloTexto(elemento.options.titleStyle)">{{elemento.options.title}}</td>
  	</tr>
    <tr>
      <td ng-style="elemento.options.border">
        <div ng-style="acciones.configuracionDeElementos(elemento)">
          <table id="table_aditionals_documents" width="100%" cellspacing="0" cellpadding="0" border="0" style="display: table;table-layout: auto;border-collapse: collapse;" align="center">
            <thead>
              <tr>
                <th class="label_aditionals_documents1"></th>
                <th class="text_aditionals_documents1"></th>
                <th class="label_aditionals_documents2"></th>
                <th class="text_aditionals_documents2"></th>
                <th class="label_aditionals_documents3"></th>
                <th class="text_aditionals_documents3"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in elemento.options.data track by $index">
                <td ng-style="{'width':'1px','white-space':'nowrap',
                'vertical-align': 'top'}">
                  <p ng-style="acciones.configuracionDeEstiloTexto(elemento.options.labelStyle)">{{item.label}}</p>
                </td>
                <td colspan="{{(item.combinar)?item.combinar:1}}" ng-style="{'width': (calcularWidth)?calcularWidth(item, 'cell1'):item.textWidth, 'vertical-align': 'top'}">
                  <p ng-style="acciones.configuracionDeEstiloTexto(elemento.options.textStyle)">{{item.ejemplo}}</p>
                </td>

                <td ng-if="!item.combinar" ng-style="{'width':'1px','white-space':'nowrap',
                'vertical-align': 'top','padding-left': elemento.options.separationInfo + 'cm'}">
                  <p ng-style="acciones.configuracionDeEstiloTexto(elemento.options.labelStyle)">{{item.cell2.label}}</p>
                </td>
                <td colspan="{{(item.cell2.combinar)?3:1}}" ng-if="!item.combinar" ng-style="{'width': (calcularWidth)?calcularWidth(item, 'cell2'):item.cell2.textWidth, 'vertical-align': 'top'}">
                  <p ng-style="acciones.configuracionDeEstiloTexto(elemento.options.textStyle)">{{item.cell2.ejemplo}}
                  </p>
                </td>

                <td ng-if="!((item.combinar == 5) || (item.cell2.combinar))" ng-style="{'width':'1px','white-space':'nowrap',
                'vertical-align': 'top','padding-left': elemento.options.separationInfo + 'cm'}">
                  <p ng-style="acciones.configuracionDeEstiloTexto(elemento.options.labelStyle)">{{item.cell3.label}}</p>
                </td>
                <td ng-if="!((item.combinar == 5) || (item.cell2.combinar))" ng-style="{'width': (calcularWidth)?calcularWidth(item, 'cell3'):item.cell3.textWidth, 'vertical-align': 'top'}">
                  <p ng-style="acciones.configuracionDeEstiloTexto(elemento.options.textStyle)">{{item.cell3.ejemplo}}
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>