<table width="100%" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table;">
  <tbody>
    <tr>
      <td ng-style="elemento.options.border">
      	<div ng-style="acciones.configuracionDeElementos(elemento)">
		    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="display: table;table-layout: fixed;" align="center">
		    	<tbody>
			        <tr>
			            <td ng-if="elemento.options.withImage" ng-style="{width: elemento.options.widthImage + 'cm', 'padding-right': elemento.options.paddingImage + 'cm'}" class="image">
					    	<img border="0" ng-style="{width: elemento.options.widthImage + 'cm', display: 'block', 'max-width': '100%'}" ng-src="{{ elemento.options.image }}" tabindex="0">
					    </td>
			            <td>
		                    <div ng-style="acciones.configuracionDeEstiloTexto(elemento.options.nameSenderStyle)">{{elemento.options.nameSenderText}}</div>
		                    <div ng-style="acciones.configuracionDeEstiloTexto(elemento.options.othersTextsStyle)" ng-repeat="item in elemento.options.senderInformation track by $index">{{item}}</div>
			            </td>
			        </tr>
			    </tbody>
		    </table>
		</div>
      </td>
    </tr>
  </tbody>
</table>