<table class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table;" data-type="image">
  <tbody>
    <tr>
      <td align="{{ elemento.options.align }}" ng-style="acciones.configuracionDeElementos(elemento)" class="image">
        <img border="0" align="one_image" style="display:block;max-width:100%;" ng-style="{width: elemento.options.width + 'cm'}" ng-src="{{ elemento.options.image }}" tabindex="0">
      </td>
    </tr>
  </tbody>
</table>