<table class="main" 
       width="100%" 
       style="display: table; border: 0;"
       cellspacing="0" 
       cellpadding="0" 
       border="0" 
       align="center" 
       data-type="divider">
  <tbody>    
    <tr>        
      <td class="divider-simple" 
          ng-style="acciones.configuracionDeElementos(elemento)">
        <table width="100%" 
               cellspacing="0" 
               cellpadding="0" 
               border="0" 
               style="border-top: {{elemento.options.border.size}}px {{elemento.options.border.style}} {{elemento.options.border.color}};">
                <tbody>
                    <tr>
                      <td width="100%"></td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
  </tbody>
</table>