<table width="100%" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table;">
  <tbody>
    <tr>
      <td ng-style="elemento.options.border">
      	<div ng-style="acciones.configuracionDeElementos(elemento)">
		    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="display: table;table-layout: fixed;" align="center">
		    	<tbody>
			        <tr>
			            <td class="uk-text-center" ng-style="{'color': elemento.options.colors.sii, 'padding-bottom': elemento.options.separacion + 'cm'}">
					    	<div ng-style="acciones.configuracionDeEstiloTexto(elemento.options.textStyle)">{{elemento.options.data.sii.label}}</div>
					    	<div ng-style="acciones.configuracionDeEstiloTexto(elemento.options.datesStyle)">19/02/2018</div>
					    </td>
			            <td class="uk-text-center" ng-style="{'color': elemento.options.colors.febos, 'padding-bottom': elemento.options.separacion + 'cm'}">
					    	<div ng-style="acciones.configuracionDeEstiloTexto(elemento.options.textStyle)">{{elemento.options.data.febos.label}}</div>
					    	<div ng-style="acciones.configuracionDeEstiloTexto(elemento.options.datesStyle)">19/02/2018</div>
			            </td>
			        </tr>
			        <tr>
			        	<td class="uk-text-center" ng-style="{'color': elemento.options.colors.info}">
			        		<div ng-style="acciones.configuracionDeEstiloTexto(elemento.options.infoStyle)">
			        			{{elemento.options.infoText}}
			        		</div>
			        	</td>
			        	<td></td>
			        </tr>
			    </tbody>
		    </table>
		</div>
      </td>
    </tr>
  </tbody>
</table>