<table class="main" width="100%" cellspacing="0" cellpadding="0" border="0" style="display: table;" align="center" data-type="text-block">
  <tbody>
    <tr>
      <td class="block-text" data-block-id="background" data-clonable="true" align="left" ng-bind-html="acciones.prepararHTML(elemento.options.content)">
      </td>
    </tr>
  </tbody>
</table>