<table width="100%" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table;">
	<tbody>
		<tr>
			<td ng-style="elemento.options.border">
				<div ng-style="acciones.configuracionDeElementos(elemento)">
					<table width="100%" cellspacing="0" cellpadding="0" border="0" style="display: table;table-layout: fixed;" align="center">
					  <tbody>
					    <tr ng-if="elemento.options.firstLine">
					      <td align="center" ng-style="{'padding-bottom': elemento.options.margin1 + 'cm'}">
					        <h4 ng-style="acciones.configuracionDeEstiloTexto(elemento.options.styleText)" style="display: inline-block;">{{elemento.options.data.first.label}}</h4>
					        <h4 ng-style="acciones.configuracionDeEstiloTexto(elemento.options.styleText)" style="display: inline-block;">{{elemento.options.data.first.example}}</h4>
					      </td>
					    </tr>
					    <tr ng-if="elemento.options.secondLine">
					      <td align="center" ng-style="{'padding-bottom': elemento.options.margin2 + 'cm'}">
					        <h4 ng-style="acciones.configuracionDeEstiloTexto(elemento.options.styleText)" style="display: inline-block;">{{elemento.options.data.second.label}}</h4>
					        <h4 ng-style="acciones.configuracionDeEstiloTexto(elemento.options.styleText)" style="display: inline-block;">{{elemento.options.data.second.example}}</h4>
					      </td>
					    </tr>
					    <tr ng-if="elemento.options.thirdLine">
					      <td align="center">
					        <h4 ng-style="acciones.configuracionDeEstiloTexto(elemento.options.styleText)" style="display: inline-block;">{{elemento.options.data.third.label}}</h4>
					        <h4 ng-style="acciones.configuracionDeEstiloTexto(elemento.options.styleText)" style="display: inline-block;">{{elemento.options.data.third.example}}</h4>
					      </td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</td>
		</tr>
	</tbody>
</table>