<table class="main" cellspacing="0" cellpadding="0" border="0" style="display: table;table-layout: fixed; " align="center" data-type="title">
  <tbody>
    <tr>
      <td class="title" align="left" ng-style="acciones.configuracionDeElementos(elemento)">
        <h4 ng-style="acciones.configuracionDeEstiloTexto(elemento.options.styleText)">{{ elemento.options.text }}</h4>
      </td>
    </tr>
  </tbody>
</table>