<div ng-style="acciones.configuracionDeElementos(elemento)">
  <div ng-if="elemento.options.title != ''" style="width: 100%" ng-style="acciones.configuracionDeEstiloTexto(elemento.options.textStyle.title)">{{elemento.options.title}}</div>
  <table width="100%" cellspacing="0" cellpadding="0" border="0" style="display: table;table-layout: fixed; border-collapse: collapse;" align="center">
    <tbody>
      <tr ng-repeat="row in [].constructor(elemento.options.numRows) track by $index" is-even="{{evenRow = $even; indiceFila = $index}}">
        <td style="border-color: #000;border-width: 1px;border-style: solid">
          <table width="100%" style="display: table;table-layout: fixed;border-collapse: collapse;">
            <thead>
              <tr>
                <th ng-repeat="cell in [].constructor(elemento.options.numCells) track by $index" ng-style="acciones.combinarObjetos({'border-left': '0px','border-top': '0px','border-bottom': '1px','border-right': ($last)?'0px':'1px','border-color': '#000','border-style': 'solid'}, elemento.options.textStyle.header)">
                  <div click-para-editar type="inputText" ng-model="elemento.options.cells[indiceFila][$index].header" click-para-editar-activo="elemento.editando"></div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td ng-repeat="cell in [].constructor(elemento.options.numCells) track by $index" ng-style="acciones.combinarObjetos({'border-left': '0px','border-top': '0px','border-bottom': '0px','border-right': ($last)?'0px':'1px','border-color': '#000','border-style': 'solid'}, elemento.options.textStyle.cell)">
                  <div click-para-editar type="inputText" ng-model="elemento.options.cells[indiceFila][$index].example" click-para-editar-activo="elemento.editando"></div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>