
<style>
    *:focus {outline:none !important}
    ul.fancytree-container{
        border: none;
    }
    .panel-titulo{
        background-color: #ddd;
        padding: 5px;
        text-align: center;
        font-weight: bold;
    }
    .accion{
        cursor:pointer;
    }
    .accion:hover{
        color: orangered;
    }
    .usuario:hover{
        cursor:pointer;
        border-right: solid 10px orangered;
        background-color: #eee;
    }
    .usuario i.icono{
        display: none;
    }
    .usuario:hover i.icono{
        display: inline;
    }
</style>
<br/>
<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_b uk-margin-bottom" ng-click="imprimir()" >Unidades Organizativas</h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="uk-grid uk-grid-collapse">
                <div class="uk-width-3-10">
                    <div class="panel-titulo">
                        Grupos
                        <div style="float:right" id="Herramientas">
                            <i data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Agregar Grupo" ng-click="modalCrearGrupo()" class="material-icons accion">&#xE148;</i>
                            <i data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Modificar Grupo" ng-click="modalEditarGrupo()" class="material-icons accion">&#xE22B;</i>
                            <i data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Eliminar Grupo" ng-click="eliminarGrupoSeleccionado()" class="material-icons accion" >&#xE92B;</i>
                        </div>
                    </div>
                </div>
                <div class="uk-width-7-10">
                    <div class="panel-titulo">
                        Usuarios del grupo seleccionado
                        <div style="float:right">
                            <!-- <i data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Crear Usuario" class="material-icons accion">&#xE148;</i> -->
                            <i data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" ng-click="modalTraerAlGrupo()" title="Editar usuarios de grupo" class="material-icons accion">&#xE56A;</i>
                        </div>
                    </div>
                </div>
                <div class="uk-width-3-10" id="Grup">
                    <div ng-show="!loaders.grupos" style="margin-top:10px;margin-bottom:10px;margin-left:10px">
                        Cargando...
                    </div>
                    <div id="arbol-grupos" ng-show="loaders.grupos" style="border: none;margin-bottom:60px;min-height:400px">
                        <!-- CONTENIDO GENERADO DINAMICAMENTE -->
                    </div>
                    <div ng-if="grupoActual.grupoId != 'root'" style="position: absolute; bottom:0px; padding:0px; margin:0px;margin-top:20px;background-color: #ddd;border-top: 1px solid #ccc;width:inherit">
                        <div style="padding: 5px">
                            <div><b>Código:</b> {{ grupoActual.codigo}}</div>
                            <div><b>Descripción:</b> {{ grupoActual.descripcion}}</div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-7-10" style="border-left: solid 1px #ccc" id="Usuarios">
                    <div ng-show="!loaders.usuarios" style="margin-top:10px;margin-bottom:10px;;margin-left:10px">
                        Cargando...
                    </div>
                    <div id="usuarios" ng-show="loaders.usuarios">
                        <div class="uk-width-medium-1-1">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon">Búsqueda</span>
                                <input add-on-space="true" class="md-input" ng-model="query3"></input>
                            </div>
                        </div>
                        <table cellpadding="3" class="uk-table-hover">

                            <!--<tr ng-repeat="el in usuariosDelGrupo | filter: buscarUsuario3" ng-click="verUsuario(el)">-->

                            <tr ng-repeat="el in usuariosDelGrupo | filter: buscarUsuario3" ng-if="el.usuario.estado == 1">
                                <td style="width: 60px"><img width="40" style="border-radius: 50%;" ng-src="{{ el.usuario.avatar}}" /></td>
                                <td style="width: 300px"><span class="md-list-heading">{{ el.usuario.nombre}}</span><br><span class="uk-text-small uk-text-muted">{{ el.usuario.correo}}</span></td>
                                <td style="width: 300px" ><div ng-if="$parent.lideres[el.usuario.id]" class="uk-badge uk-badge-success">Lider</div></td>
                                <td style="width: 35%;text-align: right">
                                    <a title="Modificar Usuario" ng-click="modificar(el)"><i class="material-icons">&#xE254;</i></a>
                                    <a title="Asignar Roles" ng-click="abrirRoles(el)"><i class="material-icons">&#xE8D3;</i></a>
                                    <a title="Eliminar Usuario" ng-click="confirmarEliminarUsuario(el)"><i class="material-icons">&#xE872;</i></a>
                                    <a title="Asignar Empresas" ng-click="asignarEmpresasModal(el)"><i class="material-icons">&#xE066;</i></a>
									<a title="Copiar Roles a otros Usuarios" ng-click="asignarUsuariosModal(el)"><i class="material-icons">&#xE14D;</i></a> 
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr></tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- modal crear nuevo usuario -->
            <div id="mdCrearUsuario" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
                        <div class="md-card-content large-padding uk-position-relative" id="crear_error" style="display: none; width: 30%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                            <h2 class="heading_b uk-text-danger">ERROR</h2>
                            <p>{{datos.mensaje_error}}</P>
                        </div>

                        <div class="md-card-content large-padding uk-position-relative" id="crear_ok" style="display: none; width: 30%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                            <h2 class="heading_b uk-text-danger">INGRESADO</h2>
                            <p>{{datos.mensaje_ok}}</P>
                        </div>


                        <div id="crear_form">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Crear Nuevo Usuario</h3>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div class="md-card-content">
                                    <div class="">
                                        <form>
                                            <div class="uk-form-row">
                                                <label for="rut">RUT Usuario</label>
                                                <input class="md-input" type="text" id="rut" ng-model="datos.rut" md-input maxlength="10" ng-rut ng-rut-format-punto="no"/>
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="nombre">Nombre Usuario</label>
                                                <input class="md-input" type="text" id="nombre" ng-model="datos.nombre" md-input maxlength="40" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="apellidos">Apellidos Usuario</label>
                                                <input class="md-input" type="text" id="apellidos" ng-model="datos.apellidos" md-input maxlength="50" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="alias">Alias Usuario</label>
                                                <input class="md-input" type="text" id="alias" ng-model="datos.alias" md-input maxlength="20" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="correo">Correo Electrónico</label>
                                                <input class="md-input" type="email" id="correo" ng-model="datos.correo" md-input maxlength="50" />
                                            </div>


                                            <div class="uk-margin-medium-top">
                                                <a ng-click="crear()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                    <span class="menu_icon" ng-if="datos.textoCrear != 'CREAR'">
                                                        <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                    </span>
                                                    {{ datos.textoCrear }}
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal crear nuevo usuario -->

            <!-- modal modificar usuario -->
            <div id="mdModificarUsuario" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
                        <div class="md-card-content large-padding uk-position-relative" id="modifica_error" style="display: none; width: 30%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToModificar($event)"></button>
                            <h2 class="heading_b uk-text-danger">ERROR</h2>
                            <p>{{datos.modifica_error}}</p>
                        </div>

                        <div class="md-card-content large-padding uk-position-relative" id="modifica_ok" style="display: none; width: 30%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToModificar($event)"></button>
                            <h2 class="heading_b uk-text-danger">MODIFICADO</h2>
                            <p>{{datos.modifica_ok}}</p>
                        </div>

                        <div id="modificar_form">
                            <div style="padding: 5px 0px 0px px;">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Modificar Usuario</h3>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div class="">
                                    <div class="">
                                        <form>
                                            <div class="uk-form-row" style="margin-top: 5%;">
                                                <label for="usuario_rut">RUT Usuario</label>
                                                <input class="md-input" type="text" id="usuario_rut" ng-model="usuarioSeleccionado.iut" md-input enter-key="guardarModificacion()" disabled="disabled" />
                                                <input class="md-input" type="hidden" id="usuario_id" ng-model="usuarioSeleccionado.id" md-input enter-key="guardarModificacion()" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="usuario_nombre">Nombre</label>
                                                <input class="md-input" type="text" id="usuario_nombre" ng-model="usuarioSeleccionado.nombre" md-input enter-key="guardarModificacion()" maxlength="40" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="usuario_alias">Alias</label>
                                                <input class="md-input" type="text" id="usuario_alias" ng-model="usuarioSeleccionado.alias" md-input enter-key="guardarModificacion()" maxlength="30" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="usuario_correo">Correo</label>
                                                <input class="md-input" type="text" id="usuario_correo" ng-model="usuarioSeleccionado.correo" md-input enter-key="guardarModificacion()" maxlength="50" />
                                            </div>

                                            <!--<div class="uk-form-row">
                                                <label for="usuario_clave">Clave</label>
                                                <input class="md-input" type="text" id="usuario_clave" ng-model="usuario_clave" md-input enter-key="guardarModificacion()" />
                                            </div>-->

                                            <div class="uk-margin-medium-top">
                                                <a ng-click="guardarModificacion()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                    <span class="menu_icon" ng-if="datas.textoModificar != 'MODIFICAR'">
                                                        <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                    </span>
                                                    {{ datas.textoModificar }}
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />

                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal modificar usuario -->

            <!-- modal asignar roles -->
            <div id="mdRoles" class="uk-modal">
                <div class="uk-modal-dialog" style="width: 100%">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content asignar_card" style="width: 100%; margin: 0 auto;">
                        <div class="md-card-content large-padding uk-position-relative" id="asignar_error" style="display: none; width: 60%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToAsignar($event)"></button>
                            <h2 class="heading_b uk-text-danger">ERROR</h2>
                            <p>{{ datos.asignar_error }}</p>
                        </div>

                        <div class="md-card-content large-padding uk-position-relative" id="asignar_ok" style="display: none; width: 60%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToAsignar($event)"></button>
                            <h2 class="heading_b uk-text-success">Roles Asignados Correctamente.</h2>
                            <p>{{ datos.asignar_ok }}</p>
                        </div>
                        <div ng-if="loadingRoles" class="uk-width-medium-1-1" style="text-align: center;">
                            <i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                            </div>
                        <div id="asignar_form" ng-if="!loadingRoles">

                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Asignar Roles a <font color="black">{{usuarioSeleccionado.nombre}}</font></h3>
                                 <!--<label for="roles">Roles Agregados</label>
                                  <div>
                                       <table>
                                        <tr>
                                            <td  ng-repeat="role in rolesTemporales"><span class="uk-badge uk-badge-muted ng-scope">{{role.nombre}}</span></td>
                                         </tr>
                                       </table>

                                 </div>-->

                            </div>

                            <div style="padding: 15px 24px 30px;">
                                <div class="md-card-content">
                                    <div class="">
                                        <form>
                                            <div class="uk-form-row">

                                                <!--<input class="md-input" type="text" config="roles_config" options="roles_options" id="roles_usuario" ng-model="roles_usuario" selectize />-->

                                            </div>

                                            <!--<div class="uk-margin-medium-top">
                                                <a ng-click="asignarRoles()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                    <span ng-if="cargandoRoles"><i class="uk-icon-spinner uk-icon-medium uk-icon-spin" style="color:white"></i></span> &nbsp;
                                                    {{ texto_roles }}
                                                </a>
                                            </div>-->
                                        </form>
                                        <div class="uk-grid uk-grid-collapse">
                                            <div class="uk-width-5-10">
                                                <div class="uk-input-group" style="margin-top:10px">
                                                            <span class="uk-input-group-addon">
                                                                <i class="uk-input-group-icon uk-icon-search"></i>
                                                            </span>
                                                            <div class="md-input-wrapper">
                                                                <input class="md-input" placeholder="Buscar roles disponibles..." type="text" id="" md-input ng-model="rol.filtro_rol">
                                                            </div>
                                               </div>
                                            </div>
                                            <div class="uk-width-5-10">
                                                <div class="uk-input-group" style="margin-top:10px">
                                                            <span class="uk-input-group-addon">
                                                                <i class="uk-input-group-icon uk-icon-search"></i>
                                                            </span>
                                                            <div class="md-input-wrapper">
                                                                <input class="md-input" placeholder="Buscar roles asignados..." type="text" id="" md-input ng-model="rol.filtro_roltemp">
                                                            </div>
                                               </div>
                                            </div>
                                            <div class="uk-width-5-10" style="margin-top: 2%">
                                                <div class="panel-titulo">Roles Disponibles</div>
                                            </div>
                                            <div class="uk-width-5-10" style="margin-top: 2%">
                                                <div class="panel-titulo">Roles Asignados</div>
                                            </div>
                                            <div class="uk-width-5-10">
                                                <div style="width:100%; height:300px; overflow : hidden; overflow-y : scroll">
                                                    <table class="uk-table uk-table-nowrap uk-table-hover" style="width: 100%">
                                                        <thead>
                                                            <tr>
                                                                <th class="uk-width-2-10 uk-text-center" style="display: none">ID</th>

                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <!--<tr ng-if="cargando">
                                                                <td colspan="4"><center><img src="ajax-loader.gif" /> Buscando...</center></td>
                                                            </tr>
                                                            <tr ng-if="roles_options.legth == 0 && !cargando">
                                                                <td colspan="4"><center>No se encontraron ejecuciones</center></td>
                                                            </tr>-->
                                                            <tr ng-click="agregarRoles(rol.rolId)"  ng-repeat="rol in roles_options | filter:rol.filtro_rol" style="cursor: pointer;">
                                                                <td class="uk-width-2-10 uk-text-center" style="display: none">{{rol.rolId}}</td>
                                                                <td class="uk-width-2-10 uk-text-center" data-uk-tooltip="{cls:'long-text'}" title="{{rol.descripcion}}" >{{rol.nombre}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    </div>
                                                </div>
                                            <div class="uk-width-5-10">
                                                 <div style="width:100%; height:300px; overflow : hidden; overflow-y : scroll">
                                                    <table class="uk-table uk-table-nowrap uk-table-hover" style="width: 100%">
                                                        <thead>
                                                            <tr>
                                                                <th class="uk-width-2-10 uk-text-center" style="display: none">ID</th>

                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr ng-repeat="rol in rolesTemporales | filter:rol.filtro_roltemp" ng-click="quitarRoles(rol.rolId)" style="cursor: pointer;">
                                                                <td class="uk-width-2-10 uk-text-center" style="display: none">{{rol.rolId}}</td>
                                                                <td class="uk-width-2-10 uk-text-center"  data-uk-tooltip="{cls:'long-text'}" title="{{rol.descripcion}}" >{{rol.nombre}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    </div>
                                            </div>
                                            <a class="md-btn md-btn-primary md-btn-block md-btn-large ng-binding" ng-click="aplicarRoles()"><span ng-if="asociandorol"><i class="uk-icon-spinner uk-icon-medium uk-icon-spin" style="color:white"></i></span> &nbsp;
                                                    <!-- ngIf: datas.textoModificar != 'MODIFICAR' -->
                                                    APLICAR
                                                </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 8%;" class="ng-scope" />
                        </div>

                    </div>
                </div>
            </div>
            <!-- fin modal asignar roles -->

            <!-- modal confirmar eliminar -->
            <div id="mdConfirmar" class="uk-modal">
                <div class="uk-modal-dialog" style="width: 50%;">
                    <a class="uk-modal-close uk-close"></a>
                    <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
                        <div id="modificar_form">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h4 class="heading_b uk-margin-bottom" style="color: #e4501e;">
                                    Confirmar Eliminar el Usuario:<br />
                                    "{{ usuarioSeleccionado.iut }} - {{ usuarioSeleccionado.nombre }}"
                                </h4>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div class="md-card-content">
                                    <div class="uk-grid">
                                        <div class="uk-width-medium-1-2">
                                            <a ng-click="eliminaUsuario()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                <span ng-if="cargandoEliminar"><i class="uk-icon-spinner uk-icon-medium uk-icon-spin" style="color:white"></i></span>
                                                {{texto_eliminar}}
                                            </a>
                                        </div>

                                        <div class="uk-width-medium-1-2">
                                            <a ng-click="cancelarEliminarUsuario()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                CANCELAR
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal confirmar eliminar -->
            <!-- modal asignar empresas -->

            <div id="mdAsignarEmpresas" class="uk-modal">
                <div class="uk-modal-dialog" style="width: 100%;">
                    <a class="uk-modal-close uk-close"></a>
                    <div ng-if="!loadingEmpresas" class="uk-width-medium-1-1">
                        <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Empresas</h3>
                        <!--<input class="md-input" type="text" id="empresas" config="empresas.configuracion" options="empresas.disponibles" position="bottom" ng-model="empresas.asignadas" selectize />-->
                        <BR>
                        <div class="uk-grid uk-grid-collapse">
                                            <div class="uk-width-5-10">
                                                <div class="uk-input-group" style="margin-top:10px">
                                                            <span class="uk-input-group-addon">
                                                                <i class="uk-input-group-icon uk-icon-search"></i>
                                                            </span>
                                                            <div class="md-input-wrapper">

                                                                <input class="md-input" placeholder="Buscar empresas..." type="text" id="" md-input ng-model="filtro_empresas">
                                                            </div>
                                               </div>

                                            </div>
                                            <div class="uk-width-5-10">
                                                <div class="uk-input-group" style="margin-top:10px">
                                                            <span class="uk-input-group-addon">
                                                                <i class="uk-input-group-icon uk-icon-search"></i>
                                                            </span>
                                                            <div class="md-input-wrapper">

                                                                <input class="md-input" placeholder="Buscar empresas asignadas..." type="text" id="" md-input ng-model="filtro_empresasAsignadas">
                                                            </div>
                                               </div>

                                            </div>
                                            <div class="uk-width-5-10" style="margin-top: 2%">
                                                <div class="panel-titulo">Lista Empresas</div>
                                            </div>
                                            <div class="uk-width-5-10" style="margin-top: 2%">
                                                <div class="panel-titulo">Empresas Asignadas</div>
                                            </div>
                                            <div class="uk-width-5-10">
                                                <div style="width:100%; height:300px; overflow : hidden; overflow-y : scroll">
                                                    <table class="uk-table uk-table-nowrap uk-table-hover" style="width: 100%">
                                                        <thead>
                                                            <tr>
                                                                <th class="uk-width-2-10 uk-text-center" style="display: none">ID</th>

                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr ng-click="agregarEmpresa(emp.id)"  ng-repeat="emp in empresas.disponibles | filter:filtro_empresas" style="cursor: pointer;">
                                                                <td class="uk-width-2-10 uk-text-center" style="display: none;">{{emp.id}}</td>
                                                                <td class="uk-width-2-10 uk-text-left">{{emp.title}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    </div>
                                                </div>
                                            <div class="uk-width-5-10">
                                                 <div style="width:100%; height:300px; overflow : hidden; overflow-y : scroll">
                                                    <table class="uk-table uk-table-nowrap uk-table-hover" style="width: 100%">
                                                        <thead>
                                                            <tr>
                                                                <th class="uk-width-2-10 uk-text-center" style="display: none">ID</th>

                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr ng-repeat="asing in empresas.asignadasTemporal | filter:filtro_empresasAsignadas" ng-click="quitarEmpresa(asing.id)" style="cursor: pointer;">
                                                                <td class="uk-width-2-10 uk-text-center" style="display: none">{{asing.id}}</td>
                                                                <td class="uk-width-2-10 uk-text-center">{{asing.title}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    </div>
                                            </div>
                                        </div>
                        <a ng-click="aplicarEmpresa()" class="md-btn md-btn-primary md-btn-block md-btn-large"> <span ng-if="asociando"><i class="uk-icon-spinner uk-icon-medium uk-icon-spin" style="color:white"></i></span> &nbsp;ASOCIAR </a>
                    </div>
                    <div ng-if="loadingEmpresas" class="uk-width-medium-1-1" style="text-align: center;">
                        <i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                    </div>

                </div>
            </div>
            <!-- fin modal confirmar eliminar-->

            <div id="mdAsignarUsuarios" class="uk-modal">
                <div class="uk-modal-dialog" style="width: 100%;">
                    <a class="uk-modal-close uk-close"></a>
                    <div ng-if="!loadingCopiandoRoles" class="uk-width-medium-1-1">


                        <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Copiar roles desde {{nombre}} ({{alias}})</h3>
                        <!--<input class="md-input" type="text" id="empresas" config="empresas.configuracion" options="empresas.disponibles" position="bottom" ng-model="empresas.asignadas" selectize />-->
                        <BR>


                        <div class="uk-grid uk-grid-collapse">
                                            <div class="uk-width-5-10">
                                                <div class="uk-input-group" style="margin-top:10px">
                                                            <span class="uk-input-group-addon">
                                                                <i class="uk-input-group-icon uk-icon-search"></i>
                                                            </span>
                                                            <div class="md-input-wrapper">

                                                                <input class="md-input" placeholder="Buscar usuarios..." type="text" id="" md-input ng-model="queryCopiarRoles.queryUsuarioDisponible">
                                                            </div>
                                               </div>

                                            </div>
                                            <div class="uk-width-5-10">
                                                <div class="uk-input-group" style="margin-top:10px">
                                                            <span class="uk-input-group-addon">
                                                                <i class="uk-input-group-icon uk-icon-search"></i>
                                                            </span>
                                                            <div class="md-input-wrapper">

                                                                <input class="md-input" placeholder="Buscar usuarios seleccionados..." type="text" id="" md-input ng-model="queryCopiarRoles.queryUsuarioAgregado">
                                                            </div>
                                               </div>

                                            </div>
                                            <div class="uk-width-5-10" style="margin-top: 2%">
                                                <div class="panel-titulo">Usuarios</div>
                                            </div>
                                            <div class="uk-width-5-10" style="margin-top: 2%">
                                                <div class="panel-titulo">Usuarios que recibirán roles</div>
                                            </div>
                                            <div class="uk-width-5-10">
                                                <div style="width:100%; height:300px; overflow : hidden; overflow-y : scroll">
                                                    <table class="uk-table uk-table-nowrap uk-table-hover" style="width: 100%">
                                                        <thead>
                                                            <tr>
                                                                <th class="uk-width-2-10 uk-text-center" style="display: none">ID</th>

                                                            </tr>
                                                        </thead>

                                                        <tbody>

						                            <tr ng-click="agregarUsuarioAgregarRol(el)" ng-repeat="el in usuariosElegibles | filter:filtraUsuarioDisponible" ng-if="el.usuario.estado == 1">
														<td style="width: 60px"><img width="40" style="border-radius: 50%;" ng-src="{{ el.usuario.avatar}}" /></td>
														<td style="width: 300px"><span class="md-list-heading">{{ el.usuario.nombre}}</span><br><span class="uk-text-small uk-text-muted">{{ el.usuario.correo}}</span></td>
														<td style="width: 300px" ><div ng-if="$parent.lideres[el.usuario.id]" class="uk-badge uk-badge-success">Lider</div></td>
													</tr>

														<!--
														<tr ng-click="agregarEmpresa(emp.id)"  ng-repeat="emp in empresas.disponibles | filter:filtro_empresas" style="cursor: pointer;">
                                                                <td class="uk-width-2-10 uk-text-center" style="display: none;">{{emp.id}}</td>
                                                                <td class="uk-width-2-10 uk-text-left">{{emp.title}}</td>
                                                        </tr>
															-->



                                                        </tbody>
                                                    </table>
                                                    </div>
                                                </div>
                                            <div class="uk-width-5-10">
                                                 <div style="width:100%; height:300px; overflow : hidden; overflow-y : scroll">
                                                    <table class="uk-table uk-table-nowrap uk-table-hover" style="width: 100%">
                                                        <thead>
                                                            <tr>
                                                                <th class="uk-width-2-10 uk-text-center" style="display: none">ID</th>

                                                            </tr>
                                                        </thead>

                                                        <tbody>


															<tr ng-click="deseleccionarUsuario(el)" ng-repeat="el in usuariosSeleccionadosCopiarRoles | filter:filtraUsuarioAgregado">
																<td style="width: 60px"><img width="40" style="border-radius: 50%;" ng-src="{{ el.usuario.avatar}}" /></td>
																<td style="width: 300px"><span class="md-list-heading">{{ el.usuario.nombre}}</span><br><span class="uk-text-small uk-text-muted">{{ el.usuario.correo}}</span></td>
																<td style="width: 300px" ><div ng-if="$parent.lideres[el.usuario.id]" class="uk-badge uk-badge-success">Lider</div></td>
															</tr>



                                                        </tbody>
                                                    </table>
                                                    </div>
                                            </div>
                                        </div>
                        <a ng-click="copiarRoles()" class="md-btn md-btn-primary md-btn-block md-btn-large"> <span ng-if="asociando"><i class="uk-icon-spinner uk-icon-medium uk-icon-spin" style="color:white"></i></span> &nbsp;Copiar roles</a>



                    </div>
                    <div ng-if="loadingCopiandoRoles" class="uk-width-medium-1-1" style="text-align: center;">
                        <i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <ng-include src="'app/febos/usuarios/unidades_organizativas/verUsuario.html'"></ng-include>
    <ng-include src="'app/febos/usuarios/unidades_organizativas/modificarUsuario.html'"></ng-include>
    <ng-include src="'app/febos/usuarios/unidades_organizativas/crearGrupo.html'"></ng-include>
    <ng-include src="'app/febos/usuarios/unidades_organizativas/editarGrupo.html'"></ng-include>
    <ng-include src="'app/febos/usuarios/unidades_organizativas/traerUsuarios.html'"></ng-include>
</div>
<!-- inicio botón crea nuevo usuario -->
<div class="md-fab-wrapper md-fab-speed-dial" style="right:100px">
    <a class="md-fab md-fab-danger"  ng-click="mostrarModalCrear()" data-uk-tooltip="{pos:'right'}" title="Crear Usuario"><i class="material-icons">add</i></a>
</div>
<!-- fin botón crea nuevo usuario -->
