<div id="mdlCrearGrupoArbol" class="uk-modal">
    <form name="form" novalidate>
        <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body">
            <a class="uk-modal-close uk-close"></a>

            <div class="uk-modal-header">
                <h3 class="uk-modal-title" style="color: #e4501e;">Nueva Unidad Organizativa</h3>
            </div>

            <!-- <div class="uk-margin uk-grid-small uk-child-width-auto" ng-if="consultandoSii">
                 <div class="uk-margin">
                     <i class="uk-icon-spinner uk-icon-medium uk-icon-spin" style="font-size: 22px"></i> Consultando documento...
                 </div>
             </div>-->

            <div class="uk-margin uk-grid-small uk-child-width-auto">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon">Código</span>
                            <input add-on-space="true" class="md-input" ng-model="$parent.grupoNuevo.codigo"></input>
                        </div>
                    </div>
                    <br/>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon">Nombre</span>
                            <input add-on-space="true" class="md-input" ng-model="$parent.grupoNuevo.nombre"></input>
                        </div>
                    </div>
                    <br/>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon">Descripción</span>
                            <input add-on-space="true" class="md-input" ng-model="$parent.grupoNuevo.descripcion"></input>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-1" style="margin-top:20px">
                        <p>
                            <i class="material-icons">&#xE88F;</i>
                            <label style="font-size:90%">Este grupo será creado <b>{{ $parent.grupoActual.grupoId=='root'?'en la raíz de la empresa':('como subgrupo del grupo '+grupoActual.nombre) }}</b></label>
                        </p>
                    </div>
                    <div class="uk-width-medium-1-1 uk-margin-medium-top">
                        <center>
                            <a ng-click="crearGrupo()" class="md-btn md-btn-primary md-btn-block" style="width: 200px">
                                <i ng-if="$parent.loaders.creandoGrupo" style="font-size: 20px; vertical-align: middle; color:white" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> {{ $parent.loaders.creandoGrupo?'Creando ...':'Crear' }}
                            </a>
                        </Center>
                    </div>

                </div>

                <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%; z-index: 10;" class="ng-scope" />
            </div>
    </form>
</div>  