<div id="mdlModificarUsuarioArbol" class="uk-modal">
    <form name="form" novalidate >
        <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body">
            <a class="uk-modal-close uk-close"></a>

            <div class="uk-modal-header">
                <h3 class="uk-modal-title" style="color: #e4501e;">Modificacion de usuario</h3>
            </div>

            <!-- <div class="uk-margin uk-grid-small uk-child-width-auto" ng-if="consultandoSii">
                 <div class="uk-margin">
                     <i class="uk-icon-spinner uk-icon-medium uk-icon-spin" style="font-size: 22px"></i> Consultando documento...
                 </div>
             </div>-->

            <div class="uk-margin uk-grid-small uk-child-width-auto">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="material-icons">&#xE8B0;</i></span>
                            <span class="uk-input-group-addon">Nombre</span>
                            <input add-on-space="true" class="md-input" ng-model="$parent.usuarioActual.usuario.nombre" readonly></input>
                        </div>
                    </div>
                    <br/>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="material-icons">&#xE8B0;</i></span>
                            <span class="uk-input-group-addon">Alias</span>
                            <input add-on-space="true" class="md-input" ng-model="$parent.usuarioActual.usuario.alias" readonly></input>
                        </div>
                    </div>
                    <br/>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="material-icons">&#xE8B0;</i></span>
                            <span class="uk-input-group-addon">R.U.T.</span>
                            <input add-on-space="true" class="md-input" ng-model="$parent.usuarioActual.usuario.iut" readonly></input>
                        </div>
                    </div>
                    <br/>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="material-icons">&#xE8B0;</i></span>
                            <span class="uk-input-group-addon">Correo Electrónico</span>
                            <input add-on-space="true" class="md-input" ng-model="$parent.usuarioActual.usuario.correo" readonly></input>
                        </div>
                    </div>
                    <br/>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="material-icons">&#xE8B0;</i></span>
                            <span class="uk-input-group-addon">Fecha de incorporación</span>
                            <input add-on-space="true" class="md-input" ng-model="$parent.usuarioActual.usuario.creado" readonly></input>
                        </div>
                    </div>
                    <br/><br/>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="material-icons">&#xE8B0;</i></span>
                            <span class="uk-input-group-addon">Cambiar contraseña en siguiente ingreso</span>
                            <input type="checkbox" ui-switch ng-model="$parent.usuarioActual.usuario.cambiarClave" readonly></input>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="material-icons">&#xE8B0;</i></span>
                            <span class="uk-input-group-addon">Grupos a los que pertenece</span>
                            <ul>
                                <li ng-if="typeof($parent.usuarioActual.grupos)!='undefined' && $parent.usuarioActual.grupos.length>0"> Sin grupos asociados</li>
                                <li ng-repeat="grupo in $parent.usuarioActual.grupos">{{ grupo.nombre }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-1 uk-margin-medium-top">
                        <center>
                            <a ng-click="modalEditarUsuario()" class="md-btn md-btn-primary md-btn-block" style="width: 200px">
                                Guardar cambios
                            </a>
                        </Center>
                    </div>
                </div>

                <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%; z-index: 10;" class="ng-scope" />
            </div>
    </form>
</div>  