<div id="mdlTraerAlGrupoArbol" class="uk-modal"  >
    <form name="form" novalidate>
        <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body uk-modal-dialog-large">
            <a class="uk-modal-close uk-close"></a>

            <div class="uk-modal-header">
                <h3 class="uk-modal-title" style="color: #e4501e;">Traer usuarios al grupo <b>{{$parent.grupoActual.nombre}}</b></h3>
            </div>
            <div class="uk-width-medium-1-1" style="margin-top:20px">
                <p>
                    <i class="material-icons">&#xE88F;</i>
                    <label style="font-size:90%">Click sobre un usuario para agregarlo o quitarlo de un grupo</label>
                </p>
            </div>
            <div class="uk-grid">
                <div class="uk-width-5-10">
                    <div style="width:100%; text-align: center">Usuarios disponibles</div>

                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon">Búsqueda</span>
                            <input add-on-space="true" class="md-input" ng-model="$parent.query"></input>
                        </div>
                    </div>

                    <ul class="md-list md-list-addon" style="height: 300px;overflow-y: scroll">
                        <li class="usuario" ng-repeat="el in $parent.usuariosDisponibles| filter: $parent.buscarUsuario" ng-click="$parent.incluiEnElGrupo(el)"  ng-if="el.usuario.estado == 1">
                            <div class="md-list-addon-element">
                                <img width="40" style="border-radius: 50%;" ng-src="{{ el.usuario.avatar}}" />
                            </div>
                            <div class="md-list-content" style="width:80%">
                                <span class="md-list-heading">{{ el.usuario.nombre}}</span>
                                <span class="uk-text-small uk-text-muted">{{ el.usuario.correo}}</span>
                            </div>
                            <i class="material-icons icono" style="position:absolute;font-size:40px;top:8px;right: 7px;">&#xE5C8;</i>

                        </li>
                    </ul>
                </div>
                <div class="uk-width-5-10" style="border-left: dashed 1px #ddd">
                    <div style="width:100%; text-align: center">Usuarios en <b>{{$parent.grupoActual.nombre}}</b></div>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon">Búsqueda</span>
                            <input add-on-space="true" class="md-input" ng-model="$parent.query2"></input>
                        </div>
                    </div>

                    <ul class="md-list md-list-addon" style="height: 300px;overflow-y: scroll">
                        <li class="usuario" ng-repeat="el in $parent.usuariosSeleccionados| filter: $parent.buscarUsuario2" ng-if="el.usuario.estado == 1"> 
                            <div class="md-list-addon-element">
                                <img width="40" style="border-radius: 50%;" ng-src="{{ el.usuario.avatar}}" />
                                <div class="uk-input-group" style="position:absolute;top:10px;left: 300px" data-uk-tooltip="{pos:'right'}" title="Lider de grupo">
                                    <input type="checkbox" ui-switch ng-model="$parent.lideres[el.usuario.id]"></input>
                                </div>
                            </div>
                            <div class="md-list-content" style="width:80%"  ng-click="$parent.sacarDelGrupo(el)" >
                                <span class="md-list-heading">{{ el.usuario.nombre}}</span>
                                <span class="uk-text-small uk-text-muted">{{ el.usuario.correo}}</span>
                            </div>
                            <i class="material-icons icono" style="position:absolute;font-size:40px;top:8px;right: 7px;"  ng-click="$parent.sacarDelGrupo(el)" >&#xE15D;</i>
                        </li>
                    </ul>
                </div>
                <div class="uk-width-medium-1-1 uk-margin-medium-top">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2">
                            <center>
                                <a ng-click="cancelarTraerUsuarios()" class="md-btn md-btn-primary md-btn-block" style="width: 200px">
                                    Cancelar
                                </a>
                            </center>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <center>
                                <a ng-click="aplicarGrupos()" class="md-btn md-btn-primary md-btn-block" style="width: 200px">
                                    Aplicar Cambios
                                </a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>

            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%; z-index: 100;width:70px" class="ng-scope" />
        </div>
    </form>

</div>  