<div class="uk-modal-dialog">
    <div class="uk-modal-header">
        <h3 class="uk-modal-title">Bitacora
        </h3>
    </div>
    <div class="md-card-content">
        <div class="row">
            <div ng-if="bitacorascargando==true"  style="text-align: center;">
                <md-preloader></md-preloader>
                Cargando ...
            </div>
            <div class="md-list-outside-inner" custom-scrollbar list-outside>
                <ul class="md-list md-list-outside invoices_list">
                    <!-- | filter:query-->
                    <li class="heading_list" style="font-size:115%"
                        ng-repeat-start="bitacora in bitacoras" ng-show="getMonth(bitacora, $index)">{{
                        bitacora.fecha | momentDate:'YYYY-MM-DD':'D [de] MMMM [de] YYYY'}}
                    </li>
                    <li ng-repeat-end ui-sref-active="md-list-item-active">
                        <a class="md-list-content">
                                        <span permiso="DTE08|left" class="uk-badge uk-badge-info"
                                              ng-if="bitacora.externalId"
                                              ng-click="descargarAdjunto(bitacora.bitacoraId)">Adjunto
                                        <i class="material-icons" style="color:#ccc;">attach_file</i></span>
                            <span class="uk-badge uk-badge-primary" ng-if="bitacora.correoId"
                                  ng-click="consultarTrazaCorreo(bitacora.correoId)">Traza correo
                                        <i class="material-icons" style="color:#ccc;">mail_outline</i></span>
                            <span class="md-list-heading uk-text-truncate">{{ bitacora.usuarioNombre }} <span
                                    class="uk-text-small uk-text-muted">El {{bitacora.fecha| momentDate:'YYYY-MM-DD HH:mm:s.SSS':'YYYY-MM-DD'}} a las {{bitacora.fecha| momentDate:'YYYY-MM-DD HH:mm:s.SSS':'HH:mm'}} hrs.</span></span>
                            <span class="uk-text-small">{{bitacora.mensaje}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope"/>
</div>
