<div class="uk-modal-dialog">
    <div class="uk-modal-header">
        <h3 class="uk-modal-title">Comentarios
        </h3>
    </div>
    <div class="md-card-content">
        <div class="row">
            <form>
                <div class="md-list-outside-inner uk-height-1-2" custom-scrollbar
                     style="max-height: 70vh;overflow-x: auto;">
                    <ul class="md-list md-list-outside invoices_list">
                        <!-- | filter:query-->
                        <li class="" style="font-size:115%"
                            ng-repeat="comentario in boletaActual.comentarios">
                            <a class="md-list-content">
                                <span class="uk-text-small uk-text-muted">{{comentario.autor.correo}} {{comentario.fecha | transformarFechaReverso}}</span>
                                <span class="uk-text">{{comentario.comentario}} </span>
                            </a>

                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="row">
            <form>
                <div class="uk-grid uk-grid-small uk-margin-top">
                    <div class="uk-width-medium-1-2">
                        <div class="uk-form-row">
                            <label for="nuemoComentario">Nuevo Comentario</label>
                            <input class="md-input" type="text" id="nuemoComentario"
                                   ng-model="nuevocomentario.comentario" md-input/>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <button class="md-btn md-btn-primary" ng-click="agregarComentarioLista()">
                            <i class="material-icons">
                                library_add
                            </i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <form>
                <div class="uk-grid uk-grid-small uk-margin-top">
                    <div class="uk-width-medium-2-2">
                        <button class="md-btn md-btn-primary uk-width-1-1" ng-click="guardarBoletaActual()">
                            <i class="material-icons">
                                save
                            </i> Guardar <span class="uk-hidden-small">Cambios Realizados</span>

                        </button>
                    </div>
                </div>
            </form>
        </div>


    </div>
    <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope"/>
</div>
