<div class="uk-modal-dialog">
    <div class="uk-modal-header">
        <h3 class="uk-modal-title">Contactos
        </h3>
    </div>
    <div class="md-card-content">
        <div class="row">
            <form>
                <div class="md-list-outside-inner uk-height-1-2" custom-scrollbar
                     style="max-height: 70vh;overflow-x: auto;">
                    <ul class="md-list md-list-outside invoices_list">
                        <!-- | filter:query-->
                        <li class="" style="font-size:115%"
                            ng-repeat="contacto in boletaActual.contactos">
                            <a class="md-list-content">
                                <span class="uk-text-small uk-text-muted">
                                    <i class="material-icons" title="Referencia de contacto">info</i>&nbsp;{{contacto.referencia}}
                                <i class="material-icons" title="Telefono">call</i>&nbsp;{{contacto.telefono}}&nbsp;
                                <i class="material-icons" title="Email">contact_mail</i>&nbsp;{{contacto.correo}}&nbsp;
                                    </span>
                                <span class="uk-text">{{contacto.nombre}} </span>
                            </a>

                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="row">
            <form>
                <div class="uk-grid uk-grid-small uk-margin-top">
                    <div class="uk-width-medium-1-2">
                        <div class="uk-form-row">
                            <label for="nuevocontacto-nombre">Nombre</label>
                            <input class="md-input" type="text" id="nuevocontacto-nombre"
                                   ng-model="nuevocontacto.nombre" md-input maxlength="400"/>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <div class="uk-form-row">
                            <label for="nuevocontacto-correo">Correo</label>
                            <input class="md-input" type="text" id="nuevocontacto-correo"
                                   ng-model="nuevocontacto.correo" md-input maxlength="100"/>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <div class="uk-form-row">
                            <label for="nuevocontacto-telefono">Telefono</label>
                            <input class="md-input" type="text" id="nuevocontacto-telefono"
                                   ng-model="nuevocontacto.telefono" md-input maxlength="30"/>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <div class="uk-form-row">
                            <label for="nuevocontacto-referencia">Referencia</label>
                            <input class="md-input" type="text" id="nuevocontacto-referencia"
                                   ng-model="nuevocontacto.referencia" md-input maxlength="10"/>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <button class="md-btn md-btn-primary" ng-click="agregarContactoLista()">
                            <i class="material-icons">
                                library_add
                            </i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <form>
                <div class="uk-grid uk-grid-small uk-margin-top">
                    <div class="uk-width-medium-2-2">
                        <button class="md-btn md-btn-primary uk-width-1-1" ng-click="guardarBoletaActual()">
                            <i class="material-icons">
                                save
                            </i> Guardar <span class="uk-hidden-small">Cambios Realizados</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>


    </div>
    <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope"/>
</div>
