<div class="uk-modal-dialog">
    <div class="uk-modal-header">
        <h3 class="uk-modal-title">Documentos
        </h3>
    </div>
    <div class="md-card-content">
        <div class="row">
            <upload-automaticos objeto="boletaActual.adjuntos"
                                identificador="{{'file-input-'+boletaActual.boletaId}}"
                                icon="cloud_upload" estilo='font-size:30px'
                                url="febos-io/chile/{{ambiente}}/archivos-subidos/portafolio/garantia/"></upload-automaticos>
            <form>
                <div class="md-list-outside-inner uk-height-1-2" custom-scrollbar
                     style="max-height: 70vh;overflow-x: auto;">
                    <ul class="md-list md-list-outside invoices_list">
                        <!-- | filter:query-->
                        <li class="" style="font-size:115%"
                            ng-repeat="contacto in boletaActual.adjuntos">
                            <a class="md-list-content" style="border-bottom: 2px dashed #ff5100;">
                                <span class="uk-text" adjunto-descargar path="{{contacto.adjuntoUrl}}" nombre="{{contacto.adjuntoNombre}}">
                                    <i class="md-list-addon-icon material-icons">attach_file</i><md-preloader
                                        ng-if="contacto.adjuntoEstado == 0 || contacto.adjuntoEstado == 1"></md-preloader>
                                    {{contacto.adjuntoNombre}}
                                </span>
                            </a>

                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="uk-grid uk-grid-small uk-margin-top">
            <div class="uk-panel uk-panel-box uk-width-small-10-10 uk-width-medium-10-10"
                 ng-repeat="documento in estado.documentos"
                 ng-init="docIndex=$index;documento.edit=false">
                <div>
                    <div class="uk-width-medium-2-10 uk-margin-top"
                         ng-repeat="adjunto in documento.adjuntos">
                        <div class="uk-form-file md-btn md-btn-primary"
                             especial="{{adjunto.adjuntoId}}"
                             ng-if="adjunto.adjuntoNombre == undefined || adjunto.adjuntoNombre==''">
                            <i class="material-icons no_margin">attachment</i>Adjuntar archivo
                            <input type="file" upload-automatico objeto="adjunto"
                                   identificador="{{adjunto.adjuntoId}}"
                                   url="chile/{{ambiente}}/portafolio/estado/">
                        </div>
                        <div class="uk-form-file uk-text-primary"
                             ng-if="adjunto.adjuntoNombre != undefined && adjunto.adjuntoNombre!=''">
                                                    <span ng-click="descargarAdjunto(adjunto)" style="cursor:pointer">
                                                        <i class="material-icons no_margin uk-text-muted">cloud_download</i>
                                                            &nbsp;{{adjunto.adjuntoNombre}}
                                                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <form>
                <div class="uk-grid uk-grid-small uk-margin-top">
                    <div class="uk-width-medium-2-2">
                        <button class="md-btn md-btn-primary uk-width-1-1" ng-click="guardarBoletaActual()">
                            <i class="material-icons">
                                save
                            </i> Guardar <span class="uk-hidden-small">Cambios Realizados</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>


    </div>
    <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope"/>
</div>
