<div class="uk-modal-dialog">
    <div class="uk-modal-header">
        <h3 class="uk-modal-title">Enviar Garantía a Custodia
        </h3>
    </div>
    <div class="md-card-content">
        <div class="row">
            <form>

                <div class="uk-width-medium-2-2 uk-margin-top">
                    <div class="uk-form-row" style="margin-top: 36px;">
                        <label for="mensaje">Mensaje</label>
                        <p>Esta seguro de realizar esta acción ?? </p>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-margin-medium-top">
                        <a ng-click="enviarCustodia()"
                           class="md-btn md-btn-primary md-btn-block md-btn-large">
                            <span class="menu_icon">Enviar Garantía a Custodia</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope"/>
</div>