<div class="uk-modal-dialog">
    <div class="uk-modal-header">
    </div>
    <div class="md-card-content">
        <h3 class="heading_a">Información del flujo</h3>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-2-2">
                <div class="uk-form-row">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2">
                            <label>Nombre</label>
                            <input type="text" class="md-input label-fixed" md-input ng-model="flujoEjecucionLlamada.ejecucion.nombre"/>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <label>Descripcion</label>
                            <input type="text" class="md-input label-fixed" md-input ng-model="flujoEjecucionLlamada.ejecucion.descripcion"/>
                        </div>
                        <div class="uk-width-medium-2-2">
                            <label>Flujo</label>
                            <selectize class="md-input" config="selectize_config_aprovaciones" options='aprobacionesOptions'
                                       ng-model="flujoEjecucionLlamada.ejecucion.aprobacionesReferenciaId"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="heading_a">Documento</h3>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-2-2">
                <div class="uk-form-row">
                    <div class="uk-grid " ng-repeat="documento in flujoEjecucionLlamada.documentos">
                        <div class="uk-width-medium-1-2">
                            <label>Nombre</label>
                            <input type="text" class="md-input label-fixed" md-input ng-model="documento.objetoNombre"/>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <label>Descripcion</label>
                            <input type="text" class="md-input label-fixed" md-input ng-model="documento.descripcion"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-2-2" ng-if="flujoEjecucionLlamada.cargandoejecuciones==true">
                <md-preloader></md-preloader>
            </div>
            <div class="uk-width-medium-2-2">
                <a ng-click="modalFlujoAsignarGuardar()" class="md-btn md-btn-primary md-btn-block md-btn-large" ng-if="flujoEjecucionLlamada.cargandoejecuciones==false">
                    <span class="menu_icon">Crear</span>
                </a>
            </div>
        </div>
    </div>
    <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope"/>
</div>
