<div class="uk-modal-dialog">
    <div class="uk-modal-header">
        <h3 class="uk-modal-title">Ejcucion Flujo
        </h3>
    </div>
    <div class="md-card-content">
        <div class="uk-grid" data-uk-grid-margin  style="margin: 0;">
            <div class="uk-width-medium-2-2" ng-if="ejecucionActual.cargando==true">
                <md-preloader></md-preloader>
            </div>
            <div class="uk-width-medium-2-2" ng-if="ejecucionActual.cargando==false">
                <div class="uk-form-row">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2">
                            <label>Nombre</label>
                            <input type="text" class="md-input label-fixed" md-input ng-model="ejecucionActual.ejecucion.nombre" readonly/>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <label>Descripcion</label>
                            <input type="text" class="md-input label-fixed" md-input ng-model="ejecucionActual.ejecucion.descripcion" readonly/>
                        </div>
                        <div class="uk-width-medium-1-2" ng-if="ejecucionActual.ejecucion.aprobacionesEjecucionEstadoId==1">
                            <label>Estado</label>
                            <h2 class="heading_b uk-margin-bottom">
                                <span class="uk-text-truncate">DESESTIMADA</span>
                            </h2>
                        </div>
                        <div class="uk-width-medium-1-2" ng-if="ejecucionActual.ejecucion.aprobacionesEjecucionEstadoId==2">
                            <label>Estado</label>

                        </div>
                        <div class="uk-width-medium-1-2" ng-if="ejecucionActual.ejecucion.aprobacionesEjecucionEstadoId==3">
                            <label>Estado</label>
                            <h2 class="heading_b uk-margin-bottom">
                                <span class="uk-text-truncate">INICIADA</span>
                            </h2>
                        </div>
                        <div class="uk-width-medium-1-2" ng-if="ejecucionActual.ejecucion.aprobacionesEjecucionEstadoId==4">
                            <label>Estado</label>
                            <h2 class="heading_b uk-margin-bottom">
                                <span class="uk-text-truncate">APROBADA</span>
                            </h2>
                        </div>
                        <div class="uk-width-medium-1-2" ng-if="ejecucionActual.ejecucion.aprobacionesEjecucionEstadoId==5">
                            <label>Estado</label>
                            <h2 class="heading_b uk-margin-bottom">
                                <span class="uk-text-truncate">RECHAZADA</span>
                            </h2>
                        </div>
                        <div class="uk-width-medium-2-2" style="border-bottom: 2px dashed #ff5100;"></div>
                        <h3 class="heading_a">Obserbador</h3>

                        <div class="uk-width-medium-2-2" ng-repeat="observador in ejecucionActual.observadores" style="border-bottom: 2px dashed #ff5100;">
                            <div class="uk-width-medium-1-2">
                                <label>Usuario</label>
                                <input type="text" class="md-input label-fixed" md-input ng-model="observador.observador" readonly/>
                            </div>
                            <div class="uk-width-medium-1-2">
                                <label>Estado</label>
                                <h2 class="heading_b uk-margin-bottom">
                                    <span class="uk-text-truncate" ng-bind-html="estadoAprobacion(observador)"></span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="uk-form-help-block">Identificador de Ejecución: {{boletaActual.flujoAprobacionId}}</h3>
    </div>
    <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope"/>
</div>
