<div class="uk-modal-dialog" style="width:80%">
    <div class="uk-modal-header">
        <h3 class="uk-modal-title">{{ModalBoletaTitle}} Garantía
        </h3>
    </div>
    <div class="md-card-content">
        <div class="row">
            <form>
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Nº Proyecto</label>
                        <selectize class="md-input" config="selectize_config_proyecto" options='proyectosOptions'
                                   ng-model="renovacion.proyectoId"
                        />
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Folio</label>
                        <input type="text" class="md-input" md-input md-input ng-model="renovacion.folio"
                               validar="soloNumeros"/>
                        <span class="uk-text-small uk-text-muted">Nº de garantia</span>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Emisión</label>
                        <input class="md-input" type="text"
                               data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                               md-input
                               ng-model="renovacion.fechaEmision">
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Vencimiento</label>
                        <input class="md-input" type="text"
                               data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                               md-input
                               ng-model="renovacion.fechaVencimiento">
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Vencimiento Efectivo</label>
                        <input class="md-input" type="text"
                               data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                               md-input
                               ng-model="renovacion.fechaVencimientoEfectivo">
                    </div>
                </div>
                <div class="uk-grid uk-grid-small">

                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Tipo Garantia</label>
                        <selectize class="md-input" config="selectize_config_id_title" options='tiposGarantiaOptions'
                                   ng-model="renovacion.tipoGarantia"
                        />
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Concepto</label>
                        <selectize class="md-input" config="selectize_config_concepto" options='conceptosOptions'
                                   ng-model="renovacion.concepto"
                        />
                        <!--<input type="text" class="md-input" md-input md-input ng-model="renovacion.concepto"/>-->
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Monto</label>
                        <input type="text" class="md-input" md-input md-input ng-model="renovacion.monto"
                               formato-numero/><!--   validar="soloNumeros"-->
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Banco</label>
                        <input type="text" class="md-input" md-input md-input ng-model="renovacion.banco"/>
                    </div>
                    <div class="uk-width-medium-1-10 uk-margin-top">
                        <label>Moneda</label>
                        <selectize class="md-input" config="selectize_config_id_title" options='monedasOptions'
                                   ng-model="renovacion.moneda"
                        />
                    </div>
                </div>
                <div class="uk-grid uk-grid-small">
                    <!-- fila 2 -->
                    <!-- TOMADOR -->
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>RUT Asegurado</label>
                        <input type="text" class="md-input" md-input md-input
                               ng-model="renovacion.usuarioAseguradoRut"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Nombre Asegurado</label>
                        <input type="text" class="md-input" md-input md-input
                               ng-model="renovacion.usuarioAseguradoNombre"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Correo Asegurado</label>
                        <input type="text" class="md-input" md-input md-input
                               ng-model="renovacion.usuarioAseguradoCorreo"/>
                    </div>
                    <!-- FIN TOMADOR -->
                </div>
                <div class="uk-grid uk-grid-small">
                    <!-- TOMADOR -->
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>RUT Tomador</label>
                        <input type="text" class="md-input" md-input md-input
                               ng-model="renovacion.usuarioTomadorRut"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Nombre Tomador</label>
                        <input type="text" class="md-input" md-input md-input
                               ng-model="renovacion.usuarioTomadorNombre"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Correo Tomador</label>
                        <input type="text" class="md-input" md-input md-input
                               ng-model="renovacion.usuarioTomadorCorreo"/>
                    </div>
                    <!-- FIN TOMADOR -->
                </div>
                <div class="uk-grid uk-grid-small">
                    <!-- RESPONSABLE -->

                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Nombre Responsable</label>
                        <input type="text" class="md-input" md-input md-input
                               ng-model="renovacion.usuarioResponsableNombre"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Correo Responsable</label>
                        <input type="text" class="md-input" md-input md-input
                               ng-model="renovacion.usuarioResponsableCorreo"/>
                    </div>
                    <!-- FIN RESPONSABLE -->
                    <!-- CUSTODIA -->
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Nombre Custodio</label>
                        <input type="text" class="md-input" md-input md-input
                               ng-model="renovacion.usuarioCustodioNombre"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Correo Custodio</label>
                        <input type="text" class="md-input" md-input md-input
                               ng-model="renovacion.usuarioCustodioCorreo"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Lugar Custodia</label>
                        <input type="text" class="md-input" md-input md-input ng-model="renovacion.lugarCustodia"/>
                    </div>
                    <!-- FIN CUSTODIA -->
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <div class="uk-form-file md-btn" especial="{{renovacion.boletaId}}">
                            <upload-automaticos objeto="renovacion.adjuntos" textod="Adjuntar Documento"
                                                identificador="{{'file-input-'+renovacion.boletaId}}"
                                                icon="cloud_upload" estilo='font-size:30px'
                                                url="febos-io/chile/{{ambiente}}/archivos-subidos/portafolio/garantia/"></upload-automaticos>
                        </div>
                        <ul class="md-list md-list-outside invoices_list">
                            <!-- | filter:query-->
                            <li class="" style="font-size:115%"
                                ng-repeat="adjunto in renovacion.adjuntos">
                                <a class="md-list-content" style="border-bottom: 2px dashed #ff5100;">
                                <span class="uk-text" adjunto-descargar path="{{adjunto.adjuntoUrl}}" nombre="{{adjunto.adjuntoNombre}}">
                                    <i class="md-list-addon-icon material-icons">attach_file</i><md-preloader
                                        ng-if="adjunto.adjuntoEstado == 0 || adjunto.adjuntoEstado == 1"></md-preloader>
                                    {{adjunto.adjuntoNombre}}
                                </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="uk-grid uk-grid-small" style="border-bottom: dashed 1px orange;padding-bottom:15px;">
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-margin-medium-top">
                        <a ng-click="renovar(renovacion)" class="md-btn md-btn-primary md-btn-block md-btn-large">
                            <span class="menu_icon">{{ModalBoletaTitle}} Boleta</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;z-index:-1"
         class="ng-scope"/>
</div>