<div id="page_content crear_card" style=" width: 65%; margin: 0 auto;">
    <div class="md-card-content large-padding uk-position-relative" id="crear_error" style="display: none; width: 30%; margin: 0 auto;">
        <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
        <h2 class="heading_b uk-text-danger">ERROR</h2>
        <p>{{datos.mensaje_error}}</P>
    </div>

    <div class="md-card-content large-padding uk-position-relative" id="crear_ok" style="display: none; width: 30%; margin: 0 auto;">
        <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
        <h2 class="heading_b uk-text-danger">INVITADO</h2>
        <p>{{datos.mensaje_ok}}</P>
    </div>


    <div class="md-card uk-margin-medium-bottom" id="crear_form" style="width: 100%; max-width: 100%; margin: 0 auto;">
        <div id="page_content_inner">
            <h3 class="heading_b uk-margin-bottom">Crear Nueva empresa</h3>

            <div class="md-card-content" style="width: 65%;">
                <div class="uk-overflow-container">
                    <form>
                        <div class="uk-form-row">
                            <label for="empresa_iut">RUT Empresa</label>
                            <input class="md-input" type="text" id="empresa_iut" ng-model="datos.empresa_iut" md-input enter-key="crear()" />
                        </div>

                        <div class="uk-form-row">
                            <label for="empresa_razon">Razón Social</label>
                            <input class="md-input" type="text" id="empresa_razon" ng-model="datos.empresa_razon" md-input enter-key="crear()" />
                        </div>

                        <div class="uk-form-row">
                            <label for="empresa_fantasia">Nombre Fantasía</label>
                            <input class="md-input" type="text" id="empresa_fantasia" ng-model="datos.empresa_fantasia" md-input enter-key="crear()" />
                        </div>

                        <div class="uk-margin-medium-top">
                            <a ng-click="crear()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                <span class="menu_icon" ng-if="datos.textoCrear != 'CREAR'">
                                    <i style="font-size: 20px; vertical-align: middle; color:white" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                </span>
                                {{datos.textoCrear}}
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
