
<div id="page_content">
    <div id="page_content_inner">
        <div class="md-card" style="width: 50%; margin: 0 auto;">
            <div align="center" style="width: 100%; background-color: #03A9F4; height: 40px; width: 100%;">
                <div align="center" style="display: table-cell; vertical-align: middle; width: 100%;">
                    <div ng-if="vista == 'Proveedor'" align="center" style="margin-top: 10px;"><h3><font color="white">Invitar a proveedor<span ng-if="datos.usuarios.length>1">es</span></font></h3></div>
                    <div ng-if="vista == 'Cliente'" align="center" style="margin-top: 10px;"><h3><font color="white">Invitar a cliente<span ng-if="datos.usuarios.length>1">s</span></font></h3></div>
                </div>
            </div>

            <div class="md-card-content" id="invitar_form">
                <div class="uk-grid" ng-if="paso == 1">
                    <div class="uk-width-1-1">
                        <h3 class="heading_a">Empresa</h3>
                        <span class="sub-heading"><small>Ingresa el RUT de la empresa proveedora</span>

                        <br /><br />

                        <div class="uk-form-row">
                            <label for="rutEmpresaProveedora">Rut Empresa. (ej. 12345678-9) ( <span style="color: red;"> * </span> )</label>
                            <input
                                class="md-input"
                                type="text"
                                maxlength="17"
                                id="rutEmpresaProveedora"
                                ng-model="datos.empresa.rut"
                                md-input
                                enter-key="buscarEmpresa()"
                            />
                        </div>

                        <div class="uk-margin-medium-top">
                            <a ng-click="buscarEmpresa()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                <span class="menu_icon" ng-if="buscando">
                                    <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                </span>
                                <span ng-if="!buscando && vista == 'Proveedor'">Buscar Proveedor</span>
                                <span ng-if="buscando && vista == 'Proveedor'">Buscando proveedor...</span>
                                <span ng-if="!buscando && vista == 'Cliente'">Buscar Cliente</span>
                                <span ng-if="buscando && vista == 'Cliente'">Buscando cliente...</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="uk-grid" ng-if="paso == 2">
                    <div class="uk-width-1-1">
                        <h3 class="heading_a">La empresa especificada no se encuentra en nuestros registros, debe registrarla:</h3>

                        <br /><br />

                        <div class="uk-form-row">
                            <label for="rutEmpresaProveedora">Rut Empresa. (ej. 12345678-9) ( <span style="color: red;"> * </span> )</label>
                            <input class="md-input" type="text" id="rutEmpresaProveedora" ng-model="datos.empresa.rut" md-input />
                        </div>

                        <div class="uk-form-row">
                            <label for="razonSocial">Razón Social ( <span style="color: red;"> * </span> )</label>
                            <input class="md-input" type="text" id="razonSocial" ng-model="datos.empresa.nombre" md-input />
                        </div> 

                        <div class="uk-margin-medium-top">
                            <a ng-click="crearEmpresa()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                <span class="menu_icon" ng-if="creando">
                                    <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                </span>
                                <span ng-if="vista == 'Cliente'">Crear empresa cliente</span>
                                <span ng-if="vista == 'Proveedor'">Crear empresa proveedora</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="uk-grid" ng-if="paso == 3">
                    <div class="uk-width-1-1">
                        <h3 class="heading_a">{{ datos.empresa.nombre }}</h3>
                        <h3 class="heading_a" ng-if="datos.empresa.fantasia.length > 0">({{datos.empresa.fantasia }})</h3>
                        <h3 class="heading_a">R.U.T. {{ datos.empresa.rut }}</h3>

                        <br /><br />

                        <div class="uk-form-row">
                            <label>Mensaje (opcional):</label>
                            <textarea cols="30" rows="4" class="md-input" ng-model="datos.empresa.mensaje" md-input textarea-autosize></textarea>
                        </div>

                        <br /><br />

                        <div ng-repeat="usuario in datos.usuarios">
                            <div class="uk-grid" style="margin-bottom: 10px;">
                                <div class="uk-width-medium-2-5 uk-width-small-1-1" >
                                    <label for="nombre">Nombre ( <span style="color: red;"> * </span> )</label>
                                    <input class="md-input" type="text" id="nombre" ng-model="usuario.nombre" md-input enter-key="invitar()" />
                                </div>

                                <div class="uk-width-medium-2-5 uk-width-small-2-3">
                                    <label for="correo">Correo Electrónico ( <span style="color: red;"> * </span> )</label>
                                    <input class="md-input" type="text" id="correo" ng-model="usuario.correo" md-input enter-key="invitar()" />
                                </div>

                                <div class="uk-width-medium-1-5 uk-width-small-1-3">
                                    <a ng-if="$last && usuario.estado == 0" ng-click="agregar()"><i class="material-icons" style="color: green; font-size: 40px">&#xE147;</i></a>
                                    <a ng-if="!$last && usuario.estado == 0" ng-click="eliminar($index)"><i class="material-icons" style="color: red; font-size: 40px">&#xE15C;</i></a>
                                    <a ng-if="usuario.estado == 1"><i class="uk-icon-circle-o-notch uk-icon-medium uk-icon-spin" style="font-size: 40px"></i></a>
                                    <a ng-if="usuario.estado == 2"><i class="material-icons" style="font-size: 40px; color: green;">&#xE86C;</i></a>
                                    <a ng-if="usuario.estado == 3"><i class="material-icons" style="font-size: 40px; color: red;">&#xE000;</i></a>
                                </div>
                            </div>
                        </div>

                        <div class="uk-margin-medium-top">
                            <a ng-click="invitar()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                <span class="menu_icon" ng-if="buscando">
                                    <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                </span> 

                                <span ng-if="!buscando">Invitar usuario</span><span ng-if="!buscando || datos.usuarios.length > 1">s</span><span ng-if="buscando">Invitando...</span>
                            </a>

                            <a ng-if="invitacionesTotales > 0" class="md-btn md-btn-success md-btn-block md-btn-large">
                                {{ invitacionesOk }} / {{ invitacionesTotales }} Invitaciones enviadas
                            </a>

                            <a ng-if="invitacionesTotales > 0" ng-click="reset()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                Realizar mas invitaciones
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- 60706000-2 -->