<style>
    .sortorder:after {
        content: '\25b2';   // BLACK UP-POINTING TRIANGLE
    }
    .sortorder.reverse:after {
        content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
    }
</style>

<div id="page_content">
    <div class="md-card uk-margin-medium-bottom">
        <div id="page_content_inner">
            <h3 class="heading_b uk-margin-bottom">Gestión de CAFs</h3>
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-search"></i></span>
                            <input
                                class="md-input"
                                type="text"
                                placeholder="Búsqueda por Tipo de Documento"
                                md-input
                                id="tipo_documento"
                                ng-model="filtroTipoDocumento"
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="md-card-content uk-overflow-container">
                <table class="uk-table uk-table-nowrap uk-table-hover">
                    <thead>
                    <tr>
                        <th class="uk-text-left">
                            Tipo <br /> Documento
                            <i
                                title="Filtrar por Tipo de Documento"
                                ng-click="sortBy('tipoDocumento')"
                                class="md-icon material-icons">
                                filter_list
                            </i>
                            <span
                                class="sortorder"
                                ng-show="propiedadFiltro === 'tipoDocumento'"
                                ng-class="{reverse: reverse}"
                            ></span>
                        </th>
                        <th class="uk-text-left">
                            Tipo <br /> Foliación
                            <i
                                title="Filtrar por Tipo de Foliación"
                                class="md-icon material-icons"
                                ng-click="sortBy('tipoFoliacion')"
                            >
                                filter_list
                            </i>
                            <span
                                class="sortorder"
                                ng-show="propiedadFiltro === 'tipoFoliacion'"
                                ng-class="{reverse: reverse}"
                            ></span>
                        </th>
                        <th class="uk-text-center">
                            CAFs
                            <i
                                title="Filtrar por CAF'S disponibles"
                                class="md-icon material-icons"
                                ng-click="sortBy('cafsDisponibles')"
                            >
                                filter_list
                            </i>
                            <span
                                class="sortorder"
                                ng-show="propiedadFiltro === 'cafsDisponibles'"
                                ng-class="{reverse: reverse}"
                            ></span>
                        </th>
                        <th class="uk-text-center">Folios</th>
                        <th class="uk-text-center">Usados</th>
                        <th class="uk-text-center">Libres</th>
                        <th class="uk-text-center">Rechazados</th>
                        <th class="uk-text-center">Uso <br /> Diario</th>
                        <th class="uk-text-center">Días <br /> Emitidos</th>
                        <th class="uk-text-center"> </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-if="cafs.length == 0 && !cargando">
                        <td colspan="9"><center>No se encontraron CAFs</center></td>
                    </tr>
                    <tr ng-repeat="caf in cafs | filter:{tipoDocumento:filtroTipoDocumento} | orderBy:propiedadFiltro:reverse track by $index">
                        <td class="uk-text-left">{{caf.tipoDocumento}}</td>
                        <td class="uk-text-center">
                            <span
                                ng-if="caf.tipoFoliacion ==='Automático'"
                                class="uk-badge uk-badge-muted"
                            >
                                {{caf.tipoFoliacion}}
                            </span>
                            <span
                                ng-if="caf.tipoFoliacion ==='Manual'"
                                class="uk-badge uk-badge-info"
                            >
                                {{caf.tipoFoliacion}}
                            </span>
                        </td>
                        <td class="uk-text-center">{{caf.cafsDisponibles}}</td>
                        <td class="uk-text-center">{{caf.foliosTotales}}</td>
                        <td class="uk-text-center">{{caf.foliosUsados}}</td>
                        <td class="uk-text-center">{{caf.foliosLibres}}</td>
                        <td class="uk-text-center">{{caf.foliosRechazados}}</td>
                        <td class="uk-text-center">{{caf.foliosPorDia}} </td>
                        <td class="uk-text-center">{{caf.diasDisponibles}}</td>
                        <td class="uk-text-left">
                              <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                                  <a href="#" class="md-icon material-icons center">&#xE5D4;</a>
                                  <div class="uk-dropdown uk-dropdown-small">
                                      <ul class="uk-nav uk-nav-dropdown-small" style="z-index:99">
                                          <li><a ui-sref="restringido.folios_legacy({app:app,tipoDTE:caf.tipoDTE,tipoCAF:caf.tipoCAF})">
                                            <i class="material-icons">&#xE896;</i> Ver Detalle
                                          </a><li>
                                      </ul>
                                  </div>
                              </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <br><br>

    </div>
</div>
<!-- Inicio Modal cargar CAF -->
<div id="modalCargarCAF" class="uk-modal" style="margin: 0 auto;">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Carga de CAF
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-width-medium-2-2" style="padding: 0px 0px 30px 35px;">
                <h3 class="heading_a"><span class="sub-heading">Seleccione desde su equipo el archivo del CAF obtenido desde el SII</span></h3>
            </div>
            <div class="file-field input-field" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Archivo extensión .XML">
                <div class="md-btn md-btn-primary" style="width: 100%; padding: 1% 44% 1% 0%;">
                    <input
                        id="archivoCaf"
                        class="md-input"
                        type="file"
                        ng-model="carga.archivoCaf"
                        accept="text/xml"
                        onchange="angular.element(this).scope().archivoCafCargado()"
                    >
                </div>
            </div>
            <br>
            <div class="uk-form-row">
                <label for="folioInicio">Folio inicial</label>
                <input class="md-input" type="text" id="folioInicio" ng-model="carga.folioInicio" md-input 
                                        event.returnValue = false;" maxlength="30" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Valor numérico"/>
            </div>
            <br>
            <div class="uk-form-row">
                <label for="folioFin">Folio final</label>
                <input class="md-input" type="text" id="folioFin" ng-model="carga.folioFin" md-input 
                                        event.returnValue = false;" maxlength="30" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Valor numérico"/>
            </div>
            <br>
            <div class="uk-form-row">
              <span data-uk-tooltip="{cls:'long-text', pos:'top'}" title="Seleccione Manual si utiliza un ERP como SAP u otro. Si tiene dudas contátese con su consultor de su ERP.">
                <label class="uk-form-label">Tipo Foliación:  </label>
              </span>
              <span data-uk-tooltip="{cls:'long-text', pos:'top'}" title="Al emitir debe indicar el número de folio.">
                  <input type="radio" value="0" ng-model="$parent.tipoCAF"> Manual
              </span>
              <span data-uk-tooltip="{cls:'long-text', pos:'top'}" title="Febos administrará y asignará automáticamente los folios.">
                  <input type="radio" value="1" ng-model="$parent.tipoCAF"> Automática
              </span>
            </div>
            <br>
            <div class="uk-margin-medium-top">
                <a ng-click="cargarCaf()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                    <span class="menu_icon" ng-if="carga.texto != 'CARGAR CAF'">
                        <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                    </span>
                    {{ carga.texto }}
                </a>
            </div>
        </div>
        <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
    </div>
</div>
<!-- Fin Modal cargar CAF -->
<!-- Inicio botón cargar caf -->
<div class="md-fab-wrapper md-fab-speed-dial" style="right:100px">
    <a class="md-fab md-fab-danger"  ng-click="modalCargarCAF()" data-uk-tooltip="{pos:'left'}" title="Cargar CAF"><i class="material-icons">add</i></a>
</div>
<!-- Fin botón cargar caf -->

