<div class="uk-modal-dialog" ng-if="!!elemento">
  <button type="button" class="uk-modal-close uk-close uk-close-alt"></button>
  <div class="uk-modal-header">
    <h3 class="uk-modal-title">Editar {{elemento.type}} ({{elemento.id}})</h3>
  </div>
  <div ng-if="elemento.type != 'paragraph'" ng-style="configuracionGeneralContenidoModal()">
    <ng-include 
      src="acciones.obtenerTemplate(elemento.type)">
    </ng-include>
  </div>
  <div ng-if="cargandoCampos" class="uk-grid uk-margin-top" data-uk-grid-margin>
    <div class="uk-width-medium-1-1 uk-text-center">
      <md-preloader stroke-width="8"></md-preloader>
    </div>
  </div>
  <div ng-include="obtenerCamposEditables(elemento.type)"></div>
  <div class="uk-modal-footer uk-text-right">
    <button type="button" class="uk-modal-close md-btn md-btn-flat md-btn-flat-primary">Cerrar</button>
  </div>
</div>