<div id="page_content">
    <div class="md-card uk-margin-medium-bottom">
        <div id="page_content_inner">
            <h3 class="heading_b uk-margin-bottom">Gestión de Flujos</h3>

            <div class="md-card uk-margin-medium-bottom" ><!--ng-if="ocultar"-->
                <div class="md-card-toolbar">
                    <div class="md-card-toolbar-actions">
                        <card-fullscreen-activate></card-fullscreen-activate>
                        <card-toggle></card-toggle>
                    </div>

                    <card-fullscreen-deactivate></card-fullscreen-deactivate>

                    <h3 class="md-card-toolbar-heading-text">Filtros</h3>
                </div>

                <div class="md-card-content" >
                    <h3 class="heading_a">Filtros de flujo</h3>

                    <div class="uk-grid" data-uk-grid-margin>

                        <div class="uk-width-medium-1-3">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-search"></i></span>
                                
                                <input class="md-input" type="text" id="" placeholder="Búsqueda por PATH de lectura" md-input ng-model="filtros.path">
                            </div>
                        </div>

                        <div class="uk-width-medium-1-3">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-search"></i></span>
                                
                                <input class="md-input" type="text" id="" placeholder="Búsqueda por Nombre" md-input ng-model="filtros.nombre">
                            </div>
                        </div>
                    </div>

                    <div class="uk-grid" data-uk-grid-margin style="margin-top: 5%;">
                        <div class="uk-width-medium-1-4"></div>
                        <!--<div class="uk-width-medium-1-4">
                            <a href="javascript:void(0)" ng-click="cargarFiltros()" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Buscar"><i class="material-icons">&#xE8B6;</i> Buscar</a>
                        </div>-->
                        <div class="uk-width-medium-1-4">
                            <a href="javascript:void(0)" ng-click="limpiarFiltros()" class="md-btn md-btn-warning md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Limpiar Búsqueda" style="width: 100%;height: 100%"><i class="material-icons">&#xE0B8;</i> Limpiar</a>
                        </div>
                        <div class="uk-width-medium-1-4"></div>
                    </div>
                </div>
            </div>

            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-nowrap uk-table-hover">
                        <thead>
                            <tr>
                                <th class="uk-width-2-10 uk-text-center">Nombre</th>
                                <th class="uk-width-2-10 uk-text-center">Version</th>
                                <th class="uk-width-2-10 uk-text-center">Estado</th>
                                <th class="uk-width-2-10 uk-text-center">Fecha</th>
                                <th class="uk-width-2-10 uk-text-center">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-if="cargando">
                                <td colspan="5"><center><img src="ajax-loader.gif" /> Buscando...</center></td>
                            </tr>
                            <tr ng-if="flujos.legth == 0 && !cargando">
                                <td colspan="5"><center>No se encontraron flujos</center></td>
                            </tr>
                            <tr ng-repeat="flujo in flujos | filter:filtros.nombre||filtros.path" id="usuariox_{{usuario.id}}">
                                <td class="uk-width-2-10 uk-text-center">{{flujo.nombre}}</td>
                                <td class="uk-width-2-10 uk-text-center">{{flujo.version}}</td>
                                <td class="uk-width-2-10 uk-text-center">
                                    <div ng-switch="flujo.estaActivo">
                                        <span ng-switch-when="true" style="color:green">Activo</span>
                                        <span ng-switch-when="false" style="color:red">Detenido</span>
                                        <span ng-switch-when="-1" style="color:grey">Procesando...</span>
                                    </div>
                                </td>
                                <td class="uk-width-2-10 uk-text-center">{{flujo.creado}}</td>
                                <td class="uk-width-1-10 uk-text-center">
                                    <span ng-switch="flujo.estaActivo">
                                    <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"  title="Detener" ng-switch-when="true" ng-click="cambiarEstado(flujo.id,false,$index)"><i style="color:red" class="material-icons">stop</i></a>
                                    <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Iniciar" ng-switch-when="false" ng-click="cambiarEstado(flujo.id,true,$index)"><i style="color:green" class="material-icons">&#xE038;</i></a>
                                    <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Procesando..." ng-switch-when="-1"><img src="/ajax-loader.gif" /></a>
                                    </span>
                                    <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Editar" ng-click="editar(flujo.id)"><i class="material-icons">&#xE254;</i></a>
                                    <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Eliminar" ng-click="eliminar(flujo.id,$index)" ng-if="flujo.eliminando==0"><i class="material-icons">&#xE872;</i></a>
                                    <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Eliminando..." ng-if="flujo.eliminando==1"><img src="ajax-loader.gif" /></a>
                                    <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Configurar" ng-click="configurar(flujo.id)"><i class="material-icons">&#xE8B8;</i></a>
                                    <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Listar ejecuciones" ng-click="ejecuciones(flujo.id)"><i class="material-icons">&#xE896;</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul ng-if="!cargando && flujos.length > 0" class="uk-pagination uk-margin-medium-top">
                            <li class="uk-disabled" ng-if="filtros.pagina>1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                            <li class="uk" ng-if="filtros.pagina!=1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                            <li ng-repeat="pag in filtros.paginas track by $index" class="uk{{(filtros.pagina==pag.numero?'-active':'')}}"><a href="" ng-click="cambiarPagina($index)">{{pag.numero}}</a></li>
                            <li class="uk-disabled" ng-if="filtros.pagina==totalPaginas && totalPaginas>1"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                            <li class="uk" ng-if="filtros.pagina!=totalPaginas"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>

<div class="md-fab-wrapper md-fab-speed-dial" style="right:100px">
    <a class="md-fab md-fab-danger" href="javascript:void(0)" ng-click="nuevo()" data-uk-tooltip="{pos:'right'}" title="Nuevo Flujo"><i class="material-icons">add</i></a>
</div>