<div id="page_content">
    <div id="page_content_inner">

        <div class="uk-width-medium-9-10 uk-container-center reset-print">
            <div class="uk-grid uk-grid-collapse" data-uk-grid-margin>
                <div class="uk-width-large-6-10">
                    <!-- VISTA DE DTE -->

                    <div class="md-card md-card-single main-print" id="invoice" single-card style="max-width:820px;">
                        <div class="md-card-toolbar">
                            <h3 class="md-card-toolbar-heading-text large" id="invoice_name">
                                <volver></volver>
                                <!--i class="material-icons" style="color:#ccc;padding:4px;margin:5px 0px 0px 0px;">&#xE5D4;</i-->
                                &nbsp;
                                {{ tipo }} <span ng-if="dte.imagenLink">#</span> {{ dte.folio }}
                            </h3>
                            <div permiso="DTE15|left" class="md-card-toolbar-actions" ng-if="!esBoleta && dte.imagenLink">
                                <a ng-click="imprimir()" data-uk-tooltip="{cls:'long-text'}" title="Imprimir este documento">
                                    <i class="md-icon material-icons" id="guardar_pdf">print</i>
                                </a>
                                <a ng-click="verPDF(dte.febosId, regenerarPdf)" data-uk-tooltip="{cls:'long-text'}" title="Descargar PDF">
                                   <i class="md-icon material-icons" id="descargar_pdf">&#xE161;</i>
                                </a>
                                <span data-uk-tooltip="{cls:'long-text'}" title="Si el PDF luce distinto de esta vista previa, quiere decir que ha cambiado en el tiempo, pero no ha sido regenerado, puedes regenerarlo activando esta opción.">
                                    <input type="checkbox" ui-switch ng-model="regenerarPdf" color="#00b0ff"/>
                                </span>
                            </div>
                            <div permiso="DTE15|left" class="md-card-toolbar-actions" ng-if="esBoleta && dte.imagenLink">
                                <a ng-click="imprimir()" data-uk-tooltip="{cls:'long-text'}" title="Descargar PDF">
                                    <i class="md-icon material-icons" id="guardar_pdf">&#xE161;</i>
                                </a>
                            </div>
                        </div>
                        <div class="md-card-content" id="despliegue" style="overflow-x:scroll" ng-if="dte.imagenLink">
                            <iframe id="documento" ng-src="{{iframe}}" style="width:816px;margin:-15px;height:calc(100% - 50px)"></iframe>
                        </div>
                        <div class="md-card-content" id="despliegue" style="overflow-x:scroll" ng-if="!dte.imagenLink">
                            <img src="assets/img/nodisponible.jpg" width="150"/>
                        </div>
                    </div>

                    <!-- FIN VISTA DTE -->
                </div>
                <div class="uk-width-large-4-10 hidden-print ">
                    <div class="md-list-outside-wrapper">
                        <div class="md-list-outside-search">
                            <input type="text" class="md-input inverted-colors" placeholder="Buscar..." md-input ng-model="query" />
                        </div>
                       
                        <div class="md-list-outside-inner" custom-scrollbar list-outside>
                            <ul class="md-list md-list-outside invoices_list">
                                <li class="heading_list" style="font-size:115%" ng-repeat-start="bitacora in bitacoras | filter:query" ng-show="getMonth(bitacora, $index)">{{ bitacora.fecha | momentDate:'YYYY-MM-DD':'D [de] MMMM [de] YYYY'}}</li>
                                <li ng-repeat-end ui-sref-active="md-list-item-active">
                                    <a class="md-list-content">
                                        <span permiso="DTE08|left" class="uk-badge uk-badge-info" ng-if="bitacora.externalId" ng-click="descargarAdjunto(bitacora.bitacoraId)">Adjunto 
                                        <i class="material-icons" style="color:#ccc;">attach_file</i></span>
                                    <span class="uk-badge uk-badge-primary" ng-if="bitacora.correoId" ng-click="consultarTrazaCorreo(bitacora.correoId)">Traza correo
                                        <i class="material-icons" style="color:#ccc;">mail_outline</i></span>
                                        <span class="md-list-heading uk-text-truncate">{{ bitacora.usuarioNombre }} <span class="uk-text-small uk-text-muted">a las {{bitacora.fecha| momentDate:'YYYY-MM-DD HH:mm:s.SSS':'HH:mm'}} hrs.</span></span>
                                        <span class="uk-text-small">{{bitacora.mensaje}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="md-fab-wrapper" ng-if="false">
    <a class="md-fab md-fab-accent md-fab-wave-light" ui-sref="restricted.pages.invoices.add">
        <i class="material-icons">&#xE145;</i>
    </a>
</div>

<div id="sidebar_secondary" sidebar-secondary toggle-hidden="large" custom-scrollbar>
    <div class="sidebar_secondary_wrapper uk-margin-remove">
        <ul class="md-list md-list-outside invoices_list">
            <li class="heading_list" ng-repeat-start="invoice in invoices_data" ng-show="getMonth(invoice, $index)">{{ invoice.date | momentDate:'MM-DD-YYYY':'MMMM YYYY'}}</li>
            <li ng-repeat-end ui-sref-active="md-list-item-active">
                <a ui-sref="restricted.pages.invoices.details({ invoiceId:invoice.item_id})" class="md-list-content">
                    <span class="uk-badge uk-badge-danger" ng-if="invoice.overdue">Overdue</span>
                    <span class="uk-badge uk-badge-primary" ng-if="invoice.header || invoice.footer">Header/Footer</span>
                    <span class="md-list-heading uk-text-truncate">Invoice {{invoice.item_id}}/2015 <span class="uk-text-small uk-text-muted">({{invoice.date| momentDate:'MM-DD-YYYY':'D MMM'}})</span></span>
                    <span class="uk-text-small uk-text-muted">{{invoice.company}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- inicio modal traza -->
<div id="mdTraza" class="uk-modal" data-uk-modal="bgclose:false">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div align="right"><a class="uk-modal-close uk-close"></a></div>

        <div style="padding: 5px 0px 0px 37px;">
            <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Traza de correo electrónico</h3>
        </div>
        <div ng-if="trazaCorreo.destino == '' && trazaCorreoError==false">
            <td colspan="9" style="text-align: center;"><i class="uk-icon-spinner uk-icon-spin"></i> Verificando...</td>
        </div>
        <div ng-if="trazaCorreoError">
            <td colspan="9" style="text-align: center;"><i class="uk-icon-exclamation"></i> Lo siento, se ha tardado mucho la consulta, por favor intenta nuevamente.</td>
        </div>
        <div ng-if="trazaCorreo.destino != ''">
            Destinatario: {{trazaCorreo.destino}}
            <table class="uk-table uk-table-nowrap uk-table-hover">
                <thead>
                    <tr>
                        <th>Evento</th>
                        <th>Fecha</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="evento in trazaCorreo.eventos">
                        <td>{{evento.tipo}}</td>
                        <td>{{evento.fecha}}</td>
                        <td>{{evento.mensaje}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>

    .scrollbar-inner{
        height: 90%!important;
    }
   

</style>