<style>
    .split, .gutter.gutter-horizontal{
        /*margin-left: -30px;*/
    }
    #ventanaAyuda::after {
  content: "";
  background: url(assets/img/bg-ayuda.jpg) no-repeat scroll center;
  opacity: 0.2;
  top: 49px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1; 
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  
}
</style>

<div class="uk-modal-dialog uk-modal-dialog-blank">
    <div class="md-card uk-height-viewport">
        <div class="md-card-toolbar">
            <div  class="md-card-toolbar-actions">
                <i permiso="FEB99|left" ng-if="!modoEdicion" class="md-icon material-icons" ng-click="toggleEdicion()">&#xE254;</i>
                <i permiso="FEB99|bottom" ng-if="modoEdicion" class="md-icon material-icons" ng-click="guardarAyuda()">&#xE161;</i>
            </div>
            <span class="md-icon material-icons uk-modal-close">&#xE5C4;</span>
            <h3 class="md-card-toolbar-heading-text">
                Volver
            </h3>
        </div>
        <div id="ayudaContainer" class="md-card-content" style="height:100%;min-height:100%;margin:0px;padding:0px">
            <div style="height:100%;min-height:100%;margin:0px;padding:0px">

                <div ng-if="modoEdicion" style="height:100%"> 
                    <div id="ayudaMarkup" style="float:left;height:100%;">
                        <textarea id="markup" style="width:95%;font-size:110%;margin:10px;overflow-y: scroll;" ng-model="datos.markup"></textarea>
                    </div>
                    <div id="ayudaHtml" style="float:left;paddin:10px">
                        <div id="html" ng-bind-html="datos.html" style="margin:10px;overflow-y: scroll;"></div>
                    </div>
                </div>
                <div ng-if="!modoEdicion" style="padding-left:10%;padding-right:10%;height:100%;overflow-y: scroll;" id="ventanaAyuda"> 
                    <div id="ayudaHtmlView" ng-bind-html="datos.html"></div>
                </div>
            </div>

        </div>
    </div>
</div>
