<br/>
<div id="page_content">
    <div class="md-card uk-margin-medium-bottom">
        <div id="page_content_inner">
            <div id="page_heading">
                <h1>Gestión de empresas</h1>
                <span class="uk-text-muted uk-text-upper uk-text-small">Administración de empresas asociadas a su cuenta</span>
            </div>

            <!-- inicio filtro de empresas -->
            <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-toolbar">
                    <div class="md-card-toolbar-actions">
                        <!--<card-fullscreen-activate></card-fullscreen-activate>-->
                        <card-toggle></card-toggle>
                    </div>

                    <!--<card-fullscreen-deactivate></card-fullscreen-deactivate>-->

                    <h3 class="md-card-toolbar-heading-text">Filtros</h3>
                </div>

                <div class="md-card-content">
                    <h3 class="heading_a">Filtros de Empresas</h3>

                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-3">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-search"></i></span>
                                <input
                                    type="text"
                                    placeholder="Búsqueda por RUT"
                                    class="md-input"
                                    id="empresa_rut"
                                    md-input
                                    maxlength="10"
                                    ng-model="filtros.empresa_rut"
                                    ng-rut
                                    ng-rut-format-punto="no"
                                />
                            </div>
                        </div>

                        <div class="uk-width-medium-1-3">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-search"></i></span>
                                <input class="md-input" type="text" placeholder="Búsqueda por Razón Social" id="empresa_razon" md-input ng-model="filtros.empresa_razon">
                            </div>
                        </div>

                        <div class="uk-width-medium-1-3">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-search"></i></span>

                                <input class="md-input" type="text" placeholder="Búsqueda por Nombre de Fantasía" md-input id="empresa_fantasia" ng-model="filtros.empresa_fantasia">
                            </div>
                        </div>
                    </div>

                    <div class="uk-grid" data-uk-grid-margin style="margin: 30px auto; width: 30%;">
                        <div class="uk-width-medium-1-2"><a ng-click="cambiarPagina('inicio')" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Buscar Documentos"><i class="material-icons">&#xE8B6;</i> Buscar</a></div>
                        <div class="uk-width-medium-1-2"><a href="javascript:void(0)" ng-click="limpiarFiltros()" class="md-btn md-btn-warning md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Limpiar Filtros de Búsqueda"><i class="material-icons">&#xE0B8;</i>Limpiar</a></div>
                    </div>
                </div>
            </div>
            <!-- fin filtro de empresas -->

            <!-- inicio mantenedor/listado de empresas -->
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-nowrap uk-table-hover">
                        <thead>
                            <tr>
                                <th style="font-size: 11px;" class="uk-width-2-10 uk-text-center">RUT</th>
                                <th style="font-size: 11px;" class="uk-width-2-10 uk-text-center">RAZÓN SOCIAL</th>
                                <th style="font-size: 11px;" class="uk-width-2-10 uk-text-center">NOMBRE FANTASÍA</th>
                                <th style="font-size: 11px;" class="uk-width-2-10 uk-text-center">ACCIONES</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-if="cargandoSucursales && sucursales.length == 0">
                                <td colspan="9" style="text-align: center;"><img src="ajax-loader.gif"> Buscando Sucursales...</td>
                            </tr>

                            <tr ng-if="cargando && empresas.length == 0">
                                <td colspan="9" style="text-align: center;"><img src="ajax-loader.gif"> Buscando Empresas...</td>
                            </tr>

                            <tr ng-if="!cargando && empresas.length == 0">
                                <td colspan="9" style="text-align: center;">No se encontró ninguna empresa</td>
                            </tr>

                            <tr ng-if="!cargando && empresas.length > 0" ng-repeat="empresa in empresas track by $index" id="empresax_{{ empresa.id }}">
                                <td style="font-size: 11px;" class="uk-width-2-10 uk-text-center">{{ empresa.iut }}</td>
                                <td style="font-size: 11px;" class="uk-width-2-10 uk-text-center">{{ empresa.razon }}</td>
                                <td style="font-size: 11px;" class="uk-width-2-10 uk-text-center">{{ empresa.fantasia }}</td>
                                <td style="font-size: 11px;" class="uk-width-1-10 uk-text-center">
                                    <a ng-click="modificarEmpresa($index)" title="Modificar Empresa"><i class="material-icons">&#xE254;</i></a>
                                    <a ng-click="confirmarEliminarEmpresa($index)" title="Eliminar Empresa"><i class="material-icons">&#xE872;</i></a>
                                    <a ng-click="listadoSucursales($index)" title="Lista Sucursales Asociadas"><i class="material-icons">&#xE0AF;</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <ul ng-if="!cargando && empresas.length > 0" class="uk-pagination uk-margin-medium-top">
                    <li class="uk-disabled" ng-if="filtros.pagina==1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                    <li class="uk" ng-if="filtros.pagina!=1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                    <li ng-repeat="pag in filtros.paginas track by $index" class="uk{{(filtros.pagina==pag.numero?'-active':'')}}"><a href="" ng-click="cambiarPagina($index)">{{pag.numero}}</a></li>
                    <li class="uk-disabled" ng-if="filtros.pagina==totalPaginas"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                    <li class="uk" ng-if="filtros.pagina!=totalPaginas"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                </ul>
            </div>
            <!-- fin mantenedor/lista de empresas -->

            <!-- inicio modal crear nueva empresa -->
            <div id="mdCrearEmpresa" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
                        <div class="md-card-content large-padding uk-position-relative" id="crear_error" style="display: none; width: 30%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                            <h2 class="heading_b uk-text-danger">ERROR!</h2>
                            <p>{{ datox.mensaje_error }}</p>
                        </div>

                        <div class="md-card-content large-padding uk-position-relative" id="crear_ok" style="display: none; width: 30%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                            <h2 class="heading_b uk-text-danger">OK!</h2>
                            <p>{{ datox.mensaje_ok }}</p>
                        </div>

                        <div id="crear_form">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Crear Nueva Empresa</h3>
                            </div>

                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_a">
                                    Ingreso de nueva empresa ...
                                    <span class="sub-heading">Los que presentan el asterisco rojo, son campos obligatorios ( <span style="color: red;"> * </span> )</span>
                                </h3>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div style="text-align: center;" ng-if="loadingCrearEmpresa">
                                    <i style="font-size: 20px; vertical-align: middle;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                </div>
                                <div ng-if="!loadingCrearEmpresa" class="md-card-content">
                                    <div class="">
                                        <form>
                                            <div class="uk-form-row">
                                                <label for="iut">RUT Empresa ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" maxlength="12" id="iut" ng-model="datox.iut" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="razon">Razón Social ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="razon" ng-model="datox.razonSocial" maxlength="150" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="fantasia">Nombre Fantasía ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" maxlength="150" type="text" id="fantasia" ng-model="datox.fantasia" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="direccion">Dirección ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" maxlength="150" type="text" id="direccion" ng-model="datox.direccion" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="codigoSiiMatriz">Código SII (Casa Matriz)</label>
                                                <input class="md-input" maxlength="10" type="text" id="codigoSiiMatriz" ng-model="datox.codigoSii" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="ciudad">Ciudad ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" maxlength="45" type="text" id="ciudad" ng-model="datox.ciudad" md-input />
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="comuna">Comuna ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" maxlength="45" type="text" id="comuna" ng-model="datox.comuna" md-input />
                                            </div>
                                            <!--<div class="uk-form-row">
                                                <label for="telefono">Teléfono </label>
                                                <input class="md-input" type="text" id="telefono" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" ng-model="datox.telefono" md-input />
                                            </div>-->
                                            <div class="uk-form-row">
                                                <label for="acteco">Acteco </label>
                                                <input class="md-input" maxlength="6" type="text" id="acteco" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" ng-model="datox.acteco" md-input />
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="correoElectronico">Correo Electrónico.( <span style="color: red;"> * </span> )</label>
                                                <input maxlength="50" class="md-input" type="text" id="correoElectronico" placeholder="(ej. contacto@proveedor.cl)" ng-model="datox.correo" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="holding">Holding </label>
                                                <input class="md-input" type="text" id="holding" ng-model="datox.holding" config="holding_config" options="holding_options" selectize />
                                                <br />
                                                <a class="uk-badge" ng-if="datox.holding.length > 1" ng-click="limpiarHolding()">Limpiar</a>
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="canal">Canal ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="canal" ng-model="datox.canal" config="holding_config" options="canal_options" selectize />
                                            </div>
                                            <div class="uk-form-row">
                                                <input id="checkEmisor" class="switchery switchery-small" type="checkbox" ui-switch ng-model="datox.checkEmisor" />
                                                <label style="color: #727272;" for="checkEmisor" class="inline-label">Es Emisor</label>
                                            </div>
                                            <div class="uk-form-row">
                                                <input id="checkReceptor" class="switchery switchery-small" type="checkbox" ui-switch ng-model="datox.checkReceptor" />
                                                <label style="color: #727272;" for="checkReceptor" class="inline-label">Es Receptor</label>
                                            </div>
                                            <div class="uk-form-row">
                                                <input id="checkRCOF" class="switchery switchery-small" type="checkbox" ui-switch ng-model="datox.checkRcof" />
                                                <label style="color: #727272;" for="checkRCOF" class="inline-label">Generar RCOF</label>
                                            </div>
                                            <div class="uk-form-row">
                                                <input id="checkGanal" class="switchery switchery-small" type="checkbox" ui-switch ng-model="datox.checkCanal" />
                                                <label style="color: #727272;" for="checkGanal" class="inline-label">Esta empresa es Canal</label>
                                            </div>
                                            <div id="checkReglas" class="uk-form-row">
                                                <input class="switchery switchery-small" type="checkbox" ui-switch ng-model="datox.reglas" />
                                                <label style="color: #727272;" for="checkReglas" class="inline-label">Esta empresa tiene Reglas de Negocio</label>
                                            </div>


                                            <!--fin nuevos campos-->

                                            <div class="uk-margin-medium-top">
                                                <button
                                                    ng-show="validarBotonCrear()"
                                                    ng-click="crear()"
                                                    class="md-btn md-btn-primary md-btn-block md-btn-large"
                                                >
                                                    <span class="menu_icon" ng-if="datox.textoCrear != 'CREAR'">
                                                        <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                    </span> {{ datox.textoCrear }}
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal crear nueva empresa -->

            <!-- inicio modal modificar empresa -->
            <div id="mdModificarEmpresa" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content modificar_card" style="width: 100%; margin: 0 auto;">
                        <div class="md-card-content large-padding uk-position-relative" id="modificar_error" style="display: none; width: 30%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToModificar($event)"></button>
                            <h2 class="heading_b uk-text-danger">ERROR</h2>
                            <p>{{ datax.mensaje_error }}</P>
                        </div>

                        <div class="md-card-content large-padding uk-position-relative" id="modificar_ok" style="display: none; width: 30%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToModificar($event)"></button>
                            <h2 class="heading_b uk-text-danger">MODIFICADO</h2>
                            <p>{{ datax.mensaje_ok }}</P>
                        </div>

                        <div id="modificar_form">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Modificar Empresa</h3>
                            </div>

                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_a">
                                    Modificar empresa seleccionada ...
                                    <span class="sub-heading">Los que presentan el asterisco rojo, son campos obligatorios ( <span style="color: red;"> * </span> )</span>
                                </h3>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div style="text-align: center;" ng-if="loadingModificarEmpresa">
                                    <i style="font-size: 20px; vertical-align: middle;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                </div>
                                <div ng-if="!loadingModificarEmpresa" class="md-card-content">
                                    <div class="">
                                        <form>
                                            <div class="uk-form-row">
                                                <label for="empresa_iut">RUT Empresa</label>
                                                <input class="md-input" type="text" id="empresa_iut" ng-model="datax.empresa_iut" md-input disabled="disabled" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="mod_empresa_razon">Razón Social ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="mod_empresa_razon" ng-model="datax.empresa_razon" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="mod_empresa_fantasia">Nombre Fantasía ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="mod_empresa_fantasia" ng-model="datax.empresa_fantasia" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="mod_direccion">Dirección ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="mod_direccion" ng-model="datax.empresa_direccion" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="mod_codigoSiiMatriz">Código SII (Casa Matriz)</label>
                                                <input class="md-input" maxlength="10" type="text" id="mod_codigoSiiMatriz" ng-model="datax.codigoSii" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="mod_ciudad">Ciudad ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="mod_ciudad" ng-model="datax.empresa_ciudad" md-input />
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="mod_comuna">Comuna ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="mod_comuna" ng-model="datax.empresa_comuna" md-input />
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="mod_telefono">Teléfono </label>
                                                <input class="md-input" type="text" id="mod_telefono" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" ng-model="datax.empresa_telefono" md-input />
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="mod_telefono">Acteco </label>
                                                <input class="md-input" maxlength="6" type="text" id="mod_acteco" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" ng-model="datax.empresa_acteco" md-input />
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="mod_correoElectronico">Correo Electrónico. (ej. contacto@proveedor.cl) ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="mod_correoElectronico" ng-model="datax.empresa_correo" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="mod_holding">Holding </label>
                                                <input class="md-input" type="text" id="mod_holding" ng-model="datax.empresa_holdingId" config="holding_config" options="holding_options" selectize />
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="mod_canal">Canal ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="mod_canal" ng-model="datax.empresa_canal" config="holding_config" options="canal_options" selectize />
                                            </div>
                                            <div class="uk-form-row">
                                                <input id="mod_checkEmisor" class="switchery switchery-small" type="checkbox" ui-switch ng-model="datax.empresa_esEmisor" ng-checked="datax.empresa_esEmisor" />
                                                <label style="color: #727272;" for="mod_checkEmisor" class="inline-label">Es Emisor</label>
                                            </div>
                                            <div class="uk-form-row">
                                                <input id="mod_checkReceptor" class="switchery switchery-small" type="checkbox" ui-switch ng-model="datax.empresa_esReceptor" ng-checked="datax.empresa_esReceptor" />
                                                <label style="color: #727272;" for="mod_checkReceptor" class="inline-label">Es Receptor</label>
                                            </div>
                                            <div class="uk-form-row">
                                                <input id="mod_checkRCOF" class="switchery switchery-small" type="checkbox" ui-switch ng-model="datax.empresa_esRcof" ng-checked="datax.empresa_esRcof" />
                                                <label style="color: #727272;" for="mod_checkRCOF" class="inline-label">Generar RCOF</label>
                                            </div>
                                            <div class="uk-form-row">
                                                <input id="mod_checkGanal" class="switchery switchery-small" type="checkbox" ui-switch ng-model="datax.empresa_esCanal" ng-checked="datax.empresa_esCanal" />
                                                <label style="color: #727272;" for="mod_checkGanal" class="inline-label">Esta empresa es Canal</label>
                                            </div>
                                            <div class="uk-form-row">
                                                <input id="mod_checkReglas" class="switchery switchery-small" type="checkbox" ui-switch ng-model="datax.empresa_tieneReglas" />
                                                <label style="color: #727272;" for="mod_checkReglas" class="inline-label">Esta empresa tiene Reglas de Negocio</label>
                                            </div>

                                            <div class="uk-margin-medium-top">
                                                <a ng-click="guardarModificacion()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                    <span class="menu_icon" ng-if="datox.textoModificar != 'MODIFICAR'">
                                                        <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                    </span> {{ datox.textoModificar }}
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal modificar empresa -->

            <!-- modal confirmar eliminar -->
            <div id="mdConfirmar" class="uk-modal">
                <div class="uk-modal-dialog" style="width: 50%;">
                    <a class="uk-modal-close uk-close"></a>
                    <div id="md-card-content confirm_card" style="width: 100%; margin: 0 auto;">
                        <div id="confirm_form">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h4 class="heading_b uk-margin-bottom" style="color: #e4501e;">
                                    Confirmar Eliminar la Empresa:<br /> "{{empresas[index_empresa_eliminar].iut}} - {{empresas[index_empresa_eliminar].razon}}"</h4>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div class="md-card-content">
                                <div ng-if="cargandoEliminar">
                                    <div colspan="9" style="text-align: center;"><img src="ajax-loader.gif"></div>
                                </div>
                                <div ng-if="!cargandoEliminar">
                                    <div class="uk-grid">
                                        <div class="uk-width-medium-1-2">
                                            <a ng-click="eliminarEmpresa(index_empresa_eliminar)" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                ELIMINAR
                                            </a>
                                        </div>

                                        <div class="uk-width-medium-1-2">
                                            <a ng-click="cancelarEliminarEmpresa()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                CANCELAR
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal confirmar eliminar -->

            <!-- inicio modal mantenedor/listado de sucursales -->
            <div id="mdListadoSucursal" class="uk-modal">
                <div class="uk-modal-dialog" style="width: 900px;">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content listar_cardSu" style="width: 100%; margin: 0 auto;">
                        <div id="listar_form">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Listado de Sucursales</h3>
                            </div>

                            <div style="padding: 0px 24px 30px 0px;">
                                <div class="md-card-content">
                                    <div class="">

                                        <div class="uk-grid" data-uk-grid-margin style="margin: -30px auto; width: 170px; float: right;">
                                            <div class="uk-width-medium-1-1"><a ng-click="abrirCrear(empresax)" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Crear nueva sucursal"><i class="materil-icons"></i> Crear Sucursal</a></div>
                                        </div>

                                        <div class="md-card-content">
                                            <div>
                                                <table class="uk-table uk-table-nowrap uk-table-hover" style="table-layout: fixed;">
                                                    <thead>
                                                        <tr>
                                                            <th class="uk-width-1-10 uk-text-center">Código SII</th>
                                                            <th class="uk-width-1-10 uk-text-center">Dirección</th>
                                                            <th class="uk-width-1-10 uk-text-center">Correo</th>
                                                            <th class="uk-width-1-10 uk-text-center">Municipio</th>
                                                            <th class="uk-width-1-10 uk-text-center">Acciones</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr ng-if="cargandoCajas">
                                                            <td colspan="5" style="text-align: center;"><img src="ajax-loader.gif"> Buscando cajas ...</td>
                                                        </tr>
                                                        <tr ng-if="cargandoSucursales">
                                                            <td colspan="5" style="text-align: center;"><img src="ajax-loader.gif"> Buscando sucursales ...</td>
                                                        </tr>

                                                        <tr ng-if="!cargandoSucursales && sucursales.length == 0">
                                                            <td colspan="5" style="text-align: center;">No se encontró ninguna sucursal asociada</td>
                                                        </tr>

                                                        <tr ng-repeat="sucursal in sucursales track by $index">
                                                            <td class="uk-text-center">{{ sucursal.codigoSii }}</td>
                                                            <td class="uk-text-center" style="max-width: 100px; white-space: inherit; word-break: break-word;">{{ sucursal.direccion }}</td>
                                                            <td class="uk-text-center">{{ sucursal.correo }}</td>
                                                            <td class="uk-text-center">{{ sucursal.municipio }}</td>
                                                            <td class="uk-width-1-10 uk-text-center">
                                                                <a title="Modificar Sucursal" ng-click="abrirModificarSucursal(sucursal)"><i class="material-icons">&#xE254;</i></a>
                                                                <a title="Eliminar Sucursal" ng-click="abrirEliminar(sucursal)"><i class="material-icons">&#xE872;</i></a>
                                                                <a title="Lista Cajas Asociadas" ng-click="listadoCajas(sucursal)"><i class="material-icons">&#xE0AF;</i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <ul class="uk-pagination uk-margin-medium-top">
                                                    <li class="uk-disabled" ng-if="filtrox.pagina == 1">
                                                        <a href="">
                                                            <i class="uk-icon-angle-double-left"></i>
                                                        </a>
                                                    </li>
                                                    <li class="uk" ng-if="filtrox.pagina != 1">
                                                        <a href="" ng-click="cambiarPaginaSuc('inicio')">
                                                            <i class="uk-icon-angle-double-left"></i>
                                                        </a>
                                                    </li>
                                                    <li ng-repeat="pag in filtrox.paginas track by $index" class="uk{{(filtrox.pagina == pag.numero ? '-active' : '')}}">
                                                        <a href="" ng-click="cambiarPaginaSuc($index)">{{pag.numero}}</a>
                                                    </li>
                                                    <li class="uk-disabled" ng-if="filtrox.pagina == filtrox.totalPaginas">
                                                        <a href="">
                                                            <i class="uk-icon-angle-double-right"></i>
                                                        </a>
                                                    </li>
                                                    <li class="uk" ng-if="filtrox.pagina != filtrox.totalPaginas">
                                                        <a href="" ng-click="cambiarPaginaSuc('final')">
                                                            <i class="uk-icon-angle-double-right"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- inicio modal mantenedor/listado de sucursales -->

            <!-- inicio modal crear nueva sucursal -->
            <div id="mdCrear" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content crear_cardSu" style="width: 100%; margin: 0 auto;">
                        <div class="md-card-content large-padding uk-position-relative" id="crear_errorSu" style="display: none; width: 30%; margin: 0 auto;">
                            <h2 class="heading_b uk-text-danger">ERROR!</h2>
                            <p>{{ crear.mensaje_error }}</p>
                            <button ng-click="backToCrear($event)" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Intentar nuevamente">
                                <i class="materil-icons"></i> Intentar nuevamente
                            </button>
                        </div>

                        <div class="md-card-content large-padding uk-position-relative" id="crear_okSu" style="display: none; width: 55%; margin: 0 auto; text-align: center;">
                            <h2 class="heading_b uk-text-success">La sucursal fue ingresada exitosamente ...</h2>
                            <p>{{ crear.mensaje_ok }}</p>
                            <button ng-click="backToCrear($event)" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Crear otra sucursal">
                                <i class="materil-icons"></i> Crear otra sucursal
                            </button>
                        </div>

                        <div id="crear_formSu">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Crear Sucursal</h3>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div class="md-card-content">
                                    <div class="">
                                        <form>
                                            <div class="uk-form-row">
                                                <label for="empresa">Empresa</label>
                                                <input class="md-input" type="text" id="empresa" ng-model="crear.empresa" md-input disabled="disabled" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="rutEmpresa">RUT Empresa ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="rutEmpresa" ng-model="crear.rutEmpresa" md-input disabled="disabled" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="codigoSii">Código SII Sucursal ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" maxlength="10" type="text" id="codigoSii" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" ng-model="crear.codigoSii" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="suc_direccion">Direccion Sucursal ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="suc_direccion" ng-model="crear.direccion" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="suc_ciudad">Ciudad ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="suc_ciudad" ng-model="crear.ciudad" md-input />
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="suc_comuna">Comuna ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="suc_comuna" ng-model="crear.comuna" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="telefono">Teléfono Sucursal ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="telefono" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" ng-model="crear.telefono" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="correo">Correo Electrónico Sucursal ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="email" id="correo" ng-model="crear.correo" md-input />
                                            </div>

                                            <input class="md-input" type="hidden" id="empresaHide" ng-model="crear.empresaHide" md-input />

                                            <div class="uk-margin-medium-top">
                                                <a ng-click="crearSucursal()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                    <span class="menu_icon" ng-if="crear.textoCrearSucursal != 'CREAR SUCURSAL'">
                                                        <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                    </span> {{ crear.textoCrearSucursal }}
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal crear nueva sucursal -->

            <!-- inicio modal modificar sucursal -->
            <div id="mdModificar" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content modificar_cardSu" style="width: 100%; margin: 0 auto;">
                        <div class="md-card-content large-padding uk-position-relative" id="modificar_errorSu" style="display: none; width: 30%; margin: 0 auto;">
                            <h2 class="heading_b uk-text-danger">ERROR</h2>
                            <p>{{ modificar.mensaje_error }}</p>
                            <button ng-click="backToCrear($event)" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Modificar nuevamente">
                                <i class="materil-icons"></i> Modificar nuevamente
                            </button>
                        </div>

                        <div class="md-card-content large-padding uk-position-relative" id="modificar_okSu" style="display: none; width: 55%; margin: 0 auto; text-align: center;">
                            <h2 class="heading_b uk-text-success">La sucursal fue modificada exitosamente ...</h2>
                            <p>{{ modificar.mensaje_ok }}</p>
                            <button ng-click="backToCrear($event)" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Modificar nuevamente">
                                <i class="materil-icons"></i> Modificar nuevamente
                            </button>
                        </div>

                        <div id="modificar_formSu">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Modificar Sucursal</h3>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div class="md-card-content">
                                    <div class="">
                                        <form>
                                            <div class="uk-form-row">
                                                <label for="mod_suc_empresa">Empresa</label>
                                                <input class="md-input" type="text" id="mod_suc_empresa" ng-model="modificar.empresa" md-input disabled="disabled" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="mod_suc_rutEmpresa">RUT Empresa ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="mod_suc_rutEmpresa" ng-model="modificar.rutEmpresa" md-input disabled="disabled" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="mod_suc_codigoSii">Código SII Sucursal ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" maxlength="10" type="text" id="mod_suc_codigoSii" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" ng-model="modificar.codigoSii" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="mod_suc_direccion">Direccion Sucursal ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="mod_suc_direccion" ng-model="modificar.direccion" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="mod_suc_ciudad">Ciudad ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="mod_suc_ciudad" ng-model="crear.ciudad" md-input />
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="mod_suc_comuna">Comuna ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="mod_suc_comuna" ng-model="crear.comuna" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="mod_suc_telefono">Teléfono Sucursal ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="mod_suc_telefono" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" ng-model="modificar.telefono" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="mod_suc_correo">Correo Electrónico Sucursal ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="email" id="mod_suc_correo" ng-model="modificar.correo" md-input />
                                            </div>

                                            <input class="md-input" type="hidden" id="mod_suc_febosId" ng-model="modificar.febosId" md-input />

                                            <div class="uk-margin-medium-top">
                                                <a ng-click="modificarSucursal()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                    <span class="menu_icon" ng-if="modificar.textoModificarSucursal != 'MODIFICAR SUCURSAL'">
                                                        <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                    </span> {{ modificar.textoModificarSucursal }}
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal modificar sucursal -->

            <!-- inicio modal confirmar eliminar -->
            <div id="mdEliminar" class="uk-modal">
                <div class="uk-modal-dialog" style="width:50%;">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content eliminar_cardSu" style="width: 100%; margin: 0 auto;">
                        <div id="eliminar_formSu">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h4 class="heading_b uk-margin-bottom" style="color: #e4501e;">¿Está seguro de eliminar la sucursal?</h4>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div class="md-card-content">
                                    <div class="uk-grid">
                                        <div style="width: 240px; margin-top: -15px;">
                                            <form>
                                                <input class="md-input" type="hidden" id="eliminar_sucursalId" type="text" ng-model="eliminar.sucursalId" md-input />

                                                <div class="uk-width-medium-1-1">
                                                    <a ng-click="eliminarSucursal()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                        <span class="menu_icon" ng-if="eliminar.textoEliminarSucursal != 'ELIMINAR SUCURSAL'">
                                                            <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                        </span> {{ eliminar.textoEliminarSucursal }}
                                                    </a>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="uk-width-medium-1-2">
                                            <a ng-click="cerrarEliminar()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                Cancelar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal confirmar eliminar -->

            <!-- inicio modal mantenedor/listado de cajas -->
            <div id="mdListadoCajas" class="uk-modal">
                <div class="uk-modal-dialog" style="width: 900px;">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content listado_cajas" style="width: 100%; margin: 0 auto;">
                        <div id="listado_cajas_form">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Listado de Cajas</h3>
                            </div>

                            <div style="padding: 0px 24px 30px 0px;">
                                <div class="md-card-content">
                                    <div class="">

                                        <div class="uk-grid" data-uk-grid-margin style="margin: -30px auto; width: 170px; float: right;">
                                            <div class="uk-width-medium-1-1">
                                                <a ng-click="abrirCrearCaja(sucursalx)" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Crear nueva caja">
                                                    <i class="materil-icons"></i> Crear Caja
                                                </a>
                                            </div>
                                        </div>

                                        <div class="md-card-content">
                                            <div>
                                                <table class="uk-table uk-table-nowrap uk-table-hover" style="table-layout: fixed;">
                                                    <thead>
                                                        <tr>
                                                            <th class="uk-width-1-10 uk-text-center">Sucursal</th>
                                                            <th class="uk-width-1-10 uk-text-center">Nombre</th>
                                                            <th class="uk-width-1-10 uk-text-center">Número</th>
                                                            <th class="uk-width-1-10 uk-text-center" style="width: 100px">Ubicación</th>
                                                            <th class="uk-width-1-10 uk-text-center">Acciones</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr ng-if="cargandoCajas && cajas.length == 0">
                                                            <td colspan="5" style="text-align: center;"><img src="ajax-loader.gif"> Buscando cajas ...</td>
                                                        </tr>

                                                        <tr ng-if="!cargandoCajas && cajas.length == 0">
                                                            <td colspan="5" style="text-align: center;">No se encontró ninguna caja asociada</td>
                                                        </tr>

                                                        <tr ng-repeat="caja in cajas track by $index">
                                                            <td class="uk-text-center" style="max-width: 100px; white-space: inherit; word-break: break-word;">{{ caja.sucursal }}</td>
                                                            <td class="uk-text-center">{{ caja.nombre }}</td>
                                                            <td class="uk-text-center">{{ caja.numero }}</td>
                                                            <td class="uk-text-center" style="max-width: 100px; white-space: inherit; word-break: break-word;">{{ caja.ubicacion }}</td>
                                                            <td class="uk-width-1-10 uk-text-center">
                                                                <a title="Modificar Caja" ng-click="abrirModificarCaja(caja)"><i class="material-icons">&#xE254;</i></a>
                                                                <a title="Eliminar Caja" ng-click="abrirEliminarCaja(caja)"><i class="material-icons">&#xE872;</i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!--
                                                <ul class="uk-pagination uk-margin-medium-top">
                                                    <li class="uk-disabled" ng-if="informacion.listar.elementos.pagina==1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                                                    <li class="uk" ng-if="informacion.listar.elementos.pagina!=1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                                                    <li ng-repeat="pag in informacion.listar.elementos.paginas track by $index" class="uk{{(informacion.listar.elementos.pagina==pag.numero?'-active':'')}}"><a href="" ng-click="cambiarPagina($index)">{{pag.numero}}</a></li>
                                                    <li class="uk-disabled" ng-if="informacion.listar.elementos.pagina==informacion.listar.elementos.totalPaginas"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                                                    <li class="uk" ng-if="informacion.listar.elementos.pagina!=informacion.listar.elementos.totalPaginas"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                                                </ul>
                                                -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- inicio modal mantenedor/listado de cajas -->

            <!-- inicio modal crear nueva caja -->
            <div id="mdCrearCaja" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content crear_cardCaja" style="width: 100%; margin: 0 auto;">
                        <div class="md-card-content large-padding uk-position-relative" id="crear_errorCaja" style="display: none; width: 30%; margin: 0 auto;">
                            <h2 class="heading_b uk-text-danger">ERROR!</h2>
                            <p>{{ crearCaja.mensaje_error }}</p>
                            <button ng-click="backToCrear($event)" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Crear otra sucursal">
                                <i class="materil-icons"></i> Intentar nuevamente
                            </button>
                        </div>

                        <div class="md-card-content large-padding uk-position-relative" id="crear_okCaja" style="display: none; width: 55%; margin: 0 auto; text-align: center;">
                            <h2 class="heading_b uk-text-success">La caja fue ingresada exitosamente ...</h2>
                            <p>{{ crearCaja.mensaje_ok }}</p>
                            <button ng-click="backToCrear($event)" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Crear otra sucursal">
                                <i class="materil-icons"></i> Crear otra caja
                            </button>
                        </div>

                        <div id="crear_formCaja">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Crear Caja</h3>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div class="md-card-content">
                                    <div class="">
                                        <form>
                                            <div class="uk-form-row">
                                                <label for="crear_caja_sucursal">Sucursal</label>
                                                <input class="md-input" type="text" id="crear_caja_sucursal" ng-model="crearCaja.sucursal" md-input disabled="disabled" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="crear_caja_nombre">Nombre Caja ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" maxlength="50" type="text" id="crear_caja_nombre" ng-model="crearCaja.nombre" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="crear_caja_numero">Número Caja ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" maxlength="11" type="text" id="crear_caja_numero" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" ng-model="crearCaja.numero" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="crear_caja_ubicacion">Ubicación Caja ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" maxlength="255" type="text" id="crear_caja_ubicacion" ng-model="crearCaja.ubicacion" md-input/>
                                            </div>

                                            <input class="md-input" type="hidden" id="sucursalHide" ng-model="crearCaja.sucursalHide" md-input />

                                            <div class="uk-margin-medium-top">
                                                <a ng-click="crearCajaNueva()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                    <span class="menu_icon" ng-if="crearCaja.textoCrearCaja != 'CREAR CAJA'">
                                                        <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                    </span>
                                                    {{ crearCaja.textoCrearCaja }}
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal crear nueva caja -->

            <!-- inicio modal modificar caja -->
            <div id="mdModificarCaja" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content modificar_cardCaja" style="width: 100%; margin: 0 auto;">
                        <div class="md-card-content large-padding uk-position-relative" id="modificar_errorCaja" style="display: none; width: 30%; margin: 0 auto;">
                            <h2 class="heading_b uk-text-danger">ERROR</h2>
                            <p>{{ modificarCaja.mensaje_error }}</p>
                            <button ng-click="backToCrear($event)" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Modificar nuevamente">
                                <i class="materil-icons"></i> Modificar nuevamente
                            </button>
                        </div>

                        <div class="md-card-content large-padding uk-position-relative" id="modificar_okCaja" style="display: none; width: 55%; margin: 0 auto; text-align: center;">
                            <h2 class="heading_b uk-text-success">La caja fue modificada exitosamente ...</h2>
                            <p>{{ modificarCaja.mensaje_ok }}</p>
                            <button ng-click="backToCrear($event)" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Modificar nuevamente">
                                <i class="materil-icons"></i> Modificar nuevamente
                            </button>
                        </div>

                        <div id="modificar_formCaja">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Modificar Caja</h3>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div class="md-card-content">
                                    <div class="">
                                        <form>
                                            <div class="uk-form-row">
                                                <label for="mod_caja_sucursal">Sucursal ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="mod_caja_sucursal" ng-model="modificarCaja.sucursal" md-input disabled="disabled" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="mod_caja_nombre">Nombre Caja ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" maxlength="50" type="text" id="mod_caja_nombre" ng-model="modificarCaja.nombre" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="mod_caja_numero">Número Caja ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" maxlength="11" type="text" id="mod_caja_numero" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" ng-model="modificarCaja.numero" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="mod_caja_ubicacion">Ubicación Caja ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" maxlength="255" type="text" id="mod_caja_ubicacion" ng-model="modificarCaja.ubicacion" md-input/>
                                            </div>
                                            <input class="md-input" type="hidden" id="sucursalId" ng-model="modificarCaja.sucursalId" md-input />
                                            <input class="md-input" type="hidden" id="febosId" ng-model="modificarCaja.febosId" md-input />

                                            <div class="uk-margin-medium-top">
                                                <a ng-click="modificarCajaSucursal()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                    <span class="menu_icon" ng-if="modificarCaja.textoModificarCaja != 'MODIFICAR CAJA'">
                                                        <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                    </span>
                                                    {{ modificarCaja.textoModificarCaja }}
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal modificar sucursal -->

            <!-- inicio modal confirmar eliminar -->
            <div id="mdEliminarCaja" class="uk-modal">
                <div class="uk-modal-dialog" style="width:50%;">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content eliminar_cardCaja" style="width: 100%; margin: 0 auto;">
                        <div id="eliminar_formCaja">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h4 class="heading_b uk-margin-bottom" style="color: #e4501e;">¿Está seguro de eliminar la caja?</h4>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div class="md-card-content">
                                    <div class="uk-grid">
                                        <div style="width: 240px; margin-top: -15px;">
                                            <form>
                                                <input class="md-input" type="hidden" id="cajaId" type="text" ng-model="eliminarCaja.cajaId" md-input />

                                                <div class="uk-width-medium-1-1">
                                                    <a ng-click="eliminarCajaAccion()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                        <span class="menu_icon" ng-if="eliminarCaja.textoEliminarCaja != 'ELIMINAR CAJA'">
                                                            <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                        </span>
                                                        {{ eliminarCaja.textoEliminarCaja }}
                                                    </a>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="uk-width-medium-1-2">
                                            <a ng-click="cerrarEliminarCaja()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                Cancelar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal confirmar eliminar -->
        </div>
    </div>
</div>

<!-- inicio de botón que activa modal crear nueva empresa -->
<div class="md-fab-wrapper md-fab-speed-dial" style="right:100px">
    <a class="md-fab md-fab-danger" href="javascript:void(0)" ng-click="crearEmpresa()" data-uk-tooltip="{pos:'right'}" title="Crear Empresa"><i class="material-icons">add</i></a>
</div>
<!-- fin de botón que activa modal crear nueva empresa -->
