<div id="page_content">
    <div id="page_content_inner">

        <div class="uk-width-medium-9-10 uk-container-center reset-print">
            <div class="uk-grid uk-grid-collapse" data-uk-grid-margin>
                <div class="uk-width-large-6-10">
                    <!-- VISTA DE DTE -->

                    <div class="md-card md-card-single main-print" id="invoice" single-card style="max-width:820px;">
                        <div class="md-card-toolbar">
                            <h3 class="md-card-toolbar-heading-text large" id="invoice_name">
                                <volver></volver>
                                <i class="material-icons" style="color:#ccc;padding:4px;margin:5px 0px 0px 0px;">&#xE5D4;</i>                            
                                 {{ tipo }} # {{ dte.numero }}
                            </h3>
                            <div permiso="DTE15|left" class="md-card-toolbar-actions">
                                <a ng-click="verPDF(dte.febosId)">
                                <i class="md-icon material-icons" id="guardar_pdf">&#xE161;</i>
                                </a>
                            </div>
                        </div>
                        <div class="md-card-content" id="despliegue" style="overflow-x:scroll">
                            <iframe id="documento" ng-src="{{iframe}}" style="width:816px;margin:-15px;height:calc(100% - 50px)"></iframe>
                        </div>
                    </div>

                    <!-- FIN VISTA DTE -->
                </div>
                <div class="uk-width-large-4-10 hidden-print ">
                    <div class="md-list-outside-wrapper">
                        <div class="md-list-outside-search">
                            <input type="text" class="md-input inverted-colors" placeholder="Buscar..." md-input ng-model="query" />
                        </div>
                        <div class="md-list-outside-inner" custom-scrollbar list-outside>
                            <ul class="md-list md-list-outside invoices_list">
                                <li class="heading_list" ng-repeat-start="bitacora in bitacoras | filter:buscar" ng-show="getMonth(bitacora, $index)">{{ bitacora.fecha | momentDate:'YYYY-MM-DD':'D [de] MMMM [de] YYYY'}}</li>
                                <li ng-repeat-end ui-sref-active="md-list-item-active">
                                    <a class="md-list-content">
                                        <span permiso="DTE08|left" class="uk-badge uk-badge-info" ng-if="bitacora.externalId" ng-click="descargarAdjunto(bitacora.bitacoraId)">Adjunto 
                                        <i class="material-icons" style="color:#ccc;">attach_file</i></span>
                                    <span class="uk-badge uk-badge-primary" ng-if="bitacora.correoId">Traza correo</span>
                                        <span class="md-list-heading uk-text-truncate">{{ bitacora.usuarioNombre }} <span class="uk-text-small uk-text-muted">a las {{bitacora.fecha| momentDate:'YYYY-MM-DD HH:mm:s.SSS':'HH:mm'}} hrs.</span></span>
                                        <span class="uk-text-small">{{bitacora.mensaje}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="md-fab-wrapper">
    <a class="md-fab md-fab-accent md-fab-wave-light" ui-sref="restricted.pages.invoices.add">
        <i class="material-icons">&#xE145;</i>
    </a>
</div>

<div id="sidebar_secondary" sidebar-secondary toggle-hidden="large" custom-scrollbar>
    <div class="sidebar_secondary_wrapper uk-margin-remove">
        <ul class="md-list md-list-outside invoices_list">
            <li class="heading_list" ng-repeat-start="invoice in invoices_data" ng-show="getMonth(invoice, $index)">{{ invoice.date | momentDate:'MM-DD-YYYY':'MMMM YYYY'}}</li>
            <li ng-repeat-end ui-sref-active="md-list-item-active">
                <a ui-sref="restricted.pages.invoices.details({ invoiceId:invoice.item_id})" class="md-list-content">
                    <span class="uk-badge uk-badge-danger" ng-if="invoice.overdue">Overdue</span>
                    <span class="uk-badge uk-badge-primary" ng-if="invoice.header || invoice.footer">Header/Footer</span>
                    <span class="md-list-heading uk-text-truncate">Invoice {{invoice.item_id}}/2015 <span class="uk-text-small uk-text-muted">({{invoice.date| momentDate:'MM-DD-YYYY':'D MMM'}})</span></span>
                    <span class="uk-text-small uk-text-muted">{{invoice.company}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>