<style>
    .uk-dropdown.uk-dropdown-small {
        width: 190px !important;
    }

    @media screen and (max-width: 1024px) {
        .esconderEnMobile {
            display: none !important;
        }
    }

    .sinEspaciado {
        line-height: 13px !important;
    }

    .selectize-dropdown,
    .uk-dropdown-active {
        z-index: 9999;
    }

    .sle:hover {
        cursor: pointer;
        background-color: #eee;
        color: orange;
    }

    .md-input {
        min-height: 35px !important;
        padding-top: 4px !important;
        padding-bottom: 0px !important;
    }

    select.md-input {
        margin-top: 13px;
    }

</style>
<div id="top_bar" top-bar ng-escape="esconderFiltros()">
    <div class="md-top-bar">
        <div class="uk-width-large-10-10 uk-container-center">
            <div class="uk-clearfix">
                <div class="md-top-bar-actions-left">
                    <div class="md-top-bar-checkbox">
                        <input type="checkbox" id="documentos_seleccionar_todos" ng-model="documentos_seleccionar_todos"
                               icheck/>
                    </div>

                    <div class="uk-button-dropdown" data-uk-dropdown="{mode: 'click'}" ng-if="false">
                        <button class="md-btn md-btn-flat md-btn-small md-btn-wave" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                title="Acciones masivas" style="padding-right: 0px">
                            <i class="material-icons">&#xE3E0;</i>
                            <i class="material-icons">&#xE313;</i>
                        </button>
                        <div class="uk-dropdown">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li>
                                    <a ng-click="deseleccionarTodo()">Cancelar selección</a>
                                </li>
                                <li>
                                    <a ng-click="listarSeleccionados()">Listar solo seleccionados</a>
                                </li>
                                <li class="uk-nav-divider"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="seleccion" style="display:inline-block;vertical-align:middle;"
                         ng-if="documentosSeleccionados.length>0">
                        {{documentosSeleccionados.length}}
                        <span class="esconderEnMobile">documento{{documentosSeleccionados.length>1?'s':''}}</span>
                        seleccionado{{documentosSeleccionados.length>1?'s':''}}
                    </div>
                    <div class="md-btn-group" style="margin-left:0px">
                        <i class="material-icons" style="color:#ccc;padding:4px;margin:5px 0px 0px 0px;cursor:default">&#xE5D4;</i>

                        <input  type="text" style="width: 150px;font-size:17px" ng-model="buscar" placeholder="Buscar..." />

                        <i class="material-icons" style="color:#ccc;padding:4px;margin:0px 0px 0px -9px;cursor:default">&#xE5D4;</i>
                    </div>
                    <div class="seleccion" style="display:inline-block;vertical-align:middle;">
                        <span class="esconderEnMobile">{{tituloVista}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="page_content">
    <div id="page_content_inner">

        <div class="md-card-list-wrapper" id="documentos">
            <div class="uk-width-large-10-10 uk-container-center">

                <div class="md-card-list">
                    <div class="md-card-list-header heading_list" ng-if="documentos.length > 0">
                        Documentos del {{ paginacion.elementoDesde}} al {{ paginacion.elementoHasta}} , de un total de
                        {{ paginacion.total}}
                    </div>
                    <div class="md-card-list-header heading_list" ng-if="documentos.length == 0">
                        No hay documentos para mostrar
                    </div>
                    <ul class="hierarchical_slide" hierarchical-slide>
                        <li>
                            <!-- botonera -->
                            <span class="md-card-list-item-dato-derecha" style="display:inline-block;width:40px">&nbsp;</span>
                            <!-- fin botonera -->

                            <span ng-if="tipoPantalla != 'xs'" class="md-card-list-item-dato-derecha" data-uk-tooltip="{cls:'long-text'}" title="Fecha de inicio" style="width:90px;text-align:center">
                                Fecha Emisión
                            </span>
                            <span ng-if="tipoPantalla != 'xs'" class="md-card-list-item-dato-derecha" data-uk-tooltip="{cls:'long-text'}" title="Vigencia" style="width:90px;text-align:center">
                                Fecha Vigencia
                            </span>

                            <div class="md-card-list-item-select">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>

                            <div ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'" class="md-card-list-item-dato"
                                 data-uk-tooltip="{cls:'long-text'}" title="Estado" style="width: 60px">
                                Estado
                            </div>

                            <div ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'" class="md-card-list-item-dato"
                                 data-uk-tooltip="{cls:'long-text'}" title="Monto total" style="width: 110px">
                                Monto
                            </div>
                            <div ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'" class="md-card-list-item-dato"
                                 data-uk-tooltip="{cls:'long-text'}" title="Código" style="width: 100px">
                                Banco
                            </div>

                            <div class="md-card-list-item-compactable">
                                <div class="md-card-list-item-mini-dato" data-uk-tooltip="{cls:'long-text'}"
                                     title="Tipo y Folio del documento" ng-if="tipoPantalla=='xs'">
                                    <span>Banco</span>
                                </div>
                                <div class="md-card-list-item-mini-dato" data-uk-tooltip="{cls:'long-text'}"
                                     title="Monto total del documento" ng-if="tipoPantalla=='xs'">
                                    <span>Monto Total</span>
                                </div>
                                <span ng-class="{'sinEspaciado':tipoPantalla=='xs'}" data-uk-tooltip="{cls:'long-text'}"
                                      title="Razón Social del emisor del documento">Concepto</span>
                            </div>

                        </li>
                        <li ng-repeat="documento in documentos | filter:busqueda" on-last-repeat style="cursor:pointer"
                            ng-class="{'seleccionable':true,'md-card-list-item-selected':estaSeleccionado(documento.febosId)}">
                            <!-- botonera -->
                            <div class="md-card-list-item-menu" data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                                <a href="#" class="md-icon material-icons">&#xE5D4;</a>
                                <div class="uk-dropdown uk-dropdown-small" style="z-index:99">
                                    <ul class="uk-nav">
                                        <!--<li permiso="DTE02|left">
                                            <a ui-sref="restringido.portafolio-editar-proyecto({proyectoId:documento.proyectoId,app:app})">
                                                <i class="material-icons">&#xE896;</i> Modificar Proyecto</a>
                                        </li>-->
                                    </ul>
                                </div>
                            </div>
                            <!-- fin botonera -->
                            <span ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'"
                                  class="md-card-list-item-dato-derecha" data-uk-tooltip="{cls:'long-text'}"
                                  title="Fecha de emisión del documento" style="width:90px;text-align:center">
                                    {{documento.fechaEmision}}
                            </span>
                            <span ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'"
                                  class="md-card-list-item-dato-derecha" data-uk-tooltip="{cls:'long-text'}"
                                  title="Fecha de emisión del documento" style="width:90px;text-align:center">
                                    {{documento.fechaVencimiento}}
                            </span>

                            <div class="md-card-list-item-select">
                                <input type="checkbox" id="documento_{{documento.febosId}}" class="select_message"
                                       ng-checked="estaSeleccionado(documento.febosId)"
                                       icheck ng-model="documento_seleccionado"/>
                            </div>

                            <div class="md-card-list-item-estado-wrapper">
                                <span class="md-card-list-item-estado md-bg-{{documento.estado.color}}-600"
                                      data-uk-tooltip="{cls:'long-text'}"
                                      title="{{documento.estado.descripcion}}">
                                    <i class="material-icons" style="color:white">{{documento.estado.icono}}</i>
                                </span>
                            </div>

                            <div class="md-card-list-item-dato" style="width:130px"
                                 ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'">
                                <span>{{formatearMonto(documento.monto, "$")}}</span>
                            </div>

                            <div class="md-card-list-item-dato" style="width:100px"
                                 ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'">
                                <span>{{documento.banco}}</span>
                            </div>

                            <div class="md-card-list-item-compactable">
                                <div class="md-card-list-item-mini-dato" ng-if="tipoPantalla=='xs'">
                                    <span>{{documento.banco}}</span>
                                </div>
                                <div class="md-card-list-item-mini-dato" ng-if="tipoPantalla=='xs'">
                                    <span>{{formatearMonto(documento.monto, "$")}}</span>
                                </div>
                                <span ng-class="{'sinEspaciado':tipoPantalla=='xs'}">{{documento.concepto}}</span>
                            </div>

                            <div class="md-card-list-item-content-wrapper">
                                <div class="md-card-list-item-content">
                                    <!--<div class="uk-alert" data-uk-alert ng-bind-html="prosa(documento)"></div>-->
                                    <div class="uk-grid">
                                        <div class="uk-width-large-1-2">
                                            <div class="uk-width-large-1-1">
                                                <h4 class="heading_c uk-margin-small-bottom color-principal">Información General</h4>
                                                <ul class="md-list md-list-addon">
                                                    <li>
                                                        <div class="md-list-addon-element">
                                                            <i class="md-list-addon-icon material-icons">&#xE54E;</i>
                                                        </div>
                                                        <div class="md-list-content">
                                                            <span class="md-list-heading">{{documento.proyecto.codigo}} - {{documento.proyecto.nombre}}</span>
                                                            <span class="uk-text-small uk-text-muted">Proyecto</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="md-list-addon-element">
                                                            <i class="md-list-addon-icon material-icons">&#xE8DF;</i>
                                                        </div>
                                                        <div class="md-list-content">
                                                            <span class="md-list-heading">{{documento.folio}}</span>
                                                            <span class="uk-text-small uk-text-muted">Folio</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<!--
<div class="md-fab-wrapper md-fab-in-card md-fab-speed-dial" style="right: 80px">
    <a class="md-fab md-fab-primary" href="javascript:void(0)" md-fab-speed-dial data-uk-tooltip="{cls:'long-text'}" title="Acciones"><i class="material-icons">bubble_chart</i></a>
    <div class="md-fab-wrapper-small">
        <a class="md-fab md-fab-small md-fab-success" ui-sref="restringido.portafolio-crear-proyecto" data-uk-tooltip="{pos:'left',cls:'long-text'}" title="Nuevo proyecto">
            <i class="material-icons">add</i>
        </a>
    </div>
</div>
-->

<div id="portafolio_modales_proyectos_crear" class="uk-modal">
    <div ng-include="'app/febos/documentos/portafolio/proyectos/modales/proyectos/crear.html'" include-replace></div>
</div>

<div id="portafolio_modales_proyectos_crear2" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
            <h3>Nuevo Proyecto</h3>

        </div>
    </div>
</div>