<style>
    #selector {
        font-size: 18px;
    }

    #selector li {
        cursor: pointer;
    }

    #selector li:hover:not(.actual) i {
        color: green !important;
        font-size: 250%;
        margin-left: 10px;
    }

    #selector li:not(:hover) {
        opacity: 0.5;
    }

    div:focus {
        outline: 0;
    }
</style>
<div id="page_content" style="margin-left: 0px" ng-escape="volver()" tabindex='0'>
    <div id="page_content_inner">

        <div class="uk-width-medium-7-10 uk-width-large-6-10 uk-container-center">
            <div class="md-card md-card-single" single-card>
                <div class="md-card-toolbar">
                    <div class="md-card-toolbar-actions">
                        <i class="md-icon material-icons">business</i>
                    </div>
                    <h3 ng-if="tipo==='PRINCIPAL'" class="md-card-toolbar-heading-text large">
                        Empresas a las que perteneces
                    </h3>
                    <h3 ng-if="(tipo==='SECUNDARIO' && app==='proveedores')" class="md-card-toolbar-heading-text large">
                        Clientes de {{ empresaActual.fantasia}}
                    </h3>
                    <h3 ng-if="(tipo==='SECUNDARIO' && app==='cliente')"  class="md-card-toolbar-heading-text large">
                        Proveedores de {{ empresaActual.fantasia}}
                    </h3>
                </div>
                <div class="md-card-content" id="selector">
                    <div class="uk-grid" style="padding: 20px">
                        <div class="uk-width-medium-1-1">
                            <div class="uk-form-row">
                                <div class="uk-width-medium-1-1">
                                    <label>Buscar</label>
                                    <input type="text" class="md-input label-fixed" md-input ng-model="filtro" />
                                </div>
                            </div>
                        </div>
                        <ul class="md-list md-list-addon" style="width:100%;">
                            <li ng-if="empresas.length === 0" ng-click="volver()">
                                    <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons">sentiment_very_dissatisfied</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading" ng-if="app==='cloud'">No tienes ninguna empresa asociada a ti</span>
                                            <span class="md-list-heading" ng-if="app==='proveedores'">No se encontraron clientes para {{empresaActual.fantasia}}</span>
                                            <span class="md-list-heading" ng-if="app==='cliente'">No se encontraron proveedores para {{empresaActual.fantasia}}</span>
                                            <span class="uk-text-small uk-text-muted">
                                                <span class="uk-badge uk-badge-primary">Seleccionar otra empresa</span>
                                            </span>
                                        </div>
                            </li>
                            
                            <li ng-repeat="empresa in empresas| filter:buscar | limitTo:20" ng-click="seleccionar(empresa)" ng-class="{'actual':empresa.id == empresaActual.id}"
                                ng-escape="volver()">
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons" ng-if="empresa.id != empresaActual.id">&#xE315;</i>
                                    <i class="md-list-addon-icon material-icons" ng-if="empresa.id == empresaActual.id">check_circle</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{ empresa.razonSocial}}</span>
                                    <span class="uk-text-small uk-text-muted">Nombre de fantasia: {{ empresa.fantasia}}
                                        <span class="uk-badge uk-badge-primary">{{ empresa.iut}}</span>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>