

<div id="page_content">
    <div id="page_content_inner">
<br><br>
        <div id="page_heading">
            <h1>Reportes de documentos electronicos</h1>
            <span class="uk-text-muted uk-text-upper uk-text-small">Generación de reportes</span>
        </div>
        <div class="md-card uk-margin-large-bottom">
            <div class="md-card-content">
                <form id="wizard_advanced_form" class="uk-form-stacked">
                    <wizard on-finish="finishedWizard()" template="app/templates/wizard.tpl.html">

                       <div class="md-card-content">
                        <wz-step wz-title="Filtros de rut" template="app/templates/wizard.step.tpl.html">
                            <table class="uk-table uk-table-nowrap">
                                <tbody>
                                <tr>
                                    <td style="border-bottom-style: none;">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i class="material-icons">&#xE8B0;</i></span>
                                            <label for="rutEmisor">Rut emisor</label>
                                            <tags-input add-on-space="true" class="md-input" ng-model="config.filtros.rutEmisor" style="width:300px;"></tags-input>
                                        </div>
                                    </td>
                                    <!--<td style="border-bottom-style: none;">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i class="material-icons">&#xE8B0;</i></span>
                                            <label for="rutEmisor">Rut Receptor</label>
                                            <tags-input add-on-space="true" class="md-input" ng-model="config.filtros.rutEmisor" style="width:300px;"></tags-input>
                                        </div>
                                    </td>-->
                                </tr>
                                </tbody>
                            </table>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Siguiente</button>
                            </div>
                        </wz-step>

                        <wz-step wz-title="Filtros de tipo" template="app/templates/wizard.step.tpl.html">
                            <br>

                            <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-2">
                                            <div class="uk-input-group">
                                                    <span class="uk-input-group-addon"><i class="material-icons">&#xE873;</i></span>
                                                    <label for="tipo">Tipo Documento</label>
                                                    <selectize id="tipoDocumento" config="config.selectize" options="config.tiposDeDocumentosHabilitados" position="bottom" ng-model="config.filtros.tipoDocumento"></selectize>
                                            </div>
                                    </div>
                                    <div class="uk-width-medium-1-2">
                                            <div class="uk-input-group">
                                                    <span class="uk-input-group-addon"><i class="material-icons">&#xE873;</i></span>
                                                    <label for="tipo">Estado SII</label>
                                                    <selectize id="estadoSII" config="config.selectize" options="config.estadosSii" position="bottom" ng-model="config.filtros.estadoSii"></selectize>
                                            </div>
                                        </div>
                                    <div class="uk-width-medium-1-2">
                                            <div class="uk-input-group">
                                                    <span class="uk-input-group-addon"><i class="material-icons">&#xE873;</i></span>
                                                    <label for="tipo">Estado Comercial</label>
                                                    <selectize id="estadoComercial" config="config.selectize" options="config.estadosComerciales" position="bottom" ng-model="config.filtros.estadoComercial"></selectize>
                                            </div>
                                        </div>
                                    <div class="uk-width-medium-1-2">
                                            <div class="uk-input-group">
                                                    <span class="uk-input-group-addon"><i class="material-icons">&#xE873;</i></span>
                                                    <label for="tipo">Cedidos</label>
                                                    <selectize id="cedidos" config="config.selectize" options="config.cedidos" position="bottom" ng-model="config.filtros.rutCesionario"></selectize>
                                           </div>
                                    </div>
                                
                                   
                            </div>

                            <!--
                            <table class="uk-table uk-table-nowrap">
                                <tbody>
                                <tr>
                                    <td style="border-bottom-style: none;">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i class="material-icons">&#xE873;</i></span>
                                            <label for="tipo"  ng-click="mostrarTipos()">Tipo Documento</label>
                                            <selectize id="tipoDocumento" config="config.selectize" options="config.tiposDeDocumentosHabilitados" position="bottom" ng-model="config.filtros.tipoDocumento"></selectize>
                                        </div>
                                    </td>

                                    <td style="border-bottom-style: none;">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i class="material-icons">&#xE873;</i></span>
                                            <label for="tipo">Estado SII</label>
                                            <selectize id="estadoSII" config="config.selectize" options="config.estadosSii" position="bottom" ng-model="config.filtros.estadoSii"></selectize>
                                        </div>
                                    </td>

                                    <td style="border-bottom-style: none;">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i class="material-icons">&#xE873;</i></span>
                                            <label for="tipo">Estado Comercial</label>
                                            <selectize id="estadoComercial" config="config.selectize" options="config.estadosComerciales" position="bottom" ng-model="config.filtros.estadoComercial"></selectize>
                                        </div>
                                    </td>

                                    <td style="border-bottom-style: none;">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i class="material-icons">&#xE873;</i></span>
                                            <label for="tipo">Cedidos</label>
                                            <selectize id="cedidos" config="config.selectize" options="config.cedidos" position="bottom" ng-model="config.filtros.rutCesionario"></selectize>
                                        </div>
                                    </td>



                                </tr>
                                </tbody>
                            </table>

                        -->

                            <div class="uk-clearfix uk-margin-large-top">
                                <button type="button" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" style="margin:0 auto;" ng-click="limpiarFiltros('tipos')">Limpiar Filtros</button>
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Siguiente</button>
                            </div>
                        </wz-step>

                        <wz-step wz-title="Filtros de fecha" template="app/templates/wizard.step.tpl.html">
                            <br>
                            <table class="uk-table uk-table-nowrap">
                                <tbody>
                                    <tr>
                                        <td style="border-bottom-style: none;">
                                            <div class="uk-input-group">
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                                <label for="fecha_emision_desde">Fecha Emisión Desde</label>
                                                <input class="md-input" type="text" id="fecha_emision_desde" md-input ng-model="config.filtros.fechaEmision.desde" data-uk-datepicker="{weekstart:0, format:'YYYY-MM-DD', i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], weekdays: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa']}}" />
                                            </div>
                                        </td>
                                        <td style="border-bottom-style: none;">
                                            <div class="uk-input-group">
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                                <label for="fecha_emision_hasta">Fecha Emisión Hasta</label>
                                                <input class="md-input" type="text" id="fecha_emision_hasta" md-input ng-model="config.filtros.fechaEmision.hasta" data-uk-datepicker="{weekstart:0, format:'YYYY-MM-DD', i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], weekdays: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa']}}" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-bottom-style: none;">
                                            <div class="uk-input-group">
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                                <label for="fecha_recepcion_desde">Fecha Recepcion Desde</label>
                                                <input class="md-input" type="text" id="fecha_recepcion_desde" md-input ng-model="config.filtros.fechaRecepcion.desde" data-uk-datepicker="{weekstart:0, format:'YYYY-MM-DD', i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], weekdays: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa']}}" />
                                            </div>
                                        </td>
                                        <td style="border-bottom-style: none;">
                                            <div class="uk-input-group">
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                                <label for="fecha_recepcion_hasta">Fecha Recepcion Hasta</label>
                                                <input class="md-input" type="text" id="fecha_recepcion_hasta" md-input ng-model="config.filtros.fechaRecepcion.hasta" data-uk-datepicker="{weekstart:0, format:'YYYY-MM-DD', i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], weekdays: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa']}}" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button type="button" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" style="margin:0 auto;" ng-click="limpiarFiltros('fechas')">Limpiar Filtros</button>
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Siguiente</button>
                            </div>
                        </wz-step>


                        <wz-step wz-title="Parametros seleccionables" template="app/templates/wizard.step.tpl.html">
                            <h2 class="heading_a">
                                Parametros seleccionables
                                <br>
                                <span class="sub-heading">En la lista de selecciòn, elija los parametros que desea generar en su reporte  <button type="button" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" style="margin:0 auto;" ng-click="mostrarModalCargaDocumento()">Seleccionar parámetros</button></span>
                            </h2>
                            <br>




                        </wz-step>
                        </div>
                    </wizard>

                </form>
            </div>
            <div id="mdFormularioComentarios-2" class="uk-modal" style="margin: 0 auto;">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>
                    <div class="uk-modal-header">
                        <h3 class="uk-modal-title" style="color: #e4501e;">Seleccione los parametros para el reporte</h3>
                    </div>
                    <div class="uk-modal-body">
                        <div class="uk-panel uk-panel-box">
                            <div id="tree3"></div>
                        </div>
                    </div>
                    <div class="uk-modal-footer  uk-text-right" style="margin-right: 40px;" >
                        <button type="button" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" style="margin:0 auto;" ng-click="confirmaGeneracionReporte()">Confirmar</button>
                    </div>
                    <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%; z-index: 10;" class="ng-scope" />
                </div>

            </div>
        </div>

    </div>
</div>