<style>
    .md-input {
        min-height: 35px !important;
        padding-top: 4px !important;
        padding-bottom: 0px !important;
    }

    select.md-input {
        margin-top: 13px;
    }

</style>
<div id="page_content">
    <div id="page_heading">
        <h1>Emisión</h1>
        <span class="uk-text-muted uk-text-upper uk-text-small">De documentos desde la web</span>
    </div>
    <div id="page_content_inner">
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-small-1-1 uk-width-medium-3-3">
                <div class="uk-panel uk-panel-box">
                    <div class="md-card md-card-collapsed">
                        <div class="md-card-toolbar ">
                            <div class="md-card-toolbar-actions">
                                <card-toggle></card-toggle>
                            </div>
                            <h3 class="md-card-toolbar-heading-text ">Información del Emisor</h3>
                        </div>
                        <div class="md-card-content">
                            <div class="uk-grid uk-grid-small">
                                <div class="uk-width-1-3 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Tipo de Emisor</label>
                                        <select class="md-input" ng-model="dte.emisor.tipoEmpresa" readonly>
                                            <option value="1">Empresa</option>
                                            <option value="2">Persona Natural</option>
                                        </select>
                                        <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Empresa tambien es Persona Jurídica</span>
                                    </div>
                                </div>
                                <div class="uk-width-1-3 uk-margin-top md-input-wrapper-danger">
                                    <label>Acteco</label>
                                    <input type="number" class="md-input"  md-input ng-model="dte.emisor.acteco" maxlength="6" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  ng-readonly="this.value.length == 0" required/>
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Código de actividad económica</span>
                                </div>
                                <div class="uk-width-1-3 uk-margin-top">
                                    <label>Rut Emisor</label>
                                    <input type="text" class="md-input" md-input ng-model="dte.emisor.iutEmisor" readonly/>
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Ingrese RUT del emisor</span>
                                </div>
                                <div class="uk-width-1-3 uk-margin-top" ng-if="dte.tipo != '46' && dte.tipo != '43' && dte.tipo != '110' && dte.tipo != '111' && dte.tipo != '112'">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>RUT Mandante</label>
                                        <input type="text" class="md-input" md-input ng-model="dte.emisor.iutMandante" maxlength="10" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                        <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Ingrese RUT del mandante</span>
                                    </div>
                                </div>
                                <div class="uk-width-1-3 uk-margin-top" ng-if="dte.tipo == '46' || dte.tipo == '43' || dte.tipo == '110' || dte.tipo == '111' || dte.tipo == '112'"></div>
                                <div class="uk-width-1-3 uk-margin-top" ng-if="dte.emisor.tipoEmpresa == '1'">
                                    <label>Giro</label>
                                    <input type="text" maxlength="80" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="md-input" md-input ng-model="dte.emisor.giro" ng-readonly="this.value.length == 0"  ng-required="dte.emisor.tipoEmpresa == '1'"/>
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Giro del Emisor</span>
                                </div>
                                <div class="uk-width-2-3 uk-margin-top" ng-if="dte.emisor.tipoEmpresa == '1'">
                                    <label>Razón Social</label>
                                    <input type="text" maxlength="100" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="md-input" md-input ng-model="dte.emisor.razonSocial" ng-readonly="this.value.length == 0"  ng-required="dte.emisor.tipoEmpresa == '1'"/>
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Razón Social o Nombre completo del Emisor</span>
                                </div>
                                <div class="uk-width-1-3 uk-margin-top" ng-if="dte.emisor.tipoEmpresa == '2'">
                                    <label>Nombre</label>
                                    <input type="text" class="md-input" md-input ng-model="dte.emisor.nombre" ng-readonly="this.value.length == 0" ng-required="dte.emisor.tipoEmpresa == '2'"/>
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Nombre del emisor</span>
                                </div>
                                <div class="uk-width-1-3 uk-margin-top" ng-if="dte.emisor.tipoEmpresa == '2'">
                                    <label>Primer apellido</label>
                                    <input type="text" class="md-input" md-input ng-model="dte.emisor.apellidoPaterno" readonly/>
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Tambien puede ser apellido paterno</span>
                                </div>
                                <div class="uk-width-1-3 uk-margin-top" ng-if="dte.emisor.tipoEmpresa == '2'">
                                    <label>Segundo apellido</label>
                                    <input type="text" class="md-input" md-input ng-model="dte.emisor.apellidoMaterno" readonly/>
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Tambien puede ser apellido materno</span>
                                </div>
                                <div class="uk-width-1-3 uk-margin-top" ng-if="dte.tipo=='110' || dte.tipo=='111' || dte.tipo=='112'">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>País</label>
                                        <select class="md-input md-input-processed" ng-model="dte.emisor.codigoPais" readonly>
                                            <option value="{{pais.codigo}}" ng-repeat="pais in paises">{{pais.descripcion}}</option>
                                        </select>
                                        <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Seleccionar país</span>
                                    </div>
                                </div>
                                <div class="uk-width-1-3 uk-margin-top" ng-if="dte.tipo!='110' && dte.tipo!='111' && dte.tipo!='112'">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Region</label>
                                        <select class="md-input md-input-processed" ng-model="dte.emisor.region" ng-change="seleccionarCiudad(dte.emisor.region)" readonly>
                                            <option value="{{region.codigo}}" ng-repeat="region in regiones">{{region.descripcion}}</option>
                                        </select>
                                        <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Seleccionar Region</span>
                                    </div>
                                </div>
                                <div class="uk-width-1-3 uk-margin-top">
                                    <label>Ciudad / Provincia</label>
                                    <select class="md-input md-input-processed" ng-model="dte.emisor.provincia" ng-change="seleccionarComuna(dte.emisor.provincia)"
                                            ng-if="(dte.tipo!='110' && dte.tipo!='111' && dte.tipo!='112') && dte.emisor.provincia == ''" readonly>
                                        <option value="{{provincia.codigo}}" ng-repeat="provincia in provincias">{{provincia.descripcion}}</option>
                                    </select>
                                    <input type="text" class="md-input" md-input ng-model="dte.emisor.provincia"
                                           ng-if="dte.tipo=='110' || dte.tipo=='111' || dte.tipo=='112' || dte.emisor.provincia != ''" maxlength="20" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" readonly/>
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Ciudad/Provincia del Emisor</span>
                                </div>
                                <div class="uk-width-1-3 uk-margin-top">
                                    <label>Localidad / Comuna</label>
                                    <select class="md-input md-input-processed" ng-model="dte.emisor.comuna"
                                            ng-if="(dte.tipo!='110' && dte.tipo!='111' && dte.tipo!='112') && dte.emisor.comuna == ''" ng-readonly="this.value.length == 0" ng-required="dte.tipo == '33' || dte.tipo == '34' || dte.tipo != '52'">
                                        <option value="{{comuna.codigo}}" ng-repeat="comuna in comunas">{{comuna.descripcion}}</option>
                                    </select>
                                    <input type="text" class="md-input" md-input ng-model="dte.emisor.comuna"
                                           ng-if="(dte.tipo=='110' || dte.tipo=='111' || dte.tipo=='112') || dte.emisor.comuna != ''" maxlength="20" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" ng-readonly="this.value.length == 0" ng-required="dte.tipo == '33' || dte.tipo == '34' || dte.tipo != '52'"/>
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Localidad o Comuna del Emisor</span>
                                </div>
                                <div class="uk-width-3-3 uk-margin-top">
                                    <label>Dirección</label>
                                    <input type="text" class="md-input" md-input ng-model="dte.emisor.direccion" maxlength="60" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" ng-readonly="this.value.length == 0" ng-required="dte.tipo != '61' && dte.tipo != '56' && dte.tipo != '111' && dte.tipo != '112'"/>
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Nombre de la calle del Emisor</span>
                                </div>
                                <div class="uk-width-3-3 uk-margin-top">
                                    <label>Correo</label>
                                    <input type="text" class="md-input" md-input ng-model="dte.emisor.correo" maxlength="80" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" readonly/>
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Email del emisor</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-card">
                        <div class="md-card-toolbar ">
                            <div class="md-card-toolbar-actions">
                                <card-toggle></card-toggle>
                            </div>
                            <h3 class="md-card-toolbar-heading-text ">Información del Documento</h3>
                        </div>
                        <div class="md-card-content">
                            <div class="uk-grid uk-grid-small">
                                <div class="uk-width-1-4 uk-margin-top">
                                    <label>Tipo de Documento</label>
                                    <input ng-if="dte.tipo=='33'" type="text" class="md-input" md-input value="Factura Electrónica" readonly/>
                                    <input ng-if="dte.tipo=='34'" type="text" class="md-input" md-input value="Factura Exenta Electrónica" readonly/>
                                    <input ng-if="dte.tipo=='39'" type="text" class="md-input" md-input value="Boleta Electrónica" readonly/>
                                    <input ng-if="dte.tipo=='41'" type="text" class="md-input" md-input value="Boleta Exenta Electrónica" readonly/>
                                    <input ng-if="dte.tipo=='46'" type="text" class="md-input" md-input value="Factura de Compra Electrónica" readonly/>
                                    <input ng-if="dte.tipo=='52'" type="text" class="md-input" md-input value="Guía de Despacho" readonly/>
                                    <input ng-if="dte.tipo=='56'" type="text" class="md-input" md-input value="Nota de Débito" readonly/>
                                    <input ng-if="dte.tipo=='61'" type="text" class="md-input" md-input value="Nota de Crédito" readonly/>
                                    <input ng-if="dte.tipo=='110'" type="text" class="md-input" md-input value="Factura de Exportación" readonly/>
                                    <input ng-if="dte.tipo=='111'" type="text" class="md-input" md-input value="Nota de Débito de Exportación" readonly/>
                                    <input ng-if="dte.tipo=='112'" type="text" class="md-input" md-input value="Nota de Crédito de Exportación" readonly/>
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">
                                Seleccione otro menú para cambiar el tipo
                            </span>
                                </div>
                                <div class="uk-width-1-4 uk-margin-top">
                                    <label>Folio</label>
                                    <input type="text" class="md-input" md-input ng-model="dte.folio"/>
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">
                                No ingresar nada para auto-asignar
                            </span>
                                </div>
                                <div class="uk-width-1-4 uk-margin-top">
                                    <label>Fecha de Emisión</label>
                                    <input class="md-input" type="text"
                                           data-uk-datepicker="{format:'DD / MM / YYYY',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                                           md-input
                                           ng-model="dte.fechaEmision">
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Por defecto la fecha de hoy</span>
                                </div>
                                <div class="uk-width-1-4 uk-margin-top">
                                    <label>Hora de emisión</label>
                                    <input class="md-input masked_input" id="masked_date" type="text" ng-keydown="detenerHora()"
                                           data-inputmask-regex="((1[0-2]|0?[1-9]):([0-5][0-9]):([0-5][0-9]) ([AaPp][Mm]))"
                                           data-inputmask-showmaskonhover="false"
                                           md-input ng-model="dte.horaEmision"/>
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">
                                Por defecto la hora actual
                            </span>
                                </div>
                                <div class="uk-width-1-2 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Moneda</label>
                                        <select class="md-input md-input-processed" ng-model="dte.moneda" ng-if="dte.tipo=='110' || dte.tipo=='111' || dte.tipo=='112'">
                                            <option value="{{tipo.codigo}}" ng-repeat="tipo in tiposMoneda">{{tipo.codigo}} - {{tipo.descripcion}}</option>
                                        </select>
                                        <select class="md-input" ng-model="dte.moneda" ng-if="dte.tipo!='110' && dte.tipo!='111' && dte.tipo!='112'">
                                            <option value="CLP">CLP - Peso Chileno</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-1-2 uk-margin-top" ng-if="dte.moneda!='CLP'">
                                    <label>Factor de conversión</label>
                                    <input class="md-input masked_input" type="text"
                                           md-input ng-model="dte.factorConversion"/>
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">
                                Equivalente en CLP de 1 {{dte.moneda}}
                            </span>
                                </div>
                                <div class="uk-width-1-2 uk-margin-top" ng-if="dte.moneda=='CLP'" ng-readonly="dte.tipo !='110' && dte.tipo !='111' && dte.tipo !='112'"></div>

                                <div class="uk-width-1-3 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Forma de Pago</label>
                                        <select class="md-input" ng-model="dte.formaPago">
                                            <option value="1">Contado</option>
                                            <option value="2">Crédito</option>
                                            <option value="3">Sin Costo (Entrada Gratuita)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-1-3 uk-margin-top" ng-if="dte.tipo !='56' && dte.tipo !='61' && dte.tipo !='111' && dte.tipo !='112' && dte.tipo != '43'">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Tipo de Despacho</label>
                                        <select class="md-input" ng-model="dte.tipoDespacho">
                                            <option value="1">Despacho por Cuenta del Comprador</option>
                                            <option value="2">Despacho por Cuenta del Emisor a Instalaciones del Comprador</option>
                                            <option value="3">Despacho por Cuenta del Emisor a Otras Instalaciones</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-1-3 uk-margin-top" ng-if="dte.tipo != '52'">
                                    <label>Fecha de Vencimiento</label>
                                    <input class="md-input" type="text"
                                           data-uk-datepicker="{format:'DD / MM / YYYY',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                                           md-input
                                           ng-model="dte.fechaVencimiento">
                                    <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Por defecto la fecha de hoy</span>
                                </div>
                                <div class="uk-width-1-3 uk-margin-top" ng-if="dte.tipo == '52'">
                                    <label>Ind. de Traslado</label>
                                    <select class="md-input" ng-model="dte.indTraslado">
                                        <option value="1">Operación Constituye Venta</option>
                                        <option value="2">Ventas Por Efectuar</option>
                                        <option value="3">Consignaciones</option>
                                        <option value="4">Entrega Gratuita</option>
                                        <option value="5">Traslados Internos</option>
                                        <option value="6">Otros Traslados No Venta</option>
                                        <option value="7">Guía Devolución</option>
                                        <option value="8">Traslado para Exportación (No Venta)</option>
                                        <option value="9">Venta para Exportación</option>
                                    </select>
                                </div>

                                <div class="uk-width-1-3 uk-margin-top" ng-if="dte.tipo !='110' && dte.tipo !='111' && dte.tipo !='112' && dte.tipo != '52'">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Tipo Servicio</label>
                                        <select class="md-input" ng-model="dte.tipoServicio">
                                            <option value="1">Servicios Periódicos</option>
                                            <option value="2">Otros Servicios Periódicos</option>
                                            <option value="3">Factura de Servicios</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-1-3 uk-margin-top" ng-if="(dte.tipo =='110' || dte.tipo !='111' || dte.tipo !='112') && dte.tipo != '52'">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Tipo Servicio</label>
                                        <select class="md-input" ng-model="dte.tipoServicio">
                                            <option value="1">Servicios Periódicos</option>
                                            <option value="2">Otros Servicios Periódicos</option>
                                            <option value="3">Servicios Calificados como tal por Aduana</option>
                                            <option value="4">Servicios de Hotelería</option>
                                            <option value="5">Servicio de Transporte</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-1-3 uk-margin-top">
                                    <label>Sucursal</label>
                                    <input type="text" class="md-input" md-input ng-model="dte.sucursal" maxlength="20" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                </div>
                                <div class="uk-width-1-3 uk-margin-top" ng-if="dte.sucursal != ''">
                                    <label>Código Sucursal</label>
                                    <input type="number" class="md-input" md-input ng-model="dte.codSucursal" maxlength="9" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" ng-required="dte.sucursal != ''"/>
                                </div>
                                <div class="uk-width-1-3 uk-margin-top">
                                    <label>Usuario</label>
                                    <input type="text" class="md-input" md-input ng-model="dte.usuario"/>
                                </div>
                                <div class="uk-width-1-1 uk-margin-top">
                                    <div class="uk-width-1-1 uk-margin-top">
                                        <label>Notas adicionales</label>
                                        <textarea cols="30" rows="4" class="md-input" md-input textarea-autosize
                                                  ng-model="dte.notas"></textarea>
                                        <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">
                                    Notas o comentarios que desee incorporar al documento
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-grid-small" data-uk-grid-match="{target:'.uk-panel'}">
            <div class="uk-width-small-1-1 uk-width-medium-3-3">
                <div class="uk-panel uk-panel-box">
                    <h3 class="uk-panel-title">Información del Receptor</h3>
                    <div class="uk-grid uk-grid-small">
                        <div class="uk-width-1-3 uk-margin-top">
                            <div class="md-input-wrapper md-input-filled">
                                <label>Tipo de Receptor</label>
                                <select class="md-input" ng-model="dte.receptor.tipoEmpresa">
                                    <option value="1">Empresa</option>
                                    <option value="2">Persona Natural</option>
                                </select>
                                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">
                                Empresa tambien es Persona Jurídica
                            </span>
                            </div>
                        </div>
                        <div class="uk-width-1-3 uk-margin-top">
                            <div class="md-input-wrapper md-input-filled">
                                <label>Rut Receptor</label>
                                <input type="text" class="md-input" md-input ng-model="dte.receptor.iutReceptor" maxlength="10" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required/>
                                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">
                                    Ingrese RUT del receptor
                                </span>
                            </div>
                        </div>
                        <div class="uk-width-1-3 uk-margin-top" ng-if="dte.tipo != '52' && dte.tipo != '110' && dte.tipo != '111' && dte.tipo != '112'">
                            <div class="md-input-wrapper md-input-filled">
                                <label>Rut Solicitante</label>
                                <input type="text" class="md-input" md-input ng-model="dte.receptor.iutSolicitante"/>
                                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">
                                    Ingrese Rut del Solicitante
                                </span>
                            </div>
                        </div>
                        <div class="uk-width-1-3 uk-margin-top" ng-if="dte.tipo != '52' && dte.tipo != '110' && dte.tipo != '111' && dte.tipo != '112'"></div>

                        <div class="uk-width-1-3 uk-margin-top" ng-if="dte.receptor.tipoEmpresa == '1'">
                            <div class="md-input-wrapper md-input-filled">
                                <label>Giro</label>
                                <input type="text" class="md-input" md-input ng-model="dte.receptor.giro" maxlength="40" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" ng-required="dte.receptor.tipoEmpresa == '1'"/>
                                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">
                                    Giro del Receptor
                                </span>
                            </div>
                        </div>
                        <div class="uk-width-2-3 uk-margin-top" ng-if="dte.receptor.tipoEmpresa == '1'">
                            <div class="md-input-wrapper md-input-filled">
                                <label>Razón Social</label>
                                <input type="text" class="md-input" md-input ng-model="dte.receptor.razonSocial" maxlength="100" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" ng-required="dte.receptor.tipoEmpresa == '1'"/>
                                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">
                                    Razón Social o Nombre completo del receptor
                                </span>
                            </div>
                        </div>
                        <div class="uk-width-1-3 uk-margin-top" ng-if="dte.receptor.tipoEmpresa == '2'">
                            <div class="md-input-wrapper md-input-filled">
                                <label>Nombre</label>
                                <input type="text" class="md-input" md-input ng-model="dte.receptor.nombre" ng-required="dte.receptor.tipoEmpresa == '2'"/>
                                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">
                                    Nombre del receptor
                                </span>
                            </div>
                        </div>
                        <div class="uk-width-1-3 uk-margin-top" ng-if="dte.receptor.tipoEmpresa == '2'">
                            <div class="md-input-wrapper md-input-filled">
                                <label>Primer apellido</label>
                                <input type="text" class="md-input" md-input ng-model="dte.receptor.apellidoPaterno"/>
                                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">
                                    Tambien puede ser apellido paterno
                                </span>
                            </div>
                        </div>
                        <div class="uk-width-1-3 uk-margin-top" ng-if="dte.receptor.tipoEmpresa == '2'">
                            <div class="md-input-wrapper md-input-filled">
                                <label>Segundo apellido</label>
                                <input type="text" class="md-input" md-input ng-model="dte.receptor.apellidoMaterno"/>
                                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">
                                    Tambien puede ser apellido materno
                                </span>
                            </div>
                        </div>

                        <div class="uk-width-1-3 uk-margin-top" ng-if="dte.tipo=='110' || dte.tipo=='111' || dte.tipo=='112'">
                            <div class="md-input-wrapper md-input-filled">
                                <label>País</label>
                                <select class="md-input md-input-processed" ng-model="dte.receptor.codigoPais">
                                    <option value="{{pais.codigo}}" ng-repeat="pais in paises">{{pais.descripcion}}</option>
                                </select>
                                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">
                                Seleccionar país
                            </span>
                            </div>
                        </div>
                        <div class="uk-width-1-3 uk-margin-top" ng-if="dte.tipo!='110' && dte.tipo!='111' && dte.tipo!='112'">
                            <div class="md-input-wrapper md-input-filled">
                                <label>Region</label>
                                <select class="md-input md-input-processed" ng-model="dte.receptor.region" ng-change="seleccionarCiudad(dte.receptor.region)">
                                    <option value="{{region.codigo}}" ng-repeat="region in regiones">{{region.descripcion}}</option>
                                </select>
                                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Seleccionar Region</span>
                            </div>
                        </div>
                        <div class="uk-width-1-3 uk-margin-top">
                            <div class="md-input-wrapper md-input-filled">
                                <label>Ciudad / Provincia</label>
                                <select class="md-input md-input-processed" ng-model="dte.receptor.provincia" ng-change="seleccionarComuna(dte.receptor.provincia)"
                                        ng-if="dte.tipo!='110' && dte.tipo!='111' && dte.tipo!='112'">
                                    <option value="{{provincia.codigo}}" ng-repeat="provincia in provincias">{{provincia.descripcion}}</option>
                                </select>
                                <input type="text" class="md-input" md-input ng-model="dte.receptor.provincia" ng-if="dte.tipo=='110' || dte.tipo=='111' || dte.tipo=='112'"/>
                                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Ciudad/Provincia del Receptor</span>
                            </div>
                        </div>
                        <div class="uk-width-1-3 uk-margin-top">
                            <div class="md-input-wrapper md-input-filled">
                                <label>Localidad / Comuna</label>
                                <select class="md-input md-input-processed" ng-model="dte.receptor.comuna"
                                        ng-if="dte.tipo!='110' && dte.tipo!='111' && dte.tipo!='112'">
                                    <option value="{{comuna.codigo}}" ng-repeat="comuna in comunas">{{comuna.descripcion}}</option>
                                </select>
                                <input type="text" class="md-input" md-input ng-model="dte.receptor.comuna" ng-if="dte.tipo=='110' || dte.tipo=='111' || dte.tipo=='112'" maxlength="20" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" ng-required="dte.tipo != '61' && dte.tipo != '56' && dte.tipo != '111' && dte.tipo != '112'"/>
                                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Localidad o Comuna del Receptor</span>
                            </div>
                        </div>

                        <div class="uk-width-5-5 uk-margin-top">
                            <div class="md-input-wrapper md-input-filled">
                                <label>Dirección</label>
                                <input type="text" class="md-input" md-input ng-model="dte.receptor.direccion" maxlength="70" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" ng-required="dte.tipo != '61' && dte.tipo != '56' && dte.tipo != '111' && dte.tipo != '112'"/>
                                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Nombre de la calle del receptor</span>
                            </div>
                        </div>
                        <div class="uk-width-5-5 uk-margin-top">
                            <div class="md-input-wrapper md-input-filled">
                                <label>Correo</label>
                                <input type="text" class="md-input" md-input ng-model="dte.receptor.correo" maxlength="80" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">
                                    Email del receptor
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-small-1-1 uk-width-medium-3-3">
                <div class="uk-panel uk-panel-box">
                    <h3 class="uk-panel-title">Referencia </h3>
                    <div class="uk-panel-badge">
                        <i class="material-icons no_margin" style="font-size:30px;color:green;cursor:pointer" ng-click="agregarReferencia()">add_circle</i>
                    </div>
                    <div class="uk-grid uk-grid-small" ng-repeat="referencia in dte.referencias">
                        <div class="uk-width-medium-1-10 uk-margin-top">
                            <label class="uk-panel-title">{{$index+1}}</label>
                        </div>
                        <div class="uk-width-medium-2-10 uk-margin-top">
                            <div class="md-input-wrapper md-input-filled">
                                <label>Tipo de documento</label>
                                <select class="md-input md-input-processed" ng-model="referencia.tipoDocumento" ng-change="setOtros(referencia.tipoDocumento, $index)">
                                    <option value="{{tipo.codigo}}" ng-repeat="tipo in tiposDocumento">{{tipo.descripcion}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="uk-width-medium-3-10 uk-margin-top">
                            <label>Documento</label>
                            <input type="text" maxlength="3" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="md-input" md-input ng-model="referencia.documento" ng-readonly="!referencia.otros"/>
                        </div>
                        <div class="uk-width-medium-1-10 uk-margin-top ">
                            &nbsp;&nbsp;&nbsp;<label>Global</label><br>&nbsp;&nbsp;&nbsp;
                            <input id="global" type="checkbox" ng-model="referencia.global" icheck ng-change="setFolio($index, referencia.global)"/>
                        </div>
                        <div class="uk-width-medium-3-10 uk-margin-top">
                            <label>Folio</label>
                            <input type="text" maxlength="18" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="md-input" md-input ng-model="referencia.folio" ng-readonly="referencia.global"/>
                        </div>

                        <div class="uk-width-medium-1-6 uk-margin-top">
                            <label>Fecha</label>
                            <input class="md-input" type="text"
                                   data-uk-datepicker="{format:'DD / MM / YYYY',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                                   md-input
                                   ng-model="referencia.fecha">
                        </div>
                        <div class="uk-width-medium-1-6 uk-margin-top" ng-if="dte.tipo == '56' || dte.tipo == '61' || dte.tipo == '112' || dte.tipo == '111'">
                            <label>Tipo Motivo</label>
                            <select class="md-input" ng-model="referencia.tipoMotivo">
                                <option value="1">Anula Documento de Referencia</option>
                                <option value="2">Corrige Texto del Documento de Referencia</option>
                                <option value="3">Corrige Montos</option>
                            </select>
                        </div>
                        <div class="uk-width-medium-3-6 uk-margin-top" ng-if="dte.tipo == '56' || dte.tipo == '61' || dte.tipo == '112' || dte.tipo == '111'">
                            <label>Motivo</label>
                            <input type="text" class="md-input" md-input ng-model="referencia.motivo" maxlength="90" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                        </div>
                        <div class="uk-width-medium-1-6 uk-margin-top">
                            <a href="javascript:void(0)" class="md-btn md-btn-mini md-btn-icon"
                               ng-click="eliminarReferencia($index)">
                                <i class="material-icons no_margin" style="font-size:20px">delete_forever</i>
                            </a>
                        </div>
                        <div class="uk-width-medium-1-1 uk-margin-top" style="border-bottom: dashed 1px #ccc">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-grid-small" ng-if="dte.tipo!='110' && dte.tipo!='111' && dte.tipo!='112'">
            <div class="uk-width-small-1-1 uk-width-medium-3-3">
                <div class="uk-panel uk-panel-box">
                    <h3 class="uk-panel-title">Descuentos/Recargos </h3>
                    <div class="uk-panel-badge">
                        <i class="material-icons no_margin" style="font-size:30px;color:green;cursor:pointer" ng-click="agregarDescuentoRecargo()">add_circle</i>
                    </div>
                    <div class="uk-grid uk-grid-small" ng-repeat="descRecargo in dte.descRecargos">
                        <div class="uk-width-medium-1-10 uk-margin-top">
                            <label class="uk-panel-title">{{$index+1}}</label>
                        </div>
                        <div class="uk-width-medium-1-10 uk-margin-top">
                            <div class="md-input-wrapper md-input-filled">
                                <label>Tipo</label>
                                <select class="md-input" ng-model="descRecargo.tipo" required>
                                    <option value="D">Descuento</option>
                                    <option value="R">Recargo</option>
                                </select>
                            </div>
                        </div>
                        <div class="uk-width-medium-2-10 uk-margin-top" ng-show="totalera.exento > 0">
                            <div class="md-input-wrapper md-input-filled">
                                <label>Exento</label>
                                <select class="md-input" ng-model="descRecargo.exento">
                                    <option value="1">No Afecto</option>
                                    <option value="2">No Facturable</option>
                                </select>
                            </div>
                        </div>
                        <div class="uk-width-medium-2-10 uk-margin-top" ng-show="totalera.exento == 0"></div>
                        <div class="uk-width-medium-2-10 uk-margin-top">
                            <div class="md-input-wrapper md-input-filled">
                                <label>Tipo Valor</label>
                                <select class="md-input" ng-model="descRecargo.tipoValor" required>
                                    <option value="%">Porcentaje</option>
                                    <option value="$">Monto</option>
                                </select>
                            </div>
                        </div>
                        <div class="uk-width-medium-2-10 uk-margin-top">
                            <div class="md-input-wrapper md-input-filled">
                                <label>Valor</label>
                                <input type="number" class="md-input" md-input ng-model="descRecargo.valor" ng-keyup="calcularTotalera()" maxlength="18" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required/>
                            </div>
                        </div>
                        <div class="uk-width-medium-2-10 uk-margin-top" ng-if="dte.tipo == '110' || dte.tipo == '111' || dte.tipo == '112'">
                            <div class="md-input-wrapper md-input-filled">
                                <label>Valor Otra Moneda</label>
                                <input type="number" class="md-input" md-input ng-model="descRecargo.valorOtraMoneda" readonly/>
                            </div>
                        </div>
                        <div class="uk-width-medium-2-10 uk-margin-top" ng-if="dte.tipo != '110' && dte.tipo != '111' && dte.tipo != '112'"></div>
                        <div class="uk-width-medium-9-10 uk-margin-top">
                            <label>Descripción</label>
                            <input type="text" class="md-input" md-input ng-model="descRecargo.descripcion" maxlength="45" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                        </div>
                        <div class="uk-width-medium-1-10 uk-margin-top">
                            <a href="javascript:void(0)" class="md-btn md-btn-mini md-btn-icon"
                               ng-click="eliminarDescuentoRecargo($index)">
                                <i class="material-icons no_margin" style="font-size:20px">delete_forever</i>
                            </a>
                        </div>
                        <div class="uk-width-medium-1-1 uk-margin-top" style="border-bottom: dashed 1px #ccc">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-grid-small" ng-if="dte.tipo=='52' || dte.tipo=='110' || dte.tipo=='111' || dte.tipo=='112' ">
            <div class="uk-width-small-1-1 uk-width-medium-3-3">
                <div class="uk-panel uk-panel-box">

                    <div class="md-card md-card-collapsed">
                        <div class="md-card-toolbar ">
                            <div class="md-card-toolbar-actions">
                                <card-toggle></card-toggle>
                            </div>
                            <h3 class="md-card-toolbar-heading-text ">Transporte</h3>
                        </div>
                        <div class="md-card-content">
                            <div class="uk-grid uk-grid-small">
                                <div class="uk-width-medium-1-5 uk-margin-top">
                                    <label>Rut Chofer</label>
                                    <input type="text" class="md-input" md-input ng-model="dte.transporte.rutChofer" maxlength="10" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                </div>
                                <div class="uk-width-medium-1-5 uk-margin-top">
                                    <label>Rut Transporte</label>
                                    <input type="text" class="md-input" md-input ng-model="dte.transporte.rutTransporte" maxlength="10" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                </div>
                                <div class="uk-width-medium-1-5 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Tipo Servicio</label>
                                        <select class="md-input" ng-model="dte.transporte.tipoServicio">
                                            <option value="1">Servicios Periódicos</option>
                                            <option value="2">Otros Servicios Periódicos</option>
                                            <option value="3">Hotelería</option>
                                            <option value="4">Factura de Servicios</option>
                                            <option value="5">Servicios de Transporte</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-5 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Modalidad Venta</label>
                                        <select class="md-input" ng-model="dte.transporte.modalidadVenta">
                                            <option value="1">FIRME</option>
                                            <option value="2">BAJO COND.</option>
                                            <option value="3">CONS-LIBRE</option>
                                            <option value="4">COND-M.F.</option>
                                            <option value="5">SIN PAGO</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-5 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Cláusula de Venta</label>
                                        <select class="md-input md-input-processed" ng-model="dte.transporte.tipoClausula">
                                            <option value="{{tipo.codigo}}" ng-repeat="tipo in tiposClausula">{{tipo.descripcion}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="uk-width-medium-1-5 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Total Cláusula Venta</label>
                                        <input type="number" class="md-input" md-input ng-model="dte.transporte.totalClausulaV" maxlength="18" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-5 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Nombre Transporte</label>
                                        <input type="text" class="md-input" md-input ng-model="dte.transporte.nombreTransportista" maxlength="40" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-5 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Rut Cia Transportista</label>
                                        <input type="text" class="md-input" md-input ng-model="dte.transporte.rutTransportista" maxlength="10" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-5 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Nombre Cia Transportista</label>
                                        <input type="text" class="md-input" md-input ng-model="dte.transporte.ciaTransportista" maxlength="40" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-5 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Nombre Chofer</label>
                                        <input type="text" class="md-input" md-input ng-model="dte.transporte.nomChofer" maxlength="30" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" ng-required="dte.transporte.rutChofer != '' " />
                                    </div>
                                </div>

                                <div class="uk-width-medium-1-3 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>País Emisor</label>
                                        <select class="md-input md-input-processed" ng-model="dte.transporte.paisEmisor"
                                                ng-change="seleccionarPuertoEmision(dte.transporte.paisEmisor)">
                                            <option value="{{pais.codigo}}" ng-repeat="pais in paises">{{pais.descripcion}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-3 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Cod. Pto Embarque</label>
                                        <select class="md-input md-input-processed" ng-model="dte.transporte.codPtoEmbarque"
                                                ng-change="obtenerPuertoSegunCodigo(dte.transporte.codPtoEmbarque, 'E')">
                                            <option value="{{puerto.codigo}}" ng-repeat="puerto in puertosE">{{puerto.codigo}} - {{puerto.descripcion}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-3 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Puerto Embarque</label>
                                        <input type="text" class="md-input" ng-model="dte.transporte.ptoEmbarque" readonly maxlength="20" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>

                                <div class="uk-width-medium-1-3 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>País Destino</label>
                                        <select class="md-input md-input-processed" ng-model="dte.transporte.paisDestino"
                                                ng-change="seleccionarPuertoReceptor(dte.transporte.paisDestino)">
                                            <option value="{{pais.codigo}}" ng-repeat="pais in paises">{{pais.descripcion}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-3 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Cod. Pto Destino</label>
                                        <select class="md-input md-input-processed" ng-model="dte.transporte.codPtoDestino"
                                                ng-change="obtenerPuertoSegunCodigo(dte.transporte.codPtoDestino, 'D')">
                                            <option value="{{puerto.codigo}}" ng-repeat="puerto in puertosR">{{puerto.descripcion}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-3 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Puerto Destino</label>
                                        <input type="text" class="md-input" ng-model="dte.transporte.ptoDestino" readonly/>
                                    </div>
                                </div>


                                <div class="uk-width-medium-2-4 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Dirección Destino</label>
                                        <input type="text" class="md-input" md-input ng-model="dte.transporte.dirDestino" maxlength="70" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-4 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Ciudad Destino</label>
                                        <input type="text" class="md-input" md-input ng-model="dte.transporte.ciuDestino" maxlength="20" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-4 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Comuna/Localidad Destino</label>
                                        <input type="text" class="md-input" md-input ng-model="dte.transporte.locDestino" maxlength="20" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>

                                <div class="uk-width-medium-1-5 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Patente</label>
                                        <input type="text" class="md-input" md-input ng-model="dte.transporte.patente" maxlength="8" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-5 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Booking</label>
                                        <input type="text" class="md-input" md-input ng-model="dte.transporte.booking" maxlength="20" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-5 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Operador</label>
                                        <input type="text" class="md-input" md-input ng-model="dte.transporte.operador" maxlength="20" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-5 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Monto Flete</label>
                                        <input type="text" class="md-input" md-input ng-model="dte.transporte.montoFlete" maxlength="18" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-5 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Monto Seguro</label>
                                        <input type="text" class="md-input" md-input ng-model="dte.transporte.montoSeguro" maxlength="18" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>

                                <div class="uk-width-medium-1-3 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Container</label>
                                        <input type="text" class="md-input" md-input ng-model="dte.transporte.container" maxlength="25" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-3 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Sello</label>
                                        <input type="text" class="md-input" md-input ng-model="dte.transporte.sello" maxlength="20" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-3 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Emisor Sello</label>
                                        <input type="text" class="md-input" md-input ng-model="dte.transporte.emiSello" maxlength="70" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>

                                <div class="uk-width-medium-1-6 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Tara</label>
                                        <input type="number" class="md-input" md-input ng-model="dte.transporte.tara" maxlength="7" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-6 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>U/M Tara</label>
                                        <select class="md-input md-input-processed" ng-model="dte.transporte.umTara">
                                            <option value="{{um.codigo}}" ng-repeat="um in unidadMedida">{{um.descripcion}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-6 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Total Peso Bruto</label>
                                        <input type="number" class="md-input" md-input ng-model="dte.transporte.totalPB" maxlength="12" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-6 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>U/M Peso Bruto</label>
                                        <select class="md-input md-input-processed" ng-model="dte.transporte.umPB">
                                            <option value="{{um.codigo}}" ng-repeat="um in unidadMedida">{{um.descripcion}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-6 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Total Peso Neto</label>
                                        <input type="number" class="md-input" md-input ng-model="dte.transporte.totalPN" maxlength="12" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-6 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>U/M Peso Neto</label>
                                        <select class="md-input md-input-processed" ng-model="dte.transporte.umPN">
                                            <option value="{{um.codigo}}" ng-repeat="um in unidadMedida">{{um.descripcion}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="uk-width-medium-1-4 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Total Items</label>
                                        <input type="number" class="md-input" md-input ng-model="dte.transporte.totalItems" maxlength="18" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-4 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Total Bultos</label>
                                        <input type="number" class="md-input" md-input ng-model="dte.transporte.totalBulto" maxlength="18" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-6 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Tipo Bultos</label>
                                        <select class="md-input md-input-processed" ng-model="dte.transporte.tipoBulto">
                                            <option value="{{tipo.codigo}}" ng-repeat="tipo in tiposBulto">{{tipo.descripcion}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-4 uk-margin-top">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>Cantidad Bulto</label>
                                        <input type="number" class="md-input" md-input ng-model="dte.transporte.cantBulto" maxlength="10" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-small-1-1 uk-width-medium-3-3">
                <div class="uk-panel uk-panel-box">
                    <h3 class="uk-panel-title">Detalles </h3>
                    <div class="uk-panel-badge">
                        <i class="material-icons no_margin"
                           style="font-size:30px;color:green;cursor:pointer" ng-click="agregarDetalle()">add_circle</i>
                    </div>
                    <div class="uk-grid uk-grid-small" ng-repeat="detalle in dte.detalles">
                        <div class="uk-width-medium-1-10 uk-margin-top">
                            <label class="uk-panel-title">{{$index+1}}</label>
                        </div>
                        <div class="uk-width-medium-1-10 uk-margin-top">
                            <label>Tipo</label>
                            <input type="text" class="md-input" md-input ng-model="detalle.tipoCodigo" maxlength="3" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required/>
                        </div>
                        <div class="uk-width-medium-1-10 uk-margin-top">
                            <label>Valor</label>
                            <input type="text" class="md-input" md-input ng-model="detalle.codigo" maxlength="35" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required/>
                        </div>
                        <div class="uk-width-medium-1-10 uk-margin-top"
                             ng-show="dte.tipo != '34' && dte.tipo != '41' && dte.tipo != '110' && dte.tipo != '111' && dte.tipo != '112'">
                            &nbsp;&nbsp;&nbsp;<label>Ind. Ex.</label><br>&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" ng-model="detalle.indEx" ng-change="calcular(detalle)" icheck/>
                        </div>
                        <div class="uk-width-medium-1-10 uk-margin-top"
                             ng-show="dte.tipo == '34' || dte.tipo == '41' || dte.tipo == '110' || dte.tipo == '111' || dte.tipo == '112'"></div>
                        <div class="uk-width-medium-1-10 uk-margin-top">
                            <label>Nombre</label>
                            <input type="text" class="md-input" md-input ng-model="detalle.nombre" maxlength="80" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required/>
                        </div>
                        <div class="uk-width-medium-1-10 uk-margin-top">
                            <label>Cantidad</label>
                            <input type="number" class="md-input" md-input ng-model="detalle.cantidad" ng-keyup="calcular(detalle)"  maxlength="18" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required/>
                        </div>
                        <div class="uk-width-medium-1-10 uk-margin-top">
                            <label>Un. Med.</label>
                            <input type="text" class="md-input" md-input ng-model="detalle.uniMedida" ng-change="calcular(detalle)"  maxlength="4" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                        </div>
                        <div class="uk-width-medium-1-10 uk-margin-top">
                            <label>Precio</label>
                            <input type="number" class="md-input" md-input ng-model="detalle.precio" ng-keyup="calcular(detalle)"  maxlength="18" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required/>
                        </div>
                        <div class="uk-width-medium-1-10 uk-margin-top">
                            <label>Total</label>
                            <input type="text" class="md-input" md-input ng-model="detalle.total" readonly/>
                        </div>
                        <div class="uk-width-medium-1-10 uk-margin-top">
                            <a href="javascript:void(0)" class="md-btn md-btn-mini md-btn-icon"
                               ng-click="eliminarDetalle($index)">
                                <i class="material-icons " style="font-size:20px;color:red">delete_forever</i>
                            </a>
                        </div>

                        <div class="md-card md-card-collapsed uk-width-medium-1-3" style="margin-top:25px" ng-if="dte.tipo != '110' && dte.tipo != '111' && dte.tipo != '112'">
                            <div class="md-card-toolbar ">
                                <div class="md-card-toolbar-actions">
                                    <card-toggle></card-toggle>
                                </div>
                                <h3 class="md-card-toolbar-heading-text ">Descuentos/Recargos</h3>
                            </div>
                            <div class="md-card-content">
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-medium-1-2 uk-margin-top" ng-if="dte.tipo != '110' && dte.tipo != '111' && dte.tipo != '112'">
                                        <div class="md-input-wrapper md-input-filled">
                                            <label>% Desc.</label>
                                            <input type="number" class="md-input" md-input ng-model="detalle.descuentoPorc" ng-keyup="calcular(detalle)"  maxlength="5" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required/>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-margin-top" ng-if="dte.tipo != '110' && dte.tipo != '111' && dte.tipo != '112'">
                                        <div class="md-input-wrapper md-input-filled">
                                            <label>Valor Desc.</label>
                                            <input type="text" class="md-input" md-input ng-model="detalle.descuentoVal" readonly/>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-margin-top" ng-if="dte.tipo != '110' && dte.tipo != '111' && dte.tipo != '112'">
                                        <div class="md-input-wrapper md-input-filled">
                                            <label>% Rec.</label>
                                            <input type="number" class="md-input" md-input ng-model="detalle.recargoPorc" ng-keyup="calcular(detalle)"  maxlength="5" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-margin-top" ng-if="dte.tipo != '110' && dte.tipo != '111' && dte.tipo != '112'">
                                        <div class="md-input-wrapper md-input-filled">
                                            <label>Valor Recargo</label>
                                            <input type="text" class="md-input" md-input ng-model="detalle.recargoVal" readonly/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="md-card md-card-collapsed uk-width-medium-1-3" ng-if="dte.tipo != '110' && dte.tipo != '111' && dte.tipo != '112'">
                            <div class="md-card-toolbar ">
                                <div class="md-card-toolbar-actions">
                                    <card-toggle></card-toggle>
                                </div>
                                <h3 class="md-card-toolbar-heading-text ">Impuestos Adicionales</h3>
                            </div>
                            <div class="md-card-content">
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-medium-1-1 uk-margin-top">
                                        <label>Impuestos</label>&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" ng-model="detalle.hayAdicional" icheck ng-change="adicionales($index)"/>
                                    </div>
                                    <div class="uk-width-medium-1-1 uk-margin-top" ng-show="detalle.hayAdicional">
                                        <div class="md-input-wrapper md-input-filled">
                                            <label>Adicional</label>
                                            <select class="md-input md-input-processed" ng-model="detalle.adicional" ng-change="calcular(detalle)"
                                                    ng-readonly="referencia.adicional">
                                                <option value="{{tipo.codigo}}" ng-repeat="tipo in tiposImpuesto">{{tipo.descripcion}}</option>
                                            </select>
                                            <span class="uk-form-help-block" ng-show="detalle.adicional == '1'" style="margin-top:0px;color:#ccc">
                                                Artículos de oro, platino y marfil; joyas y piedras preciosas.
                                            </span>
                                            <span class="uk-form-help-block" ng-show="detalle.adicional == '2'" style="margin-top:0px;color:#ccc">
                                                Los artículos de pirotecnia, tales como fuegos artificiales, petardos y similares.
                                            </span>
                                            <span class="uk-form-help-block" ng-show="detalle.adicional == '3'" style="margin-top:0px;color:#ccc">
                                                Pieles finas; alfombras, tapices y cualquier otro artículo de similar naturaleza, calificados como finos por el Servicio de Impuestos Internos; vehículos casa-rodantes autopropulsados; conservas de caviar y sucedáneos; armas de aire o gas comprimido, sus accesorios y proyectiles, excepto los de caza submarina.
                                            </span>
                                            <span class="uk-form-help-block" ng-show="detalle.adicional == '4'" style="margin-top:0px;color:#ccc">
                                                Licores, piscos, whisky, aguardientes y destilados, incluyendo los vinos licorosos o aromatizados similares al vermouth.
                                            </span>
                                            <span class="uk-form-help-block" ng-show="detalle.adicional == '5'" style="margin-top:0px;color:#ccc">
                                                Vinos destinados al consumo, comprendidos los vinos gasificados, los espumosos o champaña, los generosos o asoleados, chichas y sidras destinadas al consumo, cualquiera que sea su envase, cervezas y otras bebidas alcohólicas, cualquiera que sea su tipo, calidad o denominación.
                                            </span>
                                            <span class="uk-form-help-block" ng-show="detalle.adicional == '7'" style="margin-top:0px;color:#ccc">
                                                Bebidas analcohólicas naturales o artificiales, energizantes o hipertónicas, jarabes y en general cualquier otro producto que las sustituya o que sirva para preparar bebidas similares, y aguas minerales o termales a las cuales se les haya adicionado colorante, sabor o edulcorantes.
                                            </span>
                                            <span class="uk-form-help-block" ng-show="detalle.adicional == '7a'" style="margin-top:0px;color:#ccc">
                                                Bebidas analcohólicas naturales o artificiales que presenten la composición nutricional de elevado contenido de azúcares a que se refiere el artículo 5° de la ley N°20.606, la que para estos efectos se considerará existente cuando tengan más de 15 gramos (g) por cada 240 mililitros (ml) o porción equivalente.
                                            </span>
                                            <span class="uk-form-help-block" ng-show="detalle.adicional == '8'" style="margin-top:0px;color:#ccc">
                                                Los cigarros puros pagan sobre su precio de venta al consumidor, incluido impuestos.
                                            </span>
                                            <span class="uk-form-help-block" ng-show="detalle.adicional == '9'" style="margin-top:0px;color:#ccc">
                                                El tabaco elaborado, sea en hebras, tableta, pastas o cuerdas, granulados, picadura o pulverizado, paga sobre su precio de venta al consumidor, incluido impuestos.
                                            </span>
                                            <span class="uk-form-help-block" ng-show="detalle.adicional == '10'" style="margin-top:0px;color:#ccc">
                                                El impuesto a los cigarrillos se estructura en base a un impuesto especifico de 0,0010304240 UTM por cigarrillo y un impuesto de 30% sobre el precio de venta al consumidor, incluido impuestos, por paquete
                                            </span>
                                            <span class="uk-form-help-block" ng-show="detalle.adicional == '11'" style="margin-top:0px;color:#ccc">
                                                La tasa del impuesto es de 1,5 UTM por m3.
                                            </span>
                                            <span class="uk-form-help-block" ng-show="detalle.adicional == '12'" style="margin-top:0px;color:#ccc">
                                                La tasa del impuesto es de 6 UTM por m3.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="md-card md-card-collapsed uk-width-medium-1-3" ng-if="dte.tipo != '110' && dte.tipo != '111' && dte.tipo != '112'">
                            <div class="md-card-toolbar ">
                                <div class="md-card-toolbar-actions">
                                    <card-toggle></card-toggle>
                                </div>
                                <h3 class="md-card-toolbar-heading-text ">Descripción</h3>
                            </div>
                            <div class="md-card-content">
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-medium-1-1 uk-margin-top">
                                        <label>Descripción</label>
                                        <input type="text" class="md-input" md-input ng-model="detalle.descripcion"  maxlength="1000" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-small-1-1 uk-width-medium-1-2">
                <div class="uk-panel uk-panel-box">
                    <h3 class="uk-panel-title">Información Adicional</h3>
                    <div class="uk-grid uk-grid-small">
                        <div class="uk-width-1-1 uk-margin-top">
                            <label>Monto en palabras</label>
                            <textarea cols="30" rows="4" class="md-input" md-input textarea-autosize ng-model="montoEnPalabras"></textarea>
                            <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Monto final del documento en palabras</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-small-1-1 uk-width-medium-1-2">
                <div class="uk-panel uk-panel-box">
                    <h3 class="uk-panel-title">Totales</h3>
                    <div class="uk-grid uk-grid-small">
                        <div class="uk-width-1-2">SubTotal</div>
                        <div class="uk-width-1-2">$ {{ formatearMonto(totalera.subtotal,'')}}</div>
                        <div class="uk-width-1-2" ng-if="dte.tipo != '34' && dte.tipo != '41' && dte.tipo != '110' && dte.tipo != '111' && dte.tipo != '112'">Neto</div>
                        <div class="uk-width-1-2" ng-if="dte.tipo != '34' && dte.tipo != '41' && dte.tipo != '110' && dte.tipo != '111' && dte.tipo != '112'">$ {{
                            formatearMonto(totalera.neto,'')}}
                        </div>
                        <div class="uk-width-1-2">Exento</div>
                        <div class="uk-width-1-2">$ {{ formatearMonto(totalera.exento,'')}}</div>
                        <div class="uk-width-1-2" ng-if="dte.tipo != '110' && dte.tipo != '111' && dte.tipo != '112'">Descuento</div>
                        <div class="uk-width-1-2" ng-if="dte.tipo != '110' && dte.tipo != '111' && dte.tipo != '112'">$ {{ formatearMonto(totalera.descuento,'')}}</div>
                        <div class="uk-width-1-2" ng-if="dte.tipo != '110' && dte.tipo != '111' && dte.tipo != '112'">Recargo</div>
                        <div class="uk-width-1-2" ng-if="dte.tipo != '110' && dte.tipo != '111' && dte.tipo != '112'">$ {{ formatearMonto(totalera.recargo,'')}}</div>
                        <div class="uk-width-1-2 uk-text-warning"
                             ng-if="dte.tipo == '33' || dte.tipo == '39' || dte.tipo == '56' || dte.tipo == '61' || dte.tipo == '52' || dte.tipo == '46'">IVA (19%)
                        </div>
                        <div class="uk-width-1-2 uk-text-warning"
                             ng-if="dte.tipo == '33' || dte.tipo == '39' || dte.tipo == '56' || dte.tipo == '61' || dte.tipo == '52' || dte.tipo == '46'">$ {{
                            formatearMonto(totalera.iva,'')}}
                        </div>

                        <div class="uk-width-2-2" ng-repeat="adicional in totalera.adicionales">
                            <div class="uk-grid uk-grid-small">
                                <div class="uk-width-1-2 uk-text-warning">
                                    {{ obtenerImpuestoSegunCodigo(adicional.codigo) }}
                                </div>
                                <div class="uk-width-1-2 uk-text-warning">
                                    $ {{formatearMonto(adicional.total,'')}}
                                </div>
                            </div>
                        </div>

                        <div class="uk-width-1-2 uk-text-bold">Total</div>
                        <div class="uk-width-1-2 uk-text-bold">$ {{ formatearMonto(totalera.total,'')}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="emitir" class="md-fab-wrapper">
    <a class="md-fab md-fab-accent md-fab-wave-light md-fab" ng-click="emitir()"
       data-uk-tooltip="{cls:'long-text'}" title="Emitir" style="left: -60px;">
        <i class="material-icons">receipt</i>
    </a>
</div>
