/* These file is a start point for who wants to create a fully custom
 * theme for jTable. jtable_theme_base.less (or css) file is needed
 * for functionality of jTable. This file does not add any color or shape
 * modifications. It just shows how to set icons. You can change them too.
 * Halil ibrahim Kalkan / http://www.jtable.org
 */
div.jtable-main-container {
  position: relative;
}
div.jtable-main-container div.jtable-title {
  position: relative;
  text-align: left;
}
div.jtable-main-container div.jtable-title .jtable-close-button {
  right: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
}
div.jtable-main-container div.jtable-title div.jtable-toolbar {
  bottom: 0px;
  right: 0px;
  position: absolute;
  display: inline-block;
  margin-right: 5px;
}
div.jtable-main-container div.jtable-title div.jtable-toolbar span.jtable-toolbar-item {
  position: relative;
  display: inline-block;
  margin: 0px 0px 0px 5px;
  cursor: pointer;
  font-size: 0.9em;
  padding: 2px;
  vertical-align: bottom;
}
div.jtable-main-container
  div.jtable-title
  div.jtable-toolbar
  span.jtable-toolbar-item
  span.jtable-toolbar-item-icon {
  display: inline-block;
  margin: 2px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
div.jtable-main-container
  div.jtable-title
  div.jtable-toolbar
  span.jtable-toolbar-item
  span.jtable-toolbar-item-text {
  display: inline-block;
  margin: 2px;
  vertical-align: middle;
}
div.jtable-main-container div.jtable-title .jtable-close-button + div.jtable-toolbar {
  margin-right: 30px;
}
div.jtable-main-container table.jtable {
  width: 100%;
}
div.jtable-main-container table.jtable thead th {
  vertical-align: middle;
  text-align: left;
}
div.jtable-main-container
  table.jtable
  thead
  th.jtable-column-header
  div.jtable-column-header-container {
  position: relative;
}
div.jtable-main-container
  table.jtable
  thead
  th.jtable-column-header
  div.jtable-column-header-container
  span.jtable-column-header-text {
  display: inline-block;
}
div.jtable-main-container
  table.jtable
  thead
  th.jtable-column-header
  div.jtable-column-header-container
  div.jtable-column-resize-handler {
  position: absolute;
  height: 24px;
  width: 8px;
  right: -8px;
  top: -2px;
  z-index: 2;
  cursor: col-resize;
}
div.jtable-main-container table.jtable thead th.jtable-command-column-header {
  text-align: center;
}
div.jtable-main-container table.jtable thead th.jtable-column-header-selecting {
  text-align: center;
  width: 1%;
}
div.jtable-main-container table.jtable thead th.jtable-column-header-selecting input {
  cursor: pointer;
}
div.jtable-main-container table.jtable thead th.jtable-column-header-sortable {
  cursor: pointer;
}
div.jtable-main-container table.jtable tbody tr > td .jtable-command-button {
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  border: none;
  display: inline;
}
div.jtable-main-container table.jtable tbody tr > td .jtable-command-button span {
  display: none;
}
div.jtable-main-container table.jtable tbody tr > td.jtable-command-column {
  text-align: center;
  vertical-align: middle;
}
div.jtable-main-container table.jtable tbody tr > td.jtable-selecting-column {
  text-align: center;
  vertical-align: middle;
}
div.jtable-main-container table.jtable tbody tr > td.jtable-selecting-column input {
  cursor: pointer;
}
div.jtable-main-container table.jtable tbody tr.jtable-no-data-row {
  text-align: center;
}
div.jtable-main-container > div.jtable-bottom-panel {
  position: relative;
  min-height: 24px;
  text-align: left;
}
div.jtable-main-container > div.jtable-bottom-panel div.jtable-right-area {
  right: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
}
div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list {
  display: inline-block;
}
div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number,
div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-space,
div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-first,
div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-last,
div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-previous,
div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-next,
div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-active {
  padding: 2px 5px;
  display: inline-block;
  cursor: pointer;
}
div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-space,
div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-active,
div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-disabled {
  cursor: default;
}
div.jtable-main-container > div.jtable-bottom-panel span.jtable-page-size-change {
  margin-left: 5px;
}
div.jtable-main-container > div.jtable-bottom-panel span.jtable-goto-page {
  margin-left: 5px;
}
div.jtable-main-container > div.jtable-bottom-panel span.jtable-goto-page input[type='text'] {
  width: 22px;
}
div.jtable-main-container > div.jtable-bottom-panel span.jtable-page-info {
  vertical-align: middle;
}
div.jtable-main-container div.jtable-column-resize-bar {
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: absolute;
  display: none;
  width: 1px;
  background-color: #000;
}
div.jtable-main-container div.jtable-column-selection-container {
  position: absolute;
  display: none;
  border: 1px solid #c8c8c8;
  background: #fff;
  color: #000;
  z-index: 101;
  padding: 5px;
}
div.jtable-main-container div.jtable-column-selection-container ul.jtable-column-select-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
div.jtable-main-container div.jtable-column-selection-container ul.jtable-column-select-list li {
  margin: 0px;
  padding: 2px 0px;
}
div.jtable-main-container
  div.jtable-column-selection-container
  ul.jtable-column-select-list
  li
  label
  span {
  position: relative;
  top: -1px;
  margin-left: 4px;
}
div.jtable-main-container
  div.jtable-column-selection-container
  ul.jtable-column-select-list
  li
  input[type='checkbox'] {
  cursor: pointer;
}
form.jtable-dialog-form div.jtable-input-field-container {
  padding: 2px 0px 3px 0px;
  border-bottom: 1px solid #ddd;
}
form.jtable-dialog-form div.jtable-input-field-container:last-child {
  border: none;
}
form.jtable-dialog-form div.jtable-input-label {
  padding: 2px 3px;
  font-size: 1.1em;
  color: #666;
}
form.jtable-dialog-form div.jtable-input {
  padding: 2px;
}
form.jtable-dialog-form div.jtable-date-input {
  /* No additional style */
}
form.jtable-dialog-form div.jtable-text-input {
  /* No additional style */
}
form.jtable-dialog-form span.jtable-option-text-clickable {
  position: relative;
  top: -2px;
}
form.jtable-dialog-form div.jtable-textarea-input textarea {
  width: 300px;
  min-height: 60px;
}
form.jtable-dialog-form div.jtable-checkbox-input span,
form.jtable-dialog-form div.jtable-radio-input span {
  padding-left: 4px;
}
form.jtable-dialog-form div.jtable-radio-input input,
form.jtable-dialog-form div.jtable-checkbox-input input,
form.jtable-dialog-form span.jtable-option-text-clickable {
  cursor: pointer;
}
div.jtable-busy-panel-background {
  opacity: 0.1;
  filter: alpha(opacity=10);
  z-index: 998;
  position: absolute;
  background-color: #000;
}
div.jtable-busy-panel-background.jtable-busy-panel-background-invisible {
  background-color: transparent;
}
div.jtable-busy-message {
  cursor: wait;
  z-index: 999;
  position: absolute;
  margin: 5px;
}
div.jtable-contextmenu-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
}
div.jtable-main-container {
  overflow: auto;
}
div.jtable-main-container div.jtable-title div.jtable-title-text {
  font-size: 14px;
  color: #999;
  margin-bottom: 8px;
}
div.jtable-main-container div.jtable-title .jtable-close-button {
  background: url('close.png') no-repeat;
  width: 18px;
  height: 18px;
}
div.jtable-main-container table.jtable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
div.jtable-main-container table.jtable thead th {
  border-bottom: 2px solid #d0d0d0;
}
div.jtable-main-container
  table.jtable
  thead
  th.jtable-column-header-sortable
  div.jtable-column-header-container {
  background: url('column-sortable.png') no-repeat right;
}
div.jtable-main-container
  table.jtable
  thead
  th.jtable-column-header-sorted-asc
  div.jtable-column-header-container {
  background: url('column-asc.png') no-repeat right;
}
div.jtable-main-container
  table.jtable
  thead
  th.jtable-column-header-sorted-desc
  div.jtable-column-header-container {
  background: url('column-desc.png') no-repeat right;
}
div.jtable-main-container
  table.jtable
  thead
  th.jtable-column-header-sortable
  div.jtable-column-header-container,
div.jtable-main-container
  table.jtable
  thead
  th.jtable-column-header-sorted-asc
  div.jtable-column-header-container,
div.jtable-main-container
  table.jtable
  thead
  th.jtable-column-header-sorted-desc
  div.jtable-column-header-container {
  padding-right: 22px;
}
div.jtable-main-container table.jtable thead th,
div.jtable-main-container table.jtable tfoot td,
div.jtable-main-container table.jtable tfoot th {
  font-style: normal;
  font-weight: 400;
  color: #727272;
  font-size: 14px;
  padding: 8px;
  white-space: nowrap;
}
div.jtable-main-container table.jtable thead th.jtable-column-header,
div.jtable-main-container table.jtable tfoot td.jtable-column-header,
div.jtable-main-container table.jtable tfoot th.jtable-column-header {
  border-right: 1px solid #e0e0e0;
}
div.jtable-main-container table.jtable tfoot td,
div.jtable-main-container table.jtable tfoot th {
  border-top: 2px solid #d0d0d0;
  border-bottom: none;
}
div.jtable-main-container table.jtable tbody > tr.jtable-row-even {
  background-color: #ededed;
}
div.jtable-main-container table.jtable tbody > tr:hover {
  background: #e0e0e0;
}
div.jtable-main-container table.jtable tbody > tr.jtable-row-selected {
  background-color: #f1f8e9;
}
div.jtable-main-container table.jtable tbody > tr.jtable-row-created,
div.jtable-main-container table.jtable tbody > tr.jtable-row-updated {
  background-color: #aed581;
}
div.jtable-main-container table.jtable tbody > tr.jtable-row-deleting {
  background-color: #f44336;
  color: #fff;
}
div.jtable-main-container table.jtable tbody td {
  border-bottom-color: #e0e0e0;
  border-left: 1px solid #e0e0e0;
  vertical-align: middle;
  padding: 8px;
  white-space: nowrap;
}
div.jtable-main-container table.jtable tbody td:first-child {
  border-left: none;
}
div.jtable-main-container table.jtable tbody td .jtable-command-button {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 24px;
  height: 24px;
  opacity: 0.6;
  transition: opacity 280ms ease-in;
  display: block !important;
}
div.jtable-main-container table.jtable tbody td .jtable-command-button:hover {
  opacity: 1;
}
div.jtable-main-container table.jtable tbody td .jtable-edit-command-button {
  background-image: url('edit.png');
}
div.jtable-main-container table.jtable tbody td .jtable-delete-command-button {
  background-image: url('delete.png');
}
div.jtable-main-container table.jtable .jtable-no-data-row td {
  padding: 48px 0;
  font-size: 18px;
}
div.jtable-main-container > div.jtable-bottom-panel {
  border-top: 1px solid #e0e0e0;
  padding: 16px 0 0;
  min-height: 28px;
}
div.jtable-main-container > div.jtable-bottom-panel span.jtable-goto-page,
div.jtable-main-container > div.jtable-bottom-panel span.jtable-page-size-change {
  margin-left: 16px;
}
div.jtable-main-container > div.jtable-bottom-panel div.jtable-left-area {
  float: left;
}
div.jtable-main-container > div.jtable-bottom-panel div.jtable-right-area {
  position: static;
  float: right;
  font-size: 12px;
  line-height: 28px;
}
@media only screen and (max-width: 767px) {
  div.jtable-main-container > div.jtable-bottom-panel div.jtable-left-area,
  div.jtable-main-container > div.jtable-bottom-panel div.jtable-right-area {
    float: none;
    text-align: center;
  }
  div.jtable-main-container > div.jtable-bottom-panel div.jtable-left-area > span,
  div.jtable-main-container > div.jtable-bottom-panel div.jtable-right-area > span {
    display: block;
    margin: 16px 0 0;
  }
}
div.jtable-main-container .jtable-busy-message {
  padding: 12px 12px 12px 56px;
  font-size: 20px;
  background: #ffffff url('spinner.gif') no-repeat 10px 50%;
  color: #212121;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  left: 50%;
  transform: translateX(-50%);
}
div.jtable-busy-message {
  color: #000;
  background-color: #ddd;
  font-size: 1.25em;
}
form.jtable-dialog-form div.jtable-input-field-container {
  padding: 4px 0;
  border: none;
  min-width: 320px;
}
form.jtable-dialog-form div.jtable-input-field-container + div.jtable-input-field-container {
  margin-top: 16px;
}
form.jtable-dialog-form div.jtable-input-label {
  font-size: 13px;
  color: #727272;
  padding: 0 0 4px;
}
form.jtable-dialog-form div.jtable-input {
  padding: 0;
}
form.jtable-dialog-form .jtable-radio-input > span {
  vertical-align: -3px;
  margin-left: 8px;
}
form.jtable-dialog-form .jtable-radio-input + .jtable-radio-input {
  margin-top: 8px;
}
form.jtable-dialog-form .jtable-checkbox-input > span {
  vertical-align: -3px;
  margin-left: 8px;
}
form.jtable-dialog-form .jtable-checkbox-input + .jtable-checkbox-input {
  margin-top: 8px;
}
.jtable-page-list > span {
  border: none;
  padding: 4px 4px;
  min-width: 28px;
  height: 28px;
  line-height: 24px;
  box-sizing: border-box;
  text-shadow: none;
  color: #1e88e5;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
}
.jtable-page-list .jtable-page-number-disabled {
  color: #999;
}
.jtable-page-list .jtable-page-number-active {
  color: #fff;
  background-color: #7cb342;
}
/* jqueryui customize */
.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1207;
}
.ui-dialog {
  border-radius: 2px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 24px 24px 16px;
  z-index: 1208;
}
.ui-dialog .ui-dialog-titlebar {
  margin: -24px -24px 0;
  padding: 24px 32px 16px 24px;
  border: none;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  display: block;
  margin: 0;
  font: 500 18px / 28px 'Roboto', sans-serif;
}
.ui-dialog .ui-dialog-content {
  padding: 16px 32px 0 0;
  max-height: 400px !important;
}
.ui-dialog .ui-dialog-content .ui-icon {
  display: none;
}
.ui-dialog .ui-dialog-content > p {
  font-size: 15px;
}
.ui-dialog .ui-dialog-buttonpane {
  border: none;
  padding: 16px 0 0;
}
.ui-dialog .ui-dialog-buttonpane button {
  margin: 0 !important;
}
.ui-dialog .ui-dialog-titlebar-close {
  background: none;
  border: none;
  top: 16px;
  right: 6px;
  text-indent: 9999px;
}
