<style>
    input[readonly] {
        cursor: no-drop;
    }

    .selectize-input {
        padding: 0px !important;
        min-height: 10px !important;
    }

    .selectize-control.single {
        margin-top: 0px !important;
    }
</style>
<div id="page_content">
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a">Modificando Proyecto {{proyecto.codigo}} - {{proyecto.codigoVerificador||0}}</h3>
                <input type="hidden" class="md-input" md-input ng-model="proyecto.proyectoId"/>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-4 uk-margin-top">
                        <label>Código</label>
                        <input type="text" class="md-input" md-input ng-model="proyecto.codigo"/>
                        <span class="uk-form-help-block"
                              style="margin-top:0px;color:#ccc">Código único de proyecto</span>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-4 uk-margin-top">
                        <label>Verificador</label>
                        <input type="text" class="md-input" md-input ng-model="proyecto.codigoVerificador"
                               maxlength="1"/>
                        <span class="uk-form-help-block"
                              style="margin-top:0px;color:#ccc">Digito Verificador del Código</span>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-1-1 uk-width-large-2-4 uk-margin-top">
                        <label>Nombre</label>
                        <input type="text" class="md-input" md-input ng-model="proyecto.nombre"/>
                        <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Nombre del proyecto</span>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-1-1 uk-width-large-1-4 uk-margin-top">
                        <label>Código IDI</label>
                        <input type="text" class="md-input" md-input ng-model="proyecto.codigoIDI"/>
                        <span class="uk-form-help-block" style="margin-top:0px;color:#ccc"></span>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-1-1 uk-width-large-1-4 uk-margin-top">
                        <label>Unidad Tecnica</label>
                        <input type="text" config="selectize_config_unidades" options="unidades"
                               ng-model="proyecto.unidadTecnica" selectize/>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-1-1 uk-width-large-1-4 uk-margin-top">
                        <label>Provincia</label>
                        <input type="text" config="selectize_config_provincia" options="provincias"
                               ng-model="proyecto.provincia" selectize ng-change="provinciaChange(proyecto.provincia)"/>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-1-1 uk-width-large-1-4 uk-margin-top">
                        <label>Comuna</label>
                        <div ng-if="comunasCargando == undefined || comunasCargando==false">
                            <input type="text" config="selectize_config_comuna" options="comunas"
                                   ng-model="proyecto.comuna" selectize
                            />
                        </div>
                        <div ng-if="comunasCargando==true">
                            <input type="text" disabled value="CARGANDO" class="md-input"
                                   md-input>
                        </div>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-4 uk-margin-top">
                        <label>Sibtitulo</label>
                        <select class="form-control md-input" ng-model="subtitulos.subtituloActual"
                                ng-change="subtituloChange()">
                            <option value="" selected="selected" disabled ng-disable>[SELECCIONE]</option>
                            <option ng-repeat="option in subtitulos.subtitulosOpciones | orderBy :'numero'"
                                    value="{{option}}">{{option.numero}} - {{option.nombre}}
                            </option>
                        </select>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-4 uk-margin-top">
                        <label>Item </label>
                        <select class="form-control md-input" ng-model="subtitulos.itemActual"
                                ng-change="subtituloItemChange()">
                            <option value="" selected="selected" disabled ng-disable>[SELECCIONE]</option>
                            <option ng-repeat="option in subtitulos.items" value="{{option}}">{{option.item}} -
                                {{option.nombre}}
                            </option>
                        </select>
                    </div>
                    <!--Para realizar la ceparacion de la pagina -->
                    <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-3 uk-margin-top"></div>
                    <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-4 uk-margin-top">
                        <label>Monto Inicial</label>
                        <input type="text" class="md-input" md-input ng-model="proyecto.montoOriginal"
                               ng-init="proyecto.montoOriginal=0"
                               formato-numero md-input/>
                        <!--sumatoria de monto contrato mandato-->
                        <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Definido inicialmente</span>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-4 uk-margin-top">
                        <label>Monto Final</label>
                        <input type="text" class="md-input" md-input ng-model="proyecto.montoTotal"
                               ng-init="proyecto.montoTotal=0"
                               formato-numero md-input/>
                        <!--sumatoria de monto total mandato-->
                        <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Inicialmente el mismo</span>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-4 uk-margin-top">
                        <label>Monto Disponible</label>
                        <input type="text" class="md-input" md-input ng-model="proyecto.montoDisponible"
                               ng-init="proyecto.montoDisponible=0" readonly="readonly"
                               formato-numero md-input/>
                        <!--sumatoria de saldo mandato-->
                        <span class="uk-form-help-block"
                              style="margin-top:0px;color:#ccc">El 100% del monto original </span>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-4 uk-margin-top uk-visible@s">
                        &nbsp;
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-4 uk-margin-top">
                        <label>Inicio</label>
                        <input class="md-input" type="text"
                               data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                               md-input
                               ng-model="proyecto.fechaInicio">
                        <span class="uk-form-help-block"
                              style="margin-top:0px;color:#ccc">Fecha de inicio del Proyecto</span>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-4 uk-margin-top">
                        <label>Termino</label>
                        <input class="md-input" type="text"
                               data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                               md-input
                               ng-model="proyecto.fechaTermino">
                        <span class="uk-form-help-block"
                              style="margin-top:0px;color:#ccc">Fecha de termino del Proyecto</span>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-4 uk-margin-top">
                        <label>Responsable</label>
                        <input type="text" class="md-input" md-input ng-model="proyecto.responsable.nombre"/>
                        <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Nombre del responsable</span>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-4 uk-margin-top">
                        <label>Correo</label>
                        <input type="text" class="md-input masked_input" md-input ng-model="proyecto.responsable.correo"
                               data-inputmask="'alias': 'email'" data-inputmask-showmaskonhover="false" md-input/>
                        <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Correo del responsable</span>
                    </div>
                    <div class="uk-width-small-1-1 uk-margin-top">
                        <label>Comentarios</label>
                        <textarea type="text" class="md-input" md-input ng-model="proyecto.comentarios[0].comentario"/>
                        <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Notas o comentarios que se deseen hacer con respecto al proyecto en general</span>
                    </div>
                </div>
            </div>
            <div class="md-card-content">
                <h3 class="heading_a">Detalle de Proyecto</h3>
                <div ng-repeat="topico in proyecto.topicos"
                     ng-init="" class="md-card" data-uk-grid-margin>
                    <div class="md-card-toolbar">
                        <div class="md-card-toolbar-actions">
                            <div class="md-btn-group">
                                <!--<a ng-click="eliminarTopico(topico)" class="md-btn md-btn-wave"><i
                                        class="material-icons">remove_circle</i></a>-->
                                <a ng-click="modalConfigurarTopico(topico)" class="md-btn md-btn-wave">
                                    <i class="material-icons">build</i></a>
                                <!--<card-toggle></card-toggle>-->
                            </div>

                        </div>
                        <h3 class="md-card-toolbar-heading-text"># {{topico.numero}} - {{topico.asunto}}</h3>
                    </div>
                    <div class="md-card-content uk-grid uk-grid-small">
                        <div class="md-card-content uk-grid uk-grid-small">
                            <div class="uk-width-small-5-10 uk-width-medium-2-10 uk-margin-top">
                                <label>Monto</label>
                                <input type="text" class="md-input" md-input ng-model="topico.montoMandato"
                                       formato-numero ng-change="calcularTotalYSaldoMandato(topico)"/>
                                <span class="uk-form-help-block"
                                      style="margin-top:0px;color:#ccc">Monto del mandato</span>
                            </div>
                            <div class="uk-width-small-5-10 uk-width-medium-2-10 uk-margin-top">
                                <label>Modificaciones</label>
                                <!--<input type="text" class="md-input" md-input ng-model="topico.modificacionMontoMandato" formato-numero ng-change="calcularTotalYSaldoMandato(topico)"/>-->
                                <button class="md-btn md-btn-wave-light md-btn-block"
                                        ng-click="modalModificacionesTopico(topico)">
                                    {{topico.modificacionMontoMandato||0}}
                                </button>
                                <!--<span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Monto de Modificaciones</span>-->
                            </div>
                            <div class="uk-width-small-5-10 uk-width-medium-2-10 uk-margin-top">
                                <label>Total Mandato</label>
                                <input type="text" class="md-input" md-input ng-model="topico.montoTotalMandato"
                                       formato-numero readonly="readonly"/>
                                <span class="uk-form-help-block" style="margin-top:0px;color:#ccc">Monto Total del mandato</span>
                            </div>
                            <div class="uk-width-small-5-10 uk-width-medium-2-10 uk-margin-top">
                                <label>Monto Contratado</label>
                                <input type="text" class="md-input" md-input ng-model="topico.montoContratado"
                                       formato-numero ng-change="calcularTotalYSaldoMandato(topico)"/>
                                <span class="uk-form-help-block"
                                      style="margin-top:0px;color:#ccc">Monto del contrato</span>
                            </div>
                            <div class="uk-width-small-5-10 uk-width-medium-2-10 uk-margin-top">
                                <label>Saldo Mandato</label>
                                <input type="text" class="md-input" md-input ng-model="topico.saldoMandato"
                                       formato-numero readonly="readonly"/>
                                <span class="uk-form-help-block"
                                      style="margin-top:0px;color:#ccc">Saldo del Mandato</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="md-card-content"
                 ng-include="'app/febos/documentos/portafolio/proyectos/acciones/comun/listadoFiscalizacionesProyecto.html'">
            </div>
        </div>
    </div>
</div>

<div class="md-fab-wrapper md-fab-in-card md-fab-speed-dial" style="position: fixed; right: 80px">
    <a class="md-fab md-fab-primary" href="javascript:void(0)" md-fab-speed-dial data-uk-tooltip="{cls:'long-text'}"
       title="Acciones"><i class="material-icons">bubble_chart</i></a>
    <div class="md-fab-wrapper-small">
        <a class="md-fab md-fab-small md-fab-success" ng-click="nuevoTopico()"
           data-uk-tooltip="{pos:'left',cls:'long-text'}" title="Nuevo Topico">
            <i class="material-icons">add</i>
        </a>
        <a class="md-fab md-fab-small md-fab-success" ng-click="resetearProyecto()"
           data-uk-tooltip="{pos:'left',cls:'long-text'}" title="Nuevo Proyecto">
            <i class="material-icons">autorenew</i>
        </a>
        <a class="md-fab md-fab-small md-fab-success" ng-click="guardar()"
           data-uk-tooltip="{pos:'left',cls:'long-text'}" title="Guardar">
            <i class="material-icons">save</i>
        </a>
    </div>
</div>

<div id="portafolio_modales_proyectos_crear_configurar_topico" class="uk-modal">
    <div ng-include="'app/febos/documentos/portafolio/proyectos/acciones/crear/modal/configurarTopico.html'"
         include-replace></div>
</div>
<div id="portafolio_modales_proyectos_modificar_topico" class="uk-modal">
    <div ng-include="'app/febos/documentos/portafolio/proyectos/acciones/comun/modal/modificacionesTopico.html'"
         include-replace></div>
</div>
