<div id="page_content">
    <div id="page_content_inner">           
        <div class="md-card uk-margin-large-bottom">
            <div id="page_heading">
                <h1>Vista de Webhooks</h1>
                <span class="uk-text-muted uk-text-upper uk-text-small">Creación y Listado de webhooks</span>
            </div>
            <div class="md-card-content">
                <!--inicio wizard-->
                <form id="wizard_advanced_form" class="">

                    <wizard on-finish="finishedWizard()" template="app/templates/wizard.tpl.html" style="overflow: visible">
                               <!--inicio content-->
                               <div class="md-card-content">
                                
                                <!--inicio step 1-->
                                <wz-step wz-title="Tipo de Evento" template="app/templates/wizard.step.tpl.html">

                                    <table class="uk-table uk-table-nowrap" style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td style="border-bottom-style: none; width: 50%;">
                                                    <div class="uk-input-group uk-width-medium-1-1">
                                                        <!--<span class="uk-input-group-addon">a ver</span>-->
                                                        <label for="">Nombre del Webhook</label>
                                                        <input add-on-space="true" class="md-input" ng-model="datos.nombreWH">
                                                    </div>
                                                </td>
                                                <td style="border-bottom-style: none; width: 50%;">
                                                    <div class="uk-input-group uk-width-medium-1-1">
                                                        <label for="correos">Notificar por Correo a:</label>
                                                        <tags-input add-on-space="true" class="md-input" ng-model="datos.correos"></tags-input>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom-style: none; width: 50%;">
                                                    <div class="uk-input-group uk-width-medium-1-1">
                                                        
                                                        <label for="tipos_evento-selectized">Seleccione el tipo de evento que desea</label>
                                                        <selectize id="tipos_evento" config="config.selectize" options="config.tiposDeEvento" position="bottom" ng-model="datos.tipo" class="ng-pristine ng-untouched ng-valid ng-isolate-scope selectized ng-empty ng-valid-required" tabindex="-1" style="display: none;" value=""></selectize><div class="selectize_fix"></div>
                                                    </div>                                                    
                                                </td>
                                                <td style="border-bottom-style: none;width: 50%;">
                                                    <div class="uk-input-group uk-width-medium-1-1">
                                                        <label for="">Invocar Flujo</label>
                                                        <selectize id="flujos" config="config.selectizeFlujo" options="config.flujos" position="bottom" ng-model="datos.flujo" class="ng-pristine ng-untouched ng-valid ng-isolate-scope selectized ng-empty ng-valid-required" tabindex="-1" style="display: block;" value=""></selectize><div class="selectize_fix"></div>
                                                    </div>
                                                    
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="uk-clearfix uk-margin-large-top">
                                        <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Siguiente</button>
                                    </div>
                                </wz-step>
                                <!--fin step 1-->

                        <!-- inicio de wz de reglas-->
                        <wz-step wz-title="Reglas" template="app/templates/wizard.step.tpl.html">
                            <table class="uk-table uk-table-nowrap">
                                <tbody>
                                    <tr>
                                        <td style="border-bottom-style: none;">
                                            <div class="uk-input-group uk-width-medium-1-1">
                                                <!--<span class="uk-input-group-addon">a ver</span>-->
                                                <label for="">NOMBRE DE LA REGLA</label>
                                                <input add-on-space="true" class="md-input" ng-model="datos.nombreRegla">
                                            </div>
                                        </td>
                                        <td style="border-bottom-style: none;">
                                            <div class="uk-input-group uk-width-medium-1-1">
                                                <!--<span class="uk-input-group-addon">a ver</span>-->
                                                <label for="">DESCRIPCIÓN</label>
                                                <input add-on-space="true" class="md-input" ng-model="datos.descripcion">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-bottom-style: none;">
                                            <div class="uk-input-group uk-width-medium-1-2">
                                                <span class="icheck-inline">
                                                    <input type="checkbox" name="" id="checkbox_activa" icheck="" ng-model="datos.activa" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty"  style="" ><ins class="iCheck-helper" style=""></ins>
                                                    <label for="" class="inline-label">Activa</label>
                                                </span>
                                            </div>
                                            <div class="uk-input-group uk-width-medium-1-2">
                                                <span class="icheck-inline">
                                                        <input type="checkbox" name="" id="checkbox_continuar" icheck="" ng-model="datos.continuar" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style=""><ins class="iCheck-helper" style=""></ins>
                                                        <label for="" class="inline-label">Continuar</label>
                                                </span>
                                            </div>
                                        </td>
                                        <td style="border-bottom-style: none;">
                                            <div class="uk-input-group uk-width-medium-1-1">
                                                <label for="">Prioridad</label>
                                                <input add-on-space="true" class="md-input" ng-model="datos.prioridad" type="number" min="0">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="uk-grid uk-grid-collapse" data-uk-grid-margin>
                                <div class="uk-width-large-1-1">
                                    <div class="md-card md-card-single md-card-CodeMirror" single-card>
                                        <div class="md-card-toolbar">
                                                <!-- <div class="md-card-toolbar-actions">
                                                    <card-fullscreen-activate></card-fullscreen-activate>   
                                                </div>
                                                    <card-fullscreen-deactivate></card-fullscreen-deactivate> -->
                                                <h3 class="md-card-toolbar-heading-text">
                                                    Escriba las reglas del Webhook en codigo Javascript
                                                </h3>
                                        </div>
                                        <div class="md-card uk-margin-medium-bottom padding-reset" style=" padding: 5px;">
                                                <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="datos.reglas"></ui-codemirror>                                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Siguiente</button>
                            </div>
                        </wz-step>
                         <!-- fin de wz de reglas-->

                        <!--inicio step 4-->
                        <wz-step wz-title="Opciones" template="app/templates/wizard.step.tpl.html">
                            <table class="uk-table uk-table-nowrap">
                                <tbody>
                                    <tr>
                                        <td style="border-bottom-style: none;">
                                            <div class="uk-input-group uk-width-medium-1-1">
                                                <label for="">Reintentos</label>
                                                <input add-on-space="true" class="md-input" ng-model="datos.reintentos" type="number" min="0">
                                            </div>
                                        </td>
                                        <td style="border-bottom-style: none;">
                                            <div class="uk-input-group uk-width-medium-1-1">
                                                    <label for="">Formato de Envío</label>
                                                <p>
                                                    <span class="icheck-inline">
                                                        <input type="radio" name="formato" icheck="" ng-model="datos.formato" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty"  style="" value="JSON"><ins class="iCheck-helper" style=""></ins>
                                                        <label for="" class="inline-label">JSON</label>
                                                    </span>
                                                    <span class="icheck-inline">
                                                        <input type="radio" name="formato" icheck="" ng-model="datos.formato" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty"  style="" value="XML"><ins class="iCheck-helper" style=""></ins>
                                                        <label for="" class="inline-label">XML</label>
                                                    </span>
                                                </p>
                                            </div>                                        
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-bottom-style: none; width: 50%;">
                                            <div class="uk-input-group uk-width-medium-1-2">
                                                <p>
                                                    <input type="checkbox" name="" icheck="" ng-model="datos.notificaciones" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style=""><ins class="iCheck-helper" style=""></ins>
                                                    <label for="" class="inline-label">Activar Webhook</label>
                                                </p>
                                                 <p>
                                                    <input type="checkbox" name="" icheck="" ng-model="datos.ninterno" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style=""><ins class="iCheck-helper" style=""></ins>
                                                    <label for="" class="inline-label">Notificar por interno </label>
                                                </p>   
                                            </div>
                                        </td>
                                        <td style="border-bottom-style: none;">
                                            <div class="uk-input-group uk-width-medium-1-2">   
                                                <p>
                                                    <input type="checkbox" name="" icheck="" ng-model="datos.ntelegram" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style=""><ins class="iCheck-helper" style=""></ins>
                                                    <label for="" class="inline-label">Notificar por Telegram </label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" name="" icheck="" ng-model="datos.ncorreo" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style=""><ins class="iCheck-helper" style=""></ins>
                                                    <label for="" class="inline-label">Notificar por correo </label>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Siguiente</button>
                            </div>
                        </wz-step>
                        <!--fin step 4-->

                        <!--inicio step 5-->
                        <wz-step wz-title="Archivos" template="app/templates/wizard.step.tpl.html">
                            <table class="uk-table uk-table-nowrap">
                                <tbody>
                                    <tr>
                                        <td style="border-bottom-style: none;">
                                            <input type="checkbox" name="" icheck="" ng-model="datos.adjuntarDte" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style=""><ins class="iCheck-helper" style=""></ins>
                                            <label for="" class="inline-label">Adjuntar XML de DTE</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-bottom-style: none;">
                                            <input type="checkbox" name="" icheck="" ng-model="datos.adjuntarDnt" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style=""><ins class="iCheck-helper" style=""></ins>
                                            <label for="" class="inline-label">Adjuntar XML de DNT</label>
                                        </td>
                                    </tr>                                    <tr>
                                        <td style="border-bottom-style: none;">
                                            <input type="checkbox" name="" icheck="" ng-model="datos.adjuntarPdf" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style=""><ins class="iCheck-helper" style=""></ins>
                                            <label for="" class="inline-label">Adjuntar PDF</label>
                                        </td>
                                    </tr>
                                    <!--<tr>
                                        <td style="border-bottom-style: none;">
                                            <div class="uk-input-group uk-width-medium-1-2" ng-if="datos.adjuntar == true">
                                                    <div class="md-btn md-btn-primary" style="width: 100%; padding: 1% 44% 1% 0%;">
                                                        <input id="file" type="file" multiple="">
                                                    </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-bottom-style: none;">
                                            <div class="uk-input-group uk-width-medium-1-2" ng-if="datos.adjuntarPdf == true">
                                                    <div class="md-btn md-btn-primary" style="width: 100%; padding: 1% 44% 1% 0%;">
                                                        <input id="filePdf" type="file" multiple="">
                                                    </div>
                                            </div>
                                        </td>
                                    </tr>-->
                                </tbody>
                            </table>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Siguiente</button>
                            </div>
                        </wz-step>
                        <!--fin step 5-->

                        <!--inicio step 3-->
                        <wz-step wz-title="Endpoint" template="app/templates/wizard.step.tpl.html">
                            <table class="uk-table uk-table-nowrap">
                                <tbody>
                                    <tr>
                                        <td style="border-bottom-style: none;">
                                            <div class="uk-input-group uk-width-medium-1-1">
                                                <!--<span class="uk-input-group-addon">a ver</span>-->
                                                <label for="">URL</label>
                                                <input add-on-space="true" class="md-input" ng-model="datos.url">
                                            </div>
                                        </td>
                                        <td style="border-bottom-style: none;">
                                            <div class="uk-input-group uk-width-medium-1-1">
                                                <!--<span class="uk-input-group-addon">a ver</span>-->
                                                <label for="">Token</label>
                                                <input add-on-space="true" class="md-input" ng-model="datos.token">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-bottom-style: none;">
                                            <div class="uk-input-group uk-width-medium-1-1">
                                                <!--<span class="uk-input-group-addon">a ver</span>-->
                                                <label for="">Usuario</label>
                                                <input add-on-space="true" class="md-input" ng-model="datos.usuario">
                                            </div>
                                        </td>
                                        <td style="border-bottom-style: none;">
                                            <div class="uk-input-group uk-width-medium-1-1">
                                                <!--<span class="uk-input-group-addon">a ver</span>-->
                                                <label for="">Contraseña</label>
                                                <input add-on-space="true" class="md-input" ng-model="datos.password" type="password">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next ng-click="crear()" >
                                <i ng-if="config.cargandoCrear" class="uk-icon-spinner uk-icon-spin"></i> {{config.verboCrear}} Webhook
                                </button>
                            </div>
                        </wz-step>
                        <!--fin step 3-->                       
                        </div>
                        <!--fin content-->
                    </wizard>
              </form>
              <!-- fin wizard-->
        </div>
    </div>

        <!--inicio listado webhooks-->
        <div class="md-card uk-margin-large-bottom">
            <div class="md-card-content uk-overflow-container">
                    <table class="uk-table uk-table-nowrap uk-table-hover" id="ListaDocElectRecibidos">
                        <thead>
                            <tr>
                                <th style="font-size: 9px;" class="uk-width-1-10 uk-text-center">ACTIVA</th>
                                <th style="font-size: 9px;" class="uk-width-1-10 uk-text-center">TIPO EVENTO</th>
                                <th style="font-size: 9px;" class="uk-width-1-10 uk-text-center">REINTENTOS</th>
                                <th style="font-size: 9px;" class="uk-width-1-10 uk-text-center">URL</th>
                                <th style="font-size: 9px;" class="uk-width-1-10 uk-text-center">NOMBRE</th>
                                <th style="font-size: 9px;" class="uk-width-2-10 uk-text-center">EMPRESA</th>                                
                                <th style="font-size: 9px;" class="uk-width-1-10 uk-text-center">USUARIO</th>                                
                                <th style="font-size: 9px;" class="uk-width-1-10 uk-text-center">ADJUNTO</th>                                
                                <th style="font-size: 9px;" class="uk-width-1-10 uk-text-center">FORMATO</th>                                
                                <th style="font-size: 9px;" class="uk-width-1-10 uk-text-center">ACCIONES</th><!-- acciones-->
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-if="config.cargando">
                                <td colspan="10" style="text-align: center;"><i class="uk-icon-spinner uk-icon-spin"></i> Buscando webhooks...</td>
                            </tr>

                            <tr ng-if="!config.cargando && webhooks.length == 0">
                                <td colspan="10" style="text-align: center;">No se encontró ningún webhook</td>
                            </tr>
                            
                            <tr ng-repeat="webhook in webhooks track by $index" id="webhook_{{$index}}" >
                                <td style="font-size: 9px;" class="uk-text-center">
                                    <i ng-if="webhook.activo" class="material-icons" >&#xE5CA;</i>
                                    <i ng-if="!webhook.activo" class="material-icons" >&#xE14C;</i>
                                </td>
                                <td style="font-size: 9px; vertical-align: middle;">
                                    <span ng-if="webhook.tipoEvento == 1" class="uk-badge">RECEPCION_ARCHIVO_INTEGRACION_TXT</span>
                                    <span ng-if="webhook.tipoEvento == 2" class="uk-badge">RECEPCION_ARCHIVO_INTEGRACION_XML</span>
                                    <span ng-if="webhook.tipoEvento == 3" class="uk-badge">ERROR_INTEGRACION</span>
                                    <span ng-if="webhook.tipoEvento == 4" class="uk-badge">DOCUMENTO_PREPROCESADO</span>
                                    <span ng-if="webhook.tipoEvento == 5" class="uk-badge">DOCUMENTO_FIRMADO</span>
                                    <span ng-if="webhook.tipoEvento == 6" class="uk-badge">DOCUMENTO_ENVIADO_EAI</span>
                                    <span ng-if="webhook.tipoEvento == 7" class="uk-badge">DOCUMENTO_RECEPCIONADO_EAI</span>
                                    <span ng-if="webhook.tipoEvento == 8" class="uk-badge">ERROR_AL_ENVIAR_A_EAI</span>
                                    <span ng-if="webhook.tipoEvento == 9" class="uk-badge">ERROR_RESPUESTA_EAI</span>
                                    <span ng-if="webhook.tipoEvento == 10" class="uk-badge">DOCUMENTO_ACEPTADO_EAI</span>
                                    <span ng-if="webhook.tipoEvento == 11" class="uk-badge">DOCUMENTO_ACEPTADO_REPAROS_EAI</span>
                                    <span ng-if="webhook.tipoEvento == 12" class="uk-badge">DOCUMENTO_RECHAZADO_EAI</span>
                                    <span ng-if="webhook.tipoEvento == 13" class="uk-badge">DOCUMENTO_ENVIADO_A_RECEPTOR</span>
                                    <span ng-if="webhook.tipoEvento == 14" class="uk-badge">DOCUMENTO_ENVIADO_A_DIRECCION_PERSONALIZADA</span>
                                    <span ng-if="webhook.tipoEvento == 15" class="uk-badge">DOCUMENTO_RECIBIDO_POR_RECEPTOR</span>
                                    <span ng-if="webhook.tipoEvento == 16" class="uk-badge">ENVIO_RECHAZADO_POR_RECEPTOR</span>
                                    <span ng-if="webhook.tipoEvento == 17" class="uk-badge">DOCUMENTO_ACEPTADO_COMERCIALEMENTE_POR_RECEPTOR</span>
                                    <span ng-if="webhook.tipoEvento == 18" class="uk-badge">DOCUMENTO_ACEPTADO_REPAROS_COMERCIALEMENTE_POR_RECEPTOR</span>
                                    <span ng-if="webhook.tipoEvento == 19" class="uk-badge">DOCUMENTO_RECHAZADO_COMERCIALEMENTE_POR_RECEPTOR</span>
                                    <span ng-if="webhook.tipoEvento == 20" class="uk-badge">ENVIO_RECIBO_DE_MERCADERIAS</span>
                                    <span ng-if="webhook.tipoEvento == 21" class="uk-badge">ENVIO_RECIBO_DE_MERCADERIAS_PARCIAL</span>
                                    <span ng-if="webhook.tipoEvento == 22" class="uk-badge">DEVOLUCION_TOTAL_DE_MERCADERIAS</span>
                                    <span ng-if="webhook.tipoEvento == 23" class="uk-badge">DEVOLUCION_PARCIAL_DE_MERCADERIAS</span>
                                    <span ng-if="webhook.tipoEvento == 24" class="uk-badge">COMENTARIO_DE_USUARIO</span>
                                    <span ng-if="webhook.tipoEvento == 25" class="uk-badge">ASIGNACION_FOLIO</span>
                                    <span ng-if="webhook.tipoEvento == 26" class="uk-badge">ASIGNACION_CAF</span>
                                    <span ng-if="webhook.tipoEvento == 27" class="uk-badge">ALMACENAMIENTO_XML_DOCUMENTO</span>
                                    <span ng-if="webhook.tipoEvento == 28" class="uk-badge">VISUALIZACION_XML</span>
                                    <span ng-if="webhook.tipoEvento == 29" class="uk-badge">VISUALIZACION_BASICA</span>
                                    <span ng-if="webhook.tipoEvento == 30" class="uk-badge">VISUALIZACION_IMAGEN_TIPO_0</span>
                                    <span ng-if="webhook.tipoEvento == 31" class="uk-badge">VISUALIZACION_IMAGEN_TIPO_1</span>
                                    <span ng-if="webhook.tipoEvento == 32" class="uk-badge">VISUALIZACION_IMAGEN_TIPO_2</span>
                                    <span ng-if="webhook.tipoEvento == 33" class="uk-badge">VISUALIZACION_IMAGEN_TIPO_3</span>
                                    <span ng-if="webhook.tipoEvento == 34" class="uk-badge">VISUALIZACION_IMAGEN_TIPO_4</span>
                                    <span ng-if="webhook.tipoEvento == 35" class="uk-badge">VISUALIZACION_IMAGEN_TIPO_5</span>
                                    <span ng-if="webhook.tipoEvento == 36" class="uk-badge">VISUALIZACION_IMAGEN_TIPO_6</span>
                                    <span ng-if="webhook.tipoEvento == 37" class="uk-badge">VISUALIZACION_IMAGEN_TIPO_7</span>
                                    <span ng-if="webhook.tipoEvento == 38" class="uk-badge">RECEPCION_DTE_SIN_VERIFICAR_EN_SII</span>
                                    <span ng-if="webhook.tipoEvento == 39" class="uk-badge">DTE_RECIBIDO_ACEPTADO_POR_EL_SII</span>
                                    <span ng-if="webhook.tipoEvento == 40" class="uk-badge">DTE_RECIBIDO_RECHAZADO_POR_EL_SII</span>
                                    <span ng-if="webhook.tipoEvento == 41" class="uk-badge">ALMACENAMIENTO_ADJUNTO_DOCUMENTO</span>
                                    <span ng-if="webhook.tipoEvento == 42" class="uk-badge">DOCUMENTO_CONSULTADO_EAI</span>
                                    <span ng-if="webhook.tipoEvento == 43" class="uk-badge">SOLICITUD_DTE_NO_RECIBIDO</span>
                                    <span ng-if="webhook.tipoEvento == 44" class="uk-badge">DOCUMENTO_CEDIDO</span>
                                    <span ng-if="webhook.tipoEvento == 45" class="uk-badge">CESION_RECHAZADA</span>
                                    <span ng-if="webhook.tipoEvento == 46" class="uk-badge">INFORMACION_DE_PAGO</span>
                                    <span ng-if="webhook.tipoEvento == 47" class="uk-badge">DTE_RECIBIDO_EN_VALIDACION</span>
                                    </td>   
                                <td style="font-size: 9px; vertical-align: middle; text-align: center">{{webhook.politicaReintentos}}</td>
                                <td style="font-size: 9px; vertical-align: middle;">{{webhook.url}}</td>
                                <td style="font-size: 9px; vertical-align: middle;">{{webhook.nombre}}</td>
                                <td style="font-size: 9px; vertical-align: middle; text-align: center">{{webhook.empresaId}}</td>
                                <td style="font-size: 9px; vertical-align: middle; text-align: center">
                                    <span ng-if="webhook.usuarioId"> {{webhook.usuarioId}}</span>
                                    <span ng-if="!webhook.usuarioId"> Global</span>
                                </td>

                                <td style="font-size: 9px; vertical-align: middle; text-align: center; width: 25px"><span ng-if="webhook.adjuntarDte">DTE</span><span ng-if="webhook.adjuntarDte && webhook.adjuntarDnt">/</span><span ng-if="webhook.adjuntarDnt">DNT</span><span ng-if="(webhook.adjuntarDte || webhook.adjuntarDnt) && webhook.adjuntarPdf">/</span><span ng-if="webhook.adjuntarPdf">PDF</span></td>
                                <td style="font-size: 9px; vertical-align: middle; text-align: center;"><img width="25" src="assets/icons/others/{{webhook.formato}}.svg"></td>
                                <td style="font-size: 100%; vertical-align: middle; background-color: #eee;" class="acciones" class="uk-width-2-10 uk-text-center" > 
                                    <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Listar Reglas" ng-click="listarWebhooksReglas(webhook.webhookId)">
                                        <i class="material-icons" >&#xE3C7;</i>
                                    </a>
                                    <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Modificar Webhook" ng-click="modificarWebhook(webhook)">
                                        <i class="material-icons" >&#xE3C9;</i>
                                    </a>
                                    <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Eliminar Webhook" ng-click="eliminarWebhook(webhook, $index)">
                                        <i class="material-icons" >&#xE872;</i>
                                    </a>
                                    <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Agregar Regla a Webhook" ng-click="modalAgregarWebhooksRegla(webhook, $index)">
                                        <i class="material-icons" >&#xE3BA;</i>
                                    </a>
                                    <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Suscripciones" ng-click="modalSuscripciones(webhook, $index)">
                                        <i class="material-icons" >&#xE7F4;</i>
                                    </a>                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--fin listado webhooks-->

            <!--modal listar reglas -->
                <div id="listarWebhookReglas" class="uk-modal" style="margin: 0 auto;">
                    <div class="uk-modal-dialog uk-modal-dialog-large" style="width: 50%;">
                        <div align="right"><a class="uk-modal-close uk-close" ng-click="backToCrear($event)"></a></div>

                        <div class="uk-grid" data-uk-grid-margin style="padding-bottom: 5px;">
                            <div class="uk-width-medium-2-2">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Reglas del Webhook </h3>
                            </div>

                            <div class="md-card-content uk-width-medium-1-1" style="padding: 30px">
                                <div class="uk-overflow-container">
                                    <table class="uk-table uk-table-nowrap uk-table-hover" id="ListadoReglas">
                                        <thead>
                                            <th style="font-size: 9px;" class="uk-width-2-10 uk-text-center">ACTIVA</th>
                                            <th style="font-size: 9px;" class="uk-width-2-10 uk-text-center">CONTINUAR</th>
                                            <th style="font-size: 9px;" class="uk-width-2-10 uk-text-center">NOMBRE</th>
                                            <th style="font-size: 9px;" class="uk-width-2-10 uk-text-center">DESCRIPCION</th>
                                            <th style="font-size: 9px;" class="uk-width-2-10 uk-text-center">PRIORIDAD</th>
                                            <th style="font-size: 9px;" class="uk-width-2-10 uk-text-center">ACCIONES</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="config.cargandoReglas">
                                                 <td colspan="8" style="text-align: center;"><i class="uk-icon-spinner uk-icon-spin"></i> Buscando Reglas del Webhooks...</td>
                                             </tr>

                                             <tr ng-if="!config.cargandoReglas && webhookReglas.length == 0">
                                                 <td colspan="8" style="text-align: center;">No se encontró ninguna regla</td>
                                             </tr>

                                            <tr ng-repeat="webhookRegla in webhookReglas track by $index" id="webhookRegla_{{webhookRegla.reglaId}}" >
                                                <td style="font-size: 9px;" class="uk-width-2-10 uk-text-center">
                                                    <i ng-if="webhookRegla.activa" class="material-icons" >&#xE5CA;</i>
                                                    <i ng-if="!webhookRegla.activa" class="material-icons" >&#xE14C;</i>
                                                </td>
                                                <td style="font-size: 9px;" class="uk-width-2-10 uk-text-center">
                                                    <i ng-if="webhookRegla.continuar" class="material-icons" >&#xE5CA;</i>
                                                    <i ng-if="!webhookRegla.continuar" class="material-icons" >&#xE14C;</i>
                                                </td>
                                                <td style="font-size: 9px; vertical-align: middle;">{{webhookRegla.nombre}}</td>
                                                <td style="font-size: 9px; vertical-align: middle;">{{webhookRegla.descripcion}}</td>
                                                <td style="font-size: 9px; vertical-align: middle; text-align: center;">{{webhookRegla.prioridad}}</td>
                                                <td style="font-size: 100%; vertical-align: middle; background-color: #eee;" class="acciones" class="uk-width-2-10 uk-text-center" > 

                                                    <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Modificar Regla" ng-click="modalModificarReglaWebhook(webhookRegla)">
                                                        <i class="material-icons" >&#xE3C9;</i>
                                                    </a>
                                                    <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Eliminar Regla" ng-click="eliminarWebhooksRegla(webhookRegla, $index)">
                                                        <i class="material-icons" >&#xE872;</i>
                                                    </a>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>          
                <!-- fin modal listar reglas -->

                <!--inicio modal modificar webhook-->
                <div id="modalModificarWebhook" class="uk-modal" style="margin: 0 auto;">
                    <div class="uk-modal-dialog uk-modal-dialog-large" style="width: 70%;">
                        <div align="right"><a class="uk-modal-close uk-close" ng-click="backToCrear($event)"></a></div>
                            <div class="uk-grid" data-uk-grid-margin style="padding-bottom: 5px;">
                                <div class="uk-width-medium-2-2">
                                    <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Modificación de Webhook </h3>
                                </div>
                                <div class="md-card-content uk-width-medium-1-1" style="padding: 4%">
                                <form id="form_modificarWebhook">
                                <table class="uk-table uk-table-nowrap">
                                    <tbody>
                                        <tr>
                                            <td style="border-bottom-style: none;">
                                                <div class="uk-input-group uk-width-medium-1-1">

                                                    <label for="tipos_evento-selectized-modificar">Seleccione el tipo de evento que desea</label>
                                                    <selectize id="tipos_evento_modificar" config="config.selectize" options="config.tiposDeEvento" position="bottom" ng-model="datos.modificarWebhook.tipo" class="ng-pristine ng-untouched ng-valid ng-isolate-scope selectized ng-empty ng-valid-required" tabindex="-1" style="display: none;" value=""></selectize><div class="selectize_fix"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="uk-table uk-table-nowrap">
                                    <tbody>
                                        <tr>
                                            <td style="border-bottom-style: none; width: 50%;">
                                                <div class="uk-input-group uk-width-medium-1-1">
                                                    <!--<span class="uk-input-group-addon">a ver</span>-->
                                                    <label for="">Nombre</label>
                                                    <input add-on-space="true" class="md-input" ng-model="datos.modificarWebhook.nombre"></input>
                                                </div>
                                            </td>
                                            <td style="border-bottom-style: none; width: 50%;">
                                                <div class="uk-input-group uk-width-medium-1-1">
                                                    <!--<span class="uk-input-group-addon"><i class="material-icons">&#xE0BE;</i></span>-->
                                                    <label for="correos">Notificar por Correo a:</label>
                                                    <tags-input add-on-space="true" class="md-input" ng-model="datos.modificarWebhook.correos"></tags-input>
                                             </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-bottom-style: none; width: 50%;">
                                                <div class="uk-input-group uk-width-medium-1-1">
                                                    <!--<span class="uk-input-group-addon">a ver</span>-->
                                                    <label for="">URL</label>
                                                    <input add-on-space="true" class="md-input" ng-model="datos.modificarWebhook.url"></input>
                                                </div>
                                            </td>
                                            <td style="border-bottom-style: none; width: 50%;">
                                                <div class="uk-input-group uk-width-medium-1-1">
                                                    <!--<span class="uk-input-group-addon">a ver</span>-->
                                                    <label for="">Token</label>
                                                    <input add-on-space="true" class="md-input" ng-model="datos.modificarWebhook.token"></input>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-bottom-style: none; width: 50%;">
                                                <div class="uk-input-group uk-width-medium-1-1">
                                                    <!--<span class="uk-input-group-addon">a ver</span>-->
                                                    <label for="">Usuario</label>
                                                    <input add-on-space="true" class="md-input" ng-model="datos.modificarWebhook.usuario"></input>
                                                </div>
                                            </td>
                                            <td style="border-bottom-style: none; width: 50%;">
                                                <div class="uk-input-group uk-width-medium-1-1">
                                                    <!--<span class="uk-input-group-addon">a ver</span>-->
                                                    <label for="">Contraseña</label>
                                                    <input add-on-space="true" class="md-input" ng-model="datos.modificarWebhook.password" type="password"></input>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="uk-table uk-table-nowrap">
                                    <tbody>
                                        <tr>
                                            <td style="border-bottom-style: none; width: 50%;">
                                                <div class="uk-input-group uk-width-medium-1-1">
                                                    <label for="">Invocar Flujo</label>
                                                    <input add-on-space="true" class="md-input" ng-model="datos.modificarWebhook.flujo"></input>
                                                </div>
                                            </td>
                                            <td style="border-bottom-style: none; width: 50%;">
                                                <div class="uk-input-group uk-width-medium-1-1">
                                                    <label for="">Reintentos</label>
                                                    <input add-on-space="true" class="md-input" ng-model="datos.modificarWebhook.reintentos" type="number" min="0"></input>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="uk-table uk-table-nowrap">
                                    <tbody>
                                        <tr>
                                            <td style="border-bottom-style: none; width: 50%;">
                                                <div class="uk-input-group uk-width-medium-1-1">
                                                    <p>
                                                        <input type="checkbox" name="" icheck="" ng-model="datos.modificarWebhook.activo" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style=""><ins class="iCheck-helper" style=""></ins>
                                                        <label for="" class="inline-label">Activar Webhook</label>
                                                    </p>
                                                    <p>
                                                        <input type="checkbox" name="" icheck="" ng-model="datos.adjuntarDte" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style=""><ins class="iCheck-helper" style=""></ins>
                                                        <label for="" class="inline-label">Adjuntar XML de DTE</label>
                                                    </p>
                                                    <p>
                                                        <input type="checkbox" name="" icheck="" ng-model="datos.adjuntarDnt" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style=""><ins class="iCheck-helper" style=""></ins>
                                                        <label for="" class="inline-label">Adjuntar XML de DNT</label>
                                                    </p>
                                                    <p>
                                                        <input type="checkbox" name="" icheck="" ng-model="datos.adjuntarPdf" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style=""><ins class="iCheck-helper" style=""></ins>
                                                        <label for="" class="inline-label">Adjuntar PDF</label>
                                                    </p>

                                                </div>
                                            </td>
                                            <td style="border-bottom-style: none; width: 50%;">
                                                <div class="uk-input-group uk-width-medium-1-1">
                                                        <label for="">Formato de Envío</label>
                                                    <p>
                                                        <span class="icheck-inline">
                                                            <input type="radio" name="formato" icheck="" ng-model="datos.modificarWebhook.formato" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty"  style="" value="JSON"><ins class="iCheck-helper" style=""></ins>
                                                            <label for="" class="inline-label">JSON</label>
                                                        </span>
                                                        <span class="icheck-inline">
                                                            <input type="radio" name="formato" icheck="" ng-model="datos.modificarWebhook.formato" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty"  style="" value="XML"><ins class="iCheck-helper" style=""></ins>
                                                            <label for="" class="inline-label">XML</label>
                                                        </span>
                                                    </p>
                                                </div>                                        
                                            </td> 
                                        </tr>
                                    </tbody>
                                </table>

                                    <!--
                                <table class="uk-table uk-table-nowrap">
                                    <tbody>
                                        <tr>
                                            <td style="border-bottom-style: none;">
                                                <div class="uk-input-group uk-width-medium-1-1" ng-if="datos.modificarWebhook.adjuntar==true">
                                            <h3 class="heading_a">
                                                        Carga de documento...
                                                        <span class="sub-heading">El documento que será cargado, debe ser en formato XML.</span>
                                                    </h3>
                                                    <hr>
                                                    <div class="file-field input-field uk-width-medium-1-1">
                                                        <div class="md-btn md-btn-primary" style="width: 100%; padding: 1% 44% 1% 0%;">
                                                            <input id="fileModificarWebhook" type="file" multiple="">
                                                        </div>
                                                    </div>
                                                </div></td>
                                        </tr>
                                    </tbody>
                                </table>
                                    -->

                                <div class="uk-clearfix uk-margin-large-top">
                                    <table class="uk-float-right">
                                        <tr>
                                            <td>
                                                <button class="md-btn md-btn-primary uk-float-right" type="submit" ng-click="cancelarCambiosWebhook()">Cancelar</button>
                                            </td>
                                            <td>
                                                <button class="md-btn md-btn-primary uk-float-right" type="submit" ng-click="enviarCambiosWebhook()"> <i ng-if="config.cargandoModificarWH" class="uk-icon-spinner uk-icon-spin"></i> {{config.verboModificar}} Webhook</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>          
                <!-- fin modal modificar webhook -->
                
                <!--modal agregar reglas -->
                <div id="agregarWebhookReglas" class="uk-modal" style="margin: 0 auto;">
                    <div class="uk-modal-dialog uk-modal-dialog-large" style="width: 50%;">
                        <div align="right"><a class="uk-modal-close uk-close" ng-click="backToCrear($event)"></a></div>

                        <div class="uk-grid" data-uk-grid-margin style="padding-bottom: 5px;">
                            <div class="uk-width-medium-2-2">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Agregar regla al webhook</h3>
                            </div>

                            <div class="md-card-content uk-width-medium-1-1" style="padding: 30px">
                                <div>
                                    <table class="uk-table uk-table-nowrap">
                                        <tbody>
                                            <tr>
                                                <td style="border-bottom-style: none;">
                                                    <div class="uk-input-group uk-width-medium-1-1">
                                                        <!--<span class="uk-input-group-addon">a ver</span>-->
                                                        <label for="">NOMBRE DE LA REGLA</label>
                                                        <input add-on-space="true" class="md-input" ng-model="datos.crearRegla.nombreRegla">
                                                    </div>
                                                </td>
                                                <td style="border-bottom-style: none;">
                                                    <div class="uk-input-group uk-width-medium-1-1">
                                                        <!--<span class="uk-input-group-addon">a ver</span>-->
                                                        <label for="">DESCRIPCIÓN</label>
                                                        <input add-on-space="true" class="md-input" ng-model="datos.crearRegla.descripcion">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom-style: none;">
                                                    <div class="uk-input-group uk-width-medium-1-2">
                                                        <span class="icheck-inline">
                                                            <input type="checkbox" name="" id="checkbox_activa" icheck="" ng-model="datos.crearRegla.activa" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty"  style="" ><ins class="iCheck-helper" style=""></ins>
                                                            <label for="" class="inline-label">Activa</label>
                                                        </span>
                                                    </div>
                                                    <div class="uk-input-group uk-width-medium-1-2">
                                                        <span class="icheck-inline">
                                                                <input type="checkbox" name="" id="checkbox_continuar" icheck="" ng-model="datos.crearRegla.continuar" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style=""><ins class="iCheck-helper" style=""></ins>
                                                                <label for="" class="inline-label">Continuar</label>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td style="border-bottom-style: none;">
                                                    <div class="uk-input-group uk-width-medium-1-1">
                                                        <label for="">Prioridad</label>
                                                        <input add-on-space="true" class="md-input" ng-model="datos.crearRegla.prioridad" type="number" min="0">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="uk-grid uk-grid-collapse" data-uk-grid-margin>
                                        <div class="uk-width-large-1-1">
                                            <div class="md-card md-card-single md-card-CodeMirror" single-card>
                                                <div class="md-card-toolbar">
                                                        <!-- <div class="md-card-toolbar-actions">
                                                            <card-fullscreen-activate></card-fullscreen-activate>   
                                                        </div>
                                                            <card-fullscreen-deactivate></card-fullscreen-deactivate> -->
                                                        <h3 class="md-card-toolbar-heading-text">
                                                            Escriba las reglas del Webhook en codigo Javascript
                                                        </h3>
                                                </div>
                                                <div class="md-card uk-margin-medium-bottom padding-reset" style=" padding: 5px;">
                                                        <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="datos.crearRegla.condicion"></ui-codemirror>                                                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="uk-float-right">
                                    <tr>
                                        <td>
                                            <button class="md-btn md-btn-primary uk-float-right" type="submit" ng-click="agregarWebhooksRegla()">
                                                <i ng-if="config.cargandoCrear" class="uk-icon-spinner uk-icon-spin"></i> {{config.verboCrear}} Regla
                                            </button>
                                        </td>
                                    </tr>
                                    </table>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>          
                <!-- fin modal agregar regla -->

                <!--inicio modal modificar regla webhook-->
                <div id="modalModificarReglaWebhook" class="uk-modal" style="margin: 0 auto;">
                    <div class="uk-modal-dialog uk-modal-dialog-large" style="width: 50%;">
                        <div align="right"><a class="uk-modal-close uk-close" ng-click="backToCrear($event)"></a></div>

                        <div class="uk-grid" data-uk-grid-margin style="padding-bottom: 5px;">
                            <div class="uk-width-medium-2-2">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Reglas del Webhook </h3>
                            </div>

                            <div class="md-card-content uk-width-medium-1-1" style="padding: 30px">
                                <div>
                                    <table class="uk-table uk-table-nowrap">
                                        <tbody>
                                            <tr>
                                                <td style="border-bottom-style: none;">
                                                    <div class="uk-input-group uk-width-medium-1-1">
                                                        <!--<span class="uk-input-group-addon">a ver</span>-->
                                                        <label for="">NOMBRE DE LA REGLA</label>
                                                        <input add-on-space="true" class="md-input" ng-model="datos.modificarRegla.nombreRegla">
                                                    </div>
                                                </td>
                                                <td style="border-bottom-style: none;">
                                                    <div class="uk-input-group uk-width-medium-1-1">
                                                        <!--<span class="uk-input-group-addon">a ver</span>-->
                                                        <label for="">DESCRIPCIÓN</label>
                                                        <input add-on-space="true" class="md-input" ng-model="datos.modificarRegla.descripcion">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom-style: none;">
                                                    <div class="uk-input-group uk-width-medium-1-2">
                                                        <span class="icheck-inline">
                                                            <input type="checkbox" name="" id="checkbox_activa" icheck="" ng-model="datos.modificarRegla.activa" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty"  style="" ><ins class="iCheck-helper" style=""></ins>
                                                            <label for="" class="inline-label">Activa</label>
                                                        </span>
                                                    </div>
                                                    <div class="uk-input-group uk-width-medium-1-2">
                                                        <span class="icheck-inline">
                                                                <input type="checkbox" name="" id="checkbox_continuar" icheck="" ng-model="datos.modificarRegla.continuar" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style=""><ins class="iCheck-helper" style=""></ins>
                                                                <label for="" class="inline-label">Continuar</label>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td style="border-bottom-style: none;">
                                                    <div class="uk-input-group uk-width-medium-1-1">
                                                        <label for="">Prioridad</label>
                                                        <input add-on-space="true" class="md-input" ng-model="datos.modificarRegla.prioridad" type="number" min="0">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="uk-grid uk-grid-collapse" data-uk-grid-margin>
                                        <div class="uk-width-large-1-1">
                                            <div class="md-card md-card-single md-card-CodeMirror" single-card>
                                                <div class="md-card-toolbar">
                                                        <!-- <div class="md-card-toolbar-actions">
                                                            <card-fullscreen-activate></card-fullscreen-activate>   
                                                        </div>
                                                            <card-fullscreen-deactivate></card-fullscreen-deactivate> -->
                                                        <h3 class="md-card-toolbar-heading-text">
                                                            Escriba las reglas del Webhook en codigo Javascript
                                                        </h3>
                                                </div>
                                                <div class="md-card uk-margin-medium-bottom padding-reset" style=" padding: 5px;">
                                                        <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="datos.modificarRegla.condicion"></ui-codemirror>                                                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="uk-float-right">
                                        <tr>
                                            <td>
                                                <button class="md-btn md-btn-primary uk-float-right" type="submit" ng-click="cancelarCambiosRegla()">Cancelar</button>
                                            </td>
                                            <td>
                                                <button class="md-btn md-btn-primary uk-float-right" type="submit" ng-click="enviarCambiosRegla()">
                                                    <i ng-if="config.cargandoModificar" class="uk-icon-spinner uk-icon-spin"></i> {{config.verboModificar}} Regla
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                        <td>

                                        </td>
                                    </tr>
                                    </table>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>          
                <!-- fin modal modificar webhook -->
                
                <!--inicio modal suscripciones-->
                <div id="modalSuscripciones" class="uk-modal" style="margin: 0 auto;">
                    <div class="uk-modal-dialog uk-modal-dialog-large" style="width: 35%;">
                        <div align="right"><a class="uk-modal-close uk-close" ng-click="backToCrear($event)"></a></div>

                        <div class="uk-grid" data-uk-grid-margin style="padding-bottom: 5px;">
                            <div class="uk-width-medium-2-2">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Suscripciones de {{usuarioNombre}} </h3>
                            </div>

                            <div class="md-card-content uk-width-medium-1-1" style="padding: 30px">
                                <div ng-if="!config.cargandoSuscripciones">
                                    <table class="uk-table uk-table-nowrap" >
                                        <tbody>
                                            <tr>
                                                <td style="border-bottom-style: none;">
                                                    <div class="uk-input-group uk-width-medium-1-2">
                                                    <p>                                                               
                                                        <input type="checkbox" name="" id="checkbox_activa" icheck="" ng-model="datos.modificarSuscripcion.ninterno" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty"  style="" ><ins class="iCheck-helper" style=""></ins>
                                                        <label for="" class="inline-label">Notificar por Interno</label>
                                                    </p>
                                                    <p>                                                               
                                                        <input type="checkbox" name="" id="checkbox_continuar" icheck="" ng-model="datos.modificarSuscripcion.ncorreo" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style=""><ins class="iCheck-helper" style=""></ins>
                                                        <label for="" class="inline-label">Notificar por Correo</label>
                                                    </p>
                                                    <p>
                                                        <input type="checkbox" name="" id="checkbox_continuar" icheck="" ng-model="datos.modificarSuscripcion.ntelegram" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style=""><ins class="iCheck-helper" style=""></ins>
                                                        <label for="" class="inline-label">Notificar por Telegram</label>
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="uk-float-right">
                                        <tr>
                                            <td>
                                                <button class="md-btn md-btn-primary uk-float-right" type="submit" ng-click="cancelarSuscripciones()">Cancelar</button>
                                            </td>
                                            <td>
                                                <button class="md-btn md-btn-primary uk-float-right" type="submit" ng-click="enviarSuscripciones()"> <i ng-if="config.cargandoModificarSuscripciones" class="uk-icon-spinner uk-icon-spin"></i> {{config.verboModificar}}</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div ng-if="config.cargandoSuscripciones" style="text-align: center;">
                                    <i class="uk-icon-spinner uk-icon-spin"></i> Buscando Suscripciones...
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>          
                <!-- fin modal suscripciones-->
    </div>
</div>