<div id="page_content">
    <div class="md-card uk-margin-medium-bottom">
        <div id="page_content_inner">
            <h3 class="heading_b uk-margin-bottom">Configuracion de Flujo <small style="color: #999">[{{estado}}]</small></h3>
            <h4>{{nombre}}</h4>
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-nowrap uk-table-hover">
                        <thead>
                            <tr>
                                <th class="uk-width-2-10 uk-text-center">Ruta</th>
                                <th class="uk-width-2-10 uk-text-center">Estado</th>
                                <th class="uk-width-2-10 uk-text-center">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-if="cargando">
                                <td colspan="4"><center><img src="ajax-loader.gif" /> Buscando...</center></td>
                        </tr>
                        <tr ng-if="configs.length == 0 && !cargando">
                            <td colspan="4"><center>No se encontraron configuraciones</center></td>
                        </tr>
                        <tr ng-repeat="config in configs track by $index">
                            <td class="uk-width-2-10 uk-text-center">{{config.path}}</td>
                            <td class="uk-width-2-10 uk-text-center">

                                <div ng-if="configs[$index].activo == true"><span style="color:green">Activo</span></div>
                                <div ng-if="configs[$index].activo == false"><span style="color:red">Inactivo</span></div>
                                <div ng-if="configs[$index].activo == -1"><span style="color:graytext">Procesando...</span></div>

                            </td>
                            <td class="uk-width-1-10 uk-text-center">

                                <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"  title="Desactivar" ng-if="configs[$index].activo == true" ng-click="cambiarEstado(config.flujoConfiguracionId, false)"><i style="color:red" class="material-icons">stop</i></a>
                                <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Activar" ng-if="configs[$index].activo == false" ng-click="cambiarEstado(config.flujoConfiguracionId, true)"><i style="color:green" class="material-icons">&#xE038;</i></a>
                                <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Procesando..." ng-if="configs[$index].activo == -1"><img src="/ajax-loader.gif" /></a>

                                <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Eliminar" ng-if="configs[$index].eliminando == 0" ng-click="eliminar(config.flujoConfiguracionId, $index, config.path)"><i class="material-icons">&#xE872;</i></a>
                                <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Eliminando..." ng-if="configs[$index].eliminando == 1" ><img src="/ajax-loader.gif" /></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <ul class="uk-pagination uk-margin-medium-top">
                            <li class="uk-disabled" ng-if="filtros.pagina>1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                            <li class="uk" ng-if="filtros.pagina!=1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                            <li ng-repeat="pag in filtros.paginas track by $index" class="uk{{(filtros.pagina==pag.numero?'-active':'')}}"><a href="" ng-click="cambiarPagina($index)">{{pag.numero}}</a></li>
                            <li class="uk-disabled" ng-if="filtros.pagina==totalPaginas && totalPaginas>1"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                            <li class="uk" ng-if="filtros.pagina!=totalPaginas"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<div ng-switch="estadoCodigo">
    <div ng-switch-when="1" class="md-fab-wrapper md-fab-speed-dial" style="right: 180px;">
        <a class="md-fab md-fab-success" href="javascript:void(0)" ng-click="cambiarEstado('', true)" data-uk-tooltip="{pos:'right'}" title="Iniciar Flujo"><i style="color: white" class="material-icons">play_arrow</i></a>
    </div>
    <div ng-switch-when="2" class="md-fab-wrapper md-fab-speed-dial" style="right: 180px;">
        <a class="md-fab md-fab-danger" href="javascript:void(0)" ng-click="cambiarEstado('', false)" data-uk-tooltip="{pos:'right'}" title="Detener Flujo"><i style="color: white" class="material-icons">stop</i></a>
    </div>
    <div ng-switch-when="-1" class="md-fab-wrapper md-fab-speed-dial" style="right: 180px;">
        <a class="md-fab" href="javascript:void(0)" data-uk-tooltip="{pos:'right'}" title="Verificando estado..."><img style="margin-top:24px;" src="/ajax-loader.gif" /></a>
    </div>
</div>
<div class="md-fab-wrapper md-fab-speed-dial" style="right:100px">
    <a class="md-fab md-fab-success" href="javascript:void(0)" ng-click="agregarPathModal()" data-uk-tooltip="{pos:'right'}" title="Agregar Ruta"><i style="color: white" class="material-icons">add</i></a>
</div>

<!-- modal para agregar PATH de configuracion -->
<div id="mdCrear" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>

        <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
            <div id="crear_form">
                <div style="padding: 5px 0px 0px 37px;">
                    <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Agregar Ruta de lectura</h3>
                </div>
                <div style="padding: 24px 24px 30px;">
                    <div class="md-card-content">
                        <div class="">
                            <form>
                                <label for="path">Ruta</label>
                                <input class="md-input" type="text" id="path" ng-model="ruta" md-input />
                                <button class="md-btn md-btn-success md-btn-small md-btn-wave-light waves-effect waves-button waves-light" ng-click="agregarPath()">Agregar</button>
                            </form>
                        </div>
                    </div>
                </div>
                <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;z-index: -99" class="ng-scope" />
            </div>
        </div>
    </div>
</div>