<!-- main header -->
<style>
    .empresaActual:hover{
        cursor:pointer;
        text-shadow: 1px 1px #ccc;
    }
</style>
<header id="header_main" ng-controller="main_headerCtrl">
    <div class="header_main_content">
        <nav class="uk-navbar">
            <div class="main_logo_top" ng-if="topMenuActive || fullHeaderActive">
                <a ui-sref="restricted.dashboard"><img ng-src="assets/img/logo_main_white.png" alt="" add-image-prop/></a>
            </div>
            <!-- main sidebar switch -->
            <sidebar-primary-toggle></sidebar-primary-toggle>
            <!-- secondary sidebar switch -->
            <sidebar-secondary-toggle ng-class="{ 'uk-hidden-large': secondarySidebarHiddenLarge }"></sidebar-secondary-toggle>
            <div id="menu_top_dropdown" class="uk-float-left uk-hidden-small" ng-hide="topMenuActive" ng-if="false">
                <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" >
                    <a href="#" class="top_menu_toggle"><i class="material-icons md-24">&#xE8F0;</i></a>
                    <div class="uk-dropdown uk-dropdown-width-3">
                        <div class="uk-grid uk-dropdown-grid" data-uk-grid-margin>
                            <div class="uk-width-2-3">
                                <div class="uk-grid uk-grid-width-medium-1-3 uk-margin-bottom uk-text-center">
                                    <a ui-sref="restricted.pages.mailbox" class="uk-margin-top">
                                        <i class="material-icons md-36">&#xE158;</i>
                                        <span class="uk-text-muted uk-display-block">Mailbox</span>
                                    </a>
                                    <a ui-sref="restricted.pages.invoices" class="uk-margin-top">
                                        <i class="material-icons md-36">&#xE53E;</i>
                                        <span class="uk-text-muted uk-display-block">Invoices</span>
                                    </a>
                                    <a ui-sref="restricted.pages.chat" class="uk-margin-top">
                                        <i class="material-icons md-36 md-color-red-600">&#xE0B9;</i>
                                        <span class="uk-text-muted uk-display-block">Chat</span>
                                    </a>
                                    <a ui-sref="restricted.pages.scrum_board" class="uk-margin-top">
                                        <i class="material-icons md-36">&#xE85C;</i>
                                        <span class="uk-text-muted uk-display-block">Scrum Board</span>
                                    </a>
                                    <a ui-sref="restricted.pages.snippets" class="uk-margin-top">
                                        <i class="material-icons md-36">&#xE86F;</i>
                                        <span class="uk-text-muted uk-display-block">Snippets</span>
                                    </a>
                                    <a ui-sref="restricted.pages.user_profile" class="uk-margin-top">
                                        <i class="material-icons md-36">&#xE87C;</i>
                                        <span class="uk-text-muted uk-display-block">User profile</span>
                                    </a>
                                </div>
                            </div>
                            <div class="uk-width-1-3">
                                <ul class="uk-nav uk-nav-dropdown uk-panel">
                                    <li class="uk-nav-header">Components</li>
                                    <li><a ui-sref="restricted.components.accordion">Accordions</a></li>
                                    <li><a ui-sref="restricted.components.buttons">Buttons</a></li>
                                    <li><a ui-sref="restricted.components.notifications">Notifications</a></li>
                                    <li><a ui-sref="restricted.components.sortable">Sortable</a></li>
                                    <li><a ui-sref="restricted.components.tabs">Tabs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav user_actions">
                    <li class="empresaActual" style="color: white;margin-top:15px" ng-click="cambiarEmpresa()">
                        {{sesion.empresa.fantasia}}
                        <i ng-if="app!='cloud'" class="material-icons" style="color:white">
                            arrow_forward_ios
                        </i>
                        {{ app==='proveedores'?sesion.cliente.fantasia:'' }}{{app==='cliente'?sesion.proveedor.fantasia:''}}
                    </li>
                    <li permiso="FEB99|bottom">
                        <a class="user_action_icon uk-visible-large" id="ayuda" ng-click="ayuda()">
                            <i class="material-icons md-24 md-light">&#xE887;</i>
                        </a>
                    </li>


                    <li><a href="#" class="user_action_icon uk-visible-large" id="full_screen_toggle" full-screen-toggle><i class="material-icons md-24 md-light">&#xE5D0;</i></a></li>
                    <li ng-if="false"><main-search-show></main-search-show></li>
                    <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}" ng-if="false">
                        <a href="#" class="user_action_icon"><i class="material-icons md-24 md-light">&#xE7F4;</i><span class="uk-badge">16</span></a>
                        <div class="uk-dropdown uk-dropdown-xlarge">
                            <div class="md-card-content">
                                <ul class="uk-tab uk-tab-grid" data-uk-tab="{connect:'#header_alerts',animation:'slide-horizontal'}">
                                    <li class="uk-width-1-2 uk-active"><a href="#" class="js-uk-prevent">Messages ({{messages_length}})</a></li>
                                    <li class="uk-width-1-2"><a href="javascript:void(0)" class="js-uk-prevent">Alerts ({{alerts_length}})</a></li>
                                </ul>
                                <ul id="header_alerts" class="uk-switcher uk-margin">
                                    <li>
                                        <ul class="md-list md-list-addon">
                                            <li ng-repeat="message in user_data.messages">
                                                <div class="md-list-addon-element">
                                                    <span class="md-user-letters md-bg-{{message.color}}-600 md-color-white" ng-if="!message.avatar">{{message.sender| initials}}</span>
                                                    <img class="md-user-image md-list-addon-avatar" ng-src="{{message.avatar}}" alt=""  ng-if="message.avatar"/>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading"><a ui-sref="restricted.pages.mailbox">{{message.title}}</a></span>
                                                    <span class="uk-text-small uk-text-muted">{{message.content}}</span>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="uk-text-center uk-margin-top uk-margin-small-bottom">
                                            <a sref="restricted.pages.mailbox" class="md-btn md-btn-flat md-btn-flat-primary js-uk-prevent">Show All</a>
                                        </div>
                                    </li>
                                    <li>
                                        <ul class="md-list md-list-addon">
                                            <li ng-repeat="alert in user_data.alerts">
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons uk-text-warning" ng-if="alert.type == 'warning'">&#xE8B2;</i>
                                                    <i class="md-list-addon-icon material-icons uk-text-success" ng-if="alert.type == 'success'">&#xE88F;</i>
                                                    <i class="md-list-addon-icon material-icons uk-text-danger" ng-if="alert.type == 'danger'">&#xE001;</i>
                                                    <i class="md-list-addon-icon material-icons uk-text-primary" ng-if="alert.type == 'primary'">&#xE8FD;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{alert.title}}</span>
                                                    <span class="uk-text-small uk-text-muted uk-text-truncate">{{alert.content}}</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                        <a ng-if="sesion.usuario.avatar" href="#" class="user_action_image"><img class="md-user-image" ng-src="{{sesion.usuario.avatar}}" alt="" add-image-prop/></a>
                        <a ng-if="!sesion.usuario.avatar" href="#" class="user_action_image"><img class="md-user-image" ng-src="{{ 'https://api.adorable.io/avatars/285/'+sesion.usuario.correo+'.png' }}" alt="" add-image-prop/></a>
                        <div class="uk-dropdown uk-dropdown-small">
                            <ul class="uk-nav js-uk-prevent">
                                <li><a ui-sref="restringido.perfil_usuario({app:app})">Perfil</a></li>
                                <!--li><a ui-sref="restricted.pages.settings">Settings</a></li-->
                                <!--li><a ui-sref="login">Login Page</a></li-->
                                <li><a ng-click="logout()">Salir</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="header_main_search_form">
        <main-search-hide ng-if="!mainSearchPersistent"></main-search-hide>
        <form class="uk-form uk-autocomplete" data-uk-autocomplete="{source:'data/search_data.json'}">
            <input type="text" class="header_main_search_input" />
            <button class="header_main_search_btn uk-button-link"><i class="md-icon material-icons">&#xE8B6;</i></button>
            <script type="text/autocomplete">
                <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results" id="autocomplete_results">
                {{~items}}
                <li data-value="{{ $item.value }}">
                <a href="{{ $item.url }}" class="item needsclick">
                {{ $item.value }}<br>
                <span class="uk-text-muted uk-text-small">{{{ $item.text }}}</span>
                </a>
                </li>
                {{/items}}
                </ul>
            </script>
        </form>
    </div>

</header><!-- main header end -->
<div class="uk-modal uk-modal-card-fullscreen" id="modal_ayuda">
    <div ng-include="'app/febos/ayuda/ayudaView.html'" ng-controller="ayudaCtrl"></div>
</div>