/* style switcher */
#config_filtros {
  position: fixed;
  right: 0;
  top: 140px;
  background: #fff;
  width: 320px;
  z-index: 1094;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
  margin-right: -326px;
  -webkit-transition: margin 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: margin 280ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.26);
}
#config_filtros.switcher_active {
  margin-right: 0;
}
#config_filtros_toggle {
  position: absolute;
  top: 8px;
  left: -44px;
  width: 44px;
  height: 36px;
  background: #fff;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  padding: 0 8px;
  -webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.26);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1096;
}
#config_filtros_toggle .material-icons {
  font-size: 24px;
  line-height: 36px;
  color: #212121;
}
