
<br/>

<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid blog_article" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                <div class="md-card">
                    <div class="md-card-content large-padding">
                        <div class="uk-article" ng-if="!cargando">
                            <h1 class="uk-article-title">{{novedad.titulo}}</h1>
                            <p class="uk-article-meta">
                                Escrito por {{nombreAutor}} el {{novedad.fecha}}
                                <br>{{correoAutor}}</a>
                            </p>
                            <p class="uk-article-lead">{{novedad.resumen}}</p>
                            <hr class="uk-article-divider" ng-if="novedad.imagenCabeceraUrl || novedad.videoCabeceraUrl">
                            <img ng-if="novedad.imagenCabeceraUrl" ng-src="{{novedad.imagenCabeceraUrl}}" alt="" class="blog_list_teaser_image">
                            <div class="uk-cover blog_list_teaser_video" ng-if="novedad.videoCabeceraUrl">
                                <iframe data-uk-cover ng-src="{{novedad.videoCabeceraUrl}}" frameborder="0" allowfullscreen style="max-width: 100%"></iframe>
                            </div>
                            <hr class="uk-article-divider">
                            <div ng-bind-html="contenido">

                            </div>
                        </div>
                        <div class="uk-article" ng-if="cargando">
                            Cargando artículo...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a ui-sref="restringido.listarNovedades({ app:app })">
            <div style="position: absolute; top:100px;right:100px" id="todos-list-articulos">
                <i class="material-icons">&#xE896;</i> Ver todos los artículos
            </div>
        </a>
    </div>
</div>
<div class="md-fab-wrapper md-fab-speed-dial" ng-if="puedeEditar" style="right:100px">
    <a class="md-fab md-fab-danger" ui-sref="restringido.editarNovedad({ novedadId: novedad.novedadId,app:app })" data-uk-tooltip="{pos:'right'}" title="Editar articulo"><i class="material-icons">&#xE22B;</i></a>
</div>

