
<div class="uk-container uk-container-center">
    <div class="md-card">
        <div class="md-card-content padding-reset">
            <div class="uk-grid uk-grid-collapse">
                <div class="uk-width-large-2-3 uk-hidden-medium uk-hidden-small">
                    <div class="login_page_info uk-height-1-1" style="background-image: url('assets/img/others/sabri-tuzcu-331970.jpg')">
                        <div class="info_content">
                            <h1 class="heading_b">Login Page Header</h1>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut culpa cumque eaque earum error esse exercitationem fuga, fugiat harum perferendis praesentium quasi qui, repellendus sapiente, suscipit totam! Eaque, excepturi!
                            <p>
                                <a class="md-btn md-btn-success md-btn-small md-btn-wave" href="javascript:void(0)">More info</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-width-large-1-3 uk-width-medium-2-3 uk-container-center">
                    <div class="login_page_forms">
                        <div id="login_card">
                            <div id="login_form">
                                <div class="login_heading">
                                    <div class="user_avatar"></div>
                                </div>
                                <form>
                                    <div class="uk-form-row">
                                        <label for="login_username">Username</label>
                                        <input class="md-input" type="text" id="login_username" ng-model="login_username" md-input />
                                    </div>
                                    <div class="uk-form-row">
                                        <label for="login_password">Password</label>
                                        <input class="md-input" type="password" id="login_password" ng-model="login_password" md-input />
                                    </div>
                                    <div class="uk-margin-medium-top">
                                        <a ui-sref="restricted.dashboard" class="md-btn md-btn-primary md-btn-block md-btn-large">Sign In</a>
                                    </div>
                                    <div class="uk-grid uk-grid-width-1-3 uk-grid-small uk-margin-top">
                                        <div><a href="#" class="md-btn md-btn-block md-btn-facebook" data-uk-tooltip="{pos:'bottom'}" title="Sign in with Facebook"><i class="uk-icon-facebook uk-margin-remove"></i></a></div>
                                        <div><a href="#" class="md-btn md-btn-block md-btn-twitter" data-uk-tooltip="{pos:'bottom'}" title="Sign in with Twitter"><i class="uk-icon-twitter uk-margin-remove"></i></a></div>
                                        <div><a href="#" class="md-btn md-btn-block md-btn-gplus" data-uk-tooltip="{pos:'bottom'}" title="Sign in with Google+"><i class="uk-icon-google-plus uk-margin-remove"></i></a></div>
                                    </div>
                                    <div class="uk-margin-top">
                                        <a href="#" id="login_help_show" class="uk-float-right" ng-click="loginHelp($event)">Need help?</a>
                                        <span class="icheck-inline">
                                            <input type="checkbox" name="login_page_stay_signed" id="login_page_stay_signed" icheck ng-model="login_signed" />
                                            <label for="login_page_stay_signed" class="inline-label">Stay signed in</label>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <div class="uk-position-relative" id="login_help" style="display: none">
                                <button type="button" class="uk-position-top-right uk-close uk-margin-right back_to_login" ng-click="backToLogin($event)"></button>
                                <h2 class="heading_b uk-text-success">Can't log in?</h2>
                                <p>Here's the info to get you back in to your account as quickly as possible.</p>
                                <p>First, try the easiest thing: if you remember your password but it isn't working, make sure that Caps Lock is turned off, and that your username is spelled correctly, and then try again.</p>
                                <p>If your password still isn't working, it's time to <a href="#" id="password_reset_show" ng-click="passwordReset($event)">reset your password</a>.</p>
                            </div>
                            <div class="md-card-content large-padding" id="login_password_reset" style="display: none">
                                <button type="button" class="uk-position-top-right uk-close uk-margin-right back_to_login" ng-click="backToLogin($event)"></button>
                                <h2 class="heading_a uk-margin-large-bottom">Reset password</h2>
                                <form>
                                    <div class="uk-form-row">
                                        <label for="login_email_reset">Your email address</label>
                                        <input class="md-input" type="text" id="login_email_reset" ng-model="login_email_reset" md-input />
                                    </div>
                                    <div class="uk-margin-medium-top">
                                        <a ui-sref="restricted.dashboard" class="md-btn md-btn-primary md-btn-block">Reset password</a>
                                    </div>
                                </form>
                            </div>
                            <div id="register_form" style="display: none">
                                <button type="button" class="uk-position-top-right uk-close uk-margin-right back_to_login" ng-click="backToLogin($event)"></button>
                                <h2 class="heading_a uk-margin-medium-bottom">Create an account</h2>
                                <form>
                                    <div class="uk-form-row">
                                        <label for="register_username">Username</label>
                                        <input class="md-input" type="text" id="register_username" ng-model="register_username" md-input />
                                    </div>
                                    <div class="uk-form-row">
                                        <label for="register_password">Password</label>
                                        <input class="md-input" type="password" id="register_password" ng-model="register_password" md-input />
                                    </div>
                                    <div class="uk-form-row">
                                        <label for="register_password_repeat">Repeat Password</label>
                                        <input class="md-input" type="password" id="register_password_repeat" ng-model="register_password_repeat" md-input />
                                    </div>
                                    <div class="uk-form-row">
                                        <label for="register_email">E-mail</label>
                                        <input class="md-input" type="text" id="register_email" ng-model="register_email" md-input />
                                    </div>
                                    <div class="uk-margin-medium-top">
                                        <a ui-sref="restricted.dashboard" class="md-btn md-btn-primary md-btn-block md-btn-large">Sign Up</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="uk-margin-top uk-text-center">
                            <a href="#" id="signup_form_show" ng-hide="registerFormActive" ng-click="registerForm($event)">Create an account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>