<div id="page_content">
        <div id="page_content_inner">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-large-7-10">
                    <div class="md-card">
                        <div class="user_heading" data-uk-sticky="{ top: 48, media: 960 }">
                            <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail">
                                    <img ng-src="{{work}}" alt="user avatar"/>
                                </div>
                            </div>
    
                            <div class="user_heading_content">
                                <h2 class="heading_b">
                                    <span class="uk-text-truncate" id="user_edit_uname">{{ usuario.nombre }}</span>
                                    <span class="sub-heading" id="user_edit_position">{{ usuario.correo }}</span>
                                </h2>
                            </div>
    
                           <!-- <div class="md-fab-wrapper">
                                <div class="md-fab md-fab-small md-fab-accent">
                                    <i class="material-icons">&#xE150;</i>
                                </div>
                            </div>-->
                        </div>
    
                        <div class="user_content">
                            <ul id="user_edit_tabs" class="uk-tab" data-uk-tab="{connect:'#user_edit_tabs_content'}">
                                <li class="uk-active"><a href="#">Información</a></li>
                                <li><a href="#">Avatar</a></li>
                                <li><a href="#">Actividad</a></li>
                            </ul>
    
                            <ul id="user_edit_tabs_content" class="uk-switcher uk-margin">
                                <!-- inicio modifica perfil de usuario -->
                                <li>
                                    <div id="md-card-content">
                                        <div class="md-card-content large-padding uk-position-relative" id="crear_ok" style="display: {{ mensaje }}; width: 50%; margin: 0 auto; text-align: center;">
                                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear()"></button>
                                            <h2 class="heading_b uk-text-success">Los datos fueron actualizados exitosamente!</h2>
                                        </div>
    
                                        <div>
                                            <form>
                                                <div class="uk-margin-top">
                                                    <div class="uk-grid">
                                                        <div class="uk-width-1-1">
                                                            <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-2" data-uk-grid-margin>
                                                                <div>
                                                                    <div class="uk-input-group">
                                                                        <span class="uk-input-group-addon"><i class="md-list-addon-icon material-icons">&#xE90D;</i></span>
                                                                        <label for="rut">RUT</label>
                                                                        <input type="text" class="md-input" name="rut" ng-model="usuario.rut" md-input maxlength="10" disabled="disabled" />
                                                                    </div>
                                                                </div>
    
                                                                <div>
                                                                    <div class="uk-input-group">
                                                                        <span class="uk-input-group-addon"><i class="md-list-addon-icon material-icons">&#xE853;</i></span>
                                                                        <label for="nombre">Nombre</label>
                                                                        <input type="text" class="md-input" name="nombre" ng-model="usuario.nombre" md-input maxlength="30" />
                                                                    </div>
                                                                </div>
    
                                                                <div>
                                                                    <div class="uk-input-group">
                                                                        <span class="uk-input-group-addon"><i class="md-list-addon-icon material-icons">&#xE87D;</i></span>
                                                                        <label for="alias">Alias</label>
                                                                        <input type="text" class="md-input" name="alias" ng-model="usuario.alias" md-input maxlength="20" />
                                                                    </div>
                                                                </div>
    
                                                                <div>
                                                                    <div class="uk-input-group">
                                                                        <span class="uk-input-group-addon"><i class="md-list-addon-icon material-icons">&#xE158;</i></span>
                                                                        <label for="correo">Email</label>
                                                                        <input type="text" class="md-input" name="correo" ng-model="usuario.correo" md-input maxlength="30" />
                                                                    </div>
                                                                </div>
    
                                                                <input type="hidden" class="md-input" name="id" ng-model="usuario.id" />
    
                                                                <!--<div>
                                                                    <div class="uk-input-group">
                                                                        <span class="uk-input-group-addon"><i class="md-list-addon-icon material-icons">&#xE876;</i></span>
                                                                        <label>Miembro desde</label>
                                                                        <input type="text" class="md-input" name="user_edit_email" ng-model="user_data_contacts.email" md-input />
                                                                    </div>
                                                                </div>
    
                                                                <div>
                                                                    <div class="uk-input-group">
                                                                        <span class="uk-input-group-addon"><i class="md-list-addon-icon material-icons">&#xE878;</i></span>
                                                                        <label>Ultimo ingreso</label>
                                                                        <input type="text" class="md-input" name="user_edit_email" ng-model="user_data_contacts.email" md-input />
                                                                    </div>
                                                                </div>
    
                                                                <div>
                                                                    <div class="uk-input-group">
                                                                        <span class="uk-input-group-addon"><i class="md-list-addon-icon material-icons">&#xE894;</i></span>
                                                                        <label>IP último ingreso</label>
                                                                        <input type="text" class="md-input" name="user_edit_email" ng-model="user_data_contacts.email" md-input readonly/>
                                                                    </div>
                                                                </div>-->
                                                            </div>
    
                                                            <br /><br />
    
                                                            <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-2" data-uk-grid-margin>
                                                                <div class="uk-margin-medium-top">
                                                                    <a ng-click="modificaClave()" class="md-btn md-btn-danger md-btn-block md-btn-large">
                                                                        Modificar Contraseña
                                                                    </a>
                                                                </div>
    
                                                                <div class="uk-margin-medium-top">
                                                                    <a ng-click="modificaPerfil()" class="md-btn md-btn-warning md-btn-block md-btn-large">
                                                                        <span class="menu_icon" ng-if="usuario.textoPerfil != 'ACTUALIZAR PERFIL'">
                                                                            <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                                        </span>
                                                                        {{ usuario.textoPerfil }}
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                <!-- fin modifica perfil de usuario -->
    
                                <!-- inicio selección de imagen de usuario -->
                                <li>
                                    <p class="uk-text-muted uk-text-small">Seleccione el color y tipo de cara que desea usar como avatar.</p>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-1-3">
                                            <div class="uk-grid">
                                                <div class="uk-width-1-1">
                                                    <a class="md-btn" ng-click="ojoAnterior()" style="margin-left: 10px;"><i class="material-icons">&#xE314;</i></a> Ojos
                                                    <a class="md-btn" ng-click="ojoSiguiente()" style="margin-left: 11px;"><i class="material-icons">&#xE315;</i></a>
                                                </div>
    
                                                <div class="uk-width-1-1">
                                                    <a class="md-btn" ng-click="narizAnterior()" style="margin-left: 10px;"><i class="material-icons">&#xE314;</i></a> Nariz
                                                    <a class="md-btn" ng-click="narizSiguiente()"><i class="material-icons">&#xE315;</i></a>
                                                </div>
    
                                                <div class="uk-width-1-1">
                                                    <a class="md-btn" ng-click="bocaAnterior()" style="margin-left: 10px;"><i class="material-icons">&#xE314;</i></a> Boca
                                                    <a class="md-btn" ng-click="bocaSiguiente()"><i class="material-icons">&#xE315;</i></a>
                                                </div>
    
                                            </div>
                                        </div>
    
                                        <div class="uk-width-1-3">
                                            <img ng-src="{{work}}" alt="avatar"/>
                                        </div>
    
                                        <div class="uk-width-1-3">
                                            <input kendo-color-picker ng-model="color" k-buttons="false" k-select="true" k-preview="true" k-input="false" />
                                        </div>
                                    </div>
    
                                  <!--
                                  <div ng-controller="perfilCtrl">
                                    <input type="file" name="file" onchange="angular.element(this).scope().photoChanged(this.files)" />
                                    <p><img ng-src="{{ thumbnail.dataUrl }}"/></p>
                                    <p><button class="md-btn md-btn-primary md-btn-small waves-effect waves-button waves-light" ng-click="add()">Guardar</button></p>
                                  </div>
                                -->
                                </li>
                                <!-- fin selección de imagen de usuario -->
    
                                <!-- inicio de actividades del usuario -->
                                <li>
                                    <ul class="md-list md-list-addon" id="user_todo">
                                        <li class="" ng-class="{'md-list-item-disabled': todo.closed}" ng-repeat="todo in user_data.todo">
                                            <div class="md-list-addon-element">
                                                <input name="todo_item_{{$index}}" type="checkbox" icheck ng-model="todo.closed" />
                                            </div>
    
                                            <div class="md-list-content">
                                                <span class="md-list-heading" ng-class="{'uk-text-danger': todo.important}">{{ todo.title }}</span>
                                                <span class="uk-text-small" ng-class="{'uk-text-danger': todo.important, 'uk-text-muted': !todo.important}">{{ todo.description }}</span>
                                            </div>
                                        </li>
    
    
                                        <div id="">
                                            <div id="">
                                                <h3 class="heading_b uk-margin-bottom">Actividades</h3>
    
                                                <div class="md-card uk-margin-medium-bottom">
                                                    <div class="md-card md-card-collapsed">
                                                        <div class="md-card-toolbar">
                                                            <div class="md-card-toolbar-actions">
                                                                <font color="black">Click aquí para desplegar los filtros <i class="material-icons">arrow_forward</i></font><card-toggle></card-toggle>
                                                            </div>
    
                                                            <h3 class="md-card-toolbar-heading-text">Filtros</h3>
                                                        </div>
    
                                                        <div class="md-card-content" style="font-size: 10px;">
                                                            <div class="uk-grid" data-uk-grid-margin>
                                                                <div class="uk-width-medium-1-3">
                                                                    <div class="uk-input-group">
                                                                        <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                                                        <label for="filtroFechaDesde">Fecha Desde</label>
                                                                        <input style="font-size: 10px;" class="md-input" type="text" id="filtroFechaDesde" md-input ng-model="filtros.fechaDesde" data-uk-datepicker="{weekstart:0, format:'YYYY-MM-DD', i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], weekdays: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa']}}">
                                                                    </div>
                                                                </div>
    
                                                                <div class="uk-width-medium-1-3">
                                                                    <div class="uk-input-group">
                                                                        <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                                                        <label for="filtroFechaHasta">Fecha Hasta</label>
                                                                        <input style="font-size: 10px;" class="md-input" type="text" id="filtroFechaHasta" md-input ng-model="filtros.fechaHasta" data-uk-datepicker="{weekstart:0, format:'YYYY-MM-DD', i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], weekdays: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa']}}">
                                                                    </div>
                                                                </div>
    
                                                                <div class="uk-width-medium-1-3">
                                                                    <div class="uk-input-group">
                                                                        <span class="uk-input-group-addon"><i class="md-list-addon-icon material-icons">&#xE894;</i></span>
                                                                        <label for="filtroDireccionIp">Direccion IP</label>
                                                                        <input style="font-size: 10px;" class="md-input" type="text" id="filtroDireccionIp" md-input ng-model="filtros.direccionIp">
                                                                    </div>
                                                                </div>
                                                            </div>
    
                                                            <div class="uk-grid" data-uk-grid-margin style="margin-top: 7%;">
                                                                <div class="uk-width-medium-1-3">
                                                                    <div class="uk-form-row">
                                                                        <div class="uk-grid">
                                                                            <div class="uk-width-medium-1-1">
                                                                                <span class="uk-input-group-addon"></span>
                                                                                <label for="filtroAcciones">Acciones</label>
                                                                                <selectize style="font-size: 10px;" config="filtros.accionesConfig" options="filtros.accionesOptions" id="filtroAcciones" ng-model="filtros.acciones"></selectize>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
    
                                                                <div class="uk-width-medium-1-3">
                                                                    <div class="uk-input-group">
                                                                        <span class="uk-input-group-addon"></span>
                                                                        <label for="filtroUsuarios">Usuarios</label>
                                                                        <selectize style="font-size: 10px;" config="filtros.usuariosConfig" options="filtros.usuariosOptions" id="filtroUsuarios" ng-model="filtros.usuarios"></selectize>
                                                                    </div>
                                                                </div>
    
                                                                <div class="uk-width-medium-1-3" style="margin-top: -1%;">
                                                                    <div class="uk-input-group">
                                                                        <span class="uk-input-group-addon"></span>
                                                                        <label for="filtroCompletado">Completado</label>
                                                                        <selectize style="font-size: 10px;" config="filtros.completadoConfig" options="filtros.completadoOptions" id="filtroCompletado" ng-model="filtros.completado"></selectize>
                                                                    </div>
                                                                </div>
                                                            </div>
    
                                                            <div class="uk-grid" data-uk-grid-margin>
                                                                <div class="uk-width-medium-1-4"></div>
                                                                <div class="uk-width-medium-1-4"><a ng-click="cambiarPagina('inicio')" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Buscar Actividades"><i class="material-icons">&#xE8B6;</i> Buscar</a></div>
                                                                <div class="uk-width-medium-1-4"><a href="javascript:void(0)" ng-click="limpiarFiltros()" class="md-btn md-btn-warning md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Limpiar Filtros de Búsqueda"><i class="material-icons">&#xE0B8;</i> Limpiar</a></div>
                                                                <div class="uk-width-medium-1-4"></div>
                                                            </div>
                                                        </div>
                                                    </div>
    
                                                    <div class="md-card-content">
                                                        <div class="uk-overflow-container">
                                                            <table class="uk-table uk-table-nowrap uk-table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="font-size: 10px;" class="uk-width-2-10 uk-text-center">Usuario</th>
                                                                        <th style="font-size: 10px;" class="uk-width-2-10 uk-text-center">Accion</th>
                                                                        <th style="font-size: 10px;" class="uk-width-1-10 uk-text-center">Direccion IP</th>
                                                                        <th style="font-size: 10px;" class="uk-width-1-10 uk-text-center">Completado</th>
                                                                        <th style="font-size: 10px;" class="uk-width-1-10 uk-text-center">Fecha/Hora</th>
                                                                        <th style="font-size: 10px;" class="uk-width-1-10 uk-text-center">Duracion</th>
                                                                        <th style="font-size: 10px;" class="uk-width-1-10 uk-text-center">Resultado</th>
                                                                    </tr>
                                                                </thead>
    
                                                                <tbody>
                                                                    <tr ng-if="listando">
                                                                        <td colspan="15" style="text-align: center;"><i class="uk-icon-spinner uk-icon-spin"></i> Buscando actividades del usuario...</td>
                                                                    </tr>
    
                                                                    <tr ng-if="!listando && actividades.length == 0">
                                                                        <td colspan="15" style="text-align: center;">No se encontró ningún documento</td>
                                                                    </tr>
    
                                                                    <tr ng-if="!listando && actividades.length > 0" ng-repeat="actividad in actividades">
                                                                        <td style="font-size: 10px;" class="uk-width-2-10 uk-text-center">{{ actividad.usuario }} ({{ actividad.nombreUsuario }})</td>
                                                                        <td style="font-size: 10px;" class="uk-width-2-10 uk-text-center">{{ actividad.accion }}</td>
                                                                        <td style="font-size: 10px;" class="uk-width-1-10 uk-text-center">{{ actividad.ip }}</td>
                                                                        <td style="font-size: 10px;" class="uk-width-1-10 uk-text-center">{{ actividad.completado }}</td>
                                                                        <td style="font-size: 10px;" class="uk-width-1-10 uk-text-center">{{ actividad.fecha }} {{ actividad.hora }}</td>
                                                                        <td style="font-size: 10px;" class="uk-width-1-10 uk-text-center">{{ actividad.duracion }} Segs.</td>
                                                                        <td style="font-size: 10px;" class="uk-width-1-10 uk-text-center">{{ actividad.resultado }}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
    
                                                        <ul class="uk-pagination uk-margin-medium-top">
                                                            <li class="uk-disabled" ng-if="filtros.pagina==1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                                                            <li class="uk" ng-if="filtros.pagina!=1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                                                            <li ng-repeat="pag in filtros.paginas track by $index" class="uk{{(filtros.pagina==pag.numero?'-active':'')}}"><a href="" ng-click="cambiarPagina($index)">{{pag.numero}}</a></li>
                                                            <li class="uk-disabled" ng-if="filtros.pagina==totalPaginas"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                                                            <li class="uk" ng-if="filtros.pagina!=totalPaginas"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                                <!-- fin de actividades del usuario -->
                            </ul>
                        </div>
                    </div>
                </div>
    
                <!-- NOTIFICACIONES OCULTAS
                <div class="uk-width-large-3-10">
                    <div class="md-card">
                        <div class="md-card-content">
                            <h3 class="heading_c uk-margin-medium-bottom">Notificaciones</h3>
    
                            <div class="uk-form-row">
                                <input type="checkbox" checked id="user_edit_active" ui-switch ng-model="notificaciones.correo" />
                                <label for="user_edit_active" class="inline-label">Correo Electrónico</label>
                            </div>
    
                            <div class="uk-form-row">
                                <input type="checkbox" checked id="user_edit_active" ui-switch ng-model="notificaciones.interno" />
                                <label for="user_edit_active" class="inline-label">Interno</label>
                            </div>
    
                            <div class="uk-form-row">
                                <input type="checkbox" checked id="user_edit_active" ui-switch ng-model="notificaciones.telegram" />
                                <label for="user_edit_active" class="inline-label">Telegram</label>
                            </div>
    
                            <hr class="md-hr">
    
                            <div class="uk-form-row">
                                <label class="uk-form-label">User Role</label>
                                <input config="user_role_config" options="user_role_options" ng-model="user_data.role" name="user_edit_role" selectize />
                            </div>
                        </div>
                    </div>
                </div>-->
    
                <!-- fin modal modificar contraseña del usuario -->
                <div id="mdModificarClave" class="uk-modal">
                    <div class="uk-modal-dialog">
                        <a class="uk-modal-close uk-close"></a>
    
                        <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
                            <div class="md-card-content large-padding uk-position-relative" id="modifica_ok" style="display: {{ mensaje }}; width: 95%; margin: 0 auto; text-align: center">
                                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear()" style="margin-top: -10px !important;"></button>
                                <h2 class="heading_b uk-text-success">La contraseña se ha modificado exitosamente.</h2>
                            </div>
    
                            <div id="modificar_form">
                                <div style="padding: 30px 0px 0px 25px;">
                                    <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Modificar Contraseña del Usuario</h3>
                                </div>
    
                                <div style="padding: 24px 24px 30px;">
                                    <div class="">
                                        <div class="">
                                            <form>
                                                <div class="uk-form-row">
                                                    <label for="claveA">Ingrese Actual Contraseña</label>
                                                    <input class="md-input" type="password" id="claveA" ng-model="contrasena.claveA" md-input enter-key="modificarContrasena()" maxlength="25" />
                                                </div>
    
                                                <div class="uk-form-row">
                                                    <label for="claveB">Ingrese Nueva Contraseña</label>
                                                    <input class="md-input" type="password" id="claveB" ng-model="contrasena.claveB" md-input enter-key="modificarContrasena()" maxlength="25" />
                                                </div>
    
                                                <div class="uk-form-row">
                                                    <label for="claveC">Repita Nueva Contraseña</label>
                                                    <input class="md-input" type="password" id="claveC" ng-model="contrasena.claveC" md-input enter-key="modificarContrasena()" maxlength="25" />
                                                </div>
    
                                                <div class="uk-margin-medium-top">
                                                    <a ng-click="modificarContrasena()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                        <span class="menu_icon" ng-if="contrasena.textoClave != 'ACTUALIZAR CONTRASEÑA'">
                                                            <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                        </span>
                                                        {{ contrasena.textoClave }}
                                                    </a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
    
                                <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
    
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fin modal modificar contraseña del usuario -->
    
            </div>
        </div>
    </div>
    