
<br/>
<div id="page_content">
    <div class="md-card uk-margin-medium-bottom">
        <div id="page_content_inner">
            <div id="page_heading">
            <h1>Partner Portal</h1>
            <span class="uk-text-muted uk-text-upper uk-text-small">Administración de empresas asociadas a su cuenta</span>
        </div>

            <!-- inicio filtro de empresas -->
            <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-toolbar">
                    <div class="md-card-toolbar-actions">
                        <!--<card-fullscreen-activate></card-fullscreen-activate>-->
                        <card-toggle></card-toggle>
                    </div>

                    <!--<card-fullscreen-deactivate></card-fullscreen-deactivate>-->

                    <h3 class="md-card-toolbar-heading-text">Filtros</h3>
                </div>

                <div class="md-card-content">
                    <h3 class="heading_a">Filtros de Empresas</h3>

                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-3">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-search"></i></span>
                                <input
                                    type="text"
                                    placeholder="Búsqueda por RUT"
                                    class="md-input"
                                    id="empresa_rut"
                                    md-input
                                    maxlength="10"
                                    ng-model="filtros.empresa_rut"
                                    ng-rut
                                    ng-rut-format-punto="no"
                                />
                            </div>
                        </div>

                        <div class="uk-width-medium-1-3">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-search"></i></span>
                                <input class="md-input" ng-keypress="buscarConEnter($event)" type="text" maxlength="150" placeholder="Búsqueda por Razón Social" id="empresa_razon" md-input ng-model="filtros.empresa_razon">
                            </div>
                        </div>

                        <div class="uk-width-medium-1-3">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-search"></i></span>

                                <input class="md-input" ng-keypress="buscarConEnter($event)" type="text" maxlength="150" placeholder="Búsqueda por Nombre de Fantasía" md-input id="empresa_fantasia" ng-model="filtros.empresa_fantasia">
                            </div>
                        </div>
                    </div>

                    <div class="uk-grid" data-uk-grid-margin style="margin: 30px auto; width: 30%;">
                        <div class="uk-width-medium-1-2"><a ng-click="cambiarPagina('inicio')" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Buscar Documentos"><i class="material-icons">&#xE8B6;</i> Buscar</a></div>
                        <div class="uk-width-medium-1-2"><a href="javascript:void(0)" ng-click="limpiarFiltros()" class="md-btn md-btn-warning md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Limpiar Filtros de Búsqueda"><i class="material-icons">&#xE0B8;</i>Limpiar</a></div>
                    </div>
                </div>
            </div>
            <!-- fin filtro de empresas -->

            <!-- inicio mantenedor/listado de empresas -->
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-nowrap uk-table-hover">
                        <thead>
                            <tr>
                                <th style="font-size: 11px;" class="uk-width-2-10 uk-text-center">RUT</th>
                                <th style="font-size: 11px;" class="uk-width-2-10 uk-text-center">RAZÓN SOCIAL</th>
                                <th style="font-size: 11px;" class="uk-width-2-10 uk-text-center">NOMBRE FANTASÍA</th>
                                <th style="font-size: 11px;" class="uk-width-2-10 uk-text-center">ACCIONES</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-if="cargandoSucursales">
                                <td colspan="9" style="text-align: center;"><img src="ajax-loader.gif"> Buscando Sucursales...</td>
                            </tr>

                            <tr ng-if="cargando && empresas.length == 0">
                                <td colspan="9" style="text-align: center;"><img src="ajax-loader.gif"> Buscando Empresas...</td>
                            </tr>

                            <tr ng-if="!cargando && empresas.length == 0">
                                <td colspan="9" style="text-align: center;">No se encontró ninguna empresa</td>
                            </tr>

                            <tr ng-if="!cargando && empresas.length > 0" ng-repeat="empresa in empresas track by $index" id="empresax_{{ empresa.id }}">
                                <td style="font-size: 11px;" class="uk-width-2-10 uk-text-center">{{ empresa.iut }}</td>
                                <td style="font-size: 11px;" class="uk-width-2-10 uk-text-center">{{ empresa.razon }}</td>
                                <td style="font-size: 11px;" class="uk-width-2-10 uk-text-center">{{ empresa.fantasia }}</td>
                                <td style="font-size: 11px;" class="uk-width-1-10 uk-text-center">
                                  <!--  <a ng-click="modificarEmpresa($index)" title="Modificar Empresa"><i class="material-icons">&#xE254;</i></a> -->
                                    <a ng-click="confirmarEliminarEmpresa($index)" title="Eliminar Empresa"><i class="material-icons">&#xE872;</i></a>
                                  <!--  <a ng-click="listadoSucursales($index)" title="Lista Sucursales Asociadas"><i class="material-icons">&#xE0AF;</i></a>-->
                                    <a ng-click="abrirModalMigrarCertificacion($index)" title="Subir de ambiente"><i class="material-icons">&#xe905;</i></a>
                                    <a ng-click="abrirModalSubirArchivo($index)" title="Subir imagen"><i class="material-icons">&#xe226;</i></a>
                                    <a ng-click="irAModificarEmpresa($index)" title="Ir a configuración de Empresa"><i class="material-icons">&#xE254;</i></a>
                                    <a ng-click="abrirModalMigracionDocumentos($index)" title="Migracion de documentos entre ambientes"><i class="material-icons">&#xe895;</i></a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <ul ng-if="!cargando && empresas.length > 0" class="uk-pagination uk-margin-medium-top">
                    <li class="uk-disabled" ng-if="filtros.pagina==1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                    <li class="uk" ng-if="filtros.pagina!=1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                    <li ng-repeat="pag in filtros.paginas track by $index" class="uk{{(filtros.pagina==pag.numero?'-active':'')}}"><a href="" ng-click="cambiarPagina($index)">{{pag.numero}}</a></li>
                    <li class="uk-disabled" ng-if="filtros.pagina==totalPaginas"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                    <li class="uk" ng-if="filtros.pagina!=totalPaginas"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                </ul>
            </div>
            <!-- fin mantenedor/lista de empresas -->

            <!-- inicio modal crear nueva empresa -->
            <div id="mdCrearEmpresa" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
                        <div class="md-card-content large-padding uk-position-relative" id="crear_error" style="display: none; width: 30%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                            <h2 class="heading_b uk-text-danger">ERROR!</h2>
                            <p>{{ datox.mensaje_error }}</p>
                        </div>

                        <div class="md-card-content large-padding uk-position-relative" id="crear_ok" style="display: none; width: 30%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                            <h2 class="heading_b uk-text-danger">OK!</h2>
                            <p>{{ datox.mensaje_ok }}</p>
                        </div>

                        <div id="crear_form">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Crear Nueva Empresa</h3>
                            </div>

                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_a">
                                    Ingreso de nueva empresa asociada ...
                                    <span class="sub-heading">Los que presentan el asterisco rojo, son campos obligatorios ( <span style="color: red;"> * </span> )</span>
                                </h3>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div style="text-align: center;" ng-if="loadingCrearEmpresa">
                                    <i style="font-size: 20px; vertical-align: middle;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                </div>
                                <div ng-if="!loadingCrearEmpresa" class="md-card-content">
                                    <div class="">
                                        <form>
                                            <div class="uk-form-row">
                                                <label for="iut">RUT Empresa ( <span style="color: red;"> * </span> )</label>
                                                <input
                                                    class="md-input"
                                                    maxlength="12"
                                                    type="text"
                                                    id="iut"
                                                    ng-model="datox.iut"
                                                    required
                                                    md-input
                                                />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="razon">Razón Social ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="razon" ng-model="datox.razonSocial" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="fantasia">Nombre Fantasía ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="fantasia" ng-model="datox.fantasia" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="direccion">Dirección ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="direccion" ng-model="datox.direccion" md-input />
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="ciudad">Ciudad ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="ciudad" ng-model="datox.ciudad" md-input  maxlength="30" />
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="comuna">Comuna ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="comuna" ng-model="datox.comuna" md-input maxlength="30" />
                                            </div>
                                            <!--<div class="uk-form-row">
                                                <label for="telefono">Teléfono </label>
                                                <input class="md-input" type="text" id="telefono" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" ng-model="datox.telefono" md-input />
                                            </div>-->
                                            <div class="uk-form-row">
                                                <label for="acteco">Acteco ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" maxlength="6" type="text" id="acteco" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" ng-model="datox.acteco" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="fecha-resolucion">Fecha resolución ( <span style="color: red;"> * </span> )</label>

                                                <input id="fecha-resolucion" class="md-input ng-pristine ng-valid ng-isolate-scope md-input-processed ng-not-empty ng-touched" type="text" data-uk-datepicker="{maxDate: new Date(), format:'YYYY-MM-DD'}" md-input="" ng-model="datox.fechaResolucion">

                                            </div>

                                            <div class="uk-form-row">
                                                <label for="numero-resolucion">Número de resolución ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" maxlength="6" type="text" id="numero-resolucion" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" ng-model="datox.numeroResolucion" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="correo-electronico">Correo Electrónico.( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="correo-electronico" placeholder="(ej. contacto@proveedor.cl)" ng-model="datox.correo"  />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="holding">Holding </label>
                                                <input  class="md-input" type="text" id="holding" ng-model="datox.holding" config="holding_config" options="holding_options" selectize />
                                                <br />
                                                <a class="uk-badge" ng-if="datox.holding.length > 1" ng-click="limpiarHolding()">Limpiar</a>
                                            </div>
                                            <div class="uk-form-row">
                                                <input class="switchery switchery-small" type="checkbox" ui-switch ng-model="datox.checkEmisor"/>
                                                <label style="color: #727272;" for="checkEmisor" class="inline-label">Es Emisor</label>
                                            </div>
                                            <div class="uk-form-row">
                                                <input class="switchery switchery-small" type="checkbox" ui-switch ng-model="datox.checkReceptor"/>
                                                <label style="color: #727272;" for="checkReceptor" class="inline-label">Es Receptor</label>
                                            </div>
                                            <div class="uk-form-row">
                                                <input class="switchery switchery-small" type="checkbox" ui-switch ng-model="datox.checkRcof"/>
                                                <label style="color: #727272;" for="checkRCOF" class="inline-label">Generar RCOF</label>
                                            </div>
                                            <div class="uk-form-row">
                                                <input class="switchery switchery-small" type="checkbox" ui-switch ng-model="datox.checkCanal"/>
                                                <label style="color: #727272;" for="checkGanal" class="inline-label">Esta empresa es Canal</label>
                                            </div>
                                            <div class="uk-form-row">
                                                <input class="switchery switchery-small" type="checkbox" ui-switch ng-model="datox.reglas"/>
                                                <label style="color: #727272;" for="checkReglas" class="inline-label">Esta empresa tiene Reglas de Negocio</label>
                                            </div>


                                            <!--fin nuevos campos-->

                                            <div class="uk-margin-medium-top">
                                                <button
                                                    ng-show="validarBotonCrear()"
                                                    ng-click="crear()"
                                                    class="md-btn md-btn-primary md-btn-block md-btn-large"
                                                >
                                                    <span class="menu_icon" ng-if="datox.textoCrear != 'CREAR'">
                                                        <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                    </span>
                                                    {{ datox.textoCrear }}
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal crear nueva empresa -->










            <!-- inicio modal modificar empresa -->
            <div id="mdModificarEmpresa" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
                        <div class="md-card-content large-padding uk-position-relative" id="crear_error" style="display: none; width: 30%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToModificar($event)"></button>
                            <h2 class="heading_b uk-text-danger">ERROR</h2>
                            <p>{{ datax.mensaje_error }}</P>
                        </div>

                        <div class="md-card-content large-padding uk-position-relative" id="crear_ok" style="display: none; width: 30%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToModificar($event)"></button>
                            <h2 class="heading_b uk-text-danger">MODIFICADO</h2>
                            <p>{{ datax.mensaje_ok }}</P>
                        </div>

                        <div id="modificar_form">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Modificar Empresa</h3>
                            </div>

                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_a">
                                    Modificar empresa seleccionada ...
                                    <span class="sub-heading">Los que presentan el asterisco rojo, son campos obligatorios ( <span style="color: red;"> * </span> )</span>
                                </h3>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div style="text-align: center;" ng-if="loadingModificarEmpresa">
                                    <i style="font-size: 20px; vertical-align: middle;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                </div>
                                <div ng-if="!loadingModificarEmpresa" class="md-card-content">
                                    <div class="">
                                        <form>
                                            <div class="uk-form-row">
                                                <label for="empresa_iut">RUT Empresa</label>
                                                <input class="md-input" type="text" id="empresa_iut" ng-model="datax.empresa_iut" md-input disabled="disabled" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="empresa_razon">Razón Social ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="empresa_razon" ng-model="datax.empresa_razon" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="empresa_fantasia">Nombre Fantasía ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="empresa_fantasia" ng-model="datax.empresa_fantasia" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="direccion">Dirección ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="direccion" ng-model="datax.empresa_direccion" md-input />
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="direccion">Ciudad ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="ciudad" ng-model="datax.empresa_ciudad" md-input />
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="direccion">Comuna ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="comuna" ng-model="datax.empresa_comuna" md-input />
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="telefono">Teléfono </label>
                                                <input class="md-input" type="text" id="telefono" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" ng-model="datax.empresa_telefono" md-input />
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="acteco2">Acteco ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" maxlength="6" type="text" id="acteco2" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" ng-model="datax.empresa_acteco" md-input />
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="correo-electronico2">Correo Electrónico. (ej. contacto@proveedor.cl) ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="correo-electronico2" ng-model="datax.empresa_correo" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="holding2">Holding </label>
                                                <input  class="md-input" type="text" id="holding2" ng-model="datax.empresa_holdingId" config="holding_config" options="holding_options" selectize />
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="canal">Canal ( <span style="color: red;"> * </span> )</label>
                                                <input  class="md-input" type="text" id="canal" ng-model="datax.empresa_canal" config="holding_config" options="canal_options" selectize />
                                            </div>
                                            <div class="uk-form-row">
                                                <input class="switchery switchery-small" id="check-emisor" type="checkbox" ui-switch ng-model="datax.empresa_esEmisor" ng-checked="datax.empresa_esEmisor"/>
                                                <label style="color: #727272;" for="check-emisor" class="inline-label">Es Emisor</label>
                                            </div>
                                            <div class="uk-form-row">
                                                <input id="check-receptor" class="switchery switchery-small" type="checkbox" ui-switch ng-model="datax.empresa_esReceptor" ng-checked="datax.empresa_esReceptor"/>
                                                <label style="color: #727272;" for="check-receptor" class="inline-label">Es Receptor</label>
                                            </div>
                                            <div class="uk-form-row">
                                                <input id="check-RCOF" class="switchery switchery-small" type="checkbox" ui-switch ng-model="datax.empresa_esRcof" ng-checked="datax.empresa_esRcof"/>
                                                <label style="color: #727272;" for="check-RCOF" class="inline-label">Generar RCOF</label>
                                            </div>
                                            <div class="uk-form-row">
                                                <input id="check-ganal" class="switchery switchery-small" type="checkbox" ui-switch ng-model="datax.empresa_esCanal" ng-checked="datax.empresa_esCanal"/>
                                                <label style="color: #727272;" for="check-ganal" class="inline-label">Esta empresa es Canal</label>
                                            </div>
                                            <div class="uk-form-row">
                                                <input id="check-reglas" class="switchery switchery-small" type="checkbox" ui-switch ng-model="datax.empresa_tieneReglas"/>
                                                <label style="color: #727272;" for="check-reglas" class="inline-label">Esta empresa tiene Reglas de Negocio</label>
                                            </div>

                                            <div class="uk-margin-medium-top">
                                                <a ng-click="guardarModificacion()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                    <span class="menu_icon" ng-if="datox.textoModificar != 'MODIFICAR'">
                                                        <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                    </span>
                                                    {{ datox.textoModificar }}
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal modificar empresa -->

            <!-- modal confirmar eliminar -->
            <div id="mdConfirmar" class="uk-modal">
                <div class="uk-modal-dialog" style="width: 50%;">
                    <a class="uk-modal-close uk-close"></a>
                    <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
                        <div id="modificar_form">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h4 class="heading_b uk-margin-bottom" style="color: #e4501e;">
                                    Confirmar Eliminar la Empresa:<br />
                                    "{{empresas[index_empresa_eliminar].iut}} - {{empresas[index_empresa_eliminar].razon}}"</h4>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div class="md-card-content">
                                    <div ng-if="cargandoEliminar">
                                        <div colspan="9" style="text-align: center;"><img src="ajax-loader.gif"></div>
                                    </div>
                                    <div ng-if="!cargandoEliminar">
                                        <div class="uk-grid">
                                            <div class="uk-width-medium-1-2">
                                                <a ng-click="eliminarEmpresa(index_empresa_eliminar)" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                    ELIMINAR
                                                </a>
                                            </div>

                                            <div class="uk-width-medium-1-2">
                                                <a ng-click="cancelarEliminarEmpresa()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                    CANCELAR
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal confirmar eliminar -->





    <!-- inicio modal migrar documentos-->
<div id="mdMigrarDocumentos" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>

        <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
            <div class="md-card-content large-padding uk-position-relative" id="crear_error" style="display: none; width: 30%; margin: 0 auto;">
                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                <h2 class="heading_b uk-text-danger">ERROR!</h2>
                <p>{{ datox.mensaje_error }}</p>
            </div>

            <div class="md-card-content large-padding uk-position-relative" id="crear_ok" style="display: none; width: 30%; margin: 0 auto;">
                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                <h2 class="heading_b uk-text-danger">OK!</h2>
                <p>{{ datox.mensaje_ok }}</p>
            </div>

            <div id="crear_form">
                <div style="padding: 5px 0px 0px 37px;">
                    <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Migrar documentos</h3>
                </div>

                <div style="padding: 5px 0px 0px 37px;">
                    <h3 class="heading_a">
                        Migrar documentos emitidos entre ambientes Rut:{{empresax.iut}} (máximo 200 documentos)
                        <span class="sub-heading"></span>
                    </h3>
                </div>

                <div style="padding: 24px 24px 30px;">
                    <div style="text-align: center;" ng-if="loadingMigrarEmpresa">
                        <i style="font-size: 20px; vertical-align: middle;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                    </div>
                    <div ng-if="!loadingMigrarEmpresa" class="md-card-content">
                        <div class="">
                            <form>
<!--
                                <div class="uk-form-row">
                                    <label for="tipoDocumento">Código de tipo de documento</label>
                                    <input class="md-input" maxlength="6" type="text" id="tipoDocumento" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" ng-model="dataMigracion.tipoDocumento" md-input />
                                </div>-->
                                <div class="uk-form-row">
                                    <label for="tipoDocumento">Ambiente objetivo</label>

                                    <select id="ambienteObjetivo" class="md-input" ng-model="dataMigracionDocumentos.ambienteObjetivo" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}">
                                        <option value="" disabled="" selected="" hidden="">Seleccione ambiente</option>
                                        <option value="desarrollo">Desarrollo</option>
                                        <option value="pruebas">Pruebas</option>
                                    </select>

                              <!--      <input  class="md-input" type="text" id="holding" ng-model="dataMigracion.ambienteObjetivo" config="holding_config" options="ambientesOpciones" selectize />-->
                                </div>

<!--
                                <div class="uk-form-row">
                                    <label for="tipoDocumento">Tipo de documento</label>

                                    <select id="tipoDocumento" class="md-input" ng-model="dataMigracionDocumentos.tipoDocumento" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}">
                                        <option value="" disabled="" selected="" hidden="">Tipo documento</option>
                                        <option value="33">Factura afecta</option>
                                        <option value="34">Factura exenta</option>
                                    </select>
                                </div>-->

                                <div class="uk-margin-medium-top">
                                    <a ng-click="migrarDocumentosSII()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                        <span class="menu_icon" ng-if="migrarDocumentos.textoMigrar != 'MIGRAR DOCUMENTOS'">
                                            <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                        </span>
                                        {{ migrarDocumentos.textoMigrar }}
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
            </div>
        </div>
    </div>
</div>


    <!-- fin modal migrar documentos-->

<div id="mdMigrarEmpresa" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>

        <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
            <div class="md-card-content large-padding uk-position-relative" id="crear_error" style="display: none; width: 30%; margin: 0 auto;">
                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                <h2 class="heading_b uk-text-danger">ERROR!</h2>
                <p>{{ datox.mensaje_error }}</p>
            </div>

            <div class="md-card-content large-padding uk-position-relative" id="crear_ok" style="display: none; width: 30%; margin: 0 auto;">
                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                <h2 class="heading_b uk-text-danger">OK!</h2>
                <p>{{ datox.mensaje_ok }}</p>
            </div>

            <div id="crear_form">
                <div style="padding: 5px 0px 0px 37px;">
                    <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Migrar empresa</h3>
                </div>

                <div style="padding: 5px 0px 0px 37px;">
                    <h3 class="heading_a">
                        Migrar empresa de ambiente ({{empresax.id}})
                        <span class="sub-heading">Los que presentan el asterisco rojo, son campos obligatorios ( <span style="color: red;"> * </span> )</span>
                    </h3>
                </div>

                <div style="padding: 24px 24px 30px;">
                    <div style="text-align: center;" ng-if="loadingMigrarEmpresa">
                        <i style="font-size: 20px; vertical-align: middle;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                    </div>
                    <div ng-if="!loadingMigrarEmpresa" class="md-card-content">
                        <div class="">
                            <form>

                                <div class="uk-form-row">
                                    <label for="fechaResolucion">Fecha resolución ( <span style="color: red;"> * </span> )</label>

                                    <input class="md-input ng-pristine ng-valid ng-isolate-scope md-input-processed ng-not-empty ng-touched" type="text" id="fecha" data-uk-datepicker="{format:'YYYY-MM-DD'}" md-input="" ng-model="dataMigracion.fechaResolucion">


                                </div>

                                <div class="uk-form-row">
                                    <label for="numeroResolucion">Número de resolución ( <span style="color: red;"> * </span> )</label>
                                    <input class="md-input" maxlength="6" type="text" id="numeroResolucion" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" ng-model="dataMigracion.numeroResolucion" md-input />
                                </div>


                                <div class="uk-margin-medium-top">
                                    <a ng-click="migrarCertificacion()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                        <span class="menu_icon" ng-if="migrar.textoMigrar != 'MIGRAR'">
                                            <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                        </span>
                                        {{ migrar.textoMigrar }}
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
            </div>
        </div>
    </div>
</div>




<!-- fin modal migracion -->


            <!-- inicio modal subir logo -->






                        <div class="uk-modal" id="modalSubirArchivo">
                            <div class="uk-modal-dialog">
                          <!--    <img ng-src="https://s3.amazonaws.com/archivos.febos.io/publico/layout/logos/{{empresax.iut}}.jpeg" alt="Description" /> -->

                                <div class="uk-modal-header">
                                    <h3 class="uk-modal-title">Subir archivo</h3>
                                </div>


                                <div class="uk-form-file md-btn md-btn-primary" especial="{{renovacion.boletaId}}">

                                                            <i class="material-icons no_margin">attachment</i>Adjuntar imagen (formato jpg)
                                                            <input id="forrenovarm-file" type="file" upload-automatico
                                                                   objeto="logo" identificador="123prueba" formatospermitidos="image/jpeg"
                                                                   url="febos-io/publicar/archivos.febos.io/publico/layout/logos/" nombrearchivo="{{empresax.iut}}">
                                                        </div>
                                                        <span ng-if="logo.adjuntoUrl" adjunto-descarga path="logo.adjuntoUrl">{{logo.adjuntoNombre}}</span>
                                                        <md-preloader ng-if="logo.adjuntoEstado == 0 || logo.adjuntoEstado == 1"></md-preloader>

                            </div>
                        </div>
                        <!-- fin modal subir logo -->

            <!-- inicio modal mantenedor/listado de sucursales -->
            <div id="mdListadoSucursal" class="uk-modal">
                <div class="uk-modal-dialog" style="width: 900px;">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
                        <div id="crear_form">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Listado de Sucursales</h3>
                            </div>

                            <div style="padding: 0px 24px 30px 0px;">
                                <div class="md-card-content">
                                    <div class="">

                                    <div class="uk-grid" data-uk-grid-margin style="margin: -30px auto; width: 170px; float: right;">
                                        <div class="uk-width-medium-1-1"><a ng-click="abrirCrear(empresax)" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Crear nueva sucursal"><i class="materil-icons"></i> Crear Sucursal</a></div>
                                    </div>

                                        <div class="md-card-content">
                                            <div>
                                                <table class="uk-table uk-table-nowrap uk-table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="uk-width-1-10 uk-text-center">RUT Empresa</th>
                                                            <th class="uk-width-1-10 uk-text-center">Dirección</th>
                                                            <th class="uk-width-1-10 uk-text-center">Correo</th>
                                                            <th class="uk-width-1-10 uk-text-center">Municipio</th>
                                                            <th class="uk-width-1-10 uk-text-center">Teléfono</th>
                                                            <th class="uk-width-1-10 uk-text-center">Acciones</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr ng-if="cargando && sucursales.length == 0">
                                                            <td colspan="9" style="text-align: center;"><img src="ajax-loader.gif"> Buscando sucursales ...</td>
                                                        </tr>

                                                        <tr ng-if="!cargando && sucursales.length == 0">
                                                            <td colspan="9" style="text-align: center;">No se encontró ninguna sucursal asociada</td>
                                                        </tr>

                                                        <tr ng-repeat="sucursal in sucursales track by $index">
                                                            <td class="uk-text-center">{{ sucursal.rutEmpresa }}</td>
                                                            <td class="uk-text-center">{{ sucursal.direccion }}</td>
                                                            <td class="uk-text-center">{{ sucursal.correo }}</td>
                                                            <td class="uk-text-center">{{ sucursal.municipio }}</td>
                                                            <td class="uk-text-center">{{ sucursal.telefono }}</td>
                                                            <td class="uk-width-1-10 uk-text-center">
                                                                <a title="Modificar Sucursal" ng-click="abrirModificarSucursal(sucursal)"><i class="material-icons">&#xE254;</i></a>
                                                                <a title="Eliminar Sucursal" ng-click="abrirEliminar(sucursal)"><i class="material-icons">&#xE872;</i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <ul class="uk-pagination uk-margin-medium-top">
                                                    <li class="uk-disabled" ng-if="informacion.listar.elementos.pagina==1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                                                    <li class="uk" ng-if="informacion.listar.elementos.pagina!=1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                                                    <li ng-repeat="pag in informacion.listar.elementos.paginas track by $index" class="uk{{(informacion.listar.elementos.pagina==pag.numero?'-active':'')}}"><a href="" ng-click="cambiarPagina($index)">{{pag.numero}}</a></li>
                                                    <li class="uk-disabled" ng-if="informacion.listar.elementos.pagina==informacion.listar.elementos.totalPaginas"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                                                    <li class="uk" ng-if="informacion.listar.elementos.pagina!=informacion.listar.elementos.totalPaginas"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- inicio modal mantenedor/listado de sucursales -->

            <!-- inicio modal crear nueva sucursal -->
            <div id="mdCrear" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content crear_cardSu" style="width: 100%; margin: 0 auto;">
                        <div class="md-card-content large-padding uk-position-relative" id="crear_errorSu" style="display: none; width: 30%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                            <h2 class="heading_b uk-text-danger">ERROR!</h2>
                            <p>{{ crear.mensaje_error }}</p>
                        </div>

                        <div class="md-card-content large-padding uk-position-relative" id="crear_okSu" style="display: none; width: 55%; margin: 0 auto; text-align: center;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                            <h2 class="heading_b uk-text-success">La sucursal fue ingresada exitosamente ...</h2>
                            <p>{{ crear.mensaje_ok }}</p>
                        </div>

                        <div id="crear_formSu">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Crear Sucursal</h3>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div class="md-card-content">
                                    <div class="">
                                        <form>
                                            <div class="uk-form-row">
                                                <label for="empresa">Empresa</label>
                                                <input class="md-input" type="text" id="empresa" ng-model="crear.empresa" md-input disabled="disabled" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="rutEmpresa">RUT Empresa ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="rutEmpresa" ng-model="crear.rutEmpresa" md-input disabled="disabled" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="direccion">Direccion Sucursal ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="direccion" ng-model="crear.direccion" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="telefono">Teléfono Sucursal ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="telefono" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" ng-model="crear.telefono" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="correo">Correo Electrónico Sucursal ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="email" id="correo" ng-model="crear.correo" md-input />
                                            </div>

                                            <input class="md-input" type="hidden" id="empresaHide" ng-model="crear.empresaHide" md-input />

                                            <div class="uk-margin-medium-top">
                                                <a ng-click="crearSucursal()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                    <span class="menu_icon" ng-if="crear.textoCrearSucursal != 'CREAR SUCURSAL'">
                                                        <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                    </span>
                                                    {{ crear.textoCrearSucursal }}
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal crear nueva sucursal -->

            <!-- inicio modal modificar sucursal -->
            <div id="mdModificar" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content modificar_cardSu" style="width: 100%; margin: 0 auto;">
                        <div class="md-card-content large-padding uk-position-relative" id="modificar_errorSu" style="display: none; width: 30%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                            <h2 class="heading_b uk-text-danger">ERROR</h2>
                            <p>{{ modificar.mensaje_error }}</p>
                        </div>

                        <div class="md-card-content large-padding uk-position-relative" id="modificar_okSu" style="display: none; width: 55%; margin: 0 auto; text-align: center;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                            <h2 class="heading_b uk-text-success">La sucursal fue modificada exitosamente ...</h2>
                            <p>{{ modificar.mensaje_ok }}</p>
                        </div>

                        <div id="modificar_formSu">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Modificar Sucursal</h3>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div class="md-card-content">
                                    <div class="">
                                        <form>
                                            <div class="uk-form-row">
                                                <label for="empresa">Empresa</label>
                                                <input class="md-input" type="text" id="empresa" ng-model="modificar.empresa" md-input disabled="disabled" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="rutEmpresa">RUT Empresa ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="rutEmpresa" ng-model="modificar.rutEmpresa" md-input disabled="disabled" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="direccion">Direccion Sucursal ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="direccion" ng-model="modificar.direccion" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="telefono">Teléfono Sucursal ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="text" id="telefono" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" ng-model="modificar.telefono" md-input />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="correo">Correo Electrónico Sucursal ( <span style="color: red;"> * </span> )</label>
                                                <input class="md-input" type="email" id="correo" ng-model="modificar.correo" md-input />
                                            </div>

                                            <input class="md-input" type="hidden" id="febosId" ng-model="modificar.febosId" md-input />

                                            <div class="uk-margin-medium-top">
                                                <a ng-click="modificarSucursal()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                    <span class="menu_icon" ng-if="modificar.textoModificarSucursal != 'MODIFICAR SUCURSAL'">
                                                        <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                    </span>
                                                    {{ modificar.textoModificarSucursal }}
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal modificar sucursal -->

            <!-- inicio modal confirmar eliminar -->
            <div id="mdEliminar" class="uk-modal">
                <div class="uk-modal-dialog" style="width:50%;">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content eliminar_cardSu" style="width: 100%; margin: 0 auto;">
                        <div id="eliminar_formSu">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h4 class="heading_b uk-margin-bottom" style="color: #e4501e;">¿Está seguro de eliminar la sucursal?</h4>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div class="md-card-content">
                                    <div class="uk-grid">
                                        <div style="width: 240px; margin-top: -15px;">
                                            <form>
                                                <input class="md-input" type="hidden" id="sucursalId" type="text" ng-model="eliminar.sucursalId" md-input />

                                                <div class="uk-width-medium-1-1">
                                                    <a ng-click="eliminarSucursal()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                        <span class="menu_icon" ng-if="eliminar.textoEliminarSucursal != 'ELIMINAR SUCURSAL'">
                                                            <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                        </span>
                                                        {{ eliminar.textoEliminarSucursal }}
                                                    </a>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="uk-width-medium-1-2">
                                            <a ng-click="cerrarEliminar()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                Cancelar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal confirmar eliminar -->

        </div>
    </div>
</div>

<!-- inicio de botón que activa modal crear nueva empresa -->
<div class="md-fab-wrapper md-fab-speed-dial" style="right:100px">
    <a class="md-fab md-fab-danger" href="javascript:void(0)" ng-click="crearEmpresa()" data-uk-tooltip="{pos:'right'}" title="Crear Empresa"><i class="material-icons">add</i></a>
</div>
<!-- fin de botón que activa modal crear nueva empresa -->
