<div style="left:0px;top:0px">
        <img src="assets/img/logos/FEBOS_LOADER.svg" alt="" width="50" style="z-index:1;top: calc(50% - 25px);position: absolute;left:calc(50% - 25px)"/> <br/> 
        <center style="position:absolute;left:50%;top:50%;width:300px;margin-top:30px;margin-left: -150px;text-shadow: 1px 1px #ddd;font-weight:100;z-index:1;border-radius:20px;background-color:rgba(255,255,255, 0.3);box-shadow:2px 2px 2px #666">
            Hola <b>{{ sesion.usuario.alias }} !</b><br/> danos unos segundos, necesitamos realizar algunas acciones antes de comenzar...<br/>
            <ul style="list-style: none;text-align: left">
                <li ng-repeat="etapa in etapas">
                    <i ng-if="etapa.estado==1" class="material-icons" style="color:blue">keyboard_arrow_right</i>
                    <i ng-if="etapa.estado==2" class="material-icons" style="color:green">check_circle</i>
                    {{etapa.nombre}}
                </li>
            </ul>
        
        
        </center>
    
        <div class='wave -one color-bg-principal' style="z-index:0"></div>
        <div class='wave -two color-bg-principal' style="z-index:0"></div>
        <div class='wave -three color-bg-principal' style="z-index:0"></div>
    </div>