<div id="page_content">
  <div class="md-card uk-margin-medium-bottom">
    <div id="page_content_inner">
      <h3 class="heading_b uk-margin-bottom">Aprobaciones</h3>
      <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-3">
          <div class="uk-input-group">
            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-search"></i></span>
            <label for="nombre_empresa">Búsqueda por Nombre</label>
            <input class="md-input" type="text" placeholder="(ej. Aprobacion 455...)" ng-model="filtros.nombre_aprobacion" maxlength="50" />
          </div>
        </div>
      </div>
      <br />

      <div class="uk-grid" data-uk-grid-margin style="width: 60%; margin: 0 auto;">
        <div class="uk-width-medium-1-4"></div>
        <div class="uk-width-medium-1-4">
          <a href="javascript:void(0)" ng-click="buscar()" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Buscar Usuario"><i class="material-icons">&#xE8B6;</i> Buscar</a>
        </div>
        <div class="uk-width-medium-1-4">
          <a href="javascript:void(0)" ng-click="limpiarFiltros()" class="md-btn md-btn-warning md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Limpiar Búsqueda"><i class="material-icons">&#xE0B8;</i> Limpiar</a>
        </div>
        <div class="uk-width-medium-1-4"></div>
      </div>
      <div class="md-card-content">
        <div class="uk-overflow-container">
          <table class="uk-table uk-table-nowrap uk-table-hover">
            <thead>
              <tr>
                <th class="uk-width-2-10 uk-text-left">Nombre</th>
                <th class="uk-width-2-10 uk-text-left">Descripcion</th>
                <th class="uk-width-2-10 uk-text-left">Reversible</th>
                <th class="uk-width-2-10 uk-text-right">Acciones</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-if="cargando">
                <td colspan="5">
                  <center><img src="ajax-loader.gif" /> Buscando...</center>
                </td>
              </tr>
              <tr ng-if="flujos.legth == 0 && !cargando">
                <td colspan="5">
                  <center>No se encontraron aprobaciones</center>
                </td>
              </tr>
              <tr ng-repeat="aprobacion in aprobaciones">
                <td class="uk-width-2-10 uk-text-left">{{aprobacion.nombre}}</td>
                <td class="uk-width-2-10 uk-text-left">{{aprobacion.descripcion}}</td>
                <td class="uk-width-2-10 uk-text-left">
                  {{aprobacion.reversible ? 'Si': 'No'}}
                </td>
                <td class="uk-width-1-10 uk-text-right acciones">

                  <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Ver" ng-click="verAprobacion(aprobacion.id)"><i class="material-icons">search</i></a>
                  <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Modificar" ng-click="modificarAprobacion(aprobacion.id)"><i class="material-icons">edit</i></a>
                  <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Desactivar" ng-click="eliminar(aprobacion,$index)"><i class="material-icons">&#xE872;</i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="md-fab-wrapper md-fab-speed-dial" style="right:100px">
  <a class="md-fab md-fab-danger" ui-sref="restringido.aprobacioncrear({app:app})" data-uk-tooltip="{pos:'right'}" title="Nueva Aprobacion"><i class="material-icons">add</i></a>
</div>
