<div id="page_content">

    <div id="page_content_inner">

        <div class="md-card uk-margin-medium-bottom">

            <div class="md-card-content large-padding uk-position-relative" id="modificar_error"
                 style="display: none; width: 30%; margin: 0 auto;">
                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login"
                        ng-click="backToCrear($event)"></button>
                <h2 class="heading_b uk-text-danger">ERROR</h2>
                <p>{{datos.mensaje_error}}</p>
            </div>

            <div class="md-card-content large-padding uk-position-relative" id="modificar_ok"
                 style="display: none; width: 30%; margin: 0 auto;">
                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login"
                        ng-click="backToCrear($event)"></button>
                <h2 class="heading_b uk-text-danger">MODIFICADO</h2>
                <p>{{datos.mensaje_ok}}</p>
            </div>


            <div id="modificar_form">
                <div style="padding: 5px 0px 0px 37px;">
                    <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;" style="margin-top: 3%">
                        Modificar Empresa
                    </h3>
                    <a
                        ng-if="mostrarBotonVolverEmpresaPartner()"
                        ng-click="volverAEmpresaPartner()"
                        class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light"
                        title="Volver a empresa Partner">
                        Volver a empresa Partner
                    </a>
                </div>

                <div style="padding: 5px 0px 0px 37px;">
                    <h3 class="heading_a">
                        Perfil de la empresa
                        <span class="sub-heading">Los que presentan el asterisco rojo, son campos obligatorios ( <span style="color: red;"> * </span> )</span>
                    </h3>
                </div>

                <div style="padding: 24px 24px 30px;">
                    <div style="text-align: center;" ng-if="loadingModificarPerfil">
                        <i style="font-size: 20px; vertical-align: middle;"
                           class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                    </div>
                    <div id="formulario_empresa" ng-if="!loadingModificarPerfil" class="md-card-content">
                        <div class="">
                            <form>
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon">
                                                <i class="material-icons">fingerprint</i>
                                            </span>
                                            <label for="empresa_iut">RUT Empresa</label>
                                            <input class="md-input" type="text" id="empresa_iut"
                                                   ng-model="datos.empresa_iut"
                                                   maxlength="10"
                                                   md-input disabled="disabled"/>
                                        </div>
                                    </div>
                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i
                                                    class="material-icons">business</i></span>
                                            <label for="empresa_razon">Razón Social ( <span
                                                    style="color: red;"> * </span>)</label>
                                            <input class="md-input" type="text" id="empresa_razon"
                                                   ng-model="datos.empresa_razon"
                                                   maxlength="150"
                                                   md-input/>
                                        </div>
                                    </div>
                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i
                                                    class="material-icons">perm_identity</i></span>
                                            <label for="empresa_fantasia">Nombre Fantasía ( <span
                                                    style="color: red;"> * </span>
                                                )</label>

                                            <input class="md-input" type="text" id="empresa_fantasia"
                                                   ng-model="datos.empresa_fantasia" maxlength="150" md-input/>
                                        </div>
                                    </div>
                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i class="material-icons">directions</i></span>
                                            <label for="direccion">Dirección ( <span style="color: red;"> * </span>
                                                )</label>

                                            <input class="md-input" type="text" id="direccion"
                                                    maxlength="150"
                                                   ng-model="datos.empresa_direccion" md-input/>
                                        </div>
                                    </div>
                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i class="material-icons">directions</i></span>
                                            <label for="direccion">Ciudad ( <span style="color: red;"> * </span>
                                                )</label>
                                            <input class="md-input" type="text" id="ciudad"
                                                   ng-model="datos.empresa_ciudad" maxlength="45"
                                                   md-input/>
                                        </div>
                                    </div>
                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i class="material-icons">directions</i></span>
                                            <label for="direccion">Comuna ( <span style="color: red;"> * </span>
                                                )</label>
                                            <input class="md-input" type="text" id="comuna" maxlength="45"
                                                   ng-model="datos.empresa_comuna" md-input/>
                                        </div>
                                    </div>
                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i class="material-icons">call</i></span>
                                            <label for="telefono">Teléfono </label>

                                            <input class="md-input" type="text" id="telefono"
                                                   onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                                                   ng-model="datos.empresa_telefono"
                                                   maxlength="90"
                                                   md-input/>
                                        </div>
                                    </div>
                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon">$</span>
                                            <label for="telefono">Código de actividad económica (Acteco) ( <span style="color: red;"> * </span>
                                                )</label>
                                            <input class="md-input" maxlength="6" type="text" id="acteco"
                                                   onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                                                   ng-model="datos.empresa_acteco" md-input/>
                                        </div>
                                    </div>
                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i
                                                    class="material-icons">contact_mail</i></span>
                                            <label for="correo">Correo Electrónico. (<span
                                                    style="color: red;"> * </span> )</label>

                                            <input class="md-input" type="text" id="correo"
                                                   ng-model="datos.empresa_correo"
                                                   maxlength="50"
                                                   md-input/>
                                            <span class="uk-form-help-block">ej. contacto@proveedor.cl</span>

                                        </div>
                                    </div>

                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"></span>
                                            <label for="correo">Giro empresa </label>

                                            <input class="md-input" type="text" id="giro"
                                                   ng-model="datos.giro"
                                                   maxlength="150"
                                                   md-input/>
                                            <span class="uk-form-help-block"></span>

                                        </div>
                                    </div>

                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i
                                                    class="material-icons">fingerprint</i></span>
                                            <label for="correo">Rut representante legal</label>

                                            <input class="md-input" type="text" id="rutRepLegal"
                                                   ng-model="datos.rutRepLegal"
                                                   maxlength="10"
                                                   md-input/>
                                            <span class="uk-form-help-block"></span>

                                        </div>
                                    </div>

                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i
                                                    class="material-icons">perm_identity</i></span>
                                            <label for="correo">Nombre representante legal </label>

                                            <input class="md-input" type="text" id="nombrereplegal"
                                                   ng-model="datos.nombreRepLegal"
                                                   maxlength="100"
                                                   md-input/>
                                            <span class="uk-form-help-block"></span>

                                        </div>
                                    </div>


                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i
                                                    class="material-icons">date_range</i></span>
                                            <label for="correo">Fecha Resolución (<span
                                                    style="color: red;"> * </span> )</label>

                                            <input class="md-input ng-pristine ng-valid ng-isolate-scope md-input-processed ng-not-empty ng-touched"
                                              type="text" id="fecha"
                                              data-uk-datepicker="{format:'YYYY-MM-DD'}"
                                              md-input=""
                                              maxlength="10"
                                              ng-model="datos.fechaResolucion">
                                            <span class="uk-form-help-block"></span>

                                        </div>
                                    </div>
                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"></span>
                                            <label for="numeroResolucion">Numero resolución (<span
                                                    style="color: red;"> * </span> )</label>

                                            <input class="md-input" type="text" id="numeroResolucion"
                                                   onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                                                   ng-model="datos.numeroResolucion"
                                                   maxlength="3"
                                                   md-input/>
                                            <span class="uk-form-help-block"></span>

                                        </div>
                                    </div>



                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i class="material-icons">lock</i></span>
                                            <label for="claveSii">Clave SII ( <span style="color: red;"> * </span>
                                                )</label>
                                            <input class="md-input" type="password" id="claveSii"
                                                    maxlength="100"
                                                   ng-model="datos.empresa_clave_sii" md-input/>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-3">
                                        <input type="checkbox" ui-switch ng-model="datos.esPyme" id="empresa_es_pyme"/>
                                        <label for="empresa_es_pyme" class="inline-label">Empresa es Mi Pyme</label>
                                        <span class="uk-form-help-block"></span>
                                    </div>

                                </div>
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-3">
                                        <a id="btnmodificar" ng-click="guardarModificacion()"
                                           class="md-btn md-btn-primary md-btn-block md-btn-large">
                                        <span class="menu_icon" ng-if="datos.textoModificar != 'MODIFICAR'">
                                            <i style="font-size: 20px; vertical-align: middle; color: white;"
                                               class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                        </span>
                                            <i class="material-icons ">save</i> {{ datos.textoModificar }}
                                        </a>
                                    </div>
                                    <div class="uk-width-medium-1-3">
                                        <a id="btncertificado" ui-sref="restringido.certificado({app:app})"
                                           class="md-btn md-btn-primary md-btn-block md-btn-large">
                                            <i class="material-icons ">build</i>
                                            Configurar Certificado Digital
                                        </a>
                                    </div>
                                    <!--<div class="uk-width-medium-1-3" data-uk-tooltip="{cls:'long-text'}"
                                         title="Certificado Digital de persona autorizada por la empresa para Descargar Documentos Electrónicos">
                                        <i class="material-icons md-36 uk-text-primary">info</i>
                                    </div>-->
                                </div>
                                <hr style="border: dashed 1px orange;" ng-if="datos.esPyme==true">
                                <div class="uk-grid" data-uk-grid-margin ng-if="datos.esPyme==true">
                                    <div class="uk-width-medium-1-1">
                                        <h3 class="heading_a">Permisos Certificado</h3>
                                    </div>
                                    <div class="uk-width-medium-1-3">
                                        <input type="checkbox" ui-switch sii-permiso="descarga_dte" ng-model="permiso.descargardte"
                                               id="permiso_descargar_dte"/>
                                        <label for="permiso_descargar_dte" class="inline-label">Descargar Documentos
                                            Tributarios Electrónicos
                                            <i class="material-icons uk-text-primary" data-uk-tooltip="{cls:'long-text'}"
                                               title="Aprobación para  descargar Documentos Electrónicos desde el portal MiPyme, se requiere que el RUT asociado al certificado digital configurado, tenga permisos para realizar esta acción">
                                                info
                                            </i>
                                        </label>
                                        <span class="uk-form-help-block"></span>
                                    </div>
                                </div>
                                <div class="uk-grid" data-uk-grid-margin ng-if="datos.esPyme==true">
                                    <div class="uk-width-medium-1-3">
                                        <a id="btnmodificarPermisosPyme" ng-click="modificarPermisos()"
                                           class="md-btn md-btn-primary md-btn-block md-btn-large">
                                            <i class="material-icons ">save</i> Modificar Permisos
                                        </a>
                                    </div>
                                </div>
                                <hr style="border: dashed 1px orange;">
                                <h3 class="heading_a"> Cuentas
                                    <span class="sub-heading">Datos bancarios de la empresa</span>

                                </h3>
                                <br>
                                <div style="text-align: center;" ng-if='loadingCuentas'>
                                    <i style="font-size: 20px; vertical-align: middle;"
                                       class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                </div>
                                <div ng-if='!loadingCuentas'>
                                    <table style="width: 100%">
                                        <tr>
                                            <td style="width: 30%">
                                                <label style="font-weight: bold">Banco </label>
                                            </td>
                                            <td style="width: 25%">
                                                <label style="font-weight: bold">Tipo Cuenta </label>

                                            </td>
                                            <td style="width: 25%">
                                                <label style="font-weight: bold">Número de cuenta </label>

                                            </td>
                                            <td style="width: 20%">
                                                <label style="font-weight: bold">Correo
                                                    Notificación </label>
                                            </td>
                                            <td></td>
                                        </tr>

                                        <tr ng-repeat="cuenta in datos.cuentas">
                                            <td>
                                                <span ng-if="cuenta.banco==1">BANCO DE CHILE - EDWARDS&nbsp;&nbsp;</span>
                                                <span ng-if="cuenta.banco==2">BANCO BANCO BICE</span>
                                                <span ng-if="cuenta.banco==3">BANCO CONSORCIO</span>
                                                <span ng-if="cuenta.banco==4">BANCO DEL ESTADO DE CHILE</span>
                                                <span ng-if="cuenta.banco==5">BANCO DO BRASIL S.A.</span>
                                                <span ng-if="cuenta.banco==6">BANCO FALABELLA</span>
                                                <span ng-if="cuenta.banco==7">BANCO INTERNACIONAL</span>
                                                <span ng-if="cuenta.banco==8">BANCO PARIS</span>
                                                <span ng-if="cuenta.banco==9">BANCO RIPLEY</span>
                                                <span ng-if="cuenta.banco==10">BANCO SANTANDER</span>
                                                <span ng-if="cuenta.banco==11">BANCO SECURITY</span>
                                                <span ng-if="cuenta.banco==12">BBVA (BCO BILBAO VIZCAYA ARG)&nbsp;&nbsp;</span>
                                                <span ng-if="cuenta.banco==13">BCI (BCO DE CREDITO E INV)&nbsp;&nbsp;</span>
                                                <span ng-if="cuenta.banco==14">COOPEUCH</span>
                                                <span ng-if="cuenta.banco==15">HSBC BANK</span>
                                                <span ng-if="cuenta.banco==16">ITAU CHILE</span>
                                                <span ng-if="cuenta.banco==17">ITAU - CORPBANCA</span>
                                                <span ng-if="cuenta.banco==18">SCOTIABANK</span>
                                            </td>
                                            <td>
                                                <span ng-if="cuenta.tipo_cuenta==1">Cuenta Corriente</span>
                                                <span ng-if="cuenta.tipo_cuenta==2">Cuenta Vista</span>
                                                <span ng-if="cuenta.tipo_cuenta==3">Ahorro</span>
                                            </td>
                                            <td>
                                                {{cuenta.nro_cuenta}}
                                            </td>
                                            <td>
                                                {{cuenta.mail_notificacion}}
                                            </td>
                                            <td>
                                                <div class="uk-width-medium-1-5 uk-width-small-1-3"
                                                     data-uk-tooltip="{cls:'long-text'}" title="Eliminar Cuenta">
                                                    <a ng-click="eliminar($index, cuenta)"><i class="material-icons"
                                                                                              style="color: red; font-size: 40px">delete_forever</i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input class="md-input" type="text" id="banco"
                                                       ng-model="datos.cuentas.banco_insertar" config="holding_config"
                                                       options="banco_options" selectize/>
                                            </td>
                                            <td>
                                                <input class="md-input" type="text" id="tipo_cuenta"
                                                       ng-model="datos.cuentas.tipo_cuenta_insertar"
                                                       config="holding_config" options="tipo_cuenta_options" selectize/>
                                            </td>
                                            <td>
                                                <input class="md-input" type="text" id="nro_cuenta"
                                                       ng-model="datos.cuentas.nro_cuenta_insertar" md-input
                                                       enter-key="invitar()"/>
                                            </td>
                                            <td>
                                                <input class="md-input" type="text" id="correo"
                                                       ng-model="datos.cuentas.mail_notificacion_insertar" md-input
                                                       enter-key="invitar()"/>
                                            </td>
                                            <td id="btnAgregar">
                                                <div id="btnAgregar" class="uk-width-medium-1-5 uk-width-small-1-3"
                                                     data-uk-tooltip="{cls:'long-text'}" title="Guardar Cuenta">
                                                    <a ng-click="agregar()"><i class="material-icons"
                                                                               style="color: green; font-size: 40px">save</i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
