
<br/>

<div id="page_content">
    <div id="page_content_inner">
        <div id="page_heading">
            <h1>Editar publicación</h1>
            <div class="uk-article" ng-if="cargando"><br><br/>
            Cargando artículo...
        </div>
        </div>
        
        <div class="md-card" ng-if="!cargando">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-2-2">
                        <div class="uk-form-row">
                            <label>Título ({{letrasTitulo}}/300)</label>
                            <input type="text" class="md-input" ng-model="datos.titulo" md-input ng-keyup="contarLetras('titulo')"/>
                        </div>
                        <div class="uk-form-row">
                            <label>Extracto ({{letrasResumen}}/300)</label>
                            <input type="text" class="md-input"  ng-model="datos.resumen" md-input ng-keyup="contarLetras('resumen')"/>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-form-row">
                            <label>URL video de cabecera</label>
                            <input type="text" class="md-input" ng-model="datos.linkVideo" md-input/>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-form-row">
                            <label>URL imagen de cabecera</label>
                            <input type="text" class="md-input" ng-model="datos.linkImagen" md-input/>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-form-row">
                            <label>Publicar inmediatamente</label>
                            <input type="checkbox" ui-switch ng-model="datos.visible"/>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-1">
                        <center>
                            <a ng-click="editar()" class="md-btn md-btn-primary md-btn-block" style="width: 200px">
                                <i ng-if="creando" style="font-size: 20px; vertical-align: middle; color:white" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> {{ creando?'Guardando...':('Guardar'+(datos.visible?'':' en privado')) }}
                            </a>
                        </Center>
                    </div>
                </div>
            </div>
        </div>


        <div class="md-card" ng-if="!cargando">
            <div class="md-card-content">
                <div id="id_ckeditor_edit" ckeditor="ckeditor_options" ng-model="ckeditor_inline" ready="ckeditor_onReady()" contenteditable="true" ></div>
            </div>
        </div>
        <a ui-sref="restringido.listarNovedades({ app:app })">
            <div style="position: absolute; top:100px;right:100px" id="todos-list-articulos">
                <i class="material-icons">&#xE896;</i> Ver todos los artículos
            </div>
        </a>

    </div>
</div>

