<style>
    .m-t {
        margin-top: 44px;
    }
</style>
<div id="top_bar" top-bar >
    <div class="md-top-bar">
        <div class="uk-width-large-10-10 uk-container-center">
            <div class="uk-clearfix">
                <div class="md-top-bar-actions-left">

                    <div class="md-btn-group" style="margin-left:0px">
                        <i class="material-icons" style="color:#ccc;padding:4px;margin:5px 0px 0px 0px;cursor:default">&#xE5D4;</i>
                        <a ng-click="retrocederPagina()" class="md-btn md-btn-flat md-btn-small md-btn-wave"
                           data-uk-tooltip="{cls:'long-text',pos:'top'}"
                           title="{{ variablesPaginacion.pagina==1?'No es posible retroceder, estas en la primera página':('Retroceder a la página '+(variablesPaginacion.pagina-1))}}"
                           style="padding: 4px 4px;font-size: 14px!important;">
                            <i class="material-icons">&#xE5CB;</i>
                        </a>
                        <a ng-if="!mostrarInputPagina" ng-click="irPagina(true)"
                           class="md-btn md-btn-flat md-btn-small md-btn-wave"
                           data-uk-tooltip="{cls:'long-text',pos:'top'}"
                           title="Estas en la página {{variablesPaginacion.pagina}}, haz click aqui para ir a una que tu desees"
                           style="padding: 5px 4px;font-size: 14px!important;">{{variablesPaginacion.pagina}} /
                            {{paginacion.paginas}}</a>
                        <input ng-if="mostrarInputPagina" type="number" style="width: 50px;font-size:17px"
                               min="{{variablesPaginacion.pagina}}" max="{{paginacion.paginas}}" id="paginaManual"
                               ng-model="paginaIngresada" ng-enter="irPagina(false,this)"/>
                        <a ng-click="avanzarPagina()" class="md-btn md-btn-flat md-btn-small md-btn-wave"
                           data-uk-tooltip="{cls:'long-text',pos:'top'}"
                           title="{{ paginacion.paginas==variablesPaginacion.pagina?'No es posible avanzar, estas en la última página':('Avanzar a la página '+(variablesPaginacion.pagina+1))}}"
                           style="padding: 4px 4px;font-size: 14px!important;">
                            <i class="material-icons">&#xE5CC;</i>
                        </a>
                        <i class="material-icons" style="color:#ccc;padding:4px;margin:0px 0px 0px -9px;cursor:default">&#xE5D4;</i>
                        <input ng-mouseup="actualizarPagina()" type="range" ng-model="ipp" min="1" max="10"
                               data-uk-tooltip="{cls:'long-text'}" title="Documentos por página" style="width: 90px"/>

                        <a class="md-btn md-btn-flat md-btn-small md-btn-wave"
                           data-uk-tooltip="{cls:'long-text',pos:'top'}" title="Documentos por página"
                           style="padding: 5px 4px;font-size: 14px!important;"></a>

                        <i class="material-icons" style="color:#ccc;padding:4px;margin:0px 0px 0px -9px;cursor:default">&#xE5D4;</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-include src="'app/febos/aprobaciones/bandeja/verDetalles.modal.html'"></ng-include>
<ng-include src="'app/febos/aprobaciones/bandeja/ayudaModal.html'"></ng-include>
<ng-include src="'app/febos/aprobaciones/bandeja/boletaModal.html'"></ng-include>

<div id="page_content" class="m-t">
    <div class="md-card uk-margin-medium-bottom">
        <div id="page_content_inner">
          <h3 class="heading_b uk-margin-bottom">Bandeja de {{tipoBandeja | lowercase}}</h3>
          <a ng-click="ayuda()"
            title="Ayuda" class="ayuda-btn">
            <i class="material-icons" style="font-size: 26px;">help</i>
          </a>

            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-nowrap uk-table-hover">
                        <thead>
                        <tr>
                            <th class="uk-text-left"></th>
                            <th class="uk-text-left" ng-if="tipoBandeja==='ENTRADA'" style="    width: 70px;">Control</th>
                            <th class="uk-text-left">Acuse Recibo</th>
                            <th class="uk-text-left">Nombre</th>
                            <th class="uk-text-left">Estado genral</th>
                            <th class="uk-text-left">Estado paso</th>
                            <th class="uk-text-left">Fecha Inicio</th>
                            <th class="uk-text-left">Paso</th>
                            <th class="uk-text-left">Responsable</th>
                            <th class="uk-text-right">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="cargando">
                            <td colspan="5">
                                <div class="uk-text-center"><img src="ajax-loader.gif" /> Buscando...</div>
                            </td>
                        </tr>
                        <tr ng-if="aprobaciones.length== 0 && !cargando">
                            <td colspan="9">
                                <div class="uk-text-enter">No se encontraron ejecuciones</div>
                            </td>
                        </tr>
                        <tr ng-repeat="aprobacion in aprobaciones">
                            <td class="uk-text-left">
                              <div class="status-bar {{estadoActual(aprobacion.aprovacionesEjecucionEstadoId)}}"></div>
                              <div class="paso-actual-bar">{{aprobacion.pasoEjecucionActual.numeroPaso}}</div>
                            </td>
                            <td class="uk-text-left" ng-if="tipoBandeja==='ENTRADA'">
                                <a title="Rechazar" ng-click="buscarDetallesEjecucion(aprobacion, 'movimientoFlujo', 'rechazar')">
                                    <i class="material-icons" style="color: #ff392b;font-size: 23px;">cancel</i>
                                </a>
                                <a ng-if="aprobacion.pasoEjecucionActual.numeroPaso!=1 && aprobacion.reversible" 
                                  ng-click="buscarDetallesEjecucion(aprobacion, 'movimientoFlujo', 'devolver')"
                                  title="Devolver" class="devolver-btn">
                                    <i class="material-icons" style="font-size: 23px;">undo</i>
                                </a>

                                <div ng-if="aprobacion.pasoEjecucionActual.numeroPaso==1 || !aprobacion.reversible" 
                                  title="Devolver desactivado para esta aprobacion" class="devolver-btn">
                                    <i class="material-icons" style="font-size: 23px;color:#c1c1c1">undo</i>
                                </div>

                                <a ng-if="aprobacion.pasoEjecucion.paso.redirigirFlujo" 
                                  ng-click="buscarDetallesEjecucion(aprobacion, 'movimientoFlujo', 'reenviar')"
                                  title="Reenviar" class="reenviar-btn">
                                    <i class="material-icons" style="font-size: 23px;">swap_horiz</i>
                                </a>

                                <div ng-if="!aprobacion.pasoEjecucion.paso.redirigirFlujo" 
                                  title="Reenviar" class="reenviar-btn">
                                    <i class="material-icons" style="font-size: 23px;color:#c1c1c1">swap_horiz</i>
                                </div>



                                <a title="Aprobar" ng-click="buscarDetallesEjecucion(aprobacion, 'movimientoFlujo', 'aprobar')">
                                    <i class="material-icons" style="color: #4eea3a;font-size: 23px;margin-left: 10px;">check_circle</i>
                                </a>
                            </td>
                            <td class="uk-text-left">
                                <span ng-if="aprobacion.pasoEjecucion.acuseRecibo === true">
                                    <i class="uk-input-group-icon uk-icon-check"></i>
                                    <span ng-if="tipoBandeja!='ENTRADA'">Si</span>
                                    <input ng-if="tipoBandeja==='ENTRADA'" type="checkbox" ui-switch
                                           ng-if="!lectura"
                                           readonly
                                           ng-change="acusarRecibo(aprobacion)"
                                           ng-model="aprobacion.pasoEjecucion.acuseRecibo" color="#ffb300"  />
                                </span>
                                <span ng-if="aprobacion.pasoEjecucion.acuseRecibo === false">
                                    <i class="uk-input-group-icon uk-icon-warning "></i>
                                    <span ng-if="tipoBandeja!='ENTRADA'">No</span>
                                    <input ng-if="tipoBandeja==='ENTRADA'" type="checkbox" ui-switch
                                           ng-if="!lectura"
                                           ng-change="acusarRecibo(aprobacion)"
                                           ng-model="aprobacion.pasoEjecucion.acuseRecibo" color="#ffb300"  />
                                </span>
                            </td>
                            <td class="uk-text-left">
                              {{aprobacion.nombre}}
                              <div class="codigo">
                                nombre aprobacion: {{aprobacion.nombreAprobacion}}
                                <br />
                                codigo: {{aprobacion.idAprobacion}}
                              </div>
                            </td>
                            <td class="uk-text-left">
                              <div class="estado-general" style="color:{{ESTADOS_EJ_COD[aprobacion.aprovacionesEjecucionEstadoId]=='RECHAZADA'?'#e53935':''}}">{{ESTADOS_EJ_COD[aprobacion.aprovacionesEjecucionEstadoId] | lowercase}}</div>
                            </td>
                            <td class="uk-text-left">
                              <div class="estado-paso">{{ESTADOS_PASO_COD[aprobacion.pasoEjecucion.aprobacionesPasoEstadoId] | lowercase}}</div>
                            </td>
                            <td class="uk-text-left">{{aprobacion.fechaInicioProceso}}</td>
                            <td class="uk-text-left paso-circle" style="max-width: 100px;">
                              <i ng-repeat="n in [] | range:aprobacion.totalPasos" 
                                ng-class="{ 
                                  'next': n+1>aprobacion.pasoEjecucionActual.numeroPaso, 
                                  'passed':n+1<aprobacion.pasoEjecucionActual.numeroPaso
                                }"
                                class="material-icons {{n+1==aprobacion.pasoEjecucionActual.numeroPaso && estadoActual(aprobacion.aprovacionesEjecucionEstadoId)}}"
                                >
                                {{n+1==aprobacion.pasoEjecucionActual.numeroPaso && estadoActual(aprobacion.aprovacionesEjecucionEstadoId)=='error' ? 'cancel':'check_circle'}}
                                
                              </i>
                            </td>
                            <td class="uk-text-left">
                              {{aprobacion.pasoEjecucion.paso.responsable}}
                             <div ng-if="aprobacion.pasoEjecucion.paso.aprobacionesTipoPasoId == 1" class="total-aprobaciones">
                               {{ aprobacion.totalAprobaciones+ " de " + (aprobacion.pasoEjecucion.paso.cantidadMinAprobacion==0?1:aprobacion.pasoEjecucion.paso.cantidadMinAprobacion)}}
                             </div>
                            </td>
                            <td class="uk-text-right acciones">
                                <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Ver Comentarios" ng-click="buscarDetallesEjecucion(aprobacion, 'comentarios')">
                                    <i class="material-icons">message</i>
                                </a>
                                <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Ver Documentos" ng-click="buscarDetallesEjecucion(aprobacion, 'documento')">
                                    <i class="material-icons">chrome_reader_mode</i>
                                </a>
                                <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Ver Pasos" ng-click="buscarDetallesEjecucion(aprobacion, 'paso')">
                                    <i class="material-icons">control_point_duplicate</i>
                                </a>
                                <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Ver Observadores" ng-click="buscarDetallesEjecucion(aprobacion, 'observador')">
                                    <i class="uk-icon-users"></i>
                                </a>
                                <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Ver Desencadenadores" ng-click="buscarDetallesEjecucion(aprobacion, 'gatillacion')">
                                    <i class="uk-icon-clock-o"></i>
                                </a>
                                <div class="tags">
                                  <div class="tipo">{{TIPO_PASO_COD[aprobacion.pasoEjecucion.paso.aprobacionesTipoPasoId] | lowercase}}</div>
                                  <div class="proceso">{{TIPO_ROL_COD[aprobacion.pasoEjecucion.paso.aprobacionesTipoRolId] | lowercase}}</div>
                                </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
