<div id="ayudaMdl" class="uk-modal">
  <form name="form" novalidate>
    <a class="uk-modal-close uk-close"></a>
    <div class="uk-width-medium-1-1 uk-margin-medium-top">
      <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body" style="position: relative;">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header">
          <h3 class="uk-modal-title" style="color: #e4501e;">Ayuda</h3>
        </div>
        <div class="uk-width-medium-1-1">
          <div class="definiciones">
            <div class="item">
              <i  class="material-icons" style="font-size: 23px;color: #4eea3a;">check_circle</i>
              <div class="texto">
                <b>Aprobar:</b> Al aprobar el paso, el flujo continua al responsable o los responsables del siguiente paso.
              </div>
            </div>
            <br/>
            <div class="item">
              <i  class="material-icons" style="font-size: 23px;color: #ff392b;">cancel</i>
              <div class="texto">
                <b>Rechazar:</b>  Al rechazar el paso, el flujo queda rechazado y no continua al siguiente paso.
              </div>
            </div>
            <br/>
            <div class="item">
              <i  class="material-icons" style="font-size: 23px;color: #1e88e5;">undo</i>
              <div class="texto">
                <b>Devolver:</b>  Al devolver el paso, se devuelve al responsable o los responsables anteriores, eso solo aplica para cuando el flujo tiene la opcion "devolver" activada y estas en un paso mayor a 1.
              </div>
            </div>
            <br/>
            <div class="item">
              <i  class="material-icons" style="font-size: 23px;color: #1e88e5;">swap_horiz</i>                                                                
              <div class="texto">
                <b>Reenviar:</b>  Al reenviar el paso, se puede seleccionar un usuario dentro de la empresa que no estaba originalmente en el flujo, luego de que ese usuario aprueba se puede elegir que vuelva a ti o que siga el flujo normal (sin pasar por tu bandeja de entrada). El paso tiene que tener la opcion habilitada para hacer este tipo de movimiento.
              </div>
            </div>
          </div>
        </div>
        <img
          src="assets/img/foot.png"
          style="position: absolute; bottom: 0; right: 0; width: 14%; z-index: 10; margin-top: 40px;"
          class="ng-scope"
        />
      </div>
    </form>
  </div>  
