<div id="boletaMdl" class="uk-modal">
  <form name="form" novalidate>
    <a class="uk-modal-close uk-close"></a>
    <div class="uk-width-medium-1-1 uk-margin-medium-top">
      <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body" style="position: relative;">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header">
          <h3 class="uk-modal-title" style="color: #e4501e;">Boleta de garantia</h3>
        </div>
        <div class="uk-width-medium-1-1">
          <div class="boletag">
              <table class="uk-table uk-table-nowrap">

                <tr>
                  <th>
                    Folio
                  </th>
                  <td>
                    {{$parent.boleta.folio}}
                  </td>
                </tr>
                <tr>
                  <th>
                   Tipo garantia 
                  </th>
                  <td>
                    {{$parent.obtenerTipoBoleta($parent.boleta.tipoGarantia)}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Monto
                  </th>
                  <td>
                    {{$parent.boleta.monto}} {{$parent.boleta.moneda}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Banco
                  </th>
                  <td>
                    {{$parent.boleta.banco}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Concepto
                  </th>
                  <td>
                    {{$parent.boleta.concepto}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Fecha Vencimiento
                  </th>
                  <td>
                    {{$parent.boleta.fechaVencimiento | momentDate | limitTo: 10}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Fecha Recepcion
                  </th>
                  <td>
                    {{$parent.boleta.fechaRecepcion | momentDate | limitTo: 10}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Vigente
                  </th>
                  <td>
                    {{$parent.boleta.vigente==1?'Si':'No'}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Lugar Custodia
                  </th>
                  <td>
                    {{$parent.boleta.lugarCustodia}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Usuario Tomador
                  </th>
                  <td>
                   {{$parent.boleta.usuarioTomadorRut}} {{$parent.boleta.usuarioTomadorNombre}} - {{$parent.boleta.usuarioTomadorCorreo}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Usuario Asegurado 
                  </th>
                  <td>
                   {{$parent.boleta.usuarioAseguradoRut}} {{$parent.boleta.usuarioAseguradoNombre}} - {{$parent.boleta.usuarioAseguradoCorreo}}
                  </td>
                </tr>

                <tr>
                  <th>
                    Usuario Responsable
                  </th>
                  <td>
                    {{$parent.boleta.usuarioResponsableNombre}} - {{$parent.boleta.usuarioResponsableCorreo}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Usuario Gestor
                  </th>
                  <td>
                    {{$parent.boleta.usuarioGestorNombre}} - {{$parent.boleta.usuarioGestorCorreo}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Usuario Custodio
                  </th>
                  <td>
                    {{$parent.boleta.usuarioCustodioNombre}} - {{$parent.boleta.usuarioCustodioCorreo}}
                  </td>
                </tr>

              </table>
          </div>
        </div>
        <br><br>
        <br><br>
        <img
          src="assets/img/foot.png"
          style="position: absolute; bottom: 0; right: 0; width: 14%; z-index: 10; margin-top: 40px;"
          class="ng-scope"
        />
      </div>
    </form>
  </div>  
