<div id="comentariosFlujoMdl">
  <a class="uk-modal-close uk-close"></a>
  <div class="uk-width-medium-1-1 uk-margin-medium-top">
    <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body" style="position: relative;">
      <a class="uk-modal-close uk-close"></a>
      <div class="uk-modal-header">
        <h3 class="uk-modal-title" style="color: #e4501e;">Comentario y/o documentacion</h3>
      </div>
      <i ng-if="cargandoDetalle" class="uk-icon-spinner uk-icon-medium uk-icon-spin text-center"></i>
      <div ng-if="!cargandoDetalle">
            <div class="speech-wrapper">
              <span ng-if="modal.ejecucionEstadoActual[modal.idAprobacionActual].ejecucion.comentarios.length<=0 || !modal.ejecucionEstadoActual[modal.idAprobacionActual].ejecucion.comentarios ">
              Sin comentarios.
              </span>

              <div ng-repeat="comentario in modal.ejecucionEstadoActual[modal.idAprobacionActual].ejecucion.comentarios" class="bubble {{$index%2==0 ? '': 'alt'}}" >
                <div class="txt">
                  <p class="name {{$index%2==0 ? '': 'alt'}}" style="color:{{setColor(comentario.usuarioId)}}">
                    {{comentario.nombre | lowercase | capitalize}}
                   <span class="accion" >
                     <i ng-if="comentario.accion == 'devolver'" title="Devuelto" class="material-icons" style="font-size: 23px;color: #1e88e5;">undo</i>
                     <i ng-if="comentario.accion == 'rechazar'" title="Rechazado" class="material-icons" style="font-size: 23px;color: #ff392b;">cancel</i>
                     <i ng-if="comentario.accion == 'aprobar'" title="Aprobado" class="material-icons" style="font-size: 23px;color: #4eea3a;">check_circle</i>
                     <i ng-if="comentario.accion == 'reenviar'" title="Reenviado"class="material-icons" style="font-size: 23px;color: #1e88e5;">swap_horiz</i>
                   </span>
                    </p>
                    </pre>
                  <p class="message" style="white-space: pre;">{{comentario.comentario | capitalize}}
                    <div class="documentos">
                      <!-- | filter:query-->
                      <div class="" style="font-size:115%"
                          ng-repeat="adjunto in comentario.documentos">
                          <a >
                              <span class="uk-text" style="font-size: 11px;" adjunto-descargar path="{{adjunto.adjuntoUrl}}" nombre="{{adjunto.adjuntoNombre}}">
                                  <i class="md-list-addon-icon material-icons">attach_file</i>{{adjunto.nombre}}
                              </span>
                          </a>
                       </div>
										</div>
                  </p>
                  <span class="timestamp">{{comentario.fecha | limitTo: 19}}</span>
                </div>
                <div class="bubble-arrow {{$index%2==0 ? '': 'alt'}}"></div>
              </div>

           </div>
         <img
          src="assets/img/foot.png"
          style="position: absolute; bottom: 0; right: 0; width: 7%; z-index: 10; margin-top: 40px;"
          class="ng-scope"
          />
    </div>
  </div>
</div>

