<div id="documentoMdl">
    <a class="uk-modal-close uk-close"></a>
    <div class="uk-width-medium-1-1 uk-margin-medium-top">
        <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body" style="position: relative;">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">
                <h3 class="uk-modal-title" style="color: #e4501e;">DOCUMENTOS</h3>
            </div>
            <i ng-if="cargandoDetalle" class="uk-icon-spinner uk-icon-medium uk-icon-spin text-center"></i>
            <div ng-if="!cargandoDetalle">
                <table class="uk-table uk-table-nowrap uk-table-hover" style="margin-bottom: 100px;">
                    <thead>
                    <tr>
                        <th class="uk-width-1-4 uk-text-left" style="min-width: 130px;">Nombre</th>
                        <th class="uk-width-3-4 uk-text-left">Descripcion</th>
                        <th class="uk-width-1-4 uk-text-left" style="min-width: 160px;">Texto</th>
                        <th class="uk-width-1-4 uk-text-right">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="cargandoDetalle">
                        <td colspan="5">
                            <center><img src="ajax-loader.gif" /> Buscando...</center>
                        </td>
                    </tr>
                    <tr ng-if="flujos.legth == 0 && !cargandoDetalle">
                        <td colspan="5">
                            <center>No se encontraron aprobaciones</center>
                        </td>
                    </tr>
                    <tr ng-repeat="documento in modal.ejecucionEstadoActual[modal.idAprobacionActual].documentosBase">
                        <td class="uk-width-1-4 uk-text-left">{{ documento.objetoNombre }}</td>
                        <td class="uk-width-3-4 uk-text-left">{{ documento.descripcion }}</td>
                        <td class="uk-width-1-4 uk-text-left">{{ documento.tipoObjetoTexto }}</td>
                        <td class="uk-width-1-4 uk-text-right acciones">

                          <i ng-if="cargandoDocumento" class="uk-icon-spinner uk-icon-medium uk-icon-spin text-center"></i>
                         <a ng-if="!cargandoDocumento" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Ver" ng-click="$parent.verDocumento(documento)">
                                <i class="material-icons">search</i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <br>
                <img
                    src="assets/img/foot.png"
                    style="position: absolute; bottom: 0; right: 0; width: 14%; z-index: 10; margin-top: 40px;"
                    class="ng-scope"
                />
            </div>
        </div>
    </div>
</div>
