<div id="gatillacionMdl">
    <a class="uk-modal-close uk-close"></a>
    <div class="uk-width-medium-1-1 uk-margin-medium-top">
        <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body" style="position: relative;">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">
                <h3 class="uk-modal-title" style="color: #e4501e;">DESENCADENADORES</h3>
            </div>
            <i ng-if="cargandoDetalle" class="uk-icon-spinner uk-icon-medium uk-icon-spin text-center"></i>
            <div ng-if="!cargandoDetalle">
                <table class="uk-table uk-table-nowrap uk-table-hover" style="margin-bottom: 100px;">
                    <thead>
                    <tr>
                        <th class="uk-width-1-6 uk-text-left">Estado</th>
                        <th class="uk-width-3-6 uk-text-left">Proceso</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="cargandoDetalle">
                        <td colspan="5">
                            <center><img src="ajax-loader.gif" /> Buscando...</center>
                        </td>
                    </tr>
                    <tr ng-if="flujos.legth == 0 && !cargandoDetalle">
                        <td colspan="5">
                            <center>No se encontraron Gatilladores</center>
                        </td>
                    </tr>
                    <tr ng-repeat="gatillador in modal.ejecucionEstadoActual[modal.idAprobacionActual].baseGatillaciones">
                        <td class="uk-width-1-6 uk-text-left">{{ gatillador.estado }}</td>
                        <td class="uk-width-3-6 uk-text-left">{{ gatillador.proceso }}</td>
                    </tr>
                    </tbody>
                </table>
                <img
                    src="assets/img/foot.png"
                    style="position: absolute; bottom: 0; right: 0; width: 14%; z-index: 10; margin-top: 40px;"
                    class="ng-scope"
                />
            </div>
        </div>
    </div>
</div>
