<div id="movimientoFlujoMdl">
  <a class="uk-modal-close uk-close"></a>
  <div class="uk-width-medium-1-1 uk-margin-medium-top">
    <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body" style="position: relative;">
      <a class="uk-modal-close uk-close"></a>
      <div class="uk-modal-header">
        <h3 class="uk-modal-title" style="color: #e4501e;">Comentario y/o documentacion</h3>
      </div>
      <i ng-if="cargandoDetalle" class="uk-icon-spinner uk-icon-medium uk-icon-spin text-center"></i>
      <div ng-if="!cargandoDetalle">
        <div
          class="clearfix"
          style="display: flex; flex-wrap: wrap; justify-content: center;"
          >
          <div ng-show="modal.accion=='reenviar'">
            <div class="uk-width-medium-1-1">
              Reenviar a: 
              <div class="uk-input-group">
                <input class="md-input" type="text" ng-model="modal.usuarioSeleccionado"
                config="$parent.usuarioConfig" options="$parent.usuarios" selectize/>
              </div>
            </div>
            <div >
              <div >
                <div style="display: inline-block">
                  Desea que el la ejecucion regrese a mi despues? 
                </div>
                <input
                type="checkbox"
                name="continuar"
                id="continuar"
                ui-switch
                ng-model="modal.continuar"
                color="#ffb300"
                />
                <div style="color:#c1c1c1;display: inline-block">
                  Si eligue que vuelve a usted, luego que el usuario que selecciono aprueba, volvera el flujo a su bandeja, si no selecciona esta opcion, el flujo continuare al paso siguiente despues de usted.
                </div>
              </div>
            </div>
          </div>
          <div class="uk-width-1-1">
              <div class="uk-form-row">
                  <label>Comentario</label>
                  <textarea cols="30" rows="4" class="md-input" ng-model="modal.comentario" md-input textarea-autosize></textarea>
              </div>
             <div class="row">
                <br />
							  Desea adjuntar documentos? 
								<upload-automaticos objeto="modal.adjuntos"
																		icon="cloud_upload" estilo='font-size:30px'
                                    url="febos-io/global/{{ambiente}}/empresas/aprobaciones/{{modal.idAprobacionActual}}/comentarios/"
									></upload-automaticos>
								<form>
										<div class="md-list-outside-inner uk-height-1-2" custom-scrollbar
												 style="max-height: 70vh;overflow-x: auto;">
												<ul class="md-list md-list-outside invoices_list">
														<!-- | filter:query-->
														<li class="" style="font-size:115%"
																ng-repeat="adjunto in modal.adjuntos">
																<a class="md-list-content" style="border-bottom: 2px dashed #ff5100;">
																		<span class="uk-text" adjunto-descargar path="{{adjunto.adjuntoUrl}}" nombre="{{adjunto.adjuntoNombre}}">
																				<i class="md-list-addon-icon material-icons">attach_file</i><md-preloader
																						ng-if="adjunto.adjuntoEstado == 0 || adjunto.adjuntoEstado == 1"></md-preloader>
																				{{adjunto.adjuntoNombre}}
																		</span>
																</a>
														 </li>
												</ul>
										</div>
								</form>
						</div> 
          </div>
          <div class="uk-width-medium-1-1 uk-margin-medium-top">
              <center>
                <a ng-if="!grabando" ng-click="procesar(modal.accion)" 
                  class="md-btn md-btn-primary md-btn-block" 
                  style="width: 200px;{{modal.accion=='rechazar'?'background: #d32f2f;':''}}">
                    {{modal.accion | uppercase}} 
                  </a>
                <i ng-if="grabando" class="uk-icon-spinner uk-icon-medium uk-icon-spin "></i>
              </Center>
          </div>
          <img
          src="assets/img/foot.png"
          style="position: absolute; bottom: 0; right: 0; width: 14%; z-index: 10; margin-top: 40px;"
          class="ng-scope"
          />
      </div>
    </div>
  </div>
</div>

