<div id="pasoMdl">
  <a class="uk-modal-close uk-close"></a>
  <div class="uk-width-medium-1-1 uk-margin-medium-top">
    <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body" style="position: relative;">
      <a class="uk-modal-close uk-close"></a>
      <div class="uk-modal-header">
        <h3 class="uk-modal-title" style="color: #e4501e;">PASOS</h3>
      </div>
      <i ng-if="cargandoDetalle" class="uk-icon-spinner uk-icon-medium uk-icon-spin text-center"></i>
      <div ng-if="!cargandoDetalle">
        <div
          class="clearfix"
          style="margin-bottom: 100px; display: flex; flex-wrap: wrap; justify-content: center;"
          >
          <div ng-include src="'pasos.tpl.html'"></div>
          <img
          src="assets/img/foot.png"
          style="position: absolute; bottom: 0; right: 0; width: 14%; z-index: 10; margin-top: 40px;"
          class="ng-scope"
          />
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="pasos.tpl.html">
  <div>
    <div ng-repeat="paso in modal.ejecucionEstadoActual[modal.idAprobacionActual].pasos" class="paso-contenedor">
      <div class="drag-item" 
      draggable="true" 
      data-st="{{$index+1}}">
      <div class="paso {{modal.ejecucionEstadoActual[modal.idAprobacionActual].ejecucion.pasoActualId == paso.id ? 'current-paso': ''}}">
        <div class="numero">{{paso.numeroPaso}}</div>
        <div class="tipo">{{TIPO_PASO_COD[paso.paso.aprobacionesTipoPasoId] | lowercase}}</div>
        <div class="proceso">{{TIPO_ROL_COD[paso.paso.aprobacionesTipoRolId] | lowercase}}</div>
        <div ng-if="lectura" class="configuracion ver" ng-click="verPaso(paso, $index)">
          <i class="material-icons">search</i>
        </div>
        <div class="nombre" ng-class="{'nombre-sub': paso.paso.subrogante}">
          {{paso.paso.responsable}}
          <div class="subrogante">
            {{paso.paso.subrogante}}
          </div>
          <div class="desde">
            {{paso.paso.subrogadoDesde.substr(0,10)}}
          </div>
           <div class="hasta">
            {{paso.paso.subrogadoHasta.substr(0,10)}}
          </div>
       </div>
      </div>
    </div>
    <span ng-if="!$last" class="siguiente">
      <i class="material-icons">forward</i>
    </span>
    </div>
  </div>
</script>



