<div id="verDetallesMdl" class="uk-modal">
    <form name="form" novalidate>
        <div ng-if="modal.plantilla">
            <ng-include src="'app/febos/aprobaciones/bandeja/' + modal.plantilla + 'Modal.html'"></ng-include>
        </div>
    </form>
</div>  
