
<br/>
<div id="page_content">
    <div class="md-card uk-margin-medium-bottom">
        <div id="page_content_inner">
            <div id="page_heading">
                <h1>Gestión de roles</h1>
                <span class="uk-text-muted uk-text-upper uk-text-small">Creación de roles y asignación de permisos de los mismos</span>
            </div>

            <!-- inicio filtrado de roles -->
            <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-toolbar">
                    <div class="md-card-toolbar-actions">
                        <!--<card-fullscreen-activate></card-fullscreen-activate>-->
                        <card-toggle></card-toggle>
                    </div>

                    <!--<card-fullscreen-deactivate></card-fullscreen-deactivate>-->

                    <h3 class="md-card-toolbar-heading-text">Filtros</h3>
                </div>

                <div class="md-card-content">
                    <h3 class="heading_a">{{ informacion.listar.titulo}}</h3>

                    <div class="uk-grid" data-uk-grid-margin>
                        <div ng-repeat="filtro in informacion.listar.campos" ng-if="filtro.filtro" class="uk-width-medium-1-2">
                            <label for="filtro_{{ filtro.solicitud}}">{{ filtro.titulo}}</label>
                            <input class="md-input" type="text" id="filtro_{{ filtro.solicitud}}" md-input ng-model="filtro.valor" />
                        </div>
                    </div>

                    <br /><br />

                    <div class="uk-grid" data-uk-grid-margin style="width: 60%; margin: 0 auto;">
                        <div class="uk-width-medium-1-4"></div>

                        <div class="uk-width-medium-1-4">
                            <a href="javascript:void(0)" ng-click="cambiarPagina('inicio')" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Buscar Rol"><i class="material-icons">&#xE8B6;</i> Buscar</a>
                        </div>

                        <div class="uk-width-medium-1-4">
                            <a href="javascript:void(0)" ng-click="limpiarFiltros()" class="md-btn md-btn-warning md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Limpiar Búsqueda"><i class="material-icons">&#xE0B8;</i> Limpiar</a>
                        </div>

                        <div class="uk-width-medium-1-4"></div>
                    </div>
                </div>
            </div>
            <!-- fin filtrado de roles -->

            <!-- inicio mantenedor/listado de roles de roles -->
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-nowrap uk-table-hover">
                        <thead>
                            <tr>
                                <th ng-repeat="titulo in informacion.listar.campos" ng-if="titulo.columna" class="uk-width-1-{{(informacion.listar.elementos.propiedades.length + 1)}} uk-text-left">{{titulo.titulo}}</th>
                                <th class="uk-width-1-{{ (informacion.listar.elementos.propiedades.length + 1)}} uk-text-center">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-if="cargando">
                                <td colspan="9" style="text-align: center;"><img src="ajax-loader.gif"> Buscando roles ...</td>
                            </tr>

                            <tr ng-if="!cargando && loader.length == 0">
                                <td colspan="9" style="text-align: center;">No se encontró ningún rol registrado</td>
                            </tr>

                            <tr ng-if="!cargando && loader.length > 0" ng-repeat="elemento in informacion.listar.elementos.valor track by $index" id="elemento_{{$index}}">
                                <td ng-repeat="propiedad in informacion.listar.elementos.propiedades" class="uk-width-1-{{ (informacion.listar.elementos.propiedades.length + 1)}} uk-text-left">{{ elemento[propiedad]}}</td>
                                <td class="uk-width-1-{{ (informacion.listar.elementos.propiedades.length + 1)}} uk-text-center">
                                    <a title="{{ informacion.modificar.titulo}}" ng-click="abrirModificar($index)"><i class="material-icons">&#xE254;</i></a>
                                    <a title="{{ informacion.obtenerPermisos.titulo}}" ng-click="abrirPermisos($index, elemento)"><i class="material-icons">&#xE0DA;</i></a>
                                    <a title="{{ informacion.eliminar.titulo}}" ng-click="abrirEliminar($index)"><i class="material-icons">&#xE872;</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    

                    <ul ng-if="!cargando && loader.length > 0"   class="uk-pagination uk-margin-medium-top">
                        <li class="uk-disabled" ng-if="informacion.listar.elementos.pagina == 1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                        <li class="uk" ng-if="informacion.listar.elementos.pagina != 1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                        <li ng-repeat="pag in informacion.listar.elementos.paginas track by $index" class="uk{{(informacion.listar.elementos.pagina==pag.numero?'-active':'')}}"><a href="" ng-click="cambiarPagina($index)">{{pag.numero}}</a></li>
                        <li class="uk-disabled" ng-if="informacion.listar.elementos.pagina == informacion.listar.elementos.totalPaginas"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                        <li class="uk" ng-if="informacion.listar.elementos.pagina != informacion.listar.elementos.totalPaginas"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                    </ul>
                    <!--
                    <ul class="uk-pagination uk-margin-medium-top">
                        <li class="uk-disabled" ng-if="filtros.pagina==1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                        <li class="uk" ng-if="filtros.pagina!=1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                        <li ng-repeat="pag in filtros.paginas track by $index" class="uk{{(filtros.pagina==pag.numero?'-active':'')}}"><a href="" ng-click="cambiarPagina($index)">{{pag.numero}}</a></li>
                        <li class="uk-disabled" ng-if="filtros.pagina==totalPaginas"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                        <li class="uk" ng-if="filtros.pagina!=totalPaginas"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                    </ul>-->
                </div>
            </div>
            <!-- fin mantenedor/listado de roles de roles -->

            <!-- modal crear nuevo rol -->
            <div id="mdCrear" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
                        <!--
                        <div class="md-card-content large-padding uk-position-relative" id="crear_error" style="display: none; width: 30%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                            <h2 class="heading_b uk-text-danger">ERROR</h2>
                            <p>{{datos.mensaje_error}}</P>
                        </div>
                        
                        <div class="md-card-content large-padding uk-position-relative" id="crear_ok" style="display: none; width: 30%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                            <h2 class="heading_b uk-text-danger">INGRESADO</h2>
                            <p>{{datos.mensaje_ok}}</P>
                        </div>
                        -->

                        <div id="crear_form">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">{{ informacion.crear.tituloActual}}</h3>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div class="md-card-content">
                                    <div class="">
                                        <form>
                                            <div ng-repeat="crear in informacion.crear.campos" ng-if="crear.formulario" class="uk-form-row">
                                                <label for="crear_{{ crear.solicitud}}">{{ crear.titulo}}</label>
                                                <input class="md-input" type="text" id="crear_{{ crear.solicitud}}" ng-model="crear.valor" md-input />
                                            </div>
                                            <div class="uk-form-row">
                                                <input class="switchery switchery-small" type="checkbox" ui-switch ng-model="checkGlobal"/>
                                                <label style="color: #727272;" for="checkboxGlobal" class="inline-label">Global</label>
                                            </div>

                                            <div class="uk-margin-medium-top">
                                                <a ng-click="enviarSolicitud('crear')" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                    <span class="menu_icon" ng-if="informacion.crear.tituloActual != informacion.crear.titulo">
                                                        <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                    </span> 
                                                    {{ informacion.crear.tituloActual}}
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal crear nuevo rol -->

            <!-- modal modificar rol -->
            <div id="mdModificar" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content modificar_card" style="width: 100%; margin: 0 auto;">
                        <!--
                        <div class="md-card-content large-padding uk-position-relative" id="modificar_error" style="display: none; width: 30%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backTomodificar($event)"></button>
                            <h2 class="heading_b uk-text-danger">ERROR</h2>
                            <p>{{datos.mensaje_error}}</P>
                        </div>
                        
                        <div class="md-card-content large-padding uk-position-relative" id="modificar_ok" style="display: none; width: 30%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backTomodificar($event)"></button>
                            <h2 class="heading_b uk-text-danger">INGRESADO</h2>
                            <p>{{datos.mensaje_ok}}</P>
                        </div>
                        -->

                        <div id="modificar_form">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">{{ informacion.modificar.tituloActual}}</h3>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div class="md-card-content">
                                    <div class="">
                                        <form>
                                            <div ng-repeat="modificar in informacion.modificar.campos" ng-if="modificar.formulario" class="uk-form-row">
                                                <label for="modificar_{{ modificar.solicitud}}">{{ modificar.titulo}}</label>
                                                <input class="md-input" type="text" id="modificar_{{ modificar.solicitud}}" ng-model="modificar.valor" md-input />
                                            </div>
                                            <!-- <div class="uk-form-row">
                                                 <input class="switchery switchery-small" type="checkbox" ui-switch ng-model="checkGlobalModificar" ng-checked="informacion.modificar.campos[empresa]=='0'?true:false"/>
                                                 <label style="color: #727272;" for="checkboxGlobal" class="inline-label">Global {{informacion.modificar.campos}}</label>
                                             </div>
                                            -->
                                            <div class="uk-margin-medium-top">
                                                <a ng-click="enviarSolicitud('modificar')" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                    <span class="menu_icon" ng-if="informacion.modificar.tituloActual == informacion.modificar.cargando">
                                                        <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                    </span> 
                                                    {{ informacion.modificar.tituloActual}}
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal modificar rol -->

            <!-- inicio modal asignar permisos -->
            <div id="mdPermisos" class="uk-modal">
                <div class="uk-modal-dialog" style="width: 90%">
                    <a class="uk-modal-close uk-close"></a>

                    <div id="md-card-content modificar_card" style="width: 100%; margin: 0 auto;" >
                        <!--
                        <div class="md-card-content large-padding uk-position-relative" id="modificar_error" style="display: none; width: 30%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backTomodificar($event)"></button>
                            <h2 class="heading_b uk-text-danger">ERROR</h2>
                            <p>{{datos.mensaje_error}}</P>
                        </div>
                        
                        <div class="md-card-content large-padding uk-position-relative" id="modificar_ok" style="display: none; width: 30%; margin: 0 auto;">
                            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backTomodificar($event)"></button>
                            <h2 class="heading_b uk-text-danger">INGRESADO</h2>
                            <p>{{datos.mensaje_ok}}</P>
                        </div>
                        -->

                        <div id="modificar_form">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">{{ informacion.obtenerPermisos.tituloActual}}: {{permisoSeleccionado.nombre}}</h3>
                            </div>

                            <div >
                                <div class="md-card-content">
                                    <div class="">
                                        <form>
                                            <!--<div class="uk-form-row">
                                                <label for="permisos">{{ informacion.obtenerPermisos.tituloActual}}</label>
                                                <input class="md-input" type="text" config="informacion.obtenerPermisos.elementos.configuracion" options="informacion.obtenerPermisos.elementos.valor" id="permisos" ng-model="informacion.asignarPermisos.permisos" selectize />
                                            </div>-->

                                            <div class="uk-grid uk-grid-collapse">
                                            <div class="uk-width-5-10">
                                                    <div class="uk-input-group" style="margin-top:10px">
                                                            <span class="uk-input-group-addon">
                                                                <i class="uk-input-group-icon uk-icon-search"></i>
                                                            </span>
                                                            <div class="md-input-wrapper">                                                                
                                                                <input class="md-input" placeholder="Buscar permisos disponibles..."  md-input type="text" id=""  ng-model="filtro_permiso">
                                                            </div>
                                                    </div>
                                            </div>
                                            <div class="uk-width-5-10">
                                                <div class="uk-input-group" style="margin-top:10px">
                                                            <span class="uk-input-group-addon">
                                                                <i class="uk-input-group-icon uk-icon-search"></i>
                                                            </span>
                                                            <div class="md-input-wrapper">                                                           
                                                                <input class="md-input" placeholder="Buscar permisos asignados..." type="text" id="" md-input ng-model="filtro_permisotemp">
                                                            </div>
                                               </div>
                                            </div>
                                            <div class="uk-width-5-10" style="background: #ddd;text-align: center;margin-top: 2%">
                                                <div><h4 style="color: #444"><b>Permisos Disponibles</b></h4></div>
                                            </div>
                                            <div class="uk-width-5-10" style="background: #ddd;text-align: center;margin-top: 2%">
                                                <div ><h4 style="color: #444"><b>Permisos Asignados</b></h4></div>
                                            </div>
                                            <div class="uk-width-5-10">
                                                <div style="width:100%; height:300px; overflow : hidden; overflow-y : scroll">
                                                    <table class="uk-table uk-table-nowrap uk-table-hover" style="width: 100%">
                                                        <thead>
                                                            <tr>
                                                                <th class="uk-width-2-10 uk-text-center" style="display: none">ID</th>
                                                                
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr ng-click="agregarPermisos(permiso.codigo)"  ng-repeat="permiso in permisosDisponibles | filter:filtro_permiso" style="cursor: pointer;">
                                                                <td class="uk-width-2-10 uk-text-center" style="display: none">{{permiso.codigo}}</td>
                                                                <td class="uk-width-2-10 uk-text-center">{{permiso.nombre}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    </div>
                                                </div>
                                            <div class="uk-width-5-10">
                                                 <div style="width:100%; height:300px; overflow : hidden; overflow-y : scroll">
                                                    <table class="uk-table uk-table-nowrap uk-table-hover" style="width: 100%">
                                                        <thead>
                                                            <tr>
                                                                <th class="uk-width-2-10 uk-text-center" style="display: none">ID</th>
                                                                
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr ng-repeat="permiso in permisosTemporales | filter:filtro_permisotemp" ng-click="quitarPermisos(permiso.codigo)" style="cursor: pointer;">
                                                                <td class="uk-width-2-10 uk-text-center" style="display: none">{{permiso.codigo}}</td>
                                                                <td class="uk-width-2-10 uk-text-center">{{permiso.nombre}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    </div>
                                            </div>
                                            <a ng-click="enviarSolicitud('asignarPermisos')" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                    <span class="menu_icon" ng-if="informacion.asignarPermisos.tituloActual != informacion.asignarPermisos.titulo">
                                                        <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                    </span> 
                                                    {{ informacion.asignarPermisos.tituloActual}}
                                                </a>
                                        </div>

                                            <div class="uk-margin-medium-top">
                                                
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 8%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal asignar permisos -->

            <!-- modal confirmar eliminar -->
            <div id="mdEliminar" class="uk-modal">
                <div class="uk-modal-dialog" style="width: 50%;">
                    <a class="uk-modal-close uk-close"></a>
                    <div id="md-card-content eliminar_card" style="width: 100%; margin: 0 auto;">
                        <div id="eliminar_form">
                            <div style="padding: 5px 0px 0px 37px;">
                                <h4 class="heading_b uk-margin-bottom" style="color: #e4501e;">
                                    ¿{{informacion.eliminar.titulo}} Siguiente?
                                    <br />
                                    "{{ informacion.listar.elementos.valor[informacion.eliminar.index][informacion.listar.elementos.propiedades[0]]}}"
                                </h4>
                            </div>

                            <div style="padding: 24px 24px 30px;">
                                <div class="md-card-content">
                                    <div class="uk-grid">
                                        <div class="uk-width-medium-1-2">
                                            <a ng-click="enviarSolicitud('eliminar')" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                <span class="menu_icon" ng-if="informacion.eliminar.tituloActual == informacion.eliminar.cargando">
                                                    <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                </span> 

                                                {{ informacion.eliminar.tituloActual}}
                                            </a>
                                        </div>

                                        <div class="uk-width-medium-1-2">
                                            <a ng-click="cerrarEliminar()" class="md-btn md-btn-primary md-btn-block md-btn-large">Cancelar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal confirmar eliminar -->
        </div>
    </div>
</div>

<!-- inicio botón crear nuevo rol -->
<div class="md-fab-wrapper md-fab-speed-dial" style="right:100px">
    <a class="md-fab md-fab-danger" href="javascript:void(0)" ng-click="abrirCrear()" data-uk-tooltip="{pos:'right'}" title="Crear Nuevo Rol"><i class="material-icons">add</i></a>
</div>
<!-- fin botón crear nuevo rol -->