<style>
    .md-fab-wrapper.md-fab-in-card {
        position: fixed !important;
    }
</style>
<!--<div id="top_bar" top-bar ng-escape="esconderFiltros()">-->
<!--<div class="md-top-bar">-->
<!--<div class="uk-width-large-10-10 uk-container-center">-->
<!--<div class="uk-clearfix">-->
<!--<div class="md-top-bar-actions-left">-->
<!--<div class="md-top-bar-checkbox">-->
<!--<input type="checkbox" id="documentos_seleccionar_todos" ng-model="documentos_seleccionar_todos"-->
<!--icheck/>-->
<!--</div>-->

<!--<div class="uk-button-dropdown" data-uk-dropdown="{mode: 'click'}" ng-if="false">-->
<!--<button class="md-btn md-btn-flat md-btn-small md-btn-wave" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"-->
<!--title="Acciones masivas" style="padding-right: 0px">-->
<!--<i class="material-icons">&#xE3E0;</i>-->
<!--<i class="material-icons">&#xE313;</i>-->
<!--</button>-->
<!--<div class="uk-dropdown">-->
<!--<ul class="uk-nav uk-nav-dropdown">-->
<!--<li>-->
<!--<a ng-click="deseleccionarTodo()">Cancelar selección</a>-->
<!--</li>-->
<!--<li>-->
<!--<a ng-click="listarSeleccionados()">Listar solo seleccionados</a>-->
<!--</li>-->
<!--<li class="uk-nav-divider"></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<div class="seleccion" style="display:inline-block;vertical-align:middle;"-->
<!--ng-if="documentosSeleccionados.length>0">-->
<!--{{documentosSeleccionados.length}}-->
<!--<span class="esconderEnMobile">documento{{documentosSeleccionados.length>1?'s':''}}</span>-->
<!--seleccionado{{documentosSeleccionados.length>1?'s':''}}-->
<!--</div>-->
<!--<div class="md-btn-group" style="margin-left:0px">-->
<!--<i class="material-icons" style="color:#ccc;padding:4px;margin:5px 0px 0px 0px;cursor:default">&#xE5D4;</i>-->

<!--<input type="text" style="width: 150px;font-size:17px" ng-model="buscar"-->
<!--placeholder="Buscar..."/>-->
<!--<i class="material-icons" style="color:#ccc;padding:4px;margin:0px 0px 0px -9px;cursor:default">&#xE5D4;</i>-->
<!--</div>-->
<!--<div class="seleccion" style="display:inline-block;vertical-align:middle;">-->
<!--<span class="esconderEnMobile">{{tituloVista}}</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div id="page_content">
    <div id="page_content_inner">
        <h4 class="heading_a uk-margin-bottom">{{tituloVista}}</h4>

        <div class="md-card-list-wrapper" id="documentos">
            <div class="uk-width-large-5-10 uk-container-center">

                <div class="md-card-list">
                    <div class="md-card-list-header heading_list" ng-if="documentos.length == 0">
                        No hay unidades para mostrar
                    </div>
                    <ul class="hierarchical_slide" hierarchical-slide>
                        <li>
                            <!-- botonera -->
                            <span class="md-card-list-item-dato-derecha"
                                  style="display:inline-block;width:40px">&nbsp;</span>
                            <!-- fin botonera -->
                            <div ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'" class="md-card-list-item-dato"
                                 data-uk-tooltip="{cls:'long-text'}" title="Código" style="width: 100px">
                                Rut
                            </div>
                            <div ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'" class="md-card-list-item-dato"
                                 data-uk-tooltip="{cls:'long-text'}" title="Monto total" style="width: 110px">
                                Razón Social
                            </div>

                        </li>
                        <li ng-repeat="documento in unidades | filter:busqueda" on-last-repeat
                            ng-class="{'seleccionable':true,'md-card-list-item-selected':estaSeleccionado(documento.febosId)}">
                            <div class="lista-item-head" style="cursor:pointer">
                                <!-- botonera -->
                                <!--<div class="md-card-list-item-menu"-->
                                <!--data-uk-dropdown="{mode:'click',pos:'bottom-right'}">-->
                                <!--<a href="#" class="md-icon material-icons">&#xE5D4;</a>-->
                                <!--<div class="uk-dropdown uk-dropdown-small" style="z-index:99">-->
                                <!--<ul class="uk-nav">-->
                                <!--<li permiso="POR05|left">-->
                                <!--<a ng-click="abritBitacora(documento)">-->
                                <!--<i class="material-icons">&#xE896;</i> Bitacora</a>-->
                                <!--</li>-->
                                <!--</ul>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!-- fin botonera -->
                                <span
                                        class="md-card-list-item" data-uk-tooltip="{cls:'long-text'}"
                                        title="Rut" style="width:90px;text-align:center">
                                    {{documento.iut}}
                            </span>
                                <span
                                        class="md-card-list-item" data-uk-tooltip="{cls:'long-text'}"
                                        title="Razón Social" style="width:90px;text-align:center">
                                    {{documento.razonSocial}}
                            </span>
                            </div>
                            <div class="md-card-list-item-content-wrapper">
                                <div class="md-card-list-item-content">
                                    <!--<div class="uk-alert" data-uk-alert ng-bind-html="prosa(documento)"></div>-->
                                    <div class="uk-grid">
                                        <div class="uk-width-large-1-1">
                                            <h4 class="heading_c uk-margin-small-bottom color-principal">
                                                Información General
                                            </h4>
                                            <div class="uk-grid">
                                                <div class="uk-width-large-1-3"
                                                     ng-if="documento.proyecto.codigo!= undefined">
                                                    <ul class="md-list md-list-addon">
                                                        <li>
                                                            <div class="md-list-addon-element">
                                                                <i class="md-list-addon-icon material-icons">&#xE54E;</i>
                                                            </div>
                                                            <div class="md-list-content">
                                                                <span class="md-list-heading">{{documento.proyecto.codigo}} - {{documento.proyecto.nombre}}</span>
                                                                <span class="uk-text-small uk-text-muted">Proyecto</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="uk-width-large-1-3">
                                                    <ul class="md-list md-list-addon">
                                                        <li>
                                                            <div class="md-list-addon-element">
                                                                <i class="md-list-addon-icon material-icons">&#xE54E;</i>
                                                            </div>
                                                            <div class="md-list-content">
                                                                <span class="md-list-heading">{{documento.proyecto}}</span>
                                                                <span class="uk-text-small uk-text-muted">Proyecto</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="md-fab-wrapper md-fab-in-card md-fab-speed-dial" style="right: 80px" permiso="POR07|left">
    <a class="md-fab md-fab-primary" href="javascript:void(0)" md-fab-speed-dial data-uk-tooltip="{cls:'long-text'}"
       title="Acciones"><i class="material-icons">bubble_chart</i></a>
    <div class="md-fab-wrapper-small">
        <a class="md-fab md-fab-small md-fab-success" ng-click="modalAgregarUnidad()" permiso="POR09|left"
           data-uk-tooltip="{pos:'left',cls:'long-text'}" title="Nueva Unidad Tecnica">
            <i class="material-icons">add</i>
        </a>
    </div>
</div>
<div id="mdlNuevaUnidad" class="uk-modal">
    <div ng-include="'app/febos/documentos/portafolio/unidadestecnicas/modales/nueva.html'" include-replace></div>
</div>
