<div class="uk-container uk-container-center">
    <div class="md-card">
        <div class="md-card-content padding-reset">
            <div class="uk-grid uk-grid-collapse">
                <div class="uk-width-large-2-3 uk-hidden-medium uk-hidden-small">
                    <div class="login_page_info uk-height-1-1" style="background-image: url('assets/img/others/sabri-tuzcu-331970.jpg')">
                        <div class="info_content">
                            <h1 class="heading_b">Bienvenido a Febos!</h1>
                            <!--
                            Texto de bienvenida
                            <p>
                                <a class="md-btn md-btn-success md-btn-small md-btn-wave" href="javascript:void(0)">More info</a>
                            </p>-->
                        </div>
                    </div>
                </div>
                <div class="uk-width-large-1-3 uk-width-medium-2-3 uk-container-center">
                    <div class="login_page_forms">
                        <div id="login_card">
                            <div id="login_form">
                                <div class="login_heading">
                                    <div class="user_avatar"></div>
                                </div>
                                <form>
                                    <div class="uk-form-row">
                                        <label for="login_username">Correo</label>
                                        <input class="md-input" type="text" id="login_username" ng-model="datos.correo" md-input autofocus/>
                                    </div>
                                    <div class="uk-form-row">
                                        <label for="login_password">Contraseña</label>
                                        <input class="md-input" type="password" id="login_password" ng-model="datos.clave" md-input ng-enter="login()"/>
                                    </div>
                                    <div class="uk-margin-medium-top">
                                        <button
                                            ng-click="login()"
                                            class="md-btn md-btn-primary md-btn-block md-btn-large"
                                        >
                                            Entrar
                                        </button>
                                    </div>
                                    <div class="uk-grid uk-grid-width-1-1 uk-grid-small uk-margin-top" style="padding: 0px 60px" ng-if="true">
                                        <div><a href="#" data-uk-tooltip="{pos:'bottom'}" title="Entrar con Clave Única <br/> del Registro Civil" ng-click="loginClaveUnica($event)"><img src="assets/img/logos/logo_clave_unica.png" alt="Entrar con Clave Única <br/> del Registro Civil" /></a></div>
                                    </div>
                                    <div class="uk-margin-top">
                                        <a href="#" id="login_help_show" class="uk-float-right" ng-click="loginHelp($event)">¡Ayuda!</a>
                                        <span class="icheck-inline">
                                            <input type="checkbox" name="login_page_stay_signed" id="login_page_stay_signed" icheck ng-model="login_signed" />
                                            <label for="login_page_stay_signed" class="inline-label">Recordar mi correo</label>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <div class="uk-position-relative" id="login_help" style="display: none">
                                <button type="button" class="uk-position-top-right uk-close uk-margin-right back_to_login" ng-click="backToLogin($event)"></button>
                                <h2 class="heading_b uk-text-success">¿No puedes ingresar?</h2>
                                <p>Si no puedes ingresar, aquí te indicamos que hacer:</p>
                                <p>Primero, lo mas fácil y rápido: si recuerdas tu contraseña pero aún así no funciona, asegurate de que no tienes activadas las mayúsculas en el teclado, y de que tu correo electrónico se encuentra bien escrito.</p>
                                <p>Si aún no puedes ingresar, o ya no recuerdas tu contraseña, lo mas recomendable sería: </p>
                                <br/><span><a href="#" id="password_reset_show" ng-click="passwordReset($event)">Resetear tu contraseña</a></span>
                            </div>
                            <!-- inicio formulario de recuperación de clave -->
                            <div class="md-card-content large-padding" id="login_password_reset" style="display: none;">
                                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToLogin($event)"></button>
                    
                                <h2 class="heading_b uk-text-success" style="text-align: center;">Resetear Contraseña</h2>
                                <p style="text-align: center;">Ingresa tu correo electrónico y te enviaremos las instrucciones para obtener una nueva contraseña</p>
                    
                                <form>
                                    <div class="uk-form-row">
                                        <label for="login_email_reset">Correo electrónico</label>
                    
                                        <input class="md-input" type="text" id="login_email_reset" ng-model="datos.correo_reset" md-input />
                                    </div>
                                    <div class="uk-margin-medium-top">
                                            <a ng-click="recuperar()" class="md-btn md-btn-primary md-btn-block md-btn-medium">
                                                <span class="menu_icon" ng-if="datos.textoResetear != 'RESETEAR CONTRASEÑA'">
                                                    <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                </span> 
                                                {{ datos.textoResetear}}
                                            </a>
                                        </div>
                                </form>
                            </div>
                            <div class="md-card-content large-padding uk-position-relative" id="login_error" style="display: none;">
                                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToLogin($event)"></button>
                    
                                <h2 class="heading_b uk-text-success">Ups!</h2>
                                <p>{{datos.error}}</p>
                            </div>
                            <!-- inicio mensaje de recuperación de clave -->
                            <div class="md-card-content large-padding uk-position-relative" id="login_password_reset_ok" style="display: none;">
                                    <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToLogin($event)"></button>
                        
                                    <h2 class="heading_b uk-text-success">Recuperación de clave</h2>
                                    <p>{{ datos.ok}}</p>
                                </div>
                                <!-- fin mensaje de recuperación de clave -->
                            <!--div id="register_form" style="display: none">
                                <button type="button" class="uk-position-top-right uk-close uk-margin-right back_to_login" ng-click="backToLogin($event)"></button>
                                <h2 class="heading_a uk-margin-medium-bottom">Create an account</h2>
                                <form>
                                    <div class="uk-form-row">
                                        <label for="register_username">Username</label>
                                        <input class="md-input" type="text" id="register_username" ng-model="register_username" md-input />
                                    </div>
                                    <div class="uk-form-row">
                                        <label for="register_password">Password</label>
                                        <input class="md-input" type="password" id="register_password" ng-model="register_password" md-input />
                                    </div>
                                    <div class="uk-form-row">
                                        <label for="register_password_repeat">Repeat Password</label>
                                        <input class="md-input" type="password" id="register_password_repeat" ng-model="register_password_repeat" md-input />
                                    </div>
                                    <div class="uk-form-row">
                                        <label for="register_email">E-mail</label>
                                        <input class="md-input" type="text" id="register_email" ng-model="register_email" md-input />
                                    </div>
                                    <div class="uk-margin-medium-top">
                                        <a ui-sref="restricted.dashboard" class="md-btn md-btn-primary md-btn-block md-btn-large">Sign Up</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="uk-margin-top uk-text-center">
                            <a href="#" id="signup_form_show" ng-hide="registerFormActive" ng-click="registerForm($event)">Solicitar cuenta</a>
                        </div-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>