<style>
    .uk-dropdown.uk-dropdown-small {
        width: 190px !important;
    }

    @media screen and (max-width: 1024px) {
        .esconderEnMobile {
            display: none !important;
        }
    }

    .sinEspaciado {
        line-height: 13px !important;
    }

    .selectize-dropdown,
    .uk-dropdown-active {
        z-index: 9999;
    }

    .sle:hover {
        cursor: pointer;
        background-color: #eee;
        color: orange;
    }

    .md-input {
        min-height: 35px !important;
        padding-top: 4px !important;
        padding-bottom: 0px !important;
    }

    select.md-input {
        margin-top: 13px;
    }

</style>
<div id="top_bar" top-bar ng-escape="esconderFiltros()">
    <div class="md-top-bar">
        <div class="uk-width-large-10-10 uk-container-center">
            <div class="uk-clearfix">
                <div class="md-top-bar-actions-left">
                    <div class="md-top-bar-checkbox">
                        <input type="checkbox" id="documentos_seleccionar_todos" ng-model="documentos_seleccionar_todos"
                               icheck/>
                    </div>

                    <div class="uk-button-dropdown" data-uk-dropdown="{mode: 'click'}" ng-if="false">
                        <button class="md-btn md-btn-flat md-btn-small md-btn-wave" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                title="Acciones masivas" style="padding-right: 0px">
                            <i class="material-icons">&#xE3E0;</i>
                            <i class="material-icons">&#xE313;</i>
                        </button>
                        <div class="uk-dropdown">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li>
                                    <a ng-click="deseleccionarTodo()">Cancelar selección</a>
                                </li>
                                <li>
                                    <a ng-click="listarSeleccionados()">Listar solo seleccionados</a>
                                </li>
                                <li class="uk-nav-divider"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="seleccion" style="display:inline-block;vertical-align:middle;"
                         ng-if="documentosSeleccionados.length>0">
                        {{documentosSeleccionados.length}}
                        <span class="esconderEnMobile">documento{{documentosSeleccionados.length>1?'s':''}}</span>
                        seleccionado{{documentosSeleccionados.length>1?'s':''}}
                    </div>
                    <div class="md-btn-group" style="margin-left:0px">
                        <i class="material-icons" style="color:#ccc;padding:4px;margin:5px 0px 0px 0px;cursor:default">&#xE5D4;</i>

                        <input type="text" style="width: 150px;font-size:17px" ng-model="buscar"
                               placeholder="Buscar..."/>

                        <i class="material-icons" style="color:#ccc;padding:4px;margin:0px 0px 0px -9px;cursor:default">&#xE5D4;</i>
                    </div>
                    <div class="seleccion" style="display:inline-block;vertical-align:middle;">
                        <span class="esconderEnMobile">{{tituloVista}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="page_content">
    <div id="page_content_inner">

        <div class="md-card-list-wrapper" id="documentos">
            <div class="uk-width-large-10-10 uk-container-center">

                <div class="md-card-list">
                    <div class="md-card-list-header heading_list" ng-if="documentos.length > 0">
                        Documentos del {{ paginacion.elementoDesde}} al {{ paginacion.elementoHasta}} , de un total de
                        {{ paginacion.total}}
                    </div>
                    <div class="md-card-list-header heading_list" ng-if="documentos.length == 0">
                        No hay documentos para mostrar
                    </div>
                    <ul class="hierarchical_slide" hierarchical-slide>
                        <li>
                            <!-- botonera -->
                            <span class="md-card-list-item-dato-derecha"
                                  style="display:inline-block;width:40px">&nbsp;</span>
                            <!-- fin botonera -->

                            <span ng-if="tipoPantalla != 'xs'" class="md-card-list-item-dato-derecha"
                                  data-uk-tooltip="{cls:'long-text'}" title="Fecha de inicio"
                                  style="width:90px;text-align:center">
                                Fecha Inicio
                            </span>
                            <span ng-if="tipoPantalla != 'xs'" class="md-card-list-item-dato-derecha"
                                  data-uk-tooltip="{cls:'long-text'}" title="Vigencia"
                                  style="width:90px;text-align:center">
                                Fecha Fin
                            </span>
                            <span ng-if="tipoPantalla != 'xs'" class="md-card-list-item-dato-derecha"
                                  data-uk-tooltip="{cls:'long-text'}" title="% de Avance"
                                  style="width:90px;text-align:center">
                                Avance
                            </span>

                            <div class="md-card-list-item-select">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>

                            <div ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'" class="md-card-list-item-dato"
                                 data-uk-tooltip="{cls:'long-text'}" title="Estado" style="width: 60px">
                                Estado
                            </div>

                            <div ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'" class="md-card-list-item-dato"
                                 data-uk-tooltip="{cls:'long-text'}" title="Monto total" style="width: 150px">
                                Monto Total
                            </div>
                            <div ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'" class="md-card-list-item-dato"
                                 data-uk-tooltip="{cls:'long-text'}" title="Monto total" style="width: 150px">
                                Monto Disponible
                            </div>
                            <div ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'" class="md-card-list-item-dato"
                                 data-uk-tooltip="{cls:'long-text'}" title="Código" style="width: 90px">
                                Código
                            </div>

                            <div class="md-card-list-item-compactable">
                                <div class="md-card-list-item-mini-dato" data-uk-tooltip="{cls:'long-text'}"
                                     title="Tipo y Folio del documento" ng-if="tipoPantalla=='xs'">
                                    <span>Código BIP / % Avance</span>
                                </div>
                                <div class="md-card-list-item-mini-dato" data-uk-tooltip="{cls:'long-text'}"
                                     title="Monto total del documento" ng-if="tipoPantalla=='xs'">
                                    <span>Monto Total</span>
                                </div>
                                <span ng-class="{'sinEspaciado':tipoPantalla=='xs'}" data-uk-tooltip="{cls:'long-text'}"
                                      title="Razón Social del emisor del documento">Nombre</span>
                            </div>

                        </li>
                        <li ng-repeat="documento in documentos | filter:busqueda" on-last-repeat style="cursor:pointer"
                            ng-class="{'seleccionable':true,'md-card-list-item-selected':estaSeleccionado(documento.febosId)}">
                            <!-- botonera -->
                            <div class="md-card-list-item-menu" data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                                <a href="#" class="md-icon material-icons">&#xE5D4;</a>
                                <div class="uk-dropdown uk-dropdown-small" style="z-index:99">
                                    <ul class="uk-nav">
                                        <li permiso="POR03|left">
                                            <a ui-sref="restringido.portafolio-editar-proyecto({proyectoId:documento.proyectoId,app:app})">
                                                <i class="material-icons">&#xE896;</i> Modificar Proyecto</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- fin botonera -->
                            <span ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'"
                                  class="md-card-list-item-dato-derecha" data-uk-tooltip="{cls:'long-text'}"
                                  title="Fecha de emisión del documento" style="width:90px;text-align:center">&nbsp;
                                    {{formatearFecha(documento.fechaInicio)}}
                            </span>
                            <span ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'"
                                  class="md-card-list-item-dato-derecha" data-uk-tooltip="{cls:'long-text'}"
                                  title="Fecha de emisión del documento" style="width:90px;text-align:center">
                                    {{formatearFecha(documento.fechaTermino)}}&nbsp;
                            </span>
                            <span ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'"
                                  class="md-card-list-item-dato-derecha" data-uk-tooltip="{cls:'long-text'}"
                                  title="{{calcularAvanceProyectoPorMontos(documento)}}% de Avance"
                                  style="width:90px;text-align:center">
                                <div ng-if="calcularAvanceProyectoPorMontos(documento) < 30"
                                     class="uk-progress uk-progress-mini uk-progress-danger uk-margin-remove">
                                    <div class="uk-progress-bar"
                                         style="width: {{calcularAvanceProyectoPorMontos(documento)}}%;"></div>
                                </div>
                                <div ng-if="calcularAvanceProyectoPorMontos(documento)>=30 && calcularAvanceProyectoPorMontos(documento)<50"
                                     class="uk-progress uk-progress-mini uk-progress-warning uk-margin-remove">
                                        <div class="uk-progress-bar"
                                             style="width: {{calcularAvanceProyectoPorMontos(documento)}}%;"></div>
                                </div>
                                <div ng-if="calcularAvanceProyectoPorMontos(documento)>=50 && calcularAvanceProyectoPorMontos(documento)<70"
                                     class="uk-progress uk-progress-mini uk-margin-remove">
                                        <div class="uk-progress-bar"
                                             style="width: {{calcularAvanceProyectoPorMontos(documento)}}%;"></div>
                                    </div>
                                <div ng-if="calcularAvanceProyectoPorMontos(documento)>=70"
                                     class="uk-progress uk-progress-mini uk-progress-success uk-margin-remove">
                                    <div class="uk-progress-bar"
                                         style="width: {{calcularAvanceProyectoPorMontos(documento)}}%;"></div>
                                </div>
                                &nbsp;{{calcularAvanceProyectoPorMontos(documento) }}%
                            </span>


                            <div class="md-card-list-item-select">
                                <input type="checkbox" id="documento_{{documento.febosId}}" class="select_message"
                                       ng-checked="estaSeleccionado(documento.febosId)"
                                       icheck ng-model="documento_seleccionado"/>
                            </div>

                            <div class="md-card-list-item-estado-wrapper">
                                <span class="md-card-list-item-estado md-bg-green-600"
                                      data-uk-tooltip="{cls:'long-text'}"
                                      title="Activo">
                                    <i class="material-icons" style="color:white">done</i>
                                </span>
                            </div>

                            <div class="md-card-list-item-dato" style="width:150px"
                                 ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'">
                                <span ng-if="documento.montoTotal == documento.montoOriginal && documento.montoTotal>=1000000">{{formatearMonto(Math.round(documento.montoTotal/1000000), "MM $")}}</span>
                                <span ng-if="documento.montoTotal != documento.montoOriginal && documento.montoTotal>=1000000">{{formatearMonto(Math.round(documento.montoTotal/1000000), "MM $")}} ({{Math.abs(Math.round((100-(documento.montoOriginal*100/documento.montoTotal))*100)/100)}} %)</span>

                                <span ng-if="documento.montoTotal == documento.montoOriginal && documento.montoTotal<1000000">{{formatearMonto(Math.round(documento.montoTotal), "$")}}</span>
                                <span ng-if="documento.montoTotal != documento.montoOriginal && documento.montoTotal<1000000">{{formatearMonto(Math.round(documento.montoTotal), "$")}} ({{Math.abs(Math.round((100-(documento.montoOriginal*100/documento.montoTotal))*100)/100)}} %)</span>
                            </div>
                            <div class="md-card-list-item-dato" style="width:150px"
                                 ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'">
                                <span>{{formatearMonto(documento.montoDisponible, "$")}}</span>
                            </div>

                            <div class="md-card-list-item-dato" style="width:100px"
                                 ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'">
                                <span>{{documento.codigo}}</span>
                            </div>

                            <div class="md-card-list-item-compactable">
                                <div class="md-card-list-item-mini-dato" ng-if="tipoPantalla=='xs'">
                                    <span>{{documento.codigo}} - {{calcularAvanceProyecto(documento)}}%</span>
                                </div>
                                <div class="md-card-list-item-mini-dato" ng-if="tipoPantalla=='xs'">
                                    <span>{{formatearMonto(documento.montoTotal, "$")}}</span>
                                </div>
                                <span ng-class="{'sinEspaciado':tipoPantalla=='xs'}">{{documento.nombre}}</span>
                            </div>

                            <div class="md-card-list-item-content-wrapper">
                                <div class="md-card-list-item-content">
                                    <div class="uk-grid">
                                        <div class="uk-width-large-2-2">
                                            <div class="uk-width-large-1-1">
                                                <h4 class="heading_c uk-margin-small-bottom color-principal">Información
                                                    General</h4>
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-3">
                                                        <ul class="md-list md-list-addon">
                                                            <li>
                                                                <div class="md-list-addon-element">
                                                                    <i class="md-list-addon-icon material-icons">&#xE54E;</i>
                                                                </div>
                                                                <div class="md-list-content">
                                                                    <span class="md-list-heading">{{documento.responsable.nombre}} ({{documento.responsable.correo}})</span>
                                                                    <span class="uk-text-small uk-text-muted">Responsable</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <ul class="md-list md-list-addon">
                                                            <li>
                                                                <div class="md-list-addon-element">
                                                                    <i class="md-list-addon-icon material-icons">&#xE156;</i>
                                                                </div>
                                                                <div class="md-list-content">
                                                                    <span class="md-list-heading">{{formatearFecha(documento.fechaInicio)}}</span>
                                                                    <span class="uk-text-small uk-text-muted">Fecha de Inicio</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <ul class="md-list md-list-addon">

                                                            <li ng-if="documento.fechaTermino != undefined">
                                                                <div class="md-list-addon-element">
                                                                    <i class="md-list-addon-icon material-icons">&#xE916;</i>
                                                                </div>
                                                                <div class="md-list-content">
                                                                    <span class="md-list-heading">{{formatearFecha(documento.fechaTermino)}}</span>
                                                                    <span class="uk-text-small uk-text-muted">Fecha de Vencimiento</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="uk-grid" style="border-top: 1px dashed rgba(0,0,0,.12);">
                                                    <div class="uk-width-1-2">
                                                        <ul class="md-list md-list-addon">
                                                            <li>
                                                                <div class="md-list-addon-element">
                                                                    <i class="md-list-addon-icon material-icons">&#xE8DF;</i>
                                                                </div>
                                                                <div class="md-list-content">
                                                                    <span class="md-list-heading">{{formatearMonto(documento.montoDisponible, "$")}}</span>
                                                                    <span class="uk-text-small uk-text-muted">Saldo</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="uk-width-large-1-1">
                                                <h4 class="heading_c uk-margin-small-bottom color-principal">
                                                    Anticipo</h4>
                                                <ul class="md-list md-list-addon"
                                                    ng-repeat="topico in documento.topicos">
                                                    <li ng-repeat="anticipo in topico.anticipos">
                                                        <div class="md-list-addon-element">
                                                            <i class="md-list-addon-icon material-icons">local_atm</i>
                                                        </div>
                                                        <div class="md-list-content">
                                                            <span class="md-list-heading">{{formatearMonto(anticipo.monto, "$")}}</span>
                                                            <span class="md-list-heading">{{formatearFecha(anticipo.fecha)}}</span>
                                                            <span class="uk-text-small uk-text-muted">{{anticipo.asunto}}</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="uk-width-large-1-1">
                                                <h4 class="heading_c uk-margin-small-bottom color-principal">
                                                    Topicos</h4>
                                                <div class="uk-grid">
                                                    <div class="uk-width-large-1-2"
                                                         ng-repeat="topico in documento.topicos"
                                                         style="border-top: 1px dashed rgba(0,0,0,.12);">

                                                        <ul class="md-list md-list-addon">
                                                            <li>
                                                                <div class="md-list-addon-element">
                                                                    <i class="md-list-addon-icon material-icons">description</i>
                                                                </div>
                                                                <div class="md-list-content">
                                                                    <span class="md-list-heading">Total: {{formatearMonto(topico.totalMandato, "$")}}</span>
                                                                    <span class="md-list-heading">Saldo: {{formatearMonto(topico.saldoMandato, "$")}}</span>
                                                                    <span class="uk-text-small uk-text-muted">{{topico.asunto}}</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-width-large-1-1">
                                                <h4 class="heading_c uk-margin-small-bottom color-principal">
                                                    Polizas</h4>
                                                <ul class="md-list md-list-addon"
                                                    ng-repeat="topico in documento.topicos">
                                                    <li ng-repeat="poliza in topico.polizas">
                                                        <div class="md-list-addon-element">
                                                            <i class="md-list-addon-icon material-icons">description</i>
                                                        </div>
                                                        <div class="md-list-content">
                                                            <span class="md-list-heading">{{poliza.tipo}}</span>
                                                            <span class="md-list-heading">{{formatearMonto(poliza.monto, "$")}}</span>
                                                            <span class="uk-text-small uk-text-muted">{{poliza.aseguradora}}</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="uk-width-large-1-2">
                                            <div class="uk-width-large-1-1">
                                                <h4 class="heading_c uk-margin-small-bottom color-principal">Boletas de
                                                    Garantía</h4>
                                                <ul class="md-list md-list-addon"
                                                    ng-repeat="topico in documento.topicos">
                                                    <li ng-repeat="boleta in topico.boletas">
                                                        <div class="md-list-addon-element">
                                                            <i class="md-list-addon-icon material-icons">event_note</i>
                                                        </div>
                                                        <div class="md-list-content">
                                                            <span class="md-list-heading">{{formatearMonto(boleta.monto, "$")}} ({{boleta.porcentajeBoleta}}%) # {{boleta.folio}}</span>
                                                            <span class="md-list-heading">{{boleta.banco}}</span>
                                                            <span class="md-list-heading">{{formatearFecha(boleta.fechaEmision)}}</span>
                                                            <span class="uk-text-small uk-text-muted">{{boleta.concepto}}</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="md-fab-wrapper md-fab-in-card md-fab-speed-dial" style="right: 80px">
    <a class="md-fab md-fab-primary" href="javascript:void(0)" md-fab-speed-dial data-uk-tooltip="{cls:'long-text'}"
       title="Acciones"><i class="material-icons">bubble_chart</i></a>
    <div class="md-fab-wrapper-small">
        <a permiso="WPF10|left" class="md-fab md-fab-small md-fab-success" ui-sref="restringido.portafolio-crear-proyecto({app:app})"
           data-uk-tooltip="{pos:'left',cls:'long-text'}" title="Nuevo proyecto">
            <i class="material-icons">add</i>
        </a>
        <a  permiso="WPF11|left" class="md-fab md-fab-small md-fab-success" ng-click="crearProyectoModal()"
           data-uk-tooltip="{pos:'left',cls:'long-text'}" title="Crear Nuevo proyecto">
            <i class="material-icons">add</i>
        </a>
    </div>
</div>


<div id="portafolio_modales_proyectos_crear" class="uk-modal">
    <div ng-include="'app/febos/documentos/portafolio/proyectos/modales/proyectos/crear.html'" include-replace></div>
</div>

