<div id="page_content">
    <div class="md-card uk-margin-medium-bottom">
        <div id="page_content_inner">
            <div id="page_heading">
            <h1>Receptores Electrónicos</h1>
            <span class="uk-text-muted uk-text-upper uk-text-small">Listado de receptores electrónicos según el SII</span>
        </div>
            
            <!-- inicio filtros de receptores electrónicos -->
            <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-toolbar">
                    <div class="md-card-toolbar-actions">
                        <!--<card-fullscreen-activate></card-fullscreen-activate>-->
                        <card-toggle></card-toggle>
                    </div>
                    
                    <!--<card-fullscreen-deactivate></card-fullscreen-deactivate>-->
                    
                    <h3 class="md-card-toolbar-heading-text">Filtros</h3>
                </div>

                <div class="md-card-content">
                    <h3 class="heading_a">Filtros de Receptores Electrónicos</h3>
                    
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-3">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-search"></i></span>
                                <label for="receptor_rut">Búsqueda por RUT </label>
                                <input class="md-input" type="text" id="receptor_rut" placeholder="(ej. 11111111-1)"  ng-model="filtros.receptor_rut" maxlength="10" />
                            </div>
                        </div>
                        
                        <div class="uk-width-medium-1-3">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-search"></i></span>
                                <label for="nombre_empresa">Búsqueda por Nombre</label>
                                <input class="md-input" type="text" id="nombre_empresa" placeholder="(ej. IA Solution)" ng-model="filtros.nombre_empresa" maxlength="50" />
                            </div>
                        </div>
                        
                        <div class="uk-width-medium-1-3">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-search"></i></span>
                                <label for="correo">Búsqueda por Correo </label>
                                <input class="md-input" type="text" id="correo" placeholder="(ej. admin@febos.cl)" ng-model="filtros.correo" maxlength="50" />
                            </div>
                        </div>
                    </div>

                    <br /><br />
                    
                    <div class="uk-grid" data-uk-grid-margin style="width: 60%; margin: 0 auto;">
                        <div class="uk-width-medium-1-4"></div>

                        <div class="uk-width-medium-1-4">
                            <a href="javascript:void(0)" ng-click="cambiarPagina('inicio')" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Buscar Usuario"><i class="material-icons">&#xE8B6;</i> Buscar</a>
                        </div>

                        <div class="uk-width-medium-1-4">
                            <a href="javascript:void(0)" ng-click="limpiarFiltros()" class="md-btn md-btn-warning md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Limpiar Búsqueda"><i class="material-icons">&#xE0B8;</i> Limpiar</a>
                        </div>

                        <div class="uk-width-medium-1-4"></div>
                    </div>
                </div>
            </div>
            <!-- fin filtros de receptores electrónicos -->
            
            <!-- inicio mantenedor/listado de receptores electrónicos -->
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-nowrap uk-table-hover">
                        <thead>
                            <tr>
                                <th style="font-size: 12px;" class="uk-width-1-10 uk-text-center">RUT</th>
                                <th style="font-size: 12px;" class="uk-width-1-10 uk-text-center">RAZÓN SOCIAL</th>
                                <th style="font-size: 12px;" class="uk-width-1-10 uk-text-center">N° RESOLUCIÓN</th>
                                <th style="font-size: 12px;" class="uk-width-1-10 uk-text-center">FECHA RESOLUCIÓN</th>
                                <th style="font-size: 12px;" class="uk-width-1-10 uk-text-center">CORREO</th>
                                <!--<th style="font-size: 12px;" class="uk-width-1-10 uk-text-center">ACCIONES</th>-->
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr ng-if="cargando">
                                <td colspan="9" style="text-align: center;"><img src="ajax-loader.gif"> Buscando receptores electrónicos...</td>
                            </tr>

                            <tr ng-if="!cargando && receptores.length == 0">
                                <td colspan="9" style="text-align: center;">No se encontró ningún receptor electrónico registrado</td>
                            </tr>

                            <tr ng-if="!cargando && receptores.length > 0" ng-repeat="receptor in receptores track by $index" id="receptor_{{ receptor.id }}">
                                <td style="font-size: 12px;" class="uk-width-2-10 uk-text-center">{{ receptor.rut }}</td>
                                <td style="font-size: 12px;" class="uk-width-2-10 uk-text-center">{{ receptor.razonSocial }}</td>
                                <td style="font-size: 12px;" class="uk-width-2-10 uk-text-center">{{ receptor.numeroResolucion }}</td>
                                <td style="font-size: 12px;" class="uk-width-2-10 uk-text-center">{{ receptor.fechaResolucion }}</td>
                                <td style="font-size: 12px;" class="uk-width-2-10 uk-text-center">{{ receptor.correo }}</td>
                                <!--<td style="font-size: 12px;" class="uk-width-1-10 uk-text-center"></td>-->
                            </tr>
                        </tbody>
                    </table>

                    <ul ng-if="!cargando && receptores.length > 0"  class="uk-pagination uk-margin-medium-top">
                        <li class="uk-disabled" ng-if="filtros.pagina==1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                        <li class="uk" ng-if="filtros.pagina!=1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                        <li ng-repeat="pag in filtros.paginas track by $index" class="uk{{(filtros.pagina==pag.numero?'-active':'')}}"><a href="" ng-click="cambiarPagina($index)">{{pag.numero}}</a></li>
                        <li class="uk-disabled" ng-if="filtros.pagina==totalPaginas"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                        <li class="uk" ng-if="filtros.pagina!=totalPaginas"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>