<style>
    select.soflow{
        -webkit-appearance: button;
        -webkit-border-radius: 2px;
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-padding-end: 20px;
        -webkit-padding-start: 2px;
        -webkit-user-select: none;
        background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
        background-position: 97% center;
        background-repeat: no-repeat;
        border: 1px solid #AAA;
        color: #555;
        font-size: inherit;
        margin: 2px;
        overflow: hidden;
        padding: 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 90%;
    }
    input.soflow{
        -webkit-appearance: button;
        -webkit-border-radius: 2px;
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-padding-end: 20px;
        -webkit-padding-start: 2px;
        -webkit-user-select: none;
        background-position: 97% center;
        background-repeat: no-repeat;
        border: 1px solid #AAA;
        color: #555;
        font-size: inherit;
        margin: 2px;
        overflow: hidden;
        padding: 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 90%;
    }
    .nodoActual{
        background-color: lawngreen;
    }
    .nodoAnterior{
        background-color: lightseagreen;
    }

</style>
<br/>
<div id="page_content">
    <div class="md-card uk-margin-medium-bottom">
        <div id="page_content_inner">
            <div id="page_heading">
                <h1>Ejecuciones del flujo {{nombre}}</h1>
                <span class="uk-text-muted uk-text-upper uk-text-small">Listado de instancias de ejecución</span>
            </div>

            <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-toolbar">
                    <div class="md-card-toolbar-actions">
                        <card-fullscreen-activate></card-fullscreen-activate>
                        <card-toggle></card-toggle>
                    </div>

                    <card-fullscreen-deactivate></card-fullscreen-deactivate>

                    <h3 class="md-card-toolbar-heading-text">Filtros</h3>
                </div>

                <div class="md-card-content">
                    <h3 class="heading_a">Filtros de flujos</h3>

                    <div class="uk-grid" data-uk-grid-margin>

                        <div class="uk-width-medium-1-3">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-search"></i></span>
                                <label for="usuario_nombre">Búsqueda por nombre de archivo</label>
                                <input class="md-input" type="text" id="usuario_nombre" md-input ng-model="filtros.path">
                            </div>
                        </div>
                        <div class="uk-width-medium-1-3">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                <label for="fecha_desde">Fecha Desde</label>
                                <input class="md-input" type="text" id="fecha_desde" md-input ng-model="filtros.fecha_desde" data-uk-datepicker="{weekstart:0, format:'YYYY-MM-DD', i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], weekdays: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa']}}" />
                            </div>
                        </div>
                        <div class="uk-width-medium-1-3">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                <label for="fecha_hasta">Fecha Hasta</label>
                                <input class="md-input" type="text" id="fecha_hasta" md-input ng-model="filtros.fecha_hasta" data-uk-datepicker="{weekstart:0, format:'YYYY-MM-DD', i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], weekdays: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa']}}" />
                            </div>
                        </div>
                    </div>

                    <div class="uk-grid" data-uk-grid-margin style="margin-top: 5%;">
                        <div class="uk-width-medium-1-4"></div>
                        <div class="uk-width-medium-1-4">
                            <a href="javascript:void(0)" ng-click="buscarFiltros(false)" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Buscar"><i class="material-icons">&#xE8B6;</i> Buscar</a>
                        </div>
                        <div class="uk-width-medium-1-4">
                            <a href="javascript:void(0)" ng-click="limpiarFiltros()" class="md-btn md-btn-warning md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Limpiar Búsqueda"><i class="material-icons">&#xE0B8;</i> Limpiar</a>
                        </div>
                        <div class="uk-width-medium-1-4"></div>
                    </div>
                </div>
            </div>

            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-nowrap uk-table-hover">
                        <thead>
                            <tr>
                                <th class="uk-width-2-10 uk-text-center">Versión Flujo</th>
                                <th class="uk-width-2-10 uk-text-center">Fecha</th>
                                <th class="uk-width-2-10 uk-text-center">Archivo</th>
                                <th class="uk-width-2-10 uk-text-center">Origen</th>
                                <th class="uk-width-2-10 uk-text-center">ID de Seguimiento</th>
                                <th class="uk-width-2-10 uk-text-center">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-if="cargando">
                                <td colspan="6"><center><img src="ajax-loader.gif" /> Buscando...</center></td>
                        </tr>
                        <tr ng-if="ejecuciones.length == 0 && !cargando">
                            <td colspan="6"><center>No se encontraron ejecuciones</center></td>
                        </tr>
                        <tr ng-repeat="ejecucion in ejecuciones track by $index">
                            <td class="uk-width-2-10 uk-text-center">{{ejecucion.version}}</td>
                            <td class="uk-width-2-10 uk-text-center">{{ejecucion.fecha.split(".")[0]}}</td>
                            <td class="uk-width-2-10 uk-text-center">{{ejecucion.path}}</td>
                            <td class="uk-width-2-10 uk-text-center">{{ejecucion.origen}}</td>
                            <td class="uk-width-2-10 uk-text-center">{{ejecucion.seguimientoId}}</td>
                            <td class="uk-width-1-10 uk-text-center">
                                <a ng-if="!ejecucion.cargando" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Ver Ejecucion" ng-click="verEjecucion(ejecucion.id, $index)"><i class="material-icons">&#xE417;</i></a>
                                <a ng-if="ejecucion.cargando" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Cargando Ejecución..." ><img src="/ajax-loader.gif"/></a>
                                <a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Ver Logs" ng-click="verLogs(ejecucion.seguimientoId)"><i class="material-icons">&#xE868;</i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <ul ng-if="!cargando && ejecuciones.length > 0"  class="uk-pagination uk-margin-medium-top">
                        <li class="uk-disabled" ng-if="filtros.pagina==1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                        <li class="uk" ng-if="filtros.pagina!=1"><a href="" ng-click="cambiarPagina('inicio')"><i class="uk-icon-angle-double-left"></i></a></li>
                        <li ng-repeat="pag in filtros.paginas track by $index" class="uk{{(filtros.pagina==pag.numero?'-active':'')}}"><a href="" ng-click="cambiarPagina($index)">{{pag.numero}}</a></li>
                        <li class="uk-disabled" ng-if="filtros.pagina==totalPaginas"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                        <li class="uk" ng-if="filtros.pagina!=totalPaginas"><a href="" ng-click="cambiarPagina('final')"><i class="uk-icon-angle-double-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>


<div class="uk-modal" id="modal_ejecucion">
    <!-- especial para cuando es error de timeout -->
    <div class="uk-modal-dialog" style="width: 90%">
        <!-- error solo para cuando la sesion caduco -->
        <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a">
                    Resultado de la ejecución del flujo
                </h3>
                <div class="uk-grid">
                    <table class="uk-table info-flujo" style="margin-left:20px">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Nombre</th>
                                <th>Salida</th>
                                <th>Ver variables</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="cargandoDetalle">
                                <td colspan="4"><center><img src="/ajax-loader.gif"> Cargando...</center></td>
                        </tr>
                        <tr ng-class="{nodoActual: comoActual[index], nodoAnterior: comoAnterior[index]}" ng-repeat-start="(index,ejecucion) in resultados" id="{{ejecucion.nodoId}}" anterior="{{ejecucion.nodoAnterior}}" ng-mouseover="mostrarAnterior(ejecucion.nodoId, ejecucion.nodoAnterior)" ng-mouseleave="ocultarAnterior(ejecucion.nodoId, ejecucion.nodoAnterior)">
                            <td>{{ejecucion.fechaEjecucion}}</td>
                            <td data-uk-tooltip title="Clase: {{ejecucion.clase.substring(24)}}">{{ejecucion.nombre}}</td>
                            <td>{{ejecucion.salida}}</td>
                            <td><i class="material-icons" ng-click="mostrarDetalles[index] = !mostrarDetalles[index]" style="cursor:pointer">&#xE8B6;</i></td>
                        </tr>
                        <tr ng-repeat-end class="entradas-salidas" ng-if="mostrarDetalles[index]">
                            <td colspan="4">
                                <div>
                                    <div style="width: 45%;float:left;">
                                        <h2>Entradas</h2>
                                        <table  class="uk-table">
                                            <thead>
                                                <tr>
                                                    <th>Variable</th>
                                                    <th>Valor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="v in ejecucion.entradas">
                                                    <td>{{v.nombre}}</td>
                                                    <td>{{v.valor}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="width:45%;;float:right;">
                                        <h2>Salidas</h2>
                                        <table class="uk-table">
                                            <thead>
                                                <tr>
                                                    <th>Variable</th>
                                                    <th>Valor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="v in ejecucion.salidas">
                                                    <td>{{v.nombre}}</td>
                                                    <td>{{v.valor}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>