<div id="mdlNuevaLista" class="uk-modal">
    <form name="form" novalidate>
        <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body">
            <a class="uk-modal-close uk-close"></a>

            <div class="uk-modal-header">
                <h3 class="uk-modal-title" style="color: #e4501e;">Nueva lista personalizada</h3>
            </div>

            <!-- <div class="uk-margin uk-grid-small uk-child-width-auto" ng-if="consultandoSii">
                 <div class="uk-margin">
                     <i class="uk-icon-spinner uk-icon-medium uk-icon-spin" style="font-size: 22px"></i> Consultando documento...
                 </div>
             </div>-->

            <div class="uk-margin uk-grid-small uk-child-width-auto">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="material-icons">&#xE8B0;</i></span>
                            <span class="uk-input-group-addon">Nombre</span>
                            <input add-on-space="true" class="md-input" ng-model="$parent.listaActual.nombre" ></input>
                        </div>
                    </div>
                    <br/>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="material-icons">&#xE8B0;</i></span>
                            <span class="uk-input-group-addon">Descripción</span>
                            <input add-on-space="true" class="md-input" ng-model="$parent.listaActual.descripcion"></input>
                        </div>
                    </div>
                    <br/>
                   <div class="uk-width-medium-1-1 uk-margin-medium-top">
                        <center>
                            <a ng-click="$parent.crear()" class="md-btn md-btn-primary md-btn-block" style="width: 200px">
                                Crear
                            </a>
                        </Center>
                    </div>
                </div>

                <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%; z-index: 10;" class="ng-scope" />
            </div>
    </form>
</div>  