<div id="page_content">
    <div class="md-card uk-margin-medium-bottom">
        <div id="page_content_inner">
            <h3 class="heading_b uk-margin-bottom">Gestión de Listas</h3>

            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-nowrap uk-table-hover">
                        <thead>
                            <tr>
                                <th class="uk-width-3-10 uk-text-center">Nombre</th>
                                <th class="uk-width-6-10 uk-text-center">Descripción</th>
                                <th class="uk-width-1-10 uk-text-center">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-if="cargando">
                                <td colspan="4"><center><img src="ajax-loader.gif" /> Buscando listas...</center></td>
                            </tr>
                            <tr ng-if="listas.length == 0 && !cargando">
                                <td colspan="4"><center>No se encontraron listas</center></td>
                            </tr>
                            <tr ng-repeat="lista in listas track by $index">
                                <td class="uk-width-3-10 uk-text-center">{{lista.nombre}}</td>
                                <td class="uk-width-6-10 uk-text-center">{{lista.descripcion}}</td>
                                <td class="uk-width-1-10 uk-text-center">
                                    <i class="material-icons" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Modificar Lista" ng-click="modalModificar(lista)" style="cursor:pointer">&#xE150;</i>
                                    <i class="material-icons" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Ver elementos" ng-click="ver(lista)" style="cursor:pointer">&#xE896;</i>
                                    <i class="material-icons" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Eliminar Lista" ng-click="eliminarModal(lista)" style="cursor:pointer">&#xE92B;</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>         
</div>

<div class="md-fab-wrapper md-fab-speed-dial" style="right:100px">
    <a class="md-fab md-fab-danger" href="javascript:void(0)" ng-click="modalCrear()" data-uk-tooltip="{pos:'right'}" title="Nueva Lista"><i class="material-icons">add</i></a>
</div>

<ng-include src="'app/febos/listas/crearLista.html'"></ng-include>
<ng-include src="'app/febos/listas/modificarLista.html'"></ng-include>
<ng-include src="'app/febos/listas/verLista.html'"></ng-include>
<ng-include src="'app/febos/listas/modificarElementosLista.html'"></ng-include>