<div id="mdlModificarElementosLista" class="uk-modal">
    <form name="form" novalidate>
        <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body">
            <a class="uk-modal-close uk-close"></a>

            <div class="uk-modal-header">
                <h3 class="uk-modal-title" style="color: #e4501e;">Modificar elementos de la lista <b style="margin-right: 40px">{{ $parent.listaActual.nombre}}</b>
                    <i class="material-icons" class="uk-float-right" style="cursor:pointer" data-uk-tooltip="{pos:'right'}" title="Subir archivo CSV" ng-click="$parent.cargarCSV()">&#xE864;</i>
                </h3>
            </div>
            
            <!-- <div class="uk-margin uk-grid-small uk-child-width-auto" ng-if="consultandoSii">
                 <div class="uk-margin">
                     <i class="uk-icon-spinner uk-icon-medium uk-icon-spin" style="font-size: 22px"></i> Consultando documento...
                 </div>
             </div>-->

            <div class="uk-margin uk-grid-small uk-child-width-auto">
                <div ng-show="cargandoSublista">
                    <div class="uk-margin">
                        <i class="uk-icon-spinner uk-icon-medium uk-icon-spin" style="font-size: 22px"></i> Cargando elementos de la lista...
                    </div>
                </div>

                <div ng-show="!cargandoSublista">
                    <div class="uk-width-medium-1-1" ng-if="subelementos.length > 0">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon">Búsqueda</span>
                            <input add-on-space="true" class="md-input" ng-model="$parent.queryB" id="query"></input>
                        </div>
                    </div>
                    <ul class="md-list md-list-addon">
                        <li class="usuario" ng-if="!cargandoSublista && subelementos.length == 0">
                            <div class="md-list-content" style="margin:20px;padding:20px;">
                                No hay elementos para mostrar
                            </div>
                        </li>
                        <li class="nuevo">
                            <div class="md-list-addon-element">
                                <i class="material-icons" style="cursor:pointer;font-size:68px;color:green" ng-click="$parent.agregar()" data-uk-tooltip="{pos:'right'}" title="Agregar a la lista">&#xE147;</i>
                            </div>
                            <div class="md-list-content">
                                <span class="md-list-heading">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">Nueva llave</span>
                                        <input add-on-space="true" class="md-input" ng-model="$parent.nuevaLlave" id="llave"></input>
                                    </div></span>
                                <span class="uk-text-small uk-text-muted">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">Valor</span>
                                        <input add-on-space="true" class="md-input" ng-model="$parent.nuevoValor" enter-key="agregar()"></input>
                                    </div></span>
                            </div>
                        </li>
                        <li class="usuario" ng-repeat="el in subelementosWorking| filter: $parent.buscarElementosB">
                            <div class="md-list-addon-element">
                                <i class="material-icons" style="cursor:pointer;font-size:28px;color:red" ng-click="eliminarFila($index)" data-uk-tooltip="{pos:'right'}" title="Eliminar de la lista">&#xE15C;</i>
                            </div>
                            <div class="md-list-content">
                                <span class="md-list-heading">LLave: {{el.llave}}</span>
                                <span class="uk-text-small uk-text-muted">Valor: {{el.valor}}</span>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="uk-width-medium-1-1 uk-margin-medium-top">
                    <center>
                        <a ng-click="$parent.aplicar()" class="md-btn md-btn-primary md-btn-block" style="width: 200px">
                            Aplicar Cambios
                        </a>
                    </Center>
                </div>
                <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%; z-index: 10;" class="ng-scope" />
            </div>
    </form>
</div>  