<div id="mdlVerElementosLista" class="uk-modal">
    <form name="form" novalidate>
        <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body">
            <a class="uk-modal-close uk-close"></a>

            <div class="uk-modal-header">
                <h3 class="uk-modal-title" style="color: #e4501e;">Elementos de la lista <b style="margin-right: 40px">{{ $parent.listaActual.nombre}}</b>
                    <i ng-if="$parent.subelementos.length>0" class="material-icons" class="uk-float-right" style="cursor:pointer" data-uk-tooltip="{pos:'right'}" title="Descargar como CSV" ng-click="$parent.descargarCSV()">&#xE161;</i>
                </h3>
            </div>

            <!-- <div class="uk-margin uk-grid-small uk-child-width-auto" ng-if="consultandoSii">
                 <div class="uk-margin">
                     <i class="uk-icon-spinner uk-icon-medium uk-icon-spin" style="font-size: 22px"></i> Consultando documento...
                 </div>
             </div>-->

            <div class="uk-margin uk-grid-small uk-child-width-auto">
                <div ng-show="cargandoSublista">
                    <div class="uk-margin">
                        <i class="uk-icon-spinner uk-icon-medium uk-icon-spin" style="font-size: 22px"></i> Cargando elementos de la lista...
                    </div>
                </div>

                <div ng-show="!cargandoSublista">
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon">Búsqueda</span>
                            <input add-on-space="true" class="md-input" ng-model="$parent.query"></input>
                        </div>
                    </div>
                    <ul class="md-list md-list-addon">
                        <li class="usuario" ng-if="!cargandoSublista && subelementos.length==0">
                            <div class="md-list-content" style="margin:20px;padding:20px;">
                                No hay elementos para mostrar
                            </div>
                        </li>
                            
                        <li class="usuario" ng-repeat="el in subelementos| filter: $parent.buscarElementos" style="margin-left:0px;">
                            <div class="md-list-content">
                                <span class="md-list-heading">LLave: {{ el.llave}}</span>
                                <span class="uk-text-small uk-text-muted">Valor: {{ el.valor}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="uk-width-medium-1-1 uk-margin-medium-top" ng-if="!cargandoSublista">
                        <center>
                            <a ng-click="modalEditarElementos()" class="md-btn md-btn-primary md-btn-block" style="width: 200px">
                                Editar elementos
                            </a>
                        </Center>
                    </div>
                <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%; z-index: 10;" class="ng-scope" />
            </div>
    </form>
</div>  