[class^='flag-'],
[class*=' flag-'] {
  display: inline-block;
  margin-top: -1px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: middle;
  background-image: url('flags.png');
  background-repeat: no-repeat;
  background-position: 0 -9288px;
  *margin-right: 0.3em;
}
[class^='flag-']:last-child,
[class*=' flag-']:last-child {
  *margin-left: 0;
}

.flag-AD {
  background-position: 0 0;
}
.flag-AE {
  background-position: 0 -36px;
}
.flag-AF {
  background-position: 0 -72px;
}
.flag-AG {
  background-position: 0 -108px;
}
.flag-AI {
  background-position: 0 -144px;
}
.flag-AL {
  background-position: 0 -180px;
}
.flag-AM {
  background-position: 0 -216px;
}
.flag-AN {
  background-position: 0 -252px;
}
.flag-AO {
  background-position: 0 -288px;
}
.flag-AQ {
  background-position: 0 -324px;
}
.flag-AR {
  background-position: 0 -360px;
}
.flag-AS {
  background-position: 0 -396px;
}
.flag-AT {
  background-position: 0 -432px;
}
.flag-AU {
  background-position: 0 -468px;
}
.flag-AW {
  background-position: 0 -504px;
}
.flag-AX {
  background-position: 0 -540px;
}
.flag-AZ {
  background-position: 0 -576px;
}
.flag-BA {
  background-position: 0 -612px;
}
.flag-BB {
  background-position: 0 -648px;
}
.flag-BD {
  background-position: 0 -684px;
}
.flag-BE {
  background-position: 0 -720px;
}
.flag-BF {
  background-position: 0 -756px;
}
.flag-BG {
  background-position: 0 -792px;
}
.flag-BH {
  background-position: 0 -828px;
}
.flag-BI {
  background-position: 0 -864px;
}
.flag-BJ {
  background-position: 0 -900px;
}
.flag-BL {
  background-position: 0 -936px;
}
.flag-BM {
  background-position: 0 -972px;
}
.flag-BN {
  background-position: 0 -1008px;
}
.flag-BO {
  background-position: 0 -1044px;
}
.flag-BR {
  background-position: 0 -1080px;
}
.flag-BS {
  background-position: 0 -1116px;
}
.flag-BT {
  background-position: 0 -1152px;
}
.flag-BW {
  background-position: 0 -1188px;
}
.flag-BY {
  background-position: 0 -1224px;
}
.flag-BZ {
  background-position: 0 -1260px;
}
.flag-CA {
  background-position: 0 -1296px;
}
.flag-CC {
  background-position: 0 -1332px;
}
.flag-CD {
  background-position: 0 -1368px;
}
.flag-CF {
  background-position: 0 -1404px;
}
.flag-CG {
  background-position: 0 -1440px;
}
.flag-CH {
  background-position: 0 -1476px;
}
.flag-CI {
  background-position: 0 -1512px;
}
.flag-CK {
  background-position: 0 -1548px;
}
.flag-CL {
  background-position: 0 -1584px;
}
.flag-CM {
  background-position: 0 -1620px;
}
.flag-CN {
  background-position: 0 -1656px;
}
.flag-CO {
  background-position: 0 -1692px;
}
.flag-CR {
  background-position: 0 -1728px;
}
.flag-CU {
  background-position: 0 -1764px;
}
.flag-CV {
  background-position: 0 -1800px;
}
.flag-CW {
  background-position: 0 -1836px;
}
.flag-CX {
  background-position: 0 -1872px;
}
.flag-CY {
  background-position: 0 -1908px;
}
.flag-CZ {
  background-position: 0 -1944px;
}
.flag-DE {
  background-position: 0 -1980px;
}
.flag-DJ {
  background-position: 0 -2016px;
}
.flag-DK {
  background-position: 0 -2052px;
}
.flag-DM {
  background-position: 0 -2088px;
}
.flag-DO {
  background-position: 0 -2124px;
}
.flag-DZ {
  background-position: 0 -2160px;
}
.flag-EC {
  background-position: 0 -2196px;
}
.flag-EE {
  background-position: 0 -2232px;
}
.flag-EG {
  background-position: 0 -2268px;
}
.flag-EH {
  background-position: 0 -2304px;
}
.flag-ER {
  background-position: 0 -2340px;
}
.flag-ES {
  background-position: 0 -2376px;
}
.flag-ET {
  background-position: 0 -2412px;
}
.flag-EU {
  background-position: 0 -2448px;
}
.flag-FI {
  background-position: 0 -2484px;
}
.flag-FJ {
  background-position: 0 -2520px;
}
.flag-FK {
  background-position: 0 -2556px;
}
.flag-FM {
  background-position: 0 -2592px;
}
.flag-FO {
  background-position: 0 -2628px;
}
.flag-FR {
  background-position: 0 -2664px;
}
.flag-GA {
  background-position: 0 -2700px;
}
.flag-GB {
  background-position: 0 -2736px;
}
.flag-GD {
  background-position: 0 -2772px;
}
.flag-GE {
  background-position: 0 -2808px;
}
.flag-GG {
  background-position: 0 -2844px;
}
.flag-GH {
  background-position: 0 -2880px;
}
.flag-GI {
  background-position: 0 -2916px;
}
.flag-GL {
  background-position: 0 -2952px;
}
.flag-GM {
  background-position: 0 -2988px;
}
.flag-GN {
  background-position: 0 -3024px;
}
.flag-GQ {
  background-position: 0 -3060px;
}
.flag-GR {
  background-position: 0 -3096px;
}
.flag-GS {
  background-position: 0 -3132px;
}
.flag-GT {
  background-position: 0 -3168px;
}
.flag-GU {
  background-position: 0 -3204px;
}
.flag-GW {
  background-position: 0 -3240px;
}
.flag-GY {
  background-position: 0 -3276px;
}
.flag-HK {
  background-position: 0 -3312px;
}
.flag-HN {
  background-position: 0 -3348px;
}
.flag-HR {
  background-position: 0 -3384px;
}
.flag-HT {
  background-position: 0 -3420px;
}
.flag-HU {
  background-position: 0 -3456px;
}
.flag-IC {
  background-position: 0 -3492px;
}
.flag-ID {
  background-position: 0 -3528px;
}
.flag-IE {
  background-position: 0 -3564px;
}
.flag-IL {
  background-position: 0 -3600px;
}
.flag-IM {
  background-position: 0 -3636px;
}
.flag-IN {
  background-position: 0 -3672px;
}
.flag-IQ {
  background-position: 0 -3708px;
}
.flag-IR {
  background-position: 0 -3744px;
}
.flag-IS {
  background-position: 0 -3780px;
}
.flag-IT {
  background-position: 0 -3816px;
}
.flag-JE {
  background-position: 0 -3852px;
}
.flag-JM {
  background-position: 0 -3888px;
}
.flag-JO {
  background-position: 0 -3924px;
}
.flag-JP {
  background-position: 0 -3960px;
}
.flag-KE {
  background-position: 0 -3996px;
}
.flag-KG {
  background-position: 0 -4032px;
}
.flag-KH {
  background-position: 0 -4068px;
}
.flag-KI {
  background-position: 0 -4104px;
}
.flag-KM {
  background-position: 0 -4140px;
}
.flag-KN {
  background-position: 0 -4176px;
}
.flag-KP {
  background-position: 0 -4212px;
}
.flag-KR {
  background-position: 0 -4248px;
}
.flag-KW {
  background-position: 0 -4284px;
}
.flag-KY {
  background-position: 0 -4320px;
}
.flag-KZ {
  background-position: 0 -4356px;
}
.flag-LA {
  background-position: 0 -4392px;
}
.flag-LB {
  background-position: 0 -4428px;
}
.flag-LC {
  background-position: 0 -4464px;
}
.flag-LI {
  background-position: 0 -4500px;
}
.flag-LK {
  background-position: 0 -4536px;
}
.flag-LR {
  background-position: 0 -4572px;
}
.flag-LS {
  background-position: 0 -4608px;
}
.flag-LT {
  background-position: 0 -4644px;
}
.flag-LU {
  background-position: 0 -4680px;
}
.flag-LV {
  background-position: 0 -4716px;
}
.flag-LY {
  background-position: 0 -4752px;
}
.flag-MA {
  background-position: 0 -4788px;
}
.flag-MC {
  background-position: 0 -4824px;
}
.flag-MD {
  background-position: 0 -4860px;
}
.flag-ME {
  background-position: 0 -4896px;
}
.flag-MF {
  background-position: 0 -4932px;
}
.flag-MG {
  background-position: 0 -4968px;
}
.flag-MH {
  background-position: 0 -5004px;
}
.flag-MK {
  background-position: 0 -5040px;
}
.flag-ML {
  background-position: 0 -5076px;
}
.flag-MM {
  background-position: 0 -5112px;
}
.flag-MN {
  background-position: 0 -5148px;
}
.flag-MO {
  background-position: 0 -5184px;
}
.flag-MP {
  background-position: 0 -5220px;
}
.flag-MQ {
  background-position: 0 -5256px;
}
.flag-MR {
  background-position: 0 -5292px;
}
.flag-MS {
  background-position: 0 -5328px;
}
.flag-MT {
  background-position: 0 -5364px;
}
.flag-MU {
  background-position: 0 -5400px;
}
.flag-MV {
  background-position: 0 -5436px;
}
.flag-MW {
  background-position: 0 -5472px;
}
.flag-MX {
  background-position: 0 -5508px;
}
.flag-MY {
  background-position: 0 -5544px;
}
.flag-MZ {
  background-position: 0 -5580px;
}
.flag-NA {
  background-position: 0 -5616px;
}
.flag-NC {
  background-position: 0 -5652px;
}
.flag-NE {
  background-position: 0 -5688px;
}
.flag-NF {
  background-position: 0 -5724px;
}
.flag-NG {
  background-position: 0 -5760px;
}
.flag-NI {
  background-position: 0 -5796px;
}
.flag-NL {
  background-position: 0 -5832px;
}
.flag-NO {
  background-position: 0 -5868px;
}
.flag-NP {
  background-position: 0 -5904px;
}
.flag-NR {
  background-position: 0 -5940px;
}
.flag-NU {
  background-position: 0 -5976px;
}
.flag-NZ {
  background-position: 0 -6012px;
}
.flag-OM {
  background-position: 0 -6048px;
}
.flag-PA {
  background-position: 0 -6084px;
}
.flag-PE {
  background-position: 0 -6120px;
}
.flag-PF {
  background-position: 0 -6156px;
}
.flag-PG {
  background-position: 0 -6192px;
}
.flag-PH {
  background-position: 0 -6228px;
}
.flag-PK {
  background-position: 0 -6264px;
}
.flag-PL {
  background-position: 0 -6300px;
}
.flag-PN {
  background-position: 0 -6336px;
}
.flag-PR {
  background-position: 0 -6372px;
}
.flag-PS {
  background-position: 0 -6408px;
}
.flag-PT {
  background-position: 0 -6444px;
}
.flag-PW {
  background-position: 0 -6480px;
}
.flag-PY {
  background-position: 0 -6516px;
}
.flag-QA {
  background-position: 0 -6552px;
}
.flag-RO {
  background-position: 0 -6588px;
}
.flag-RS {
  background-position: 0 -6624px;
}
.flag-RU {
  background-position: 0 -6660px;
}
.flag-RW {
  background-position: 0 -6696px;
}
.flag-SA {
  background-position: 0 -6732px;
}
.flag-SB {
  background-position: 0 -6768px;
}
.flag-SC {
  background-position: 0 -6804px;
}
.flag-SD {
  background-position: 0 -6840px;
}
.flag-SE {
  background-position: 0 -6876px;
}
.flag-SG {
  background-position: 0 -6912px;
}
.flag-SH {
  background-position: 0 -6948px;
}
.flag-SI {
  background-position: 0 -6984px;
}
.flag-SK {
  background-position: 0 -7020px;
}
.flag-SL {
  background-position: 0 -7056px;
}
.flag-SM {
  background-position: 0 -7092px;
}
.flag-SN {
  background-position: 0 -7128px;
}
.flag-SO {
  background-position: 0 -7164px;
}
.flag-SR {
  background-position: 0 -7200px;
}
.flag-SS {
  background-position: 0 -7236px;
}
.flag-ST {
  background-position: 0 -7272px;
}
.flag-SV {
  background-position: 0 -7308px;
}
.flag-SY {
  background-position: 0 -7344px;
}
.flag-SZ {
  background-position: 0 -7380px;
}
.flag-TC {
  background-position: 0 -7416px;
}
.flag-TD {
  background-position: 0 -7452px;
}
.flag-TF {
  background-position: 0 -7488px;
}
.flag-TG {
  background-position: 0 -7524px;
}
.flag-TH {
  background-position: 0 -7560px;
}
.flag-TJ {
  background-position: 0 -7596px;
}
.flag-TK {
  background-position: 0 -7632px;
}
.flag-TL {
  background-position: 0 -7668px;
}
.flag-TM {
  background-position: 0 -7704px;
}
.flag-TN {
  background-position: 0 -7740px;
}
.flag-TO {
  background-position: 0 -7776px;
}
.flag-TR {
  background-position: 0 -7812px;
}
.flag-TT {
  background-position: 0 -7848px;
}
.flag-TV {
  background-position: 0 -7884px;
}
.flag-TW {
  background-position: 0 -7920px;
}
.flag-TZ {
  background-position: 0 -7956px;
}
.flag-UA {
  background-position: 0 -7992px;
}
.flag-UG {
  background-position: 0 -8028px;
}
.flag-US {
  background-position: 0 -8064px;
}
.flag-UY {
  background-position: 0 -8100px;
}
.flag-UZ {
  background-position: 0 -8136px;
}
.flag-VA {
  background-position: 0 -8172px;
}
.flag-VC {
  background-position: 0 -8208px;
}
.flag-VE {
  background-position: 0 -8244px;
}
.flag-VG {
  background-position: 0 -8280px;
}
.flag-VI {
  background-position: 0 -8316px;
}
.flag-VN {
  background-position: 0 -8352px;
}
.flag-VU {
  background-position: 0 -8388px;
}
.flag-WF {
  background-position: 0 -8424px;
}
.flag-WS {
  background-position: 0 -8460px;
}
.flag-YE {
  background-position: 0 -8496px;
}
.flag-YT {
  background-position: 0 -8532px;
}
.flag-ZA {
  background-position: 0 -8568px;
}
.flag-ZM {
  background-position: 0 -8604px;
}
.flag-ZW {
  background-position: 0 -8640px;
}
.flag-_abkhazia {
  background-position: 0 -8676px;
}
.flag-_basque-country {
  background-position: 0 -8712px;
}
.flag-_british-antarctic-territory {
  background-position: 0 -8748px;
}
.flag-_commonwealth {
  background-position: 0 -8784px;
}
.flag-_england {
  background-position: 0 -8820px;
}
.flag-_gosquared {
  background-position: 0 -8856px;
}
.flag-_kosovo {
  background-position: 0 -8892px;
}
.flag-_mars {
  background-position: 0 -8928px;
}
.flag-_nagorno-karabakh {
  background-position: 0 -8964px;
}
.flag-_nato {
  background-position: 0 -9000px;
}
.flag-_northern-cyprus {
  background-position: 0 -9036px;
}
.flag-_olympics {
  background-position: 0 -9072px;
}
.flag-_red-cross {
  background-position: 0 -9108px;
}
.flag-_scotland {
  background-position: 0 -9144px;
}
.flag-_somaliland {
  background-position: 0 -9180px;
}
.flag-_south-ossetia {
  background-position: 0 -9216px;
}
.flag-_united-nations {
  background-position: 0 -9252px;
}
.flag-_unknown {
  background-position: 0 -9288px;
}
.flag-_wales {
  background-position: 0 -9324px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dppx),
  only screen and (min-resolution: 2dppx) {
  [class^='flag-'],
  [class*=' flag-'] {
    background-image: url('flags@2x.png') !important;
    background-size: 16px !important;
  }
}
