<div id="page_content">
  <div id="page_content_inner" ng-hide="ocultarTodo">
    <div class="uk-grid" data-uk-grid-margin>
      <div class="uk-width-medium-1-2">
        <h4 class="heading_a uk-margin-bottom">
          Editor de Plantillas
          <span class="sub-heading">Herramientas de edición de plantillas para documentos electrónicos.</span>
          <span class="sub-heading">* Para la configuración de códigos en elementos de contenido dinámico, utilice Handlebars.</span>
        </h4>
      </div>
      <div class="uk-width-medium-1-2 uk-text-right">
        <a id="volver" title="Volver a Lista de Plantillas" class="md-btn md-btn-wave md-btn-icon" ng-click="volverAListaDePlantillas()">
          <i class="uk-icon-arrow-left"></i>
            Volver a Lista
        </a>
      </div>
    </div>

    <div class="uk-grid">
      <div class="uk-width-1-1 uk-text-center">
        <a id="guardarYGenerarPlantilla" title="Guardar y generar plantilla" class="md-btn md-btn-wave md-btn-success" ng-click="guardarYGenerarPlantilla()">
           GUARDAR PLANTILLA Y GENERAR HTML
        </a>
        <a id="guardarPlantilla" title="guardar plantilla" class="md-btn md-btn-wave md-btn-primary" ng-click="guardarPlantilla()">
           GUARDAR PLANTILLA
        </a>
        <a id="generarHTML" title="generar HTML" class="md-btn md-btn-wave md-btn-primary" ng-click="generarHTML()">
           GENERAR HTML
        </a>
      </div>
    </div>

    <div id="doc-builder" class="uk-margin-top">
      <div class="doc-builder-content">
        <div position-relative>
          <div class="builder">
            <div class="doc-container-back" 
                 ng-style="configuracionGeneralFondo()"
                 ng-class="{move_to_front: radio_layers == 'back_elements_to_front'}"
                 dragula='"elementos-html-flotantes"'>
              <div class="builder-element-float"
                   ng-repeat="elemento in plantilla.source.backElements track by elemento.id"
                   id="{{ elemento.id }}"
                   ng-style="elemento.options.position">
                <ng-include 
                   src="obtenerTemplate(elemento.type)">
                </ng-include>
                <div class="icons-actions"
                     ng-class="{'actions-container': elemento.type == 'structure_element', 'actions-elements': elemento.type != 'structure_element'}">
                  <div class="icons-actions-content">
                    <i title="Editar elemento" class="actions edit material-icons"
                    ng-click="edicionDeElemento(elemento, plantilla.source.backElements)" data-uk-modal="{target:'#modal_edit_element'}">&#xE254;</i>
                    <i title="Eliminar elemento" class="actions delete material-icons" ng-click="acciones.removerElemento(elemento, plantilla.source.backElements)">&#xe872;</i>
                  </div>
                </div>
              </div>  
            </div>
            <div style="margin: auto;position: relative;" ng-style="configuracionGeneral()" class="container-plantilla" ng-class="{move_to_front: radio_layers == 'elements_to_front'}">
              <div id="section-container-header" class="section-container" ng-style="configuracionGeneralSeccion('header')">
                <div id="header-plantilla" class="doc-container" ng-style="configuracionGeneralBordeSeccion('header')" ng-class="{empty: !plantilla.source.headerElements.length}" data-empty-template="{{configuracionContrutorDeDocumentos.msgEmptyDataHeader}}"
                     dragula='"elementos-html-header"'>
                  <div class="builder-element move" 
                       ng-repeat="elemento in plantilla.source.headerElements track by elemento.id"
                       id="{{ elemento.id }}">
                    <ng-include 
                       src="obtenerTemplate(elemento.type)">
                    </ng-include>
                    <div class="icons-actions"
                         ng-class="{'actions-container': elemento.type == 'structure_element', 'actions-elements': elemento.type != 'structure_element'}">
                      <div class="icons-actions-content">
                        <i title="Mover elemento" class="actions move material-icons">&#xe25d;</i>
                        <i title="Editar elemento" class="actions edit material-icons"
                        ng-click="acciones.edicionDeElemento(elemento, plantilla.source.headerElements)" data-uk-modal="{target:'#modal_edit_element'}">&#xE254;</i>
                        <br>
                        <i title="Eliminar elemento" class="actions delete material-icons" ng-click="acciones.removerElemento(elemento, plantilla.source.headerElements)">&#xe872;</i>
                      </div>
                    </div>
                  </div>  
                </div>
                <div class="leyend"><div class="tab">HEADER</div></div>
              </div>

              <div id="section-container-body" class="section-container" ng-style="configuracionGeneralSeccion('body')">
                <div id="body-plantilla" class="doc-container" ng-style="configuracionGeneralBordeSeccion('body')" style="height: 100%;" ng-class="{empty: !plantilla.source.bodyElements.length}" data-empty-template="{{configuracionContrutorDeDocumentos.msgEmptyDataBody}}"
                     dragula='"elementos-html-body"'>
                  <div class="builder-element move" 
                       ng-repeat="elemento in plantilla.source.bodyElements track by elemento.id"
                       id="{{ elemento.id }}">
                    <ng-include 
                       src="obtenerTemplate(elemento.type)">
                    </ng-include>
                    <div class="icons-actions"
                         ng-class="{'actions-container': elemento.type == 'structure_element', 'actions-elements': elemento.type != 'structure_element'}">
                      <div class="icons-actions-content">
                        <i title="Mover elemento" class="actions move material-icons">&#xe25d;</i>
                        <i title="Editar elemento" class="actions edit material-icons"
                        ng-click="acciones.edicionDeElemento(elemento, plantilla.source.bodyElements)" data-uk-modal="{target:'#modal_edit_element'}">&#xE254;</i>
                        <br>
                        <i title="Eliminar elemento" class="actions delete material-icons" ng-click="acciones.removerElemento(elemento, plantilla.source.bodyElements)">&#xe872;</i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="leyend"><div class="tab">BODY</div></div>
              </div>

              <div id="section-container-footer" class="section-container" ng-style="configuracionGeneralSeccion('footer')">
                <div id="footer-plantilla" class="doc-container" ng-style="configuracionGeneralBordeSeccion('footer')" ng-class="{empty: !plantilla.source.footerElements.length}" data-empty-template="{{configuracionContrutorDeDocumentos.msgEmptyDataFooter}}"
                     dragula='"elementos-html-footer"'>
                  <div class="builder-element move" 
                       ng-repeat="elemento in plantilla.source.footerElements track by elemento.id"
                       id="{{ elemento.id }}">
                    <ng-include 
                       src="obtenerTemplate(elemento.type)">
                    </ng-include>
                    <div class="icons-actions"
                         ng-class="{'actions-container': elemento.type == 'structure_element', 'actions-elements': elemento.type != 'structure_element'}">
                      <div class="icons-actions-content">
                        <i title="Mover elemento" class="actions move material-icons">&#xe25d;</i>
                        <i title="Editar elemento" class="actions edit material-icons"
                        ng-click="acciones.edicionDeElemento(elemento, plantilla.source.footerElements)" data-uk-modal="{target:'#modal_edit_element'}">&#xE254;</i>
                        <br>
                        <i title="Eliminar elemento" class="actions delete material-icons" ng-click="acciones.removerElemento(elemento, plantilla.source.footerElements)">&#xe872;</i>
                      </div>
                    </div>
                  </div> 
                </div>
                <div class="leyend"><div class="tab">FOOTER</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-lateral" ng-class="{'open': abrirCerrarPanel}">
        <div class="buttons">
          <div class="tab">
            <a id="boton-configuraciones" title="Configuraciones" ng-click="abrirCerrarPanelLateral()"><i class="md-icon material-icons">&#xe8b8;</i></a>
          </div>
        </div>
        <div class="md-card">
          <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
              <div class="uk-width-1-1">
                <ul class="uk-tab" data-uk-tab="{connect:'#tabs-panel-lateral',swiping:false}">
                  <li class="uk-active"><a href="#">Configuración</a></li>
                  <li><a href="#">Elementos</a></li>
                </ul>
                <ul id="tabs-panel-lateral" class="uk-switcher uk-margin">
                  <li class="settings">
                    <form action="#" onsubmit="return false">
                      <div class="doc-builder-element-edit-field">
                        <div class="uk-grid">
                          <div class="uk-width-medium-1-1 uk-margin-small-bottom">
                            <label>Capa a Editar:</label>
                          </div>
                          <div class="uk-width-medium-1-2">
                            <input type="radio" name="move_to_front_elements" id="move_to_front_elements" icheck ng-model="radio_layers" value="elements_to_front" />
                            <label for="move_to_front_elements" class="inline-label uk-text-small">Contenido</label>
                          </div>
                          <div class="uk-width-medium-1-2">
                            <input type="radio" name="move_to_front_back_elements" id="move_to_front_back_elements" icheck ng-model="radio_layers" value="back_elements_to_front" />
                            <label for="move_to_front_back_elements" class="inline-label uk-text-small">Fondo</label>
                          </div>
                        </div>
                        <div class="uk-grid" data-uk-grid-margin>
                          <div class="uk-width-medium-1-1">
                            <div class="parsley-row md-input-wrapper md-input-filled uk-margin-small-top">
                                <label>Tamaño de Página</label>
                                <input config="configuracionParaValoresTamanoPlantillaSelectize" options="tamanosDepagina" ng-model="plantilla.size" required name="doc-size" id="doc_size" ng-change="cuandoSeSeleccionaTamanoPagina()" selectize />
                            </div>      
                          </div>
                          <div class="uk-width-medium-1-2">
                            <label>Ancho (cm)</label>
                            <input id="docSettingsWidth" type="number" class="md-input" ng-disabled="disableSetCustomSize" md-input type="text" ng-model="plantilla.style.width"/>
                          </div>
                          <div class="uk-width-medium-1-2">
                            <label>Alto (cm)</label>
                            <input id="docSettingsHeight" type="number" class="md-input" 
                            ng-disabled="disableSetCustomSize" md-input type="text" ng-model="plantilla.style.height"/>
                          </div>
                        </div>
                        <div class="uk-grid" data-uk-grid-margin>
                          <div class="uk-width-medium-1-1">
                            <div class="parsley-row md-input-wrapper md-input-filled uk-margin-small-top">
                              <label>Tipo de Fuente</label>
                              <input config="configuracionParaValoresFontFamilySelectize" options="fonts" ng-model="plantilla.style['font-family']" required name="doc-font-family" id="doc_font-family" selectize />
                            </div>      
                          </div>
                          <div class="uk-width-medium-1-2">
                            <span class="color-label">Color de Fuente</span>
                            <color-picker 
                              ng-model="plantilla.style['color']"
                              options="fontColorOptions"
                            ></color-picker>
                          </div>
                          <div class="uk-width-medium-1-2">
                            <span class="color-label">Color de Fondo</span>
                            <color-picker 
                              ng-model="plantilla.style['background-color']"
                              options="backgroundColorOptions"
                            ></color-picker>
                          </div>
                        </div>
                        <div class="uk-grid uk-margin-top" data-uk-grid-margin>
                          <div class="uk-width-medium-1-2">
                            <label>Tamaño de Borde</label>
                            <input id="plantillaBorderSize" class="md-input" min="0" type="number" ng-model="plantilla.border['border-width']">
                          </div>
                          <div class="uk-width-medium-1-2">
                            <div class="parsley-row md-input-wrapper md-input-filled selector_style_input_fix">
                              <label>Estilo de Borde</label>
                              <input config="configuracionParaValoresSelectize" options="border_style_types" ng-model="plantilla.border['border-style']" required name="structure_border_style" id="plantilla_border_style" selectize />
                            </div>
                          </div>
                          <div class="uk-width-medium-1-2">
                            <span class="color-label">Color de Borde</span>
                            <color-picker 
                              ng-model="plantilla.border['border-color']"
                              options="fontColorOptions"
                            ></color-picker>
                          </div>
                          <div class="uk-width-medium-1-2">
                            <label>Redondeado de Borde</label>
                            <input id="plantillaBorderRadius" class="md-input" min="0" type="number" ng-model="plantilla.border['border-radius']">
                          </div>
                        </div>
                        <div class="uk-grid" data-uk-grid-margin>
                          <div class="uk-width-medium-1-2">
                            <label>Padding Superior (cm)</label>
                            <input id="docSettingsPaddingTop" class="md-input" min="0" step="0.01" type="number" pattern="^\d+(?:\.\d{1,2})?$" ng-model="plantilla.style['padding-top']">
                          </div>
                          <div class="uk-width-medium-1-2">
                            <label>Padding Derecha (cm)</label>
                            <input id="docSettingsPaddingRight" class="md-input" min="0.5" step="0.01" type="number" pattern="^\d+(?:\.\d{1,2})?$" ng-model="plantilla.style['padding-right']">
                          </div>
                          <div class="uk-width-medium-1-2">
                            <label>Padding Inferior (cm)</label>
                            <input id="docSettingsPaddingBottom" type="number" pattern="^\d+(?:\.\d{1,2})?$" class="md-input" min="0" step="0.01" ng-model="plantilla.style['padding-bottom']">
                          </div>
                          <div class="uk-width-medium-1-2">
                            <label>Padding Izquierdo (cm)</label>
                            <input id="docSettingsPaddingLeft" type="number" pattern="^\d+(?:\.\d{1,2})?$" class="md-input" min="0.5" step="0.01" ng-model="plantilla.style['padding-left']">
                          </div>
                        </div>
                      </div>
                    </form>
                  </li>
                  <li class="element-list-container">
                    <div class="uk-accordion">
                      <h3 class="uk-accordion-title uk-accordion-title-primary" ng-if="radio_layers == 'elements_to_front'">Elementos de Bloque</h3>
                      <div class="uk-accordion-content elements-list" ng-if="radio_layers == 'elements_to_front'">
                        <ul dragula='"elementos"'>
                          <li class="block-element" ng-repeat="elemento in elements | filter: {'data_type': 'block_element'}" data-type="{{elemento.type}}">
                              <i class="material-icons" ng-bind-html="elemento.icon"></i>
                              <!--<br>-->
                              <span>{{elemento.title}}</span>
                          </li>
                        </ul>
                      </div>
                      <h3 class="uk-accordion-title uk-accordion-title-primary" ng-if="radio_layers == 'elements_to_front'">Elementos Estáticos</h3>
                      <div class="uk-accordion-content elements-list" ng-if="radio_layers == 'elements_to_front'">
                        <ul dragula='"elementos"'>
                          <li class="block-element" ng-repeat="elemento in elements | filter: {'data_type': 'static'}" data-type="{{elemento.type}}">
                              <i class="material-icons" ng-bind-html="elemento.icon"></i>
                              <!--<br>-->
                              <span>{{elemento.title}}</span>
                          </li>
                        </ul>
                      </div>
                      <h3 class="uk-accordion-title uk-accordion-title-primary" ng-if="radio_layers == 'elements_to_front'">Elementos Dinámicos</h3>
                      <div class="uk-accordion-content elements-list" ng-if="radio_layers == 'elements_to_front'">
                        <ul dragula='"elementos"'>
                          <li class="block-element" ng-repeat="elemento in elements | filter: {'data_type': 'dynamic'}" data-type="{{elemento.type}}">
                              <i class="material-icons" ng-bind-html="elemento.icon"></i>
                              <!--<br>-->
                              <span>{{elemento.title}}</span>
                          </li>
                        </ul>
                      </div>
                      <h3 class="uk-accordion-title uk-accordion-title-primary" ng-if="radio_layers != 'elements_to_front'">Elementos de posición independiente</h3>
                      <div class="uk-accordion-content elements-list" ng-if="radio_layers != 'elements_to_front'">
                        <ul dragula='"elementos"'>
                          <li class="block-element" ng-repeat="elemento in elements | filter: {'data_type': 'float'}" data-type="{{elemento.type}}">
                              <i class="material-icons" ng-bind-html="elemento.icon"></i>
                              <!--<br>-->
                              <span>{{elemento.title}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal_edit_element" 
     class="uk-modal" 
     modal-editor-de-elementos 
     modal-editor-acciones="acciones"
     modal-editor-datos="elementoActual"
     modal-editor-datos-bloques="bloquesDeElementos"
     modal-editor-estilo-css-plantilla="plantilla.style"
     ></div>