<div class="uk-modal-dialog" style="width: 80%">
    <a class="uk-modal-close uk-close"></a>
    <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
        <h3>Configurar tópico <span class="uk-text-primary">{{topico.asunto}}</span></h3>
        <div class="uk-grid uk-grid-small" data-uk-grid-match="{target:'.uk-panel'}">
            <div class="uk-width-small-1-1 uk-width-medium-1-1">
                <div class="uk-panel uk-panel-box">
                    <h3 class="uk-panel-title">Datos Contrato</h3>
                    <div class="uk-panel-badge" ng-if="topico.contratos != undefined || topico.contratos.length > 0">
                        <i class="material-icons no_margin"
                           style="font-size:30px;color:green;cursor:pointer"
                           ng-click="agregarContrato()">add_circle</i>
                    </div>
                    <div class="uk-width-medium-1-1"
                         ng-if="topico.contratos == undefined || topico.contratos.length == 0">
                        <button class="md-btn md-btn-wave md-btn-block md-btn-wave-light"
                                ng-click="agregarContrato()">
                            <i class="material-icons">description</i> Ingresar Contrato
                        </button>
                    </div>
                    <div class="uk-panel uk-panel-box" ng-repeat="contrato in topico.contratos"
                         ng-init="contrato.verOcultos=0">
                        <div class="uk-grid">
                            <div class="uk-width-medium-2-5 uk-margin-top">
                                <label>Proveedor / Contratista</label>
                                <input type="text" class="md-input" md-input ng-model="contrato.razonSocial"/>
                            </div>
                            <div class="uk-width-medium-2-5 uk-margin-top">
                                <label>Rut</label>
                                <input type="text" class="md-input" md-input ng-model="contrato.rut"
                                       ng-rut ng-rut-format-punto="no" ng-blur="changeProveedorRut(contrato)"/>
                            </div>
                        </div>
                        <div class="uk-grid" data-uk-grid-match="{target:'.uk-panel'}">
                            <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-5 uk-margin-top">
                                <label>Inicio</label>
                                <input class="md-input" type="text"
                                       data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                                       md-input
                                       ng-model="contrato.fechaInicio" ng-change="calcularPlazoTopico(contrato)">
                                <span class="uk-form-help-block"
                                      style="margin-top:0px;color:#ccc">Fecha de inicio</span>
                            </div>
                            <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-6 uk-margin-top">
                                <label>Termino</label>
                                <input class="md-input" type="text"
                                       md-input
                                       ng-model="contrato.fechaTermino" readonly>
                                <span class="uk-form-help-block"
                                      style="margin-top:0px;color:#ccc">Fecha de Termino del contrato</span>
                            </div>
                            <div class="uk-width-small-1-1 uk-width-medium-1-4 uk-width-large-1-7 uk-margin-top"
                                 ng-if="contrato.indice != undefined">
                                <label title="">Plazo</label>
                                <input class="md-input" type="text" md-input
                                       ng-model="contrato.plazoOriginal" formato-numero
                                       ng-change="calcularPlazoTopico(contrato)">
                            </div>
                            <div class="uk-width-small-1-1 uk-width-medium-1-4 uk-width-large-1-7 uk-margin-top"
                                 ng-if="contrato.indice == undefined">
                                <label title="">Plazo</label>
                                <input class="md-input" type="text" md-input
                                       ng-model="contrato.plazo" formato-numero
                                       ng-change="calcularPlazoTopico(contrato)">
                                <span class="uk-form-help-block"
                                      style="margin-top:0px;color:#ccc">Dias de plazo  {{contrato.plazoOriginal}} <b
                                        style="color: #bc0303;">{{getPlazoTitulo(contrato)}}</b></span>
                            </div>
                            <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-2-6 uk-margin-top"
                                 ng-if="contrato.modificandoPlazo">
                                <div class="uk-input-group">
                                    <label>Modificacion de Plazo</label>
                                    <input class="md-input" type="text" md-input
                                           ng-model="contrato.plazoModificado" formato-numero>
                                    <span class="uk-input-group-addon">
                                <i class="material-icons no_margin"
                                   ng-click="agregarPlazo(contrato,contrato.plazoModificado);calcularPlazoTopico(contrato);contrato.modificandoPlazo= !contrato.modificandoPlazo">check</i>
                                <i class="material-icons no_margin"
                                   ng-click="contrato.modificandoPlazo= !contrato.modificandoPlazo">cancelar</i>
                            </span>
                                </div>

                                <span class="uk-form-help-block"
                                      style="margin-top:0px;color:#ccc">Dias de plazo que se agregaran</span>
                            </div>
                            <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-10 uk-margin-top center-block"
                                 ng-if="!contrato.modificandoPlazo && contrato.indice == undefined"
                                 style="text-align: center;" title="Agregar Plazo"
                                 data-uk-tooltip="{cls:'long-text'}">
                                <i class="material-icons no_margin"
                                   style="font-size:30px;color:green;cursor:pointer"
                                   ng-click="contrato.modificandoPlazo= !contrato.modificandoPlazo;contrato.plazoModificado=0;">add_circle</i>
                            </div>

                        </div>
                        <include-replace
                                ng-include="'app/febos/documentos/portafolio/proyectos/acciones/comun/listaAdjuntosContrato.html'"></include-replace>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-grid uk-grid-small" data-uk-grid-match="{target:'.uk-panel'}">
            <div class="uk-width-small-1-1 uk-width-medium-1-1">
                <div class="uk-panel uk-panel-box">
                    <h3 class="uk-panel-title">Garantias</h3>
                    <div class="uk-panel-badge">
                        <i class="material-icons no_margin"
                           style="font-size:30px;color:green;cursor:pointer"
                           ng-click="agregarBoleta()">add_circle</i>
                    </div>
                    <div class="uk-grid uk-grid-small" ng-repeat="boleta in topico.boletas"
                         ng-init="boleta.verOcultos=0;"
                         style="border-bottom: dashed 1px orange;padding-bottom:15px;">
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-width-medium-2-10 uk-margin-top">
                                <label>Tipo Garantia</label>
                                <selectize class="md-input" config="selectize_config_tipo_garantia"
                                           options='tiposGarantiaOptions'
                                           ng-model="boleta.tipoGarantia"
                                />
                            </div>
                            <div class="uk-width-medium-2-10 uk-margin-top">
                                <label>Folio</label>
                                <input type="text" class="md-input" md-input md-input ng-model="boleta.folio"
                                       validar="soloNumeros"/>
                                <span class="uk-text-small uk-text-muted">Nº de garantia</span>
                            </div>
                            <div class="uk-width-medium-2-10 uk-margin-top">
                                <label>Emisión</label>
                                <input class="md-input" type="text"
                                       data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                                       md-input
                                       ng-model="boleta.fechaEmision">
                            </div>
                            <div class="uk-width-medium-2-10 uk-margin-top">
                                <label>Vencimiento</label>
                                <input class="md-input" type="text"
                                       data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                                       md-input
                                       ng-model="boleta.fechaVencimiento">
                                <span class="uk-text-small uk-text-muted">Plazo {{calcularPlazo(boleta.fechaEmision,boleta.fechaVencimiento)}}</span>
                            </div>
                            <div class="uk-width-medium-2-10 uk-margin-top">
                                <label>Vencimiento Efectivo</label>
                                <input class="md-input" type="text"
                                       data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                                       md-input
                                       ng-model="boleta.fechaVencimientoEfectivo">
                                <span class="uk-text-small uk-text-muted">Plazo {{calcularPlazo(boleta.fechaEmision,boleta.fechaVencimientoEfectivo)}}</span>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-width-medium-3-10 uk-margin-top">
                                <label>Concepto</label>
                                <selectize class="md-input" config="selectize_config_concepto"
                                           options='conceptosOptions'
                                           ng-model="boleta.concepto"
                                />
                                <!--<input type="text" class="md-input" md-input md-input ng-model="boleta.concepto"/>-->
                            </div>
                            <div class="uk-width-medium-2-10 uk-margin-top">
                                <label>Monto</label>
                                <input type="text" class="md-input" md-input md-input ng-model="boleta.monto"
                                       formato-numero/><!--   validar="soloNumeros"-->
                            </div>
                            <div class="uk-width-medium-2-10 uk-margin-top">
                                <label>Banco</label>
                                <input type="text" class="md-input" md-input md-input ng-model="boleta.banco"/>
                            </div>
                            <div class="uk-width-medium-2-10 uk-margin-top">
                                <label>Moneda</label>
                                <selectize class="md-input" config="selectize_config_moneda" options='monedasOptions'
                                           ng-model="boleta.moneda"
                                />
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small">
                            <!-- TOMADOR -->
                            <div class="uk-width-medium-3-10 uk-margin-top">
                                <label>RUT Asegurado</label>
                                <input type="text" class="md-input" md-input md-input
                                       ng-model="boleta.usuarioAseguradoRut"/>
                            </div>
                            <div class="uk-width-medium-3-10 uk-margin-top">
                                <label>Nombre Asegurado</label>
                                <input type="text" class="md-input" md-input md-input
                                       ng-model="boleta.usuarioAseguradoNombre"/>
                            </div>
                            <div class="uk-width-medium-3-10 uk-margin-top">
                                <label>Correo Asegurado</label>
                                <input type="text" class="md-input" md-input md-input
                                       ng-model="boleta.usuarioAseguradoCorreo"/>
                            </div>
                            <!-- FIN TOMADOR -->
                        </div>
                        <div class="uk-grid uk-grid-small">
                            <!-- TOMADOR -->
                            <div class="uk-width-medium-3-10 uk-margin-top">
                                <label>RUT Tomador</label>
                                <input type="text" class="md-input" md-input md-input
                                       ng-model="boleta.usuarioTomadorRut"/>
                            </div>
                            <div class="uk-width-medium-3-10 uk-margin-top">
                                <label>Nombre Tomador</label>
                                <input type="text" class="md-input" md-input md-input
                                       ng-model="boleta.usuarioTomadorNombre"/>
                            </div>
                            <div class="uk-width-medium-3-10 uk-margin-top">
                                <label>Correo Tomador</label>
                                <input type="text" class="md-input" md-input md-input
                                       ng-model="boleta.usuarioTomadorCorreo"/>
                            </div>
                            <!-- FIN TOMADOR -->
                        </div>
                        <div class="uk-grid uk-grid-small">
                            <!-- RESPONSABLE -->

                            <div class="uk-width-medium-2-10 uk-margin-top">
                                <label>Nombre Responsable</label>
                                <input type="text" class="md-input" md-input md-input
                                       ng-model="boleta.usuarioResponsableNombre"/>
                            </div>
                            <div class="uk-width-medium-2-10 uk-margin-top">
                                <label>Correo Responsable</label>
                                <input type="text" class="md-input" md-input md-input
                                       ng-model="boleta.usuarioResponsableCorreo"/>
                            </div>
                            <!-- FIN RESPONSABLE -->
                            <!-- CUSTODIA -->
                            <div class="uk-width-medium-2-10 uk-margin-top">
                                <label>Nombre Custodio</label>
                                <input type="text" class="md-input" md-input md-input
                                       ng-model="boleta.usuarioCustodioNombre"/>
                            </div>
                            <div class="uk-width-medium-2-10 uk-margin-top">
                                <label>Correo Custodio</label>
                                <input type="text" class="md-input" md-input md-input
                                       ng-model="boleta.usuarioCustodioCorreo"/>
                            </div>
                            <div class="uk-width-medium-2-10 uk-margin-top">
                                <label>Lugar Custodia</label>
                                <input type="text" class="md-input" md-input md-input ng-model="boleta.lugarCustodia"/>
                            </div>
                        </div>
                        <include-replace style="width: 100%;align-content: ;"
                                         ng-include="'app/febos/documentos/portafolio/proyectos/acciones/comun/listaAdjuntosGarantia.html'"></include-replace>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-grid-small" data-uk-grid-match="{target:'.uk-panel'}">
            <div class="uk-width-small-1-1 uk-width-medium-1-1">
                <div class="uk-panel uk-panel-box">
                    <h3 class="uk-panel-title">Pólizas</h3>
                    <div class="uk-panel-badge">
                        <i class="material-icons no_margin"
                           style="font-size:30px;color:green;cursor:pointer"
                           ng-click="agregarPoliza()">add_circle</i>
                    </div>

                    <div class="uk-grid uk-grid-small" ng-repeat="poliza in topico.polizas"
                         style="border-bottom: dashed 1px orange;padding-bottom:15px;">
                        <div class="uk-width-medium-1-10 uk-margin-top">
                            <label>Número de Póliza</label>
                            <input type="text" class="md-input" md-input ng-model="poliza.numeroPoliza"/>
                        </div>
                        <div class="uk-width-1-10 uk-margin-top">
                            <label>Emisión</label>
                            <input class="md-input" type="text"
                                   data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                                   md-input
                                   ng-model="poliza.fechaEmision">
                        </div>
                        <div class="uk-width-1-10 uk-margin-top">
                            <label>Vencimiento</label>
                            <input class="md-input" type="text"
                                   data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                                   md-input
                                   ng-model="poliza.fechaVencimiento">
                        </div>
                        <div class="uk-width-1-10 uk-margin-top">
                            <label>Venc. Efectivo</label>
                            <input class="md-input" type="text"
                                   data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                                   md-input
                                   ng-model="poliza.fechaVencimientoEfectivo">
                        </div>
                        <div class="uk-width-medium-2-10 uk-margin-top">
                            <label>Monto</label>
                            <input type="text" class="md-input" md-input ng-model="poliza.monto"
                                   formato-numero/>
                        </div>
                        <div class="uk-width-medium-1-10 uk-margin-top">
                            <label>Moneda</label>
                            <selectize class="md-input" config="selectize_config_moneda" options='monedasOptions'
                                       ng-model="poliza.moneda"
                            />
                        </div>
                        <div class="uk-width-medium-3-10 uk-margin-top">
                            <label>Concepto</label>
                            <input type="text" class="md-input" md-input ng-model="poliza.concepto"/>
                        </div>
                        <div class="uk-width-medium-2-10 uk-margin-top">
                            <label>Aseguradora</label>
                            <input type="text" class="md-input" md-input ng-model="poliza.aseguradora"/>
                        </div>

                        <!-- fila 2 -->
                        <div class="uk-width-medium-2-10 uk-margin-top">
                            <label>Nombre Tomador</label>
                            <input type="text" class="md-input" md-input
                                   ng-model="poliza.usuarioTomadorNombre"/>
                        </div>
                        <div class="uk-width-medium-2-10 uk-margin-top">
                            <label>Correo Tomador</label>
                            <input type="text" class="md-input" md-input
                                   ng-model="poliza.usuarioTomadorCorreo"/>
                        </div>
                        <div class="uk-width-medium-2-10 uk-margin-top">
                            <label>Nombre Responsable</label>
                            <input type="text" class="md-input" md-input
                                   ng-model="poliza.usuarioResponsableNombre"/>
                        </div>
                        <div class="uk-width-medium-2-10 uk-margin-top">
                            <label>Correo Responsable</label>
                            <input type="text" class="md-input" md-input
                                   ng-model="poliza.usuarioResponsableCorreo"/>
                        </div>

                        <include-replace style="width: 100%;"
                                         ng-include="'app/febos/documentos/portafolio/proyectos/acciones/comun/listaAdjuntosPolizas.html'"></include-replace>
                    </div>

                </div>
            </div>
        </div>
        <div class="uk-grid uk-grid-small" data-uk-grid-match="{target:'.uk-panel'}">
            <div class="uk-width-small-1-1 uk-width-medium-1-1">
                <div class="uk-panel uk-panel-box">
                    <h3 class="uk-panel-title">Contactos</h3>
                    <div class="uk-panel-badge">
                        <i class="material-icons no_margin"
                           style="font-size:30px;color:green;cursor:pointer"
                           ng-click="agregarContacto()">add_circle</i>
                    </div>

                    <div class="uk-grid uk-grid-small" ng-repeat="contacto in topico.contactos">
                        <div class="uk-width-medium-3-10 uk-margin-top">
                            <label>Nombre</label>
                            <input type="text" class="md-input" md-input ng-model="contacto.nombre"/>
                        </div>
                        <div class="uk-width-medium-3-10 uk-margin-top">
                            <label>Correo</label>
                            <input type="text" class="md-input" md-input ng-model="contacto.correo"/>
                        </div>
                        <div class="uk-width-medium-3-10 uk-margin-top">
                            <label>Telefono</label>
                            <input type="text" class="md-input" md-input ng-model="contacto.telefono"/>
                        </div>
                        <div class="uk-width-medium-3-10 uk-margin-top">
                            <label>Referencia</label>
                            <input type="text" class="md-input" md-input ng-model="contacto.asunto"/>
                        </div>
                        <div class="uk-width-medium-1-10 uk-margin-top">
                            <a href="javascript:void(0)" class="md-btn md-btn-mini md-btn-icon"
                               ng-click="eliminarContacto($index)">
                                <i class="material-icons no_margin" style="font-size:20px">delete_forever</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-grid-small" data-uk-grid-match="{target:'.uk-panel'}">
            <include-replace style="width:100%;"
                             ng-include="'app/febos/documentos/portafolio/proyectos/acciones/comun/modal/estadosPago.html'"></include-replace>
        </div>
        <!--Retenciones -->
        <div class="uk-grid uk-grid-small" data-uk-grid-match="{target:'.uk-panel'}"
             ng-if="topico.devolucion != undefined && topico.devolucion.length >= 0">
            <div class="uk-width-small-1-1 uk-width-medium-1-1">
                <div class="uk-panel uk-panel-box">
                    <h3 class="uk-panel-title">Devoluciones de Retención</h3>
                    <div class="uk-panel-badge">
                        <i class="material-icons no_margin"
                           style="font-size:30px;color:green;cursor:pointer"
                           ng-click="agregarDevolucion()">add_circle</i>
                    </div>
                    <hr>
                    <div class="uk-grid uk-grid-small" ng-repeat="devolucion in topico.devolucion">
                        <div class="uk-width-medium-2-10 uk-margin-top">
                            <label>Monto Devolución</label>
                            <input class="md-input" md-input
                                   ng-model="devolucion.monto"
                                   formato-numero/>
                        </div>
                        <div class="uk-width-2-10 uk-margin-top">
                            <label>Fecha Devolución</label>
                            <input class="md-input" type="text"
                                   data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                                   md-input
                                   ng-model="devolucion.fecha">
                        </div>
                        <div class="uk-width-medium-2-10 uk-margin-top">
                            <label>Asunto Devolución</label>
                            <input type="text" class="md-input" md-input ng-model="devolucion.asunto"/>
                        </div>
                        <div class="uk-width-medium-3-10 uk-margin-top" ng-if="devolucion.boletaReferenciaId == undefined
                        || devolucion.boletaReferenciaId.toString().length==0 ">
                            <button class="md-btn md-btn-wave"
                                    ng-if="devolucion.editando == undefined || devolucion.editando ==false"
                                    ng-click="devolucion.editando=true">asociar Boleta
                            </button>
                            <div class="uk-button-dropdown" data-uk-dropdown ng-if="devolucion.editando ==true">
                                <button class="md-btn">Boletas <i class="material-icons">&#xE313;</i></button>
                                <div class="uk-dropdown">
                                    <ul class="uk-nav uk-nav-dropdown">
                                        <li ng-repeat="boleta in topico.boletas"
                                            ng-click="asignarBoleta(devolucion,boleta)"><a>{{boleta.folio}}
                                            {{boleta.concepto}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-medium-3-10 uk-margin-top" ng-if="devolucion.boletaReferenciaId != undefined
                        || devolucion.boletaReferenciaId.toString().length>0">
                            <a ng-click="scrollTo('boleta-'+devolucion.boletaReferenciaId)"><i class="material-icons">
                                class
                            </i>
                                {{obtenerDescripcionBoleta(devolucion.boletaReferenciaId,topico.boletas)}} </a>
                        </div>
                        <div ng-if="devolucion.adjuntos!=undefined || devolucion.adjuntos.length > 0"
                             class="uk-width-medium-1-10 uk-margin-top">
                            <i ng-repeat-start="adjunto in devolucion.adjuntos" class="material-icons"
                               title="{{adjunto.adjuntoNombre+'<br>'+adjunto.fecha}}"
                               data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                               adjunto-descargar path="{{adjunto.adjuntoUrl}}" nombre="{{adjunto.adjuntoNombre}}"
                               style="font-size: 24px;cursor: pointer;">attach_file</i>
                            <span ng-repeat-end="adjunto in modificacion.adjuntos">{{adjunto.adjuntoNombre}}</span>
                        </div>
                        <upload-automaticos ng-if="devolucion.adjuntos==undefined || devolucion.adjuntos.length ==0"
                                            title="Adjuntar archivo" objeto="devolucion.adjuntos"
                                            identificador="{{'devolucion-'+devolucion.devolucionId}}"
                                            icon="cloud_upload" estilo='font-size:30px'
                                            url="chile/{{ambiente}}/portafolio/contrato/{{devolucion.devolucionId}}/">
                        </upload-automaticos>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
