<style>
    .uk-dropdown.uk-dropdown-small {
        width: 190px !important;
    }

    @media screen and (max-width: 1024px) {
        .esconderEnMobile {
            display: none !important;
        }
    }
    .sinEspaciado{
        line-height:13px!important;
    }
    .selectize-dropdown,
    .uk-dropdown-active {
        z-index: 9999;
    }
</style>
<div id="top_bar" top-bar ng-escape="esconderFiltros()">
    <div class="md-top-bar">
        <div class="uk-width-large-10-10 uk-container-center">
            <div class="uk-clearfix">
                <div class="md-top-bar-actions-left">
                    <div class="md-top-bar-checkbox">
                        <input type="checkbox" id="documentos_seleccionar_todos" ng-model="documentos_seleccionar_todos" icheck />
                    </div>

                    <div class="uk-button-dropdown" data-uk-dropdown="{mode: 'click'}" ng-if="false">
                        <button class="md-btn md-btn-flat md-btn-small md-btn-wave" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Acciones masivas" style="padding-right: 0px">
                            <i class="material-icons">&#xE3E0;</i>
                            <i class="material-icons">&#xE313;</i>
                        </button>
                        <div class="uk-dropdown">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li>
                                    <a ng-click="deseleccionarTodo()">Cancelar selección</a>
                                </li>
                                <li>
                                    <a ng-click="listarSeleccionados()">Listar solo seleccionados</a>
                                </li>
                                <li class="uk-nav-divider"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="seleccion" style="display:inline-block;vertical-align:middle;" ng-if="documentosSeleccionados.length>0">
                        {{documentosSeleccionados.length}}
                        <span class="esconderEnMobile">documento{{documentosSeleccionados.length>1?'s':''}}</span> seleccionado{{documentosSeleccionados.length>1?'s':''}}
                    </div>
                    <div class="md-btn-group" style="margin-left:0px">
                        <i class="material-icons" style="color:#ccc;padding:4px;margin:5px 0px 0px 0px;cursor:default">&#xE5D4;</i>
                        <a ng-click="retrocederPagina()" class="md-btn md-btn-flat md-btn-small md-btn-wave" data-uk-tooltip="{cls:'long-text',pos:'top'}"
                            title="{{ variablesPaginacion.pagina==1?'No es posible retroceder, estas en la primera página':('Retroceder a la página '+(variablesPaginacion.pagina-1))}}"
                            style="padding: 4px 4px;font-size: 14px!important;">
                            <i class="material-icons">&#xE5CB;</i>
                        </a>
                        <a ng-if="!mostrarInputPagina" ng-click="irPagina(true)" class="md-btn md-btn-flat md-btn-small md-btn-wave" data-uk-tooltip="{cls:'long-text',pos:'top'}"
                            title="Estas en la página {{variablesPaginacion.pagina}}, haz click aqui para ir a una que tu desees"
                            style="padding: 5px 4px;font-size: 14px!important;">{{variablesPaginacion.pagina}} / {{paginacion.paginas}}</a>
                        <input ng-if="mostrarInputPagina" type="number" style="width: 50px;font-size:17px" min="{{variablesPaginacion.pagina}}" max="{{paginacion.paginas}}"
                            id="paginaManual" ng-model="paginaIngresada" ng-enter="irPagina(false,this)" />
                        <a ng-click="avanzarPagina()" class="md-btn md-btn-flat md-btn-small md-btn-wave" data-uk-tooltip="{cls:'long-text',pos:'top'}"
                            title="{{ paginacion.paginas==variablesPaginacion.pagina?'No es posible avanzar, estas en la última página':('Avanzar a la página '+(variablesPaginacion.pagina+1))}}"
                            style="padding: 4px 4px;font-size: 14px!important;">
                            <i class="material-icons">&#xE5CC;</i>
                        </a>
                        <i class="material-icons" style="color:#ccc;padding:4px;margin:0px 0px 0px -9px;cursor:default">&#xE5D4;</i>
                    </div>
                    <div class="seleccion" style="display:inline-block;vertical-align:middle;">
                        <span class="esconderEnMobile">{{ tituloVista }}</span>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div id="page_content">
    <div id="page_content_inner">

        <div class="md-card-list-wrapper" id="documentos">
            <div class="uk-width-large-10-10 uk-container-center">

                <div class="md-card-list">
                    <div class="md-card-list-header heading_list" ng-if="documentos.length > 0">
                        Documentos del {{ paginacion.elementoDesde}} al {{ paginacion.elementoHasta}} , de un total de {{ paginacion.total}}
                    </div>
                    <div class="md-card-list-header heading_list" ng-if="documentos.length == 0">
                        No hay documentos para mostrar
                    </div>
                    <ul class="hierarchical_slide" hierarchical-slide>
                        <li>
                            <!-- botonera -->
                            <span class="md-card-list-item-dato-derecha" style="display:inline-block;width:40px">&nbsp;</span>
                            <!-- fin botonera -->
                            <span ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'" class="md-card-list-item-dato-derecha" data-uk-tooltip="{cls:'long-text'}" title="Fecha de emisión del documento" style="width:90px;text-align:center">Emisión</span>
                            <span class="md-card-list-item-dato-derecha" data-uk-tooltip="{cls:'long-text'}" title="Fecha de recepción en Febos del documento"
                                ng-if="tipoPantalla!='xs'" style="width:90px;text-align:center">Actualización</span>
                            <span ng-if="tipoPantalla != 'xs'" class="md-card-list-item-dato-derecha" data-uk-tooltip="{cls:'long-text'}" title="Tipo de moneda" style="width:130px;text-align:center">
                                Tipo Moneda
                            </span>

                            <div class="md-card-list-item-select">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="md-card-list-item-dato" data-uk-tooltip="{cls:'long-text'}" title="Documento leído" style="width: 40px">
                                Leída
                            </div>

                            <div ng-if="tipoPantalla != 'xs'" class="md-card-list-item-dato" style="width:150px" data-uk-tooltip="{cls:'long-text'}" title="Folio del documento">
                                Folio
                            </div>

                            <div class="md-card-list-item-dato" style="width:100px" data-uk-tooltip="{cls:'long-text'}" title="Monto total del documento" ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'">
                                Monto Total
                            </div>

                            <div class="md-card-list-item-dato" style="width:100px" data-uk-tooltip="{cls:'long-text'}" title="% facturado" ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'">
                                Facturado
                            </div>

                            <div class="md-card-list-item-compactable">
                                <div class="md-card-list-item-mini-dato" data-uk-tooltip="{cls:'long-text'}" title="Tipo y Folio del documento" ng-if="tipoPantalla=='xs'">
                                    <span>Tipo # Folio</span>
                                </div>
                                <div class="md-card-list-item-mini-dato" data-uk-tooltip="{cls:'long-text'}" title="Monto total del documento" ng-if="tipoPantalla=='xs'">
                                    <span>Monto Total</span>
                                </div>
                                <span ng-class="{'sinEspaciado':tipoPantalla=='xs'}" ng-if="categoria == 'recibidos'" data-uk-tooltip="{cls:'long-text'}" title="Razón Social del emisor del documento">Razón Social del emisor</span>
                                <span ng-class="{'sinEspaciado':tipoPantalla=='xs'}" ng-if="categoria == 'emitidos'" data-uk-tooltip="{cls:'long-text'}" title="Razón Social del receptor del documento">Razón Social del receptor</span>
                            </div>

                        </li>
                        <li ng-repeat="documento in documentos" on-last-repeat style="cursor:pointer" ng-class="{'seleccionable':true,'md-card-list-item-selected':estaSeleccionado(documento.febosId)}">
                            <!-- botonera -->
                            <div class="md-card-list-item-menu" data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                                <a href="#" class="md-icon material-icons">&#xE5D4;</a>
                                <div class="uk-dropdown uk-dropdown-small" style="z-index:99">
                                    <ul class="uk-nav">
                                        <li permiso="DTE02|left">
                                            <a ui-sref="restringido.bitacora_dnt({app:app,febosid:documento.febosId})">
                                                <i class="material-icons">&#xE896;</i> Bitacora</a>
                                        </li>
                                        <li permiso="DTE02|left" ng-if="vista!='noRecibidos' && vista!='noEntregados'">
                                            <a ng-click="verReferencias(documento)">
                                                <i class="material-icons">visibility</i>Ver referencias
                                            </a>
                                        </li>
                                        <li permiso="DTE01|left" ng-click="verPDF(documento.febosId)">
                                            <a>
                                                <i class="material-icons">&#xE415;</i> Descargar PDF
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- fin botonera -->
                            <span ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'" class="md-card-list-item-dato-derecha" data-uk-tooltip="{cls:'long-text'}" title="Fecha de emisión del documento" style="width:90px;text-align:center">{{documento.fechaEmision}}&nbsp;</span>
                            <span class="md-card-list-item-dato-derecha" data-uk-tooltip="{cls:'long-text'}" title="Fecha de actualización del documento"
                                ng-if="tipoPantalla!='xs'" style="width:90px;text-align:center">&nbsp;{{documento.fechaActualizacion | momentDate:'YYYY-MM-DD':'YYYY-MM-DD'}}</span>
                            <span ng-if="tipoPantalla != 'xs'" class="md-card-list-item-dato-derecha" style="width:130px;text-align:center">&nbsp;
                                {{ documento.totalMonedaTipo}}&nbsp;
                            </span>

                            <div class="md-card-list-item-select">
                                <input type="checkbox" id="documento_{{documento.febosId}}" class="select_message" ng-checked="estaSeleccionado(documento.febosId)"
                                    icheck ng-model="documento_seleccionado" />
                            </div>
                            <div class="md-card-list-item-estado-wrapper">
                                <span class="md-card-list-item-estado md-bg-{{documento.metadata.leido.color}}-600" data-uk-tooltip="{cls:'long-text'}"
                                    title="{{documento.metadata.leido.descripcion}}">
                                    <i class="material-icons" style="color:white">{{documento.metadata.leido.icono}}</i>
                                </span>
                            </div>

                            <div ng-if="tipoPantalla != 'xs'"  class="md-card-list-item-dato" style="width:150px">
                                <span> # {{documento.numero}}&nbsp;</span>
                            </div>

                            <div class="md-card-list-item-dato" style="width:100px" ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'">
                                <span>{{formatearMonto(documento.totalPrecioTotalNeto, "$")}}&nbsp;</span>
                            </div>

                            <div class="md-card-list-item-dato" style="width:100px" ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'">
                                <span>{{documento.porcentajeFacurado}}%</span>
                            </div>



                            <div class="md-card-list-item-compactable">
                                <div class="md-card-list-item-mini-dato" ng-if="tipoPantalla=='xs'">
                                    <span>{{tipoDocumento(documento.tipoDocumento)}} # {{documento.numero}}&nbsp;</</span>
                                </div>
                                <div class="md-card-list-item-mini-dato" ng-if="tipoPantalla=='xs'">
                                    <span>{{formatearMonto(documento.totalPrecioTotalNeto, "$")}}&nbsp;</span>
                                </div>
                                <span ng-class="{'sinEspaciado':tipoPantalla=='xs'}" >{{categoria=='emitidos'?documento.receptorRazonSocial:documento.emisorSocialRazonSocial}}&nbsp;</span>
                            </div>

                            <div class="md-card-list-item-content-wrapper">
                                <div class="md-card-list-item-content">
                                    <!--<div class="uk-alert" data-uk-alert ng-bind-html="prosa(documento)"></div>-->
                                    <div class="uk-grid">
                                        <div class="uk-width-large-1-2">
                                            <div class="uk-width-large-1-1">
                                                <h4 class="heading_c uk-margin-small-bottom color-principal">Información del Documento</h4>
                                                <ul class="md-list md-list-addon">
                                                    <li>
                                                        <div class="md-list-addon-element">
                                                            <i class="md-list-addon-icon material-icons">&#xE54E;</i>
                                                        </div>
                                                        <div class="md-list-content">
                                                            <span class="md-list-heading">{{documento.febosId}}</span>
                                                            <span class="uk-text-small uk-text-muted">Febos ID</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="md-list-addon-element">
                                                            <i class="md-list-addon-icon material-icons">&#xE8DF;</i>
                                                        </div>
                                                        <div class="md-list-content">
                                                            <span class="md-list-heading">{{documento.fechaEmision.split(" ")[0]}}</span>
                                                            <span class="uk-text-small uk-text-muted">Fecha de Emisión</span>
                                                        </div>
                                                    </li>
                                                    <li ng-if="documento.fechaActualizacion != undefined">
                                                        <div class="md-list-addon-element">
                                                            <i class="md-list-addon-icon material-icons">&#xE156;</i>
                                                        </div>
                                                        <div class="md-list-content">
                                                            <span class="md-list-heading">{{documento.fechaActualizacion.split(" ")[0]}}</span>
                                                            <span class="uk-text-small uk-text-muted">Fecha de Actualización</span>
                                                        </div>
                                                    </li>
                                                    <li ng-if="documento.fechaVencimiento != undefined">
                                                        <div class="md-list-addon-element">
                                                            <i class="md-list-addon-icon material-icons">&#xE916;</i>
                                                        </div>
                                                        <div class="md-list-content">
                                                            <span class="md-list-heading">{{documento.fechaVencimiento.split(" ")[0]}}</span>
                                                            <span class="uk-text-small uk-text-muted">Fecha de Vencimiento</span>
                                                        </div>
                                                    </li>
                                                    <li ng-if="documento.totalTipoMoneda != undefined">
                                                        <div class="md-list-addon-element">
                                                            <i class="md-list-addon-icon material-icons">&#xE8A1;</i>
                                                        </div>
                                                        <div class="md-list-content">
                                                            <span class="md-list-heading">Contado</span>
                                                            <span class="uk-text-small uk-text-muted">Tipo Moneda</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="uk-width-large-1-2">
                                            <div class="uk-width-large-1-1" ng-if="categoria == 'recibidos'">
                                                <h4 class="heading_c uk-margin-small-bottom color-principal">Información del Emisor</h4>
                                                <ul class="md-list md-list-addon">
                                                    <li>
                                                        <div class="md-list-addon-element">
                                                            <i class="md-list-addon-icon material-icons">&#xE0AF;</i>
                                                        </div>
                                                        <div class="md-list-content">
                                                            <span class="md-list-heading">{{documento.emisorRazonSocial}}</span>
                                                            <span class="uk-text-small uk-text-muted">Razón Social</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="md-list-addon-element">
                                                            <i class="md-list-addon-icon material-icons">&#xE90D;</i>
                                                        </div>
                                                        <div class="md-list-content">
                                                            <span class="md-list-heading">{{documento.emisorRut}}</span>
                                                            <span class="uk-text-small uk-text-muted">R.U.T.</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="uk-width-large-1-1" ng-if="categoria == 'emitidos'">
                                                    <h4 class="heading_c uk-margin-small-bottom color-principal">Información del Receptor</h4>
                                                    <ul class="md-list md-list-addon">
                                                        <li>
                                                            <div class="md-list-addon-element">
                                                                <i class="md-list-addon-icon material-icons">&#xE0AF;</i>
                                                            </div>
                                                            <div class="md-list-content">
                                                                <span class="md-list-heading">{{documento.receptorRazonSocial}}</span>
                                                                <span class="uk-text-small uk-text-muted">Razón Social</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="md-list-addon-element">
                                                                <i class="md-list-addon-icon material-icons">&#xE90D;</i>
                                                            </div>
                                                            <div class="md-list-content">
                                                                <span class="md-list-heading">{{documento.receptorRut}}</span>
                                                                <span class="uk-text-small uk-text-muted">R.U.T.</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            <div class="uk-width-large-1-1" ng-if="(documento.correoReceptor != undefined && documento.correoReceptor != '' &&  documento.correoReceptor != 'NULL' ) || (documento.contacto != undefined && documento.contacto != '' && documento.contacto != 'NULL') ">
                                                <h4 class="heading_c uk-margin-small-bottom color-principal">Información del Contacto</h4>
                                                <ul class="md-list md-list-addon">
                                                    <li ng-if="documento.contacto != undefined && documento.contacto != '' && documento.contacto != 'NULL'">
                                                        <div class="md-list-addon-element">
                                                            <i class="md-list-addon-icon material-icons">&#xE55A;</i>
                                                        </div>
                                                        <div class="md-list-content">
                                                            <span class="md-list-heading">{{documento.contacto}}</span>
                                                            <span class="uk-text-small uk-text-muted">Nombre</span>
                                                        </div>
                                                    </li>
                                                    <li ng-if="documento.correoReceptor != undefined && documento.correoReceptor != '' && documento.correoReceptor != 'NULL'">
                                                        <div class="md-list-addon-element">
                                                            <i class="md-list-addon-icon material-icons">&#xE0BE;</i>
                                                        </div>
                                                        <div class="md-list-content">
                                                            <span class="md-list-heading">{{documento.correoReceptor}}</span>
                                                            <span class="uk-text-small uk-text-muted">Correo</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="uk-width-large-1-1" ng-if="(documento.razonSocialCesionario != undefined && documento.razonSocialCesionario != 'NULL' && documento.razonSocialCesionario != '') || (documento.rutCesionario != undefined && documento.rutCesionario != 'NULL' && documento.rutCesionario != '') || (documento.fechaCesion != undefined && documento.fechaCesion != 'NULL' && documento.fechaCesion != '')">
                                                <h4 class="heading_c uk-margin-small-bottom color-principal">Información del Cesionario</h4>
                                                <ul class="md-list md-list-addon">
                                                    <li ng-if="documento.razonSocialCesionario != undefined && documento.razonSocialCesionario != '' && documento.razonSocialCesionario != 'NULL'">
                                                        <div class="md-list-addon-element">
                                                            <i class="md-list-addon-icon material-icons">&#xE0AF;</i>
                                                        </div>
                                                        <div class="md-list-content">
                                                            <span class="md-list-heading">{{documento.razonSocialCesionario}}</span>
                                                            <span class="uk-text-small uk-text-muted">Razón Social</span>
                                                        </div>
                                                    </li>
                                                    <li ng-if="documento.rutCesionario != undefined && documento.rutCesionario != '' && documento.rutCesionario != 'NULL'">
                                                        <div class="md-list-addon-element">
                                                            <i class="md-list-addon-icon material-icons">&#xE90D;</i>
                                                        </div>
                                                        <div class="md-list-content">
                                                            <span class="md-list-heading">{{documento.rutCesionario}}</span>
                                                            <span class="uk-text-small uk-text-muted">R.U.T.</span>
                                                        </div>
                                                    </li>
                                                    <li ng-if="documento.fechaCesion != undefined && documento.fechaCesion != '' && documento.fechaCesion != 'NULL'">
                                                        <div class="md-list-addon-element">
                                                            <i class="md-list-addon-icon material-icons">&#xE916;</i>
                                                        </div>
                                                        <div class="md-list-content">
                                                            <span class="md-list-heading">{{documento.fechaCesion}}</span>
                                                            <span class="uk-text-small uk-text-muted">Fecha de Cesión</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>


<div id="modalReferencias" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>

        <div id="md-card-content crear_card_" style="width: 100%; margin: 0 auto;">


            <div id="crear_formRM_">
                <div style="padding: 5px 0px 0px 37px; " class="uk-text-center">
                    <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Referencias a este documento</h3>
                    <span class="color-principal" style="display:inline">la {{tipoDocumentoSeleccionado}}</span>
                    # {{documentoActual.numero}}
                </div>
                <div style="padding: 24px 24px 30px;">
                    <div class="md-card-content">
                        <div class="">
                            <div class="md-card" style="margin-top: 0px;">
                                <div class="md-card-toolbar">
                                    <div class="md-card-toolbar-actions">
                                        <card-toggle></card-toggle>
                                    </div>

                                    <h3 class="md-card-toolbar-heading-text">Documentos Tributarios Electrónicos (DTE)</h3>
                                </div>

                                <div class="md-card-content">
                                    <table class="uk-table uk-table-nowrap uk-table-hover">
                                        <thead>
                                            <tr>
                                                <th class="uk-width-1-10 uk-text-center">Tipo</th>
                                                <th class="uk-width-1-10 uk-text-center">Folio</th>
                                                <th class="uk-width-1-10 uk-text-center">Fecha</th>
                                                <th class="uk-width-1-10 uk-text-center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="referencias.loadingReferencias">
                                                <td colspan="4" style="text-align: center;">
                                                    <i class="uk-icon-spinner uk-icon-spin"></i> Buscando documentos...
                                                </td>
                                            </tr>
                                            <tr ng-if="!referencias.loadingReferencias && referencias.referenciadosDte.length == 0">
                                                <td colspan="4" style="text-align: center;">
                                                    No se encontró ningún documento electrónico que haga referencia a este documento.
                                                </td>
                                            </tr>

                                            <tr ng-show="!referencias.loadingReferencias"
                                                ng-repeat="referenciado in referencias.referenciadosDte track by $index"
                                                id="documentox_{{referenciado.febosId}}">
                                                <td style="text-align: center;">
                                                    {{referenciado.tipoDocumentoReferencia}}
                                                </td>


                                                <td style="text-align: center;">{{referenciado.folio}}</td>
                                                <td style="text-align: center;">{{referenciado.fechaEmision}}</td>
                                                <td style="text-align: center">
                                                    <i class="material-icons"
                                                        style="cursor: pointer;"
                                                        ng-click="verPDFFactura(referenciado.febosId)"
                                                        ng-show="referenciado.febosId">&#xE2C0;</i>
                                                            <!--
                                                    <i class="material-icons"
                                                        style="cursor: pointer;"
                                                        ng-click="detalle('dte', referenciado.folio, categoria)"
                                                        ng-show="referenciado.febosId">description</i>-->
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                <div style="padding: 5px 0px 0px 37px; " class="uk-text-center">
                    <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Referencias a otros documentos</h3>
                    <span class="color-principal" style="display:inline">de la {{tipoDocumento(documentoActual.tipoDocumento)}}</span>
                    # {{documentoActual.folio}}
                </div>

                <div style="padding: 24px 24px 30px;">
                    <div class="md-card-content">
                        <div class="">

                            //inicio info referencia (dte)

                            <div class="md-card" style="margin-top: 0px;">
                                <div class="md-card-toolbar">
                                    <div class="md-card-toolbar-actions">
                                        <card-toggle></card-toggle>
                                    </div>

                                    <h3 class="md-card-toolbar-heading-text">Documentos Tributarios Electrónicos
                                        (DTE)</h3>
                                </div>

                                <div class="md-card-content">
                                    <table class="uk-table uk-table-nowrap uk-table-hover">
                                        <thead>

                                        <tr>
                                            <th class="uk-width-1-10 uk-text-center">Tipo</th>
                                            <th class="uk-width-1-10 uk-text-center">Folio</th>
                                            <th class="uk-width-1-10 uk-text-center">Fecha</th>
                                            <th class="uk-width-1-10 uk-text-center">Acciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-if="referencias.loadingReferencias">
                                            <td colspan="4" style="text-align: center;"><i
                                                    class="uk-icon-spinner uk-icon-spin"></i> Buscando documentos...
                                            </td>
                                        </tr>

                                        <tr ng-if="!referencias.loadingReferencias && referencias.referenciasDte.length == 0">
                                            <td colspan="4" style="text-align: center;">No se encontró ningún documento
                                                electrónico referenciado.
                                            </td>
                                        </tr>

                                        <tr ng-show="!referencias.loadingReferencias"
                                            ng-repeat="referencia in referencias.referenciasDte track by $index"
                                            id="documentox_{{referencia.febosId}}">
                                            <td style="text-align: center;">
                                                {{tipoDocumentoReferencia(referencia.tipoDocumentoReferencia, false,
                                                false)}}
                                            </td>
                                            <td style="text-align: center;">{{referencia.folioReferencia}}</td>
                                            <td style="text-align: center;">{{referencia.fechaReferencia}}</td>
                                            <td style="text-align: center"><i class="material-icons"
                                                                              style="cursor: pointer;"
                                                                              ng-click="verPDF(referencia.febosId)"
                                                                              ng-show="referencia.febosId">&#xE2C0;</i>
                                                <i class="material-icons"
                                                   style="cursor: pointer;"
                                                   ng-click="detalle('dte', referencia.folioReferencia, categoria)"
                                                   ng-show="referencia.febosId">description</i>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            //fin referencia-
                            // inicio info referencia (dnt)
                            <div class="md-card" style="margin-top: 0px;"
                                 ng-if="funcionesDte.scope.config.origen != 'honorarios'">
                                <div class="md-card-toolbar">
                                    <div class="md-card-toolbar-actions">
                                        <card-toggle></card-toggle>
                                    </div>

                                    <h3 class="md-card-toolbar-heading-text">Otro tipo de documentos electrónicos</h3>
                                </div>

                                <div class="md-card-content">
                                    <table class="uk-table uk-table-nowrap uk-table-hover">
                                        <thead>

                                        <tr>

                                            <th class="uk-width-1-10 uk-text-center">Tipo</th>
                                            <th class="uk-width-1-10 uk-text-center">Folio</th>
                                            <th class="uk-width-1-10 uk-text-center">Acciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-if="referencias.loadingReferencias">
                                            <td colspan="4" style="text-align: center;"><i
                                                    class="uk-icon-spinner uk-icon-spin"></i> Buscando documentos...
                                            </td>
                                        </tr>

                                        <tr ng-if="!referencias.loadingReferencias && referencias.referenciasDnt.length == 0">
                                            <td colspan="4" style="text-align: center;">No se encontró ningún documento
                                                no tributario referenciado.
                                            </td>
                                        </tr>

                                        <tr ng-show="!referencias.loadingReferencias"
                                            ng-repeat="referencia2 in referencias.referenciasDnt track by $index"
                                            id="documentox_{{referencia2.febosId}}">
                                            <td style="text-align: center;">{{referencia2.tipoDocumentoReferencia}}</td>
                                            <td style="text-align: center;">{{referencia2.folioReferencia}}</td>
                                            <td style="text-align: center"><i class="material-icons"
                                                                              style="cursor: pointer;"
                                                                              ng-click="verPDFDnt(referencia2.febosId)"
                                                                              ng-show="referencia2.febosId">&#xE2C0;</i>
                                                <i class="material-icons"
                                                   style="cursor: pointer;"
                                                   ng-click="detalle('dnt', referencia2.folioReferencia, categoria)"
                                                   ng-show="referencia2.febosId">description</i>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            //fin referencia


                        </div>
                    </div>
                </div>


                -->
                <div class="uk-modal-footer  uk-text-center" style="margin-right: 40px;">

                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cerrar</button>
                </div>

                <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;"
                     class="ng-scope"/>
            </div>
        </div>
    </div>
</div>

<div class="md-fab-wrapper">
    <a ng-if="(app=='cloud' && categoria == 'recibidos') || (app=='proveedores' && categoria == 'emitidos')" class="md-fab md-fab-primary md-fab-wave-light" ng-click="mostrarModalCargaDocumento()" style="left: -80px; bottom: -80px" data-uk-tooltip="{cls:'long-text'}"
        title="Cargar documento {{ categoria.replace('s','') }}">
        <i class="material-icons">&#xE2C3;</i>
    </a>

    <a class="md-fab md-fab-accent md-fab-wave-light md-fab" ng-click="descargarCSV()"  data-uk-tooltip="{cls:'long-text'}"
        title="Descargar listado de documentos" style="left: -60px;">
        <i class="material-icons">assignment_returned</i >
    </a>
</div>

<div oc-lazy-load="['assets/css/config_filtros.min.css','app/shared/filtros/dnt/filtros.js']">
    <filtros-dnt></filtros-dnt>
</div>

<div id="mdCargaDocumento" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>

        <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
            <div class="md-card-content large-padding uk-position-relative" id="crear_ok" style="display: none; width: 100%; text-align: center;">
                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>

                <h2 class="heading_b">{{ mensaje_ok}}</h2>
                <p>{{mensaje_api}}</p>
                <h4>ID de Seguimiento: {{ seguimiento}}</h4>
            </div>

            <div id="crear_form">
                <div style="padding: 5px 0px 0px 37px;">
                    <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Cargar Documentos Electrónicos</h3>
                </div>

                <div style="padding: 24px 24px 30px;">
                    <div class="md-card-content">
                        <div class="">
                            <form enctype="multipart/form-data">
                                <div class="row">
                                    <h3 class="heading_a">
                                        Carga de documentos...
                                        <span class="sub-heading">El documento que será cargado, deben ser en formato XML.</span>
                                    </h3>

                                    <hr />

                                    <div class="file-field input-field">
                                        <div class="md-btn md-btn-primary" style="width: 100%; padding: 1% 44% 1% 0%;">
                                            <input id="file" type="file" multiple />
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-margin-medium-top">
                                    <a ng-click="cargarDocumento()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                        <span class="menu_icon" ng-if="textoCargar != 'CARGAR DOCUMENTO'">
                                            <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                        </span>
                                        {{ textoCargar}}
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-modal" id="accion_comercial">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Gestión comercial sobre
                <span ng-show="masivo == 'no'" class="color-principal" style="display:inline">{{tipoDocumento(documentoActual.tipoDocumento)}} # {{documentoActual.folio}}</span>
                <span ng-show="masivo == 'si'" class="color-principal" style="display:inline">{{documentosSeleccionados.length}} documento{{documentosSeleccionados.length>1?'s':''}} seleccionado{{documentosSeleccionados.length>1?'s':''}}</span>
            </h3>
        </div>



            <div class="md-card-content">
                <ul class="uk-tab uk-tab-grid" data-uk-tab="{connect:'#tabs_comercial'}">
                    <li class="uk-width-1-3 uk-active">
                        <a href="#">Aceptación</a>
                    </li>
                    <li class="uk-width-1-3">
                        <a href="#">Rechazo</a>
                    </li>
                    <li class="uk-width-1-3">
                        <a href="#">Recibo Mercadería</a>
                    </li>
                </ul>
                <ul id="tabs_comercial" class="uk-switcher uk-margin">
                    <!-- aceptacion comercial -->
                    <li>
                        <div class="uk-modal-body">
                            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                <label data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Notificar al SII de que se esta aceptando el documento">
                                    <input type="checkbox" icheck ng-model="$parent.vincularSii" ng-true-value="'si'" ng-false-value="'no'" /> Vincular aceptación en el Servicio de Impuestos Internos
                                </label>
                            </div>

                        </div>

                        <div class="uk-modal-footer  uk-text-right" style="margin-right: 40px;">
                            <p ng-if="$parent.vincularSii=='si'">
                                <i class="material-icons">&#xE88F;</i>
                                <label>
                                    <strong style="color:red">Atención</strong>: "Vincular al Sii", es una acción que
                                    <span style="font-weight: bold;">NO</span> es posible reversar </label>
                            </p>

                            <button data-uk-modal="{target:'#modal_new'}" type="button" class="md-btn md-btn-flat md-btn-flat-primary" ng-click="gestionComercial('ACD',$parent.vincularSii)">Aceptar el documento</button>
                            <button type="button" class="md-btn md-btn-flat uk-modal-close">No, me arrepentí</button>
                        </div>
                    </li>

                    <!-- accionAutomatica comercial -->
                    <li>
                        <div class="uk-modal-body">
                            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                <label data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Notificar al SII de que se esta aceptando el documento">
                                    <input type="checkbox" icheck ng-model="$parent.vincularSii" ng-true-value="'si'" ng-false-value="'no'" /> Vincular aceptación en el Servicio de Impuestos Internos
                                </label>
                            </div>
                            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                <div class="uk-width-medium-5-5">
                                    <p>
                                        <input type="radio" name="tipo_accion" id="rparcial" icheck ng-model="$parent.tipoGestionComercial" value="RFP" />
                                        <label for="rparcial" class="inline-label">Reclamo por Falta PARCIAL de Mercadería </label>
                                    </p>
                                    <p>
                                        <input type="radio" name="tipo_accion" id="rtotal" icheck ng-model="$parent.tipoGestionComercial" value="RFT" />
                                        <label for="rtotal" class="inline-label">Reclamo por Falta TOTAL de Mercadería</label>
                                    </p>
                                    <p>
                                        <input type="radio" name="tipo_accion" id="rechazo" icheck ng-model="$parent.tipoGestionComercial" value="RCD" />
                                        <label for="rechazo" class="inline-label">Rechazo Comercial</label>
                                    </p>
                                </div>
                                <div class="uk-width-medium-1-1 uk-margin-medium-top">
                                    <label>Motivo</label>
                                    <input type="text" class="md-input label-fixed" md-input ng-model="motivo" placeholder="Documento no tiene orden de compra"
                                    />
                                </div>
                            </div>

                        </div>

                        <div class="uk-modal-footer  uk-text-right" style="margin-right: 40px;">
                            <p ng-if="$parent.vincularSii=='si'">
                                <i class="material-icons">&#xE88F;</i>
                                <label>
                                    <strong style="color:red">Atención</strong>: "Vincular al Sii", es una acción que
                                    <span style="font-weight: bold;">NO</span> es posible reversar
                                </label>
                            </p>

                            <button data-uk-modal="{target:'#modal_new'}" type="button" class="md-btn md-btn-flat md-btn-flat-primary" ng-click="gestionComercial($parent.tipoGestionComercial,$parent.vincularSii)">Rechazar el documento</button>
                            <button type="button" class="md-btn md-btn-flat uk-modal-close">No, me arrepentí</button>
                        </div>


                    </li>
                    <!-- recibo de mercaderias-->
                    <li>
                        <div class="uk-modal-body">
                            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" ng-if="!$parent.esMisRecibidos">
                                <label data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="El recibo de mercaderías solo puede ejecutarse vinculado al SII">
                                    <input type="checkbox" icheck ng-checked="true" ng-disabled="true" ng-model="sinuso" /> Vincular aceptación en el Servicio de Impuestos Internos
                                </label>
                            </div>
                            <div class="uk-width-medium-1-1 uk-margin-medium-top">
                                <label>Recinto</label>
                                <input type="text" class="md-input label-fixed" md-input ng-model="recinto" placeholder="Av. Nueva Providencia #1234, proviencia"
                                />
                            </div>
                        </div>

                        <div class="uk-modal-footer  uk-text-right" style="margin-right: 40px;">
                            <p>
                                <i class="material-icons">&#xE88F;</i>
                                <label>
                                    <strong style="color:red">Atención</strong>: "Vincular al Sii", es una acción que
                                    <span style="font-weight: bold;">NO</span> es posible reversar
                                </label>
                            </p>

                            <button data-uk-modal="{target:'#modal_new'}" type="button" class="md-btn md-btn-flat md-btn-flat-primary" ng-click="gestionComercial('ERM','si')">Generar Recibo de Mercaderías</button>
                            <button type="button" class="md-btn md-btn-flat uk-modal-close">No, me arrepentí</button>
                        </div>


                    </li>
                </ul>
            </div>


        </div>
    </div>

    <div class="uk-modal" id="info_pago">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Información de pago de
                    <span class="color-principal" style="display:inline">{{tipoDocumento(documentoActual.tipoDocumento)}}</span> # {{documentoActual.folio}}</h3>
            </div>
            <div class="md-card-content" ng-if="!formularioEdicionPago">
                <div class="uk-modal-body">
                    <div class="uk-width-large-1-1">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons" ng-if="!documentoActual.tipo">info</i>
                                    <i class="md-list-addon-icon material-icons" ng-if="documentoActual.tipo == 1">shedule</i>
                                    <i class="md-list-addon-icon material-icons" ng-if="documentoActual.tipo == 2">send</i>
                                    <i class="md-list-addon-icon material-icons" ng-if="documentoActual.tipo == 3">check_circle</i>
                                    <i class="md-list-addon-icon material-icons" ng-if="documentoActual.tipo == 4">thumb_up</i>
                                    <i class="md-list-addon-icon material-icons" ng-if="documentoActual.tipo == 5">close</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading" ng-if="!documentoActual.tipo" data-uk-tooltip="{cls:'long-text'}" title="Aún no se ha ingresado información de pago">Sin gestión</span>
                                    <span class="md-list-heading" ng-if="documentoActual.tipo == 1" data-uk-tooltip="{cls:'long-text'}" title="El pago ya esta siendo gestionado">En vía de pago</span>
                                    <span class="md-list-heading" ng-if="documentoActual.tipo == 2" data-uk-tooltip="{cls:'long-text'}" title="El dinero ha sido enviado a pago">Pago enviado</span>
                                    <span class="md-list-heading" ng-if="documentoActual.tipo == 3" data-uk-tooltip="{cls:'long-text'}" title="El dinero se encuentra disponible para ser cobrado">Pagado</span>
                                    <span class="md-list-heading" ng-if="documentoActual.tipo == 4" data-uk-tooltip="{cls:'long-text'}" title="El dinero ha sido cobrado">Cobrado</span>
                                    <span class="md-list-heading" ng-if="documentoActual.tipo == 5" data-uk-tooltip="{cls:'long-text'}" title="El dinero no pudo ser cobrado">No pagado</span>
                                    <span class="uk-text-small uk-text-muted">Estado de pago</span>
                                </div>
                            </li>
                            <li ng-if="documentoActual.medio">
                                <div class="md-list-addon-element">
                                    <i ng-if='!documentoActual.medio' class="md-list-addon-icon material-icons">border_clear</i>
                                    <i ng-if="documentoActual.medio == 'CH'" class="md-list-addon-icon material-icons">aspect_ratio</i>
                                    <i ng-if="documentoActual.medio == 'CF'" class="md-list-addon-icon material-icons">date_range</i>
                                    <i ng-if="documentoActual.medio == 'LT'" class="md-list-addon-icon material-icons">spellcheck</i>
                                    <i ng-if="documentoActual.medio == 'EF'" class="md-list-addon-icon material-icons">vibration</i>
                                    <i ng-if="documentoActual.medio == 'PE'" class="md-list-addon-icon material-icons">add_to_home_screen</i>
                                    <i ng-if="documentoActual.medio == 'TC'" class="md-list-addon-icon material-icons">credit_card</i>
                                    <i ng-if="documentoActual.medio == 'VV'" class="md-list-addon-icon material-icons">aspect_ratio</i>
                                    <i ng-if="documentoActual.medio == 'CO'" class="md-list-addon-icon material-icons">device_hub</i>
                                    <i ng-if="documentoActual.medio == 'OT'" class="md-list-addon-icon material-icons">blur_circular</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading" ng-if='documentoActual.medio'>No informado</span>
                                    <span class="md-list-heading" ng-if="documentoActual.medio == 'CH'">Cheque</span>
                                    <span class="md-list-heading" ng-if="documentoActual.medio == 'CF'">Cheque a fecha/span>
                                        <span class="md-list-heading" ng-if="documentoActual.medio == 'LT'">Letra</span>
                                        <span class="md-list-heading" ng-if="documentoActual.medio == 'EF'">Efectivo</span>
                                        <span class="md-list-heading" ng-if="documentoActual.medio == 'PE'">Pago a Cta. Cte.</span>
                                        <span class="md-list-heading" ng-if="documentoActual.medio == 'TC'">Tarjeta de Crédito</span>
                                        <span class="md-list-heading" ng-if="documentoActual.medio == 'VV'">Vale vista</span>
                                        <span class="md-list-heading" ng-if="documentoActual.medio == 'CO'">Confirming</span>
                                        <span class="md-list-heading" ng-if="documentoActual.medio == 'OT'">Otro</span>
                                        <span class="uk-text-small uk-text-muted">Medio de pago</span>
                                </div>
                            </li>
                            <li ng-if="documentoActual.monto">
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons">monetization_on</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{formatearMonto(documentoActual.montoTotal, "$")}}</span>
                                    <span class="uk-text-small uk-text-muted">Monto</span>
                                </div>
                            </li>
                            <li ng-if="documentoActual.lugar">
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons">room</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{documentoActual.lugar}}</span>
                                    <span class="uk-text-small uk-text-muted">Lugar</span>
                                </div>
                            </li>
                            <li ng-if="documentoActual.fecha">
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons">today</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{documentoActual.fecha}}</span>
                                    <span class="uk-text-small uk-text-muted">Fecha</span>
                                </div>
                            </li>
                            <li ng-if="documentoActual.comentario">
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons">format_quote</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{documentoActual.comentario}}</span>
                                    <span class="uk-text-small uk-text-muted">Información adicional</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="uk-modal-footer  uk-text-right" style="margin-right: 40px;">
                    <button data-uk-modal="{target:'#modal_new'}" type="button" class="md-btn md-btn-flat md-btn-flat-primary" ng-click="editarInfoPago()"
                        permiso="DTE17">
                        <i class="material-icons">edit</i> Modificar</button>
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cerrar</button>
                </div>
            </div>
            <div class="md-card-content" ng-if="formularioEdicionPago">
                <div class="uk-modal-body">
                    <div class="uk-width-large-1-1">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons">info</i>
                                </div>
                                <div class="md-list-content">
                                    <div class="uk-width-medium-1-3">
                                        <input type="text" config="selectize_config_pagos" options="estadosDePago" ng-model="estadoPagoTransicion.tipo" selectize/>
                                    </div>
                                    <span class="uk-text-small uk-text-muted uk-margin-top">Estado de pago</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons">border_clear</i>
                                </div>
                                <div class="md-list-content">
                                    <div class="uk-width-medium-1-3">
                                        <input type="text" config="selectize_config_pagos" options="mediosDePago" ng-model="estadoPagoTransicion.medio" selectize/>
                                    </div>
                                    <span class="uk-text-small uk-text-muted uk-margin-top">Medio de pago</span>
                                </div>
                            </li>

                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons">monetization_on</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">
                                        <input type="text" class="md-input" ng-model="estadoPagoTransicion.monto" md-input validar="soloNumeros" />
                                    </span>
                                    <span class="uk-text-small uk-text-muted">Monto</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons">room</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">
                                        <input type="text" class="md-input" ng-model="estadoPagoTransicion.lugar" md-input validar="largoMaximo45" />
                                    </span>
                                    <span class="uk-text-small uk-text-muted">Lugar</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons">today</i>
                                </div>
                                <div class="md-list-content">
                                    <span>
                                        <input style="width:100px" class="md-input" type="text" data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                                            md-input ng-model="estadoPagoTransicion.fecha">
                                    </span>
                                    <span class="uk-text-small uk-text-muted">Fecha</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons">format_quote</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">
                                        <input type="text" class="md-input" ng-model="estadoPagoTransicion.comentario" md-input />
                                    </span>
                                    <span class="uk-text-small uk-text-muted">Información adicional</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="uk-modal-footer  uk-text-right" style="margin-right: 40px;">
                    <button data-uk-modal="{target:'#modal_new'}" type="button" class="md-btn md-btn-flat md-btn-flat-primary" ng-click="actualizarInfoPago()">
                        <i class="material-icons">check</i> Confirmar</button>
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-modal" id="consultar_historial_sii">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Consultar documento en el SII la
                    <br/>
                    <span class="color-principal" style="display:inline">{{tipoDocumento(documentoActual.tipoDocumento)}}</span> # {{documentoActual.folio}}</h3>
            </div>
            <div class="uk-modal-body">
                <p>Este proceso podría tardar más de lo esperado, ya que se consulta directamente en el Servicio de Impuestos Internos,
                    ¿deseas continuar?</p>

            </div>
            <div class="uk-modal-footer uk-text-center">
                <button type="button" class="md-btn md-btn-flat-primary" ng-click="consultarHistorialSii(documentoActual)">Si, adelante</button>
                <button type="button" class="md-btn md-btn-flat uk-modal-close">No, en otro momento</button>
            </div>
        </div>
    </div>
    <div class="uk-modal" id="historial_sii">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">La
                    <span class="color-principal" style="display:inline">{{tipoDocumento(documentoActual.tipoDocumento)}}</span> # {{documentoActual.folio}}</h3>
                <br/>es válida en el Servicio de Impuestos Internos.
            </div>
            <div class="uk-modal-body">
                <p ng-if="!documentoActual.eventos_sii">Por otro lado, este documento no posee eventos registrados en el SII.</p>
                <p ng-if="documentoActual.eventos_sii.length>0">
                    <ul class="md-list md-list-addon">
                        <li ng-repeat="evento in documentoActual.eventos_sii">
                            <div class="md-list-addon-element">
                                <i class="md-list-addon-icon material-icons">arrow_forward_ios</i>
                            </div>
                            <div class="md-list-content">
                                <span class="md-list-heading">{{evento.descEvento}}</span>
                                <span class="uk-text-small uk-text-muted">Registrado por el rut {{evento.rutResponsable}}-{{evento.dvResponsable}}, el {{fechaEnProsa(evento.fechaEvento)}}</span>
                            </div>
                        </li>
                    </ul>
                </p>

            </div>
            <div class="uk-modal-footer uk-text-center">
                <button type="button" class="md-btn md-btn-flat uk-modal-close">Cerrar</button>
            </div>
        </div>
    </div>

<div class="uk-modal" id="consultar_fecha_sii">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Consultar Fecha de Recepción en el SII</h3>
        </div>
        <div class="uk-modal-body">
            <p>Este proceso podría tardar varios segundos, ¿desea continuar?</p>

        </div>
        <div class="uk-modal-footer uk-text-center">
            <button type="button" class="md-btn md-btn-flat-primary" ng-click="consultarFechaRecepcionSii(documentoActual)">Consultar</button>
            <button type="button" class="md-btn md-btn-flat uk-modal-close" >Cerrar</button>
        </div>
    </div>
</div>
<div class="uk-modal" id="mostrar_fecha_recepcion">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Fecha de Recepción en el SII</h3>
            </div>
            <div class="uk-modal-body uk-text-center">
               <span>{{textoRespuesta}} <br/><b>{{fechaRecepcionSii}}</b></span>
            </div>
            <div class="uk-modal-footer uk-text-center">
                <button type="button" class="md-btn md-btn-flat uk-modal-close" >Cerrar</button>
            </div>
        </div>
    </div>

    <div id="mdlEnviarDte" class="uk-modal" style="margin: 0 auto;">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title" style="color: #e4501e;">Enviar DTE por correo electrónico</h3>
            </div>
            <div class="md-card-content">
                <div class="row">
                    <form>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-2-2" style="padding: 0px 0px 30px 35px;">
                                <h3 class="heading_a"><span class="sub-heading">Los que presentan el asterisco rojo, son campos obligatorios ( <span style="color: red;"> * </span> )</span></h3>
                            </div>

                            <div class="uk-width-medium-1-1">
                                <div class="uk-form-row" style="margin-top: 36px;">
                                    <label for="contacto">Destinatario <i style="font-size: 10px">(ej: msalas@correo.com)</i><span style="color: red;"> * </span></label>
                                    <input class="md-input" type="text" id="contacto" md-input ng-model="destinatario"/>
                                </div>
                                <div class="uk-form-row" style="margin-top: 36px; margin-bottom: 10px;">
                                    <input icheck type="checkbox" id="adjuntar" ng-model="adjuntarXML" ng-true-value="'si'" ng-false-value="'no'" />
                                    <label for="checkbox_demo_4" class="inline-label">Adjuntar XML</label>
                                    <br>
                                    <input icheck type="checkbox" id="adjuntar" ng-model="adjuntarPDF" ng-true-value="'si'" ng-false-value="'no'" />
                                    <label for="checkbox_demo_4" class="inline-label">Adjuntar PDF</label>
                                    <br>
                                    <i style="font-size: 10px">(Debe seleccionar al menos uno)</i><span style="color: red;"> * </span><br>
                                    <input icheck type="checkbox" id="recibirCopia" ng-model="recibirCopia" ng-true-value="'si'" ng-false-value="'no'" />
                                    <label for="checkbox_demo_4" class="inline-label">Recibir Copia</label>
                                </div>
                            </div>

                            <div class="uk-width-medium-1-1">
                                <div class="uk-form-row">
                                    <label for="copias">Con Copia a Otros <i style="font-size: 10px">(ej: jperez@gmail.com,pjdiego@empresa.com,supervisor@mail.com)</i></label>
                                    <input class="md-input" type="text" id="montoIP" ng-model="copias" md-input />
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-medium-2-2">
                            <div class="uk-form-row" style="margin-top: 36px;">
                                <label for="mensaje">Mensaje</label>
                                <textarea cols="30" rows="2" class="md-input" ng-model="mensaje" md-input textarea-autosize maxlength="150"></textarea>
                            </div>
                        </div>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-margin-medium-top">
                                <a class="md-btn md-btn-primary md-btn-block md-btn-large" ng-if="cargando == 'si'">
                                    <span class="menu_icon" ><i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> Enviando correo</span>
                                </a>
                                <a ng-click="enviarDte()" ng-if="cargando == 'no'" ng-show="(adjuntarPDF == 'si' || adjuntarXML == 'si')" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                    <span class="menu_icon">Enviar DTE</span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
        </div>
    </div>

    <div id="mdFrmCargaHes" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>

            <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
                <div class="md-card-content large-padding uk-position-relative" id="crear_okHES" style="display: none; width: 85%; text-align: center;">
                    <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                    <h2 class="heading_b uk-text-success">Se ha asociado la Hoja de Entrega exitosamente </h2>
                    <p>{{ mensaje_okHES }}</p>
                </div>
                <div id="crear_formHES">
                    <div style="padding: 5px 0px 0px 37px;">
                        <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Asociar Hoja de Entrega de Servicios</h3>
                    </div>
                    <div style="padding: 24px 24px 30px;">
                        <div class="md-card-content">
                            <div class="">
                                <form>
                                    <div class="row">
                                        <h3 class="heading_a">Datos de Referencia</h3>
                                        <div class="uk-form-row">
                                            <label for="folioRef">Folio </label>
                                            <input class="md-input" type="text" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" id="folioRef" ng-model="adjunto.folioRef" md-input maxlength="20" />
                                        </div>
                                        <div class="uk-form-row">
                                            <label for="fechaRef">Fecha </label>
                                            <input class="md-input" type="text" id="fechaRef" md-input ng-model="adjunto.fechaRef" data-uk-datepicker="{weekstart:0, format:'YYYY-MM-DD', i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], weekdays: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa']}}" />
                                        </div>
                                        <div class="uk-form-row">
                                            <label for="razonRef">Razón </label>
                                            <input class="md-input" type="text" id="razonRef" ng-model="adjunto.razonRef" md-input maxlength="50" />
                                        </div>
                                        <br />
                                        <h3 class="heading_a">Carga de documentos ...
                                            <span class="sub-heading">El documentos que será cargado, deben ser en formato XML o PDF.</span>
                                        </h3>
                                        <div class="file-field input-field">
                                            <div class="md-btn md-btn-primary" style="width: 100%; padding: 1% 44% 1% 0%;">
                                                <input id="fileHES" type="file" multiple />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-margin-medium-top">
                                        <a ng-click="cargarHes()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                            <span class="menu_icon" ng-if="textoCargarHES != 'CARGAR DOCUMENTO'">
                                                <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                            </span>
                                            {{ textoCargarHES }}
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                </div>
            </div>
        </div>
    </div>

    <div id="mdFrmCargaRecepcionMateriales" class="uk-modal">
            <div class="uk-modal-dialog">
                <a class="uk-modal-close uk-close"></a>

                <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
                    <div class="md-card-content large-padding uk-position-relative" id="crear_okRM" style="display: none; width: 85%; margin: 0 auto;">
                        <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                        <h2 class="heading_b uk-text-success">Se ha asociado la Recepción de Materiales exitosamente</h2>
                        <p>{{ datos.mensaje_okRM }}</p>
                    </div>

                    <div id="crear_formRM">
                        <div style="padding: 5px 0px 0px 37px;">
                            <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Asociar Recepción de Materiales</h3>
                        </div>

                        <div style="padding: 24px 24px 30px;">
                            <div class="md-card-content">
                                <div class="">
                                    <form>
                                        <div class="row">
                                            <h3 class="heading_a">Datos de Referencia</h3>

                                            <div class="uk-form-row">
                                                <label for="folioRef">Folio </label>
                                                <input class="md-input" type="text" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" id="folioRef" ng-model="adjunto.folioRef" md-input maxlength="20" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="fechaRef">Fecha </label>
                                                <input class="md-input" type="text" id="fechaRef" md-input ng-model="adjunto.fechaRef" data-uk-datepicker="{weekstart:0, format:'YYYY-MM-DD', i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], weekdays: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa']}}" />
                                            </div>

                                            <div class="uk-form-row">
                                                <label for="razonRef">Razón </label>
                                                <input class="md-input" type="text" id="razonRef" ng-model="adjunto.razonRef" md-input maxlength="50" />
                                            </div>

                                            <br />

                                            <h3 class="heading_a">
                                                Carga de documentos ...
                                                <span class="sub-heading">El documentos que será cargado, deben ser en formato XML o PDF.</span>
                                            </h3>

                                            <div class="file-field input-field">
                                                <div class="md-btn md-btn-primary" style="width: 100%; padding: 1% 44% 1% 0%;">
                                                    <input id="fileRM" type="file" multiple />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="uk-margin-medium-top">
                                            <a ng-click="cargarRecepcionMateriales()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                                <span class="menu_icon" ng-if="textoCargarRM != 'CARGAR DOCUMENTO'">
                                                    <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                                </span>
                                                {{ textoCargarRM }}
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
                    </div>
                </div>
            </div>
        </div>
