<style>
    .sortorder:after {
        content: '\25b2';   // BLACK UP-POINTING TRIANGLE
    }
    .sortorder.reverse:after {
        content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
    }
</style>
<div id="page_content">
    <div class="md-card uk-margin-medium-bottom">
        <div id="page_content_inner">
            <h3 class="heading_b uk-margin-bottom">Detalle Entrega de Folios</h3>
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-search"></i></span>
                            <input
                                class="md-input"
                                type="text"
                                placeholder="Búsqueda por Cliente"
                                md-input
                                id="tipo_documento"
                                ng-model="filtroCliente"
                            >
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-search"></i></span>
                            <input
                                class="md-input"
                                type="text"
                                placeholder="Búsqueda por Sucursal"
                                md-input
                                ng-model="filtroSucursal"
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="md-card-content uk-overflow-container">
                <table class="uk-table uk-table-nowrap uk-table-hover">
                    <thead>
                    <tr>
                        <th class="uk-text-center">Cliente</th>
                        <th class="uk-text-center">Código Sucursal</th>
                        <th class="uk-text-center">
                            Fecha
                            <i
                                title="Filtrar fecha"
                                class="md-icon material-icons"
                                ng-click="sortBy('fechaEntrega')"
                            >
                                filter_list
                            </i>
                            <span
                                class="sortorder"
                                ng-show="propiedadFiltro === 'fechaEntrega'"
                                ng-class="{reverse: reverse}"
                            ></span>
                        </th>
                        <th class="uk-text-center">Inicio</th>
                        <th class="uk-text-center">Fin</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="cargandoDetalle">
                        <td colspan="14"><center><img src="ajax-loader.gif" /> Buscando Entrega de Folios...</center></td>
                    </tr>
                    <tr ng-if="cafsStoreDelivery.length == 0 && !cargandoDetalle">
                        <td colspan="14"><center>No se encontraron CAF Entregados</center></td>
                    </tr>
                    <tr ng-repeat="delivery in cafsStoreDelivery | filter:{identificador:filtroCliente} | filter:{codigo_sucursal:filtroSucursal} | orderBy:propiedadFiltro:reverse track by $index">
                        <td class="uk-text-center">{{delivery.identificador}}</td>
                        <td class="uk-text-center">{{delivery.codigo_sucursal}}</td>
                        <td class="uk-text-center">{{delivery.fechaEntrega | momentDate:'YYYY-MM-DD HH:mm:ss':'YYYY-MM-DD HH:mm:ss' }}</td>
                        <td class="uk-text-center">{{delivery.folioDesde}}</td>
                        <td class="uk-text-center">{{delivery.folioHasta}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br><br>
</div>