<div id="page_content">
    <div id="page_heading">
        <h1>Certificado Digital</h1>
        <span class="uk-text-muted uk-text-upper uk-text-small">Configuración y administración del Certificado Digital</span>
    </div>
    <div id="page_content_inner">
        <div class="uk-grid uk-container-center" data-uk-grid-margin>
            <div class="uk-width-medium-6-10 uk-push-2-10 uk-width-small-1-1">
                <div class="md-card">
                    <div class="md-card-toolbar">
                        <div ng-if="!cargando && certificado.nombre" class="md-card-toolbar-actions">
                            <i ng-if="certificado.nombre" class="md-icon material-icons" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Cargar nuevo certificado" ng-click="reset()">&#xE864;</i>
                            <!--<i class="md-icon material-icons" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Notificación de vencimiento">&#xE7F7;</i>-->
                        </div>
                        <h3 class="md-card-toolbar-heading-text">
                            CERTIFICADO
                        </h3>
                    </div>
                    <div class="md-card-content">
                        <div ng-if="cargando">
                            <img src="ajax-loader.gif"/> Verificando certificado...
                        </div>
                        <div ng-if="!cargando && !certificado.nombre">
                            <div ng-if="base64.length==0">
                                Seleccione el archivo correspondiente al Certificado Digital desde su computador<br/><br/>
                                <div class="file-field input-field">
                                    <form enctype="multipart/form-data">
                                        <input id="file" type="file" onchange="angular.element($('#file')).scope().cargarCertificado()" ng-model="nombreArchivo" accept="application/x-pkcs12"/>
                                    </form>
                                </div>
                            </div>
                            <div ng-if="base64.length>0 && !subiendo">
                                <form class="uk-form">
                                    
                                    <div class="uk-form-password">
                                        Ingrese la contraseña del certificado: <input ng-model="clave.dato" type="password">  <a ng-click="subir()" class="md-btn md-btn-primary">Instalar certificado</a>
                                    </div>
                                </form>
                                <hr/>
                                <span style="cursor:pointer" ng-click="reset()">Desea cambiar el archivo seleccionado por otro?</span>
                            </div>
                            <div ng-show="subiendo">
                                <img src="/ajax-loader.gif"> Instalando certificado, espere un momento porfavor.
                            </div>

                        </div>
                        <div ng-if="!cargando && certificado.nombre">
                            <div class="uk-grid" style="position: relative;">
                                <div class="uk-width-medium-1-2" style="padding-top: 20px;font-size: 120%;text-indent: 3;color: #999">
                                    <div>
                                        <span style="font-size: 120%;color: #333"><b>Nombre      :</b> {{certificado.nombre}}</span><br/>
                                        <span><b>Rut         :</b> {{certificado.rut}}</span><br/>
                                        <span><b>Cargado     :</b> {{certificado.cargado}}</span><br/>
                                        <span><b>Vencimiento :</b> {{certificado.vencimiento}}</span><br/> 
                                        <span><b>Hash :</b> {{certificado.hash}}</span>
                                        <br/><br/>
                                        <span ng-if="quedan<30 && quedan>0" style="color:red;font-size: 80%">Quedan {{quedan}} días de validez. Actualice su certificado lo antes posible.<i style="color: red;font-size:150%" class="material-icons">&#xE000;</i></span>
                                        <span ng-if="quedan>=30" style="color:#000;font-size: 80%">Quedan {{quedan}} días de validez. <i style="color: green" class="material-icons">&#xE86C;</i></span>
                                        <span ng-if="quedan<=0" style="color:red;font-size: 80%">Su certificado está caducado, debe ser actualizado de forma inmediata.<i style="color: red;font-size:150%" class="material-icons">&#xE000;</i></span>
                                    </div>
                                </div>
                                <div class="uk-width-small-1-2">
                                    <div style="background-image:url('/badge.png');background-size: 110px; width:110px;height: 150px;position: absolute;top:0;right: 10px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-card-content" ng-if="certificado.rut=='14172951-9'">
                        <span ng-if="certificado.rut=='14172951-9'" style="color:orange;font-size: 80%;"><br/><hr/>Atención! El certificado actualmente en uso corresponde a un certificado "por defecto" utilizado cuando el de su empresa no ha sido configurado o ha caducado, con el fin de que pueda seguir operando.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>