<div class="uk-modal-dialog">
    <div class="uk-modal-header">
        <h3 class="uk-modal-title">Enviar Póliza
        </h3>
    </div>
    <div class="md-card-content">
        <div class="row">
            <form>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-2-2" style="padding: 0px 0px 30px 35px;">
                        <h3 class="heading_a"><span class="sub-heading">Los que presentan el asterisco rojo, son campos obligatorios ( <span
                                style="color: red;"> * </span> )</span></h3>
                    </div>

                    <div class="uk-width-medium-1-1 uk-margin-top">
                        <div class="uk-form-row" style="margin-top: 36px;">
                            <label for="contacto">Destinatario <i style="font-size: 10px">(ej:
                                msalas@correo.com)</i><span style="color: red;"> * </span></label>
                            <input class="md-input" type="text" id="contacto" md-input ng-model="destinatario"/>
                        </div>
                    </div>

                    <div class="uk-width-medium-1-1 uk-margin-top">
                        <div class="uk-form-row">
                            <label for="copias">Con Copia a Otros <i style="font-size: 10px">(ej:
                                jperez@gmail.com,pjdiego@empresa.com,supervisor@mail.com)</i></label>
                            <input class="md-input" type="text" id="montoIP" ng-model="copias" md-input/>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-2-2 uk-margin-top">
                    <div class="uk-form-row" style="margin-top: 36px;">
                        <label for="mensaje">Mensaje</label>
                        <textarea cols="30" rows="2" class="md-input" ng-model="mensaje" md-input textarea-autosize
                                  maxlength="150"></textarea>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-margin-medium-top">
                        <a ng-click="enviar(mensaje,copias,destinatario)"  class="md-btn md-btn-primary md-btn-block md-btn-large">
                            <span class="menu_icon">Enviar Boleta</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope"/>
</div>