<div class="uk-modal-dialog" style="width:80%">
    <div class="uk-modal-header">
        <h3 class="uk-modal-title">{{inserar?'Agregar':'Renovar'}} Póliza
        </h3>
    </div>
    <div class="md-card-content">
        <div class="row">
            <form>
                <div class="uk-grid uk-grid-small" style="border-bottom: dashed 1px orange;padding-bottom:15px;">
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Nº Proyecto</label>
                        <selectize class="md-input" config="selectize_config_proyecto" options='proyectosOptions'
                                   ng-model="renovacion.proyectoId"
                        />
                    </div>
                    <div class="uk-width-medium-1-10 uk-margin-top">
                        <label>Número de Póliza</label>
                        <input type="text" class="md-input" md-input md-input ng-model="renovacion.numeroPoliza"/>
                    </div>
                    <div class="uk-width-1-10 uk-margin-top">
                        <label>Emisión</label>
                        <input class="md-input" type="text"
                               data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                               md-input
                               ng-model="renovacion.fechaEmision">
                    </div>
                    <div class="uk-width-1-10 uk-margin-top">
                        <label>Vencimiento</label>
                        <input class="md-input" type="text"
                               data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                               md-input
                               ng-model="renovacion.fechaVencimiento">
                    </div>
                    <div class="uk-width-1-10 uk-margin-top">
                        <label>Vencimiento Efectivo</label>
                        <input class="md-input" type="text"
                               data-uk-datepicker="{format:'YYYY-MM-DD',i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],weekdays:['Dom','Lun','Mar','Mie','Jue','Vie','Sab','Dom']}}"
                               md-input
                               ng-model="renovacion.fechaVencimientoEfectivo">
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Monto</label>
                        <input type="text" class="md-input" md-input md-input ng-model="renovacion.monto"
                               validar="soloNumeros"/>
                    </div>
                    <div class="uk-width-medium-1-10 uk-margin-top">
                        <label>Moneda</label>
                        <selectize class="md-input" config="selectize_config_id_title" options='monedasOptions'
                                   ng-model="renovacion.moneda"
                        />
                    </div>
                    <div class="uk-width-medium-1-10 uk-margin-top">
                        <label>Endoso</label>
                        <input type="checkbox" name="checkbox_demo_1" id="checkbox_demo_1" icheck
                               ng-model="renovacion.endoso"/>
                    </div>
                    <div class="uk-width-medium-3-10 uk-margin-top">
                        <label>Concepto</label>
                        <input type="text" class="md-input" md-input md-input ng-model="renovacion.concepto"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Aseguradora</label>
                        <input type="text" class="md-input" md-input md-input ng-model="renovacion.aseguradora"/>
                    </div>

                    <!-- fila 2 -->
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Nombre Tomador</label>
                        <input type="text" class="md-input" md-input md-input
                               ng-model="renovacion.usuarioTomadorNombre"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Correo Tomador</label>
                        <input type="text" class="md-input" md-input md-input
                               ng-model="renovacion.usuarioTomadorCorreo"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Nombre Responsable</label>
                        <input type="text" class="md-input" md-input md-input
                               ng-model="renovacion.usuarioResponsableNombre"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <label>Correo Responsable</label>
                        <input type="text" class="md-input" md-input md-input
                               ng-model="renovacion.usuarioResponsableCorreo"/>
                    </div>
                    <div class="uk-width-medium-2-10 uk-margin-top">
                        <div class="uk-form-file md-btn md-btn-primary" especial="{{renovacion.polizaId}}">
                            <i class="material-icons no_margin">attachment</i>Adjuntar archivo
                            <upload-automaticos title="Adjuntar archivo" objeto="renovacion.adjuntos"
                                                identificador="{{'garantia-'+poliza.polizaId}}"
                                                icon="cloud_upload" estilo='font-size:30px'
                                                url="febos-io/chile/{{ambiente}}/archivos-subidos/portafolio/poliza/">
                            </upload-automaticos>
                        </div>

                    </div>
                </div>

                <div class="md-card-content uk-grid uk-grid-small">
                    <div class="uk-width-small-1-1 uk-width-medium-1-3 uk-width-large-1-4 uk-margin-top"
                         data-uk-grid-match="{target:'.uk-panel'}"
                         ng-repeat="adjunto in renovacion.adjuntos | filter:adjuntoContratoFiltro(poliza.verOcultos)"
                         ng-init="poliza.adjuntos = poliza.adjuntos||[]">
                        <div class="uk-width-large-1-1 uk-panel uk-panel-box">
                            <ul class="md-list md-list-addon" style="word-break: break-all;">
                                <li style="cursor: pointer"
                                    title="{{adjunto.adjuntoNombre}}" data-uk-tooltip="{cls:'long-text'}">
                                    <div class="md-list-addon-element"
                                         ng-if="adjunto.adjuntoEstado == undefined">
                                        <i class="md-list-addon-icon material-icons">attach_file</i>
                                    </div>
                                    <div class="md-list-addon-element"
                                         ng-if="adjunto.adjuntoEstado != undefined">
                                        <i class="md-list-addon-icon material-icons"
                                           ng-if="adjunto.adjuntoEstado == 2">attach_file</i>
                                        <md-preloader
                                                ng-if="adjunto.adjuntoEstado == 0 || adjunto.adjuntoEstado == 1"></md-preloader>
                                        <i class="md-list-addon-icon material-icons uk-icon-spin"
                                           ng-if="adjunto.adjuntoEstado == 3">error</i>
                                    </div>

                                    <div class="md-list-content">
                                        <span adjunto-descargar path="{{adjunto.adjuntoUrl}}" nombre="{{adjunto.adjuntoNombre}}">{{adjunto.adjuntoNombre|limitTo:20}}</span>
                                        <span adjunto-descargar path="{{adjunto.adjuntoUrl}}" nombre="{{adjunto.adjuntoNombre}}"
                                              class="uk-text-small uk-text-muted">{{obtenerFechaAdjunto(adjunto)}}</span>
                                        <span class="md-list-heading"
                                              style="float: right;position: absolute;right: 0px;bottom: 0px;">
                                                    <i ng-if="adjunto.estado == undefined || adjunto.estado == 0 || adjunto.estado == 1"
                                                       class="material-icons" ng-click="adjunto.estado= 100">
                                                        visibility_off
                                                    </i>
                                                    <i ng-if="adjunto.estado == 100" class="material-icons"
                                                       ng-click="adjunto.estado= 1" style="color: #23da15;">
                                                        visibility
                                                    </i>
                                                </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-margin-medium-top">
                        <a ng-click="renovarPoliza(renovacion)" class="md-btn md-btn-primary md-btn-block md-btn-large">
                            <span class="menu_icon">{{inserar?'Agregar':'Renovar'}}  Poliza</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;z-index:-1"
         class="ng-scope"/>
</div>