<div id="page_content">
    <div id="page_content_inner">
        <h4 class="heading_a uk-margin-bottom">Configurar Plantilla de documentos</h4>
        <form action="" class="uk-form-stacked" id="page_settings">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-large-1-2 uk-width-medium-1-1">
                    <div class="md-card">
                        <div class="md-card-content">
                            <ul class="md-list">
                                <li ng-repeat="tipo in tipos | filter:buscar">
                                    <div class="md-list-content" ng-click="configurarTipo(tipo)">
                                        <div class="uk-float-left" ng-if='esActual(tipo) '>
                                            <a class="md-list-content" ng-click="configurarTipo(tipo)">
                                                <i class="material-icons">&#xE163;</i>&nbsp;
                                            </a>
                                        </div>
                                        <span class="md-list-heading">{{tipo.tipo}} --  {{tipo.desc}}</span>
                                        <!--<span class="uk-text-muted uk-text-small">&nbsp;</span>-->
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Configuracion tipo documento actual-->
                <div class="uk-width-large-1-2 uk-width-medium-1-2">
                    <div ng-if="actual != undefined && cargando == false" class="md-card">
                        <div class="user_heading" data-uk-sticky="{ top: 48, media: 960 }">
                            <div class="user_heading_content">
                                <h2 class="heading_b">
                                    <span class="sub-heading"
                                          id="user_edit_position">({{actual.tipo}})  {{actual.desc}}</span>
                                </h2>
                            </div>
                            <div class="md-fab-wrapper">
                                <div class="md-fab md-fab-toolbar md-fab-small md-fab-accent md-fab-active md-open" open="true" md-fab-toolbar>
                                    <i class="material-icons">&#xE8BE;</i>
                                    <div class="md-fab-toolbar-actions  md-fab-active">
                                        <button ng-click="guardar()" id="user_edit_save"
                                                data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Guardar" ng-if="!guardando"><i
                                                class="material-icons md-color-white">&#xE161;</i></button>
                                        <button id="user_edit_save"
                                                data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Guardando" ng-if="guardando==true"><i
                                                class="uk-icon-spinner uk-icon-medium uk-icon-spin md-color-white"></i></button>
                                        <button ng-click="probar(actual.cuerpo)" id="user_edit_save"
                                                data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Probar Cuerpo" ng-if="!guardando"><i
                                                class="material-icons md-color-white">play_arrow</i></button>
                                     <!--   <button ng-click="probar(actual.cuerpoCedible)" id="user_edit_save"
                                                data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Probar Cuerpo Cedible " ng-if="!guardando"><i
                                                class="material-icons md-color-white">play_arrow</i></button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user_content">
                            <ul class="md-list">
                                <li>
                                    <div class="md-list-content">
                                        <div class="uk-float-right">
                                            <div class="uk-form-file md-btn md-btn-primary">
                                                <i class="material-icons no_margin">attachment</i>Cargar Nuevo Cuerpo
                                                <input type="file" upload-automatico objeto="actual.upcuerpo" path="actual.cuerpo"
                                                       identificador="{{revicion}}-cuerpo" progrespercent="actual.cuerpoprogrespercentstyle" inproces="actual.cuerpoprocesando"
                                                       url="febos-io/chile/{{ambiente}}/empresas/{{empresa}}/layouts/{{actual.tipo}}/">
                                            </div>
                                        </div>
                                        <span class="md-list-heading">Cuerpo</span>
                                        <a ng-if="actual.cuerpo" class="md-btn md-btn-flat md-btn-flat-primary"
                                           ng-click="descargarDocumentoS3(actual.cuerpo)">Descargar Cuerpo de plantilla</a>
                                        <a ng-if="!actual.cuerpo" class="md-btn md-btn-flat md-btn-flat-primary"
                                        >--</a>
                                        <span class="uk-text-muted uk-text-small">Cuerpo que se usara al momento de generar un documento</span>
                                        <div class="uk-width-10-10" ng-if="actual.cuerpoprocesando == true">
                                            cargando
                                            <div class="uk-progress uk-progress-mini uk-progress-warning uk-margin-remove">
                                                <div class="uk-progress-bar" style="width: 0%;" ng-style="actual.cuerpoprogrespercentstyle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!--<li>
                                    <div class="md-list-content">
                                        <div class="uk-float-right">
                                            <div class="uk-form-file md-btn md-btn-primary">
                                                <i class="material-icons no_margin">attachment</i>Cargar Nuevo Cuerpo
                                                <input type="file" upload-automatico objeto="actual.upcuerpoCedible" path="actual.cuerpoCedible"
                                                       identificador="{{revicion}}-cuerpo-cedible" progrespercent="actual.cuerpoprogrespercentstyle"
                                                       inproces="actual.cuerpoprocesandoCedible"
                                                       url="febos-io/chile/{{ambiente}}/empresas/{{empresa}}/layouts/{{actual.tipo}}/">
                                            </div>
                                        </div>
                                        <span class="md-list-heading">Cuerpo Cedible</span>
                                        <a ng-if="actual.cedible" class="md-btn md-btn-flat md-btn-flat-primary"
                                           ng-click="descargarDocumentoS3(actual.cedible)">Descargar Cuerpo de plantilla</a>
                                        <a ng-if="!actual.cuerpo" class="md-btn md-btn-flat md-btn-flat-primary">&#45;&#45;</a>
                                        <span class="uk-text-muted uk-text-small">Cuerpo que se usara al momento de generar un documento</span>
                                        <div class="uk-width-10-10" ng-if="actual.cuerpoprocesandoCedible == true">
                                            cargando
                                            <div class="uk-progress uk-progress-mini uk-progress-warning uk-margin-remove">
                                                <div class="uk-progress-bar" style="width: 0%;" ng-style="actual.cuerpoprogrespercentstyle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>-->
                            </ul>
                        </div>

                    </div>
                    <div ng-if="actual != undefined && cargando == true" class="md-card">
                        <div class="md-card-content">

                            <md-preloader></md-preloader>
                            CARGANDO CONFIGURACIONES
                        </div>
                    </div>
                    <div ng-if="!actual" class="md-card">
                        <div class="md-card-content">
                            <h3 class="full_width_in_card heading_a">Seleccione tipo de documento sobre el cual desea
                                trabajar</h3>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="configuracion_probar" class="uk-modal">
    <div ng-include="'app/febos/configuraciones/template/documentos/modal/probar.html'"
         include-replace></div>
</div>