<style>
    .js-modal-confirm{
        background: #ff7663 !important;
    }
</style>
<div id="page_content">
    <div id="page_heading">
        <h1>Integraciones</h1>
        <span class="uk-text-muted uk-text-upper uk-text-small">Tokens para integraciones y sesiones activas</span>
    </div>
    <div id="page_content_inner">
        <h3 class="heading_b uk-margin-bottom">Tokens de acceso para integración asociados a esta cuenta</h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-nowrap uk-table-hover">
                        <thead>
                            <tr>
                                <th class="uk-width-2-10 uk-text-center">Nombre</th>
                                <th class="uk-width-2-10 uk-text-center">Token</th>
                                <th class="uk-width-2-10 uk-text-center">Fecha de activación</th>
                                <th class="uk-width-2-10 uk-text-center">IP Último acceso</th>
                                <th class="uk-width-2-10 uk-text-center">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-if="cargando">
                                <td colspan="5"><center><img src="ajax-loader.gif"> Buscando tokens ...</center></td>
                        </tr>

                        <tr ng-if="!cargando && tokens.length == 0">
                            <td colspan="5"><center>Esta cuenta no posee tokens de integración</center></td>
                        </tr>

                        <tr ng-repeat="token in tokens track by $index" id="{{ token.token }}">
                            <td class="uk-text-center">
                                <span ng-if="token.actualizando"><img src='ajax-loader.gif' /> Actualizando</span>
                                <span ng-if="!token.actualizando">{{token.alias}}</span>
                            </td>
                            <td class="uk-text-center">{{token.token.substr(0,10)+"·············"}}</td>
                            <td class="uk-text-center">{{token.creado}}</td>
                            <td class="uk-text-center">{{token.ip}}</td>
                                
                            <td style="font-size: 10px;" class="uk-text-center">
                                <i style="font-size: 15px;cursor: pointer; vertical-align: middle; color: #00193A" class="uk-icon-edit uk-icon-medium" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" ng-click="editar(token.token,token.alias)" title="Editar"></i>
                                <i style="font-size: 15px;cursor: pointer; vertical-align: middle; color: #00193A" class="uk-icon-eye uk-icon-medium" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" ng-click="ver(token.token)" title="Ver Token"></i>
                                <i data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Eliminando..." ng-if="token.eliminando"><img src="ajax-loader.gif" /></i>
                                <i ng-if="!token.eliminando" style="font-size: 15px;cursor: pointer; vertical-align: middle; color: #e53935" class="uk-icon-remove uk-icon-medium" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Eliminar Token" ng-click="eliminar(token.token,token.alias,true)"></i>
                            </td>
                        </tr>
                        <tr ng-if="creandoToken">
                            <td colspan="5"><center><img src="ajax-loader.gif" /> Creando nuevo token</center></td>
                        </tr>
                        <tr ng-if="token.length >= 1">
                            <td colspan="5" style="height: 200px;">&nbsp</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        
        <h3 class="heading_b uk-margin-bottom">Sesiones activas</h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-nowrap uk-table-hover">
                        <thead>
                            <tr>
                                <th class="uk-width-2-10 uk-text-center">Fecha y hora de ingreso</th>
                                <th class="uk-width-2-10 uk-text-center">IP</th>
                                <th class="uk-width-2-10 uk-text-center">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-if="cargando">
                                <td colspan="3"><center><img src="ajax-loader.gif"> Buscando sesiones activas ...</center></td>
                        </tr>

                        <tr ng-if="!cargando && sesiones.length == 0">
                            <td colspan="3"><center>Esta cuenta no tiene sesiones activas</center></td>
                        </tr>

                        <tr ng-repeat="sesion in sesiones track by $index" id="{{ sesion.token }}">
                            <td class="uk-text-center">
                                <span  ng-if="sesion.token==currentToken" class="uk-badge uk-badge-primary" style="background: green;font-size:100%" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Sesión actual" > {{sesion.creado.split(".")[0]}} </span>
                                <span ng-if="sesion.token!=currentToken">{{sesion.creado.split(".")[0]}}</span>
                                
                            </td>
                            <td class="uk-text-center">{{sesion.ip}}</td>
                            <td style="font-size: 10px;" class="uk-text-center">
                               <i data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Cerrando sesión..." ng-if="sesion.eliminando"><img src="ajax-loader.gif" /></i>
                               <i ng-if="!sesion.eliminando && sesion.token!=currentToken" style="font-size: 15px;cursor: pointer; vertical-align: middle; color: #e53935" class="uk-icon-remove uk-icon-medium" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Cerrar sesión remota" ng-click="eliminar(sesion.token)"></i>
                               <i ng-if="!sesion.eliminando && sesion.token==currentToken" style="font-size: 15px;cursor: pointer; vertical-align: middle; color: gray" class="uk-icon-remove uk-icon-medium" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Imposible cerrar sesión" ></i>
                            </td>
                        </tr>

                        <tr ng-if="token.length >= 1">
                            <td colspan="9" style="height: 200px;">&nbsp</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="uk-modal" id="modal_token">
    <div class="uk-modal-dialog">
        
        <p class="mifuente">{{idtoken}}</p>
        <div class="uk-modal-footer uk-text-center">
            <button type="button" class="md-btn md-btn-flat uk-modal-close">Cerrar</button>
        </div>
    </div>
</div>

<div class="md-fab-wrapper md-fab-speed-dial" style="right:100px">
    <a class="md-fab md-fab-danger" href="javascript:void(0)" ng-click="nuevo()" data-uk-tooltip="{pos:'right'}" title="Nuevo Token de Integración"><i class="material-icons">add</i></a>
</div>

<style>

@media (max-width: 414px) {
    .mifuente {
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    .mifuente {
        font-size: 8px;
    }
}
</style>