<div id="mdlAgregarNoticia" class="uk-modal">
  <form name="form" novalidate>
    <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body" style="width: 80%;">
      <a class="uk-modal-close uk-close"></a>
      <div class="uk-modal-header">
        <h3 class="uk-modal-title" style="color: #e4501e;">Agregar Noticia</h3>
      </div>
      <div class="uk-margin uk-grid-small uk-child-width-auto">
        <div class="uk-grid" data-uk-grid-margin>
          <div class="uk-width-medium-1-2">
            <div class="uk-input-group">
              <span class="uk-input-group-addon"><i class="material-icons">person_pin</i></span>
              <span class="uk-input-group-addon">Para</span>
              <input class="md-input" type="text"  config="$parent.configSelect" options="$parent.noticia.listadoPara" position="bottom" ng-model="$parent.noticia.para" selectize />
            </div>
          </div>
          <div class="uk-width-medium-1-2">
            <div class="uk-input-group">
              <span class="uk-input-group-addon"><i class="material-icons">&#xE8B0;</i></span>
              <span class="uk-input-group-addon">Titulo</span>
              <input add-on-space="true" class="md-input" ng-model="$parent.noticia.titulo" ></input>
            </div>
          </div>
        </div>
        <div id="page_content_inner">
          <div ckeditor="$parent.ckeditor_options" ng-model="$parent.noticia.texto" ready="ckeditor_onReady()"></div>
        </div>
        <div class="uk-width-medium-1-1 uk-margin-medium-top">
          <center>
            <a ng-click="$parent.modalCerrarAgregarNoticia()" class="md-btn md-btn-default md-btn-block" style="width: 200px;margin-top: 12px;">
              Cerrar 
            </a>
            <a ng-click="$parent.modalCrearNoticia()" class="md-btn md-btn-primary md-btn-block" style="width: 200px">
              <i ng-if="$parent.creandoNoticia" style="font-size: 20px; vertical-align: middle; color:white" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> {{ $parent.creandoNoticia?'':'Crear' }}
            </a>
          </Center>
        </div>
        <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%; z-index: 10;" class="ng-scope" />
      </div>
    </form>
  </div>  
