<style>
    .diff{
        color:red!important;
        font-size: 110%!important;
        word-wrap: break-word!important;
    }
</style>
<div id="mdlChangelog" class="uk-modal">
    <form name="form" novalidate>
        <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body" style="width: 80%;">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">
                <h3 class="uk-modal-title" style="color: #e4501e;font-size:26px;">Actualización: v{{appVer}}</h3>
            </div>
            <div class="uk-margin uk-grid-small uk-child-width-auto">
                <div id="html" ng-bind-html="changelog"></div>



                <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%; z-index: 10;" class="ng-scope" />
            </div>
    </form>
</div>
