<style>
    .md-list li:hover{
        cursor:pointer;
        border-right: solid 10px #ff6f1d;
        margin-left: 45px;
    }
    .countUpMe{
        position: absolute;z-index: 999;text-align: center;width: 100%;left: 0;
    }

    .blue-info {
        background-color: #03a9f4;
        color: white;
        text-align: center;
        border-radius: 5px;
        padding: 15px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.23);
    }

    .purple-info {
        background-color: #883696;
        color: white;
        text-align: center;
        border-radius: 5px;
        padding: 15px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.23);
    }

    .green-info {
        background-color: #00cc66;
        color: white;
        text-align: center;
        border-radius: 5px;
        padding: 15px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.23);
    }

    .orange-info {
        background-color: #ff8000;
        color: white;
        text-align: center;
        border-radius: 5px;
        padding: 15px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.23);
    }

    .red-info {
        background-color: #cc0000;
        color: white;
        text-align: center;
        border-radius: 5px;
        padding: 15px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.23);
    }

    .gray-info {
        background-color: #606060;
        color: white;
        text-align: center;
        border-radius: 5px;
        padding: 15px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.23);
    }

    .margin-card {
        margin-bottom: 20px;
    }

    .icon-info-wrapper {
        padding: 6px;
    }

    .icon-info {
        font-size: 30px;
        color: #fafafa96;
        text-shadow: 0 2px 8px rgba(0, 0, 0, 0.23);
    }

    .info {
        margin: 0;
        color: white;
        padding: 10px;
        text-shadow: 0 2px 8px rgba(0, 0, 0, 0.23);
    }

    .info-name {
        text-transform: uppercase;
        text-shadow: 0 2px 8px rgba(0, 0, 0, 0.23);
    }

    .epc_chart_text .material-icons{
        position: absolute;top: 30px;font-size: 90px;left: 30px;color: #eee;z-index: 1;
    }
    .noticia{
        border-bottom: dashed 1px #ccc;
        margin-bottom:10px;
        padding-bottom:10px;
        display:block;
    }
    .noticia:hover{
        border-right:solid 5px #ff6f1d;
        cursor:pointer;
        margin-left:-10px;
    }
    .noticia:last-child{
        border-bottom: none;
    }
</style>
<div id="page_content">
    <div id="page_content_inner">
        <div id="page_heading">
            <h1>{{ tipoSaludo}}!</h1>
            <span class="uk-text-muted uk-text-upper uk-text-small">Bienvenid@ a Febos</span>
        </div>
        <div class="uk-grid" style="margin-left: 0px">
            <div id="Dashboard_inicio" class="md-card uk-width-1-1" style="padding-left: 0;">
                <div class="md-card-content small-padding" style="padding-top: 20px;">
                    <div class="blog_list_teaser">
                        <div ng-if="app === 'cloud'">
                            <h2 style="display: block;">Documentos Tributarios Emitidos</h2>
                            <div class="uk-grid">
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses según el SII">
                                    <div class="uk-panel blue-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">library_books</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.emitidos.emitidos.total}}</h1>
                                        <div class="info-name uk-text-truncate">Emitidos</div>
                                    </div>
                                </div>
                                <div
                                    class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"
                                    data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                    title="Aceptados/Con reparo SII - Ultimos 3 meses"
                                >
                                    <div class="uk-panel green-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE877;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.emitidos.aceptados_sii.total}}</h1>
                                        <div class="info-name uk-text-truncate">Aceptados SII</div>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses según el SII">
                                    <div class="uk-panel red-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE5C9;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.emitidos.rechazados_sii.total}}</h1>
                                        <div class="info-name uk-text-truncate">rechazados sii</div>
                                    </div>
                                </div>
                                <div
                                    class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"
                                    data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                    title="Aceptados Clientes - Ultimos 3 meses"
                                >
                                    <div class="uk-panel green-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE877;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.emitidos.aceptados_cliente.total}}</h1>
                                        <div class="info-name uk-text-truncate">Aceptados clientes</div>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses según el SII">
                                    <div class="uk-panel red-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE5C9;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.emitidos.rechazados.total}}</h1>
                                        <div class="info-name uk-text-truncate">reclamados clientes</div>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses según el SII">
                                    <div class="uk-panel gray-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE8B2;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.emitidos.sin_respuesta_cliente.total}}</h1>
                                        <div class="info-name uk-text-truncate">sin respuesta cliente</div>
                                    </div>
                                </div>
                            </div>
                            <h2 style="display: block; margin-top: 0;">Documentos Tributarios Recibidos</h2>
                            <div class="uk-grid">
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses según el SII">
                                    <div class="uk-panel blue-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE884;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.recibidos.recibidos.total}}</h1>
                                        <div class="info-name">recibidos</div>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses según el SII">
                                    <div class="uk-panel purple-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE8AE;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.recibidos.sin_accion.total}}</h1>
                                        <div class="info-name">sin acción</div>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses según el SII">
                                    <div class="uk-panel green-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE877;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.recibidos.aceptados.total}}</h1>
                                        <div class="info-name">aceptados</div>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses según el SII">
                                    <div class="uk-panel orange-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE925;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.recibidos.pre_rechazados.total}}</h1>
                                        <div class="info-name uk-text-truncate">pre-rechazados</div>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses según el SII">
                                    <div class="uk-panel red-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE5C9;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.recibidos.rechazados.total}}</h1>
                                        <div class="info-name uk-text-truncate">rechazados</div>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses según el SII">
                                    <div class="uk-panel gray-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE8B2;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.recibidos.no_recibidos.total}}</h1>
                                        <div class="info-name uk-text-truncate">no recibidos</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="app === 'proveedores'">
                            <h2 style="display: block;">Documentos Tributarios Emitidos</h2>
                            <div class="uk-grid">
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses según el SII">
                                    <div class="uk-panel blue-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">library_books</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.emitidos.emitidos.total}}</h1>
                                        <div class="info-name uk-text-truncate">Emitidos</div>
                                    </div>
                                </div>
                                <div
                                    class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"
                                    data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                    title="No entregados - Ultimos 3 meses"
                                >
                                    <div class="uk-panel orange-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE877;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumenP.dte_incompletos.total}}</h1>
                                        <div class="info-name uk-text-truncate">No Entregados</div>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses">
                                    <div class="uk-panel gray-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE8B2;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.emitidos.sin_respuesta_cliente.total}}</h1>
                                        <div class="info-name uk-text-truncate">sin respuesta cliente</div>
                                    </div>
                                </div>
                                <div
                                    class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"
                                    data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                    title="Aceptados Clientes - Ultimos 3 meses"
                                >
                                    <div class="uk-panel green-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE877;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.emitidos.aceptados_cliente.total}}</h1>
                                        <div class="info-name uk-text-truncate">Aceptados cliente</div>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses">
                                    <div class="uk-panel red-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE5C9;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.emitidos.rechazados.total}}</h1>
                                        <div class="info-name uk-text-truncate">rechazados</div>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Documentos que me ha pagado este cliente">
                                    <div class="uk-panel purple-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE5C9;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumenP.dte_pagados.total}}</h1>
                                        <div class="info-name uk-text-truncate">Pagados</div>
                                    </div>
                                </div>
                                <!--
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses según el SII">
                                    <div class="uk-panel red-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE5C9;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.emitidos.rechazados_sii.total}}</h1>
                                        <div class="info-name uk-text-truncate">rechazados sii</div>
                                    </div>
                                </div>
                                -->
                            </div>
                            <h2 style="display: block; margin-top: 0;">Documentos No Tributarios Recibidos</h2>
                            <div class="uk-grid">
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-3 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Ordenes de compra">
                                    <div class="uk-panel green-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">library_books</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumenP.oc_recibidos.total}}</h1>
                                        <div class="info-name">oc recibidas</div>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-3 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Hojas de entrada de servicios">
                                    <div class="uk-panel green-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE877;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumenP.hes_recibidos.total}}</h1>
                                        <div class="info-name">hes recibidas</div>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-3 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Hojas de entrada de materiales">
                                    <div class="uk-panel green-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE5C9;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumenP.hem_recibidos.total}}</h1>
                                        <div class="info-name">hem recibidas</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="app === 'cliente'">
                            <h2 style="display: block; margin-top:g 0;">Documentos Tributarios Recibidos</h2>
                            <div class="uk-grid">
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses según el SII">
                                    <div class="uk-panel blue-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE884;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.recibidos.recibidos.total}}</h1>
                                        <div class="info-name">recibidos</div>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses según el SII">
                                    <div class="uk-panel purple-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE8AE;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.recibidos.sin_accion.total}}</h1>
                                        <div class="info-name">sin acción</div>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses según el SII">
                                    <div class="uk-panel green-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE877;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.recibidos.aceptados.total}}</h1>
                                        <div class="info-name">aceptados</div>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses según el SII">
                                    <div class="uk-panel orange-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE925;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.recibidos.pre_rechazados.total}}</h1>
                                        <div class="info-name uk-text-truncate">pre-rechazados</div>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses según el SII">
                                    <div class="uk-panel red-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE5C9;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.recibidos.rechazados.total}}</h1>
                                        <div class="info-name uk-text-truncate">rechazados</div>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-2 uk-width-medium-1-3 uk-width-large-1-6 margin-card"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses según el SII">
                                    <div class="uk-panel gray-info">
                                        <div class="uk-panel-badge icon-info-wrapper">
                                            <i class="material-icons icon-info">&#xE8B2;</i>
                                        </div>
                                        <h1 class="info">{{indicadoresResumen.recibidos.no_recibidos.total}}</h1>
                                        <div class="info-name uk-text-truncate">no recibidos</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="uk-grid" ng-if="app == 'cliente'">
                            <div class="uk-width-small-1-1 uk-width-medium-1-3 uk-width-large-1-6"  data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses según el SII" >
                                <center>
                                    <div class="epc_chart" easypiechart options="dialAzul" percent="indicadoresResumen.recibidos.porCiento" style="max-width:150px;margin-bottom:10px">
                                        <span class="epc_chart_text">
                                            <span class="countUpMe">{{indicadoresResumen.recibidos.total}}</span>
                                            <i class="material-icons">&#xE884;</i>
                                        </span>
                                    </div>
                                    <span class="uk-text-upper uk-text-muted">Recibidos</span>
                                </center>
                            </div>
                            <div class="uk-width-small-1-1 uk-width-medium-1-3 uk-width-large-1-6" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses">
                                <center>
                                    <div class="epc_chart" easypiechart options="dialVerde" percent="indicadoresResumen.aceptados.porCiento" style="max-width:150px;margin-bottom:10px">
                                        <span class="epc_chart_text">
                                            <span class="countUpMe">{{indicadoresResumen.aceptados.total}}</span>
                                            <i class="material-icons">&#xE877;</i>
                                        </span>
                                    </div>
                                    <span class="uk-text-upper uk-text-muted">Aceptados</span>
                                </center>
                            </div>
                            <div class="uk-width-small-1-1 uk-width-medium-1-3 uk-width-large-1-6" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Últimos 3 meses">
                                <center>
                                    <div class="epc_chart" easypiechart options="dialRojo" percent="indicadoresResumen.rechazados.porCiento" style="max-width:150px;margin-bottom:10px">
                                        <span class="epc_chart_text">
                                            <span class="countUpMe">{{indicadoresResumen.rechazados.total}}</span>
                                            <i class="material-icons">&#xE5C9;</i>
                                        </span>
                                    </div>
                                    <span class="uk-text-upper uk-text-muted">Rechazados</span>
                                </center>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>

            <div class="md-card uk-width-small-1-1 uk-width-medium-3-5">
                <div class="md-card-content small-padding" style="padding-top: 20px;">
                    <div class="blog_list_teaser">
                        <h2 class="blog_list_teaser_title uk-text-truncate">Indicadores Económicos</h2>
                        <p>
                        <table width="100%" class="uk-table">
                            <tr>
                                <td><b>UF:</b> $ {{(indicadores.uf.valor + "").replace(".", ",")}}</td>
                                <td><b>UTM:</b> $ {{(indicadores.utm.valor + "").replace(".", ",")}}</td>
                            </tr>
                            <tr>
                                <td><b>Dolar:</b> $ {{(indicadores.dolar.valor + "").replace(".", ",")}}</td>
                                <td><b>Euro:</b> $ {{(indicadores.euro.valor + "").replace(".", ",")}}</td>
                            </tr>
                            <tr>
                                <td><b>IPC:</b> {{(indicadores.ipc.valor + "").replace(".", ",")}} %</td>
                                <td><b>TPM:</b> {{(indicadores.tpm.valor + "").replace(".", ",")}} %</td>
                            </tr>
                            <tr>
                                <td><b>Libra de Cobre:</b> USD$ {{(indicadores.libra_cobre.valor + "").replace(".", ",")}}</td>
                                <td><b>Bitcoin:</b> USD$ {{ (indicadores.bitcoin.valor + "").replace(".", ",")}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="md-card-content small-padding" style="padding-top: 20px;">
                    <div class="blog_list_teaser">
                        <h2 class="blog_list_teaser_title uk-text-truncate">Enlaces útiles</h2>
                        <p>
                        <ul class="md-list md-list-addon">
                            <li ng-click="abrir('https://www.mercadopublico.cl')">
                                <div class="md-list-addon-element">
                                    <img class="md-user-image md-list-addon-avatar" ng-src="assets/img/icon_mp.png" alt="" add-image-prop/>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">Mercado Público</span>
                                    <span class="uk-text-small uk-text-muted">Portal de compra para entidades públicas</span>
                                </div>
                            </li>
                            <li ng-click="abrir('https://www.sii.cl')">
                                <div class="md-list-addon-element">
                                    <img class="md-user-image md-list-addon-avatar" ng-src="assets/img/icon_sii.png" alt="" add-image-prop/>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">Servicio de Impuestos Internos</span>
                                    <span class="uk-text-small uk-text-muted">Revísa o valída la información que necesites de tu empresa</span>
                                </div>
                            </li>
                            <li ng-click="abrir('https://www.google.cl')">
                                <div class="md-list-addon-element">
                                    <img class="md-user-image md-list-addon-avatar" ng-src="assets/img/icon_google.png" alt="" add-image-prop/>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">Google</span>
                                    <span class="uk-text-small uk-text-muted">Para buscar cualquier cosa que necesites ;-)</span>
                                </div>
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="md-card uk-width-small-1-1 uk-width-medium-2-5" style="padding-left: 15px; padding-top: 20px;">
              <div class="blog_list_teaser" style="heigh:300px;overflow: auto;">
                <h2 class="blog_list_teaser_title uk-text-truncate" style="padding-top:5px">Noticias</h2>
                <i data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" ng-click="modalAgregarNoticia()" permiso="NOT00" style="cursor:pointer;position: absolute; top: 4px; right: 10px; font-size: 30px; color: #23da15;" ng-if="app == 'cloud'"
                  title="Agregar noticia" class="material-icons accion">add_circle</i>
								<ul class="md-list md-list-addon" style="padding-top:10px;">
										<li ng-click="modalVerNoticia (noticia)" ng-repeat="noticia in noticias">
												<div class="md-list-addon-element">
														<img class="md-user-image md-list-addon-avatar" ng-src="{{noticia.imagenPrincipal}}" alt="" add-image-prop/>
												</div>
												<div class="md-list-content">
														<span class="md-list-heading">{{noticia.titulo}}</span>
														<span class="uk-text-small uk-text-muted">Fecha: {{noticia.fechaFormato}}</span>
                				</div>
										</li>
							 </ul>
             </div>
            </div>
            <div class="md-card uk-width-small-1-1 uk-width-medium-1-2">
                <div class="md-card-content small-padding" style="padding-top: 20px;">
                    <div class="blog_list_teaser">
                        <h2 class="blog_list_teaser_title uk-text-truncate">Que está pasando en <b>{{ empresa}}</b></h2>
                    </div>
                    <div class="blog_list_footer" style="overflow-y: scroll;" id="eventos">
                        <div ng-if="cargadores.actividad"><img src="ajax-loader.gif"> Cargando actividad reciente...</div> 
                        <ul class="md-list md-list-addon">
                            <li class="usuario" ng-repeat="evento in eventos">
                                <div class="md-list-addon-element">
                                    <img ng-if="evento.avatar" width="40" style="border-radius: 50%;" ng-src="{{ evento.avatar}}" />
                                    <img ng-if="!evento.avatar" width="40" style="border-radius: 50%;" ng-src="https://api.adorable.io/avatars/285/{{ evento.correoUsuario}}" />
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{ evento.mensaje}}</span>
                                    <span class="md-list-heading">{{evento.detalle}}</span>
                                    <span class="uk-text-small uk-text-muted" style="float: left">por {{ evento.nombreUsuario}} ({{ evento.correoUsuario}})</span>
                                    <span class="uk-text-small uk-text-muted" style="float: right">{{ evento.fecha}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="md-card uk-width-small-1-1 uk-width-medium-1-2" id="novedades">
                <div class="md-card-content small-padding" id="novedades_content" style="padding-top: 20px;">
                    <div class="blog_list_teaser">
                        <h2 class="blog_list_teaser_title uk-text-truncate" style="padding-bottom: 10px;margin-bottom: 10px; border-bottom: solid 1px #ccc">Novedades </h2>
                        <div ng-if="cargadores.noticias"><img src="ajax-loader.gif"> Cargando últimas novedades...</div>
                        <a class="noticia" ng-repeat="novedad in rss | limitTo: 3" href="{{novedad.link}}" target="_blank">
                            <img ng-if="novedad.imagenCabeceraUrl" ng-src="{{novedad.imagenCabeceraUrl}}" alt="" class="blog_list_teaser_image">
                            <div class="uk-cover blog_list_teaser_video" ng-if="novedad.videoCabeceraUrl">
                                <iframe height="150" width="300" data-uk-cover ng-src="{{novedad.videoCabeceraUrl}}" frameborder="0" allowfullscreen style="max-width: 100%"></iframe>
                            </div>
                            <div class="blog_list_teaser">
                                <h2 class="blog_list_teaser_title uk-text-truncate">{{novedad.title}}</h2>
                                <p style="color: black" ng-bind-html="novedad.description"></p>
                            </div>
                        </a>
                    </div>
                    <div class="blog_list_footer">
                        <a href="http://www.febos.cl/noticias/" class="md-btn md-btn-small md-btn-flat md-btn-flat-primary uk-float-right" target="_blank">Ver todas</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<ng-include src="'app/febos/inicio/verNoticia.html'"></ng-include>
<ng-include src="'app/febos/inicio/agregarNoticia.html'"></ng-include>
