<div id="mdlVerNoticia" class="uk-modal">
  <form name="form" novalidate>
    <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body" style="width: 80%;">
      <a class="uk-modal-close uk-close"></a>
      <div class="uk-modal-header">
        <h3 class="uk-modal-title" style="color: #e4501e;font-size:26px;">{{$parent.vernoticia.titulo}}</h3>
      </div>
      <div class="uk-margin uk-grid-small uk-child-width-auto">
       <div id="page_content_inner">
        <div ng-bind-html="$parent.vernoticia.texto"></div>
        </div>
        <div class="uk-width-medium-1-1 uk-margin-medium-top">
          <center>
            <a ng-click="$parent.modalCerrarVerNoticia()" class="md-btn md-btn-default md-btn-block" style="width: 200px;margin-top: 12px;">
              Cerrar 
            </a>
            <a ng-if="$parent.vernoticia.puedeEliminar" ng-click="$parent.eliminarNoticia($parent.vernoticia)" class="md-btn md-btn-danger md-btn-block" style="width: 200px;margin-top: 12px;">
             Eliminar Noticia
            </a>
          </Center>
        </div>
        <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%; z-index: 10;" class="ng-scope" />
      </div>
    </form>
  </div>  
