<div class="uk-modal" id="modal_febos_error">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">
                <span ng-if="febosError.data.codigo==4"><i class="material-icons">&#xE88F</i>  Tu sesión ha caducado!</span>
                <span ng-if="!febosError.data || febosError.data.codigo==1"><i class="material-icons">&#xE88F</i>  Ups!</span>
                <span ng-if="febosError.data.codigo>10"><i class="material-icons">&#xE88F</i>  Ups! ha ocurrido un problema {{ (febosError.data.codigo?'(Código '+febosError.data.codigo+')':'')}}</span>
            </h3>
        </div>
        <p ng-if="febosError.data.codigo>10 ||febosError.data.codigo==1 ">{{(febosError.data.mensaje?febosError.data.mensaje:'Escribenos acá abajo en el chat para ver como podermos ayudarte!')}}</p>
        <p ng-if="febosError.data.codigo==4">Han pasado mas de 15 minutos de inactividad y por tu seguridad, ha caducado la sesión.</p>
        <p ng-if="!febosError.data">Se ha esperado mas del tiempo permitido, por favor intenta nuevamente.</p>
        <p ng-if="febosError.data.codigo>10">
            Errores encontrados:
        <ul>
            <li ng-repeat="error in febosError.data.errores">{{error}}</li>
        </ul>
        </p>
        
        
        <div class="uk-modal-footer uk-text-right">
            <button ng-if="febosError.data.codigo==4" type="button" class="md-btn md-btn-flat" ng-click="logout()">Ingresar nuevamente</button>
            <button ng-if="!febosError.data || febosError.data.codigo>10" type="button" class="md-btn md-btn-flat uk-modal-close">Entiendo</button>
        </div>
        <span ng-if="typeof(febosError.data.seguimientoId)!='undefined' && febosError.data.seguimientoId.length==36" data-uk-tooltip="{cls:'long-text'}" title="ID de Seguimiento" style="float:left;color:#777;font-size: 80%">{{febosError.data.seguimientoId}}</span>
    </div>
</div>