<div id="page_content">
  <div id="page_content_inner">
    <h4 class="heading_a uk-margin-bottom">
      Plantillas para documentos electronicos
      <span class="sub-heading">lista de plantillas configuradas en el sistema</span>
    </h4>

    <div class="md-card uk-margin-medium-bottom">
      <div class="md-card-content">
        <div class="uk-overflow-container">
          <table id="tabla-plantillas" class="uk-table uk-table-nowrap">
            <thead>
              <tr>
                <form>
                  <div id="contenedor-filtros" class="uk-form-row uk-margin-top">
                    <div id="contenedor-busqueda" class="uk-display-inline-block uk-margin-right">
                      <label >Buscar por:</label>
                      <input type="text" ng-model="search" class="form-control md-input" md-input>
                    </div>
                    <div class="uk-display-inline-block">
                      <div class="md-btn-group">
                        <a id="recargar-datos" title="Recargar" class="md-btn md-btn-wave md-btn-icon" ng-click="cargarPlantillas()">
                          <i class="uk-icon-refresh"></i>
                          Recargar
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
              </tr>
              <tr>
                <th class="uk-width-1-10 uk-text-center">
                  Tipo Documento
                </th>
                <th ng-click="establecerAtributoDeOrden('valor')" class="uk-width-2-10 uk-text-center cabeceras-de-columnas">
                  Nombre plantilla
                  <i class="md-icon material-icons">{{(plantillas.columnasAOrdenar.valor)?'arrow_drop_up':'arrow_drop_down'}}</i>
                </th>
                <th ng-click="establecerAtributoDeOrden('ultimaActualizacion')" class="uk-width-1-10 uk-text-center cabeceras-de-columnas">
                  Ultima actualizacion
                  <i class="md-icon material-icons">{{(plantillas.columnasAOrdenar.ultimaActualizacion)?'arrow_drop_up':'arrow_drop_down'}}</i>
                </th>
                <th id="th-botonera" class="uk-width-2-10 uk-text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-show="loading">
                <td class="celda-loading" colspan="6">
                  <div class="linear-activity">
                    <div class="indeterminate"></div>
                  </div>
                </td>
              </tr>
              <tr ng-hide="filteredData.length > 0">
                <td colspan="6">
                  <h2 class="heading_a uk-margin-top uk-margin-bottom tabla-sin-datos">
                    ¡No hay datos cargados!<br/>
                    <span class="sub-heading" ng-hide="!loading">Espere a que termine la carga de datos.</span>
                    <span class="sub-heading" ng-hide="loading">Puede crear una nueva plantilla.</span>
                  </h2>
                </td>
              </tr>
              <tr ng-show="plantillas.datos.length > 0" dir-paginate="plantilla in plantillas.datos | orderBy:obtenerAtributoDeOrden():ordenarDatos() | filter:search | itemsPerPage: plantillas.limit as filteredData">
                <td class="uk-text-center">
                  <div title="{{plantilla.descripcion}}"><i class="md-user-image md-icon material-icons">&#xe24d;</i></div>
                </td>
                <td class="uk-text-center">
                  {{plantilla.valor}}
                </td>
                <td class="uk-text-center">
                  {{plantilla.ultimaActualizacion}}
                </td>
                <td id="botonera" class="uk-text-center">
                  <a id="editar-plantilla" title="Editar Plantilla" ng-click="editarPlantilla(plantilla.opcionId)">
                    <i class="md-icon material-icons">&#xE254;</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <dir-pagination-controls boundary-links="true" template-url="app/templates/dirPagination.tpl.html"></dir-pagination-controls>
      </div>
    </div>
  </div>
</div>