<style>
    .sortorder:after {
        content: '\25b2';   // BLACK UP-POINTING TRIANGLE
    }
    .sortorder.reverse:after {
        content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
    }
</style>

<div id="page_content">
    <div class="md-card uk-margin-medium-bottom">
        <div id="page_content_inner">
            <h3 class="heading_b uk-margin-bottom">Gestión de Folios</h3>
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-search"></i></span>
                            <input
                                class="md-input"
                                type="text"
                                placeholder="Búsqueda por Tipo de Documento"
                                md-input
                                id="tipo_documento"
                                ng-model="filtroTipoDocumento"
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="md-card-content uk-overflow-container" style="min-height: 40vh;">
                <table class="uk-table uk-table-nowrap uk-table-hover">
                    <thead>
                    <tr>
                        <th class="uk-text-left">
                            Tipo <br /> Documento
                            <i
                                title="Filtrar por Tipo de Documento"
                                ng-click="sortBy('tipoDocumento')"
                                class="md-icon material-icons">
                                filter_list
                            </i>
                            <span
                                class="sortorder"
                                ng-show="propiedadFiltro === 'tipoDocumento'"
                                ng-class="{reverse: reverse}"
                            ></span>
                        </th>
                        <th class="uk-text-left">
                            Tipo <br /> Foliación
                            <i
                                title="Filtrar por Tipo de Foliación"
                                class="md-icon material-icons"
                                ng-click="sortBy('tipoFoliacion')"
                            >
                                filter_list
                            </i>
                            <span
                                class="sortorder"
                                ng-show="propiedadFiltro === 'tipoFoliacion'"
                                ng-class="{reverse: reverse}"
                            ></span>
                        </th>
                        <th class="uk-text-center">Total <br /> Folios</th>
                        <th class="uk-text-center">Usados</th>
                        <th class="uk-text-center">Libres</th>
                        <th class="uk-text-center">Rechazados</th>
                        <th class="uk-text-center">Primer <br /> Folio</th>
                        <th class="uk-text-center">Último <br /> Folio</th>
                        <th class="uk-text-center">Último <br /> Usado</th>
                        <th class="uk-text-center">Folios <br /> Diarios</th>
                        <th class="uk-text-center">Duración <br /> Estimada</th>
                        <th class="uk-text-center">
                            Fecha de <br /> Vencimiento
                            <i
                                title="Filtrar fecha de vencimiento"
                                class="md-icon material-icons"
                                ng-click="sortBy('fechaVencimiento')"
                            >
                                filter_list
                            </i>
                            <span
                                class="sortorder"
                                ng-show="propiedadFiltro === 'fechaVencimiento'"
                                ng-class="{reverse: reverse}"
                            ></span>
                        </th>
                        <th class="uk-text-center">Vencimiento</th>
                        <th class="uk-text-center small_col"> </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="cargandoDetalle">
                        <td colspan="14"><center><img src="ajax-loader.gif" /> Buscando Folios...</center></td>
                    </tr>
                    <tr ng-if="cafsDetalles.length == 0 && !cargandoDetalle">
                        <td colspan="14"><center>No se encontraron CAFs</center></td>
                    </tr>

                    <tr ng-repeat="cafDetalle in cafsDetalles | filter:{tipoDocumento:filtroTipoDocumento} | orderBy:propiedadFiltro:reverse track by $index">
                        <td class="uk-text-center">{{cafDetalle.tipoDocumento}}</td>
                        <td class="uk-text-center">
                            <span
                                ng-if="cafDetalle.tipoFoliacion === 'Automático'"
                                class="uk-badge uk-badge-muted"
                            >
                                {{cafDetalle.tipoFoliacion}}
                            </span>
                            <span
                                ng-if="cafDetalle.tipoFoliacion === 'Manual'"
                                class="uk-badge uk-badge-info"
                            >
                                {{cafDetalle.tipoFoliacion}}
                            </span>
                            <span
                                ng-if="cafDetalle.tipoFoliacion ==='Reserva'"
                                class="uk-badge uk-badge-warning"
                            >
                                {{cafDetalle.tipoFoliacion}}
                            </span>
                            <span
                                ng-if="cafDetalle.tipoFoliacion ==='A repartir'"
                                class="uk-badge uk-badge-warning"
                            >
                                Reserva
                            </span>
                        </td>
                        <td class="uk-text-center">{{cafDetalle.totalFolios}}</td>
                        <td class="uk-text-center">{{cafDetalle.usados}}</td>
                        <td class="uk-text-center">{{cafDetalle.libres}}</td>
                        <td class="uk-text-center">{{cafDetalle.rechazados}}</td>
                        <td class="uk-text-center">{{cafDetalle.primerFolio}}</td>
                        <td class="uk-text-center">{{cafDetalle.ultimoFolio}}</td>
                        <td class="uk-text-center">{{cafDetalle.ultimoUsado}}</td>
                        <td class="uk-text-center">{{cafDetalle.foliosDiarios}}</td>
                        <td class="uk-text-center">
                            <span
                                class="uk-badge uk-badge-warning"
                                title="Imposible determinar aún"
                                ng-if="cafDetalle.duracionEstimada === '0'"
                            >
                                -
                            </span>
                            <span
                                class="uk-badge uk-badge-success"
                                ng-if="cafDetalle.duracionEstimada !== '0'"
                            >
                                {{cafDetalle.duracionEstimada}}
                            </span>
                        </td>
                        <td class="uk-text-center">{{cafDetalle.fechaVencimiento}}</td>
                        <td class="uk-text-center">{{cafDetalle.vencimientoDias}}</td>
                        <td class="uk-text-left">
                            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                                <a href="#" class="md-icon material-icons center">&#xE5D4;</a>
                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav uk-nav-dropdown-small" style="z-index:99">
                                        <li><a ng-click="modalAnularFolios(cafDetalle)">
                                            <i class="material-icons">cancel</i> Anular Folios
                                        </a><li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br><br>
</div>

<!-- Inicio Modal anular folios -->
<div id="modalAnularFolios" class="uk-modal" style="margin: 0 auto;">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Anular Folios
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-width-medium-2-2" style="padding: 0px 0px 30px 35px;">
                <h3 class="heading_a"><span class="sub-heading">Por favor indique el rango de folios que desea anular</span></h3>
            </div>
            <br>
            <div class="uk-form-row">
                <label for="folioInicio">Folio inicial</label>
                <input class="md-input" type="text" id="folioInicio" ng-model="anular.folioInicio" md-input onKeypress="if (event.keyCode < 45 || event.keyCode > 57)
                                        event.returnValue = false;" maxlength="30" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Valor numérico"/>
            </div>
            <br>
            <div class="uk-form-row">
                <label for="folioFinal">Folio final</label>
                <input class="md-input" type="text" id="folioFinal" ng-model="anular.folioFinal" md-input onKeypress="if (event.keyCode < 45 || event.keyCode > 57)
                                        event.returnValue = false;" maxlength="30" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Valor numérico"/>
            </div>
            <br>
            <div class="uk-margin-medium-top">
                <a ng-click="anularFolios()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                    <span class="menu_icon" ng-if="anular.texto != 'ANULAR FOLIOS'">
                        <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                    </span>
                    {{ anular.texto }}
                </a>
            </div>
        </div>
        <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
    </div>
</div>