[draggable] {
  user-select: none;
}
.uk-tooltip {
  z-index: 999999999999999999999;
}
.ayuda-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  i {
    color: #2196f3;
  }
}
#boletaMdl {
  th {
    background-color: #fafafa;
  }
  th,
  td {
    border-bottom: 1px solid #ddd !important;
  }
}
#ayudaMdl {
  .definiciones {
    .item {
      position: relative;
      height: 70px;
      .texto {
        position: absolute;
        width: 400px;
        left: 50px;
        top: 10px;
      }
    }
  }
}
#comentariosFlujoMdl {
  .uk-modal-dialog {
    min-height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    background: url('bgwapp.png');
  }
  .speech-wrapper {
    padding: 0px 40px;
    .bubble {
      width: 300px;
      height: auto;
      display: block;
      background: #f5f5f5;
      border-radius: 4px;
      box-shadow: 2px 8px 5px #656565;
      position: relative;
      margin: 20px 0 0;
      .accion {
        position: absolute;
        right: 4px;
        top: 3px;
      }
      &.alt {
        margin: 20px 0 0 180px;
      }
      .txt {
        padding: 8px 55px 8px 14px;
        .name {
          font-weight: 600;
          font-size: 12px;
          margin: 0 0 4px;
          color: #3498db;
          span {
            font-weight: normal;
            color: #b3b3b3;
          }
          &.alt {
            color: #2ecc71;
          }
        }
        .message {
          font-size: 12px;
          margin: 0;
          color: #2b2b2b;
        }
        .timestamp {
          font-size: 11px;
          position: absolute;
          bottom: 8px;
          right: 10px;
          text-transform: uppercase;
          color: #999;
        }
      }
      .bubble-arrow {
        position: absolute;
        width: 0;
        bottom: 42px;
        left: -16px;
        height: 0;
        &.alt {
          right: -2px;
          bottom: 40px;
          left: auto;
        }
      }
      .bubble-arrow:after {
        content: '';
        position: absolute;
        border: 0 solid transparent;
        border-top: 9px solid #f5f5f5;
        border-radius: 0 20px 0;
        width: 15px;
        height: 30px;
        transform: rotate(145deg);
      }
      .bubble-arrow.alt:after {
        transform: rotate(45deg) scaleY(-1);
      }
    }
  }
}

@keyframes bcurrent-paso-anim {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #cddc39;
  }
  100% {
    background-color: #fff;
  }
}
@keyframes bcurrent-color-anim {
  0% {
    background-color: #1b5e20;
  }
  50% {
    background-color: #8bc34a;
  }
  100% {
    background-color: #1b5e20;
  }
}
@keyframes current-color-anim {
  0% {
    color: #4caf50;
  }
  50% {
    color: #76ff03;
  }
  100% {
    color: #4caf50;
  }
}
.reenviar-btn {
  position: absolute;
  top: 34px;
  left: 45px;
  i {
    color: #1e88e5;
  }
}

.devolver-btn {
  position: absolute;
  top: 34px;
  left: 8px;
  i {
    color: #1e88e5;
  }
}
.total-aprobaciones {
  border-radius: 6px;
  text-align: center;
  width: 70px;
  color: white;
  background-color: #e53935;
}
.codigo {
  font-size: 10px;
  color: #bdbdbd;
}
.paso-actual-bar {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #c1c1c1;
  color: white;
  text-align: center;
  margin-top: 50%;
}
.tags {
  position: absolute;
  top: 35px;
  width: 160px;
  * > {
    position: absolute;
    text-align: center;
  }
  .proceso {
    right: 65px;
  }
  .tipo {
    right: 0px;
    width: 60px;
  }
}
.uk-text-left,
.uk-text-right {
  position: relative;
}
.current-paso {
  animation: bcurrent-paso-anim 3s ease infinite;
}
.status-bar {
  width: 3px;
  background-color: red;
  height: 100%;
  position: absolute;
  padding: 0px;
  margin: unset;
  top: 0px;
  left: 0px;
  &.passed {
    background-color: #1b5e20;
  }
  &.current {
    background-color: #8bc34a;
    animation: bcurrent-color-anim 2s ease infinite;
  }
  &.next {
    background-color: #b9b9b9;
  }
  &.error {
    background-color: #e53935;
  }
  &.warning {
    background-color: #e64a19;
  }
}
.paso-circle {
  .passed {
    color: #1b5e20;
  }
  .current {
    color: #8bc34a;
    animation: current-color-anim 2s ease infinite;
  }
  .next {
    color: #b9b9b9;
  }
  .error {
    color: #e53935;
  }
  .warning {
    color: #e64a19;
  }
}

volver {
  position: absolute;
  top: 5px;
  right: 25px;
}
.cargando {
  display: inline-block;
  -webkit-animation: uk-rotate 1s infinite linear;
  animation: uk-rotate 1s infinite linear;
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 22px;
}
.cantidad-minima {
  white-space: normal;
}
.acciones {
  > a {
    padding-left: 12px;
  }
}
.oculto {
  visibility: hidden;
}
#documentoMdl {
  .uk-modal-dialog {
    width: 700px;
  }
}
#pasoMdl {
  .uk-modal-dialog {
    width: 800px;
  }
}
.uk-modal {
  .uk-input-group:not(.group-union) {
    width: 100%;
    span:first-child {
      width: 150px;
      text-align: left;
    }
  }
  .icheckbox_md {
    margin-top: 21px;
  }
  .uk-input-group {
    height: 58px;
  }
  .fechas {
    .uk-input-group-addon {
      width: 60px;
    }
  }
}
.uk-overflow-container {
  padding-top: 20px;
}
.uk-form-help-block {
  color: #ccc;
}
.agregar-paso {
  text-align: center;
}
.material-icons {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  color: none;
}
tr:last-child {
  td {
    border-bottom: none;
  }
}
volver {
  padding-bottom: 20px;
  display: inline-block;
}
.uk-table-nowrap td,
.uk-table-nowrap th {
  white-space: normal;
}
.uk-table-hover tbody tr:hover {
}
.selectize-dropdown-content .option {
  text-align: left;
  white-space: normal;
}
td {
  .icheckbox_md {
    top: 10px;
  }
}
.material-icons.eliminar {
  color: #f44336;
  font-size: 28px;
  &:hover {
    color: #ef5350;
  }
}
.material-icons.agregar {
  color: #7cb342;
  padding-top: 5px;
  font-size: 28px;
  &:hover {
    color: #9ccc65;
  }
}
.item {
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 1.2em;
}
.subrogado {
  .nombre {
    top: 12px;
    font-size: 0.7em;
    color: #bdbdbd;
  }
  .subrogante {
    top: 28px;
    left: 25px;
    position: absolute;
    font-size: 0.8em;
    color: #1e88e5;
  }
  .fecha {
    top: 45px;
    left: 25px;
    position: absolute;
    font-size: 0.7em;
    color: #1e88e5;
  }
}
.nombre-sub {
  top: 10px !important;
  text-decoration: line-through;
}
.nombre {
  width: 150px;
  text-align: center;
  top: 33px;
  left: 5px;
  position: absolute;
  font-size: 0.8em;
  .subrogante {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 17px;
    color: #1e88e5;
  }
  .desde {
    top: 32px;
    position: absolute;
    left: 10px;
    color: #1e88e5;
  }
  .hasta {
    top: 32px;
    position: absolute;
    left: 75px;
    color: #1e88e5;
  }
  .cantidad {
    top: -6px;
    right: -10px;
    position: absolute;
    color: #ff1744;
  }
}

.paso {
  .configuracion.ver {
    right: 2px;
  }
  .configuracion {
    width: 18px;
    height: 20px;
    z-index: 100;
    cursor: pointer;
    top: -6px;
    right: 15px;
    position: absolute;
    .material-icons {
      color: #616161;
    }
  }
  .eliminar {
    width: 18px;
    height: 20px;
    z-index: 100;
    cursor: pointer;
    top: -6px;
    right: -5px;
    position: absolute;
    .material-icons {
      color: #d50000;
    }
  }
}

.edicion {
  top: 29px;
  left: 5px;
  position: absolute;
}
.alerta {
  top: -9px;
  right: 24px;
  position: absolute;
  i {
    color: #ff1744;
  }
}

.numero {
  width: 15px;
  height: 15px;
  color: #616161;
  font-size: 0.8em;
  position: absolute;
  top: -2px;
  left: -2px;
  padding-top: 1px;
}
.paso-contenedor {
  margin: 5px;
  box-sizing: border-box;
  position: relative;
  width: 190px;
  height: 90px;
  float: left;
}
.proceso {
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  background-color: #ff7043;
  width: 55px;
  height: 17px;
  padding-top: 2px;
  color: #fff;
  font-size: 0.8em;
}
.tipo {
  &:extend(.proceso);
  right: 50px;
  width: 60px;
  background-color: #4fc3f7;
}

.paso {
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  text-align: center;
  color: #555;
  width: 100%;
  height: 100%;
  border: 2px dotted #ccc;
  box-sizing: border-box;
  position: relative;
  padding: 6px;
  .proceso {
    top: 66px;
    right: -6px;
    position: absolute;
  }

  .tipo {
    &:extend(.proceso);
    right: 50px;
    width: 60px;
    top: 66px;
    position: absolute;
    background-color: #4fc3f7;
  }
}

.siguiente {
  position: absolute;
  top: 25px;
  right: -10px;
  i {
    font-size: 35px;
    color: #aed581;
  }
}

.paso-contenedor:last-child {
  .siguiente {
    i {
      color: rgba(0, 0, 0, 0.1);
    }
  }
}

.inicio {
  &:extend(.siguiente);
  top: 45px;
  left: 40px;
  color: #37474f;
}

.mas {
  &:extend(.siguiente);
  top: 27px;
  right: -20px;
  color: #bdbdbd;
  font-size: 1.8em;
}

.drag-list {
  overflow: hidden;
  margin: 10px auto;
  width: 90%;
}

.drag-item {
  background-color: #fff;
  position: relative;
  float: left;
  width: 160px;
  height: 80px;
  transition: 0.25s;
}

.drag-start {
  opacity: 0.5;
  cursor: move;
}

.drag-enter {
  opacity: 0.5;
  background-color: #fffde7;
  transform: scale(0.95);
}

.paso {
  div {
    z-index: 0;
  }
  .tipo,
  .proceso,
  .configuracion,
  .eliminar,
  .alerta {
  }
}
