/* toolbar.css */
/* Main toolbar wrapper */
.elfinder .elfinder-toolbar {
  border-bottom: 1px solid #e5e5e5;
}

/* Buttonset wrapper */
.elfinder .elfinder-toolbar .elfinder-buttonset {
  border-radius: 0 !important;
  + .elfinder-buttonset {
    padding-left: 8px;
    border-left: 1px solid #e0e0e0;
  }
}

/* Buttons */
.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button {
  border: none !important;
  transition: background 0.3s, border 0.3s;
  border-radius: 2px !important;
  width: 18px;
  height: 18px;
}

/* Hovered buttons */
.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button:hover {
  background: #e5e5e5;
}

/* Disabled buttons */
.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button.ui-state-disabled {
  /* */
}

/* Buttonset separator */
.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-toolbar-button-separator {
  /* */
}

/* Button icons */
.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon {
  /* */
}

/* Searchbar */
.elfinder-toolbar .elfinder-button-search {
  /* */
}

.elfinder .elfinder-button-search input {
  border-bottom: 1px solid #e0e0e0;
  box-shadow: none;
  border-radius: 0;
  height: 24px;
}

/* Searchbar icons (search and close) */
.elfinder-toolbar .elfinder-button-search .ui-icon {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
}

.elfinder-toolbar .elfinder-button-search .ui-icon-search {
  background-image: url('../images/16px/search.png');
}

.elfinder-toolbar .elfinder-button-search .ui-icon-close {
  background-image: url('../images/16px/close.png');
}

/* Commands */
.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon {
  background-color: transparent;
  background-position: center center;
  height: 18px;
  width: 18px;
}

/* Back */
.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-back {
  background-image: url('../images/16px/back.png');
}

/* Forward */
.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-forward {
  background-image: url('../images/16px/forward.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-reload {
  background-image: url('../images/16px/reload.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-netmount {
  background-image: url('../images/16px/netmount.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-home {
  background-image: url('../images/16px/home.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-up {
  background-image: url('../images/16px/up.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-mkdir {
  background-image: url('../images/16px/directory.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-mkfile {
  background-image: url('../images/16px/file.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-upload {
  background-image: url('../images/16px/upload.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-open {
  background-image: url('../images/16px/open.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-download {
  background-image: url('../images/16px/download.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-getfile {
  background-image: url('../images/16px/getfile.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-info {
  background-image: url('../images/16px/info.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-quicklook {
  background-image: url('../images/16px/preview.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-copy {
  background-image: url('../images/16px/copy.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-cut {
  background-image: url('../images/16px/cut.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-paste {
  background-image: url('../images/16px/paste.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-view {
  background-image: url('../images/16px/view.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-view-list {
  background-image: url('../images/16px/view-list.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-help {
  background-image: url('../images/16px/help.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-duplicate {
  background-image: url('../images/16px/duplicate.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-rm {
  background-image: url('../images/16px/rm.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-edit {
  background-image: url('../images/16px/edit.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-rename {
  background-image: url('../images/16px/rename.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-archive {
  background-image: url('../images/16px/archive.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-resize {
  background-image: url('../images/16px/resize.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-extract {
  background-image: url('../images/16px/extract.png');
}

.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-icon-sort {
  background-image: url('../images/16px/sort.png');
}

/* Menus (e.g. for sorting) */
.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-menu {
  /* */
}

/* Menu items */
.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-menu-item {
  /* */
}

/* Selected items */
.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-menu-item-selected {
  /* */
}

/* Hovered items */
.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-menu-item.ui-state-hover {
  /* */
}

/* Menu item sorting ascending icon */
.elfinder
  .elfinder-toolbar
  .elfinder-buttonset
  .elfinder-button-menu-item-selected.elfinder-menu-item-sort-asc
  .elfinder-menu-item-sort-dir {
  /* */
}

/* Menu item sorting descending icon */
.elfinder
  .elfinder-toolbar
  .elfinder-buttonset
  .elfinder-button-menu-item-selected.elfinder-menu-item-sort-desc
  .elfinder-menu-item-sort-dir {
  /* */
}
