<div id="page_content">
    <div id="page_content_inner">
        <div id="page_heading">
            <h1>KPI Emisor </h1>
            <span class="uk-text-muted uk-text-upper uk-text-small">Indicadores clave</span>
        </div>
        <div class="md-card" id="filterDocElectRecibidos">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions">
                    <card-toggle></card-toggle>
                </div>
                <h3 class="md-card-toolbar-heading-text">Ambitos de análisis</h3>
            </div>

            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>

                    <div class="uk-width-medium-1-3">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="material-icons">&#xE873;</i></span>
                            <label for="tipos_documento">Unidad</label>
                            <selectize id="tipos_documento" config="selectizeConfig" options="opciones.unidades" position="bottom" ng-model="selecciones.unidad"></selectize>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="material-icons">&#xE873;</i></span>
                            <label for="tipos_documento">Cliente</label>
                            <selectize id="tipos_documento" config="selectizeConfig" options="opciones.clientes" position="bottom" ng-model="selecciones.cliente"></selectize>
                        </div>
                    </div>
                    


                    <div class="uk-width-medium-3-3">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-2">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="fecha_recepcion_desde">Fecha Emisión Desde</label>
                                    <input class="md-input" type="text" id="fecha_recepcion_desde" md-input ng-model="selecciones.desde" data-uk-datepicker="{weekstart:0, format:'YYYY-MM-DD', i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], weekdays: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa']}}" />
                                </div>
                            </div>
                            <div class="uk-width-medium-1-2">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="fecha_recepcion_hasta">Fecha Emisión Hasta</label>
                                    <input class="md-input" type="text" id="fecha_recepcion_hasta" md-input ng-model="selecciones.hasta" data-uk-datepicker="{weekstart:0, format:'YYYY-MM-DD', i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], weekdays: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa']}}" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="uk-grid" data-uk-grid-margin style="margin: 30px auto; width: 45%;">
                    <div class="uk-push-2-5 uk-width-medium-1-5"><a ng-click="generarKPI()" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Generar KPI"><i ng-if="!cargando" class="material-icons">&#xE8B6;</i> {{cargando?'Cargando...':'Aplicar'}}</a></div>
                </div>

            </div>
        </div>

        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                <div class="md-card">
                    <div class="md-card-toolbar">
                        <div class="md-card-toolbar-actions">
                            <i class="md-icon material-icons md-color-light-blue-500" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Descargar gráfico" ng-click="exportar('#grafico_compras','grafico_compras')">&#xE3B0;</i>
                        </div>
                        <h3 class="md-card-toolbar-heading-text">
                            Ventas
                        </h3>
                    </div>
                    <div class="md-card-content">
                        <div id="grafico_compras" class="c3chart"></div>
                    </div>
                </div>
            </div>
          


        </div>



    </div>
</div>

<style>
    .uk-tab-left {
        border-right: 1px solid #FFFFFF;
    }
</style>