<style>
    .uk-dropdown.uk-dropdown-small {
        width: 190px !important;
    }

    @media screen and (max-width: 1024px) {
        .esconderEnMobile {
            display: none !important;
        }
    }

    .sinEspaciado {
        line-height: 13px !important;
    }

    .selectize-dropdown,
    .uk-dropdown-active {
        z-index: 9999;
    }

    .sle:hover {
        cursor: pointer;
        background-color: #eee;
        color: orange;
    }

    .md-input {
        min-height: 35px !important;
        padding-top: 4px !important;
        padding-bottom: 0px !important;
    }

    select.md-input {
        margin-top: 13px;
    }

    .selectize-input {
        padding: 0px !important;
        min-height: 10px !important;
    }

    .selectize-control.single {
        margin-top: 0px !important;
    }

    .md-fab-wrapper.md-fab-in-card {
        position: fixed !important;
    }

</style>
<div id="top_bar" top-bar ng-escape="esconderFiltros()">
    <div class="md-top-bar">
        <div class="uk-width-large-10-10 uk-container-center">
            <div class="uk-clearfix">
                <div class="md-top-bar-actions-left">
                    <div class="md-top-bar-checkbox">
                        <input type="checkbox" id="documentos_seleccionar_todos" ng-model="documentos_seleccionar_todos"
                               icheck/>
                    </div>

                    <div class="uk-button-dropdown" data-uk-dropdown="{mode: 'click'}" ng-if="false">
                        <button class="md-btn md-btn-flat md-btn-small md-btn-wave" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}"
                                title="Acciones masivas" style="padding-right: 0px">
                            <i class="material-icons">&#xE3E0;</i>
                            <i class="material-icons">&#xE313;</i>
                        </button>
                        <div class="uk-dropdown">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li>
                                    <a ng-click="deseleccionarTodo()">Cancelar selección</a>
                                </li>
                                <li>
                                    <a ng-click="listarSeleccionados()">Listar solo seleccionados</a>
                                </li>
                                <li class="uk-nav-divider"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="seleccion" style="display:inline-block;vertical-align:middle;"
                         ng-if="documentosSeleccionados.length>0">
                        {{documentosSeleccionados.length}}
                        <span class="esconderEnMobile">documento{{documentosSeleccionados.length>1?'s':''}}</span>
                        seleccionado{{documentosSeleccionados.length>1?'s':''}}
                    </div>
                    <div class="md-btn-group" style="margin-left:0px">
                        <i class="material-icons" style="color:#ccc;padding:4px;margin:5px 0px 0px 0px;cursor:default">&#xE5D4;</i>

                        <input type="text" style="width: 150px;font-size:17px" ng-model="buscar"
                               placeholder="Buscar..."/>

                        <i class="material-icons" style="color:#ccc;padding:4px;margin:0px 0px 0px -9px;cursor:default">&#xE5D4;</i>
                    </div>
                    <div class="seleccion" style="display:inline-block;vertical-align:middle;">
                        <span class="esconderEnMobile">{{tituloVista||''}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="page_content">
    <div id="page_content_inner">

        <div class="md-card-list-wrapper" id="documentos">
            <div class="uk-width-large-10-10 uk-container-center">

                <div class="md-card-list">
                    <div class="md-card-list-header heading_list" ng-if="documentos.length > 0">
                        Documentos del {{ paginacion.elementoDesde}} al {{ paginacion.elementoHasta}} , de un total de
                        {{ paginacion.total}}
                    </div>
                    <div class="md-card-list-header heading_list" ng-if="documentos.length == 0">
                        No hay documentos para mostrar
                    </div>
                    <ul class="hierarchical_slide" hierarchical-slide>
                        <li>
                            <!-- botonera -->
                            <span class="md-card-list-item-dato-derecha"
                                  style="display:inline-block;width:40px">&nbsp;</span>
                            <!-- fin botonera -->

                            <span ng-if="tipoPantalla != 'xs'" class="md-card-list-item-dato-derecha"
                                  data-uk-tooltip="{cls:'long-text'}" title="Fecha de inicio"
                                  style="width:90px;text-align:center">
                                Fecha Emisión
                            </span>
                            <span ng-if="tipoPantalla != 'xs'" class="md-card-list-item-dato-derecha"
                                  data-uk-tooltip="{cls:'long-text'}" title="Vigencia"
                                  style="width:90px;text-align:center">
                                Fecha Vigencia
                            </span>

                            <div class="md-card-list-item-select">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>

                            <div ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'" class="md-card-list-item-dato"
                                 data-uk-tooltip="{cls:'long-text'}" title="Estado" style="width: 60px">
                                Estado
                            </div>

                            <div ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'" class="md-card-list-item-dato"
                                 data-uk-tooltip="{cls:'long-text'}" title="Monto total" style="width: 110px">
                                Monto
                            </div>
                            <div ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'" class="md-card-list-item-dato"
                                 data-uk-tooltip="{cls:'long-text'}" title="Monto total" style="width: 110px">
                                Endoso
                            </div>
                            <div ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'" class="md-card-list-item-dato"
                                 data-uk-tooltip="{cls:'long-text'}" title="Código" style="width: 100px">
                                Aseguradora
                            </div>
                            <div class="md-card-list-item-compactable">
                                <div class="md-card-list-item-mini-dato" data-uk-tooltip="{cls:'long-text'}"
                                     title="Tipo y Folio del documento" ng-if="tipoPantalla=='xs'">
                                    <span>Aseguradora</span>
                                </div>
                                <div class="md-card-list-item-mini-dato" data-uk-tooltip="{cls:'long-text'}"
                                     title="Monto total del documento" ng-if="tipoPantalla=='xs'">
                                    <span>Monto Total</span>
                                </div>
                                <span ng-class="{'sinEspaciado':tipoPantalla=='xs'}" data-uk-tooltip="{cls:'long-text'}"
                                      title="Razón Social del emisor del documento">Concepto</span>
                            </div>

                        </li>
                        <li ng-repeat="documento in documentos | filter:busqueda" on-last-repeat style="cursor:pointer"
                            ng-class="{'seleccionable':true,'md-card-list-item-selected':estaSeleccionado(documento.febosId)}">
                            <!-- botonera -->
                            <div class="md-card-list-item-menu" data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                                <a href="#" class="md-icon material-icons">&#xE5D4;</a>
                                <div class="uk-dropdown uk-dropdown-small" style="z-index:99">
                                    <ul class="uk-nav">
                                        <li permiso="DTE02|left">
                                            <a ui-sref="restringido.bitacora_dte({app:app,febosid:documento.boletaGarantiaId,esBoleta:'si',tipo:'poliza'})">
                                                <i class="material-icons">&#xE896;</i> Bitacora</a>
                                        </li>
                                        <li permiso="DTE02|left">
                                            <a ng-click="modalRenovar(documento)">
                                                <i class="material-icons">autorenew</i> Renovar</a>
                                        </li>
                                        <li permiso="DTE02|left">
                                            <a ng-click="modalEnviar(documento)">
                                                <i class="material-icons">send</i> Enviar Por Correo</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- fin botonera -->
                            <span ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'"
                                  class="md-card-list-item-dato-derecha" data-uk-tooltip="{cls:'long-text'}"
                                  title="Fecha de emisión del documento" style="width:90px;text-align:center">
                                    {{documento.fechaEmision|transformarFechaReverso}}
                            </span>
                            <span ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'"
                                  class="md-card-list-item-dato-derecha" data-uk-tooltip="{cls:'long-text'}"
                                  title="Fecha de emisión del documento" style="width:90px;text-align:center">
                                    {{documento.fechaVencimiento|transformarFechaReverso}}
                            </span>

                            <div class="md-card-list-item-select">
                                <input type="checkbox" id="documento_{{documento.febosId}}" class="select_message"
                                       ng-checked="estaSeleccionado(documento.febosId)"
                                       icheck ng-model="documento_seleccionado"/>
                            </div>

                            <div class="md-card-list-item-estado-wrapper" ng-if="documento.estado==1">
                                <span class="md-card-list-item-estado md-bg-green-600"
                                      data-uk-tooltip="{cls:'long-text'}"
                                      title="Vigente">
                                    <i class="material-icons" style="color:white">done</i>
                                </span>
                            </div>
                            <div class="md-card-list-item-estado-wrapper" ng-if="documento.estado==2">
                                <span class="md-card-list-item-estado md-bg-red-600"
                                      data-uk-tooltip="{cls:'long-text'}"
                                      title="Vencida">
                                    <i class="material-icons" style="color:white">event_busy</i>
                                </span>
                            </div>

                            <div class="md-card-list-item-dato" style="width:130px"
                                 ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'">
                                <span>{{documento.moneda}} {{obtenerMonto(documento)|monedaSimbolo:documento.moneda}} </span>
                            </div>
                            <div class="md-card-list-item-estado-wrapper" ng-if="documento.endoso==1"
                                 style="width:130px">
                                <span class="md-card-list-item-estado md-bg-green-600"
                                      data-uk-tooltip="{cls:'long-text'}"
                                      title="SI">
                                    <i class="material-icons" style="color:white">done</i>
                                </span>
                            </div>
                            <div class="md-card-list-item-estado-wrapper" ng-if="documento.endoso!=1"
                                 style="width:130px">
                                <span class="md-card-list-item-estado md-bg-green-600"
                                      data-uk-tooltip="{cls:'long-text'}"
                                      title="NO">
                                    <i class="material-icons" style="color:white">done</i>
                                </span>
                            </div>
                            <div class="md-card-list-item-dato" style="width:100px"
                                 ng-if="tipoPantalla=='lg' ||  tipoPantalla=='md'">
                                <span>{{documento.aseguradora}}</span>
                            </div>
                            <div class="md-card-list-item-compactable">
                                <div class="md-card-list-item-mini-dato ENDOSO" ng-if="tipoPantalla=='xs'">
                                    <span>{{documento.endoso==1?'SI':'NO'}}</span>
                                </div>
                                <div class="md-card-list-item-mini-dato" ng-if="tipoPantalla=='xs'">
                                    <span>{{documento.aseguradora}}</span>
                                </div>
                                <div class="md-card-list-item-mini-dato" ng-if="tipoPantalla=='xs'">
                                    <span>{{documento.moneda}} {{formatearMonto(documento.monto, (documento.moneda=="UF"?'':'$'))}}</span>
                                </div>
                                <span ng-class="{'sinEspaciado':tipoPantalla=='xs'}">{{documento.concepto}}</span>
                            </div>

                            <div class="md-card-list-item-content-wrapper">
                                <div class="md-card-list-item-content">
                                    <!--<div class="uk-alert" data-uk-alert ng-bind-html="prosa(documento)"></div>-->
                                    <div class="uk-grid">

                                        <div class="uk-width-large-1-2">
                                            <h4 class="heading_c uk-margin-small-bottom color-principal">Información
                                                General</h4>
                                            <ul class="md-list md-list-addon">
                                                <li ng-if="documento.proyecto">
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE54E;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{documento.proyecto.codigo}} - {{documento.proyecto.nombre}}</span>
                                                        <span class="uk-text-small uk-text-muted">Proyecto</span>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE54E;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                                <span class="md-list-heading"
                                                                      ng-if="!cargandoProyectos">{{obtenerDescripcionProyecto(documento)}} </span>
                                                        <md-preloader ng-if="cargandoProyectos"></md-preloader>
                                                        <span class="uk-text-small uk-text-muted">Proyecto</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE8DF;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{documento.concepto}}</span>
                                                        <span class="uk-text-small uk-text-muted">Concepto</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE8DF;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{documento.numeroPoliza}}</span>
                                                        <span class="uk-text-small uk-text-muted">Numero Póliza</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">import_contacts</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"
                                                              ng-if="documento.endoso==1">SI</span>
                                                        <span class="md-list-heading"
                                                              ng-if="documento.endoso!=1">NO</span>
                                                        <span class="uk-text-small uk-text-muted">Póliza con endoso</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="uk-width-large-1-2">
                                            <h4 class="heading_c uk-margin-small-bottom color-principal">
                                                Involucrados</h4>
                                            <ul class="md-list md-list-addon">
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">face</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{documento.usuarioResponsableNombre}} ({{documento.usuarioResponsableCorreo}})</span>
                                                        <span class="uk-text-small uk-text-muted">Responsable</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">supervisor_account</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{documento.usuarioGestorNombre}} ({{documento.usuarioGestorCorreo}})</span>
                                                        <span class="uk-text-small uk-text-muted">Gestor</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">perm_identity</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{documento.usuarioTomadorNombre}} ({{documento.usuarioTomadorCorreo}})</span>
                                                        <span class="uk-text-small uk-text-muted">Tomador</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">vpn_key</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{documento.usuarioResponsableNombre}} ({{documento.usuarioResponsableCorreo}})</span>
                                                        <span class="uk-text-small uk-text-muted">Responsable</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="md-card-content uk-grid uk-grid-small">
                                        <div class="uk-width-small-1-1 uk-width-medium-1-3 uk-width-large-1-4 uk-margin-top"
                                             data-uk-grid-match="{target:'.uk-panel'}"
                                             ng-repeat="adjunto in documento.adjuntos"
                                             ng-init="poliza.adjuntos = poliza.adjuntos||[]">
                                            <div class="uk-width-large-1-1 uk-panel uk-panel-box">
                                                <ul class="md-list md-list-addon" style="word-break: break-all;">
                                                    <li style="cursor: pointer"
                                                        title="{{adjunto.adjuntoNombre}}" data-uk-tooltip="{cls:'long-text'}">
                                                        <div class="md-list-addon-element"
                                                             ng-if="adjunto.adjuntoEstado == undefined">
                                                            <i class="md-list-addon-icon material-icons">attach_file</i>
                                                        </div>
                                                        <div class="md-list-addon-element"
                                                             ng-if="adjunto.adjuntoEstado != undefined">
                                                            <i class="md-list-addon-icon material-icons"
                                                               ng-if="adjunto.adjuntoEstado == 2">attach_file</i>
                                                            <md-preloader
                                                                    ng-if="adjunto.adjuntoEstado == 0 || adjunto.adjuntoEstado == 1"></md-preloader>
                                                            <i class="md-list-addon-icon material-icons uk-icon-spin"
                                                               ng-if="adjunto.adjuntoEstado == 3">error</i>
                                                        </div>

                                                        <div class="md-list-content">
                                                            <span adjunto-descargar path="{{adjunto.adjuntoUrl}}" nombre="{{adjunto.adjuntoNombre}}">{{adjunto.adjuntoNombre|limitTo:20}}</span>
                                                            <span adjunto-descargar path="{{adjunto.adjuntoUrl}}" nombre="{{adjunto.adjuntoNombre}}"
                                                                  class="uk-text-small uk-text-muted">{{obtenerFechaAdjunto(adjunto)}}</span>
                                                            <span class="md-list-heading"
                                                                  style="float: right;position: absolute;right: 0px;bottom: 0px;">
                                                    <i ng-if="adjunto.estado == undefined || adjunto.estado == 0 || adjunto.estado == 1"
                                                       class="material-icons" ng-click="adjunto.estado= 100">
                                                        visibility_off
                                                    </i>
                                                    <i ng-if="adjunto.estado == 100" class="material-icons"
                                                       ng-click="adjunto.estado= 1" style="color: #23da15;">
                                                        visibility
                                                    </i>
                                                </span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="md-fab-wrapper md-fab-in-card md-fab-speed-dial" style="right: 80px">
    <a class="md-fab md-fab-primary" href="javascript:void(0)" md-fab-speed-dial data-uk-tooltip="{cls:'long-text'}"
       title="Acciones"><i class="material-icons">bubble_chart</i></a>
    <div class="md-fab-wrapper-small">
        <a class="md-fab md-fab-small md-fab-success" ng-click="modalAgregarPoliza()"
           data-uk-tooltip="{pos:'left',cls:'long-text'}" title="Nueva Poliza">
            <i class="material-icons">add</i>
        </a>
    </div>
</div>


<div id="mdlEnviarBoleta" class="uk-modal">
    <div ng-include="'app/febos/documentos/portafolio/polizas/modales/enviar.html'" include-replace></div>
</div>

<div id="mdlRenovarPoliza" class="uk-modal">
    <div ng-include="'app/febos/documentos/portafolio/polizas/modales/renovar.html'" include-replace></div>
</div>
