<!-- restricted main content -->
<div ng-controller="mainCtrl"></div>
<div ui-view ng-class="{ 'uk-height-1-1': page_full_height }"></div>

<footer id="footer" style="margin-left:0px;position: fixed; z-index: 1000;" ng-controller="footerCtrl" ng-if="tipoPantalla == 'lg' || tipoPantalla == 'md'">
        &copy; <a href="#">Febos</a>, Todos los derechos reservados. <span style="margin-left: 10px">Estas trabajando en el ambiente de <b style="color:red" onlick="window.location='/produccion/cloud/web'">{{ ambiente.replace("produccion","producci&oacute;n") }}</b></span>
</footer>
<footer id="footer" style="margin-left:0px;position: fixed; z-index: 1000;" ng-controller="footerCtrl" ng-if="tipoPantalla == 'xs' || tipoPantalla == 'sm'">
        &copy; <a href="#">Febos</a>, <span style="margin-left: 10px">Ambiente de <b style="color:red" onlick="window.location='/produccion/cloud/web'">{{ ambiente.replace("produccion","producci&oacute;n") }}</b></span>
</footer>