    <!-- header -->
    <div oc-lazy-load="['app/shared/header/headerController.js']">
        <div ng-include="'app/shared/header/headerView.html'" ng-controller="main_headerCtrl"></div>
    </div>

    <div ng-controller="mainCtrl"></div>
    <!-- restricted main content -->
    <div ui-view ng-class="{ 'uk-height-1-1': page_full_height }"></div>

    <!-- main sidebar -->
    <div oc-lazy-load="['app/shared/main_sidebar/main_sidebarController.js']" ng-hide="topMenuActive">
        <div ng-include="'app/shared/main_sidebar/main_sidebarView.html'" ng-controller="main_sidebarCtrl"></div>
    </div>

    <!-- style switcher -->
    <!--<div oc-lazy-load="['assets/css/style_switcher.min.css','app/shared/style_switcher/style_switcher.js']">
        <style-switcher></style-switcher>
    </div>-->
<footer id="footer" style="position: fixed; z-index: 1000;" ng-controller="footerCtrl" ng-if="tipoPantalla == 'lg' || tipoPantalla == 'md'">
    &copy; <a href="#">Febos</a>,
    <label style="
        position: absolute;
        left: 4px;
        top: 15px;
        font-size: 10px;
        color: #afafaf;
    " ng-click="verChangelog()" data-uk-tooltip="{pos:'top'}" title="Ver historial de cambios">v{{appVer}}</label>
    Todos los derechos reservados. <span style="margin-left: 10px">Estas trabajando en el ambiente de <b style="color:red" onlick="window.location='/produccion/cloud/web'">{{ ambiente.replace("produccion","producci&oacute;n") }}</b></span>
</footer>
<footer id="footer" style="position: fixed; z-index: 1000;" ng-controller="footerCtrl" ng-if="tipoPantalla == 'xs' || tipoPantalla == 'sm'">
        &copy; <a href="#">Febos</a>,
        <label style="
            position: absolute;
            left: 4px;
            top: 15px;
            font-size: 10px;
            color: #afafaf;
        " ng-click="verChangelog()">v{{appVer}}</label>
        <span style="margin-left: 10px">Ambiente de <b style="color:red" onlick="window.location='/produccion/cloud/web'">{{ ambiente.replace("produccion","producci&oacute;n") }}</b></span>
</footer>
<ng-include src="'app/febos/inicio/changeLog.html'"></ng-include>
