
<style>
    #progressbar {
        background-color: #CCC;
        border-radius: 13px; /* (height of inner div) / 2 + padding */
        padding: 3px;
        text-align: center;
    }

    #progressbar > div {
        background-color: #449d44;
        width: 0%; /* Adjust with JavaScript */
        height: 20px;
        border-radius: 10px;
        text-align: center;
    }
</style>
<img width="100" src="{{ portalConfig.empresa.logo}}" style="position: fixed; left: 20px; top: 20px;" />

<div class="uk-margin-left">
    <main class="uk-push-1-5 uk-width-3-5 uk-position-absolute" >
        <div id="page_content crear_card" style=" width: 65%; margin: 0 auto;">
            <div class="md-card-content large-padding uk-position-relative" id="crear_error" style="display: none; width: 30%; margin: 0 auto;">
                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                <h2 class="heading_b uk-text-danger">ERROR</h2>
                <p>{{datos.mensaje_error}}</P>
            </div>

            <div class="md-card-content large-padding uk-position-relative" id="crear_ok" style="display: none; width: 30%; margin: 0 auto;">
                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                <h2 class="heading_b uk-text-danger">INGRESADO</h2>
                <p>{{datos.mensaje_ok}}</P>
            </div>


            <div class="md-card uk-margin-medium-bottom" id="crear_form" style="width: 100%; max-width: 100%; margin: 0 auto;">
                <div id="page_content_inner">
                    <h3 class="heading_b uk-margin-bottom">Cambio de contraseña</h3>

                    <div class="md-card-content" style="width: 92%;">
                        <div class="uk-overflow-container">
                            <form style="margin-top:10px">      
                                <div class="uk-form-row">
                                    <label for="claveActual">Ingrese su actual contraseña</label>
                                    <input  class="md-input" type="password" id="claveActual" ng-model="datos.claveActual" md-input/>
                                </div>
                                <div class="uk-form-row">
                                    <label for="clave">Ingrese su nueva contraseña aquí</label>
                                    <input  class="md-input" type="password" id="clave" ng-model="datos.clave" md-input ng-keyup="chkPass(datos.clave)"/>
                                </div>
                                <div class="uk-form-row">
                                    <label for="reclave">Repita su nueva contraseña aquí</label>
                                    <input class="md-input" type="password" id="reclave" ng-model="datos.reclave" md-input />
                                </div>
                                <div class="uk-form-row">
                                    <div id="progressbar">
                                        <div></div>
                                    </div>
                                    <center>{{nivel}}</center>
                                </div>

                                <div class="uk-margin-medium-top">
                                    <a ng-click="crear()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                        <span class="menu_icon" ng-if="datos.textoCrear != 'Cambiar'">
                                            <i style="font-size: 20px; vertical-align: middle; color:white" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                        </span> 
                                        {{datos.textoCrear}}
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>



