<div id="mdlAceptarMasivo" class="uk-modal">
    <form name="form" novalidate>
        <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body">
            <a class="uk-modal-close uk-close"></a>

            <div class="uk-modal-header">
                <h3 class="uk-modal-title" style="color: #e4501e;">Aprobación Masiva de Documento</h3>
            </div>

            <div class="uk-modal-body">
                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" ng-if="!$parent.esMisRecibidos">
                    <label data-uk-tooltip="{pos:'top',animation:'fade'}" title="Notificar al SII">
                        <input id="chkbxVincular" class="uk-checkbox" type="checkbox" ng-model="funcionesDte.scope.vincularSii" /> Vincular al Sii
                    </label>
                </div>

            </div>

            <div class="uk-modal-footer  uk-text-right" style="margin-right: 40px;" >
                <p ng-if="!$parent.esMisRecibidos">
                    <i class="material-icons">&#xE88F;</i>
                    <label>Atención: "Vincular al Sii", es una acción que <span style="font-weight: bold;">NO</span> es posible reversar </label>
                </p>

                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                <button ng-if="!loadingAceptarMasivoBoton" class="uk-button uk-button-primary" type="button"  ng-disabled="form.$invalid" ng-click="funcionesDte.aceptarMasivamenteAccion(seleccionFilas)">  Aprobar Documentos</button>
                <button ng-if="loadingAceptarMasivoBoton" class="uk-button uk-button-primary" type="button"><i style="color: white;" class="uk-icon-spinner uk-icon-spin"></i> Procesando...</button>

            </div>

            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%; z-index: 10;" class="ng-scope" />
        </div>
    </form>
</div>  