<div id="mdBitacora" class="uk-modal" data-uk-modal="bgclose:false">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div align="right"><a class="uk-modal-close uk-close"></a></div>

        <div style="padding: 5px 0px 0px 37px;">
            <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Bitácora del documento</h3>
        </div>

        <!--<div style="cursor: pointer; float: right;" ng-click="verBitacoraComoLista =! verBitacoraComoLista">Ver como <span ng-if="!verBitacoraComoLista">lista</span> <span ng-if="verBitacoraComoLista">linea de tiempo</span></div>-->

        <!-- inicio popup formulario -->

        <!-- fin popup formulario -->

        <!-- inicio info documento -->
        <div class="md-card md-card-collapsed">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions">
                    <card-toggle></card-toggle>
                </div>

                <h3 class="md-card-toolbar-heading-text">Información del documento Nº {{ funcionesDte.documentoInfo.numero}}</h3>
            </div>

            <div class="md-card-content">
                <table class="uk-table uk-table-nowrap">
                    <tbody>
                        <tr>
                            <td style="border-bottom-style: none;">
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-3-5 uk-width-small-4-5">
                                        <h4 class="heading_a uk-margin-small-bottom">Emisor</h4>

                                        <p class="uk-margin-remove"><span class="uk-text-muted">RUT:</span> {{ funcionesDte.documentoInfo.emisorRut}}</p>
                                        <p class="uk-margin-remove"><span class="uk-text-muted">Razón Social:</span> {{ funcionesDte.documentoInfo.emisorRazonSocial}}</p>
                                    </div>
                                </div>
                            </td>

                            <td style="border-bottom-style: none;">
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-3-5 uk-width-small-4-5">
                                        <h4 class="heading_a uk-margin-small-bottom">Fecha de Emisión</h4>
                                        <p class="uk-margin-remove"> {{ funcionesDte.documentoInfo.fechaEmision}}</p>
                                    </div>
                                </div>
                            </td>                                    
                        </tr>

                        <tr>
                            <td style="border-bottom-style: none;">
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-3-5 uk-width-small-4-5">
                                        <h4 class="heading_a uk-margin-small-bottom">Receptor</h4>

                                        <p class="uk-margin-remove"><span class="uk-text-muted">RUT:</span> {{ funcionesDte.documentoInfo.receptorRut}}</p>
                                        <p class="uk-margin-remove"><span class="uk-text-muted">Razón Social:</span> {{ funcionesDte.documentoInfo.receptorRazonSocial}}</p>
                                    </div>
                                </div>
                            </td>

                            <td style="border-bottom-style: none;">
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-3-5 uk-width-small-4-5">
                                        <h4 class="heading_a uk-margin-small-bottom">Tipo Documento</h4>
                                        <p class="uk-margin-remove">
                                            <span ng-if="funcionesDte.documentoInfo.tipo == 801">({{ funcionesDte.documentoInfo.tipo}}) Orden de Compra</span>
                                            <span ng-if="funcionesDte.documentoInfo.tipo == 'HES'">({{ funcionesDte.documentoInfo.tipo}}) Hoja de Entrega de Servicios</span>
                                            <span ng-if="funcionesDte.documentoInfo.tipo == 'HEM'">({{ funcionesDte.documentoInfo.tipo}}) Hoja de Entrega de Materiales</span>
                                            <span ng-if="funcionesDte.documentoInfo.tipo == 'MP'">({{ funcionesDte.documentoInfo.tipo}}) OC Mercado Publico </span>
                                        </p>
                                    </div>
                                </div>
                            </td>                                         
                        </tr>

                        <tr>
                            <td style="border-bottom-style: none;">
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-3-5 uk-width-small-4-5">
                                        <h4 class="heading_a uk-margin-small-bottom">FebosID</h4>
                                        <p class="uk-margin-remove">{{ funcionesDte.documentoInfo.febosId}}</p>
                                    </div>
                                </div>
                            </td>

                            <td style="border-bottom-style: none;">
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-3-5 uk-width-small-4-5">
                                    </div>
                                </div>
                            </td>                                               
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- fin info documento -->  



        <br />

        <div style="cursor: pointer; float: right;" ng-click="funcionesDte.verBitacoraComoLista = !funcionesDte.verBitacoraComoLista">
            Ver como <span ng-if="!funcionesDte.verBitacoraComoLista">lista</span> <span ng-if="funcionesDte.verBitacoraComoLista">linea de tiempo</span>
            <!--<a data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Insertar" ng-click="funcionesDte.verFormularioBitacora()">
                <label for="agregarComentario">Agregar comentario</label>
            </a>
            -->
        </div>

        <div class="uk-grid">
            <div class="uk-width-1-2"></div>
            <div class="uk-width-1-2">
                <button class="uk-button uk-button-primary" type="button" ng-click="funcionesDte.verFormularioBitacora()">Dejar Anotación</button>
            </div>
        </div>



        <div class="md-card-content">
            <div>
                <div ng-if="funcionesDte.adjuntos.length != 0">
                    <div style="padding: 5px 0px 0px 24px;">
                        <h3 class="heading_b uk-margin-bottom" style="font-size: 18px;">Documentos Adjuntos</h3>
                    </div>

                    <table class="uk-table uk-table-nowrap uk-table-hover">
                        <thead>
                            <tr>
                                <th class="uk-width-1-10 uk-text-center">ID Documento</th>
                                <th class="uk-width-2-10 uk-text-center">Tipo</th>
                                <th class="uk-width-1-10 uk-text-center">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-if="funcionesDte.cargando">
                                <td colspan="9" style="text-align: center;"><i class="uk-icon-spinner uk-icon-spin"></i> Buscando documentos ...</td>
                            </tr>

                            <tr ng-if="!funcionesDte.cargando && funcionesDte.adjuntos.length == 0">
                                <td colspan="9" style="text-align: center;">No se encontró ningún documento asociado</td>
                            </tr>

                            <tr ng-if="funcionesDte.adjuntos.length != 0" ng-repeat="a in funcionesDte.adjuntos">
                                <td class="uk-text-center">{{ a.documentoId}}</td>
                                <td class="uk-text-center">
                                    <span class="uk-badge uk-badge-primary" ng-if="a.tipo == 1">Orden de Compra</span>
                                    <span class="uk-badge uk-badge-info" ng-if="a.tipo == 2">Hoja de Entrega de Servicio</span>
                                    <span class="uk-badge uk-badge-success" ng-if="a.tipo == 3">Recibo de Mercadería</span>                                        
                                </td><!--
                                <td class="uk-text-center"><i class="material-icons" style="cursor: pointer;" ng-click="funcionesDte.util.descargarAdjunto(a.documentoId, a.dteArchivoId)" title="Descargar adjunto"> &#xE2C0;</i></td>
                            -->
                            </tr>
                        </tbody>
                    </table>
                </div>

                <br /><br />

                <div ng-if="funcionesDte.bitacora.length == 0">
                    <i class="uk-icon-spinner uk-icon-spin"></i> Buscando registros...
                </div>

                <div id="timeline" ng-if="!funcionesDte.verBitacoraComoLista">
                    <div class="timeline-item" ng-repeat="b in funcionesDte.bitacora">
                        <div class="timeline-icon"> 
                            <div ng-switch="b.tipo">
                                <img ng-switch-when="16" src=" https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_done_all_white_24px.svg"/>
                                <img ng-switch-when="19" src=" https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_backspace_white_24px.svg"/>
                                <img ng-switch-when="20" src="https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_receipt_white_24px.svg" />
                                <img ng-switch-when="28" src=" https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_assignment_returned_white_24px.svg"/>
                                <img ng-switch-when="29" src=" https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_remove_red_eye_white_24px.svg"/>
                                <img ng-switch-when="30" src=" https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_picture_as_pdf_white_24px.svg"/>
                                <img ng-switch-default src="https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_assignment_white_24px.svg"/>
                            </div>
                        </div>

                        <div class="timeline-content" ng-class-even="'right'">
                            <h3>{{ formatoFechaBitacora(b.fecha)}}</h3>
                            <p style="overflow-x: hidden;">{{ b.mensaje}}</p>

                            <!--<span style="cursor: pointer;" ng-if="b.externalId != '?'" class="btn" ng-click="funcionesDte.util.descargarAdjuntoBitacora(b.bitacoraId, b.documentoId)"><i class="material-icons" style="color: #ee4d4d;">&#xE226;</i>Descargar Adjunto</span> -->
                            <span style="cursor: pointer;" ng-if="b.correoId != '?'" class="btn" ng-click="funcionesDte.consultarCorreo(b.correoId)"><i class="material-icons" style="color: #ee4d4d;">&#xE0BE;</i> Traza de correo</span> 

                            <div style="width: 100%; text-align: right; font-size: 80%; color: #ccc; margin-bottom: -10px; margin-top: 5px;">{{ b.usuario}}</div>
                        </div>
                    </div>
                </div>

                <table class="uk-table uk-table-nowrap uk-table-hover" ng-if="funcionesDte.verBitacoraComoLista">
                    <thead>                                  
                        <tr>
                            <th class="uk-width-1-10 uk-text-center">Usuario</th>
                            <th class="uk-width-2-10 uk-text-center">Mensaje</th>
                            <th class="uk-width-1-10 uk-text-center">Fecha</th>
                            <!--<th class="uk-width-1-10 uk-text-center">Externo</th>-->
                            <!--<th class="uk-width-1-10 uk-text-center">ID Seguimiento</th>-->
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-if="funcionesDte.cargando">
                            <td colspan="9" style="text-align: center;"><i class="uk-icon-spinner uk-icon-spin"></i> Buscando acciones del documento...</td>
                        </tr>

                        <tr ng-if="!funcionesDte.cargando && funcionesDte.bitacora.length == 0">
                            <td colspan="9" style="text-align: center;">No se encontró ninguna bitácora</td>
                        </tr>

                        <tr ng-repeat="b in funcionesDte.bitacora">
                            <td class="uk-text-center">{{ b.usuario}}</td>
                            <td class="uk-text-center" style="word-wrap: break-word; white-space: normal;">{{ b.mensaje}}</td>
                            <td class="uk-text-center">{{ b.fecha}}</td>
                            <!--<td class="uk-text-center">
                                <span ng-if="b.externalId != '?'"><i class="material-icons" style="cursor: pointer;" ng-click="funcionesDte.util.descargarAdjuntoBitacora(b.bitacoraId, b.documentoId)" title="Descargar archivo externo"> &#xE226;</i></span>
                            
                            </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- inicio modal traza -->
<div id="mdTraza" class="uk-modal" data-uk-modal="bgclose:false">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div align="right"><a class="uk-modal-close uk-close"></a></div>

        <div style="padding: 5px 0px 0px 37px;">
            <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Traza de correo electrónico</h3>
        </div>
        <div ng-if="funcionesDte.trazaCorreo.destino == '' && funcionesDte.trazaCorreoError==false">
            <td colspan="9" style="text-align: center;"><i class="uk-icon-spinner uk-icon-spin"></i> Verificando...</td>
        </div>
        <div ng-if="funcionesDte.trazaCorreoError">
            <td colspan="9" style="text-align: center;"><i class="uk-icon-exclamation"></i> Lo siento, se ha tardado mucho la consulta, por favor intenta nuevamente.</td>
        </div>
        <div ng-if="funcionesDte.trazaCorreo.destino != ''">
            Destinatario: {{funcionesDte.trazaCorreo.destino}}
            <table class="uk-table uk-table-nowrap uk-table-hover">
                <thead>
                    <tr>
                        <th>Evento</th>
                        <th>Fecha</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="evento in funcionesDte.trazaCorreo.eventos">
                        <td>{{evento.tipo}}</td>
                        <td>{{evento.fecha}}</td>
                        <td>{{evento.mensaje}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- inicio modal formulario comentarios-->
<div id="mdFormularioComentarios" class="uk-modal" style="margin: 0 auto;">
    <form name="form" novalidate>
        <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body">
            <a class="uk-modal-close uk-close"></a>

            <div class="uk-modal-header">
                <h3 class="uk-modal-title" style="color: #e4501e;">Comentarios</h3>
            </div>

            <div class="uk-modal-body">
                <div class="uk-form-row">
                    <textarea cols="80" rows="10" placeholder="ingrese comentario" ng-model="datosBitacora.mensaje"></textarea>
                </div>
                <div class="uk-form-row" style="margin-right: 40px;">
                    <label>Visibilidad </label>
                    <div class="uk-button uk-form-select" data-uk-form-select>
                        <span></span>
                        <select ng-model="funcionesDte.visibilidadSeleccionada" ng-options="visibilidad as visibilidad.nombre for visibilidad in grupoVisibilidad track by visibilidad.id" >
                            <option value="">Seleccione</option>
                        </select>
                    </div>
                    <div class="uk-margin uk-grid-small uk-child-width-auto" ng-if="funcionesDte.guardandoComentario">
                        <div class="uk-margin">
                            <i class="uk-icon-spinner uk-icon-medium uk-icon-spin" style="font-size: 22px"></i> Guardando comentario...
                        </div>
                    </div>
                </div>
                <div class="uk-alert-success" uk-alert ng-show="accionRealizada == '2'">
                    <a class="uk-alert-close" uk-close></a>
                    <p style="color:black;">Comentario generado correctamente</p>
                </div>
            </div>

            <div class="uk-modal-footer  uk-text-right" style="margin-right: 40px;" >
                <button class="uk-button uk-button-primary" type="button" ng-click="guardarComentario()">Enviar</button>
            </div>

            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%; z-index: 10;" class="ng-scope" />
        </div>
    </form>
</div>
<!-- fin modal formulario comentarios—>