<a ng-if="config.accionesUnitarias.verDetalles" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Ver Detalles" ng-click="funcionesDte.modalVerDetalles(documento)">
    <i class="material-icons" >&#xE8F4;</i>
</a>

<a ng-if="config.accionesUnitarias.aceptarComercialmente && documento.estadoComercial != 2 && documento.estadoComercial != 5 && documento.estadoComercial != 6 && documento.estadoComercial != 4" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Aceptar" ng-click="modalIntercambioElectronico('0', documento)">
    <i class="material-icons" >&#xE877;</i>
</a>

<a ng-if="config.accionesUnitarias.rechazarComercialmente && documento.estadoComercial != 2 && documento.estadoComercial != 4" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Rechazar" ng-click="modalIntercambioElectronico('2', documento)">
    <i class="material-icons" >&#xE14A;</i>
</a>

<a ng-if="config.accionesUnitarias.verInfoPago" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Información de pago" ng-click="funcionesDte.verInfoPago(documento)">
    <i class="material-icons" >&#xE873;</i>
</a>

<a ng-if="config.accionesUnitarias.reciboDeMercaderias && documento.estadoComercial != 5 && documento.estadoComercial != 6 && documento.estadoComercial != 4" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Recibo de Mercaderías" ng-click="modalIntercambioElectronico('3', documento)">
    <i class="material-icons" >&#xE8B0;</i>
</a>

<a ng-if="config.accionesUnitarias.verPdf" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Ver PDF" ng-click="verPDF(documento.febosId)">
    <i class="material-icons" >&#xE415;</i>
</a>
<a ng-if="config.accionesUnitarias.verHtml" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Ver documento" ng-click="funcionesDte.verHtml(documento.febosId)">
    <i class="material-icons" >&#xE14D;</i>
</a>
<a ng-if="config.accionesUnitarias.verHtmlDnt" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Ver documento" ng-click="funcionesDte.verHtmlDnt(documento.febosId)">
    <i class="material-icons" >&#xE14D;</i>
</a>
<a ng-if="config.accionesUnitarias.verXml" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Ver XML" ng-click="verXML(documento.febosId, false)">
    <i class="material-icons" >&#xE861;</i>
</a>

<a ng-if="config.accionesUnitarias.verBitacora" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Ver Bitacora" ng-click="funcionesDte.verBitacora(documento)">
    <i class="material-icons" >&#xE896;</i>
</a>

<a ng-if="config.accionesUnitarias.verBitacoraDnt" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Ver Bitacora DNT" ng-click="funcionesDte.verBitacoraDnt(documento)">
    <i class="material-icons" >&#xE896;</i>
</a>

<a ng-if="config.accionesUnitarias.enviarDte" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Enviar DTE" ng-click="funcionesDte.enviarDteModal(documento)">
    <i class="material-icons" >&#xE0BE;</i>
</a>

<a ng-if="config.accionesUnitarias.registrarInfoPago" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Registrar Info. Pago" ng-click="modalCrearInfoPago(documento.febosId)">
    <i class="material-icons" >&#xE150;</i>
</a>

<a ng-if="config.accionesUnitarias.modificarInfoPago" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Modificar Info. Pago" ng-click="modalModificarInfoPago(documento)">
    <i class="material-icons" >&#xE923;</i>
</a>
<a ng-if="config.accionesUnitarias.verAntotacionesSii" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Historial Anotaciones SII" ng-click="consultarHistorialEnSii(documento.febosId)">
    <i class="material-icons" >&#xE24F;</i>
</a>

<a ng-if="config.accionesUnitarias.asociarOC" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Asociar Orden de Compra" ng-click="modalCargaOrdenCompra(documento.febosId)">
    <i class="material-icons" >&#xE864;</i>
</a>

<a ng-if="config.accionesUnitarias.asociarHES" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Asociar Hoja de Entrega de Servicio" ng-click="modalCargaHes(documento.febosId)">
    <i class="material-icons" >&#xe5d8;</i>
</a>

<a ng-if="config.accionesUnitarias.asociarHEM" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Asociar Recepción de Materiales" ng-click="modalCargaRecepcionMateriales(documento.febosId)">
    <i class="material-icons" >&#xe2c6;</i>
</a>
<a ng-if="config.accionesUnitarias.reencolarRecepcion" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Verificar" ng-click="verificar(documento.febosId)">
    <i class="material-icons" >&#xE863;</i>
</a>
<a ng-if="config.accionesUnitarias.solicitarDte" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Solicitar DTE" ng-click="funcionesDte.solicitarDteModal(documento)">
    <i class="material-icons">&#xE0BE;</i>
</a>
<a ng-if="config.accionesUnitarias.consultaCesion" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Consultar Cesión" ng-click="funcionesDte.consultarEstadoCesionEnSii(documento)">
    <i class="material-icons">&#xE227;</i>
</a>
<a ng-if="config.accionesUnitarias.actualizarOCMP" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Actualizar OC" ng-click="funcionesDte.actualizarOCMP (documento)">
    <i class="material-icons" >&#xE5D5;</i>
</a>
<a ng-if="config.accionesUnitarias.suscripcionDte" data-uk-tooltip="{pos:'top',animation:'fade',cls:'long-text'}" title="Suscribirse" ng-click="funcionesDte.suscripcionModal (documento)">
    <i class="material-icons" >&#xE7F4;</i>
</a>