<div id="mdFrmCargaHes" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>

        <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
            <div class="md-card-content large-padding uk-position-relative" id="crear_okHES" style="display: none; width: 98%; text-align: center;">
                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>

                <h2 class="heading_b uk-text-success">El documento ha sido adjunto satisfactoriamente al documento</h2>
                <p>{{ mensaje_okHES}}</p>
            </div>


            <div id="crear_formHES">
                <div style="padding: 5px 0px 0px 37px;">
                    <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Asociar HES</h3>
                </div>

                <div style="padding: 24px 24px 30px;">
                    <div class="md-card-content">
                        <div class="">
                            <form enctype="multipart/form-data">
                                <div class="row">
                                    <h3 class="heading_a">Datos de Referencia</h3>

                                    <div class="uk-form-row">
                                        <label for="folioHes">Folio </label>
                                        <input class="md-input" type="text" id="folioHes" ng-model="hes.folioHes" md-input onKeypress="if (event.keyCode < 45 || event.keyCode > 57)
                                                                event.returnValue = false;" maxlength="30" />
                                    </div>

                                    <div class="uk-form-row">
                                        <label for="fechaHes">Fecha </label>
                                        <input class="md-input" type="text" id="fechaHes" md-input ng-model="hes.fechaHes" data-uk-datepicker="{weekstart:0, format:'YYYY-MM-DD', i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], weekdays: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa']}}" />
                                    </div>

                                    <div class="uk-form-row">
                                        <label for="razonHes">Razón </label>
                                        <input class="md-input" type="text" id="razonHes" ng-model="hes.razonHes" md-input maxlength="50" />
                                    </div>

                                    <br />

                                    <h3 class="heading_a">Carga de documentos...</h3>
                                    <span class="sub-heading">El documento que será cargado, deben ser en formato XML o PDF.</span>

                                    <div class="file-field input-field">
                                        <div class="md-btn md-btn-primary" style="width: 100%; padding: 1% 44% 1% 0%;">
                                            <input id="fileHES" type="file" multiple />
                                        </div>
                                    </div>    
                                </div>

                                <div class="uk-margin-medium-top">
                                    <a ng-click="cargarHes()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                        <span class="menu_icon" ng-if="textoCargarHES != 'CARGAR DOCUMENTO'">
                                            <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                        </span> 
                                        {{ textoCargarHES}}
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
            </div>
        </div>
    </div>
</div>