<div id="mdlConsultaEventosSii" class="uk-modal">
    <form name="form" novalidate>
        <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body">
            <a class="uk-modal-close uk-close"></a>

            <div class="uk-modal-header">
                <h3 class="uk-modal-title" style="color: #e4501e;">Consulta historial de eventos en el SII</h3>
            </div>

            <div class="uk-margin uk-grid-small uk-child-width-auto" ng-if="consultandoSii">
                <div class="uk-margin">
                    <i class="uk-icon-spinner uk-icon-medium uk-icon-spin" style="font-size: 22px"></i> Consultando documento...
                </div>
            </div>
            <div class="uk-margin uk-grid-small uk-child-width-auto" ng-if="!consultandoSii">
                <table class="uk-table uk-table-nowrap uk-table-hover">
                    <thead>
                        <tr>
                            <th><b>Evento</b></th>
                            <th><b>Fecha</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="historialSii.length == 0">
                            <td colspan="2">Sin eventos registrados en el SII</td>
                        </tr>
                        <tr ng-repeat="evento in historialSii">
                            <td>{{ evento.descEvento}}</td>
                            <td>{{ evento.fechaEvento}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="uk-modal-footer  uk-text-right" style="margin-right: 40px;">
                <p>
                    <i class="material-icons">&#xE88F;</i>
                    <label style="font-size:90%">Esta información esta siendo proporcionada directamente por el SII.</label>
                </p>
            </div>
            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%; z-index: 10;" class="ng-scope" />
        </div>
    </form>
</div> 