<div id="mdlConsultaSii" class="uk-modal">
    <form name="form" novalidate>
        <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body">
            <a class="uk-modal-close uk-close"></a>

            <div class="uk-modal-header">
                <h3 class="uk-modal-title" style="color: #e4501e;">Consulta documento en el SII</h3>
            </div>

            <div class="uk-margin uk-grid-small uk-child-width-auto" ng-if="consultandoSii">
                <div class="uk-margin">
                    <i class="uk-icon-spinner uk-icon-medium uk-icon-spin" style="font-size: 22px"></i> Consultando documento...
                </div>
            </div>
            <div class="uk-margin uk-grid-small uk-child-width-auto" ng-if="!consultandoSii">
                <div class="uk-margin" ng-if="estadoSiiDocumento.estaEnElSii == true">
                    <p>
                        <i class="material-icons" style="color: green">&#xE5CA;</i>
                        <label>El documento se encuntra recibido por el SII</label>
                    </p>
                    <p>
                        <i class="material-icons">&#xE88F;</i>
                        <label>{{estadoSiiDocumento.glosa}}</label>
                    </p>
                </div>

                <div class="uk-margin" ng-if="estadoSiiDocumento.estaEnElSii == false">
                    <p>
                        <i class="material-icons" style="color: red">&#xE002;</i>
                        <label ng-if="estadoSiiDocumento.glosa.indexOf('respondido') == -1">El documento no se encuentra recibido por el SII</label>
                        <label ng-if="estadoSiiDocumento.glosa.indexOf('respondido') > 0">Error</label>
                    </p>
                    <p>
                        <i class="material-icons">&#xE88F;</i>
                        <label>{{estadoSiiDocumento.glosa}}</label>
                    </p>
                </div>
            </div>

            <div class="uk-modal-footer  uk-text-right" style="margin-right: 40px;">
                <p>
                    <i class="material-icons">&#xE88F;</i>
                    <label style="font-size:90%">Esta información esta siendo proporcionada directamente por el SII.</label>
                </p>
            </div>
            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%; z-index: 10;" class="ng-scope" />
        </div>
    </form>
</div>  