<div id="mdCrearInfoPago" class="uk-modal" style="margin: 0 auto;">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>

        <div id="md-card-content crear_card" style="width: 100%; margin: 0 auto;">
            <div class="md-card-content large-padding uk-position-relative" id="crear_okIP" style="display: none; width: 95%; margin: 0 auto; text-align: center;">
                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login" ng-click="backToCrear($event)"></button>
                <h2 class="heading_b uk-text-success">Se a registrado satisfactoriamente la información de pago</h2>
                <p>{{ mensaje_okIP}}</p>
            </div>

            <div id="crear_formIP">
                <div style="padding: 5px 0px 0px 15px;">
                    <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Registrar Información de Pago</h3>
                </div>

                <div class="md-card-content">
                    <div class="row">
                        <form>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-2-2" style="padding: 0px 0px 30px 35px;">
                                    <h3 class="heading_a">
                                        Ingreso de información de pagos...
                                        <span class="sub-heading">Los que presentan el asterisco rojo, son campos obligatorios ( <span style="color: red;"> * </span> )</span>
                                    </h3>
                                </div>

                                <br /><br />

                                <div class="uk-width-medium-1-2">
                                    <div class="uk-form-row">
                                        <label for="tipox">Tipo <span style="color: red;"> * </span></label>
                                        <p>
                                            <input type="radio" name="tipoIP" id="tipo1IP" icheck ng-model="tipoIP" value="1" />
                                            <label for="tipo1IP" class="inline-label">Compromiso</label>
                                        </p>

                                        <p>
                                            <input type="radio" name="tipoIP" id="tipo2IP" icheck ng-model="tipoIP" value="2" />
                                            <label for="tipo2IP" class="inline-label">Pago</label>
                                        </p>
                                    </div>

                                    <div class="uk-form-row" style="margin-top: 36px;">
                                        <label for="fechaIP">Fecha <span style="color: red;"> * </span></label>
                                        <input class="md-input" type="text" id="fechaIP" md-input ng-model="fechaIP" data-uk-datepicker="{weekstart:0, format:'DD-MM-YYYY', i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], weekdays: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa']}}" />
                                    </div>
                                </div>

                                <div class="uk-width-medium-1-2">
                                    <div class="uk-form-row">
                                        <label for="montoIP">Monto <span style="color: red;"> * </span></label>
                                        <input class="md-input" type="number" id="montoIP" ng-model="montoIP" onKeypress="if (event.keyCode < 45 || event.keyCode > 57)
                                                                event.returnValue = false;" md-input maxlength="10" />
                                    </div>

                                    <div class="uk-form-row">
                                        <label for="medioIP">Medio Pago <span style="color: red;"> * </span></label>
                                        <select class="md-input" type="select" id="medioIP" ng-model="medioIP" md-input>
                                            <option value="0">Seleccione...</option>
                                            <option value="CH">Cheque</option>
                                            <option value="CF">Cheque a Fecha</option>
                                            <option value="LT">Letra</option>
                                            <option value="EF">Efectivo</option>
                                            <option value="PE">Pago a Cta. Cte.</option>
                                            <option value="TC">Tarjeta Crédito</option>
                                            <option value="VV">Vale vista</option>
                                            <option value="CO">Confirming</option>
                                            <option value="OT">Otro</option>
                                        </select>
                                    </div>

                                    <div class="uk-form-row">
                                        <label for="lugarIP">Lugar <span style="color: red;"> * </span></label>
                                        <input class="md-input" type="text" id="lugarIP" ng-model="lugarIP" md-input maxlength="50" />
                                    </div> 
                                </div>
                            </div>

                            <div class="uk-width-medium-2-2">
                                <div class="uk-form-row" style="margin-top: 36px;">
                                    <label for="comentarioIP">Comentario <span style="color: red;"> * </span></label>
                                    <textarea cols="30" rows="2" class="md-input" ng-model="comentarioIP" md-input textarea-autosize maxlength="150"></textarea>
                                </div>
                            </div>

                            <input class="md-input" type="hidden" id="febosidIP" ng-model="febosidIP" md-input />

                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-margin-medium-top">
                                    <a ng-click="registraInfoPago()" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                        <span class="menu_icon" ng-if="textoCargarIP != 'CREAR INFORMACION'">
                                            <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
                                        </span> 
                                        {{ textoCargarIP}}
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
            </div>
        </div>
    </div>  
</div>