<div id="mdlEnviarDte" class="uk-modal" style="margin: 0 auto;">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>

        <div id="md-card-content modificar_card" style="width: 100%; margin: 0 auto;">

            <div id="modificar_formIP">
                <div style="padding: 5px 0px 0px 15px;">
                    <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Enviar DTE por correo electrónico</h3>
                </div>

                <div class="md-card-content">
                    <div class="row">
                        <form>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-2-2" style="padding: 0px 0px 30px 35px;">
                                    <h3 class="heading_a">
                                        <span class="sub-heading">Los que presentan el asterisco rojo, son campos obligatorios ( <span style="color: red;"> * </span> )</span>
                                    </h3>
                                </div>


                                <div class="uk-width-medium-1-1">
                                    <div class="uk-form-row" style="margin-top: 36px;">
                                        <label for="contacto">Destinatario <i style="font-size: 10px">(ej: msalas@correo.com)</i><span style="color: red;"> * </span></label>
                                        <input class="md-input" type="text" id="contacto" md-input ng-model="funcionesDte.datos.destinatario"/>
                                    </div>

                                    <div class="uk-form-row" style="margin-top: 36px; margin-bottom: 10px;">
                                        <input icheck type="checkbox" id="adjuntar" ng-model="funcionesDte.datos.adjuntarXML" ng-true-value="'si'" ng-false-value="'no'" />
                                        <label for="checkbox_demo_4" class="inline-label">Adjuntar XML</label>
                                        <br>
                                        <input icheck type="checkbox" id="adjuntar" ng-model="funcionesDte.datos.adjuntarPDF" ng-true-value="'si'" ng-false-value="'no'" />
                                        <label for="checkbox_demo_4" class="inline-label">Adjuntar PDF</label>
                                        <br>
                                        <i style="font-size: 10px">(Debe seleccionar al menos uno)</i><span style="color: red;"> * </span><br>
                                        <input icheck type="checkbox" id="recibirCopia" ng-model="funcionesDte.datos.recibirCopia" ng-true-value="'si'" ng-false-value="'no'" />
                                        <label for="checkbox_demo_4" class="inline-label">Recibir Copia</label>
                                    </div>

                                </div>

                                <div class="uk-width-medium-1-1">
                                    <div class="uk-form-row">
                                        <label for="copias">Con Copia a Otros <i style="font-size: 10px">(ej: jperez@gmail.com,pjdiego@empresa.com,supervisor@mail.com)</i></label>
                                        <input class="md-input" type="text" id="montoIP" ng-model="funcionesDte.datos.copias" md-input />
                                    </div>
                                </div>
                            </div>

                            <div class="uk-width-medium-2-2">
                                <div class="uk-form-row" style="margin-top: 36px;">
                                    <label for="mensaje">Mensaje</label>
                                    <textarea cols="30" rows="2" class="md-input" ng-model="funcionesDte.datos.mensaje" md-input textarea-autosize maxlength="150"></textarea>
                                </div>

                            </div>

                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-margin-medium-top">
                                    <a  class="md-btn md-btn-primary md-btn-block md-btn-large" ng-if="funcionesDte.cargando">
                                        <span class="menu_icon" >
                                            <i style="font-size: 20px; vertical-align: middle; color: white;" class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> Enviando correo
                                        </span> 
                                    </a>


                                    <a ng-click="funcionesDte.enviarDte()" ng-if="!funcionesDte.cargando" ng-show="(funcionesDte.datos.adjuntarPDF == 'si' || funcionesDte.datos.adjuntarXML == 'si')" class="md-btn md-btn-primary md-btn-block md-btn-large">
                                        <span class="menu_icon">
                                            Enviar DTE
                                        </span> 
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />
            </div>
        </div>
    </div>  
</div>