<div id="mdlConsultaCesionSii" class="uk-modal">
    <form name="form" novalidate>
        <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body">
            <a class="uk-modal-close uk-close"></a>

            <div class="uk-modal-header">
                <h3 class="uk-modal-title" style="color: #e4501e;">Estado de cesión en el SII</h3>
            </div>

            <div class="uk-margin uk-grid-small uk-child-width-auto" ng-if="funcionesDte.consultandoSii">
                <div class="uk-margin">
                    <i class="uk-icon-spinner uk-icon-medium uk-icon-spin" style="font-size: 22px"></i> Consultando documento...
                </div>
            </div>
            <div class="uk-margin uk-grid-small uk-child-width-auto" ng-if="!funcionesDte.consultandoSii">
                <span ng-if="funcionesDte.estaCedido">Este documento se encuentra <b>CEDIDO</b></span>
                <span ng-if="!funcionesDte.estaCedido">Este documento no ha sido cedido</span>
            </div>

            <div class="uk-modal-footer  uk-text-right" style="margin-right: 40px;">
                <p>
                    <i class="material-icons">&#xE88F;</i>
                    <label style="font-size:90%">Esta información esta siendo proporcionada directamente por el SII.</label>
                </p>
            </div>
            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%; z-index: 10;" class="ng-scope" />
        </div>
    </form>
</div> 