<!-- inicio modal formulario comentarios-->
<div id="mdFormularioComentarios" class="uk-modal" style="margin: 0 auto;">
    <form name="form" novalidate>
        <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body">
            <a class="uk-modal-close uk-close"></a>

            <div class="uk-modal-header">
                <h3 class="uk-modal-title" style="color: #e4501e;">Comentarios</h3>
            </div>

            <div class="uk-modal-body">
                <div class="uk-form-row">
                    <textarea cols="80" rows="10" placeholder="ingrese comentario"></textarea>
                </div>
                <div class="uk-form-row" style="margin-right: 40px;">
                    <label for="visibilidad">Visibilidad </label>
                    <div class="uk-button uk-form-select" data-uk-form-select>
                        <span></span>
                        <select>
                            <option value="1">Solo Yo</option>
                            <option value="2">Usuarios de la empresa emisora</option>
                            <option value="3">Usuarios de la empresa receptora</option>
                            <option value="4">Todos</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="uk-modal-footer  uk-text-right" style="margin-right: 40px;" >
                <button class="uk-button uk-button-primary" type="button">Enviar</button>
            </div>

            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%; z-index: 10;" class="ng-scope" />
        </div>
    </form>
</div>
