<div id="mdlRechazarMasivo" class="uk-modal">
    <form name="form" novalidate>
        <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body">
            <a class="uk-modal-close uk-close"></a>

            <div class="uk-modal-header">
                <h3 class="uk-modal-title" style="color: #e4501e;">Rechazo Masivo de Documentos</h3>
            </div>

            <div class="uk-modal-body">
                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" ng-if="!$parent.esMisRecibidos">
                    <label data-uk-tooltip="{pos:'top',animation:'fade'}" title="Notificar al SII">
                        <input id="chkbxVincular" class="uk-checkbox" type="checkbox" ng-model="funcionesDte.scope.vincularSii" /> Vincular al Sii
                    </label>
                </div>
                <div class="uk-margin uk-grid-small uk-child-width-auto">
                    <label ng-show="!$parent.esMisRecibidos">
                        <input class="uk-radio" type="radio" name="radioReclamo" ng-model="funcionesDte.scope.reclamo" value="RFP"/> Reclamo por Falta 
                        <span style="font-weight: bold;">PARCIAL</span> de Mercadería

                        <br />

                        <span style="position:absolute; left: 24px; margin-top: 0px;">
                            <input class="uk-radio" type="radio" name="radioReclamo" ng-model="funcionesDte.scope.reclamo" value="RFT" /> Reclamo por Falta 
                            <span style="font-weight: bold;">TOTAL</span> de Mercadería
                        </span>

                        <br />

                        <span style="position: absolute; left: 24px; margin-top: 0px;">  
                            <input class="uk-radio" type="radio" name="radioReclamo" ng-model="funcionesDte.scope.reclamo" value="RCD" checked="checked" /> Rechazo Comercial 
                        </span>
                    </label>

                    <br /><br />

                    <label>Motivo:</label>
                    <div class="uk-margin">
                        <textarea id="txtarMotivo" name="txtarMotivo" ng-model="funcionesDte.scope.motivo" class="uk-textarea uk-grid-width-1-1 uk-width-expand" rows="5" placeholder="Especifíque motivo de rechazo..." required ng-maxlength="200" ng-minlength="6"></textarea>

                        <span ng-show="form.txtarMotivo.$error.required && !form.txtarMotivo.$pristine" style="font-size: x-small; color: red;">Campo Requerido!</span>
                        <span ng-show="form.txtarMotivo.$error.maxlength && !form.txtarMotivo.$pristine" style="font-size: x-small; color: red;">Campo motivo debe ser menor a 200 caracteres... </span>
                        <span ng-show="form.txtarMotivo.$error.minlength && !form.txtarMotivo.$pristine" style="font-size: x-small; color: red;">Campo motivo debe ser mayor a 6 caracteres... </span>
                    </div>
                </div>

            </div>

            <div class="uk-modal-footer  uk-text-right" style="margin-right: 40px;" >
                <p ng-if="!$parent.esMisRecibidos">
                    <i class="material-icons">&#xE88F;</i>
                    <label>Atención: "Vincular al Sii", es una acción que <span style="font-weight: bold;">NO</span> es posible reversar </label>
                </p>

                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                <button ng-if="!loadingRechazarMasivoBoton" class="uk-button uk-button-primary" type="button"  ng-disabled="form.$invalid" ng-click="funcionesDte.rechazarMasivamenteAccion(seleccionFilas)">  Rechazar Documentos</button>
                <button ng-if="loadingRechazarMasivoBoton" class="uk-button uk-button-primary" type="button"><i style="color: white;" class="uk-icon-spinner uk-icon-spin"></i> Procesando...</button>

            </div>

            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%; z-index: 10;" class="ng-scope" />
        </div>
    </form>
</div>  