<div id="mdlReciboMercaderiaMasivo" class="uk-modal">
    <form name="form" novalidate>
        <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-body">
            <a class="uk-modal-close uk-close"></a>

            <div class="uk-modal-header">
                <h3 class="uk-modal-title" style="color: #e4501e;">Emision de Recibo de Mercaderias Masivo</h3>
            </div>

            <div class="uk-modal-body">
                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" ng-if="!$parent.esMisRecibidos">
                    <label data-uk-tooltip="{pos:'top',animation:'fade'}" title="Notificar al SII">
                        <input id="chkbxVincular" class="uk-checkbox" type="checkbox" ng-model="funcionesDte.scope.vincularSii" /> Vincular al Sii
                    </label>
                </div>

                <div class="uk-margin uk-grid-small uk-child-width-auto">
                    <label>Recinto:</label>
                    <div class="uk-margin">
                        <input name="recinto" class="uk-input uk-grid-width-1-1 uk-width-expand" type="text" ng-model="funcionesDte.scope.recinto" placeholder="Inserte el Recinto" required />
                        <span ng-show="form.recinto.$error.required && !form.recinto.$pristine" style="font-size: x-small; color: red;">Campo Requerido!</span>
                    </div>
                </div>
            </div>

            <div class="uk-modal-footer  uk-text-right" style="margin-right: 40px;" >
                <p ng-if="!$parent.esMisRecibidos">
                    <i class="material-icons">&#xE88F;</i>
                    <label>Atención: "Vincular al Sii", es una acción que <span style="font-weight: bold;">NO</span> es posible reversar </label>
                </p>


                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                <button ng-if="!loadingRechazarMasivoBoton" class="uk-button uk-button-primary" type="button"  ng-disabled="form.$invalid" ng-click="funcionesDte.recibirMercaderiaMasivamenteAccion(seleccionFilas)">  Emitir Recibos</button>
                <button ng-if="loadingRechazarMasivoBoton" class="uk-button uk-button-primary" type="button"><i style="color: white;" class="uk-icon-spinner uk-icon-spin"></i> Procesando...</button>


            </div>

            <img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%; z-index: 10;" class="ng-scope" />
        </div>
    </form>
</div>  