<!--inicio modal suscripciones-->
    <div id="modalSuscripciones" class="uk-modal" style="margin: 0 auto;">
        <div class="uk-modal-dialog uk-modal-dialog-large" style="width: 35%;">
            <div align="right"><a class="uk-modal-close uk-close" ng-click="backToCrear($event)"></a></div>

            <div class="uk-grid" data-uk-grid-margin style="padding-bottom: 5px;">
                <div class="uk-width-medium-2-2">
                    <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Suscripcion de {{funcionesDte.suscripcionData.usuarioNombre}} </h3>
                <span class="uk-text-muted uk-text-small">al documento FebosId: {{funcionesDte.suscripcionData.documento.febosId}}</span>

                </div>

                <div class="md-card-content uk-width-medium-1-1" style="padding: 30px">
                    <div ng-if="!funcionesDte.suscripcionData.cargandoSuscripciones">
                        <table class="uk-table uk-table-nowrap" >
                            <tbody>
                                <tr>
                                    <td style="border-bottom-style: none; width: 50%;">
                                        <div class="uk-input-group uk-width-medium-1-1">
                                            
                                            <label for="tipos_evento-selectized">Seleccione el tipo de evento que desea</label>
                                            <selectize id="tipos_evento" config="funcionesDte.suscripcionData.selectize" options="funcionesDte.suscripcionData.tiposDeEvento" position="bottom" ng-model="funcionesDte.suscripcionData.tipo" class="ng-pristine ng-untouched ng-valid ng-isolate-scope selectized ng-empty ng-valid-required" tabindex="-1" style="display: none;" value=""></selectize><div class="selectize_fix"></div>
                                        </div>                                                    
                                    </td>
                                </tr>                                
                                <tr>
                                    <td style="border-bottom-style: none;">
                                        <div class="uk-input-group uk-width-medium-1-2">
                                        <p>                                                               
                                            <input type="checkbox" name="" id="checkbox_continuar" icheck="" ng-model="funcionesDte.suscripcionData.ncorreo" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style=""><ins class="iCheck-helper" style=""></ins>
                                            <label for="" class="inline-label">Notificar por Correo</label>
                                        </p>
                                        <p>
                                            <input type="checkbox" name="" id="checkbox_continuar" icheck="" ng-model="funcionesDte.suscripcionData.ntelegram" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style=""><ins class="iCheck-helper" style=""></ins>
                                            <label for="" class="inline-label">Notificar por Telegram</label>
                                        </p>
                                        <p>                                                               
                                            <input type="checkbox" name="" id="checkbox_activa" icheck="" ng-model="funcionesDte.suscripcionData.ninterno" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty"  style="" ><ins class="iCheck-helper" style="" ng-disabled="true"></ins>
                                            <label for="" class="inline-label">Notificar por Interno</label>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="uk-float-right">
                            <tr>
                                <td>
                                    <button class="md-btn md-btn-primary uk-float-right" type="submit" ng-click="funcionesDte.cancelarSuscripcion()">Cancelar</button>
                                </td>
                                <td>
                                    <button class="md-btn md-btn-primary uk-float-right" type="submit" ng-click="funcionesDte.enviarSuscripcion()"> <i ng-if="funcionesDte.suscripcionData.cargandoEnviarSuscripciones" class="uk-icon-spinner uk-icon-spin"></i> {{funcionesDte.suscripcionData.verboEnviar}}</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div ng-if="funcionesDte.suscripcionData.cargandoSuscripciones" style="text-align: center;">
                        <i class="uk-icon-spinner uk-icon-spin"></i> Buscando suscripcion...
                    </div>
                </div>
                
            </div>
        </div>
    </div>          
<!-- fin modal suscripciones-->