<!--inicio modal suscripciones-->
    <div id="modalSuscripciones" class="uk-modal" style="margin: 0 auto;">
        <div class="uk-modal-dialog uk-modal-dialog-large" style="width: 35%;">
            <div align="right"><a class="uk-modal-close uk-close" ng-click="backToCrear($event)"></a></div>

            <div class="uk-grid" data-uk-grid-margin style="padding-bottom: 5px;">
                <div class="uk-width-medium-2-2">
                    <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Suscripcion de {{suscripcion.usuarioNombre}} </h3>
                </div>

                <div class="md-card-content uk-width-medium-1-1" style="padding: 30px">
                    <div ng-if="!config.cargandoSuscripciones">
                        <table class="uk-table uk-table-nowrap" >
                            <tbody>
                                <tr>
                                    <td style="border-bottom-style: none;">
                                        <div class="uk-input-group uk-width-medium-1-2">
                                        <p>                                                               
                                            <input type="checkbox" name="" id="checkbox_activa" icheck="" ng-model="suscripcion.ninterno" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty"  style="" ><ins class="iCheck-helper" style=""></ins>
                                            <label for="" class="inline-label">Notificar por Interno</label>
                                        </p>
                                        <p>                                                               
                                            <input type="checkbox" name="" id="checkbox_continuar" icheck="" ng-model="suscripcion.ncorreo" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style=""><ins class="iCheck-helper" style=""></ins>
                                            <label for="" class="inline-label">Notificar por Correo</label>
                                        </p>
                                        <p>
                                            <input type="checkbox" name="" id="checkbox_continuar" icheck="" ng-model="suscripcion.ntelegram" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style=""><ins class="iCheck-helper" style=""></ins>
                                            <label for="" class="inline-label">Notificar por Telegram</label>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="uk-float-right">
                            <tr>
                                <td>
                                    <button class="md-btn md-btn-primary uk-float-right" type="submit" ng-click="cancelarSuscripciones()">Cancelar</button>
                                </td>
                                <td>
                                    <button class="md-btn md-btn-primary uk-float-right" type="submit" ng-click="enviarSuscripciones()"> <i ng-if="suscripcion.cargandoEnviarSuscripciones" class="uk-icon-spinner uk-icon-spin"></i> {{suscripcion.verboEnviar}}</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div ng-if="config.cargandoSuscripciones" style="text-align: center;">
                        <i class="uk-icon-spinner uk-icon-spin"></i> Buscando suscripcion...
                    </div>
                </div>
                
            </div>
        </div>
    </div>          
<!-- fin modal suscripciones-->