<div id="mdVerDetalles" class="uk-modal" style="margin: 0 auto;">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="width: 50%;">
        <div align="right"><a class="uk-modal-close uk-close" ng-click="backToCrear($event)"></a></div>

        <div class="uk-grid" data-uk-grid-margin style="padding-bottom: 5px;">
            <div class="uk-width-medium-2-2">
                <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Detalles del Documento. [Folio {{ funcionesDte.documento.folio}}]</h3>
            </div>
        
        <div class="md-card-content" style="padding: 30px">
            <div>
                <table cellpadding="4">
                    <tr><td>FEBOSID</td><td style="width: 30px">&nbsp;</td><td>{{ funcionesDte.documento.febosId}}</td></tr>
                    <tr>
                        <td>TIPO DOCUMENTO</td><td style="width: 30px">&nbsp;</td><td>
                            <div class="uk-form-row" ng-if="funcionesDte.documento.tipoDocumento == 33">({{ funcionesDte.documento.tipoDocumento}}) Factura Afecta Electrónica</div>
                            <div class="uk-form-row" ng-if="funcionesDte.documento.tipoDocumento == 34">({{ funcionesDte.documento.tipoDocumento}}) Factura Exenta Electrónica</div>
                            <div class="uk-form-row" ng-if="funcionesDte.documento.tipoDocumento == 43">({{ funcionesDte.documento.tipoDocumento}}) Factura Liquidación Electrónica</div>
                            <div class="uk-form-row" ng-if="funcionesDte.documento.tipoDocumento == 46">({{ funcionesDte.documento.tipoDocumento}}) Factura Compra Electrónica</div>
                            <div class="uk-form-row" ng-if="funcionesDte.documento.tipoDocumento == 110">({{ funcionesDte.documento.tipoDocumento}}) Factura Exportación Electrónica</div>
                            <div class="uk-form-row" ng-if="funcionesDte.documento.tipoDocumento == 39">({{ funcionesDte.documento.tipoDocumento}}) Boleta Afecta Electrónica</div>
                            <div class="uk-form-row" ng-if="funcionesDte.documento.tipoDocumento == 41">({{ funcionesDte.documento.tipoDocumento}}) Boleta Exenta Electrónica</div>
                            <div class="uk-form-row" ng-if="funcionesDte.documento.tipoDocumento == 52">({{ funcionesDte.documento.tipoDocumento}}) Guía de Depacho Electrónica</div>
                            <div class="uk-form-row" ng-if="funcionesDte.documento.tipoDocumento == 56">({{ funcionesDte.documento.tipoDocumento}}) Nota de Débito Electrónica</div>
                            <div class="uk-form-row" ng-if="funcionesDte.documento.tipoDocumento == 61">({{ funcionesDte.documento.tipoDocumento}}) Nota de Crédito Electrónica</div>
                            <div class="uk-form-row" ng-if="funcionesDte.documento.tipoDocumento == 111">({{ funcionesDte.documento.tipoDocumento}}) Nota de Débito Exportación Electrónica</div>
                            <div class="uk-form-row" ng-if="funcionesDte.documento.tipoDocumento == 112">({{ funcionesDte.documento.tipoDocumento}}) Nota de Crédito Exportación Electrónica</div>
                        </td>
                    </tr>
                    <tr><td>RUT EMISOR</td><td style="width: 30px">&nbsp;</td><td>{{ funcionesDte.documento.rutEmisor}}</td></tr>
                    <tr><td>RAZÓN SOCIAL</td><td style="width: 30px">&nbsp;</td><td>{{ funcionesDte.documento.razonSocialEmisor}}</td></tr>
                    <tr><td>FECHA EMISIÓN</td><td style="width: 30px">&nbsp;</td><td>{{ funcionesDte.documento.fechaEmision}}</td></tr>
                    <tr><td>FECHA RECEPCIÓN SII</td><td style="width: 30px">&nbsp;</td><td>{{ funcionesDte.documento.fechaRecepcionSii}}</td></tr>
                    <tr><td>MONTO TOTAL</td><td style="width: 30px">&nbsp;</td><td>${{ funcionesDte.documento.montoTotal}}</td></tr>
                    <tr><td>ESTADO COMERCIAL</td><td style="width: 30px">&nbsp;</td><td><div class="uk-form-row" ng-if="funcionesDte.documento.estadoComercial == '' || funcionesDte.documento.estadoComercial == 0">
                            SIN ACCIÓN
                        </div>
                        <div class="uk-form-row" ng-if="funcionesDte.documento.estadoComercial == 1">
                            ACEPTADO
                        </div>

                        <div class="uk-form-row" ng-if="funcionesDte.documento.estadoComercial == 2">
                            ACEPTADO SII
                        </div>

                        <div class="uk-form-row" ng-if="funcionesDte.documento.estadoComercial == 3">
                            PRE-RECHAZADO
                        </div>

                        <div class="uk-form-row" ng-if="funcionesDte.documento.estadoComercial == 4">
                            RECHAZADO SII
                        </div>

                        <div class="uk-form-row" ng-if="funcionesDte.documento.estadoComercial == 5">
                            RECLAMO PARCIAL SII
                        </div>

                        <div class="uk-form-row" ng-if="funcionesDte.documento.estadoComercial == 6">
                            RECLAMO TOTAL SII
                        </div>

                        <div class="uk-form-row" ng-if="funcionesDte.documento.estadoComercial == 7">
                            RECIBO DE MERCADERIAS SII
                        </div>

                        <div class="uk-form-row" ng-if="funcionesDte.documento.estadoComercial == '-'">
                            SIN INFORMACIÓN
                        </div></td></tr>
                    <tr><td>RECIBO MERCADERÍA</td><td style="width: 30px">&nbsp;</td><td>{{ funcionesDte.documento.fechaReciboMercaderia}}</td></tr>
                    <tr><td>SOLICITANTE</td><td style="width: 30px">&nbsp;</td><td>{{ funcionesDte.documento.contacto}}</td></tr>
                    <tr><td>CORREO SOLICITANTE</td><td style="width: 30px">&nbsp;</td><td>{{ funcionesDte.documento.correoReceptor}}</td></tr>
                </table>
                </div>

            </div>

        </div>

        <!--<img src="assets/img/foot.png" style="position: fixed; bottom: 0%; right: 0px; width: 14%;" class="ng-scope" />-->
        <!-- inicio info referencia (dte)-->

        <div class="md-card md-card-collapsed" style="margin-top: 0px;" ng-if="funcionesDte.scope.config.origen != 'honorarios'">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions">
                    <card-toggle></card-toggle>
                </div>

                <h3 class="md-card-toolbar-heading-text">Documentos Tributarios Electrónicos (DTE)</h3>
            </div>

            <div class="md-card-content">
                <table class="uk-table uk-table-nowrap uk-table-hover">
                        <thead>
                            <!-- <tr>
                                <td colspan="9" style="text-align: center;"><i class="uk-icon-spinner uk-icon-spin"></i> Buscando documentos ...</td>
                            </tr>-->
                            <tr>
                                <th class="uk-width-2-10 uk-text-center">Febos ID</th>
                                <th class="uk-width-1-10 uk-text-center">Tipo</th>
                                <th class="uk-width-1-10 uk-text-center">Folio</th>
                                <th class="uk-width-1-10 uk-text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="funcionesDte.loadingReferencias">
                                <td colspan="4" style="text-align: center;"><i class="uk-icon-spinner uk-icon-spin"></i> Buscando documentos...</td>
                            </tr>

                            <tr ng-if="!funcionesDte.loadingReferencias && funcionesDte.documento.referenciasDte.length == 0">
                                <td colspan="4" style="text-align: center;">No se encontró ningún documento electrónico referenciado.</td>
                            </tr>
                            
                            <tr ng-show="!funcionesDte.loadingReferencias" ng-repeat="referencia in funcionesDte.documento.referenciasDte track by $index" id="documentox_{{referencia.febosId}}">
                                <td style="text-align: center;">{{referencia.febosId}}</td>
                                <td style="text-align: center;">{{referencia.tipoDocumentoReferencia}}</td>
                                <td style="text-align: center;">{{referencia.folioReferencia}}</td>
                                <td style="text-align: center"><i class="material-icons" style="cursor: pointer;" ng-click="verPDF(referencia.febosId)" ng-show="referencia.febosId">&#xE2C0;</i></td>

                            </tr>
                        </tbody>
                    </table>
                
            </div>
        </div>
        <!--fin referencia-->
        <!-- inicio info referencia (dnt)-->
        <div class="md-card md-card-collapsed" style="margin-top: 0px;" ng-if="funcionesDte.scope.config.origen != 'honorarios'">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions">
                    <card-toggle></card-toggle>
                </div>

                <h3 class="md-card-toolbar-heading-text">Otro tipo de documentos electrónicos</h3>
            </div>

            <div class="md-card-content">
                <table class="uk-table uk-table-nowrap uk-table-hover">
                        <thead>
                            <!-- <tr>
                                <td colspan="9" style="text-align: center;"><i class="uk-icon-spinner uk-icon-spin"></i> Buscando documentos ...</td>
                            </tr>-->
                            <tr>
                                <th class="uk-width-2-10 uk-text-center">Febos ID</th>
                                <th class="uk-width-1-10 uk-text-center">Tipo</th>
                                <th class="uk-width-1-10 uk-text-center">Folio</th>
                                <th class="uk-width-1-10 uk-text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="funcionesDte.loadingReferencias">
                                <td colspan="4" style="text-align: center;"><i class="uk-icon-spinner uk-icon-spin"></i> Buscando documentos...</td>
                            </tr>

                            <tr ng-if="!funcionesDte.loadingReferencias && funcionesDte.documento.referenciasDnt.length == 0">
                                <td colspan="4" style="text-align: center;">No se encontró ningún documento no tributario referenciado.</td>
                            </tr>
                            
                            <tr ng-show="!funcionesDte.loadingReferencias" ng-repeat="referencia2 in funcionesDte.documento.referenciasDnt track by $index" id="documentox_{{referencia2.febosId}}">
                                <td style="text-align: center;">{{referencia2.febosId}}</td>
                                <td style="text-align: center;">{{referencia2.tipoDocumentoReferencia}}</td>
                                <td style="text-align: center;">{{referencia2.folioReferencia}}</td>
                                <td style="text-align: center"><i class="material-icons" style="cursor: pointer;" ng-click="verPDFDnt(referencia2.febosId)" ng-show="referencia2.febosId">&#xE2C0;</i></td>
                            </tr>
                        </tbody>
                    </table>
                
            </div>
        </div>
        <!--fin referencia-->

    </div>
</div>