<div id="mdVerInformacionPago" class="uk-modal" data-uk-modal="bgclose:false">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div align="right"><a class="uk-modal-close uk-close"></a></div>

        <div style="padding: 5px 0px 0px 37px;">
            <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Ver información de pago</h3>
             <div class="uk-margin uk-grid-small uk-child-width-auto" ng-if="funcionesDte.cargandoInformacion">
                        <div class="uk-margin">
                            <i class="uk-icon-spinner uk-icon-medium uk-icon-spin" style="font-size: 22px"></i> Cargando información...
                        </div>
            </div>
        </div>

        <!--<div style="cursor: pointer; float: right;" ng-click="verBitacoraComoLista =! verBitacoraComoLista">Ver como <span ng-if="!verBitacoraComoLista">lista</span> <span ng-if="verBitacoraComoLista">linea de tiempo</span></div>-->

        <!-- inicio popup formulario -->

        <!-- fin popup formulario -->

        <!-- inicio info pago -->
        <div class="md-card md-card-collapsed">
            <div class="md-card-content">
                <table class="uk-table uk-table-nowrap">
                    <tbody>
                        <tr>
                            <td style="border-bottom-style: none;">
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-3-5 uk-width-small-4-5">
                                        <h4 class="heading_a uk-margin-small-bottom">Tipo</h4>
                                        <p class="uk-margin-remove" ng-if="funcionesDte.documentoInfo.tipo == 1">Compromiso</p>
                                        <p class="uk-margin-remove" ng-if="funcionesDte.documentoInfo.tipo == 2">Enviado a pago</p>
                                        <p class="uk-margin-remove" ng-if="funcionesDte.documentoInfo.tipo == 3">Pagado</p>
                                        <p class="uk-margin-remove" ng-if="funcionesDte.documentoInfo.tipo == 4">Cobrado</p>
                                        <p class="uk-margin-remove" ng-if="funcionesDte.documentoInfo.tipo == 5">No Pagado</p>

                                    </div>
                                </div>
                            </td>

                            <td style="border-bottom-style: none;">
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-3-5 uk-width-small-4-5">
                                        <h4 class="heading_a uk-margin-small-bottom">Monto</h4>
                                        <p class="uk-margin-remove">${{ funcionesDte.documentoInfo.montoInfoPago.toLocaleString('de-DE') }}</p>
                                    </div>
                                </div>
                            </td>                                    
                        </tr>

                        <tr>
                            <td style="border-bottom-style: none;">
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-3-5 uk-width-small-4-5">
                                        <h4 class="heading_a uk-margin-small-bottom">Fecha</h4>
                                        <p class="uk-margin-remove">{{ funcionesDte.documentoInfo.fecha}}</p>
                                    </div>
                                </div>
                            </td>

                            <td style="border-bottom-style: none;">
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-3-5 uk-width-small-4-5">
                                        <h4 class="heading_a uk-margin-small-bottom">Lugar</h4>
                                        <p class="uk-margin-remove">{{ funcionesDte.documentoInfo.lugar}}</p>
                                    </div>
                                </div>
                            </td>                                          
                        </tr>

                        <tr>
                            <td style="border-bottom-style: none;">
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-3-5 uk-width-small-4-5">
                                        <h4 class="heading_a uk-margin-small-bottom">Medio</h4>
                                        <p class="uk-margin-remove"  ng-if="funcionesDte.documentoInfo.medio == 'CH'">Cheque</p>
                                        <p class="uk-margin-remove"  ng-if="funcionesDte.documentoInfo.medio == 'CF'">Cheque a Fecha</p>
                                        <p class="uk-margin-remove"  ng-if="funcionesDte.documentoInfo.medio == 'LT'">Letra</p>
                                        <p class="uk-margin-remove"  ng-if="funcionesDte.documentoInfo.medio == 'EF'">Efectivo</p>
                                        <p class="uk-margin-remove"  ng-if="funcionesDte.documentoInfo.medio == 'PE'">Pago a Cta. Cte.</p>
                                        <p class="uk-margin-remove"  ng-if="funcionesDte.documentoInfo.medio == 'TC'">Tarjeta Crédito</p>
                                        <p class="uk-margin-remove"  ng-if="funcionesDte.documentoInfo.medio == 'VV'">Vale vista</p>
                                        <p class="uk-margin-remove"  ng-if="funcionesDte.documentoInfo.medio == 'CO'">Confirming</p>
                                        <p class="uk-margin-remove"  ng-if="funcionesDte.documentoInfo.medio == 'OT'">Otro</p>
                                    </div>
                                </div>
                            </td>

                            <td style="border-bottom-style: none;">
                               <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-3-5 uk-width-small-4-5">
                                        <h4 class="heading_a uk-margin-small-bottom">Comentario</h4>
                                        <p class="uk-margin-remove">{{ funcionesDte.documentoInfo.comentario}}</p>
                                    </div>
                                </div>
                            </td>                                               
                        </tr>

                        <tr>
                            <td style="border-bottom-style: none;">
                                
                            </td>

                            <td style="border-bottom-style: none;"></td>                                               
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <br />


       <div class="uk-grid">
            <div class="uk-width-1-2"></div>
            <div class="uk-width-1-2">
                <button class="uk-button uk-button-primary" style="float:right;" type="button" ng-disabled="!funcionesDte.tienePermiso" ng-click="funcionesDte.verFormularioActualizaInfoPago()">Actualizar información de pago</button>
            </div>
        </div>

    </div>
</div>

<!-- inicio modal formulario info pago-->
<div id="mdFormularioActualizaInfoPago" class="uk-modal" data-uk-modal="bgclose:false">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div align="right"><a class="uk-modal-close uk-close"></a></div>

        <div style="padding: 5px 0px 0px 37px;">
            <h3 class="heading_b uk-margin-bottom" style="color: #e4501e;">Actualizar información de pago</h3>
        </div>
        <div style="padding: 5px 0px 0px 37px;">
             <div class="uk-margin uk-grid-small uk-child-width-auto" ng-if="actualizandoInformacion">
                        <div class="uk-margin">
                            <i class="uk-icon-spinner uk-icon-medium uk-icon-spin" style="font-size: 22px"></i> Cargando información...
                        </div>
            </div>
        </div>

        <!--<div style="cursor: pointer; float: right;" ng-click="verBitacoraComoLista =! verBitacoraComoLista">Ver como <span ng-if="!verBitacoraComoLista">lista</span> <span ng-if="verBitacoraComoLista">linea de tiempo</span></div>-->

        <!-- inicio popup formulario -->

        <!-- fin popup formulario -->

        <!-- inicio info pago -->
        <div class="md-card">
            <div class="md-card-content">
                <table class="uk-table uk-table-nowrap">
                    <tbody>
                        <tr>
                            <td style="border-bottom-style: none;">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="material-icons">&#xE873;</i></span>
                                    <label for="tipo">Tipo</label>
                                    <selectize id="documentoInfo.tipo" config="config.selectize" options="config.grupoTipos" position="bottom" ng-model="documentoInfo.tipo"></selectize>
                                </div>
                            </td>

                            <td style="border-bottom-style: none;">
                                <div class="uk-input-group">
                                <span class="uk-input-group-addon"><i class="material-icons">&#xE8B0;</i></span>
                                <label for="monto">Monto</label>
                                <input type="text" class="md-input" ng-model="documentoInfo.monto" style="width:300px;">
                            </div>
                            </td>                                    
                        </tr>

                        <tr>
                            <td style="border-bottom-style: none;">
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-2">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                            <label for="fecha_actualizacion_desde">Fecha</label>
                                            <input class="md-input" type="text" id="fecha_actualizacion_desde" md-input ng-model="documentoInfo.fecha" data-uk-datepicker="{weekstart:0, format:'YYYY-MM-DD', i18n: { months:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], weekdays: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa']}}" />
                                        </div>
                                    </div>
    
                                </div>
                            </td>

                            <td style="border-bottom-style: none;">
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon"><i class="material-icons">&#xE8B0;</i></span>
                                        <label for="lugar">Lugar</label>
                                        <input class="md-input" ng-model="documentoInfo.lugar" style="width:300px;">
                                    </div>
                                </div>
                            </td>                                          
                        </tr>

                        <tr>
                            <td style="border-bottom-style: none;">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="material-icons">&#xE873;</i></span>
                                    <label for="medio">Medio</label>
                                    <selectize id="documentoInfo.medio" config="config.selectize" options="config.grupoMedios" position="bottom" ng-model="documentoInfo.medio"></selectize>

                                </div>
                            </td>

                            <td style="border-bottom-style: none;">
                                <div class="uk-input-group">
                                        <span class="uk-input-group-addon"><i class="material-icons">&#xE8B0;</i></span>
                                        <label for="comentario">Comentario</label>
                                        <input class="md-input" ng-model="documentoInfo.comentario" style="width:300px;">
                                    </div>
                            </td>                                               
                        </tr>

                        <tr>
                            <td style="border-bottom-style: none;">
                                
                            </td>

                            <td style="border-bottom-style: none;"></td>                                               
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <br />


       <div class="uk-grid">
            <div class="uk-width-1-2"></div>
            <div class="uk-width-1-2">
                <button class="uk-button uk-button-primary" style="float:right;" type="button" ng-click="actualizarInformacionPago()">Actualizar información de pago</button>
            </div>
        </div>

    </div>
</div>


<!-- fin modal formulario comentarios—>
