<div id="mdPDF" class="uk-modal" align="center">
    <br />

    <div class="md-panel-content" style="width: {{ pdfSize.width + 10}}px; height: {{ pdfSize.height + 30}}px; background-color: white;">
        <div align="right"><a class="uk-modal-close uk-close"></a></div>

        <div id="md-card-content modificar_card" style="width: auto; margin: 0 auto;">
            <div class="">
                <iframe ng-repeat="url in url_pdf" width="{{ pdfSize.width}}px" height="{{ pdfSize.height}}px" ng-src="{{ getPdfUrl()}}"></iframe>
            </div>
        </div>
    </div>
</div>