<div id="mdXML" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div align="right"><a class="uk-modal-close uk-close"></a></div>

        <div id="codigo_wrapper">
            <pre id="codigo" class="prettyprint linenums"></pre>
        </div>

        <div align="center"><a ng-click="descargarXML()" class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" title="Descargar XML"><i class="material-icons">&#xE2C4;</i>Descargar</a></div>
    </div>
</div>